{
   "shapes" : {
      "com.amazonaws.marketplaceagreement#AWSAccountId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^[0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AWSMPCommerceService_v20200301" : {
         "operations" : [
            {
               "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementCancellationRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementPaymentRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#CancelAgreement"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#CancelAgreementCancellationRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#CancelAgreementPaymentRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#CreateAgreementRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#DescribeAgreement"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#GetAgreementCancellationRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#GetAgreementEntitlements"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#GetAgreementPaymentRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#GetAgreementTerms"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#GetBillingAdjustmentRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ListAgreementCancellationRequests"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ListAgreementCharges"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ListAgreementInvoiceLineItems"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ListAgreementPaymentRequests"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ListBillingAdjustmentRequests"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#RejectAgreementCancellationRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#RejectAgreementPaymentRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#SearchAgreements"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#SendAgreementCancellationRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#SendAgreementPaymentRequest"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#UpdatePurchaseOrders"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "endpointPrefix" : "agreement-marketplace",
               "sdkId" : "Marketplace Agreement"
            },
            "aws.auth#sigv4" : {
               "name" : "aws-marketplace"
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<p>AWS Marketplace is a curated digital catalog that customers can use to find, buy, deploy, and manage third-party software, data, and services to build solutions and run their businesses. The AWS Marketplace Agreement Service provides an API interface that helps AWS Marketplace sellers and buyers manage their product-related agreements, including listing, searching, creating, and filtering agreements.</p> <p>To manage agreements in AWS Marketplace, you must ensure that your AWS Identity and Access Management (IAM) policies and roles are set up. The user must have the required policies/permissions that allow them to carry out the actions in AWS:</p> <ul> <li> <p> <code>DescribeAgreement</code> – Grants permission to users to obtain detailed meta data about any of their agreements.</p> </li> <li> <p> <code>GetAgreementTerms</code> – Grants permission to users to obtain details about the terms of an agreement.</p> </li> <li> <p> <code>SearchAgreements</code> – Grants permission to users to search through all their agreements.</p> </li> </ul>",
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            },
            "smithy.api#title" : "AWS Marketplace Agreement Service",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://agreement-marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://agreement-marketplace-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://agreement-marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://agreement-marketplace.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://agreement-marketplace.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-03-01"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementCancellationRequest" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplaceagreement#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ConflictException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#InternalServerException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementCancellationRequestInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementCancellationRequestOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Allows buyers (acceptors) to accept a cancellation request that is in <code>PENDING_APPROVAL</code> status. Once accepted, the cancellation request transitions to <code>APPROVED</code> status and the agreement cancellation will be processed.</p> <note> <p>Only cancellation requests in <code>PENDING_APPROVAL</code> status can be accepted. A <code>ConflictException</code> is thrown if the cancellation request is in any other status.</p> </note>"
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementCancellationRequestInput" : {
         "members" : {
            "agreementCancellationRequestId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the cancellation request to accept.</p>",
                  "smithy.api#required" : {}
               }
            },
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement associated with the cancellation request.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementCancellationRequestOutput" : {
         "members" : {
            "agreementCancellationRequestId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the accepted cancellation request.</p>"
               }
            },
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement associated with this cancellation request.</p>"
               }
            },
            "createdAt" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the cancellation request was originally created.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The detailed description of the cancellation reason, if provided.</p>"
               }
            },
            "reasonCode" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestReasonCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The original reason code provided when the cancellation request was created.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The updated status of the cancellation request, which is <code>APPROVED</code>.</p>"
               }
            },
            "updatedAt" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the cancellation request was accepted.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementPaymentRequest" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplaceagreement#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ConflictException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#InternalServerException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementPaymentRequestInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementPaymentRequestOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Allows buyers (acceptors) to accept a payment request that is in <code>PENDING_APPROVAL</code> status. Once accepted, the payment request transitions to <code>APPROVED</code> status and the charge will be processed. Buyers can optionally provide a purchase order reference for their internal tracking.</p> <note> <p>Only payment requests in <code>PENDING_APPROVAL</code> status can be accepted. A <code>ConflictException</code> is thrown if the payment request is in any other status.</p> </note>"
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementPaymentRequestInput" : {
         "members" : {
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement associated with the payment request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "paymentRequestId" : {
               "target" : "com.amazonaws.marketplaceagreement#PaymentRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the payment request to accept.</p>",
                  "smithy.api#required" : {}
               }
            },
            "purchaseOrderReference" : {
               "target" : "com.amazonaws.marketplaceagreement#PurchaseOrderReference",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional purchase order reference that buyers can provide to associate the payment request with their internal purchase order system.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementPaymentRequestOutput" : {
         "members" : {
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement associated with this payment request.</p>"
               }
            },
            "chargeAmount" : {
               "target" : "com.amazonaws.marketplaceagreement#PositiveAmountUpto8Decimals",
               "traits" : {
                  "smithy.api#documentation" : "<p>The amount that was approved to be charged.</p>"
               }
            },
            "createdAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the payment request was originally created.</p>"
               }
            },
            "currencyCode" : {
               "target" : "com.amazonaws.marketplaceagreement#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The currency code for the charge amount.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.marketplaceagreement#PaymentRequestDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The detailed description of the payment request, if provided.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.marketplaceagreement#PaymentRequestName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The descriptive name of the payment request.</p>"
               }
            },
            "paymentRequestId" : {
               "target" : "com.amazonaws.marketplaceagreement#PaymentRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the accepted payment request.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.marketplaceagreement#PaymentRequestStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The updated status of the payment request, which is <code>APPROVED</code>.</p>"
               }
            },
            "updatedAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the payment request was accepted.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementRequest" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplaceagreement#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ConflictException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#InternalServerException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementRequestInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplaceagreement#AcceptAgreementRequestOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Accepts an agreement request to finalize the agreement. The acceptor can optionally provide purchase orders to associate with the agreement charges.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementRequestInput" : {
         "members" : {
            "agreementRequestId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "purchaseOrders" : {
               "target" : "com.amazonaws.marketplaceagreement#PurchaseOrders",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of purchase orders associated with accepting a marketplace agreement request.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AcceptAgreementRequestOutput" : {
         "members" : {
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement created or modified by accepting the agreement request.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AcceptedTerm" : {
         "members" : {
            "byolPricingTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#ByolPricingTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>"
               }
            },
            "configurableUpfrontPricingTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#ConfigurableUpfrontPricingTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines a prepaid payment model that allows buyers to configure the entitlements they want to purchase and the duration.</p>"
               }
            },
            "fixedUpfrontPricingTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#FixedUpfrontPricingTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines a pre-paid pricing model where the customers are charged a fixed upfront amount.</p>"
               }
            },
            "freeTrialPricingTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#FreeTrialPricingTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines a short-term free pricing model where the buyers aren’t charged anything within a specified limit.</p>"
               }
            },
            "legalTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#LegalTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the list of text agreements proposed to the acceptors. An example is the end user license agreement (EULA).</p>"
               }
            },
            "paymentScheduleTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#PaymentScheduleTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines an installment-based pricing model where customers are charged a fixed price on different dates during the agreement validity period. This is used most commonly for flexible payment schedule pricing.</p>"
               }
            },
            "recurringPaymentTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#RecurringPaymentTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines a pricing model where customers are charged a fixed recurring price at the end of each billing period.</p>"
               }
            },
            "renewalTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#RenewalTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines that on graceful expiration of the agreement (when the agreement ends on its pre-defined end date), a new agreement will be created using the accepted terms on the existing agreement. In other words, the agreement will be renewed. Presence of <code>RenewalTerm</code> in the offer document means that auto-renewal is allowed. Buyers will have the option to accept or decline auto-renewal at the offer acceptance/agreement creation. Buyers can also change this flag from <code>True</code> to <code>False</code> or <code>False</code> to <code>True</code> at anytime during the agreement's lifecycle.</p>"
               }
            },
            "supportTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#SupportTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the customer support available for the acceptors when they purchase the software.</p>"
               }
            },
            "usageBasedPricingTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#UsageBasedPricingTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines a usage-based pricing model (typically, pay-as-you-go pricing), where the customers are charged based on product usage.</p>"
               }
            },
            "validityTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#ValidityTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the conditions that will keep an agreement created from this offer valid.</p>"
               }
            },
            "variablePaymentTerm" : {
               "target" : "com.amazonaws.marketplaceagreement#VariablePaymentTerm",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines a payment model where sellers can submit variable payment requests up to a maximum charge amount, with configurable approval strategies and expiration timelines.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A subset of terms proposed by the proposer, which have been accepted by the acceptor as part of agreement creation.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.marketplaceagreement#AcceptedTermList" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#AcceptedTerm"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#Acceptor" : {
         "members" : {
            "accountId" : {
               "target" : "com.amazonaws.marketplaceagreement#AWSAccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The AWS account ID of the acceptor.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The details of the party accepting the agreement terms. This is commonly the buyer for <code>PurchaseAgreement</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.marketplaceagreement#ExceptionMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>Description of the error.</p>"
               }
            },
            "reason" : {
               "target" : "com.amazonaws.marketplaceagreement#AccessDeniedExceptionReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason for the access denied exception.</p>"
               }
            },
            "requestId" : {
               "target" : "com.amazonaws.marketplaceagreement#RequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the error.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>User does not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AccessDeniedExceptionReason" : {
         "members" : {
            "DENIED_BY_PRIVATE_MARKETPLACE_POLICY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DENIED_BY_PRIVATE_MARKETPLACE_POLICY"
               }
            },
            "FAILED_KYC_COMPLIANCE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED_KYC_COMPLIANCE"
               }
            },
            "INVALID_ACCESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INVALID_ACCESS"
               }
            },
            "INVALID_ACCOUNT_STATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INVALID_ACCOUNT_STATE"
               }
            },
            "MISSING_MFA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MISSING_MFA"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestCancellationReason" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestDescription" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^acr-[a-zA-Z0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestReasonCode" : {
         "members" : {
            "ALTERNATIVE_PROCUREMENT_CHANNEL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ALTERNATIVE_PROCUREMENT_CHANNEL"
               }
            },
            "BUYER_DISSATISFACTION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BUYER_DISSATISFACTION"
               }
            },
            "INCORRECT_TERMS_ACCEPTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INCORRECT_TERMS_ACCEPTED"
               }
            },
            "OTHER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OTHER"
               }
            },
            "PRODUCT_DISCONTINUED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PRODUCT_DISCONTINUED"
               }
            },
            "REPLACING_AGREEMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REPLACING_AGREEMENT"
               }
            },
            "TEST_AGREEMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TEST_AGREEMENT"
               }
            },
            "UNINTENDED_RENEWAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNINTENDED_RENEWAL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestRejectionReason" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatus" : {
         "members" : {
            "APPROVED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "APPROVED"
               }
            },
            "CANCELLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CANCELLED"
               }
            },
            "PENDING_APPROVAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING_APPROVAL"
               }
            },
            "REJECTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REJECTED"
               }
            },
            "VALIDATION_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VALIDATION_FAILED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatusMessage" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestSummary" : {
         "members" : {
            "agreementCancellationRequestId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the cancellation request.</p>"
               }
            },
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement associated with this cancellation request.</p>"
               }
            },
            "agreementType" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of agreement.</p>"
               }
            },
            "catalog" : {
               "target" : "com.amazonaws.marketplaceagreement#Catalog",
               "traits" : {
                  "smithy.api#documentation" : "<p>The catalog in which the agreement was created.</p>"
               }
            },
            "createdAt" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the cancellation request was created.</p>"
               }
            },
            "reasonCode" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestReasonCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason code provided for the cancellation.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the cancellation request. Possible values include <code>PENDING_APPROVAL</code>, <code>APPROVED</code>, <code>REJECTED</code>, <code>CANCELLED</code>, and <code>VALIDATION_FAILED</code>.</p>"
               }
            },
            "updatedAt" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the cancellation request was last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary view of an agreement cancellation request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AgreementCancellationRequestSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#AgreementCancellationRequestSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#AgreementEntitlement" : {
         "members" : {
            "licenseArn" : {
               "target" : "com.amazonaws.marketplaceagreement#AwsArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the AWS License Manager license associated with the entitlement.</p>"
               }
            },
            "registrationToken" : {
               "target" : "com.amazonaws.marketplaceagreement#RegistrationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A short-lived token required by acceptors to register their account with the product provider. The token is only valid for 30 minutes after creation and is only applicable for purchase agreements.</p>"
               }
            },
            "resource" : {
               "target" : "com.amazonaws.marketplaceagreement#Resource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource that the entitlement is provisioned to, such as a product.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementEntitlementStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of an entitlement.</p>"
               }
            },
            "statusReasonCode" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementEntitlementStatusReasonCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides more information about the status of an entitlement.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.marketplaceagreement#EntitlementType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of entitlement.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents an entitlement associated with an agreement, including the provisioning status, resource, and type.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AgreementEntitlementList" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#AgreementEntitlement"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#AgreementEntitlementStatus" : {
         "members" : {
            "DEPROVISIONED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEPROVISIONED"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "PENDING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING"
               }
            },
            "PROVISIONED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PROVISIONED"
               }
            },
            "SCHEDULED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SCHEDULED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#AgreementEntitlementStatusReasonCode" : {
         "members" : {
            "ACCOUNT_SUSPENDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACCOUNT_SUSPENDED"
               }
            },
            "AGREEMENT_ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AGREEMENT_ACTIVE"
               }
            },
            "AGREEMENT_INACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AGREEMENT_INACTIVE"
               }
            },
            "FUTURE_START_DATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FUTURE_START_DATE"
               }
            },
            "INCOMPATIBLE_CURRENCY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INCOMPATIBLE_CURRENCY"
               }
            },
            "INVALID_PAYMENT_INSTRUMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INVALID_PAYMENT_INSTRUMENT"
               }
            },
            "PRODUCT_RESTRICTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PRODUCT_RESTRICTED"
               }
            },
            "PROVISIONING_IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PROVISIONING_IN_PROGRESS"
               }
            },
            "UNSUPPORTED_OPERATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNSUPPORTED_OPERATION"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#AgreementId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Za-z0-9_/-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementInvoiceLineItemGroupSummaries" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#AgreementInvoiceLineItemGroupSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#AgreementInvoiceLineItemGroupSummary" : {
         "members" : {
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement.</p>"
               }
            },
            "invoiceBillingPeriod" : {
               "target" : "com.amazonaws.marketplaceagreement#InvoiceBillingPeriod",
               "traits" : {
                  "smithy.api#documentation" : "<p>The billing period associated with this group.</p>"
               }
            },
            "invoiceId" : {
               "target" : "com.amazonaws.marketplaceagreement#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the invoice for this group.</p>"
               }
            },
            "invoiceType" : {
               "target" : "com.amazonaws.marketplaceagreement#InvoiceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of invoice. Valid values are <code>INVOICE</code> and <code>CREDIT_MEMO</code>.</p>"
               }
            },
            "invoicingEntity" : {
               "target" : "com.amazonaws.marketplaceagreement#InvoicingEntity",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity that issues the invoice.</p>"
               }
            },
            "issuedTime" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the invoice containing this group was created.</p>"
               }
            },
            "pricingCurrencyAmount" : {
               "target" : "com.amazonaws.marketplaceagreement#PricingCurrencyAmount",
               "traits" : {
                  "smithy.api#documentation" : "<p>Monetary amounts for this invoice group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A summary of grouped billing data for an agreement invoice line item.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AgreementProposalId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^(at-|ap-)[A-Za-z0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementRequestId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^ar-[A-Za-z0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementResourceType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "ARCHIVED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ARCHIVED"
               }
            },
            "CANCELLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CANCELLED"
               }
            },
            "EXPIRED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EXPIRED"
               }
            },
            "RENEWED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RENEWED"
               }
            },
            "REPLACED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REPLACED"
               }
            },
            "ROLLED_BACK" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ROLLED_BACK"
               }
            },
            "SUPERSEDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SUPERSEDED"
               }
            },
            "TERMINATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TERMINATED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#AgreementType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Za-z]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#AgreementViewSummary" : {
         "members" : {
            "acceptanceTime" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time that the agreement was accepted.</p>"
               }
            },
            "acceptor" : {
               "target" : "com.amazonaws.marketplaceagreement#Acceptor",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details of the party accepting the agreement terms. This is commonly the buyer for <code>PurchaseAgreement.</code> </p>"
               }
            },
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement.</p>"
               }
            },
            "agreementType" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of agreement.</p>"
               }
            },
            "endTime" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the agreement ends. The field is <code>null</code> for pay-as-you-go agreements, which don’t have end dates.</p>"
               }
            },
            "proposalSummary" : {
               "target" : "com.amazonaws.marketplaceagreement#ProposalSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>A summary of the proposal</p>"
               }
            },
            "proposer" : {
               "target" : "com.amazonaws.marketplaceagreement#Proposer",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details of the party proposing the agreement terms, most commonly the seller for <code>PurchaseAgreement</code>.</p>"
               }
            },
            "startTime" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the agreement starts.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the agreement. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A summary of the agreement, including top-level attributes (for example, the agreement ID, proposer, and acceptor).</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#AgreementViewSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#AgreementViewSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#AwsArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws[a-zA-Z-]*:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentError" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.marketplaceagreement#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The client token of the request entry that failed.</p>",
                  "smithy.api#required" : {}
               }
            },
            "code" : {
               "target" : "com.amazonaws.marketplaceagreement#BillingAdjustmentErrorCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error code indicating the reason for failure.</p>",
                  "smithy.api#required" : {}
               }
            },
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable message describing the error.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An error for a billing adjustment request entry that failed validation.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentErrorList" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentError"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentItem" : {
         "members" : {
            "billingAdjustmentRequestId" : {
               "target" : "com.amazonaws.marketplaceagreement#BillingAdjustmentRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the created billing adjustment request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.marketplaceagreement#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The client token provided in the corresponding request entry.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A successfully created billing adjustment request item.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentItemList" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentItem"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequest" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplaceagreement#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ConflictException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#InternalServerException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Allows sellers (proposers) to submit billing adjustment requests for one or more invoices within an agreement. Each entry in the batch specifies an invoice and the adjustment amount. The operation returns successfully created adjustment request IDs and any errors for entries that failed to process.</p> <note> <p>Each entry requires a unique <code>clientToken</code> for idempotency.</p> </note>"
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestEntry" : {
         "members" : {
            "adjustmentAmount" : {
               "target" : "com.amazonaws.marketplaceagreement#PositiveAmountUpto8Decimals",
               "traits" : {
                  "smithy.api#documentation" : "<p>The adjustment amount as a string representation of a decimal number in the currency of the invoice.</p>",
                  "smithy.api#required" : {}
               }
            },
            "adjustmentReasonCode" : {
               "target" : "com.amazonaws.marketplaceagreement#BillingAdjustmentReasonCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason code for the billing adjustment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement associated with the invoice.</p>",
                  "smithy.api#required" : {}
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.marketplaceagreement#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "currencyCode" : {
               "target" : "com.amazonaws.marketplaceagreement#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The 3-letter ISO 4217 currency code for the adjustment amount. Must match the currency code of the offer associated with the agreement (e.g., <code>USD</code>).</p>",
                  "smithy.api#required" : {}
               }
            },
            "description" : {
               "target" : "com.amazonaws.marketplaceagreement#BillingAdjustmentDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional detailed description of the adjustment reason.</p>"
               }
            },
            "originalInvoiceId" : {
               "target" : "com.amazonaws.marketplaceagreement#InvoiceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the original invoice to adjust.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An individual entry in a batch billing adjustment request, specifying the invoice and adjustment details.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestEntryList" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestEntry"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestInput" : {
         "members" : {
            "billingAdjustmentRequestEntries" : {
               "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestEntryList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of billing adjustment request entries. Each entry specifies the invoice and adjustment details.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentRequestOutput" : {
         "members" : {
            "errors" : {
               "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentErrorList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of errors for entries that failed validation, each containing the <code>clientToken</code>, error <code>code</code>, and <code>message</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "items" : {
               "target" : "com.amazonaws.marketplaceagreement#BatchCreateBillingAdjustmentItemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of successfully created billing adjustment items, each containing the <code>billingAdjustmentRequestId</code> and <code>clientToken</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#BillingAdjustmentDescription" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#BillingAdjustmentErrorCode" : {
         "members" : {
            "CONFLICT_EXCEPTION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONFLICT_EXCEPTION"
               }
            },
            "INTERNAL_FAILURE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INTERNAL_FAILURE"
               }
            },
            "RESOURCE_NOT_FOUND_EXCEPTION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RESOURCE_NOT_FOUND_EXCEPTION"
               }
            },
            "VALIDATION_EXCEPTION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VALIDATION_EXCEPTION"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#BillingAdjustmentReasonCode" : {
         "members" : {
            "ALTERNATIVE_PROCUREMENT_CHANNEL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ALTERNATIVE_PROCUREMENT_CHANNEL"
               }
            },
            "BUYER_DISSATISFACTION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BUYER_DISSATISFACTION"
               }
            },
            "INCORRECT_METERING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INCORRECT_METERING"
               }
            },
            "INCORRECT_TERMS_ACCEPTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INCORRECT_TERMS_ACCEPTED"
               }
            },
            "OTHER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OTHER"
               }
            },
            "TEST_ENVIRONMENT_CHARGES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TEST_ENVIRONMENT_CHARGES"
               }
            },
            "UNINTENDED_RENEWAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNINTENDED_RENEWAL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#BillingAdjustmentRequestId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^ba-[a-zA-Z0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#BillingAdjustmentStatus" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COMPLETED"
               }
            },
            "PENDING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING"
               }
            },
            "VALIDATION_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VALIDATION_FAILED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplaceagreement#BillingAdjustmentStatusMessage" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500
            }
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#BillingAdjustmentSummary" : {
         "members" : {
            "adjustmentAmount" : {
               "target" : "com.amazonaws.marketplaceagreement#PositiveAmountUpto8Decimals",
               "traits" : {
                  "smithy.api#documentation" : "<p>The adjustment amount as a string representation of a decimal number.</p>",
                  "smithy.api#required" : {}
               }
            },
            "agreementId" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the agreement associated with this billing adjustment request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "agreementType" : {
               "target" : "com.amazonaws.marketplaceagreement#AgreementType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of agreement.</p>",
                  "smithy.api#required" : {}
               }
            },
            "billingAdjustmentRequestId" : {
               "target" : "com.amazonaws.marketplaceagreement#BillingAdjustmentRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the billing adjustment request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "catalog" : {
               "target" : "com.amazonaws.marketplaceagreement#Catalog",
               "traits" : {
                  "smithy.api#documentation" : "<p>The catalog in which the agreement was created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "createdAt" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the billing adjustment request was created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "currencyCode" : {
               "target" : "com.amazonaws.marketplaceagreement#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The currency code for the adjustment amount.</p>",
                  "smithy.api#required" : {}
               }
            },
            "originalInvoiceId" : {
               "target" : "com.amazonaws.marketplaceagreement#InvoiceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the original invoice being adjusted.</p>",
                  "smithy.api#required" : {}
               }
            },
            "status" : {
               "target" : "com.amazonaws.marketplaceagreement#BillingAdjustmentStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the billing adjustment request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "updatedAt" : {
               "target" : "com.amazonaws.marketplaceagreement#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the billing adjustment request was last updated.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary view of a billing adjustment request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#BillingAdjustmentSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.marketplaceagreement#BillingAdjustmentSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplaceagreement#Boolean" : {
         "type" : "boolean"
      },
      "com.amazonaws.marketplaceagreement#BoundedString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 4096,
               "min" : 1
            },
            "smithy.api#pattern" : "^(.)+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplaceagreement#ByolPricingTerm" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.marketplaceagreement#TermId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the term.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.marketplaceagreement#UnversionedTermType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of the term being updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Enables you and your customers to move your existing agreements to AWS Marketplace. The customer won't be charged for product usage in AWS Marketplace because they already paid for the product outside of AWS Marketplace.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplaceagreement#CancelAgreement" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplaceagreement#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ConflictException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#InternalServerException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplaceagreement#CancelAgreementInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplaceagreement#CancelAgreementOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Allows an acceptor to cancel an active agreement. Not all agreements are eligible for cancellation. Use the error response to determine why a cancellation request was rejected.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplaceagreement#CancelAgreementCancellationRequest" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplaceagreement#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ConflictException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#InternalServerException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplaceagreement#ValidationException"
            }
         ],
         "input" : {
[...]
