{
   "shapes" : {
      "com.amazonaws.migrationhuborchestrator#AWSMigrationHubOrchestrator" : {
         "operations" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#TagResource"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#UntagResource"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflow"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowTemplate"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#Plugin"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateStep"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateStepGroup"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateStepGroups"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#WorkflowStep"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#WorkflowStepGroup"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "migrationhub-orchestrator",
               "cloudTrailEventSource" : "migrationhub-orchestrator.amazonaws.com",
               "endpointPrefix" : "migrationhub-orchestrator",
               "sdkId" : "MigrationHubOrchestrator"
            },
            "aws.auth#sigv4" : {
               "name" : "migrationhub-orchestrator"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#cors" : {
               "additionalAllowedHeaders" : [
                  "*",
                  "Authorization",
                  "Date",
                  "X-Amz-Date",
                  "X-Amz-Security-Token",
                  "X-Amz-Target",
                  "content-type",
                  "x-amz-content-sha256",
                  "x-amz-user-agent",
                  "x-amzn-platform-id",
                  "x-amzn-trace-id"
               ],
               "additionalExposedHeaders" : [
                  "x-amzn-errortype",
                  "x-amzn-requestid",
                  "x-amzn-errormessage",
                  "x-amzn-trace-id",
                  "x-amzn-requestid",
                  "x-amz-apigw-id",
                  "date"
               ]
            },
            "smithy.api#documentation" : "<p>This API reference provides descriptions, syntax, and other details about each of the\n            actions and data types for AWS Migration Hub Orchestrator. The topic for each action shows the API\n            request parameters and responses. Alternatively, you can use one of the AWS SDKs to\n            access an API that is tailored to the programming language or platform that you're\n            using.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            },
            "smithy.api#title" : "AWS Migration Hub Orchestrator",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://migrationhub-orchestrator-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://migrationhub-orchestrator-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://migrationhub-orchestrator.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://migrationhub-orchestrator.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-orchestrator.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2021-08-28"
      },
      "com.amazonaws.migrationhuborchestrator#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403,
            "smithy.api#retryable" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#ApplicationConfigurationName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            },
            "smithy.api#pattern" : "^[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhuborchestrator#ClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[-a-zA-Z0-9]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhuborchestrator#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This exception is thrown when an attempt to update or delete\n            a resource would cause an inconsistent state.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409,
            "smithy.api#retryable" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#CreateMigrationWorkflowRequest" : {
         "members" : {
            "applicationConfigurationId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration ID of the application configured in Application Discovery Service.</p>",
                  "smithy.api#length" : {
                     "max" : 100,
                     "min" : 0
                  },
                  "smithy.api#pattern" : "^[-a-zA-Z0-9_.+]*$"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the migration workflow.</p>",
                  "smithy.api#length" : {
                     "max" : 500,
                     "min" : 0
                  },
                  "smithy.api#pattern" : "^[-a-zA-Z0-9_.+, ]*$"
               }
            },
            "inputParameters" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepInputParameters",
               "traits" : {
                  "smithy.api#documentation" : "<p>The input parameters required to create a migration workflow.</p>",
                  "smithy.api#required" : {}
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the migration workflow.</p>",
                  "smithy.api#length" : {
                     "max" : 100,
                     "min" : 1
                  },
                  "smithy.api#pattern" : "^[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*$",
                  "smithy.api#required" : {}
               }
            },
            "stepTargets" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The servers on which a step will be run.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags to add on a migration workflow.</p>"
               }
            },
            "templateId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>",
                  "smithy.api#length" : {
                     "max" : 100,
                     "min" : 1
                  },
                  "smithy.api#pattern" : "^[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*$",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#CreateMigrationWorkflowResponse" : {
         "members" : {
            "adsApplicationConfigurationId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration ID of the application configured in Application Discovery Service.</p>"
               }
            },
            "arn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>"
               }
            },
            "creationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the migration workflow was created.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the migration workflow.</p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the migration workflow.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowStatusEnum",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the migration workflow.</p>"
               }
            },
            "stepTargets" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The servers on which a step will be run.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags to add on a migration workflow.</p>"
               }
            },
            "templateId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>"
               }
            },
            "workflowInputs" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepInputParameters",
               "traits" : {
                  "smithy.api#documentation" : "<p>The inputs for creating a migration workflow.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#CreateTemplate" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ConflictException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#CreateTemplateRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#CreateTemplateResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a migration workflow template.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/template"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#CreateTemplateRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.migrationhuborchestrator#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. For more information, see <a href=\"https://smithy.io/2.0/spec/behavior-traits.html#idempotencytoken-trait\">Idempotency</a> in the Smithy documentation.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags to add to the migration workflow template.</p>"
               }
            },
            "templateDescription" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the migration workflow template.</p>",
                  "smithy.api#length" : {
                     "max" : 250,
                     "min" : 0
                  },
                  "smithy.api#pattern" : "^.*$"
               }
            },
            "templateName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the migration workflow template.</p>",
                  "smithy.api#length" : {
                     "max" : 128,
                     "min" : 1
                  },
                  "smithy.api#pattern" : "^[ a-zA-Z0-9]*$",
                  "smithy.api#required" : {}
               }
            },
            "templateSource" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateSource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source of the migration workflow template.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#CreateTemplateResponse" : {
         "members" : {
            "tags" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags added to the migration workflow template.</p>"
               }
            },
            "templateArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the migration workflow template. The format for an\n            Migration Hub Orchestrator template ARN is\n            <code>arn:aws:migrationhub-orchestrator:region:account:template/template-abcd1234</code>.\n            For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Names (ARNs)</a>\n            in the <i>AWS General Reference</i>.</p>"
               }
            },
            "templateId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow template.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#CreateWorkflow" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#CreateMigrationWorkflowRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#CreateMigrationWorkflowResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create a workflow to orchestrate your migrations.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/migrationworkflow/"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#CreateWorkflowStep" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create a step in the migration workflow.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/workflowstep"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create a step group in a migration workflow.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/workflowstepgroups"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroupRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the step group.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the step group.</p>",
                  "smithy.api#required" : {}
               }
            },
            "next" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next step group.</p>"
               }
            },
            "previous" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The previous step group.</p>"
               }
            },
            "workflowId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow that will contain the step group.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroupResponse" : {
         "members" : {
            "creationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step group is created.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the step group.</p>"
               }
            },
            "id" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the step group.</p>"
               }
            },
            "next" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next step group.</p>"
               }
            },
            "previous" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The previous step group.</p>"
               }
            },
            "tools" : {
               "target" : "com.amazonaws.migrationhuborchestrator#ToolsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of AWS services utilized in a migration workflow.</p>"
               }
            },
            "workflowId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow that contains the step group.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the step.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the step.</p>",
                  "smithy.api#required" : {}
               }
            },
            "next" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next step.</p>"
               }
            },
            "outputs" : {
               "target" : "com.amazonaws.migrationhuborchestrator#WorkflowStepOutputList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The key value pairs added for the expected output.</p>"
               }
            },
            "previous" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The previous step.</p>"
               }
            },
            "stepActionType" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepActionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The action type of the step. You must run and update the status of a manual step for\n            the workflow to continue after the completion of the step.</p>",
                  "smithy.api#required" : {}
               }
            },
            "stepGroupId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>",
                  "smithy.api#required" : {}
               }
            },
            "stepTarget" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The servers on which a step will be run.</p>"
               }
            },
            "workflowId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>",
                  "smithy.api#required" : {}
               }
            },
            "workflowStepAutomationConfiguration" : {
               "target" : "com.amazonaws.migrationhuborchestrator#WorkflowStepAutomationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The custom script to run tests on source or target environments.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepResponse" : {
         "members" : {
            "id" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the step.</p>"
               }
            },
            "stepGroupId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>"
               }
            },
            "workflowId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#DataType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "STRING",
                  "value" : "STRING"
               },
               {
                  "name" : "INTEGER",
                  "value" : "INTEGER"
               },
               {
                  "name" : "STRINGLIST",
                  "value" : "STRINGLIST"
               },
               {
                  "name" : "STRINGMAP",
                  "value" : "STRINGMAP"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteMigrationWorkflowRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow you want to delete.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteMigrationWorkflowResponse" : {
         "members" : {
            "arn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowStatusEnum",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the migration workflow.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteTemplate" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#DeleteTemplateRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#DeleteTemplateResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a migration workflow template.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/template/{id}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteTemplateRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the request to delete a migration workflow template.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteTemplateResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteWorkflow" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#DeleteMigrationWorkflowRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#DeleteMigrationWorkflowResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Delete a migration workflow. You must pause a running workflow in Migration Hub Orchestrator console to\n            delete it.</p>",
            "smithy.api#http" : {
               "code" : 202,
               "method" : "DELETE",
               "uri" : "/migrationworkflow/{id}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStep" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Delete a step in a migration workflow. Pause the workflow to delete a running\n            step.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/workflowstep/{id}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Delete a step group in a migration workflow.</p>",
            "smithy.api#http" : {
               "code" : 202,
               "method" : "DELETE",
               "uri" : "/workflowstepgroup/{id}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroupRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group you want to delete.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "workflowId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>",
                  "smithy.api#httpQuery" : "workflowId",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroupResponse" : {
         "members" : {},
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step you want to delete.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "stepGroupId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group that contains the step you want to delete.</p>",
                  "smithy.api#httpQuery" : "stepGroupId",
                  "smithy.api#required" : {}
               }
            },
            "workflowId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>",
                  "smithy.api#httpQuery" : "workflowId",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepResponse" : {
         "members" : {},
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowResponse" : {
         "members" : {
            "adsApplicationConfigurationId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration ID of the application configured in Application Discovery Service.</p>"
               }
            },
            "adsApplicationName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the application configured in Application Discovery Service.</p>"
               }
            },
            "arn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>"
               }
            },
            "completedSteps" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>Get a list of completed steps in the migration workflow.</p>"
               }
            },
            "creationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the migration workflow was created.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the migration workflow.</p>"
               }
            },
            "endTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the migration workflow ended.</p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>"
               }
            },
            "lastModifiedTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the migration workflow was last modified.</p>"
               }
            },
            "lastStartTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the migration workflow was last started.</p>"
               }
            },
            "lastStopTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the migration workflow was last stopped.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the migration workflow.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowStatusEnum",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the migration workflow.</p>"
               }
            },
            "statusMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status message of the migration workflow.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags added to the migration workflow.</p>"
               }
            },
            "templateId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>"
               }
            },
            "tools" : {
               "target" : "com.amazonaws.migrationhuborchestrator#ToolsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of AWS services utilized in a migration workflow.</p>"
               }
            },
            "totalSteps" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The total number of steps in the migration workflow.</p>"
               }
            },
            "workflowBucket" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon S3 bucket where the migration logs are stored.</p>"
               }
            },
            "workflowInputs" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepInputParameters",
               "traits" : {
                  "smithy.api#documentation" : "<p>The inputs required for creating the migration workflow.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowTemplateRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowTemplateResponse" : {
         "members" : {
            "creationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the template was last created.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the template was last created.</p>"
               }
            },
            "id" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>"
               }
            },
            "inputs" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateInputList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The inputs provided for the creation of the migration workflow.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the template.</p>"
               }
            },
            "owner" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The owner of the migration workflow template.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the template.</p>"
               }
            },
            "statusMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status message of retrieving migration workflow templates.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags added to the migration workflow template.</p>"
               }
            },
            "templateArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>&gt;The Amazon Resource Name (ARN) of the migration workflow template. The format for an\n            Migration Hub Orchestrator template ARN is\n            <code>arn:aws:migrationhub-orchestrator:region:account:template/template-abcd1234</code>.\n            For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference-arns.html\">Amazon Resource Names (ARNs)</a>\n            in the <i>AWS General Reference</i>.</p>"
               }
            },
            "templateClass" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The class of the migration workflow template. The available template classes\n            are:</p>\n         <ul>\n            <li>\n               <p>A2C</p>\n            </li>\n            <li>\n               <p>MGN</p>\n            </li>\n            <li>\n               <p>SAP_MULTI</p>\n            </li>\n            <li>\n               <p>SQL_EC2</p>\n            </li>\n            <li>\n               <p>SQL_RDS</p>\n            </li>\n            <li>\n               <p>VMIE</p>\n            </li>\n         </ul>"
               }
            },
            "tools" : {
               "target" : "com.amazonaws.migrationhuborchestrator#ToolsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of AWS services utilized in a migration workflow.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetTemplate" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowTemplateRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowTemplateResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get the template you want to use for creating a migration workflow.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/migrationworkflowtemplate/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#GetTemplateStep" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetTemplateStepRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetTemplateStepResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get a specific step in a template.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/templatestep/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get a step group in a template.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/templates/{templateId}/stepgroups/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroupRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "templateId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroupResponse" : {
         "members" : {
            "creationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step group was created.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the step group.</p>"
               }
            },
            "id" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>"
               }
            },
            "lastModifiedTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step group was last modified.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the step group.</p>"
               }
            },
            "next" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next step group.</p>"
               }
            },
            "previous" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The previous step group.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the step group.</p>"
               }
            },
            "templateId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>"
               }
            },
            "tools" : {
               "target" : "com.amazonaws.migrationhuborchestrator#ToolsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of AWS services utilized in a migration workflow.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetTemplateStepRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "stepGroupId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>",
                  "smithy.api#httpQuery" : "stepGroupId",
                  "smithy.api#required" : {}
               }
            },
            "templateId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>",
                  "smithy.api#httpQuery" : "templateId",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetTemplateStepResponse" : {
         "members" : {
            "creationTime" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step was created.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the step.</p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the step.</p>"
               }
            },
            "next" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next step.</p>"
               }
            },
            "outputs" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepOutputList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The outputs of the step.</p>"
               }
            },
            "previous" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The previous step.</p>"
               }
            },
            "stepActionType" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepActionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The action type of the step. You must run and update the status of a manual step for\n            the workflow to continue after the completion of the step.</p>"
               }
            },
            "stepAutomationConfiguration" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepAutomationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The custom script to run tests on source or target environments.</p>"
               }
            },
            "stepGroupId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>"
               }
            },
            "templateId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#TemplateId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the template.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetWorkflow" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get migration workflow.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/migrationworkflow/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#GetWorkflowStep" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetWorkflowStepRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetWorkflowStepResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get a step in the migration workflow.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/workflowstep/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhuborchestrator#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get the step group of a migration workflow.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/workflowstepgroup/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroupRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "workflowId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>",
                  "smithy.api#httpQuery" : "workflowId",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroupResponse" : {
         "members" : {
            "creationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step group was created.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the step group.</p>"
               }
            },
            "endTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step group ended.</p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>"
               }
            },
            "lastModifiedTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step group was last modified.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the step group.</p>"
               }
            },
            "next" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next step group.</p>"
               }
            },
            "owner" : {
               "target" : "com.amazonaws.migrationhuborchestrator#Owner",
               "traits" : {
                  "smithy.api#documentation" : "<p>The owner of the step group.</p>"
               }
            },
            "previous" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The previous step group.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the step group.</p>"
               }
            },
            "tools" : {
               "target" : "com.amazonaws.migrationhuborchestrator#ToolsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of AWS services utilized in a migration workflow.</p>"
               }
            },
            "workflowId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetWorkflowStepRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "stepGroupId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#StepGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the step group.</p>",
                  "smithy.api#httpQuery" : "stepGroupId",
                  "smithy.api#required" : {}
               }
            },
            "workflowId" : {
               "target" : "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the migration workflow.</p>",
                  "smithy.api#httpQuery" : "workflowId",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhuborchestrator#GetWorkflowStepResponse" : {
         "members" : {
            "creationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step was created.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the step.</p>"
               }
            },
            "endTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the step ended.</p>"
               }
            },
            "lastStartTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the workflow was last started.</p>"
               }
            },
            "name" : {
[...]
