{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.codeconnections#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codeconnections#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#AccountId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^[0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#AmazonResourceName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1011,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#BlockerStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "RESOLVED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RESOLVED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codeconnections#BlockerType" : {
         "members" : {
            "AUTOMATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AUTOMATED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codeconnections#BranchName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^.*$"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#CodeConnections_20231201" : {
         "operations" : [
            {
               "target" : "com.amazonaws.codeconnections#CreateConnection"
            },
            {
               "target" : "com.amazonaws.codeconnections#CreateHost"
            },
            {
               "target" : "com.amazonaws.codeconnections#CreateRepositoryLink"
            },
            {
               "target" : "com.amazonaws.codeconnections#CreateSyncConfiguration"
            },
            {
               "target" : "com.amazonaws.codeconnections#DeleteConnection"
            },
            {
               "target" : "com.amazonaws.codeconnections#DeleteHost"
            },
            {
               "target" : "com.amazonaws.codeconnections#DeleteRepositoryLink"
            },
            {
               "target" : "com.amazonaws.codeconnections#DeleteSyncConfiguration"
            },
            {
               "target" : "com.amazonaws.codeconnections#GetConnection"
            },
            {
               "target" : "com.amazonaws.codeconnections#GetHost"
            },
            {
               "target" : "com.amazonaws.codeconnections#GetRepositoryLink"
            },
            {
               "target" : "com.amazonaws.codeconnections#GetRepositorySyncStatus"
            },
            {
               "target" : "com.amazonaws.codeconnections#GetResourceSyncStatus"
            },
            {
               "target" : "com.amazonaws.codeconnections#GetSyncBlockerSummary"
            },
            {
               "target" : "com.amazonaws.codeconnections#GetSyncConfiguration"
            },
            {
               "target" : "com.amazonaws.codeconnections#ListConnections"
            },
            {
               "target" : "com.amazonaws.codeconnections#ListHosts"
            },
            {
               "target" : "com.amazonaws.codeconnections#ListRepositoryLinks"
            },
            {
               "target" : "com.amazonaws.codeconnections#ListRepositorySyncDefinitions"
            },
            {
               "target" : "com.amazonaws.codeconnections#ListSyncConfigurations"
            },
            {
               "target" : "com.amazonaws.codeconnections#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.codeconnections#TagResource"
            },
            {
               "target" : "com.amazonaws.codeconnections#UntagResource"
            },
            {
               "target" : "com.amazonaws.codeconnections#UpdateHost"
            },
            {
               "target" : "com.amazonaws.codeconnections#UpdateRepositoryLink"
            },
            {
               "target" : "com.amazonaws.codeconnections#UpdateSyncBlocker"
            },
            {
               "target" : "com.amazonaws.codeconnections#UpdateSyncConfiguration"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "codeconnections",
               "cloudFormationName" : "CodeConnections",
               "cloudTrailEventSource" : "codeconnections.amazonaws.com",
               "endpointPrefix" : "codeconnections",
               "sdkId" : "CodeConnections"
            },
            "aws.auth#sigv4" : {
               "name" : "codeconnections"
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<fullname>AWS CodeConnections</fullname>\n         <p>This Amazon Web Services CodeConnections API Reference provides descriptions and usage examples of\n      the operations and data types for the Amazon Web Services CodeConnections API. You can use the\n      connections API to work with connections and installations.</p>\n         <p>\n            <i>Connections</i> are configurations that you use to connect Amazon Web Services\n      resources to external code repositories. Each connection is a resource that can be given to\n      services such as CodePipeline to connect to a third-party repository such as Bitbucket. For\n      example, you can add the connection in CodePipeline so that it triggers your pipeline when a\n      code change is made to your third-party code repository. Each connection is named and\n      associated with a unique ARN that is used to reference the connection.</p>\n         <p>When you create a connection, the console initiates a third-party connection handshake.\n        <i>Installations</i> are the apps that are used to conduct this handshake. For\n      example, the installation for the Bitbucket provider type is the Bitbucket app. When you\n      create a connection, you can choose an existing installation or create one.</p>\n         <p>When you want to create a connection to an installed provider type such as GitHub\n      Enterprise Server, you create a <i>host</i> for your connections.</p>\n         <p>You can work with connections by calling:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateConnection</a>, which creates a uniquely named connection that can be\n          referenced by services such as CodePipeline.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteConnection</a>, which deletes the specified connection.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetConnection</a>, which returns information about the connection, including\n          the connection status.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListConnections</a>, which lists the connections associated with your\n          account.</p>\n            </li>\n         </ul>\n         <p>You can work with hosts by calling:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateHost</a>, which creates a host that represents the infrastructure where your provider is installed.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteHost</a>, which deletes the specified host.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetHost</a>, which returns information about the host, including\n          the setup status.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListHosts</a>, which lists the hosts associated with your\n          account.</p>\n            </li>\n         </ul>\n         <p>You can work with tags in Amazon Web Services CodeConnections by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListTagsForResource</a>, which gets information about Amazon Web Services tags for a\n          specified Amazon Resource Name (ARN) in Amazon Web Services CodeConnections.</p>\n            </li>\n            <li>\n               <p>\n                  <a>TagResource</a>, which adds or updates tags for a resource in Amazon Web Services CodeConnections.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UntagResource</a>, which removes tags for a resource in Amazon Web Services\n          CodeConnections.</p>\n            </li>\n         </ul>\n         <p>For information about how to use Amazon Web Services CodeConnections, see the <a href=\"https://docs.aws.amazon.com/dtconsole/latest/userguide/welcome-connections.html\">Developer\n        Tools User Guide</a>.</p>",
            "smithy.api#title" : "AWS CodeConnections",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://codeconnections-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://codeconnections-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://codeconnections.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://codeconnections.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeconnections.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2023-12-01"
      },
      "com.amazonaws.codeconnections#ConcurrentModificationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codeconnections#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#ConditionalCheckFailedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codeconnections#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The conditional check failed. Try again later.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codeconnections#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Two conflicting operations have been made on the same resource.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#Connection" : {
         "members" : {
            "ConnectionArn" : {
               "target" : "com.amazonaws.codeconnections#ConnectionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection\n      reference when the connection is shared between Amazon Web Services services.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>"
               }
            },
            "ConnectionName" : {
               "target" : "com.amazonaws.codeconnections#ConnectionName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the connection. Connection names must be unique in an Amazon Web Services account.</p>"
               }
            },
            "ConnectionStatus" : {
               "target" : "com.amazonaws.codeconnections#ConnectionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the connection. </p>"
               }
            },
            "HostArn" : {
               "target" : "com.amazonaws.codeconnections#HostArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>"
               }
            },
            "OwnerAccountId" : {
               "target" : "com.amazonaws.codeconnections#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the external provider where your third-party code repository is configured.\n      For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>"
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.codeconnections#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the external provider where your third-party code repository is\n      configured.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A resource that is used to connect third-party source providers with services like CodePipeline.</p>\n         <p>Note: A connection created through CloudFormation, the CLI, or the SDK is in `PENDING` status by default. You can make its status `AVAILABLE` by updating the \n      connection in the console.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#ConnectionArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#ConnectionList" : {
         "member" : {
            "target" : "com.amazonaws.codeconnections#Connection"
         },
         "type" : "list"
      },
      "com.amazonaws.codeconnections#ConnectionName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\s\\S]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#ConnectionStatus" : {
         "members" : {
            "AVAILABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AVAILABLE"
               }
            },
            "ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ERROR"
               }
            },
            "PENDING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codeconnections#CreateConnection" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceUnavailableException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#CreateConnectionInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#CreateConnectionOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a connection that can then be given to other Amazon Web Services services like CodePipeline so\n      that it can access third-party code repositories. The connection is in pending status until\n      the third-party connection handshake is completed from the console.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#CreateConnectionInput" : {
         "members" : {
            "ConnectionName" : {
               "target" : "com.amazonaws.codeconnections#ConnectionName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the connection to be created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "HostArn" : {
               "target" : "com.amazonaws.codeconnections#HostArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>"
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.codeconnections#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the external provider where your third-party code repository is\n      configured.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codeconnections#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The key-value pair to use when tagging the resource.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#CreateConnectionOutput" : {
         "members" : {
            "ConnectionArn" : {
               "target" : "com.amazonaws.codeconnections#ConnectionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the connection to be created. The ARN is used as the\n      connection reference when the connection is shared between Amazon Web Services services.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codeconnections#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the tags applied to the resource.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#CreateHost" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#LimitExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#CreateHostInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#CreateHostOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a resource that represents the infrastructure where a third-party provider is\n      installed. The host is used when you create connections to an installed third-party provider\n      type, such as GitHub Enterprise Server. You create one host for all connections to that\n      provider.</p>\n         <note>\n            <p>A host created through the CLI or the SDK is in `PENDING` status by\n        default. You can make its status `AVAILABLE` by setting up the host in the console.</p>\n         </note>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#CreateHostInput" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.codeconnections#HostName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the host to be created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ProviderEndpoint" : {
               "target" : "com.amazonaws.codeconnections#Url",
               "traits" : {
                  "smithy.api#documentation" : "<p>The endpoint of the infrastructure to be represented by the host after it is\n      created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.codeconnections#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the installed provider to be associated with your connection. The host\n      resource represents the infrastructure where your provider type is installed. The valid\n      provider type is GitHub Enterprise Server.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codeconnections#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags for the host to be created.</p>"
               }
            },
            "VpcConfiguration" : {
               "target" : "com.amazonaws.codeconnections#VpcConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The VPC configuration to be provisioned for the host. A VPC must be configured and the\n      infrastructure to be represented by the host must already be connected to the VPC.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#CreateHostOutput" : {
         "members" : {
            "HostArn" : {
               "target" : "com.amazonaws.codeconnections#HostArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the host to be created.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codeconnections#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags for the created host.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#CreateRepositoryLink" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceAlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#CreateRepositoryLinkInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#CreateRepositoryLinkOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a link to a specified external Git repository. A repository link allows Git sync to monitor and sync changes to files in a specified Git repository.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#CreateRepositoryLinkInput" : {
         "members" : {
            "ConnectionArn" : {
               "target" : "com.amazonaws.codeconnections#ConnectionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the connection to be associated with the repository link.</p>",
                  "smithy.api#required" : {}
               }
            },
            "EncryptionKeyArn" : {
               "target" : "com.amazonaws.codeconnections#KmsKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) encryption key for the repository to be associated with the repository link.</p>"
               }
            },
            "OwnerId" : {
               "target" : "com.amazonaws.codeconnections#OwnerId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The owner ID for the repository associated with a specific sync configuration, such as\n      the owner ID in GitHub.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RepositoryName" : {
               "target" : "com.amazonaws.codeconnections#RepositoryName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the repository to be associated with the repository link.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codeconnections#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags for the repository to be associated with the repository link.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#CreateRepositoryLinkOutput" : {
         "members" : {
            "RepositoryLinkInfo" : {
               "target" : "com.amazonaws.codeconnections#RepositoryLinkInfo",
               "traits" : {
                  "smithy.api#documentation" : "<p>The returned information about the created repository link.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#CreateSyncConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceAlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#CreateSyncConfigurationInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#CreateSyncConfigurationOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a sync configuration which allows Amazon Web Services to sync content from a Git\n      repository to update a specified Amazon Web Services resource. Parameters for the sync\n      configuration are determined by the sync type.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#CreateSyncConfigurationInput" : {
         "members" : {
            "Branch" : {
               "target" : "com.amazonaws.codeconnections#BranchName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The branch in the repository from which changes will be synced.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ConfigFile" : {
               "target" : "com.amazonaws.codeconnections#DeploymentFilePath",
               "traits" : {
                  "smithy.api#documentation" : "<p>The file name of the configuration file that manages syncing between the connection and the repository. This configuration file is stored in the repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "PublishDeploymentStatus" : {
               "target" : "com.amazonaws.codeconnections#PublishDeploymentStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether to enable or disable publishing of deployment status to source providers.</p>"
               }
            },
            "PullRequestComment" : {
               "target" : "com.amazonaws.codeconnections#PullRequestComment",
               "traits" : {
                  "smithy.api#documentation" : "<p>A toggle that specifies whether to enable or disable pull request comments for the sync configuration to be created.</p>"
               }
            },
            "RepositoryLinkId" : {
               "target" : "com.amazonaws.codeconnections#RepositoryLinkId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the repository link created for the connection. A repository link allows Git\n      sync to monitor and sync changes to files in a specified Git repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ResourceName" : {
               "target" : "com.amazonaws.codeconnections#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amazon Web Services resource (for example, a CloudFormation stack in the\n      case of CFN_STACK_SYNC) that will be synchronized from the linked repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.codeconnections#IamRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the IAM role that grants permission for Amazon Web Services to use Git sync to\n      update a given Amazon Web Services resource on your behalf.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SyncType" : {
               "target" : "com.amazonaws.codeconnections#SyncConfigurationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of sync configuration.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TriggerResourceUpdateOn" : {
               "target" : "com.amazonaws.codeconnections#TriggerResourceUpdateOn",
               "traits" : {
                  "smithy.api#documentation" : "<p>When to trigger Git sync to begin the stack update.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#CreateSyncConfigurationOutput" : {
         "members" : {
            "SyncConfiguration" : {
               "target" : "com.amazonaws.codeconnections#SyncConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The created sync configuration for the connection. A sync configuration allows Amazon Web Services to sync content from a Git repository to update a specified Amazon Web Services\n      resource. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#CreatedReason" : {
         "type" : "string"
      },
      "com.amazonaws.codeconnections#DeleteConnection" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#DeleteConnectionInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#DeleteConnectionOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The connection to be deleted.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#DeleteConnectionInput" : {
         "members" : {
            "ConnectionArn" : {
               "target" : "com.amazonaws.codeconnections#ConnectionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the connection to be deleted.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#DeleteConnectionOutput" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#DeleteHost" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceUnavailableException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#DeleteHostInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#DeleteHostOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The host to be deleted. Before you delete a host, all connections associated to the host must be deleted.</p>\n         <note>\n            <p>A host cannot be deleted if it is in the VPC_CONFIG_INITIALIZING or VPC_CONFIG_DELETING state.</p>\n         </note>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#DeleteHostInput" : {
         "members" : {
            "HostArn" : {
               "target" : "com.amazonaws.codeconnections#HostArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the host to be deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#DeleteHostOutput" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#DeleteRepositoryLink" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#SyncConfigurationStillExistsException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codeconnections#UnsupportedProviderTypeException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#DeleteRepositoryLinkInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#DeleteRepositoryLinkOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the association between your connection and a specified external Git repository.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#DeleteRepositoryLinkInput" : {
         "members" : {
            "RepositoryLinkId" : {
               "target" : "com.amazonaws.codeconnections#RepositoryLinkId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the repository link to be deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#DeleteRepositoryLinkOutput" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#DeleteSyncConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#DeleteSyncConfigurationInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#DeleteSyncConfigurationOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the sync configuration for a specified repository and connection.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#DeleteSyncConfigurationInput" : {
         "members" : {
            "ResourceName" : {
               "target" : "com.amazonaws.codeconnections#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amazon Web Services resource associated with the sync configuration to be\n      deleted.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SyncType" : {
               "target" : "com.amazonaws.codeconnections#SyncConfigurationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of sync configuration to be deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#DeleteSyncConfigurationOutput" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#DeploymentFilePath" : {
         "type" : "string"
      },
      "com.amazonaws.codeconnections#Directory" : {
         "type" : "string"
      },
      "com.amazonaws.codeconnections#ErrorMessage" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 600,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#Event" : {
         "type" : "string"
      },
      "com.amazonaws.codeconnections#ExternalId" : {
         "type" : "string"
      },
      "com.amazonaws.codeconnections#GetConnection" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceUnavailableException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#GetConnectionInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#GetConnectionOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the connection ARN and details such as status, owner, and provider type.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#GetConnectionInput" : {
         "members" : {
            "ConnectionArn" : {
               "target" : "com.amazonaws.codeconnections#ConnectionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of a connection.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetConnectionOutput" : {
         "members" : {
            "Connection" : {
               "target" : "com.amazonaws.codeconnections#Connection",
               "traits" : {
                  "smithy.api#documentation" : "<p>The connection details, such as status, owner, and provider type.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetHost" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceUnavailableException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#GetHostInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#GetHostOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the host ARN and details such as status, provider type, endpoint, and, if\n      applicable, the VPC configuration.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#GetHostInput" : {
         "members" : {
            "HostArn" : {
               "target" : "com.amazonaws.codeconnections#HostArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the requested host.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetHostOutput" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.codeconnections#HostName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the requested host.</p>"
               }
            },
            "ProviderEndpoint" : {
               "target" : "com.amazonaws.codeconnections#Url",
               "traits" : {
                  "smithy.api#documentation" : "<p>The endpoint of the infrastructure represented by the requested host.</p>"
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.codeconnections#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The provider type of the requested host, such as GitHub Enterprise Server.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.codeconnections#HostStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the requested host.</p>"
               }
            },
            "VpcConfiguration" : {
               "target" : "com.amazonaws.codeconnections#VpcConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The VPC configuration of the requested host.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetRepositoryLink" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#GetRepositoryLinkInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#GetRepositoryLinkOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns details about a repository link. A repository link allows Git sync to monitor\n      and sync changes from files in a specified Git repository.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#GetRepositoryLinkInput" : {
         "members" : {
            "RepositoryLinkId" : {
               "target" : "com.amazonaws.codeconnections#RepositoryLinkId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the repository link to get.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetRepositoryLinkOutput" : {
         "members" : {
            "RepositoryLinkInfo" : {
               "target" : "com.amazonaws.codeconnections#RepositoryLinkInfo",
               "traits" : {
                  "smithy.api#documentation" : "<p>The information returned for a specified repository link.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetRepositorySyncStatus" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#GetRepositorySyncStatusInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#GetRepositorySyncStatusOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns details about the sync status for a repository. A repository sync uses Git sync\n      to push and pull changes from your remote repository.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#GetRepositorySyncStatusInput" : {
         "members" : {
            "Branch" : {
               "target" : "com.amazonaws.codeconnections#BranchName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The branch of the repository link for the requested repository sync status.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RepositoryLinkId" : {
               "target" : "com.amazonaws.codeconnections#RepositoryLinkId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The repository link ID for the requested repository sync status.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SyncType" : {
               "target" : "com.amazonaws.codeconnections#SyncConfigurationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sync type of the requested sync status.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetRepositorySyncStatusOutput" : {
         "members" : {
            "LatestSync" : {
               "target" : "com.amazonaws.codeconnections#RepositorySyncAttempt",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the latest sync returned for a specified repository and branch.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetResourceSyncStatus" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#GetResourceSyncStatusInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#GetResourceSyncStatusOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the status of the sync with the Git repository for a specific Amazon Web Services\n      resource.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#GetResourceSyncStatusInput" : {
         "members" : {
            "ResourceName" : {
               "target" : "com.amazonaws.codeconnections#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amazon Web Services resource for the sync status with the Git\n      repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SyncType" : {
               "target" : "com.amazonaws.codeconnections#SyncConfigurationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sync type for the sync status with the Git repository.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetResourceSyncStatusOutput" : {
         "members" : {
            "DesiredState" : {
               "target" : "com.amazonaws.codeconnections#Revision",
               "traits" : {
                  "smithy.api#documentation" : "<p>The desired state of the Amazon Web Services resource for the sync status with the Git\n      repository.</p>"
               }
            },
            "LatestSuccessfulSync" : {
               "target" : "com.amazonaws.codeconnections#ResourceSyncAttempt",
               "traits" : {
                  "smithy.api#documentation" : "<p>The latest successful sync for the sync status with the Git repository.</p>"
               }
            },
            "LatestSync" : {
               "target" : "com.amazonaws.codeconnections#ResourceSyncAttempt",
               "traits" : {
                  "smithy.api#documentation" : "<p>The latest sync for the sync status with the Git repository, whether successful or not.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetSyncBlockerSummary" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#GetSyncBlockerSummaryInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#GetSyncBlockerSummaryOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of the most recent sync blockers.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#GetSyncBlockerSummaryInput" : {
         "members" : {
            "ResourceName" : {
               "target" : "com.amazonaws.codeconnections#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amazon Web Services resource currently blocked from automatically being synced from a Git repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SyncType" : {
               "target" : "com.amazonaws.codeconnections#SyncConfigurationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sync type for the sync blocker summary.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetSyncBlockerSummaryOutput" : {
         "members" : {
            "SyncBlockerSummary" : {
               "target" : "com.amazonaws.codeconnections#SyncBlockerSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of sync blockers for a specified resource.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetSyncConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codeconnections#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codeconnections#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#GetSyncConfigurationInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#GetSyncConfigurationOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns details about a sync configuration, including the sync type and resource name. A sync configuration allows the configuration to sync (push and pull) changes from the remote repository for a specified branch in a Git repository.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#GetSyncConfigurationInput" : {
         "members" : {
            "ResourceName" : {
               "target" : "com.amazonaws.codeconnections#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amazon Web Services resource for the sync configuration for which you\n      want to retrieve information.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SyncType" : {
               "target" : "com.amazonaws.codeconnections#SyncConfigurationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sync type for the sync configuration for which you want to retrieve information.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#GetSyncConfigurationOutput" : {
         "members" : {
            "SyncConfiguration" : {
               "target" : "com.amazonaws.codeconnections#SyncConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The details about the sync configuration for which you want to retrieve information.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#Host" : {
         "members" : {
            "HostArn" : {
               "target" : "com.amazonaws.codeconnections#HostArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the host.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.codeconnections#HostName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the host.</p>"
               }
            },
            "ProviderEndpoint" : {
               "target" : "com.amazonaws.codeconnections#Url",
               "traits" : {
                  "smithy.api#documentation" : "<p>The endpoint of the infrastructure where your provider type is installed.</p>"
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.codeconnections#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the installed provider to be associated with your connection. The host\n      resource represents the infrastructure where your provider type is installed. The valid\n      provider type is GitHub Enterprise Server.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.codeconnections#HostStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the host, such as PENDING, AVAILABLE, VPC_CONFIG_DELETING, VPC_CONFIG_INITIALIZING, and VPC_CONFIG_FAILED_INITIALIZATION.</p>"
               }
            },
            "StatusMessage" : {
               "target" : "com.amazonaws.codeconnections#HostStatusMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status description for the host.</p>"
               }
            },
            "VpcConfiguration" : {
               "target" : "com.amazonaws.codeconnections#VpcConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The VPC configuration provisioned for the host.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A resource that represents the infrastructure where a third-party provider is installed.\n      The host is used when you create connections to an installed third-party provider type, such\n      as GitHub Enterprise Server. You create one host for all connections to that provider.</p>\n         <note>\n            <p>A host created through the CLI or the SDK is in `PENDING` status by\n        default. You can make its status `AVAILABLE` by setting up the host in the console.</p>\n         </note>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#HostArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:aws(-[\\w]+)*:(codestar-connections|codeconnections):.+:[0-9]{12}:host\\/.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#HostList" : {
         "member" : {
            "target" : "com.amazonaws.codeconnections#Host"
         },
         "type" : "list"
      },
      "com.amazonaws.codeconnections#HostName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : ".*"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#HostStatus" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : ".*"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#HostStatusMessage" : {
         "type" : "string"
      },
      "com.amazonaws.codeconnections#IamRoleArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(-[\\w]+)*:iam::\\d{12}:role/[a-zA-Z_0-9+=,.@\\-_/]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#Id" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#InternalServerException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codeconnections#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Received an internal server exception. Try again later.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 503
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#InvalidInputException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codeconnections#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The input is not valid. Verify that the action is typed correctly.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#KmsKeyArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(-[\\w]+)*:kms:[a-z\\-0-9]+:\\d{12}:key/[a-zA-Z0-9\\-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codeconnections#LatestSyncBlockerList" : {
         "member" : {
            "target" : "com.amazonaws.codeconnections#SyncBlocker"
         },
         "type" : "list"
      },
      "com.amazonaws.codeconnections#LimitExceededException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codeconnections#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exceeded the maximum limit for connections.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#ListConnections" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codeconnections#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codeconnections#ListConnectionsInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#ListConnectionsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the connections associated with your account.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#ListConnectionsInput" : {
         "members" : {
            "HostArnFilter" : {
               "target" : "com.amazonaws.codeconnections#HostArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Filters the list of connections to those associated with a specified host.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.codeconnections#MaxResults",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum number of results to return in a single call. To retrieve the remaining\n      results, make another call with the returned <code>nextToken</code> value.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.codeconnections#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token that was returned from the previous <code>ListConnections</code> call, which\n      can be used to return the next set of connections in the list.</p>"
               }
            },
            "ProviderTypeFilter" : {
               "target" : "com.amazonaws.codeconnections#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Filters the list of connections to those associated with a specified provider, such as\n      Bitbucket.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#ListConnectionsOutput" : {
         "members" : {
            "Connections" : {
               "target" : "com.amazonaws.codeconnections#ConnectionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of connections and the details for each connection, such as status, owner, and\n      provider type.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.codeconnections#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that can be used in the next <code>ListConnections</code> call. To view all\n      items in the list, continue to call this operation with each subsequent token until no more\n      <code>nextToken</code> values are returned.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codeconnections#ListHosts" : {
         "input" : {
            "target" : "com.amazonaws.codeconnections#ListHostsInput"
         },
         "output" : {
            "target" : "com.amazonaws.codeconnections#ListHostsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the hosts associated with your account.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codeconnections#ListHostsInput" : {
         "members" : {
            "MaxResults" : {
[...]
