{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.kendra#AWSKendraFrontendService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.kendra#AssociateEntitiesToExperience"
            },
            {
               "target" : "com.amazonaws.kendra#AssociatePersonasToEntities"
            },
            {
               "target" : "com.amazonaws.kendra#BatchDeleteDocument"
            },
            {
               "target" : "com.amazonaws.kendra#BatchDeleteFeaturedResultsSet"
            },
            {
               "target" : "com.amazonaws.kendra#BatchGetDocumentStatus"
            },
            {
               "target" : "com.amazonaws.kendra#BatchPutDocument"
            },
            {
               "target" : "com.amazonaws.kendra#ClearQuerySuggestions"
            },
            {
               "target" : "com.amazonaws.kendra#CreateAccessControlConfiguration"
            },
            {
               "target" : "com.amazonaws.kendra#CreateDataSource"
            },
            {
               "target" : "com.amazonaws.kendra#CreateExperience"
            },
            {
               "target" : "com.amazonaws.kendra#CreateFaq"
            },
            {
               "target" : "com.amazonaws.kendra#CreateFeaturedResultsSet"
            },
            {
               "target" : "com.amazonaws.kendra#CreateIndex"
            },
            {
               "target" : "com.amazonaws.kendra#CreateQuerySuggestionsBlockList"
            },
            {
               "target" : "com.amazonaws.kendra#CreateThesaurus"
            },
            {
               "target" : "com.amazonaws.kendra#DeleteAccessControlConfiguration"
            },
            {
               "target" : "com.amazonaws.kendra#DeleteDataSource"
            },
            {
               "target" : "com.amazonaws.kendra#DeleteExperience"
            },
            {
               "target" : "com.amazonaws.kendra#DeleteFaq"
            },
            {
               "target" : "com.amazonaws.kendra#DeleteIndex"
            },
            {
               "target" : "com.amazonaws.kendra#DeletePrincipalMapping"
            },
            {
               "target" : "com.amazonaws.kendra#DeleteQuerySuggestionsBlockList"
            },
            {
               "target" : "com.amazonaws.kendra#DeleteThesaurus"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeAccessControlConfiguration"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeDataSource"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeExperience"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeFaq"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeFeaturedResultsSet"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeIndex"
            },
            {
               "target" : "com.amazonaws.kendra#DescribePrincipalMapping"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeQuerySuggestionsBlockList"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeQuerySuggestionsConfig"
            },
            {
               "target" : "com.amazonaws.kendra#DescribeThesaurus"
            },
            {
               "target" : "com.amazonaws.kendra#DisassociateEntitiesFromExperience"
            },
            {
               "target" : "com.amazonaws.kendra#DisassociatePersonasFromEntities"
            },
            {
               "target" : "com.amazonaws.kendra#GetQuerySuggestions"
            },
            {
               "target" : "com.amazonaws.kendra#GetSnapshots"
            },
            {
               "target" : "com.amazonaws.kendra#ListAccessControlConfigurations"
            },
            {
               "target" : "com.amazonaws.kendra#ListDataSources"
            },
            {
               "target" : "com.amazonaws.kendra#ListDataSourceSyncJobs"
            },
            {
               "target" : "com.amazonaws.kendra#ListEntityPersonas"
            },
            {
               "target" : "com.amazonaws.kendra#ListExperienceEntities"
            },
            {
               "target" : "com.amazonaws.kendra#ListExperiences"
            },
            {
               "target" : "com.amazonaws.kendra#ListFaqs"
            },
            {
               "target" : "com.amazonaws.kendra#ListFeaturedResultsSets"
            },
            {
               "target" : "com.amazonaws.kendra#ListGroupsOlderThanOrderingId"
            },
            {
               "target" : "com.amazonaws.kendra#ListIndices"
            },
            {
               "target" : "com.amazonaws.kendra#ListQuerySuggestionsBlockLists"
            },
            {
               "target" : "com.amazonaws.kendra#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.kendra#ListThesauri"
            },
            {
               "target" : "com.amazonaws.kendra#PutPrincipalMapping"
            },
            {
               "target" : "com.amazonaws.kendra#Query"
            },
            {
               "target" : "com.amazonaws.kendra#Retrieve"
            },
            {
               "target" : "com.amazonaws.kendra#StartDataSourceSyncJob"
            },
            {
               "target" : "com.amazonaws.kendra#StopDataSourceSyncJob"
            },
            {
               "target" : "com.amazonaws.kendra#SubmitFeedback"
            },
            {
               "target" : "com.amazonaws.kendra#TagResource"
            },
            {
               "target" : "com.amazonaws.kendra#UntagResource"
            },
            {
               "target" : "com.amazonaws.kendra#UpdateAccessControlConfiguration"
            },
            {
               "target" : "com.amazonaws.kendra#UpdateDataSource"
            },
            {
               "target" : "com.amazonaws.kendra#UpdateExperience"
            },
            {
               "target" : "com.amazonaws.kendra#UpdateFeaturedResultsSet"
            },
            {
               "target" : "com.amazonaws.kendra#UpdateIndex"
            },
            {
               "target" : "com.amazonaws.kendra#UpdateQuerySuggestionsBlockList"
            },
            {
               "target" : "com.amazonaws.kendra#UpdateQuerySuggestionsConfig"
            },
            {
               "target" : "com.amazonaws.kendra#UpdateThesaurus"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "kendra",
               "cloudFormationName" : "Kendra",
               "cloudTrailEventSource" : "kendra.amazonaws.com",
               "endpointPrefix" : "kendra",
               "sdkId" : "kendra"
            },
            "aws.auth#sigv4" : {
               "name" : "kendra"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>Amazon Kendra is a service for indexing large document sets.</p>",
            "smithy.api#title" : "AWSKendraFrontendService",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://kendra-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://kendra-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://kendra.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://kendra.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2019-02-03"
      },
      "com.amazonaws.kendra#AccessControlConfigurationId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendra#AccessControlConfigurationName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\S\\s]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendra#AccessControlConfigurationSummary" : {
         "members" : {
            "Id" : {
               "target" : "com.amazonaws.kendra#AccessControlConfigurationId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the access control configuration.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary information on an access control configuration that you created for your\n            documents in an index.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AccessControlConfigurationSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.kendra#AccessControlConfigurationSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#AccessControlListConfiguration" : {
         "members" : {
            "KeyPath" : {
               "target" : "com.amazonaws.kendra#S3ObjectKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>Path to the Amazon S3 bucket that contains the ACL files.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Access Control List files for the documents in a data source. For the format of the\n            file, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/s3-acl.html\">Access control\n                for S3 data sources</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendra#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You don't have sufficient access to perform this action. Please ensure you have the\n            required permission policies and user accounts and try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AclConfiguration" : {
         "members" : {
            "AllowedGroupsColumnName" : {
               "target" : "com.amazonaws.kendra#ColumnName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of groups, separated by semi-colons, that filters a query response based on\n            user context. The document is only returned to users that are in one of the groups\n            specified in the <code>UserContext</code> field of the <code>Query</code> API.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides information about the column that should be used for filtering the query\n            response by groups.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AdditionalResultAttribute" : {
         "members" : {
            "Key" : {
               "target" : "com.amazonaws.kendra#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The key that identifies the attribute.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.kendra#AdditionalResultAttributeValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that contains the attribute value.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ValueType" : {
               "target" : "com.amazonaws.kendra#AdditionalResultAttributeValueType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data type of the <code>Value</code> property.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An attribute returned from an index query.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AdditionalResultAttributeList" : {
         "member" : {
            "target" : "com.amazonaws.kendra#AdditionalResultAttribute"
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#AdditionalResultAttributeValue" : {
         "members" : {
            "TextWithHighlightsValue" : {
               "target" : "com.amazonaws.kendra#TextWithHighlights",
               "traits" : {
                  "smithy.api#documentation" : "<p>The text associated with the attribute and information about the highlight to apply to\n            the text.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An attribute returned with a document from a search.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AdditionalResultAttributeValueType" : {
         "members" : {
            "TEXT_WITH_HIGHLIGHTS_VALUE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TEXT_WITH_HIGHLIGHTS_VALUE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.kendra#AlfrescoConfiguration" : {
         "members" : {
            "BlogFieldMappings" : {
               "target" : "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or\n            field names of Alfresco blogs to Amazon Kendra index field names. To create custom\n            fields, use the <code>UpdateIndex</code> API before you map to Alfresco fields. For more\n            information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">\n                Mapping data source fields</a>. The Alfresco data source field names must exist\n            in your Alfresco custom metadata.</p>"
               }
            },
            "CrawlComments" : {
               "target" : "com.amazonaws.kendra#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>\n            <code>TRUE</code> to index comments of blogs and other content.</p>"
               }
            },
            "CrawlSystemFolders" : {
               "target" : "com.amazonaws.kendra#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>\n            <code>TRUE</code> to index shared files.</p>"
               }
            },
            "DocumentLibraryFieldMappings" : {
               "target" : "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or\n            field names of Alfresco document libraries to Amazon Kendra index field names. To create\n            custom fields, use the <code>UpdateIndex</code> API before you map to Alfresco fields.\n            For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\"> Mapping data source fields</a>. The\n            Alfresco data source field names must exist in your Alfresco custom metadata.</p>"
               }
            },
            "EntityFilter" : {
               "target" : "com.amazonaws.kendra#EntityFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specify whether to index document libraries, wikis, or blogs. You can specify one or\n            more of these options.</p>"
               }
            },
            "ExclusionPatterns" : {
               "target" : "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of regular expression patterns to exclude certain files in your Alfresco data\n            source. Files that match the patterns are excluded from the index. Files that don't\n            match the patterns are included in the index. If a file matches both an inclusion\n            pattern and an exclusion pattern, the exclusion pattern takes precedence and the file\n            isn't included in the index.</p>"
               }
            },
            "InclusionPatterns" : {
               "target" : "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of regular expression patterns to include certain files in your Alfresco data\n            source. Files that match the patterns are included in the index. Files that don't match\n            the patterns are excluded from the index. If a file matches both an inclusion pattern\n            and an exclusion pattern, the exclusion pattern takes precedence and the file isn't\n            included in the index.</p>"
               }
            },
            "SecretArn" : {
               "target" : "com.amazonaws.kendra#SecretArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of an Secrets Manager secret that contains the\n            key-value pairs required to connect to your Alfresco data source. The secret must\n            contain a JSON structure with the following keys:</p>\n         <ul>\n            <li>\n               <p>username—The user name of the Alfresco account.</p>\n            </li>\n            <li>\n               <p>password—The password of the Alfresco account.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "SiteId" : {
               "target" : "com.amazonaws.kendra#SiteId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the Alfresco site. For example, <i>my-site</i>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SiteUrl" : {
               "target" : "com.amazonaws.kendra#SiteUrl",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL of the Alfresco site. For example,\n            <i>https://hostname:8080</i>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SslCertificateS3Path" : {
               "target" : "com.amazonaws.kendra#S3Path",
               "traits" : {
                  "smithy.api#documentation" : "<p>The path to the SSL certificate stored in an Amazon S3 bucket. You use this to\n            connect to Alfresco if you require a secure SSL connection.</p>\n         <p>You can simply generate a self-signed X509 certificate on any computer using OpenSSL.\n            For an example of using OpenSSL to create an X509 certificate, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/configuring-https-ssl.html\">Create and sign an X509 certificate</a>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "VpcConfiguration" : {
               "target" : "com.amazonaws.kendra#DataSourceVpcConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Configuration information for an Amazon Virtual Private Cloud to connect to your Alfresco.\n            For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/vpc-configuration.html\">Configuring a VPC</a>.</p>"
               }
            },
            "WikiFieldMappings" : {
               "target" : "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or\n            field names of Alfresco wikis to Amazon Kendra index field names. To create custom\n            fields, use the <code>UpdateIndex</code> API before you map to Alfresco fields. For more\n            information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">\n                Mapping data source fields</a>. The Alfresco data source field names must exist\n            in your Alfresco custom metadata.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides the configuration information to connect to Alfresco as your data\n            source.</p>\n         <note>\n            <p>Support for <code>AlfrescoConfiguration</code> ended May 2023. \n                We recommend migrating to or using the Alfresco data source template \n                schema / <a href=\"https://docs.aws.amazon.com/kendra/latest/APIReference/API_TemplateConfiguration.html\">TemplateConfiguration</a> API.</p>\n         </note>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AlfrescoEntity" : {
         "members" : {
            "blog" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "blog"
               }
            },
            "documentLibrary" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "documentLibrary"
               }
            },
            "wiki" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "wiki"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.kendra#AmazonResourceName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1011,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendra#AssociateEntitiesToExperience" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendra#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendra#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendra#ResourceAlreadyExistException"
            },
            {
               "target" : "com.amazonaws.kendra#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendra#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendra#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendra#AssociateEntitiesToExperienceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendra#AssociateEntitiesToExperienceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Grants users or groups in your IAM Identity Center identity source access \n            to your Amazon Kendra experience. You can create an Amazon Kendra experience such as a \n            search application. For more information on creating a search application \n            experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building \n                a search experience with no code</a>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendra#AssociateEntitiesToExperienceFailedEntityList" : {
         "member" : {
            "target" : "com.amazonaws.kendra#FailedEntity"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 20,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#AssociateEntitiesToExperienceRequest" : {
         "members" : {
            "EntityList" : {
               "target" : "com.amazonaws.kendra#AssociateEntityList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Lists users or groups in your IAM Identity Center identity source.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Id" : {
               "target" : "com.amazonaws.kendra#ExperienceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of your Amazon Kendra experience.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IndexId" : {
               "target" : "com.amazonaws.kendra#IndexId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the index for your Amazon Kendra experience.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AssociateEntitiesToExperienceResponse" : {
         "members" : {
            "FailedEntityList" : {
               "target" : "com.amazonaws.kendra#AssociateEntitiesToExperienceFailedEntityList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Lists the users or groups in your IAM Identity Center identity source that \n            failed to properly configure with your Amazon Kendra experience.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AssociateEntityList" : {
         "member" : {
            "target" : "com.amazonaws.kendra#EntityConfiguration"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 20,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#AssociatePersonasToEntities" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendra#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendra#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendra#ResourceAlreadyExistException"
            },
            {
               "target" : "com.amazonaws.kendra#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendra#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendra#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendra#AssociatePersonasToEntitiesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendra#AssociatePersonasToEntitiesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines the specific permissions of users or groups in your IAM Identity Center\n            identity source with access to your Amazon Kendra experience. You can create an Amazon Kendra \n            experience such as a search application. For more information on creating a \n            search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building \n                a search experience with no code</a>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendra#AssociatePersonasToEntitiesRequest" : {
         "members" : {
            "Id" : {
               "target" : "com.amazonaws.kendra#ExperienceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of your Amazon Kendra experience.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IndexId" : {
               "target" : "com.amazonaws.kendra#IndexId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the index for your Amazon Kendra experience.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Personas" : {
               "target" : "com.amazonaws.kendra#EntityPersonaConfigurationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The personas that define the specific permissions of users or groups in \n            your IAM Identity Center identity source. The available personas or access \n            roles are <code>Owner</code> and <code>Viewer</code>. For more information \n            on these personas, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html#access-search-experience\">Providing \n                access to your search page</a>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AssociatePersonasToEntitiesResponse" : {
         "members" : {
            "FailedEntityList" : {
               "target" : "com.amazonaws.kendra#FailedEntityList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Lists the users or groups in your IAM Identity Center identity source that \n            failed to properly configure with your Amazon Kendra experience.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AttributeFilter" : {
         "members" : {
            "AndAllFilters" : {
               "target" : "com.amazonaws.kendra#AttributeFilterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Performs a logical <code>AND</code> operation on all filters that you specify.</p>"
               }
            },
            "ContainsAll" : {
               "target" : "com.amazonaws.kendra#DocumentAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returns true when a document contains all of the specified document attributes/fields.\n         This filter is only applicable to <a href=\"https://docs.aws.amazon.com/kendra/latest/APIReference/API_DocumentAttributeValue.html\">StringListValue</a>.</p>"
               }
            },
            "ContainsAny" : {
               "target" : "com.amazonaws.kendra#DocumentAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returns true when a document contains any of the specified document attributes/fields.\n         This filter is only applicable to <a href=\"https://docs.aws.amazon.com/kendra/latest/APIReference/API_DocumentAttributeValue.html\">StringListValue</a>.</p>"
               }
            },
            "EqualsTo" : {
               "target" : "com.amazonaws.kendra#DocumentAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>Performs an equals operation on document attributes/fields and their values.</p>"
               }
            },
            "GreaterThan" : {
               "target" : "com.amazonaws.kendra#DocumentAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>Performs a greater than operation on document attributes/fields and their values. Use\n         with the <a href=\"https://docs.aws.amazon.com/kendra/latest/APIReference/API_DocumentAttributeValue.html\">document attribute\n            type</a>\n            <code>Date</code> or <code>Long</code>.</p>"
               }
            },
            "GreaterThanOrEquals" : {
               "target" : "com.amazonaws.kendra#DocumentAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>Performs a greater or equals than operation on document attributes/fields and their\n         values. Use with the <a href=\"https://docs.aws.amazon.com/kendra/latest/APIReference/API_DocumentAttributeValue.html\">document attribute\n            type</a>\n            <code>Date</code> or <code>Long</code>.</p>"
               }
            },
            "LessThan" : {
               "target" : "com.amazonaws.kendra#DocumentAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>Performs a less than operation on document attributes/fields and their values. Use with\n         the <a href=\"https://docs.aws.amazon.com/kendra/latest/APIReference/API_DocumentAttributeValue.html\">document attribute\n            type</a>\n            <code>Date</code> or <code>Long</code>.</p>"
               }
            },
            "LessThanOrEquals" : {
               "target" : "com.amazonaws.kendra#DocumentAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>Performs a less than or equals operation on document attributes/fields and their values.\n         Use with the <a href=\"https://docs.aws.amazon.com/kendra/latest/APIReference/API_DocumentAttributeValue.html\">document attribute\n            type</a>\n            <code>Date</code> or <code>Long</code>.</p>"
               }
            },
            "NotFilter" : {
               "target" : "com.amazonaws.kendra#AttributeFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>Performs a logical <code>NOT</code> operation on all filters that you specify.</p>"
               }
            },
            "OrAllFilters" : {
               "target" : "com.amazonaws.kendra#AttributeFilterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Performs a logical <code>OR</code> operation on all filters that you specify.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Filters the search results based on document attributes or fields.</p>\n         <p>You can filter results using attributes for your particular documents. The attributes\n         must exist in your index. For example, if your documents include the custom attribute\n         \"Department\", you can filter documents that belong to the \"HR\" department. You would use\n         the <code>EqualsTo</code> operation to filter results or documents with \"Department\" equals\n         to \"HR\".</p>\n         <p>You can use <code>AndAllFilters</code> and <code>OrAllFilters</code> in combination with\n         each other or with other operations such as <code>EqualsTo</code>. For example:</p>\n         <p>\n            <code>AndAllFilters</code>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>EqualsTo</code>: \"Department\", \"HR\"</p>\n            </li>\n            <li>\n               <p>\n                  <code>OrAllFilters</code>\n               </p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ContainsAny</code>: \"Project Name\", [\"new hires\", \"new hiring\"]</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>This example filters results or documents that belong to the HR department\n            <code>AND</code> belong to projects that contain \"new hires\"\n            <code>OR</code> \"new hiring\" in the project name (must use\n            <code>ContainAny</code> with <code>StringListValue</code>). This example is filtering\n         with a depth of 2.</p>\n         <p>You cannot filter more than a depth of 2, otherwise you receive a\n            <code>ValidationException</code> exception with the message \"AttributeFilter cannot have\n         a depth of more than 2.\" Also, if you use more than 10 attribute filters in a given list\n         for <code>AndAllFilters</code> or <code>OrAllFilters</code>, you receive a\n            <code>ValidationException</code> with the message \"AttributeFilter cannot have a length\n         of more than 10\".</p>\n         <p>For examples of using <code>AttributeFilter</code>, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/filtering.html#search-filtering\">Using document attributes to\n            filter search results</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AttributeFilterList" : {
         "member" : {
            "target" : "com.amazonaws.kendra#AttributeFilter"
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#AttributeSuggestionsDescribeConfig" : {
         "members" : {
            "AttributeSuggestionsMode" : {
               "target" : "com.amazonaws.kendra#AttributeSuggestionsMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The mode is set to either <code>ACTIVE</code> or <code>INACTIVE</code>. If the <code>Mode</code> \n            for query history is set to <code>ENABLED</code> when calling <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_UpdateQuerySuggestionsConfig.html\">UpdateQuerySuggestionsConfig</a> \n            and <code>AttributeSuggestionsMode</code> to use fields/attributes is set to <code>ACTIVE</code>, \n            and you haven't set your <code>SuggestionTypes</code> preference to <code>DOCUMENT_ATTRIBUTES</code>, \n            then Amazon Kendra uses the query history.</p>"
               }
            },
            "SuggestableConfigList" : {
               "target" : "com.amazonaws.kendra#SuggestableConfigList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of fields/attributes that you want to set as suggestible for query suggestions.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets information on the configuration of document fields/attributes that you want to base \n            query suggestions on. To change your configuration, use <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_AttributeSuggestionsUpdateConfig.html\">AttributeSuggestionsUpdateConfig</a> and then call <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_UpdateQuerySuggestionsConfig.html\">UpdateQuerySuggestionsConfig</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AttributeSuggestionsGetConfig" : {
         "members" : {
            "AdditionalResponseAttributes" : {
               "target" : "com.amazonaws.kendra#DocumentAttributeKeyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of additional document field/attribute keys or field names to include in the \n            response. You can use additional fields to provide extra information in the response. \n            Additional fields are not used to based suggestions on.</p>"
               }
            },
            "AttributeFilter" : {
               "target" : "com.amazonaws.kendra#AttributeFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>Filters the search results based on document fields/attributes.</p>"
               }
            },
            "SuggestionAttributes" : {
               "target" : "com.amazonaws.kendra#DocumentAttributeKeyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of document field/attribute keys or field names to use for query suggestions. \n            If the content within any of the fields match what your user starts typing as their query, \n            then the field content is returned as a query suggestion.</p>"
               }
            },
            "UserContext" : {
               "target" : "com.amazonaws.kendra#UserContext",
               "traits" : {
                  "smithy.api#documentation" : "<p>Applies user context filtering so that only users who are given access to certain \n            documents see these document in their search results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides the configuration information for the document fields/attributes that you want \n            to base query suggestions on.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AttributeSuggestionsMode" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "INACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INACTIVE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.kendra#AttributeSuggestionsUpdateConfig" : {
         "members" : {
            "AttributeSuggestionsMode" : {
               "target" : "com.amazonaws.kendra#AttributeSuggestionsMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can set the mode to <code>ACTIVE</code> or <code>INACTIVE</code>. You must also set \n            <code>SuggestionTypes</code> as either <code>QUERY</code> or <code>DOCUMENT_ATTRIBUTES</code> \n            and then call <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_GetQuerySuggestions.html\">GetQuerySuggestions</a>. If <code>Mode</code> to use query history is set to \n            <code>ENABLED</code> when calling <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_UpdateQuerySuggestionsConfig.html\">UpdateQuerySuggestionsConfig</a> and <code>AttributeSuggestionsMode</code> to use \n            fields/attributes is set to <code>ACTIVE</code>, and you haven't set your \n            <code>SuggestionTypes</code> preference to <code>DOCUMENT_ATTRIBUTES</code>, then \n            Amazon Kendra uses the query history.</p>"
               }
            },
            "SuggestableConfigList" : {
               "target" : "com.amazonaws.kendra#SuggestableConfigList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of fields/attributes that you want to set as suggestible for query \n            suggestions.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Updates the configuration information for the document fields/attributes that you want \n            to base query suggestions on.</p>\n         <p>To deactivate using documents fields for query suggestions, set the mode to \n            <code>INACTIVE</code>. You must also set <code>SuggestionTypes</code> as either \n            <code>QUERY</code> or <code>DOCUMENT_ATTRIBUTES</code> and then call <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_GetQuerySuggestions.html\">GetQuerySuggestions</a>. If you set to <code>QUERY</code>, then \n            Amazon Kendra uses the query history to base suggestions on. If you set to \n            <code>DOCUMENT_ATTRIBUTES</code>, then Amazon Kendra uses the contents of document \n            fields to base suggestions on.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#AuthenticationConfiguration" : {
         "members" : {
            "BasicAuthentication" : {
               "target" : "com.amazonaws.kendra#BasicAuthenticationConfigurationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of configuration information that's required to connect to and crawl a\n            website host using basic authentication credentials.</p>\n         <p>The list includes the name and port number of the website host.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides the configuration information to connect to websites that require user\n            authentication.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BasicAuthenticationConfiguration" : {
         "members" : {
            "Credentials" : {
               "target" : "com.amazonaws.kendra#SecretArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of an Secrets Manager secret. You create a \n            secret to store your credentials in <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\">Secrets Manager</a>\n         </p>\n         <p>You use a secret if basic authentication credentials are required to connect to a\n            website. The secret stores your credentials of user name and password.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Host" : {
               "target" : "com.amazonaws.kendra#Host",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the website host you want to connect to using authentication\n            credentials.</p>\n         <p>For example, the host name of https://a.example.com/page1.html is\n            \"a.example.com\".</p>",
                  "smithy.api#required" : {}
               }
            },
            "Port" : {
               "target" : "com.amazonaws.kendra#Port",
               "traits" : {
                  "smithy.api#documentation" : "<p>The port number of the website host you want to connect to using authentication\n            credentials.</p>\n         <p>For example, the port for https://a.example.com/page1.html is 443, the standard port\n            for HTTPS.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides the configuration information to connect to websites that require basic user\n            authentication.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BasicAuthenticationConfigurationList" : {
         "member" : {
            "target" : "com.amazonaws.kendra#BasicAuthenticationConfiguration"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#BatchDeleteDocument" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendra#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendra#ConflictException"
            },
            {
               "target" : "com.amazonaws.kendra#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendra#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendra#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendra#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendra#BatchDeleteDocumentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendra#BatchDeleteDocumentResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes one or more documents from an index. The documents must have been added with\n            the <code>BatchPutDocument</code> API.</p>\n         <p>The documents are deleted asynchronously. You can see the progress of the deletion by\n            using Amazon Web Services\n            CloudWatch. Any error messages related to the processing of the batch are sent to\n            your Amazon Web Services\n            CloudWatch log. You can also use the <code>BatchGetDocumentStatus</code> API to\n            monitor the progress of deleting your documents.</p>\n         <p>Deleting documents from an index using <code>BatchDeleteDocument</code> could take up\n            to an hour or more, depending on the number of documents you want to delete.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendra#BatchDeleteDocumentRequest" : {
         "members" : {
            "DataSourceSyncJobMetricTarget" : {
               "target" : "com.amazonaws.kendra#DataSourceSyncJobMetricTarget"
            },
            "DocumentIdList" : {
               "target" : "com.amazonaws.kendra#DocumentIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>One or more identifiers for documents to delete from the index.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IndexId" : {
               "target" : "com.amazonaws.kendra#IndexId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the index that contains the documents to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchDeleteDocumentResponse" : {
         "members" : {
            "FailedDocuments" : {
               "target" : "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of documents that could not be removed from the index. Each entry contains an\n            error message that indicates why the document couldn't be removed from the index.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument" : {
         "members" : {
            "DataSourceId" : {
               "target" : "com.amazonaws.kendra#DataSourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The identifier of the data source connector that the document belongs to. </p>"
               }
            },
            "ErrorCode" : {
               "target" : "com.amazonaws.kendra#ErrorCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error code for why the document couldn't be removed from the index.</p>"
               }
            },
            "ErrorMessage" : {
               "target" : "com.amazonaws.kendra#ErrorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>An explanation for why the document couldn't be removed from the index.</p>"
               }
            },
            "Id" : {
               "target" : "com.amazonaws.kendra#DocumentId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the document that couldn't be removed from the index.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides information about documents that could not be removed from an index by the\n                <code>BatchDeleteDocument</code> API.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments" : {
         "member" : {
            "target" : "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument"
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#BatchDeleteFeaturedResultsSet" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendra#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendra#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendra#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendra#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendra#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendra#BatchDeleteFeaturedResultsSetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendra#BatchDeleteFeaturedResultsSetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes one or more sets of featured results. Features results are placed\n            above all other results for certain queries. If there's an exact match of a \n            query, then one or more specific documents are featured in the search results.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendra#BatchDeleteFeaturedResultsSetError" : {
         "members" : {
            "ErrorCode" : {
               "target" : "com.amazonaws.kendra#ErrorCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error code for why the set of featured results couldn't be removed \n            from the index.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ErrorMessage" : {
               "target" : "com.amazonaws.kendra#ErrorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>An explanation for why the set of featured results couldn't be removed \n            from the index.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Id" : {
               "target" : "com.amazonaws.kendra#FeaturedResultsSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the set of featured results that couldn't be removed \n            from the index.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides information about a set of featured results that couldn't be \n            removed from an index by the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchDeleteFeaturedResultsSet.html\">BatchDeleteFeaturedResultsSet</a> API.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchDeleteFeaturedResultsSetErrors" : {
         "member" : {
            "target" : "com.amazonaws.kendra#BatchDeleteFeaturedResultsSetError"
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#BatchDeleteFeaturedResultsSetRequest" : {
         "members" : {
            "FeaturedResultsSetIds" : {
               "target" : "com.amazonaws.kendra#FeaturedResultsSetIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifiers of the featured results sets that you want to delete.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IndexId" : {
               "target" : "com.amazonaws.kendra#IndexId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the index used for featuring results.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchDeleteFeaturedResultsSetResponse" : {
         "members" : {
            "Errors" : {
               "target" : "com.amazonaws.kendra#BatchDeleteFeaturedResultsSetErrors",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of errors for the featured results set IDs, explaining why they \n            couldn't be removed from the index.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchGetDocumentStatus" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendra#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendra#ConflictException"
            },
            {
               "target" : "com.amazonaws.kendra#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendra#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendra#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendra#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendra#BatchGetDocumentStatusRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendra#BatchGetDocumentStatusResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the indexing status for one or more documents submitted with the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchPutDocument.html\">\n                BatchPutDocument</a> API.</p>\n         <p>When you use the <code>BatchPutDocument</code> API, documents are indexed\n            asynchronously. You can use the <code>BatchGetDocumentStatus</code> API to get the\n            current status of a list of documents so that you can determine if they have been\n            successfully indexed.</p>\n         <p>You can also use the <code>BatchGetDocumentStatus</code> API to check the status of\n            the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchDeleteDocument.html\">\n                BatchDeleteDocument</a> API. When a document is deleted from the index, Amazon Kendra returns <code>NOT_FOUND</code> as the status.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendra#BatchGetDocumentStatusRequest" : {
         "members" : {
            "DocumentInfoList" : {
               "target" : "com.amazonaws.kendra#DocumentInfoList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>DocumentInfo</code> objects that identify the documents for which to\n            get the status. You identify the documents by their document ID and optional\n            attributes.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IndexId" : {
               "target" : "com.amazonaws.kendra#IndexId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the index to add documents to. The index ID is returned by the\n                <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_CreateIndex.html\">CreateIndex\n            </a> API.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchGetDocumentStatusResponse" : {
         "members" : {
            "DocumentStatusList" : {
               "target" : "com.amazonaws.kendra#DocumentStatusList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of documents. The status indicates if the document is waiting to be\n            indexed, is in the process of indexing, has completed indexing, or failed indexing. If a\n            document failed indexing, the status provides the reason why.</p>"
               }
            },
            "Errors" : {
               "target" : "com.amazonaws.kendra#BatchGetDocumentStatusResponseErrors",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of documents that Amazon Kendra couldn't get the status for. The list\n            includes the ID of the document and the reason that the status couldn't be found.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchGetDocumentStatusResponseError" : {
         "members" : {
            "DataSourceId" : {
               "target" : "com.amazonaws.kendra#DataSourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The identifier of the data source connector that the failed document belongs to.\n        </p>"
               }
            },
            "DocumentId" : {
               "target" : "com.amazonaws.kendra#DocumentId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the document whose status could not be retrieved.</p>"
               }
            },
            "ErrorCode" : {
               "target" : "com.amazonaws.kendra#ErrorCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the source of the error.</p>"
               }
            },
            "ErrorMessage" : {
               "target" : "com.amazonaws.kendra#ErrorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>States that the API could not get the status of a document. This could be because the\n            request is not valid or there is a system error.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides a response when the status of a document could not be retrieved.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchGetDocumentStatusResponseErrors" : {
         "member" : {
            "target" : "com.amazonaws.kendra#BatchGetDocumentStatusResponseError"
         },
         "type" : "list"
      },
      "com.amazonaws.kendra#BatchPutDocument" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendra#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendra#ConflictException"
            },
            {
               "target" : "com.amazonaws.kendra#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendra#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendra#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.kendra#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendra#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendra#BatchPutDocumentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendra#BatchPutDocumentResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Adds one or more documents to an index.</p>\n         <p>The <code>BatchPutDocument</code> API enables you to ingest inline documents or a set\n            of documents stored in an Amazon S3 bucket. Use this API to ingest your text and\n            unstructured text into an index, add custom attributes to the documents, and to attach\n            an access control list to the documents added to the index.</p>\n         <p>The documents are indexed asynchronously. You can see the progress of the batch using\n                Amazon Web Services\n            CloudWatch. Any error messages related to processing the batch are sent to your\n                Amazon Web Services\n            CloudWatch log. You can also use the <code>BatchGetDocumentStatus</code> API to\n            monitor the progress of indexing your documents.</p>\n         <p>For an example of ingesting inline documents using Python and Java SDKs, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/in-adding-binary-doc.html\">Adding files\n                directly to an index</a>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendra#BatchPutDocumentRequest" : {
         "members" : {
            "CustomDocumentEnrichmentConfiguration" : {
               "target" : "com.amazonaws.kendra#CustomDocumentEnrichmentConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Configuration information for altering your document metadata and content during the\n            document ingestion process when you use the <code>BatchPutDocument</code> API.</p>\n         <p>For more information on how to create, modify and delete document metadata, or make\n            other content alterations when you ingest documents into Amazon Kendra, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/custom-document-enrichment.html\">Customizing document metadata during the ingestion process</a>.</p>"
               }
            },
            "Documents" : {
               "target" : "com.amazonaws.kendra#DocumentList",
               "traits" : {
                  "smithy.api#documentation" : "<p>One or more documents to add to the index.</p>\n         <p>Documents have the following file size limits.</p>\n         <ul>\n            <li>\n               <p>50 MB total size for any file</p>\n            </li>\n            <li>\n               <p>5 MB extracted text for any file</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IndexId" : {
               "target" : "com.amazonaws.kendra#IndexId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the index to add the documents to. You need to create the index\n            first using the <code>CreateIndex</code> API.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.kendra#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of an IAM role with permission to access\n            your S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM access roles for Amazon Kendra</a>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendra#BatchPutDocumentResponse" : {
         "members" : {
            "FailedDocuments" : {
               "target" : "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of documents that were not added to the index because the document failed a\n            validation check. Each document contains an error message that indicates why the\n            document couldn't be added to the index.</p>\n         <p>If there was an error adding a document to an index the error is reported in your\n                Amazon Web Services CloudWatch log. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/cloudwatch-logs.html\">Monitoring Amazon Kendra with Amazon CloudWatch logs</a>.</p>"
               }
            }
         },
[...]
