{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.ssooidc#AWSSSOOIDCService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.ssooidc#CreateToken"
            },
            {
               "target" : "com.amazonaws.ssooidc#CreateTokenWithIAM"
            },
            {
               "target" : "com.amazonaws.ssooidc#RegisterClient"
            },
            {
               "target" : "com.amazonaws.ssooidc#StartDeviceAuthorization"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "sso-oauth",
               "cloudFormationName" : "SSOOIDC",
               "cloudTrailEventSource" : "ssooidc.amazonaws.com",
               "endpointPrefix" : "oidc",
               "sdkId" : "SSO OIDC"
            },
            "aws.auth#sigv4" : {
               "name" : "sso-oauth"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>IAM Identity Center OpenID Connect (OIDC) is a web service that enables a client (such as CLI or a\n      native application) to register with IAM Identity Center. The service also enables the client to fetch the\n      user’s access token upon successful authentication and authorization with IAM Identity Center.</p>\n         <p>\n            <b>API namespaces</b>\n         </p>\n         <p>IAM Identity Center uses the <code>sso</code> and <code>identitystore</code> API namespaces. IAM Identity Center\n      OpenID Connect uses the <code>sso-oauth</code> namespace.</p>\n         <p>\n            <b>Considerations for using this guide</b>\n         </p>\n         <p>Before you begin using this guide, we recommend that you first review the following\n      important information about how the IAM Identity Center OIDC service works.</p>\n         <ul>\n            <li>\n               <p>The IAM Identity Center OIDC service currently implements only the portions of the OAuth 2.0 Device\n          Authorization Grant standard (<a href=\"https://tools.ietf.org/html/rfc8628\">https://tools.ietf.org/html/rfc8628</a>) that are necessary to enable single\n          sign-on authentication with the CLI. </p>\n            </li>\n            <li>\n               <p>With older versions of the CLI, the service only emits OIDC access tokens, so to\n          obtain a new token, users must explicitly re-authenticate. To access the OIDC flow that\n          supports token refresh and doesn’t require re-authentication, update to the latest CLI\n          version (1.27.10 for CLI V1 and 2.9.0 for CLI V2) with support for OIDC token refresh\n          and configurable IAM Identity Center session durations. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/configure-user-session.html\">Configure Amazon Web Services access portal session duration </a>. </p>\n            </li>\n            <li>\n               <p>The access tokens provided by this service grant access to all Amazon Web Services account\n          entitlements assigned to an IAM Identity Center user, not just a particular application.</p>\n            </li>\n            <li>\n               <p>The documentation in this guide does not describe the mechanism to convert the access\n          token into Amazon Web Services Auth (“sigv4”) credentials for use with IAM-protected Amazon Web Services service\n          endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/PortalAPIReference/API_GetRoleCredentials.html\">GetRoleCredentials</a> in the <i>IAM Identity Center Portal API Reference\n          Guide</i>.</p>\n            </li>\n         </ul>\n         <p>For general information about IAM Identity Center, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\">What is\n        IAM Identity Center?</a> in the <i>IAM Identity Center User Guide</i>.</p>",
            "smithy.api#title" : "AWS SSO OIDC",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://oidc-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "name"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      "aws-us-gov"
                                                   ],
                                                   "fn" : "stringEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://oidc.{Region}.amazonaws.com"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://oidc-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://oidc.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://oidc.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://oidc.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2019-06-10"
      },
      "com.amazonaws.ssooidc#AccessDeniedException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be <code>access_denied</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            },
            "reason" : {
               "target" : "com.amazonaws.ssooidc#AccessDeniedExceptionReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string that uniquely identifies a reason for the error.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#AccessDeniedExceptionReason" : {
         "members" : {
            "KMS_ACCESS_DENIED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "KMS_AccessDeniedException"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.ssooidc#AccessToken" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.ssooidc#ArnType" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#Assertion" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.ssooidc#AuthCode" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#AuthorizationPendingException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be\n      <code>authorization_pending</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that a request to authorize a client with an access user session token is\n      pending.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#AwsAdditionalDetails" : {
         "members" : {
            "identityContext" : {
               "target" : "com.amazonaws.ssooidc#IdentityContext",
               "traits" : {
                  "smithy.api#documentation" : "<p>The trusted context assertion is signed and encrypted by STS. It provides access to\n        <code>sts:identity_context</code> claim in the <code>idToken</code> without JWT\n      parsing</p>\n         <p>Identity context comprises information that Amazon Web Services services use to make authorization\n      decisions when they receive requests.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This structure contains Amazon Web Services-specific parameter extensions and the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/trustedidentitypropagation-overview.html\">identity context</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#ClientId" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#ClientName" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#ClientSecret" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.ssooidc#ClientType" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#CodeVerifier" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.ssooidc#CreateToken" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ssooidc#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ssooidc#AuthorizationPendingException"
            },
            {
               "target" : "com.amazonaws.ssooidc#ExpiredTokenException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InternalServerException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidClientException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidGrantException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidScopeException"
            },
            {
               "target" : "com.amazonaws.ssooidc#SlowDownException"
            },
            {
               "target" : "com.amazonaws.ssooidc#UnauthorizedClientException"
            },
            {
               "target" : "com.amazonaws.ssooidc#UnsupportedGrantTypeException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ssooidc#CreateTokenRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ssooidc#CreateTokenResponse"
         },
         "traits" : {
            "smithy.api#auth" : [],
            "smithy.api#documentation" : "<p>Creates and returns access and refresh tokens for clients that are authenticated using\n      client secrets. The access token can be used to fetch short-lived credentials for the assigned\n      AWS accounts or to access application APIs using <code>bearer</code> authentication.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/token"
            },
            "smithy.api#optionalAuth" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.ssooidc#CreateTokenRequest" : {
         "members" : {
            "clientId" : {
               "target" : "com.amazonaws.ssooidc#ClientId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier string for the client or application. This value comes from the\n      result of the <a>RegisterClient</a> API.</p>",
                  "smithy.api#required" : {}
               }
            },
            "clientSecret" : {
               "target" : "com.amazonaws.ssooidc#ClientSecret",
               "traits" : {
                  "smithy.api#documentation" : "<p>A secret string generated for the client. This value should come from the persisted result\n      of the <a>RegisterClient</a> API.</p>",
                  "smithy.api#required" : {}
               }
            },
            "code" : {
               "target" : "com.amazonaws.ssooidc#AuthCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Authorization Code grant type. The short-lived\n      code is used to identify this authorization request.</p>"
               }
            },
            "codeVerifier" : {
               "target" : "com.amazonaws.ssooidc#CodeVerifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Authorization Code grant type. This value is\n      generated by the client and presented to validate the original code challenge value the client\n      passed at authorization time.</p>"
               }
            },
            "deviceCode" : {
               "target" : "com.amazonaws.ssooidc#DeviceCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Device Code grant type. This short-lived code is\n      used to identify this authorization request. This comes from the result of the <a>StartDeviceAuthorization</a> API.</p>"
               }
            },
            "grantType" : {
               "target" : "com.amazonaws.ssooidc#GrantType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Supports the following OAuth grant types: Authorization Code, Device Code, and Refresh\n      Token. Specify one of the following values, depending on the grant type that you want:</p>\n         <p>* Authorization Code - <code>authorization_code</code>\n         </p>\n         <p>* Device Code - <code>urn:ietf:params:oauth:grant-type:device_code</code>\n         </p>\n         <p>* Refresh Token - <code>refresh_token</code>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "redirectUri" : {
               "target" : "com.amazonaws.ssooidc#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Authorization Code grant type. This value\n      specifies the location of the client or application that has registered to receive the\n      authorization code.</p>"
               }
            },
            "refreshToken" : {
               "target" : "com.amazonaws.ssooidc#RefreshToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Refresh Token grant type. This token is used to\n      refresh short-lived tokens, such as the access token, that might expire.</p>\n         <p>For more information about the features and limitations of the current IAM Identity Center OIDC\n      implementation, see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>"
               }
            },
            "scope" : {
               "target" : "com.amazonaws.ssooidc#Scopes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of scopes for which authorization is requested. This parameter has no effect; the access token will always include all scopes configured during client registration.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#CreateTokenResponse" : {
         "members" : {
            "accessToken" : {
               "target" : "com.amazonaws.ssooidc#AccessToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A bearer token to access Amazon Web Services accounts and applications assigned to a user.</p>"
               }
            },
            "expiresIn" : {
               "target" : "com.amazonaws.ssooidc#ExpirationInSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Indicates the time in seconds when an access token will expire.</p>"
               }
            },
            "idToken" : {
               "target" : "com.amazonaws.ssooidc#IdToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>idToken</code> is not implemented or supported. For more information about the\n      features and limitations of the current IAM Identity Center OIDC implementation, see\n        <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>\n         <p>A JSON Web Token (JWT) that identifies who is associated with the issued access token.\n    </p>"
               }
            },
            "refreshToken" : {
               "target" : "com.amazonaws.ssooidc#RefreshToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that, if present, can be used to refresh a previously issued access token that\n      might have expired.</p>\n         <p>For more information about the features and limitations of the current IAM Identity Center OIDC\n      implementation, see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>"
               }
            },
            "tokenType" : {
               "target" : "com.amazonaws.ssooidc#TokenType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used to notify the client that the returned token is an access token. The supported token\n      type is <code>Bearer</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#CreateTokenWithIAM" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ssooidc#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ssooidc#AuthorizationPendingException"
            },
            {
               "target" : "com.amazonaws.ssooidc#ExpiredTokenException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InternalServerException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidClientException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidGrantException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidRequestRegionException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidScopeException"
            },
            {
               "target" : "com.amazonaws.ssooidc#SlowDownException"
            },
            {
               "target" : "com.amazonaws.ssooidc#UnauthorizedClientException"
            },
            {
               "target" : "com.amazonaws.ssooidc#UnsupportedGrantTypeException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ssooidc#CreateTokenWithIAMRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ssooidc#CreateTokenWithIAMResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates and returns access and refresh tokens for authorized client applications that are\n      authenticated using any IAM entity, such as a service\n      role or user. These tokens might contain defined scopes that specify permissions such as <code>read:profile</code> or <code>write:data</code>. Through downscoping, you can use the scopes parameter to request tokens with reduced permissions compared to the original client application's permissions or, if applicable, the refresh token's scopes. The access token can be used to fetch short-lived credentials for the assigned\n      Amazon Web Services accounts or to access application APIs using <code>bearer</code> authentication.</p>\n         <note>\n            <p>This API is used with Signature Version 4. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_sigv.html\">Amazon Web Services Signature\n          Version 4 for API Requests</a>.</p>\n         </note>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/token?aws_iam=t"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ssooidc#CreateTokenWithIAMRequest" : {
         "members" : {
            "assertion" : {
               "target" : "com.amazonaws.ssooidc#Assertion",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the JWT Bearer grant type. This value specifies the\n      JSON Web Token (JWT) issued by a trusted token issuer. To authorize a trusted token issuer,\n      configure the JWT Bearer GrantOptions for the application.</p>"
               }
            },
            "clientId" : {
               "target" : "com.amazonaws.ssooidc#ClientId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier string for the client or application. This value is an application\n      ARN that has OAuth grants configured.</p>",
                  "smithy.api#required" : {}
               }
            },
            "code" : {
               "target" : "com.amazonaws.ssooidc#AuthCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Authorization Code grant type. This short-lived\n      code is used to identify this authorization request. The code is obtained through a redirect\n      from IAM Identity Center to a redirect URI persisted in the Authorization Code GrantOptions for the\n      application.</p>"
               }
            },
            "codeVerifier" : {
               "target" : "com.amazonaws.ssooidc#CodeVerifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Authorization Code grant type. This value is\n      generated by the client and presented to validate the original code challenge value the client\n      passed at authorization time.</p>"
               }
            },
            "grantType" : {
               "target" : "com.amazonaws.ssooidc#GrantType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Supports the following OAuth grant types: Authorization Code, Refresh Token, JWT Bearer,\n      and Token Exchange. Specify one of the following values, depending on the grant type that you\n      want:</p>\n         <p>* Authorization Code - <code>authorization_code</code>\n         </p>\n         <p>* Refresh Token - <code>refresh_token</code>\n         </p>\n         <p>* JWT Bearer - <code>urn:ietf:params:oauth:grant-type:jwt-bearer</code>\n         </p>\n         <p>* Token Exchange - <code>urn:ietf:params:oauth:grant-type:token-exchange</code>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "redirectUri" : {
               "target" : "com.amazonaws.ssooidc#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Authorization Code grant type. This value\n      specifies the location of the client or application that has registered to receive the\n      authorization code. </p>"
               }
            },
            "refreshToken" : {
               "target" : "com.amazonaws.ssooidc#RefreshToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Refresh Token grant type. This token is used to\n      refresh short-lived tokens, such as the access token, that might expire.</p>\n         <p>For more information about the features and limitations of the current IAM Identity Center OIDC\n      implementation, see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>"
               }
            },
            "requestedTokenType" : {
               "target" : "com.amazonaws.ssooidc#TokenTypeURI",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Token Exchange grant type. This value specifies\n      the type of token that the requester can receive. The following values are supported:</p>\n         <p>* Access Token - <code>urn:ietf:params:oauth:token-type:access_token</code>\n         </p>\n         <p>* Refresh Token - <code>urn:ietf:params:oauth:token-type:refresh_token</code>\n         </p>"
               }
            },
            "scope" : {
               "target" : "com.amazonaws.ssooidc#Scopes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of scopes for which authorization is requested. The access token that is issued\n      is limited to the scopes that are granted. If the value is not specified, IAM Identity Center authorizes all\n      scopes configured for the application, including the following default scopes:\n        <code>openid</code>, <code>aws</code>, <code>sts:identity_context</code>.</p>"
               }
            },
            "subjectToken" : {
               "target" : "com.amazonaws.ssooidc#SubjectToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Token Exchange grant type. This value specifies\n      the subject of the exchange. The value of the subject token must be an access token issued by\n      IAM Identity Center to a different client or application. The access token must have authorized scopes that\n      indicate the requested application as a target audience.</p>"
               }
            },
            "subjectTokenType" : {
               "target" : "com.amazonaws.ssooidc#TokenTypeURI",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used only when calling this API for the Token Exchange grant type. This value specifies\n      the type of token that is passed as the subject of the exchange. The following value is\n      supported:</p>\n         <p>* Access Token - <code>urn:ietf:params:oauth:token-type:access_token</code>\n         </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#CreateTokenWithIAMResponse" : {
         "members" : {
            "accessToken" : {
               "target" : "com.amazonaws.ssooidc#AccessToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A bearer token to access Amazon Web Services accounts and applications assigned to a user.</p>"
               }
            },
            "awsAdditionalDetails" : {
               "target" : "com.amazonaws.ssooidc#AwsAdditionalDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>A structure containing information from IAM Identity Center managed user and group\n      information.</p>"
               }
            },
            "expiresIn" : {
               "target" : "com.amazonaws.ssooidc#ExpirationInSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Indicates the time in seconds when an access token will expire.</p>"
               }
            },
            "idToken" : {
               "target" : "com.amazonaws.ssooidc#IdToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON Web Token (JWT) that identifies the user associated with the issued access token.\n    </p>"
               }
            },
            "issuedTokenType" : {
               "target" : "com.amazonaws.ssooidc#TokenTypeURI",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the type of tokens that are issued by IAM Identity Center. The following values are supported: </p>\n         <p>* Access Token - <code>urn:ietf:params:oauth:token-type:access_token</code>\n         </p>\n         <p>* Refresh Token - <code>urn:ietf:params:oauth:token-type:refresh_token</code>\n         </p>"
               }
            },
            "refreshToken" : {
               "target" : "com.amazonaws.ssooidc#RefreshToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that, if present, can be used to refresh a previously issued access token that\n      might have expired.</p>\n         <p>For more information about the features and limitations of the current IAM Identity Center OIDC\n      implementation, see <i>Considerations for Using this Guide</i> in the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/OIDCAPIReference/Welcome.html\">IAM Identity Center\n        OIDC API Reference</a>.</p>"
               }
            },
            "scope" : {
               "target" : "com.amazonaws.ssooidc#Scopes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of scopes for which authorization is granted. The access token that is issued is\n      limited to the scopes that are granted.</p>"
               }
            },
            "tokenType" : {
               "target" : "com.amazonaws.ssooidc#TokenType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used to notify the requester that the returned token is an access token. The supported\n      token type is <code>Bearer</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#DeviceCode" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#Error" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#ErrorDescription" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#ExpirationInSeconds" : {
         "traits" : {
            "smithy.api#default" : 0
         },
         "type" : "integer"
      },
      "com.amazonaws.ssooidc#ExpiredTokenException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be <code>expired_token</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that the token issued by the service is expired and is no longer valid.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#GrantType" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#GrantTypes" : {
         "member" : {
            "target" : "com.amazonaws.ssooidc#GrantType"
         },
         "type" : "list"
      },
      "com.amazonaws.ssooidc#IdToken" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.ssooidc#IdentityContext" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#InternalServerException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be <code>server_error</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that an error from the service occurred while trying to process a\n      request.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#IntervalInSeconds" : {
         "traits" : {
            "smithy.api#default" : 0
         },
         "type" : "integer"
      },
      "com.amazonaws.ssooidc#InvalidClientException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be\n      <code>invalid_client</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that the <code>clientId</code> or <code>clientSecret</code> in the request is\n      invalid. For example, this can occur when a client sends an incorrect <code>clientId</code> or\n      an expired <code>clientSecret</code>.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 401
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#InvalidClientMetadataException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be\n        <code>invalid_client_metadata</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that the client information sent in the request during registration is\n      invalid.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#InvalidGrantException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be <code>invalid_grant</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that a request contains an invalid grant. This can occur if a client makes a\n        <a>CreateToken</a> request with an invalid grant type.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#InvalidRedirectUriException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be\n      <code>invalid_redirect_uri</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that one or more redirect URI in the request is not supported for this\n      operation.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#InvalidRequestException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be\n      <code>invalid_request</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            },
            "reason" : {
               "target" : "com.amazonaws.ssooidc#InvalidRequestExceptionReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string that uniquely identifies a reason for the error.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that something is wrong with the input to the request. For example, a required\n      parameter might be missing or out of range.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#InvalidRequestExceptionReason" : {
         "members" : {
            "KMS_DISABLED_KEY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "KMS_DisabledException"
               }
            },
            "KMS_INVALID_KEY_USAGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "KMS_InvalidKeyUsageException"
               }
            },
            "KMS_INVALID_STATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "KMS_InvalidStateException"
               }
            },
            "KMS_KEY_NOT_FOUND" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "KMS_NotFoundException"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.ssooidc#InvalidRequestRegionException" : {
         "members" : {
            "endpoint" : {
               "target" : "com.amazonaws.ssooidc#Location",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the IAM Identity Center endpoint which the requester may call with this token.</p>"
               }
            },
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be\n      <code>invalid_request</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            },
            "region" : {
               "target" : "com.amazonaws.ssooidc#Region",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the region which the requester may call with this token.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that a token provided as input to the request was issued by and is only usable\n      by calling IAM Identity Center endpoints in another region.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#InvalidScopeException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be <code>invalid_scope</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that the scope provided in the request is invalid.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#Location" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#LongTimeStampType" : {
         "traits" : {
            "smithy.api#default" : 0
         },
         "type" : "long"
      },
      "com.amazonaws.ssooidc#RedirectUris" : {
         "member" : {
            "target" : "com.amazonaws.ssooidc#URI"
         },
         "type" : "list"
      },
      "com.amazonaws.ssooidc#RefreshToken" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.ssooidc#Region" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#RegisterClient" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ssooidc#InternalServerException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidClientMetadataException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidRedirectUriException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidScopeException"
            },
            {
               "target" : "com.amazonaws.ssooidc#SlowDownException"
            },
            {
               "target" : "com.amazonaws.ssooidc#UnsupportedGrantTypeException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ssooidc#RegisterClientRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ssooidc#RegisterClientResponse"
         },
         "traits" : {
            "smithy.api#auth" : [],
            "smithy.api#documentation" : "<p>Registers a public client with IAM Identity Center. This allows clients to perform authorization using\n      the authorization code grant with Proof Key for Code Exchange (PKCE) or the device\n      code grant.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/client/register"
            },
            "smithy.api#optionalAuth" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.ssooidc#RegisterClientRequest" : {
         "members" : {
            "clientName" : {
               "target" : "com.amazonaws.ssooidc#ClientName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name of the client.</p>",
                  "smithy.api#required" : {}
               }
            },
            "clientType" : {
               "target" : "com.amazonaws.ssooidc#ClientType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of client. The service supports only <code>public</code> as a client type.\n      Anything other than public will be rejected by the service.</p>",
                  "smithy.api#required" : {}
               }
            },
            "entitledApplicationArn" : {
               "target" : "com.amazonaws.ssooidc#ArnType",
               "traits" : {
                  "smithy.api#documentation" : "<p>This IAM Identity Center application ARN is used to define administrator-managed configuration for\n      public client access to resources. At authorization, the scopes, grants, and redirect URI\n      available to this client will be restricted by this application resource.</p>"
               }
            },
            "grantTypes" : {
               "target" : "com.amazonaws.ssooidc#GrantTypes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of OAuth 2.0 grant types that are defined by the client. This list is used to\n      restrict the token granting flows available to the client. Supports the following OAuth 2.0\n      grant types: Authorization Code, Device Code, and Refresh Token. </p>\n         <p>* Authorization Code - <code>authorization_code</code>\n         </p>\n         <p>* Device Code - <code>urn:ietf:params:oauth:grant-type:device_code</code>\n         </p>\n         <p>* Refresh Token - <code>refresh_token</code>\n         </p>"
               }
            },
            "issuerUrl" : {
               "target" : "com.amazonaws.ssooidc#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>The IAM Identity Center Issuer URL associated with an instance of IAM Identity Center. This value is needed for user\n      access to resources through the client.</p>"
               }
            },
            "redirectUris" : {
               "target" : "com.amazonaws.ssooidc#RedirectUris",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of redirect URI that are defined by the client. At completion of authorization,\n      this list is used to restrict what locations the user agent can be redirected back to.</p>"
               }
            },
            "scopes" : {
               "target" : "com.amazonaws.ssooidc#Scopes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of scopes that are defined by the client. Upon authorization, this list is used\n      to restrict permissions when granting an access token.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#RegisterClientResponse" : {
         "members" : {
            "authorizationEndpoint" : {
               "target" : "com.amazonaws.ssooidc#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>An endpoint that the client can use to request authorization.</p>"
               }
            },
            "clientId" : {
               "target" : "com.amazonaws.ssooidc#ClientId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier string for each client. This client uses this identifier to get\n      authenticated by the service in subsequent calls.</p>"
               }
            },
            "clientIdIssuedAt" : {
               "target" : "com.amazonaws.ssooidc#LongTimeStampType",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Indicates the time at which the <code>clientId</code> and <code>clientSecret</code> were\n      issued.</p>"
               }
            },
            "clientSecret" : {
               "target" : "com.amazonaws.ssooidc#ClientSecret",
               "traits" : {
                  "smithy.api#documentation" : "<p>A secret string generated for the client. The client will use this string to get\n      authenticated by the service in subsequent calls.</p>"
               }
            },
            "clientSecretExpiresAt" : {
               "target" : "com.amazonaws.ssooidc#LongTimeStampType",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Indicates the time at which the <code>clientId</code> and <code>clientSecret</code> will\n      become invalid.</p>"
               }
            },
            "tokenEndpoint" : {
               "target" : "com.amazonaws.ssooidc#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>An endpoint that the client can use to create tokens.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#Scope" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#Scopes" : {
         "member" : {
            "target" : "com.amazonaws.ssooidc#Scope"
         },
         "type" : "list"
      },
      "com.amazonaws.ssooidc#SlowDownException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be <code>slow_down</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that the client is making the request too frequently and is more than the\n      service can handle. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#StartDeviceAuthorization" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ssooidc#InternalServerException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidClientException"
            },
            {
               "target" : "com.amazonaws.ssooidc#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.ssooidc#SlowDownException"
            },
            {
               "target" : "com.amazonaws.ssooidc#UnauthorizedClientException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ssooidc#StartDeviceAuthorizationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ssooidc#StartDeviceAuthorizationResponse"
         },
         "traits" : {
            "smithy.api#auth" : [],
            "smithy.api#documentation" : "<p>Initiates device authorization by requesting a pair of verification codes from the\n      authorization service.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/device_authorization"
            },
            "smithy.api#optionalAuth" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.ssooidc#StartDeviceAuthorizationRequest" : {
         "members" : {
            "clientId" : {
               "target" : "com.amazonaws.ssooidc#ClientId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier string for the client that is registered with IAM Identity Center. This value\n      should come from the persisted result of the <a>RegisterClient</a> API\n      operation.</p>",
                  "smithy.api#required" : {}
               }
            },
            "clientSecret" : {
               "target" : "com.amazonaws.ssooidc#ClientSecret",
               "traits" : {
                  "smithy.api#documentation" : "<p>A secret string that is generated for the client. This value should come from the\n      persisted result of the <a>RegisterClient</a> API operation.</p>",
                  "smithy.api#required" : {}
               }
            },
            "startUrl" : {
               "target" : "com.amazonaws.ssooidc#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL for the Amazon Web Services access portal. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/using-the-portal.html\">Using\n        the Amazon Web Services access portal</a> in the <i>IAM Identity Center User Guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#StartDeviceAuthorizationResponse" : {
         "members" : {
            "deviceCode" : {
               "target" : "com.amazonaws.ssooidc#DeviceCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The short-lived code that is used by the device when polling for a session token.</p>"
               }
            },
            "expiresIn" : {
               "target" : "com.amazonaws.ssooidc#ExpirationInSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Indicates the number of seconds in which the verification code will become invalid.</p>"
               }
            },
            "interval" : {
               "target" : "com.amazonaws.ssooidc#IntervalInSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Indicates the number of seconds the client must wait between attempts when polling for a\n      session.</p>"
               }
            },
            "userCode" : {
               "target" : "com.amazonaws.ssooidc#UserCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>A one-time user verification code. This is needed to authorize an in-use device.</p>"
               }
            },
            "verificationUri" : {
               "target" : "com.amazonaws.ssooidc#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URI of the verification page that takes the <code>userCode</code> to authorize the\n      device.</p>"
               }
            },
            "verificationUriComplete" : {
               "target" : "com.amazonaws.ssooidc#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>An alternate URL that the client can use to automatically launch a browser. This process\n      skips the manual step in which the user visits the verification page and enters their\n      code.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#SubjectToken" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.ssooidc#TokenType" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#TokenTypeURI" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#URI" : {
         "type" : "string"
      },
      "com.amazonaws.ssooidc#UnauthorizedClientException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be\n      <code>unauthorized_client</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that the client is not currently authorized to make the request. This can happen\n      when a <code>clientId</code> is not issued for a public client.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#UnsupportedGrantTypeException" : {
         "members" : {
            "error" : {
               "target" : "com.amazonaws.ssooidc#Error",
               "traits" : {
                  "smithy.api#documentation" : "<p>Single error code. For this exception the value will be\n        <code>unsupported_grant_type</code>.</p>"
               }
            },
            "error_description" : {
               "target" : "com.amazonaws.ssooidc#ErrorDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Human-readable text providing additional information, used to assist the client developer\n      in understanding the error that occurred.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indicates that the grant type in the request is not supported by the service.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.ssooidc#UserCode" : {
         "type" : "string"
      }
   },
   "smithy" : "2.0"
}
