{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.workdocs#AWSGorillaBoyService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.workdocs#AbortDocumentVersionUpload"
            },
            {
               "target" : "com.amazonaws.workdocs#ActivateUser"
            },
            {
               "target" : "com.amazonaws.workdocs#AddResourcePermissions"
            },
            {
               "target" : "com.amazonaws.workdocs#CreateComment"
            },
            {
               "target" : "com.amazonaws.workdocs#CreateCustomMetadata"
            },
            {
               "target" : "com.amazonaws.workdocs#CreateFolder"
            },
            {
               "target" : "com.amazonaws.workdocs#CreateLabels"
            },
            {
               "target" : "com.amazonaws.workdocs#CreateNotificationSubscription"
            },
            {
               "target" : "com.amazonaws.workdocs#CreateUser"
            },
            {
               "target" : "com.amazonaws.workdocs#DeactivateUser"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteComment"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteCustomMetadata"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteDocument"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteDocumentVersion"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteFolder"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteFolderContents"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteLabels"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteNotificationSubscription"
            },
            {
               "target" : "com.amazonaws.workdocs#DeleteUser"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeActivities"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeComments"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeDocumentVersions"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeFolderContents"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeGroups"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeNotificationSubscriptions"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeResourcePermissions"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeRootFolders"
            },
            {
               "target" : "com.amazonaws.workdocs#DescribeUsers"
            },
            {
               "target" : "com.amazonaws.workdocs#GetCurrentUser"
            },
            {
               "target" : "com.amazonaws.workdocs#GetDocument"
            },
            {
               "target" : "com.amazonaws.workdocs#GetDocumentPath"
            },
            {
               "target" : "com.amazonaws.workdocs#GetDocumentVersion"
            },
            {
               "target" : "com.amazonaws.workdocs#GetFolder"
            },
            {
               "target" : "com.amazonaws.workdocs#GetFolderPath"
            },
            {
               "target" : "com.amazonaws.workdocs#GetResources"
            },
            {
               "target" : "com.amazonaws.workdocs#InitiateDocumentVersionUpload"
            },
            {
               "target" : "com.amazonaws.workdocs#RemoveAllResourcePermissions"
            },
            {
               "target" : "com.amazonaws.workdocs#RemoveResourcePermission"
            },
            {
               "target" : "com.amazonaws.workdocs#RestoreDocumentVersions"
            },
            {
               "target" : "com.amazonaws.workdocs#SearchResources"
            },
            {
               "target" : "com.amazonaws.workdocs#UpdateDocument"
            },
            {
               "target" : "com.amazonaws.workdocs#UpdateDocumentVersion"
            },
            {
               "target" : "com.amazonaws.workdocs#UpdateFolder"
            },
            {
               "target" : "com.amazonaws.workdocs#UpdateUser"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "workdocs",
               "cloudFormationName" : "WorkDocs",
               "cloudTrailEventSource" : "workdocs.amazonaws.com",
               "endpointPrefix" : "workdocs",
               "sdkId" : "WorkDocs"
            },
            "aws.auth#sigv4" : {
               "name" : "workdocs"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>The Amazon WorkDocs API is designed for the following use cases:</p>\n         <ul>\n            <li>\n               <p>File Migration: File migration applications are supported for users who\n                    want to migrate their files from an on-premises or off-premises file system or\n                    service. Users can insert files into a user directory structure, as well as\n                    allow for basic metadata changes, such as modifications to the permissions of\n                    files.</p>\n            </li>\n            <li>\n               <p>Security: Support security applications are supported for users who have\n                    additional security needs, such as antivirus or data loss prevention. The API\n                    actions, along with CloudTrail, allow these applications to detect when\n                    changes occur in Amazon WorkDocs. Then, the application can take the necessary\n                    actions and replace the target file. If the target file violates the policy, the\n                    application can also choose to email the user.</p>\n            </li>\n            <li>\n               <p>eDiscovery/Analytics: General administrative applications are supported,\n                    such as eDiscovery and analytics. These applications can choose to mimic or\n                    record the actions in an Amazon WorkDocs site, along with CloudTrail, to\n                    replicate data for eDiscovery, backup, or analytical applications.</p>\n            </li>\n         </ul>\n         <p>All Amazon WorkDocs API actions are Amazon authenticated and certificate-signed.\n            They not only require the use of the Amazon Web Services SDK, but also allow for the exclusive use of\n            IAM users and roles to help facilitate access, trust, and permission policies. By\n            creating a role and allowing an IAM user to access the Amazon WorkDocs site, the\n            IAM user gains full administrative visibility into the entire Amazon WorkDocs site (or as\n            set in the IAM policy). This includes, but is not limited to, the ability to modify file\n            permissions and upload any file to any user. This allows developers to perform the three\n            use cases above, as well as give users the ability to grant access on a selective basis\n            using the IAM model.</p>\n         <note>\n            <p>The pricing for Amazon WorkDocs APIs varies depending on the API call type for these actions:</p>\n            <ul>\n               <li>\n                  <p>\n                     <code>READ  (Get*)</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>WRITE (Activate*, Add*, Create*, Deactivate*, Initiate*, Update*)</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>LIST (Describe*)</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>DELETE*, CANCEL</code>\n                  </p>\n               </li>\n            </ul>\n            <p>For information about Amazon WorkDocs API pricing, see <a href=\"https://aws.amazon.com/workdocs/pricing/\">Amazon WorkDocs Pricing</a>.</p>\n         </note>",
            "smithy.api#title" : "Amazon WorkDocs",
            "smithy.api#xmlNamespace" : {
               "uri" : "https://aws.amazon.com/api/v1/"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://workdocs-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://workdocs-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://workdocs.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://workdocs.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workdocs.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2016-05-01"
      },
      "com.amazonaws.workdocs#AbortDocumentVersionUpload" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#ProhibitedStateException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#AbortDocumentVersionUploadRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Aborts the upload of the specified document version that was previously initiated\n            by <a>InitiateDocumentVersionUpload</a>. The client should make this call\n            only when it no longer intends to upload the document version, or fails to do\n            so.</p>",
            "smithy.api#http" : {
               "code" : 204,
               "method" : "DELETE",
               "uri" : "/api/v1/documents/{DocumentId}/versions/{VersionId}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#AbortDocumentVersionUploadRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "DocumentId" : {
               "target" : "com.amazonaws.workdocs#ResourceIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the document.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "VersionId" : {
               "target" : "com.amazonaws.workdocs#DocumentVersionIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the version.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#ActivateUser" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#ActivateUserRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workdocs#ActivateUserResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Activates the specified user. Only active users can access Amazon\n            WorkDocs.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/api/v1/users/{UserId}/activation"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#ActivateUserRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "UserId" : {
               "target" : "com.amazonaws.workdocs#IdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the user.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#ActivateUserResponse" : {
         "members" : {
            "User" : {
               "target" : "com.amazonaws.workdocs#User",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user information.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#Activity" : {
         "members" : {
            "CommentMetadata" : {
               "target" : "com.amazonaws.workdocs#CommentMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata of the commenting activity. This is an optional field and is filled for\n            commenting activities.</p>"
               }
            },
            "Initiator" : {
               "target" : "com.amazonaws.workdocs#UserMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user who performed the action.</p>"
               }
            },
            "IsIndirectActivity" : {
               "target" : "com.amazonaws.workdocs#BooleanType",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Indicates whether an activity is indirect or direct. An indirect activity results\n            from a direct activity performed on a parent resource. For example, sharing a parent\n            folder (the direct activity) shares all of the subfolders and documents within the\n            parent folder (the indirect activity).</p>"
               }
            },
            "OrganizationId" : {
               "target" : "com.amazonaws.workdocs#IdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the organization.</p>"
               }
            },
            "OriginalParent" : {
               "target" : "com.amazonaws.workdocs#ResourceMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>The original parent of the resource. This is an optional field and is filled for\n            move activities.</p>"
               }
            },
            "Participants" : {
               "target" : "com.amazonaws.workdocs#Participants",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of users or groups impacted by this action. This is an optional field and\n            is filled for the following sharing activities: DOCUMENT_SHARED, DOCUMENT_SHARED,\n            DOCUMENT_UNSHARED, FOLDER_SHARED, FOLDER_UNSHARED.</p>"
               }
            },
            "ResourceMetadata" : {
               "target" : "com.amazonaws.workdocs#ResourceMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata of the resource involved in the user action.</p>"
               }
            },
            "TimeStamp" : {
               "target" : "com.amazonaws.workdocs#TimestampType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the action was performed.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.workdocs#ActivityType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The activity type.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the activity information.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#ActivityNamesFilterType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\w,]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.workdocs#ActivityType" : {
         "members" : {
            "DOCUMENT_ANNOTATION_ADDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_ANNOTATION_ADDED"
               }
            },
            "DOCUMENT_ANNOTATION_DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_ANNOTATION_DELETED"
               }
            },
            "DOCUMENT_CHECKED_IN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_CHECKED_IN"
               }
            },
            "DOCUMENT_CHECKED_OUT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_CHECKED_OUT"
               }
            },
            "DOCUMENT_COMMENT_ADDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_COMMENT_ADDED"
               }
            },
            "DOCUMENT_COMMENT_DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_COMMENT_DELETED"
               }
            },
            "DOCUMENT_MOVED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_MOVED"
               }
            },
            "DOCUMENT_RECYCLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_RECYCLED"
               }
            },
            "DOCUMENT_RENAMED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_RENAMED"
               }
            },
            "DOCUMENT_RESTORED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_RESTORED"
               }
            },
            "DOCUMENT_REVERTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_REVERTED"
               }
            },
            "DOCUMENT_SHAREABLE_LINK_CREATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_SHAREABLE_LINK_CREATED"
               }
            },
            "DOCUMENT_SHAREABLE_LINK_PERMISSION_CHANGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_SHAREABLE_LINK_PERMISSION_CHANGED"
               }
            },
            "DOCUMENT_SHAREABLE_LINK_REMOVED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_SHAREABLE_LINK_REMOVED"
               }
            },
            "DOCUMENT_SHARED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_SHARED"
               }
            },
            "DOCUMENT_SHARE_PERMISSION_CHANGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_SHARE_PERMISSION_CHANGED"
               }
            },
            "DOCUMENT_UNSHARED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_UNSHARED"
               }
            },
            "DOCUMENT_VERSION_DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_VERSION_DELETED"
               }
            },
            "DOCUMENT_VERSION_DOWNLOADED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_VERSION_DOWNLOADED"
               }
            },
            "DOCUMENT_VERSION_UPLOADED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_VERSION_UPLOADED"
               }
            },
            "DOCUMENT_VERSION_VIEWED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT_VERSION_VIEWED"
               }
            },
            "FOLDER_CREATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_CREATED"
               }
            },
            "FOLDER_DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_DELETED"
               }
            },
            "FOLDER_MOVED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_MOVED"
               }
            },
            "FOLDER_RECYCLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_RECYCLED"
               }
            },
            "FOLDER_RENAMED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_RENAMED"
               }
            },
            "FOLDER_RESTORED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_RESTORED"
               }
            },
            "FOLDER_SHAREABLE_LINK_CREATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_SHAREABLE_LINK_CREATED"
               }
            },
            "FOLDER_SHAREABLE_LINK_PERMISSION_CHANGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_SHAREABLE_LINK_PERMISSION_CHANGED"
               }
            },
            "FOLDER_SHAREABLE_LINK_REMOVED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_SHAREABLE_LINK_REMOVED"
               }
            },
            "FOLDER_SHARED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_SHARED"
               }
            },
            "FOLDER_SHARE_PERMISSION_CHANGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_SHARE_PERMISSION_CHANGED"
               }
            },
            "FOLDER_UNSHARED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FOLDER_UNSHARED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.workdocs#AddResourcePermissions" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#ProhibitedStateException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#AddResourcePermissionsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workdocs#AddResourcePermissionsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a set of permissions for the specified folder or document. The resource\n            permissions are overwritten if the principals already have different\n            permissions.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "POST",
               "uri" : "/api/v1/resources/{ResourceId}/permissions"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#AddResourcePermissionsRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "NotificationOptions" : {
               "target" : "com.amazonaws.workdocs#NotificationOptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>The notification options.</p>"
               }
            },
            "Principals" : {
               "target" : "com.amazonaws.workdocs#SharePrincipalList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The users, groups, or organization being granted permission.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ResourceId" : {
               "target" : "com.amazonaws.workdocs#ResourceIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the resource.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#AddResourcePermissionsResponse" : {
         "members" : {
            "ShareResults" : {
               "target" : "com.amazonaws.workdocs#ShareResultsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The share results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#AdditionalResponseFieldType" : {
         "members" : {
            "WEBURL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "WEBURL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.workdocs#AdditionalResponseFieldsList" : {
         "member" : {
            "target" : "com.amazonaws.workdocs#AdditionalResponseFieldType"
         },
         "type" : "list"
      },
      "com.amazonaws.workdocs#AuthenticationHeaderType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 8199,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.workdocs#BooleanEnumType" : {
         "members" : {
            "FALSE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FALSE"
               }
            },
            "TRUE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TRUE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.workdocs#BooleanType" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.workdocs#Comment" : {
         "members" : {
            "CommentId" : {
               "target" : "com.amazonaws.workdocs#CommentIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the comment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Contributor" : {
               "target" : "com.amazonaws.workdocs#User",
               "traits" : {
                  "smithy.api#documentation" : "<p>The details of the user who made the comment.</p>"
               }
            },
            "CreatedTimestamp" : {
               "target" : "com.amazonaws.workdocs#TimestampType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time that the comment was created.</p>"
               }
            },
            "ParentId" : {
               "target" : "com.amazonaws.workdocs#CommentIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the parent comment.</p>"
               }
            },
            "RecipientId" : {
               "target" : "com.amazonaws.workdocs#IdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the comment is a reply to another user's comment, this field contains the user\n            ID of the user being replied to.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.workdocs#CommentStatusType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the comment.</p>"
               }
            },
            "Text" : {
               "target" : "com.amazonaws.workdocs#CommentTextType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The text of the comment.</p>"
               }
            },
            "ThreadId" : {
               "target" : "com.amazonaws.workdocs#CommentIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the root comment in the thread.</p>"
               }
            },
            "Visibility" : {
               "target" : "com.amazonaws.workdocs#CommentVisibilityType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The visibility of the comment. Options are either PRIVATE, where the comment is\n            visible only to the comment author and document owner and co-owners, or PUBLIC, where\n            the comment is visible to document owners, co-owners, and contributors.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a comment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CommentIdType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\w+-.@]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.workdocs#CommentList" : {
         "member" : {
            "target" : "com.amazonaws.workdocs#Comment"
         },
         "type" : "list"
      },
      "com.amazonaws.workdocs#CommentMetadata" : {
         "members" : {
            "CommentId" : {
               "target" : "com.amazonaws.workdocs#CommentIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the comment.</p>"
               }
            },
            "CommentStatus" : {
               "target" : "com.amazonaws.workdocs#CommentStatusType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the comment.</p>"
               }
            },
            "Contributor" : {
               "target" : "com.amazonaws.workdocs#User",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user who made the comment.</p>"
               }
            },
            "ContributorId" : {
               "target" : "com.amazonaws.workdocs#IdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the user who made the comment.</p>"
               }
            },
            "CreatedTimestamp" : {
               "target" : "com.amazonaws.workdocs#TimestampType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp that the comment was created.</p>"
               }
            },
            "RecipientId" : {
               "target" : "com.amazonaws.workdocs#IdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the user being replied to.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the metadata of a comment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CommentStatusType" : {
         "members" : {
            "DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETED"
               }
            },
            "DRAFT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DRAFT"
               }
            },
            "PUBLISHED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PUBLISHED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.workdocs#CommentTextType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.workdocs#CommentVisibilityType" : {
         "members" : {
            "PRIVATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PRIVATE"
               }
            },
            "PUBLIC" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PUBLIC"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.workdocs#ConcurrentModificationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.workdocs#ErrorMessageType"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The resource hierarchy is changing.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#ConflictingOperationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.workdocs#ErrorMessageType"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Another operation is in progress on the resource that conflicts with the current operation.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#ContentCategoryType" : {
         "members" : {
            "AUDIO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AUDIO"
               }
            },
            "DOCUMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT"
               }
            },
            "IMAGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IMAGE"
               }
            },
            "OTHER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OTHER"
               }
            },
            "PDF" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PDF"
               }
            },
            "PRESENTATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PRESENTATION"
               }
            },
            "SOURCE_CODE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_CODE"
               }
            },
            "SPREADSHEET" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SPREADSHEET"
               }
            },
            "VIDEO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VIDEO"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.workdocs#CreateComment" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#DocumentLockedForCommentsException"
            },
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#InvalidCommentOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#ProhibitedStateException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#CreateCommentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workdocs#CreateCommentResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Adds a new comment to the specified document version.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "POST",
               "uri" : "/api/v1/documents/{DocumentId}/versions/{VersionId}/comment"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#CreateCommentRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "DocumentId" : {
               "target" : "com.amazonaws.workdocs#ResourceIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the document.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "NotifyCollaborators" : {
               "target" : "com.amazonaws.workdocs#BooleanType",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Set this parameter to TRUE to send an email out to the document collaborators after\n            the comment is created.</p>"
               }
            },
            "ParentId" : {
               "target" : "com.amazonaws.workdocs#CommentIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the parent comment.</p>"
               }
            },
            "Text" : {
               "target" : "com.amazonaws.workdocs#CommentTextType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The text of the comment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ThreadId" : {
               "target" : "com.amazonaws.workdocs#CommentIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the root comment in the thread.</p>"
               }
            },
            "VersionId" : {
               "target" : "com.amazonaws.workdocs#DocumentVersionIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the document version.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "Visibility" : {
               "target" : "com.amazonaws.workdocs#CommentVisibilityType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The visibility of the comment. Options are either PRIVATE, where the comment is\n            visible only to the comment author and document owner and co-owners, or PUBLIC, where\n            the comment is visible to document owners, co-owners, and contributors.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateCommentResponse" : {
         "members" : {
            "Comment" : {
               "target" : "com.amazonaws.workdocs#Comment",
               "traits" : {
                  "smithy.api#documentation" : "<p>The comment that has been created.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateCustomMetadata" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#CustomMetadataLimitExceededException"
            },
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#ProhibitedStateException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#CreateCustomMetadataRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workdocs#CreateCustomMetadataResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Adds one or more custom properties to the specified resource (a folder, document,\n            or version).</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/api/v1/resources/{ResourceId}/customMetadata"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#CreateCustomMetadataRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "CustomMetadata" : {
               "target" : "com.amazonaws.workdocs#CustomMetadataMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Custom metadata in the form of name-value pairs.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ResourceId" : {
               "target" : "com.amazonaws.workdocs#ResourceIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the resource.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "VersionId" : {
               "target" : "com.amazonaws.workdocs#DocumentVersionIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the version, if the custom metadata is being added to a document\n            version.</p>",
                  "smithy.api#httpQuery" : "versionid"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateCustomMetadataResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateFolder" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.workdocs#ConflictingOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#EntityAlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.workdocs#ProhibitedStateException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#CreateFolderRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workdocs#CreateFolderResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a folder with the specified name and parent folder.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "POST",
               "uri" : "/api/v1/folders"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#CreateFolderRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.workdocs#ResourceNameType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the new folder.</p>"
               }
            },
            "ParentFolderId" : {
               "target" : "com.amazonaws.workdocs#ResourceIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the parent folder.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateFolderResponse" : {
         "members" : {
            "Metadata" : {
               "target" : "com.amazonaws.workdocs#FolderMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata of the folder.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateLabels" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#TooManyLabelsException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#CreateLabelsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workdocs#CreateLabelsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Adds the specified list of labels to the given resource (a document or\n            folder)</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/api/v1/resources/{ResourceId}/labels"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#CreateLabelsRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "Labels" : {
               "target" : "com.amazonaws.workdocs#SharedLabels",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of labels to add to the resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ResourceId" : {
               "target" : "com.amazonaws.workdocs#ResourceIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the resource.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateLabelsResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateNotificationSubscription" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#InvalidArgumentException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#TooManySubscriptionsException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#CreateNotificationSubscriptionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workdocs#CreateNotificationSubscriptionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configure Amazon WorkDocs to use Amazon SNS notifications. The endpoint receives a\n            confirmation message, and must confirm the subscription.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/workdocs/latest/developerguide/manage-notifications.html\">Setting up notifications for an IAM user or role</a> in the <i>Amazon WorkDocs Developer\n            Guide</i>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/api/v1/organizations/{OrganizationId}/subscriptions"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#CreateNotificationSubscriptionRequest" : {
         "members" : {
            "Endpoint" : {
               "target" : "com.amazonaws.workdocs#SubscriptionEndPointType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The endpoint to receive the notifications. If the protocol is HTTPS, the endpoint\n            is a URL that begins with <code>https</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "OrganizationId" : {
               "target" : "com.amazonaws.workdocs#IdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the organization.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "Protocol" : {
               "target" : "com.amazonaws.workdocs#SubscriptionProtocolType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The protocol to use. The supported value is https, which delivers JSON-encoded\n            messages using HTTPS POST.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SubscriptionType" : {
               "target" : "com.amazonaws.workdocs#SubscriptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The notification type.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateNotificationSubscriptionResponse" : {
         "members" : {
            "Subscription" : {
               "target" : "com.amazonaws.workdocs#Subscription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The subscription.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateUser" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#EntityAlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#CreateUserRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workdocs#CreateUserResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a user in a Simple AD or Microsoft AD directory. The status of a newly\n            created user is \"ACTIVE\". New users can access Amazon WorkDocs.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "POST",
               "uri" : "/api/v1/users"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#CreateUserRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "EmailAddress" : {
               "target" : "com.amazonaws.workdocs#EmailAddressType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The email address of the user.</p>"
               }
            },
            "GivenName" : {
               "target" : "com.amazonaws.workdocs#UserAttributeValueType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The given name of the user.</p>",
                  "smithy.api#required" : {}
               }
            },
            "OrganizationId" : {
               "target" : "com.amazonaws.workdocs#IdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the organization.</p>"
               }
            },
            "Password" : {
               "target" : "com.amazonaws.workdocs#PasswordType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The password of the user.</p>",
                  "smithy.api#required" : {}
               }
            },
            "StorageRule" : {
               "target" : "com.amazonaws.workdocs#StorageRuleType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The amount of storage for the user.</p>"
               }
            },
            "Surname" : {
               "target" : "com.amazonaws.workdocs#UserAttributeValueType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The surname of the user.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TimeZoneId" : {
               "target" : "com.amazonaws.workdocs#TimeZoneIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time zone ID of the user.</p>"
               }
            },
            "Username" : {
               "target" : "com.amazonaws.workdocs#UsernameType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The login name of the user.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CreateUserResponse" : {
         "members" : {
            "User" : {
               "target" : "com.amazonaws.workdocs#User",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user information.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CustomMetadataKeyList" : {
         "member" : {
            "target" : "com.amazonaws.workdocs#CustomMetadataKeyType"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 8,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.workdocs#CustomMetadataKeyType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 56,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.workdocs#CustomMetadataLimitExceededException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.workdocs#ErrorMessageType"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The limit has been reached on the number of custom properties for the specified\n            resource.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#CustomMetadataMap" : {
         "key" : {
            "target" : "com.amazonaws.workdocs#CustomMetadataKeyType"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 8,
               "min" : 1
            }
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.workdocs#CustomMetadataValueType"
         }
      },
      "com.amazonaws.workdocs#CustomMetadataValueType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9._+-/=][a-zA-Z0-9 ._+-/=]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.workdocs#DateRangeType" : {
         "members" : {
            "EndValue" : {
               "target" : "com.amazonaws.workdocs#TimestampType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Timestamp range end value (in epochs).</p>"
               }
            },
            "StartValue" : {
               "target" : "com.amazonaws.workdocs#TimestampType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Timestamp range start value (in epochs)</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Filters results based on timestamp range (in epochs).</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#DeactivateUser" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#DeactivateUserRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deactivates the specified user, which revokes the user's access to Amazon\n            WorkDocs.</p>",
            "smithy.api#http" : {
               "code" : 204,
               "method" : "DELETE",
               "uri" : "/api/v1/users/{UserId}/activation"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#DeactivateUserRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "UserId" : {
               "target" : "com.amazonaws.workdocs#IdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the user.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#DeactivatingLastSystemUserException" : {
         "members" : {
            "Code" : {
               "target" : "com.amazonaws.workdocs#ExceptionCodeType"
            },
            "Message" : {
               "target" : "com.amazonaws.workdocs#ErrorMessageType"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The last user in the organization is being deactivated.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#DeleteComment" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#DocumentLockedForCommentsException"
            },
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
            {
               "target" : "com.amazonaws.workdocs#FailedDependencyException"
            },
            {
               "target" : "com.amazonaws.workdocs#ProhibitedStateException"
            },
            {
               "target" : "com.amazonaws.workdocs#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedOperationException"
            },
            {
               "target" : "com.amazonaws.workdocs#UnauthorizedResourceAccessException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workdocs#DeleteCommentRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the specified comment from the document version.</p>",
            "smithy.api#http" : {
               "code" : 204,
               "method" : "DELETE",
               "uri" : "/api/v1/documents/{DocumentId}/versions/{VersionId}/comment/{CommentId}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workdocs#DeleteCommentRequest" : {
         "members" : {
            "AuthenticationToken" : {
               "target" : "com.amazonaws.workdocs#AuthenticationHeaderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon WorkDocs authentication token. Not required when using Amazon Web Services administrator credentials to access the API.</p>",
                  "smithy.api#httpHeader" : "Authentication"
               }
            },
            "CommentId" : {
               "target" : "com.amazonaws.workdocs#CommentIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the comment.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "DocumentId" : {
               "target" : "com.amazonaws.workdocs#ResourceIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the document.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "VersionId" : {
               "target" : "com.amazonaws.workdocs#DocumentVersionIdType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the document version.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workdocs#DeleteCustomMetadata" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workdocs#EntityNotExistsException"
            },
[...]
