{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.migrationhubconfig#AWSMigrationHubMultiAccountService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.migrationhubconfig#CreateHomeRegionControl"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#DeleteHomeRegionControl"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#DescribeHomeRegionControls"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#GetHomeRegion"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "mgh",
               "cloudFormationName" : "MigrationHubConfig",
               "cloudTrailEventSource" : "migrationhubconfig.amazonaws.com",
               "endpointPrefix" : "migrationhub-config",
               "sdkId" : "MigrationHub Config"
            },
            "aws.auth#sigv4" : {
               "name" : "mgh"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>The AWS Migration Hub home region APIs are available specifically for working with your\n      Migration Hub home region. You can use these APIs to determine a home region, as well as to\n      create and work with controls that describe the home region.</p>\n         <ul>\n            <li>\n               <p>You must make API calls for write actions (create, notify, associate, disassociate,\n          import, or put) while in your home region, or a <code>HomeRegionNotSetException</code>\n          error is returned.</p>\n            </li>\n            <li>\n               <p>API calls for read actions (list, describe, stop, and delete) are permitted outside of\n          your home region.</p>\n            </li>\n            <li>\n               <p>If you call a write API outside the home region, an <code>InvalidInputException</code>\n          is returned.</p>\n            </li>\n            <li>\n               <p>You can call <code>GetHomeRegion</code> action to obtain the account's Migration Hub\n          home region.</p>\n            </li>\n         </ul>\n         <p>For specific API usage, see the sections that follow in this AWS Migration Hub Home Region\n      API reference. </p>",
            "smithy.api#title" : "AWS Migration Hub Config",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://migrationhub-config-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://migrationhub-config-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://migrationhub-config.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://migrationhub-config.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-config.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2019-06-30"
      },
      "com.amazonaws.migrationhubconfig#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhubconfig#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#ControlId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            },
            "smithy.api#pattern" : "^hrc-[a-z0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubconfig#CreateHomeRegionControl" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubconfig#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubconfig#CreateHomeRegionControlRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubconfig#CreateHomeRegionControlResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This API sets up the home region for the calling account only.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubconfig#CreateHomeRegionControlRequest" : {
         "members" : {
            "DryRun" : {
               "target" : "com.amazonaws.migrationhubconfig#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional Boolean flag to indicate whether any effect should take place. It tests whether\n      the caller has permission to make the call.</p>"
               }
            },
            "HomeRegion" : {
               "target" : "com.amazonaws.migrationhubconfig#HomeRegion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the home region of the calling account.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Target" : {
               "target" : "com.amazonaws.migrationhubconfig#Target",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account for which this command sets up a home region control. The <code>Target</code>\n      is always of type <code>ACCOUNT</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#CreateHomeRegionControlResult" : {
         "members" : {
            "HomeRegionControl" : {
               "target" : "com.amazonaws.migrationhubconfig#HomeRegionControl",
               "traits" : {
                  "smithy.api#documentation" : "<p>This object is the <code>HomeRegionControl</code> object that's returned by a successful\n      call to <code>CreateHomeRegionControl</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#DeleteHomeRegionControl" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubconfig#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubconfig#DeleteHomeRegionControlRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubconfig#DeleteHomeRegionControlResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation deletes the home region configuration for the calling account. The operation does not delete discovery or migration tracking data in the home region.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubconfig#DeleteHomeRegionControlRequest" : {
         "members" : {
            "ControlId" : {
               "target" : "com.amazonaws.migrationhubconfig#ControlId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier that's generated for each home region control. It's always a string\n      that begins with \"hrc-\" followed by 12 lowercase letters and numbers.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#DeleteHomeRegionControlResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#DescribeHomeRegionControls" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubconfig#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubconfig#DescribeHomeRegionControlsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubconfig#DescribeHomeRegionControlsResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This API permits filtering on the <code>ControlId</code> and <code>HomeRegion</code>\n      fields.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubconfig#DescribeHomeRegionControlsMaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.migrationhubconfig#DescribeHomeRegionControlsRequest" : {
         "members" : {
            "ControlId" : {
               "target" : "com.amazonaws.migrationhubconfig#ControlId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>ControlID</code> is a unique identifier string of your\n        <code>HomeRegionControl</code> object.</p>"
               }
            },
            "HomeRegion" : {
               "target" : "com.amazonaws.migrationhubconfig#HomeRegion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the home region you'd like to view.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.migrationhubconfig#DescribeHomeRegionControlsMaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of filtering results to display per page. </p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhubconfig#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, more results are available.\n      To retrieve the next page of results, make the call again using the returned token in\n        <code>NextToken</code>.</p>"
               }
            },
            "Target" : {
               "target" : "com.amazonaws.migrationhubconfig#Target",
               "traits" : {
                  "smithy.api#documentation" : "<p>The target parameter specifies the identifier to which the home region is applied, which\n      is always of type <code>ACCOUNT</code>. It applies the home region to the current\n        <code>ACCOUNT</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#DescribeHomeRegionControlsResult" : {
         "members" : {
            "HomeRegionControls" : {
               "target" : "com.amazonaws.migrationhubconfig#HomeRegionControls",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array that contains your <code>HomeRegionControl</code> objects.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhubconfig#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, more results are available.\n      To retrieve the next page of results, make the call again using the returned token in\n        <code>NextToken</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#DryRun" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.migrationhubconfig#DryRunOperation" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhubconfig#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exception raised to indicate that authorization of an action was successful, when the\n        <code>DryRun</code> flag is set to true.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#ErrorMessage" : {
         "type" : "string"
      },
      "com.amazonaws.migrationhubconfig#GetHomeRegion" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubconfig#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhubconfig#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubconfig#GetHomeRegionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubconfig#GetHomeRegionResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the calling account’s home region, if configured. This API is used by other AWS\n      services to determine the regional endpoint for calling AWS Application Discovery Service and\n      Migration Hub. You must call <code>GetHomeRegion</code> at least once before you call any\n      other AWS Application Discovery Service and AWS Migration Hub APIs, to obtain the account's\n      Migration Hub home region.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubconfig#GetHomeRegionRequest" : {
         "members" : {},
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#GetHomeRegionResult" : {
         "members" : {
            "HomeRegion" : {
               "target" : "com.amazonaws.migrationhubconfig#HomeRegion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the home region of the calling account.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#HomeRegion" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            },
            "smithy.api#pattern" : "^([a-z]+)-([a-z]+)-([0-9]+)$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubconfig#HomeRegionControl" : {
         "members" : {
            "ControlId" : {
               "target" : "com.amazonaws.migrationhubconfig#ControlId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier that's generated for each home region control. It's always a string\n      that begins with \"hrc-\" followed by 12 lowercase letters and numbers.</p>"
               }
            },
            "HomeRegion" : {
               "target" : "com.amazonaws.migrationhubconfig#HomeRegion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The AWS Region that's been set as home region. For example, \"us-west-2\" or \"eu-central-1\"\n      are valid home regions.</p>"
               }
            },
            "RequestedTime" : {
               "target" : "com.amazonaws.migrationhubconfig#RequestedTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>A timestamp representing the time when the customer called\n        <code>CreateHomeregionControl</code> and set the home region for the account.</p>"
               }
            },
            "Target" : {
               "target" : "com.amazonaws.migrationhubconfig#Target",
               "traits" : {
                  "smithy.api#documentation" : "<p>The target parameter specifies the identifier to which the home region is applied, which\n      is always an <code>ACCOUNT</code>. It applies the home region to the current\n        <code>ACCOUNT</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A home region control is an object that specifies the home region for an account, with\n      some additional information. It contains a target (always of type <code>ACCOUNT</code>), an\n      ID, and a time at which the home region was set.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#HomeRegionControls" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubconfig#HomeRegionControl"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubconfig#InternalServerError" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhubconfig#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exception raised when an internal, configuration, or dependency error is\n      encountered.</p>",
            "smithy.api#error" : "server"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#InvalidInputException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhubconfig#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in the\n      wrong format or data type.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#RequestedTime" : {
         "type" : "timestamp"
      },
      "com.amazonaws.migrationhubconfig#RetryAfterSeconds" : {
         "traits" : {
            "smithy.api#default" : 0
         },
         "type" : "integer"
      },
      "com.amazonaws.migrationhubconfig#ServiceUnavailableException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhubconfig#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exception raised when a request fails due to temporary unavailability of the\n      service.</p>",
            "smithy.api#error" : "server"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#Target" : {
         "members" : {
            "Id" : {
               "target" : "com.amazonaws.migrationhubconfig#TargetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>TargetID</code> is a 12-character identifier of the <code>ACCOUNT</code> for\n      which the control was created. (This must be the current account.) </p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.migrationhubconfig#TargetType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The target type is always an <code>ACCOUNT</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The target parameter specifies the identifier to which the home region is applied, which\n      is always an <code>ACCOUNT</code>. It applies the home region to the current\n        <code>ACCOUNT</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#TargetId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^\\d{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubconfig#TargetType" : {
         "members" : {
            "ACCOUNT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACCOUNT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.migrationhubconfig#ThrottlingException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhubconfig#ErrorMessage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "RetryAfterSeconds" : {
               "target" : "com.amazonaws.migrationhubconfig#RetryAfterSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The number of seconds the caller should wait before retrying.</p>",
                  "smithy.api#httpHeader" : "Retry-After"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request was denied due to request throttling.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubconfig#Token" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 0
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9\\/\\+\\=]{0,2048}$"
         },
         "type" : "string"
      }
   },
   "smithy" : "2.0"
}
