{
   "shapes" : {
      "com.amazonaws.migrationhubstrategy#AWSMigrationHubStrategyRecommendation" : {
         "operations" : [
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetails"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategies"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetAssessment"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetImportFileTask"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetLatestAssessmentId"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetPortfolioPreferences"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetPortfolioSummary"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetRecommendationReportDetails"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetServerDetails"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#GetServerStrategies"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ListAnalyzableServers"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ListApplicationComponents"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ListCollectors"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ListImportFileTask"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ListServers"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#PutPortfolioPreferences"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#StartAssessment"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#StartImportFileTask"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#StartRecommendationReportGeneration"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#StopAssessment"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#UpdateApplicationComponentConfig"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#UpdateServerConfig"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "cloudTrailEventSource" : "migrationhub-strategy.amazonaws.com",
               "endpointPrefix" : "migrationhub-strategy",
               "sdkId" : "MigrationHubStrategy"
            },
            "aws.auth#sigv4" : {
               "name" : "migrationhub-strategy"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<fullname>Migration Hub Strategy Recommendations</fullname>\n         <p>This API reference provides descriptions, syntax, and other details about each of the\n      actions and data types for Migration Hub Strategy Recommendations (Strategy Recommendations). The topic for each action shows the API\n      request parameters and the response. Alternatively, you can use one of the AWS SDKs to\n      access an API that is tailored to the programming language or platform that you're using. For\n      more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p>",
            "smithy.api#title" : "Migration Hub Strategy Recommendations",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://migrationhub-strategy-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://migrationhub-strategy-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://migrationhub-strategy.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://migrationhub-strategy.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://migrationhub-strategy.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-02-19"
      },
      "com.amazonaws.migrationhubstrategy#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The user does not have permission to perform the action. Check the\n      AWS Identity and Access Management (IAM) policy associated with this user.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AnalysisStatusUnion" : {
         "members" : {
            "runtimeAnalysisStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#RuntimeAnalysisStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the analysis.</p>"
               }
            },
            "srcCodeOrDbAnalysisStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#SrcCodeOrDbAnalysisStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the source code or database analysis.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A combination of existing analysis statuses.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.migrationhubstrategy#AnalysisType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "SOURCE_CODE_ANALYSIS",
                  "value" : "SOURCE_CODE_ANALYSIS"
               },
               {
                  "name" : "DATABASE_ANALYSIS",
                  "value" : "DATABASE_ANALYSIS"
               },
               {
                  "name" : "RUNTIME_ANALYSIS",
                  "value" : "RUNTIME_ANALYSIS"
               },
               {
                  "name" : "BINARY_ANALYSIS",
                  "value" : "BINARY_ANALYSIS"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AnalyzableServerSummary" : {
         "members" : {
            "hostname" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "The host name of the analyzable server."
               }
            },
            "ipAddress" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "The ip address of the analyzable server."
               }
            },
            "source" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "The data source of the analyzable server."
               }
            },
            "vmId" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "The virtual machine id of the analyzable server."
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Summary information about an analyzable server."
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AnalyzableServerSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#AnalyzableServerSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#AnalyzerNameUnion" : {
         "members" : {
            "binaryAnalyzerName" : {
               "target" : "com.amazonaws.migrationhubstrategy#BinaryAnalyzerName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The binary analyzer names.</p>"
               }
            },
            "runTimeAnalyzerName" : {
               "target" : "com.amazonaws.migrationhubstrategy#RunTimeAnalyzerName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The assessment analyzer names.</p>"
               }
            },
            "sourceCodeAnalyzerName" : {
               "target" : "com.amazonaws.migrationhubstrategy#SourceCodeAnalyzerName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source code analyzer names.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The combination of the existing analyzers.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.migrationhubstrategy#AntipatternReportResult" : {
         "members" : {
            "analyzerName" : {
               "target" : "com.amazonaws.migrationhubstrategy#AnalyzerNameUnion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The analyzer name.</p>"
               }
            },
            "antiPatternReportS3Object" : {
               "target" : "com.amazonaws.migrationhubstrategy#S3Object"
            },
            "antipatternReportStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#AntipatternReportStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the anti-pattern report generation.</p>"
               }
            },
            "antipatternReportStatusMessage" : {
               "target" : "com.amazonaws.migrationhubstrategy#StatusMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status message for the anti-pattern.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The anti-pattern report result.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AntipatternReportResultList" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#AntipatternReportResult"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#AntipatternReportStatus" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "FAILED",
                  "value" : "FAILED"
               },
               {
                  "name" : "IN_PROGRESS",
                  "value" : "IN_PROGRESS"
               },
               {
                  "name" : "SUCCESS",
                  "value" : "SUCCESS"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AntipatternSeveritySummary" : {
         "members" : {
            "count" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> Contains the count of anti-patterns. </p>"
               }
            },
            "severity" : {
               "target" : "com.amazonaws.migrationhubstrategy#Severity",
               "traits" : {
                  "smithy.api#documentation" : "<p> Contains the severity of anti-patterns. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Contains the summary of anti-patterns and their severity. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AppType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "dotNetFramework",
                  "value" : "DotNetFramework"
               },
               {
                  "name" : "java",
                  "value" : "Java"
               },
               {
                  "name" : "sqlServer",
                  "value" : "SQLServer"
               },
               {
                  "name" : "IIS",
                  "value" : "IIS"
               },
               {
                  "name" : "oracle",
                  "value" : "Oracle"
               },
               {
                  "name" : "other",
                  "value" : "Other"
               },
               {
                  "name" : "tomcat",
                  "value" : "Tomcat"
               },
               {
                  "name" : "jboss",
                  "value" : "JBoss"
               },
               {
                  "name" : "spring",
                  "value" : "Spring"
               },
               {
                  "name" : "mongodb",
                  "value" : "Mongo DB"
               },
               {
                  "name" : "db2",
                  "value" : "DB2"
               },
               {
                  "name" : "mariadb",
                  "value" : "Maria DB"
               },
               {
                  "name" : "mysql",
                  "value" : "MySQL"
               },
               {
                  "name" : "sybase",
                  "value" : "Sybase"
               },
               {
                  "name" : "postgresqlserver",
                  "value" : "PostgreSQLServer"
               },
               {
                  "name" : "cassandra",
                  "value" : "Cassandra"
               },
               {
                  "name" : "websphere",
                  "value" : "IBM WebSphere"
               },
               {
                  "name" : "weblogic",
                  "value" : "Oracle WebLogic"
               },
               {
                  "name" : "visualbasic",
                  "value" : "Visual Basic"
               },
               {
                  "name" : "unknown",
                  "value" : "Unknown"
               },
               {
                  "name" : "dotnetcore",
                  "value" : "DotnetCore"
               },
               {
                  "name" : "dotnet",
                  "value" : "Dotnet"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AppUnitError" : {
         "members" : {
            "appUnitErrorCategory" : {
               "target" : "com.amazonaws.migrationhubstrategy#AppUnitErrorCategory",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the error.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Error in the analysis of the application unit.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AppUnitErrorCategory" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "CREDENTIAL_ERROR",
                  "value" : "CREDENTIAL_ERROR"
               },
               {
                  "name" : "CONNECTIVITY_ERROR",
                  "value" : "CONNECTIVITY_ERROR"
               },
               {
                  "name" : "PERMISSION_ERROR",
                  "value" : "PERMISSION_ERROR"
               },
               {
                  "name" : "UNSUPPORTED_ERROR",
                  "value" : "UNSUPPORTED_ERROR"
               },
               {
                  "name" : "OTHER_ERROR",
                  "value" : "OTHER_ERROR"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationComponentCriteria" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "NOT_DEFINED",
                  "value" : "NOT_DEFINED"
               },
               {
                  "name" : "APP_NAME",
                  "value" : "APP_NAME"
               },
               {
                  "name" : "SERVER_ID",
                  "value" : "SERVER_ID"
               },
               {
                  "name" : "APP_TYPE",
                  "value" : "APP_TYPE"
               },
               {
                  "name" : "STRATEGY",
                  "value" : "STRATEGY"
               },
               {
                  "name" : "DESTINATION",
                  "value" : "DESTINATION"
               },
               {
                  "name" : "ANALYSIS_STATUS",
                  "value" : "ANALYSIS_STATUS"
               },
               {
                  "name" : "ERROR_CATEGORY",
                  "value" : "ERROR_CATEGORY"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationComponentDetail" : {
         "members" : {
            "analysisStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#SrcCodeOrDbAnalysisStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The status of analysis, if the application component has source code or an associated\n      database. </p>"
               }
            },
            "antipatternReportS3Object" : {
               "target" : "com.amazonaws.migrationhubstrategy#S3Object",
               "traits" : {
                  "smithy.api#documentation" : "<p> The S3 bucket name and the Amazon S3 key name for the anti-pattern report. </p>"
               }
            },
            "antipatternReportStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#AntipatternReportStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The status of the anti-pattern report generation.</p>"
               }
            },
            "antipatternReportStatusMessage" : {
               "target" : "com.amazonaws.migrationhubstrategy#StatusMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p> The status message for the anti-pattern. </p>"
               }
            },
            "appType" : {
               "target" : "com.amazonaws.migrationhubstrategy#AppType",
               "traits" : {
                  "smithy.api#documentation" : "<p> The type of application component. </p>"
               }
            },
            "appUnitError" : {
               "target" : "com.amazonaws.migrationhubstrategy#AppUnitError",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error in the analysis of the source code or database.</p>"
               }
            },
            "associatedServerId" : {
               "target" : "com.amazonaws.migrationhubstrategy#ServerId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the server that the application component is running on. </p>"
               }
            },
            "databaseConfigDetail" : {
               "target" : "com.amazonaws.migrationhubstrategy#DatabaseConfigDetail",
               "traits" : {
                  "smithy.api#documentation" : "<p> Configuration details for the database associated with the application component. </p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.migrationhubstrategy#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the application component. </p>"
               }
            },
            "inclusionStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#InclusionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates whether the application component has been included for server recommendation\n      or not. </p>"
               }
            },
            "lastAnalyzedTimestamp" : {
               "target" : "com.amazonaws.migrationhubstrategy#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The timestamp of when the application component was assessed. </p>"
               }
            },
            "listAntipatternSeveritySummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ListAntipatternSeveritySummary",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of anti-pattern severity summaries. </p>"
               }
            },
            "moreServerAssociationExists" : {
               "target" : "com.amazonaws.migrationhubstrategy#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p> Set to true if the application component is running on multiple servers.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.migrationhubstrategy#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name of application component. </p>"
               }
            },
            "osDriver" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> OS driver. </p>"
               }
            },
            "osVersion" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> OS version. </p>"
               }
            },
            "recommendationSet" : {
               "target" : "com.amazonaws.migrationhubstrategy#RecommendationSet",
               "traits" : {
                  "smithy.api#documentation" : "<p> The top recommendation set for the application component. </p>"
               }
            },
            "resourceSubType" : {
               "target" : "com.amazonaws.migrationhubstrategy#ResourceSubType",
               "traits" : {
                  "smithy.api#documentation" : "<p> The application component subtype.</p>"
               }
            },
            "resultList" : {
               "target" : "com.amazonaws.migrationhubstrategy#ResultList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of the analysis results.</p>"
               }
            },
            "runtimeStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#RuntimeAnalysisStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the application unit.</p>"
               }
            },
            "runtimeStatusMessage" : {
               "target" : "com.amazonaws.migrationhubstrategy#StatusMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status message for the application unit.</p>"
               }
            },
            "sourceCodeRepositories" : {
               "target" : "com.amazonaws.migrationhubstrategy#SourceCodeRepositories",
               "traits" : {
                  "smithy.api#documentation" : "<p> Details about the source code repository associated with the application component.\n    </p>"
               }
            },
            "statusMessage" : {
               "target" : "com.amazonaws.migrationhubstrategy#StatusMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p> A detailed description of the analysis status and any failure message. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Contains detailed information about an application component. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationComponentDetails" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#ApplicationComponentDetail"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationComponentId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 44
            },
            "smithy.api#pattern" : "[0-9a-zA-Z-]+"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationComponentStatusSummary" : {
         "members" : {
            "count" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of application components successfully analyzed, partially successful or failed\n      analysis.</p>"
               }
            },
            "srcCodeOrDbAnalysisStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#SrcCodeOrDbAnalysisStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of database analysis.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary of the analysis status of the application component.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationComponentStrategies" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#ApplicationComponentStrategy"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationComponentStrategy" : {
         "members" : {
            "isPreferred" : {
               "target" : "com.amazonaws.migrationhubstrategy#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p> Set to true if the recommendation is set as preferred. </p>"
               }
            },
            "recommendation" : {
               "target" : "com.amazonaws.migrationhubstrategy#RecommendationSet",
               "traits" : {
                  "smithy.api#documentation" : "<p> Strategy recommendation for the application component. </p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhubstrategy#StrategyRecommendation",
               "traits" : {
                  "smithy.api#documentation" : "<p> The recommendation status of a strategy for an application component. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Contains information about a strategy recommendation for an application component.\n    </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationComponentSummary" : {
         "members" : {
            "appType" : {
               "target" : "com.amazonaws.migrationhubstrategy#AppType",
               "traits" : {
                  "smithy.api#documentation" : "<p> Contains the name of application types. </p>"
               }
            },
            "count" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> Contains the count of application type. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Contains the summary of application components. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationMode" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "ALL",
                  "value" : "ALL"
               },
               {
                  "name" : "KNOWN",
                  "value" : "KNOWN"
               },
               {
                  "name" : "UNKNOWN",
                  "value" : "UNKNOWN"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#ApplicationPreferences" : {
         "members" : {
            "managementPreference" : {
               "target" : "com.amazonaws.migrationhubstrategy#ManagementPreference",
               "traits" : {
                  "smithy.api#documentation" : "<p> Application preferences that you specify to prefer managed environment. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Application preferences that you specify. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AssessmentDataSourceType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "SR_COLLECTOR",
                  "value" : "StrategyRecommendationsApplicationDataCollector"
               },
               {
                  "name" : "MANUAL_IMPORT",
                  "value" : "ManualImport"
               },
               {
                  "name" : "ADS",
                  "value" : "ApplicationDiscoveryService"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AssessmentStatus" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "IN_PROGRESS",
                  "value" : "IN_PROGRESS"
               },
               {
                  "name" : "COMPLETE",
                  "value" : "COMPLETE"
               },
               {
                  "name" : "FAILED",
                  "value" : "FAILED"
               },
               {
                  "name" : "STOPPED",
                  "value" : "STOPPED"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AssessmentStatusMessage" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#pattern" : ".*\\S.*"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AssessmentSummary" : {
         "members" : {
            "antipatternReportS3Object" : {
               "target" : "com.amazonaws.migrationhubstrategy#S3Object",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon S3 object containing the anti-pattern report. </p>"
               }
            },
            "antipatternReportStatus" : {
               "target" : "com.amazonaws.migrationhubstrategy#AntipatternReportStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The status of the anti-pattern report. </p>"
               }
            },
            "antipatternReportStatusMessage" : {
               "target" : "com.amazonaws.migrationhubstrategy#StatusMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p> The status message of the anti-pattern report. </p>"
               }
            },
            "lastAnalyzedTimestamp" : {
               "target" : "com.amazonaws.migrationhubstrategy#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The time the assessment was performed. </p>"
               }
            },
            "listAntipatternSeveritySummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ListAntipatternSeveritySummary",
               "traits" : {
                  "smithy.api#documentation" : "<p> List of AntipatternSeveritySummary. </p>"
               }
            },
            "listApplicationComponentStatusSummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ListApplicationComponentStatusSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of status summaries of the analyzed application components.</p>"
               }
            },
            "listApplicationComponentStrategySummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ListStrategySummary",
               "traits" : {
                  "smithy.api#documentation" : "<p> List of ApplicationComponentStrategySummary. </p>"
               }
            },
            "listApplicationComponentSummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ListApplicationComponentSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p> List of ApplicationComponentSummary. </p>"
               }
            },
            "listServerStatusSummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ListServerStatusSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of status summaries of the analyzed servers.</p>"
               }
            },
            "listServerStrategySummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ListStrategySummary",
               "traits" : {
                  "smithy.api#documentation" : "<p> List of ServerStrategySummary. </p>"
               }
            },
            "listServerSummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ListServerSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p> List of ServerSummary. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Contains the summary of the assessment results. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AssessmentTarget" : {
         "members" : {
            "condition" : {
               "target" : "com.amazonaws.migrationhubstrategy#Condition",
               "traits" : {
                  "smithy.api#documentation" : "<p>Condition of an assessment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "name" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Name of an assessment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "values" : {
               "target" : "com.amazonaws.migrationhubstrategy#AssessmentTargetValues",
               "traits" : {
                  "smithy.api#documentation" : "<p>Values of an assessment.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines the criteria of assessment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AssessmentTargetValues" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#String"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#AssessmentTargets" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#AssessmentTarget"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#AssociatedApplication" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> ID of the application as defined in Application Discovery Service. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> Name of the application as defined in Application Discovery Service. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Object containing details about applications as defined in Application Discovery Service. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AssociatedApplications" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#AssociatedApplication"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#AssociatedServerIDs" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#String"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#AsyncTaskId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 52,
               "min" : 0
            },
            "smithy.api#pattern" : "[0-9a-z-:]+"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AuthType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "NTLM",
                  "value" : "NTLM"
               },
               {
                  "name" : "SSH",
                  "value" : "SSH"
               },
               {
                  "name" : "CERT",
                  "value" : "CERT"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AwsManagedResources" : {
         "members" : {
            "targetDestination" : {
               "target" : "com.amazonaws.migrationhubstrategy#AwsManagedTargetDestinations",
               "traits" : {
                  "smithy.api#documentation" : "<p> The choice of application destination that you specify. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Object containing the choice of application destination that you specify. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#AwsManagedTargetDestination" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "NONE_SPECIFIED",
                  "value" : "None specified"
               },
               {
                  "name" : "AWS_ELASTIC_BEANSTALK",
                  "value" : "AWS Elastic BeanStalk"
               },
               {
                  "name" : "AWS_FARGATE",
                  "value" : "AWS Fargate"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#AwsManagedTargetDestinations" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#AwsManagedTargetDestination"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#BinaryAnalyzerName" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "DLL_ANALYZER",
                  "value" : "DLL_ANALYZER"
               },
               {
                  "name" : "BYTECODE_ANALYZER",
                  "value" : "BYTECODE_ANALYZER"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#Boolean" : {
         "type" : "boolean"
      },
      "com.amazonaws.migrationhubstrategy#BusinessGoals" : {
         "members" : {
            "licenseCostReduction" : {
               "target" : "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p> Business goal to reduce license costs. </p>"
               }
            },
            "modernizeInfrastructureWithCloudNativeTechnologies" : {
               "target" : "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p> Business goal to modernize infrastructure by moving to cloud native technologies. </p>"
               }
            },
            "reduceOperationalOverheadWithManagedServices" : {
               "target" : "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p> Business goal to reduce the operational overhead on the team by moving into managed\n      services. </p>"
               }
            },
            "speedOfMigration" : {
               "target" : "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p> Business goal to achieve migration at a fast pace. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Business goals that you specify. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 5,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.migrationhubstrategy#Collector" : {
         "members" : {
            "collectorHealth" : {
               "target" : "com.amazonaws.migrationhubstrategy#CollectorHealth",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates the health of a collector. </p>"
               }
            },
            "collectorId" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the collector. </p>"
               }
            },
            "collectorVersion" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> Current version of the collector that is running in the environment that you specify.\n    </p>"
               }
            },
            "configurationSummary" : {
               "target" : "com.amazonaws.migrationhubstrategy#ConfigurationSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>Summary of the collector configuration.</p>"
               }
            },
            "hostName" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> Hostname of the server that is hosting the collector. </p>"
               }
            },
            "ipAddress" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> IP address of the server that is hosting the collector. </p>"
               }
            },
            "lastActivityTimeStamp" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> Time when the collector last pinged the service. </p>"
               }
            },
            "registeredTimeStamp" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> Time when the collector registered with the service. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Process data collector that runs in the environment that you specify. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#CollectorHealth" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "COLLECTOR_HEALTHY",
                  "value" : "COLLECTOR_HEALTHY"
               },
               {
                  "name" : "COLLECTOR_UNHEALTHY",
                  "value" : "COLLECTOR_UNHEALTHY"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#Collectors" : {
         "member" : {
            "target" : "com.amazonaws.migrationhubstrategy#Collector"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhubstrategy#Condition" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "EQUALS",
                  "value" : "EQUALS"
               },
               {
                  "name" : "NOT_EQUALS",
                  "value" : "NOT_EQUALS"
               },
               {
                  "name" : "CONTAINS",
                  "value" : "CONTAINS"
               },
               {
                  "name" : "NOT_CONTAINS",
                  "value" : "NOT_CONTAINS"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#ConfigurationSummary" : {
         "members" : {
            "ipAddressBasedRemoteInfoList" : {
               "target" : "com.amazonaws.migrationhubstrategy#IPAddressBasedRemoteInfoList",
               "traits" : {
                  "smithy.api#documentation" : "<p>IP address based configurations.</p>"
               }
            },
            "pipelineInfoList" : {
               "target" : "com.amazonaws.migrationhubstrategy#PipelineInfoList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of pipeline info configurations.</p>"
               }
            },
            "remoteSourceCodeAnalysisServerInfo" : {
               "target" : "com.amazonaws.migrationhubstrategy#RemoteSourceCodeAnalysisServerInfo",
               "traits" : {
                  "smithy.api#documentation" : "<p>Info about the remote server source code configuration.</p>"
               }
            },
            "vcenterBasedRemoteInfoList" : {
               "target" : "com.amazonaws.migrationhubstrategy#VcenterBasedRemoteInfoList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of vCenter configurations.</p>"
               }
            },
            "versionControlInfoList" : {
               "target" : "com.amazonaws.migrationhubstrategy#VersionControlInfoList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of the version control configurations.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary of the collector configuration.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Exception to indicate that there is an ongoing task when a new task is created. Return\n      when once the existing tasks are complete. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#DataCollectionDetails" : {
         "members" : {
            "completionTime" : {
               "target" : "com.amazonaws.migrationhubstrategy#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The time the assessment completes. </p>"
               }
            },
            "failed" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of failed servers in the assessment. </p>"
               }
            },
            "inProgress" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of servers with the assessment status <code>IN_PROGESS</code>. </p>"
               }
            },
            "servers" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The total number of servers in the assessment. </p>"
               }
            },
            "startTime" : {
               "target" : "com.amazonaws.migrationhubstrategy#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The start time of assessment. </p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhubstrategy#AssessmentStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The status of the assessment. </p>"
               }
            },
            "statusMessage" : {
               "target" : "com.amazonaws.migrationhubstrategy#AssessmentStatusMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status message of the assessment.</p>"
               }
            },
            "success" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of successful servers in the assessment. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Detailed information about an assessment. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#DataSourceType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "ADS",
                  "value" : "ApplicationDiscoveryService"
               },
               {
                  "name" : "MPA",
                  "value" : "MPA"
               },
               {
                  "name" : "IMPORT",
                  "value" : "Import"
               },
               {
                  "name" : "MHSR_COLLECTOR",
                  "value" : "StrategyRecommendationsApplicationDataCollector"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#DatabaseConfigDetail" : {
         "members" : {
            "secretName" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> AWS Secrets Manager key that holds the credentials that you use to connect to a database.\n    </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Configuration information used for assessing databases. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#DatabaseManagementPreference" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "AWS_MANAGED",
                  "value" : "AWS-managed"
               },
               {
                  "name" : "SELF_MANAGE",
                  "value" : "Self-manage"
               },
               {
                  "name" : "NO_PREFERENCE",
                  "value" : "No preference"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhubstrategy#DatabaseMigrationPreference" : {
         "members" : {
            "heterogeneous" : {
               "target" : "com.amazonaws.migrationhubstrategy#Heterogeneous",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates whether you are interested in moving from one type of database to another. For\n      example, from SQL Server to Amazon Aurora MySQL-Compatible Edition. </p>"
               }
            },
            "homogeneous" : {
               "target" : "com.amazonaws.migrationhubstrategy#Homogeneous",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates whether you are interested in moving to the same type of database into AWS.\n      For example, from SQL Server in your environment to SQL Server on AWS. </p>"
               }
            },
            "noPreference" : {
               "target" : "com.amazonaws.migrationhubstrategy#NoDatabaseMigrationPreference",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicated that you do not prefer heterogeneous or homogeneous. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Preferences for migrating a database to AWS. </p>"
         },
         "type" : "union"
      },
      "com.amazonaws.migrationhubstrategy#DatabasePreferences" : {
         "members" : {
            "databaseManagementPreference" : {
               "target" : "com.amazonaws.migrationhubstrategy#DatabaseManagementPreference",
               "traits" : {
                  "smithy.api#documentation" : "<p> Specifies whether you're interested in self-managed databases or databases managed by\n      AWS. </p>"
               }
            },
            "databaseMigrationPreference" : {
               "target" : "com.amazonaws.migrationhubstrategy#DatabaseMigrationPreference",
               "traits" : {
                  "smithy.api#documentation" : "<p> Specifies your preferred migration path. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Preferences on managing your databases on AWS. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#DependencyException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.migrationhubstrategy#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Dependency encountered an error.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetails" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubstrategy#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetailsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetailsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Retrieves details about an application component. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/get-applicationcomponent-details/{applicationComponentId}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetailsRequest" : {
         "members" : {
            "applicationComponentId" : {
               "target" : "com.amazonaws.migrationhubstrategy#ApplicationComponentId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the application component. The ID is unique within an AWS account.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetailsResponse" : {
         "members" : {
            "applicationComponentDetail" : {
               "target" : "com.amazonaws.migrationhubstrategy#ApplicationComponentDetail",
               "traits" : {
                  "smithy.api#documentation" : "<p> Detailed information about an application component. </p>"
               }
            },
            "associatedApplications" : {
               "target" : "com.amazonaws.migrationhubstrategy#AssociatedApplications",
               "traits" : {
                  "smithy.api#documentation" : "<p> The associated application group as defined in AWS Application Discovery Service. </p>"
               }
            },
            "associatedServerIds" : {
               "target" : "com.amazonaws.migrationhubstrategy#AssociatedServerIDs",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of the IDs of the servers on which the application component is running. </p>"
               }
            },
            "moreApplicationResource" : {
               "target" : "com.amazonaws.migrationhubstrategy#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p> Set to true if the application component belongs to more than one application group.\n    </p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategies" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubstrategy#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategiesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategiesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Retrieves a list of all the recommended strategies and tools for an application component\n      running on a server. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/get-applicationcomponent-strategies/{applicationComponentId}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategiesRequest" : {
         "members" : {
            "applicationComponentId" : {
               "target" : "com.amazonaws.migrationhubstrategy#ApplicationComponentId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the application component. The ID is unique within an AWS account.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategiesResponse" : {
         "members" : {
            "applicationComponentStrategies" : {
               "target" : "com.amazonaws.migrationhubstrategy#ApplicationComponentStrategies",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of application component strategy recommendations. </p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetAssessment" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubstrategy#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetAssessmentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetAssessmentResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Retrieves the status of an on-going assessment. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/get-assessment/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubstrategy#GetAssessmentRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhubstrategy#AsyncTaskId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The <code>assessmentid</code> returned by <a>StartAssessment</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetAssessmentResponse" : {
         "members" : {
            "assessmentTargets" : {
               "target" : "com.amazonaws.migrationhubstrategy#AssessmentTargets",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of criteria for assessment.</p>"
               }
            },
            "dataCollectionDetails" : {
               "target" : "com.amazonaws.migrationhubstrategy#DataCollectionDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p> Detailed information about the assessment. </p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.migrationhubstrategy#AsyncTaskId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID for the specific assessment task. </p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetImportFileTask" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubstrategy#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetImportFileTaskRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetImportFileTaskResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Retrieves the details about a specific import task. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/get-import-file-task/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubstrategy#GetImportFileTaskRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the import file task. This ID is returned in the response of <a>StartImportFileTask</a>. </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetImportFileTaskResponse" : {
         "members" : {
            "completionTime" : {
               "target" : "com.amazonaws.migrationhubstrategy#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The time that the import task completed. </p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> The import file task <code>id</code> returned in the response of <a>StartImportFileTask</a>. </p>"
               }
            },
            "importName" : {
               "target" : "com.amazonaws.migrationhubstrategy#String",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name of the import task given in <a>StartImportFileTask</a>. </p>"
               }
            },
            "inputS3Bucket" : {
               "target" : "com.amazonaws.migrationhubstrategy#importS3Bucket",
               "traits" : {
                  "smithy.api#documentation" : "<p> The S3 bucket where import file is located. </p>"
               }
            },
            "inputS3Key" : {
               "target" : "com.amazonaws.migrationhubstrategy#importS3Key",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon S3 key name of the import file. </p>"
               }
            },
            "numberOfRecordsFailed" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of records that failed to be imported. </p>"
               }
            },
            "numberOfRecordsSuccess" : {
               "target" : "com.amazonaws.migrationhubstrategy#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of records successfully imported. </p>"
               }
            },
            "startTime" : {
               "target" : "com.amazonaws.migrationhubstrategy#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> Start time of the import task. </p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.migrationhubstrategy#ImportFileTaskStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> Status of import file task. </p>"
               }
            },
            "statusReportS3Bucket" : {
               "target" : "com.amazonaws.migrationhubstrategy#importS3Bucket",
               "traits" : {
                  "smithy.api#documentation" : "<p> The S3 bucket name for status report of import task. </p>"
               }
            },
            "statusReportS3Key" : {
               "target" : "com.amazonaws.migrationhubstrategy#importS3Key",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon S3 key name for status report of import task. The report contains details about\n      whether each record imported successfully or why it did not.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetLatestAssessmentId" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubstrategy#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#DependencyException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetLatestAssessmentIdRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetLatestAssessmentIdResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieve the latest ID of a specific assessment task.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/get-latest-assessment-id"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhubstrategy#GetLatestAssessmentIdRequest" : {
         "members" : {},
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetLatestAssessmentIdResponse" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.migrationhubstrategy#AsyncTaskId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The latest ID for the specific assessment task.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhubstrategy#GetPortfolioPreferences" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhubstrategy#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#InternalServerException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhubstrategy#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetPortfolioPreferencesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhubstrategy#GetPortfolioPreferencesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Retrieves your migration and modernization preferences. </p>",
[...]
