{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.costandusagereportservice#AWSOrigamiServiceGatewayService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.costandusagereportservice#DeleteReportDefinition"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#DescribeReportDefinitions"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ModifyReportDefinition"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#PutReportDefinition"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#TagResource"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#UntagResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "cur",
               "cloudFormationName" : "CostandUsageReportService",
               "cloudTrailEventSource" : "costandusagereportservice.amazonaws.com",
               "docId" : "cur-2017-01-06",
               "endpointPrefix" : "cur",
               "sdkId" : "Cost and Usage Report Service"
            },
            "aws.auth#sigv4" : {
               "name" : "cur"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>You can use the Amazon Web Services Cost and Usage Report API to programmatically create, query, and delete \n      Amazon Web Services Cost and Usage Report definitions.</p>\n         <p>Amazon Web Services Cost and Usage Report track the monthly Amazon Web Services costs and usage \n      associated with your Amazon Web Services account.\n    \n        The report contains line items for each unique combination of Amazon Web Services product,\n        usage type, and operation that your Amazon Web Services account uses. \n        \n        You can configure the Amazon Web Services Cost and Usage Report to show only the data that you want, using the\n      Amazon Web Services Cost and Usage Report API.</p>\n         <p>Service Endpoint</p>\n         <p>The Amazon Web Services Cost and Usage Report API provides the following endpoint:</p>\n         <ul>\n            <li>\n               <p>cur.us-east-1.amazonaws.com</p>\n            </li>\n         </ul>",
            "smithy.api#title" : "AWS Cost and Usage Report Service",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cur-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cur-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cur.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://cur.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cur.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2017-01-06"
      },
      "com.amazonaws.costandusagereportservice#AWSRegion" : {
         "members" : {
            "BAHRAIN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "me-south-1"
               }
            },
            "BEIJING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "cn-north-1"
               }
            },
            "CANADA_CENTRAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ca-central-1"
               }
            },
            "CAPE_TOWN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "af-south-1"
               }
            },
            "FRANKFURT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu-central-1"
               }
            },
            "HONG_KONG" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-east-1"
               }
            },
            "HYDERABAD" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-south-2"
               }
            },
            "IRELAND" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu-west-1"
               }
            },
            "JAKARTA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-southeast-3"
               }
            },
            "LONDON" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu-west-2"
               }
            },
            "MILANO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu-south-1"
               }
            },
            "MUMBAI" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-south-1"
               }
            },
            "NINGXIA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "cn-northwest-1"
               }
            },
            "NORTHERN_CALIFORNIA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "us-west-1"
               }
            },
            "OHIO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "us-east-2"
               }
            },
            "OREGON" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "us-west-2"
               }
            },
            "OSAKA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-northeast-3"
               }
            },
            "PARIS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu-west-3"
               }
            },
            "SAO_PAULO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "sa-east-1"
               }
            },
            "SEOUL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-northeast-2"
               }
            },
            "SINGAPORE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-southeast-1"
               }
            },
            "SPAIN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu-south-2"
               }
            },
            "STOCKHOLM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu-north-1"
               }
            },
            "SYDNEY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-southeast-2"
               }
            },
            "TOKYO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ap-northeast-1"
               }
            },
            "UAE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "me-central-1"
               }
            },
            "US_STANDARD" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "us-east-1"
               }
            },
            "ZURICH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu-central-2"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The region of the S3 bucket that Amazon Web Services delivers the report into.</p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.costandusagereportservice#AdditionalArtifact" : {
         "members" : {
            "ATHENA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ATHENA"
               }
            },
            "QUICKSIGHT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "QUICKSIGHT"
               }
            },
            "REDSHIFT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REDSHIFT"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The types of manifest that you want Amazon Web Services to create for this report.</p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.costandusagereportservice#AdditionalArtifactList" : {
         "member" : {
            "target" : "com.amazonaws.costandusagereportservice#AdditionalArtifact"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A list of additional artifacts.</p>"
         },
         "type" : "list"
      },
      "com.amazonaws.costandusagereportservice#BillingViewArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 0
            },
            "smithy.api#pattern" : "^(arn:aws(-cn)?:billing::[0-9]{12}:billingview/)?[a-zA-Z0-9_\\+=\\.\\-@].{1,30}$"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#CompressionFormat" : {
         "members" : {
            "GZIP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "GZIP"
               }
            },
            "Parquet" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Parquet"
               }
            },
            "ZIP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ZIP"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The compression format that Amazon Web Services uses for the report.</p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.costandusagereportservice#DeleteReportDefinition" : {
         "errors" : [
            {
               "target" : "com.amazonaws.costandusagereportservice#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.costandusagereportservice#DeleteReportDefinitionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.costandusagereportservice#DeleteReportDefinitionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the specified report. Any tags associated with the report are also\n      deleted.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.costandusagereportservice#DeleteReportDefinitionRequest" : {
         "members" : {
            "ReportName" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the report that you want to delete. The name must be unique, is case sensitive, and can't include spaces.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the specified report.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#DeleteReportDefinitionResponse" : {
         "members" : {
            "ResponseMessage" : {
               "target" : "com.amazonaws.costandusagereportservice#DeleteResponseMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#DeleteResponseMessage" : {
         "traits" : {
            "smithy.api#documentation" : "<p>Whether the deletion was successful or not.</p>"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#DescribeReportDefinitions" : {
         "errors" : [
            {
               "target" : "com.amazonaws.costandusagereportservice#InternalErrorException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.costandusagereportservice#DescribeReportDefinitionsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.costandusagereportservice#DescribeReportDefinitionsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the Amazon Web Services Cost and Usage Report available to this account.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            },
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "success" : {}
                  },
                  "id" : "DescribeReportDefinitionsSuccess",
                  "params" : {},
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.costandusagereportservice#DescribeReportDefinitionsRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.costandusagereportservice#MaxResults"
            },
            "NextToken" : {
               "target" : "com.amazonaws.costandusagereportservice#GenericString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Requests a Amazon Web Services Cost and Usage Report list owned by the account.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#DescribeReportDefinitionsResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.costandusagereportservice#GenericString"
            },
            "ReportDefinitions" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportDefinitionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An Amazon Web Services Cost and Usage Report list owned by the account.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#DuplicateReportNameException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.costandusagereportservice#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A report with the specified name already exists in the account. Specify a different report name.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#ErrorMessage" : {
         "traits" : {
            "smithy.api#documentation" : "<p>A message to show the detail of the exception.</p>"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#GenericString" : {
         "traits" : {
            "smithy.api#documentation" : "<p>A generic string.</p>",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^[A-Za-z0-9_\\.\\-=]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#InternalErrorException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.costandusagereportservice#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
            "smithy.api#error" : "server"
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#LastDelivery" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 20,
               "min" : 16
            },
            "smithy.api#pattern" : "^[0-9]{8}[T][0-9]{6}([Z]|[+-][0-9]{4})$"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#LastStatus" : {
         "members" : {
            "ERROR_NO_BUCKET" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ERROR_NO_BUCKET"
               }
            },
            "ERROR_PERMISSIONS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ERROR_PERMISSIONS"
               }
            },
            "SUCCESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SUCCESS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.costandusagereportservice#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.costandusagereportservice#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.costandusagereportservice#ListTagsForResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.costandusagereportservice#ListTagsForResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the tags associated with the specified report definition.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.costandusagereportservice#ListTagsForResourceRequest" : {
         "members" : {
            "ReportName" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The report name of the report definition that tags are to be returned for.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#ListTagsForResourceResponse" : {
         "members" : {
            "Tags" : {
               "target" : "com.amazonaws.costandusagereportservice#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags assigned to the report definition resource.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#MaxResults" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The maximum number of results that Amazon Web Services returns for the operation.</p>",
            "smithy.api#range" : {
               "max" : 5,
               "min" : 5
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.costandusagereportservice#ModifyReportDefinition" : {
         "errors" : [
            {
               "target" : "com.amazonaws.costandusagereportservice#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.costandusagereportservice#ModifyReportDefinitionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.costandusagereportservice#ModifyReportDefinitionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Allows you to programmatically update your report preferences.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.costandusagereportservice#ModifyReportDefinitionRequest" : {
         "members" : {
            "ReportDefinition" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportDefinition",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "ReportName" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#ModifyReportDefinitionResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#PutReportDefinition" : {
         "errors" : [
            {
               "target" : "com.amazonaws.costandusagereportservice#DuplicateReportNameException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ReportLimitReachedException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.costandusagereportservice#PutReportDefinitionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.costandusagereportservice#PutReportDefinitionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new report using the description that you provide.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.costandusagereportservice#PutReportDefinitionRequest" : {
         "members" : {
            "ReportDefinition" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportDefinition",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the output of the PutReportDefinition operation. The content consists of the detailed \n      metadata and data file information. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.costandusagereportservice#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags to be assigned to the report definition resource.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a Cost and Usage Report.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#PutReportDefinitionResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#documentation" : "<p>If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#RefreshClosedReports" : {
         "type" : "boolean"
      },
      "com.amazonaws.costandusagereportservice#ReportDefinition" : {
         "members" : {
            "AdditionalArtifacts" : {
               "target" : "com.amazonaws.costandusagereportservice#AdditionalArtifactList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of manifests that you want Amazon Web Services to create for this report.</p>"
               }
            },
            "AdditionalSchemaElements" : {
               "target" : "com.amazonaws.costandusagereportservice#SchemaElementList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of strings that indicate additional content that Amazon Web Services includes in the report, such as individual resource IDs. </p>",
                  "smithy.api#required" : {}
               }
            },
            "BillingViewArn" : {
               "target" : "com.amazonaws.costandusagereportservice#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>\n      The Amazon resource name of the billing view. The <code>BillingViewArn</code> is needed to create Amazon Web Services Cost and Usage Report for each billing group maintained in the Amazon Web Services Billing Conductor service. The <code>BillingViewArn</code> for a billing group can be constructed as: <code>arn:aws:billing::payer-account-id:billingview/billing-group-primary-account-id</code>\n         </p>"
               }
            },
            "Compression" : {
               "target" : "com.amazonaws.costandusagereportservice#CompressionFormat",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "Format" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportFormat",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "RefreshClosedReports" : {
               "target" : "com.amazonaws.costandusagereportservice#RefreshClosedReports",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether you want Amazon Web Services to update your reports after they have been finalized if Amazon Web Services detects charges related to \n      previous months. These charges can include refunds, credits, or support fees.</p>"
               }
            },
            "ReportName" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "ReportStatus" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the report.</p>"
               }
            },
            "ReportVersioning" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportVersioning",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether you want Amazon Web Services to overwrite the previous version of each report or \n         to deliver the report in addition to the previous versions.</p>"
               }
            },
            "S3Bucket" : {
               "target" : "com.amazonaws.costandusagereportservice#S3Bucket",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "S3Prefix" : {
               "target" : "com.amazonaws.costandusagereportservice#S3Prefix",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "S3Region" : {
               "target" : "com.amazonaws.costandusagereportservice#AWSRegion",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "TimeUnit" : {
               "target" : "com.amazonaws.costandusagereportservice#TimeUnit",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The definition of Amazon Web Services Cost and Usage Report. You can specify the report name, \n         time unit, report format, compression format, S3 bucket, additional artifacts, and schema \n         elements in the definition.\n    </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#ReportDefinitionList" : {
         "member" : {
            "target" : "com.amazonaws.costandusagereportservice#ReportDefinition"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A list of report definitions.</p>"
         },
         "type" : "list"
      },
      "com.amazonaws.costandusagereportservice#ReportFormat" : {
         "members" : {
            "CSV" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "textORcsv"
               }
            },
            "Parquet" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Parquet"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The format that Amazon Web Services saves the report in.</p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.costandusagereportservice#ReportLimitReachedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.costandusagereportservice#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This account already has five reports defined. To define a new report, you must delete an existing report.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#ReportName" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The name of the report that you want to create. The name must be unique,\n        is case sensitive, and can't include spaces. </p>",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^[0-9A-Za-z!\\-_.*\\'()]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#ReportStatus" : {
         "members" : {
            "lastDelivery" : {
               "target" : "com.amazonaws.costandusagereportservice#LastDelivery",
               "traits" : {
                  "smithy.api#documentation" : "<p>A timestamp that gives the date of a report delivery.</p>"
               }
            },
            "lastStatus" : {
               "target" : "com.amazonaws.costandusagereportservice#LastStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>An enum that gives the status of a report delivery.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A two element dictionary with a <code>lastDelivery</code> and <code>lastStatus</code> key\n      whose values describe the date and status of the last delivered report for a particular report\n      definition.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#ReportVersioning" : {
         "members" : {
            "CREATE_NEW_REPORT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATE_NEW_REPORT"
               }
            },
            "OVERWRITE_REPORT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OVERWRITE_REPORT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.costandusagereportservice#ResourceNotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.costandusagereportservice#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The specified report (<code>ReportName</code>) in the request doesn't exist.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#S3Bucket" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The S3 bucket where Amazon Web Services delivers the report.</p>",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^[A-Za-z0-9_\\.\\-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#S3Prefix" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The prefix that Amazon Web Services adds to the report name when Amazon Web Services delivers the report. Your prefix\n        can't include spaces.</p>",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^[0-9A-Za-z!\\-_.*\\'()/]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#SchemaElement" : {
         "members" : {
            "MANUAL_DISCOUNT_COMPATIBILITY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MANUAL_DISCOUNT_COMPATIBILITY"
               }
            },
            "RESOURCES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RESOURCES"
               }
            },
            "SPLIT_COST_ALLOCATION_DATA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SPLIT_COST_ALLOCATION_DATA"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Whether or not Amazon Web Services includes resource IDs in the report. </p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.costandusagereportservice#SchemaElementList" : {
         "member" : {
            "target" : "com.amazonaws.costandusagereportservice#SchemaElement"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A list of strings that indicate the content that is included in the report, such as service or usage type.</p>"
         },
         "type" : "list"
      },
      "com.amazonaws.costandusagereportservice#Tag" : {
         "members" : {
            "Key" : {
               "target" : "com.amazonaws.costandusagereportservice#TagKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The key of the tag. Tag keys are case sensitive. Each report definition can only have up\n      to one tag with the same key. If you try to add an existing tag with the same key, the\n      existing tag value will be updated to the new value.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.costandusagereportservice#TagValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value of the tag. Tag values are case-sensitive. This can be an empty string.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a tag. A tag is a key-value pair. You can add up to 50 tags to a report\n      definition.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#TagKey" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : ".*"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#TagKeyList" : {
         "member" : {
            "target" : "com.amazonaws.costandusagereportservice#TagKey"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.costandusagereportservice#TagList" : {
         "member" : {
            "target" : "com.amazonaws.costandusagereportservice#Tag"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.costandusagereportservice#TagResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.costandusagereportservice#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.costandusagereportservice#TagResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.costandusagereportservice#TagResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a set of tags with a report definition.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.costandusagereportservice#TagResourceRequest" : {
         "members" : {
            "ReportName" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The report name of the report definition that tags are to be associated with.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.costandusagereportservice#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags to be assigned to the report definition resource.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#TagResourceResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#TagValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : ".*"
         },
         "type" : "string"
      },
      "com.amazonaws.costandusagereportservice#TimeUnit" : {
         "members" : {
            "DAILY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DAILY"
               }
            },
            "HOURLY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HOURLY"
               }
            },
            "MONTHLY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MONTHLY"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The length of time covered by the report. </p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.costandusagereportservice#UntagResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.costandusagereportservice#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.costandusagereportservice#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.costandusagereportservice#UntagResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.costandusagereportservice#UntagResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Disassociates a set of tags from a report definition.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.costandusagereportservice#UntagResourceRequest" : {
         "members" : {
            "ReportName" : {
               "target" : "com.amazonaws.costandusagereportservice#ReportName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The report name of the report definition that tags are to be disassociated\n      from.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TagKeys" : {
               "target" : "com.amazonaws.costandusagereportservice#TagKeyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags to be disassociated from the report definition resource.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#UntagResourceResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.costandusagereportservice#ValidationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.costandusagereportservice#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      }
   },
   "smithy" : "2.0"
}
