{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.sagemakera2iruntime#AmazonSageMakerA2IRuntime" : {
         "operations" : [
            {
               "target" : "com.amazonaws.sagemakera2iruntime#DeleteHumanLoop"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#DescribeHumanLoop"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ListHumanLoops"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#StartHumanLoop"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#StopHumanLoop"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "sagemaker",
               "cloudFormationName" : "SageMakerA2IRuntime",
               "cloudTrailEventSource" : "sagemakera2iruntime.amazonaws.com",
               "endpointPrefix" : "a2i-runtime.sagemaker",
               "sdkId" : "SageMaker A2I Runtime"
            },
            "aws.auth#sigv4" : {
               "name" : "sagemaker"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Amazon Augmented AI (Amazon A2I) adds the benefit of human judgment to any machine learning\n      application. When an AI application can't evaluate data with a high degree of confidence,\n      human reviewers can take over. This human review is called a human review workflow. To create\n      and start a human review workflow, you need three resources: a <i>worker task\n        template</i>, a <i>flow definition</i>, and a <i>human\n        loop</i>.</p>\n         <p>For information about these resources and prerequisites for using Amazon A2I, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/a2i-getting-started.html\">Get Started with\n        Amazon Augmented AI</a> in the Amazon SageMaker Developer Guide.</p>\n         <p>This API reference includes information about API actions and data types that you can use\n      to interact with Amazon A2I programmatically. Use this guide to:</p>\n         <ul>\n            <li>\n               <p>Start a human loop with the <code>StartHumanLoop</code> operation when using\n          Amazon A2I with a <i>custom task type</i>. To learn more about the\n          difference between custom and built-in task types, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/a2i-task-types-general.html\">Use Task Types </a>. To learn\n          how to start a human loop using this API, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/a2i-start-human-loop.html#a2i-instructions-starthumanloop\">Create and Start a Human Loop for a Custom Task Type </a> in the\n          Amazon SageMaker Developer Guide.</p>\n            </li>\n            <li>\n               <p>Manage your human loops. You can list all human loops that you have created, describe\n          individual human loops, and stop and delete human loops. To learn more, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/a2i-monitor-humanloop-results.html\">Monitor and Manage Your Human Loop </a> in the Amazon SageMaker Developer Guide.</p>\n            </li>\n         </ul>\n         <p>Amazon A2I integrates APIs from various AWS services to create and start human review\n      workflows for those services. To learn how Amazon A2I uses these APIs, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/a2i-api-references.html\">Use APIs in\n        Amazon A2I</a> in the Amazon SageMaker Developer Guide.</p>",
            "smithy.api#title" : "Amazon Augmented AI Runtime",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://a2i-runtime.sagemaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://a2i-runtime.sagemaker-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://a2i-runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://a2i-runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://a2i-runtime.sagemaker.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2019-11-07"
      },
      "com.amazonaws.sagemakera2iruntime#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FailureReason"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Your request has the same name as another active human loop but has different input data. You cannot start two \n    human loops with the same name and different input data.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#ContentClassifier" : {
         "members" : {
            "FREE_OF_ADULT_CONTENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FreeOfAdultContent"
               }
            },
            "FREE_OF_PERSONALLY_IDENTIFIABLE_INFORMATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FreeOfPersonallyIdentifiableInformation"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.sagemakera2iruntime#ContentClassifiers" : {
         "member" : {
            "target" : "com.amazonaws.sagemakera2iruntime#ContentClassifier"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakera2iruntime#DeleteHumanLoop" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakera2iruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakera2iruntime#DeleteHumanLoopRequest"
         },
         "output" : {
            "target" : "com.amazonaws.sagemakera2iruntime#DeleteHumanLoopResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the specified human loop for a flow definition.</p>\n         <p>If the human loop was deleted, this operation will return a\n        <code>ResourceNotFoundException</code>. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/human-loops/{HumanLoopName}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakera2iruntime#DeleteHumanLoopRequest" : {
         "members" : {
            "HumanLoopName" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the human loop that you want to delete.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#DeleteHumanLoopResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#DescribeHumanLoop" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakera2iruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakera2iruntime#DescribeHumanLoopRequest"
         },
         "output" : {
            "target" : "com.amazonaws.sagemakera2iruntime#DescribeHumanLoopResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about the specified human loop. If the human loop was deleted, this\n      operation will return a <code>ResourceNotFoundException</code> error. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/human-loops/{HumanLoopName}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakera2iruntime#DescribeHumanLoopRequest" : {
         "members" : {
            "HumanLoopName" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the human loop that you want information about.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#DescribeHumanLoopResponse" : {
         "members" : {
            "CreationTime" : {
               "target" : "com.amazonaws.sagemakera2iruntime#Timestamp",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The creation time when Amazon Augmented AI created the human loop.</p>",
                  "smithy.api#required" : {}
               }
            },
            "FailureCode" : {
               "target" : "com.amazonaws.sagemakera2iruntime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A failure code that identifies the type of failure.</p>\n         <p>Possible values: <code>ValidationError</code>, <code>Expired</code>,\n        <code>InternalError</code>\n         </p>"
               }
            },
            "FailureReason" : {
               "target" : "com.amazonaws.sagemakera2iruntime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason why a human loop failed. The failure reason is returned when the status of the\n      human loop is <code>Failed</code>.</p>"
               }
            },
            "FlowDefinitionArn" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FlowDefinitionArn",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
                  "smithy.api#required" : {}
               }
            },
            "HumanLoopArn" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopArn",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the human loop.</p>",
                  "smithy.api#required" : {}
               }
            },
            "HumanLoopName" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopName",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the human loop. The name must be lowercase, unique within the Region in your\n      account, and can have up to 63 characters. Valid characters: a-z, 0-9, and - (hyphen).</p>",
                  "smithy.api#required" : {}
               }
            },
            "HumanLoopOutput" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopOutput",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that contains information about the output of the human loop.</p>"
               }
            },
            "HumanLoopStatus" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopStatus",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The status of the human loop. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#FailureReason" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakera2iruntime#FlowDefinitionArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:flow-definition/"
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakera2iruntime#HumanLoopArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:human-loop/"
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakera2iruntime#HumanLoopDataAttributes" : {
         "members" : {
            "ContentClassifiers" : {
               "target" : "com.amazonaws.sagemakera2iruntime#ContentClassifiers",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Declares that your content is free of personally identifiable information or adult content.</p>\n         <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Attributes of the data specified by the customer. Use these to describe the data to be labeled.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#HumanLoopInput" : {
         "members" : {
            "InputContent" : {
               "target" : "com.amazonaws.sagemakera2iruntime#InputContent",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Serialized input from the human loop. The input must be a string representation of a file in JSON format.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object containing the human loop input in JSON format.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#HumanLoopName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 63,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-z0-9](-*[a-z0-9])*$"
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakera2iruntime#HumanLoopOutput" : {
         "members" : {
            "OutputS3Uri" : {
               "target" : "com.amazonaws.sagemakera2iruntime#String",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The location of the Amazon S3 object where Amazon Augmented AI stores your human loop output.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about where the human output will be stored.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#HumanLoopStatus" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Completed"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Failed"
               }
            },
            "IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "InProgress"
               }
            },
            "STOPPED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Stopped"
               }
            },
            "STOPPING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Stopping"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.sagemakera2iruntime#HumanLoopSummaries" : {
         "member" : {
            "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakera2iruntime#HumanLoopSummary" : {
         "members" : {
            "CreationTime" : {
               "target" : "com.amazonaws.sagemakera2iruntime#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>When Amazon Augmented AI created the human loop.</p>"
               }
            },
            "FailureReason" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FailureReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason why the human loop failed. A failure reason is returned when the status of the\n      human loop is <code>Failed</code>.</p>"
               }
            },
            "FlowDefinitionArn" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FlowDefinitionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the flow definition used to configure the human\n      loop.</p>"
               }
            },
            "HumanLoopName" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the human loop.</p>"
               }
            },
            "HumanLoopStatus" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the human loop. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary information about the human loop.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#InputContent" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 3145728,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakera2iruntime#InternalServerException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FailureReason"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>We couldn't process your request because of an issue with the server. Try again\n      later.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#ListHumanLoops" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakera2iruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakera2iruntime#ListHumanLoopsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.sagemakera2iruntime#ListHumanLoopsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about human loops, given the specified parameters. If a human loop was deleted, it will not be included.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/human-loops"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "HumanLoopSummaries",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakera2iruntime#ListHumanLoopsRequest" : {
         "members" : {
            "CreationTimeAfter" : {
               "target" : "com.amazonaws.sagemakera2iruntime#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>(Optional) The timestamp of the date when you want the human loops to begin in ISO 8601 format. For example, <code>2020-02-24</code>.</p>",
                  "smithy.api#httpQuery" : "CreationTimeAfter"
               }
            },
            "CreationTimeBefore" : {
               "target" : "com.amazonaws.sagemakera2iruntime#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>(Optional) The timestamp of the date before which you want the human loops to begin in ISO 8601 format. For example, <code>2020-02-24</code>.</p>",
                  "smithy.api#httpQuery" : "CreationTimeBefore"
               }
            },
            "FlowDefinitionArn" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FlowDefinitionArn",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of a flow definition.</p>",
                  "smithy.api#httpQuery" : "FlowDefinitionArn",
                  "smithy.api#required" : {}
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.sagemakera2iruntime#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The total number of items to return. If the total number of available items is more than\n      the value specified in <code>MaxResults</code>, then a <code>NextToken</code> is returned in\n      the output. You can use this token to display the next page of results. </p>",
                  "smithy.api#httpQuery" : "MaxResults"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.sagemakera2iruntime#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token to display the next page of results.</p>",
                  "smithy.api#httpQuery" : "NextToken"
               }
            },
            "SortOrder" : {
               "target" : "com.amazonaws.sagemakera2iruntime#SortOrder",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional. The order for displaying results. Valid values: <code>Ascending</code> and\n        <code>Descending</code>.</p>",
                  "smithy.api#httpQuery" : "SortOrder"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#ListHumanLoopsResponse" : {
         "members" : {
            "HumanLoopSummaries" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopSummaries",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>An array of objects that contain information about the human loops.</p>",
                  "smithy.api#required" : {}
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.sagemakera2iruntime#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token to display the next page of results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#MaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.sagemakera2iruntime#NextToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 8192,
               "min" : 0
            },
            "smithy.api#pattern" : ".*"
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakera2iruntime#ResourceNotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FailureReason"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>We couldn't find the requested resource. Check that your resources exists and were created\n      in the same AWS Region as your request, and try your request again. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#ServiceQuotaExceededException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FailureReason"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You exceeded your service quota. Service quotas, also referred to as limits, are the\n      maximum number of service resources or operations for your AWS account. For a list of\n      Amazon A2I service quotes, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/a2i.html\">Amazon Augmented AI Service Quotes</a>. Delete some resources or request an increase in your\n      service quota. You can request a quota increase using Service Quotas or the AWS Support\n      Center. To request an increase, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">AWS Service Quotas</a> in the\n        <i>AWS General Reference</i>.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 402
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#SortOrder" : {
         "members" : {
            "ASCENDING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Ascending"
               }
            },
            "DESCENDING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Descending"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.sagemakera2iruntime#StartHumanLoop" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ConflictException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakera2iruntime#StartHumanLoopRequest"
         },
         "output" : {
            "target" : "com.amazonaws.sagemakera2iruntime#StartHumanLoopResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Starts a human loop, provided that at least one activation condition is met.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/human-loops"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakera2iruntime#StartHumanLoopRequest" : {
         "members" : {
            "DataAttributes" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopDataAttributes",
               "traits" : {
                  "smithy.api#documentation" : "<p>Attributes of the specified data. Use <code>DataAttributes</code> to specify if your data\n      is free of personally identifiable information and/or free of adult content.</p>"
               }
            },
            "FlowDefinitionArn" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FlowDefinitionArn",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the flow definition associated with this human\n      loop.</p>",
                  "smithy.api#required" : {}
               }
            },
            "HumanLoopInput" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopInput",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>An object that contains information about the human loop.</p>",
                  "smithy.api#required" : {}
               }
            },
            "HumanLoopName" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopName",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the human loop.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#StartHumanLoopResponse" : {
         "members" : {
            "HumanLoopArn" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the human loop.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#StopHumanLoop" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakera2iruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.sagemakera2iruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakera2iruntime#StopHumanLoopRequest"
         },
         "output" : {
            "target" : "com.amazonaws.sagemakera2iruntime#StopHumanLoopResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Stops the specified human loop.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/human-loops/stop"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakera2iruntime#StopHumanLoopRequest" : {
         "members" : {
            "HumanLoopName" : {
               "target" : "com.amazonaws.sagemakera2iruntime#HumanLoopName",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the human loop that you want to stop.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#StopHumanLoopResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#String" : {
         "type" : "string"
      },
      "com.amazonaws.sagemakera2iruntime#ThrottlingException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FailureReason"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You exceeded\n      the\n      maximum number of requests.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakera2iruntime#Timestamp" : {
         "traits" : {
            "smithy.api#timestampFormat" : "date-time"
         },
         "type" : "timestamp"
      },
      "com.amazonaws.sagemakera2iruntime#ValidationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakera2iruntime#FailureReason"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The\n      request isn't valid. Check the syntax and try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      }
   },
   "smithy" : "2.0"
}
