{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.fms#AWSAccountId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^[0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.fms#AWSAccountIdList" : {
         "member" : {
            "target" : "com.amazonaws.fms#AWSAccountId"
         },
         "type" : "list"
      },
      "com.amazonaws.fms#AWSFMS_20180101" : {
         "operations" : [
            {
               "target" : "com.amazonaws.fms#AssociateAdminAccount"
            },
            {
               "target" : "com.amazonaws.fms#AssociateThirdPartyFirewall"
            },
            {
               "target" : "com.amazonaws.fms#BatchAssociateResource"
            },
            {
               "target" : "com.amazonaws.fms#BatchDisassociateResource"
            },
            {
               "target" : "com.amazonaws.fms#DeleteAppsList"
            },
            {
               "target" : "com.amazonaws.fms#DeleteNotificationChannel"
            },
            {
               "target" : "com.amazonaws.fms#DeletePolicy"
            },
            {
               "target" : "com.amazonaws.fms#DeleteProtocolsList"
            },
            {
               "target" : "com.amazonaws.fms#DeleteResourceSet"
            },
            {
               "target" : "com.amazonaws.fms#DisassociateAdminAccount"
            },
            {
               "target" : "com.amazonaws.fms#DisassociateThirdPartyFirewall"
            },
            {
               "target" : "com.amazonaws.fms#GetAdminAccount"
            },
            {
               "target" : "com.amazonaws.fms#GetAdminScope"
            },
            {
               "target" : "com.amazonaws.fms#GetAppsList"
            },
            {
               "target" : "com.amazonaws.fms#GetComplianceDetail"
            },
            {
               "target" : "com.amazonaws.fms#GetNotificationChannel"
            },
            {
               "target" : "com.amazonaws.fms#GetPolicy"
            },
            {
               "target" : "com.amazonaws.fms#GetProtectionStatus"
            },
            {
               "target" : "com.amazonaws.fms#GetProtocolsList"
            },
            {
               "target" : "com.amazonaws.fms#GetResourceSet"
            },
            {
               "target" : "com.amazonaws.fms#GetThirdPartyFirewallAssociationStatus"
            },
            {
               "target" : "com.amazonaws.fms#GetViolationDetails"
            },
            {
               "target" : "com.amazonaws.fms#ListAdminAccountsForOrganization"
            },
            {
               "target" : "com.amazonaws.fms#ListAdminsManagingAccount"
            },
            {
               "target" : "com.amazonaws.fms#ListAppsLists"
            },
            {
               "target" : "com.amazonaws.fms#ListComplianceStatus"
            },
            {
               "target" : "com.amazonaws.fms#ListDiscoveredResources"
            },
            {
               "target" : "com.amazonaws.fms#ListMemberAccounts"
            },
            {
               "target" : "com.amazonaws.fms#ListPolicies"
            },
            {
               "target" : "com.amazonaws.fms#ListProtocolsLists"
            },
            {
               "target" : "com.amazonaws.fms#ListResourceSetResources"
            },
            {
               "target" : "com.amazonaws.fms#ListResourceSets"
            },
            {
               "target" : "com.amazonaws.fms#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.fms#ListThirdPartyFirewallFirewallPolicies"
            },
            {
               "target" : "com.amazonaws.fms#PutAdminAccount"
            },
            {
               "target" : "com.amazonaws.fms#PutAppsList"
            },
            {
               "target" : "com.amazonaws.fms#PutNotificationChannel"
            },
            {
               "target" : "com.amazonaws.fms#PutPolicy"
            },
            {
               "target" : "com.amazonaws.fms#PutProtocolsList"
            },
            {
               "target" : "com.amazonaws.fms#PutResourceSet"
            },
            {
               "target" : "com.amazonaws.fms#TagResource"
            },
            {
               "target" : "com.amazonaws.fms#UntagResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "fms",
               "cloudFormationName" : "FMS",
               "cloudTrailEventSource" : "fms.amazonaws.com",
               "endpointPrefix" : "fms",
               "sdkId" : "FMS"
            },
            "aws.auth#sigv4" : {
               "name" : "fms"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>This is the <i>Firewall Manager API Reference</i>. This guide is for\n      developers who need detailed information about the Firewall Manager API actions, data\n      types, and errors. For detailed information about Firewall Manager features, see the\n        <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-chapter.html\">Firewall Manager Developer Guide</a>.</p>\n         <p>Some API actions require explicit resource permissions. For information, see the developer guide topic\n        <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-security_iam_service-with-iam.html#fms-security_iam_service-with-iam-roles-service\">Service roles for Firewall Manager</a>.\n</p>",
            "smithy.api#title" : "Firewall Management Service",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://fms-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://fms-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://fms.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://fms.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region af-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fms.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2018-01-01"
      },
      "com.amazonaws.fms#AWSRegion" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 6
            },
            "smithy.api#pattern" : "^(af|ap|ca|eu|il|me|mx|sa|us|cn|us-gov)-\\w+-\\d+$"
         },
         "type" : "string"
      },
      "com.amazonaws.fms#AWSRegionList" : {
         "member" : {
            "target" : "com.amazonaws.fms#AWSRegion"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.fms#AccountIdList" : {
         "member" : {
            "target" : "com.amazonaws.fms#AWSAccountId"
         },
         "type" : "list"
      },
      "com.amazonaws.fms#AccountRoleStatus" : {
         "members" : {
            "Creating" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "Deleted" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETED"
               }
            },
            "Deleting" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETING"
               }
            },
            "PendingDeletion" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING_DELETION"
               }
            },
            "Ready" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "READY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.fms#AccountScope" : {
         "members" : {
            "Accounts" : {
               "target" : "com.amazonaws.fms#AccountIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of accounts within the organization that the specified Firewall Manager administrator either can or cannot apply policies to, based on the value of <code>ExcludeSpecifiedAccounts</code>. If <code>ExcludeSpecifiedAccounts</code> is set to <code>true</code>, then the Firewall Manager administrator can apply policies to all members of the organization except for the accounts in this list. If <code>ExcludeSpecifiedAccounts</code> is set to <code>false</code>, then the Firewall Manager administrator can only apply policies to the accounts in this list.</p>"
               }
            },
            "AllAccountsEnabled" : {
               "target" : "com.amazonaws.fms#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>A boolean value that indicates if the administrator can apply policies to all accounts within an organization. If true, the administrator can apply policies to all accounts within the organization. You can either enable management of all accounts through this operation, or you can specify a list of accounts to manage in <code>AccountScope$Accounts</code>. You cannot specify both.</p>"
               }
            },
            "ExcludeSpecifiedAccounts" : {
               "target" : "com.amazonaws.fms#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>A boolean value that excludes the accounts in <code>AccountScope$Accounts</code> from the administrator's scope. If true, the Firewall Manager administrator can apply policies to all members of the organization except for the accounts listed in <code>AccountScope$Accounts</code>. You can either specify a list of accounts to exclude by <code>AccountScope$Accounts</code>, or you can enable management of all accounts by <code>AccountScope$AllAccountsEnabled</code>. You cannot specify both.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configures the accounts within the administrator's Organizations organization that the specified Firewall Manager administrator can apply policies to.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#ActionTarget" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.fms#LengthBoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the remediation action target.</p>"
               }
            },
            "ResourceId" : {
               "target" : "com.amazonaws.fms#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the remediation target.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a remediation action target.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AdminAccountSummary" : {
         "members" : {
            "AdminAccount" : {
               "target" : "com.amazonaws.fms#AWSAccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Web Services account ID of the Firewall Manager administrator's account.</p>"
               }
            },
            "DefaultAdmin" : {
               "target" : "com.amazonaws.fms#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>A boolean value that indicates if the administrator is the default administrator. If true, then this is the default administrator account. The default administrator can manage third-party firewalls and has full administrative scope. There is only one default administrator account per organization. For information about Firewall Manager default administrator accounts, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-administrators.html\">Managing Firewall Manager administrators</a> in the <i>Firewall Manager Developer Guide</i>.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.fms#OrganizationStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the request to onboard a member account as an Firewall Manager administrator.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ONBOARDING</code> - The account is onboarding to Firewall Manager as an administrator.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ONBOARDING_COMPLETE</code> - Firewall Manager The account is onboarded to Firewall Manager as an administrator, and can perform actions on the resources defined in their <a>AdminScope</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OFFBOARDING</code> - The account is being removed as an Firewall Manager administrator.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OFFBOARDING_COMPLETE</code> - The account has been removed as an Firewall Manager administrator.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains high level information about the Firewall Manager administrator account.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AdminAccountSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.fms#AdminAccountSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.fms#AdminScope" : {
         "members" : {
            "AccountScope" : {
               "target" : "com.amazonaws.fms#AccountScope",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the accounts that the specified Firewall Manager administrator can apply policies to.</p>"
               }
            },
            "OrganizationalUnitScope" : {
               "target" : "com.amazonaws.fms#OrganizationalUnitScope",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the Organizations organizational units that the specified Firewall Manager administrator can apply policies to. For more information about OUs in Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_ous.html\">Managing organizational units (OUs)\n</a> in the <i>Organizations User Guide</i>.</p>"
               }
            },
            "PolicyTypeScope" : {
               "target" : "com.amazonaws.fms#PolicyTypeScope",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the Firewall Manager policy types that the specified Firewall Manager administrator can create and manage.</p>"
               }
            },
            "RegionScope" : {
               "target" : "com.amazonaws.fms#RegionScope",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the Amazon Web Services Regions that the specified Firewall Manager administrator can perform actions in.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines the resources that the Firewall Manager administrator can manage. For more information about administrative scope, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-administrators.html\">Managing Firewall Manager administrators</a> in the <i>Firewall Manager Developer Guide</i>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#App" : {
         "members" : {
            "AppName" : {
               "target" : "com.amazonaws.fms#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The application's name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Port" : {
               "target" : "com.amazonaws.fms#IPPortNumber",
               "traits" : {
                  "smithy.api#documentation" : "<p>The application's port number, for example <code>80</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Protocol" : {
               "target" : "com.amazonaws.fms#Protocol",
               "traits" : {
                  "smithy.api#documentation" : "<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An individual Firewall Manager application.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AppsList" : {
         "member" : {
            "target" : "com.amazonaws.fms#App"
         },
         "type" : "list"
      },
      "com.amazonaws.fms#AppsListData" : {
         "members" : {
            "AppsList" : {
               "target" : "com.amazonaws.fms#AppsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of applications in the Firewall Manager applications list.</p>",
                  "smithy.api#required" : {}
               }
            },
            "CreateTime" : {
               "target" : "com.amazonaws.fms#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time that the Firewall Manager applications list was created.</p>"
               }
            },
            "LastUpdateTime" : {
               "target" : "com.amazonaws.fms#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time that the Firewall Manager applications list was last updated.</p>"
               }
            },
            "ListId" : {
               "target" : "com.amazonaws.fms#ListId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Firewall Manager applications list.</p>"
               }
            },
            "ListName" : {
               "target" : "com.amazonaws.fms#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Firewall Manager applications list.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ListUpdateToken" : {
               "target" : "com.amazonaws.fms#UpdateToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for each update to the list. When you update\n        the list, the update token must match the token of the current version of the application list.\n        You can retrieve the update token by getting the list. </p>"
               }
            },
            "PreviousAppsList" : {
               "target" : "com.amazonaws.fms#PreviousAppsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map of previous version numbers to their corresponding <code>App</code> object arrays.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An Firewall Manager applications list.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AppsListDataSummary" : {
         "members" : {
            "AppsList" : {
               "target" : "com.amazonaws.fms#AppsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of <code>App</code> objects in the Firewall Manager applications list.</p>"
               }
            },
            "ListArn" : {
               "target" : "com.amazonaws.fms#ResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the applications list.</p>"
               }
            },
            "ListId" : {
               "target" : "com.amazonaws.fms#ListId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the applications list.</p>"
               }
            },
            "ListName" : {
               "target" : "com.amazonaws.fms#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the applications list.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Details of the Firewall Manager applications list.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AppsListsData" : {
         "member" : {
            "target" : "com.amazonaws.fms#AppsListDataSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.fms#AssociateAdminAccount" : {
         "errors" : [
            {
               "target" : "com.amazonaws.fms#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidOperationException"
            },
            {
               "target" : "com.amazonaws.fms#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.fms#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.fms#AssociateAdminAccountRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Sets a Firewall Manager default administrator account. The Firewall Manager default administrator account can manage third-party firewalls and has full administrative scope that allows administration of all policy types, accounts, organizational units, and Regions. This account must be a member account of the organization in Organizations whose resources you want to protect.</p>\n         <p>For information about working with Firewall Manager administrator accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/fms-administrators.html\">Managing Firewall Manager administrators</a> in the <i>Firewall Manager Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.fms#AssociateAdminAccountRequest" : {
         "members" : {
            "AdminAccount" : {
               "target" : "com.amazonaws.fms#AWSAccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Web Services account ID to associate with Firewall Manager as the Firewall Manager\n      default administrator account. This account must be\n      a member account of the organization in Organizations whose resources you want to protect.\n        For more information about Organizations, see\n        <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts.html\">Managing the Amazon Web Services Accounts in Your Organization</a>.  </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AssociateThirdPartyFirewall" : {
         "errors" : [
            {
               "target" : "com.amazonaws.fms#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidOperationException"
            },
            {
               "target" : "com.amazonaws.fms#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.fms#AssociateThirdPartyFirewallRequest"
         },
         "output" : {
            "target" : "com.amazonaws.fms#AssociateThirdPartyFirewallResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Sets the Firewall Manager policy administrator as a tenant administrator of a third-party firewall service. A tenant is an instance of the third-party firewall service that's associated with your Amazon Web Services customer account.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.fms#AssociateThirdPartyFirewallRequest" : {
         "members" : {
            "ThirdPartyFirewall" : {
               "target" : "com.amazonaws.fms#ThirdPartyFirewall",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the third-party firewall vendor.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AssociateThirdPartyFirewallResponse" : {
         "members" : {
            "ThirdPartyFirewallStatus" : {
               "target" : "com.amazonaws.fms#ThirdPartyFirewallAssociationStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status for setting a Firewall Manager policy administrator's account as an administrator of the third-party firewall tenant.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ONBOARDING</code> - The Firewall Manager policy administrator is being designated as a tenant administrator.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ONBOARD_COMPLETE</code> - The Firewall Manager policy administrator is designated as a tenant administrator.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OFFBOARDING</code> - The Firewall Manager policy administrator is being removed as a tenant administrator.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OFFBOARD_COMPLETE</code> - The Firewall Manager policy administrator has been removed as a tenant administrator.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_EXIST</code> - The Firewall Manager policy administrator doesn't exist as a tenant administrator.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AwsEc2InstanceViolation" : {
         "members" : {
            "AwsEc2NetworkInterfaceViolations" : {
               "target" : "com.amazonaws.fms#AwsEc2NetworkInterfaceViolations",
               "traits" : {
                  "smithy.api#documentation" : "<p>Violation detail for network interfaces associated with the EC2 instance.</p>"
               }
            },
            "ViolationTarget" : {
               "target" : "com.amazonaws.fms#ViolationTarget",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource ID of the EC2 instance.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Violation detail for an EC2 instance resource.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AwsEc2NetworkInterfaceViolation" : {
         "members" : {
            "ViolatingSecurityGroups" : {
               "target" : "com.amazonaws.fms#ResourceIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of security groups that violate the rules specified in the primary security group of the Firewall Manager policy.</p>"
               }
            },
            "ViolationTarget" : {
               "target" : "com.amazonaws.fms#ViolationTarget",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource ID of the network interface.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Violation detail for network interfaces associated with an EC2 instance.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#AwsEc2NetworkInterfaceViolations" : {
         "member" : {
            "target" : "com.amazonaws.fms#AwsEc2NetworkInterfaceViolation"
         },
         "type" : "list"
      },
      "com.amazonaws.fms#AwsVPCSecurityGroupViolation" : {
         "members" : {
            "PartialMatches" : {
               "target" : "com.amazonaws.fms#PartialMatches",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of rules specified in the security group of the Firewall Manager policy that partially match the <code>ViolationTarget</code> rule.</p>"
               }
            },
            "PossibleSecurityGroupRemediationActions" : {
               "target" : "com.amazonaws.fms#SecurityGroupRemediationActions",
               "traits" : {
                  "smithy.api#documentation" : "<p>Remediation options for the rule specified in the <code>ViolationTarget</code>.</p>"
               }
            },
            "ViolationTarget" : {
               "target" : "com.amazonaws.fms#ViolationTarget",
               "traits" : {
                  "smithy.api#documentation" : "<p>The security group rule that is being evaluated.</p>"
               }
            },
            "ViolationTargetDescription" : {
               "target" : "com.amazonaws.fms#LengthBoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the security group that violates the policy.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Violation detail for the rule violation in a security group when compared to the primary security group of the Firewall Manager policy.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#Base62Id" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 22,
               "min" : 22
            },
            "smithy.api#pattern" : "^[a-z0-9A-Z]{22}$"
         },
         "type" : "string"
      },
      "com.amazonaws.fms#BasicInteger" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "max" : 2147483647,
               "min" : -2147483648
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.fms#BatchAssociateResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.fms#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidOperationException"
            },
            {
               "target" : "com.amazonaws.fms#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.fms#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.fms#BatchAssociateResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.fms#BatchAssociateResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associate resources to a Firewall Manager resource set.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.fms#BatchAssociateResourceRequest" : {
         "members" : {
            "Items" : {
               "target" : "com.amazonaws.fms#IdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The uniform resource identifiers (URIs) of resources that should be associated to the resource set. The URIs must be Amazon Resource Names (ARNs).</p>",
                  "smithy.api#required" : {}
               }
            },
            "ResourceSetIdentifier" : {
               "target" : "com.amazonaws.fms#Identifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#BatchAssociateResourceResponse" : {
         "members" : {
            "FailedItems" : {
               "target" : "com.amazonaws.fms#FailedItemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resources that failed to associate to the resource set.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ResourceSetIdentifier" : {
               "target" : "com.amazonaws.fms#Identifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#BatchDisassociateResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.fms#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidOperationException"
            },
            {
               "target" : "com.amazonaws.fms#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.fms#BatchDisassociateResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.fms#BatchDisassociateResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Disassociates resources from a Firewall Manager resource set.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.fms#BatchDisassociateResourceRequest" : {
         "members" : {
            "Items" : {
               "target" : "com.amazonaws.fms#IdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The uniform resource identifiers (URI) of resources that should be disassociated from the resource set. The URIs must be Amazon Resource Names (ARNs).</p>",
                  "smithy.api#required" : {}
               }
            },
            "ResourceSetIdentifier" : {
               "target" : "com.amazonaws.fms#Identifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#BatchDisassociateResourceResponse" : {
         "members" : {
            "FailedItems" : {
               "target" : "com.amazonaws.fms#FailedItemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resources that failed to disassociate from the resource set.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ResourceSetIdentifier" : {
               "target" : "com.amazonaws.fms#Identifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#Boolean" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.fms#BooleanObject" : {
         "type" : "boolean"
      },
      "com.amazonaws.fms#CIDR" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^[a-f0-9:./]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.fms#ComplianceViolator" : {
         "members" : {
            "Metadata" : {
               "target" : "com.amazonaws.fms#ComplianceViolatorMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata about the resource that doesn't comply with the policy scope.</p>"
               }
            },
            "ResourceId" : {
               "target" : "com.amazonaws.fms#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource ID.</p>"
               }
            },
            "ResourceType" : {
               "target" : "com.amazonaws.fms#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource type. This is in the format shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Amazon Web Services Resource Types Reference</a>. For example:\n        <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code>,\n        <code>AWS::CloudFront::Distribution</code>, or\n        <code>AWS::NetworkFirewall::FirewallPolicy</code>.</p>"
               }
            },
            "ViolationReason" : {
               "target" : "com.amazonaws.fms#ViolationReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason that the resource is not protected by the policy.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Details of the resource that is not protected by the policy.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#ComplianceViolatorMetadata" : {
         "key" : {
            "target" : "com.amazonaws.fms#LengthBoundedString"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.fms#LengthBoundedString"
         }
      },
      "com.amazonaws.fms#ComplianceViolators" : {
         "member" : {
            "target" : "com.amazonaws.fms#ComplianceViolator"
         },
         "type" : "list"
      },
      "com.amazonaws.fms#CreateNetworkAclAction" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.fms#LengthBoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Brief description of this remediation action. </p>"
               }
            },
            "FMSCanRemediate" : {
               "target" : "com.amazonaws.fms#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Indicates whether it is possible for Firewall Manager to perform this remediation action. A false value indicates that auto remediation is disabled or Firewall Manager is unable to perform the action due to a conflict of some kind.</p>"
               }
            },
            "Vpc" : {
               "target" : "com.amazonaws.fms#ActionTarget",
               "traits" : {
                  "smithy.api#documentation" : "<p>The VPC that's associated with the remediation action.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the <code>CreateNetworkAcl</code> action in Amazon EC2. This is a remediation option in <code>RemediationAction</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#CreateNetworkAclEntriesAction" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.fms#LengthBoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Brief description of this remediation action. </p>"
               }
            },
            "FMSCanRemediate" : {
               "target" : "com.amazonaws.fms#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Indicates whether it is possible for Firewall Manager to perform this remediation action. A false value indicates that auto remediation is disabled or Firewall Manager is unable to perform the action due to a conflict of some kind.</p>"
               }
            },
            "NetworkAclEntriesToBeCreated" : {
               "target" : "com.amazonaws.fms#EntriesDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Lists the entries that the remediation action would create.</p>"
               }
            },
            "NetworkAclId" : {
               "target" : "com.amazonaws.fms#ActionTarget",
               "traits" : {
                  "smithy.api#documentation" : "<p>The network ACL that's associated with the remediation action.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the <code>CreateNetworkAclEntries</code> action in Amazon EC2. This is a remediation option in <code>RemediationAction</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#CustomerPolicyScopeId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
         },
         "type" : "string"
      },
      "com.amazonaws.fms#CustomerPolicyScopeIdList" : {
         "member" : {
            "target" : "com.amazonaws.fms#CustomerPolicyScopeId"
         },
         "type" : "list"
      },
      "com.amazonaws.fms#CustomerPolicyScopeIdType" : {
         "members" : {
            "ACCOUNT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACCOUNT"
               }
            },
            "ORG_UNIT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ORG_UNIT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.fms#CustomerPolicyScopeMap" : {
         "key" : {
            "target" : "com.amazonaws.fms#CustomerPolicyScopeIdType"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.fms#CustomerPolicyScopeIdList"
         }
      },
      "com.amazonaws.fms#CustomerPolicyStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "OUT_OF_ADMIN_SCOPE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OUT_OF_ADMIN_SCOPE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.fms#DeleteAppsList" : {
         "errors" : [
            {
               "target" : "com.amazonaws.fms#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidOperationException"
            },
            {
               "target" : "com.amazonaws.fms#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.fms#DeleteAppsListRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Permanently deletes an Firewall Manager applications list.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.fms#DeleteAppsListRequest" : {
         "members" : {
            "ListId" : {
               "target" : "com.amazonaws.fms#ListId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the applications list that you want to delete. You can retrieve this ID from\n      <code>PutAppsList</code>, <code>ListAppsLists</code>, and <code>GetAppsList</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#DeleteNetworkAclEntriesAction" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.fms#LengthBoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Brief description of this remediation action. </p>"
               }
            },
            "FMSCanRemediate" : {
               "target" : "com.amazonaws.fms#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Indicates whether it is possible for Firewall Manager to perform this remediation action. A false value indicates that auto remediation is disabled or Firewall Manager is unable to perform the action due to a conflict of some kind.</p>"
               }
            },
            "NetworkAclEntriesToBeDeleted" : {
               "target" : "com.amazonaws.fms#EntriesDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Lists the entries that the remediation action would delete.</p>"
               }
            },
            "NetworkAclId" : {
               "target" : "com.amazonaws.fms#ActionTarget",
               "traits" : {
                  "smithy.api#documentation" : "<p>The network ACL that's associated with the remediation action.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the <code>DeleteNetworkAclEntries</code> action in Amazon EC2. This is a remediation option in <code>RemediationAction</code>. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#DeleteNotificationChannel" : {
         "errors" : [
            {
               "target" : "com.amazonaws.fms#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidOperationException"
            },
            {
               "target" : "com.amazonaws.fms#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.fms#DeleteNotificationChannelRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes an Firewall Manager association with the IAM role and the Amazon Simple\n      Notification Service (SNS) topic that is used to record Firewall Manager SNS logs.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.fms#DeleteNotificationChannelRequest" : {
         "members" : {},
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fms#DeletePolicy" : {
         "errors" : [
            {
               "target" : "com.amazonaws.fms#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.fms#InvalidOperationException"
            },
            {
               "target" : "com.amazonaws.fms#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.fms#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.fms#DeletePolicyRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Permanently deletes an Firewall Manager policy. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.fms#DeletePolicyRequest" : {
         "members" : {
            "DeleteAllPolicyResources" : {
               "target" : "com.amazonaws.fms#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
[...]
