{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.personalizeruntime#ActionID" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#ActionList" : {
         "member" : {
            "target" : "com.amazonaws.personalizeruntime#PredictedAction"
         },
         "type" : "list"
      },
      "com.amazonaws.personalizeruntime#AmazonPersonalizeRuntime" : {
         "operations" : [
            {
               "target" : "com.amazonaws.personalizeruntime#GetActionRecommendations"
            },
            {
               "target" : "com.amazonaws.personalizeruntime#GetPersonalizedRanking"
            },
            {
               "target" : "com.amazonaws.personalizeruntime#GetRecommendations"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "personalize",
               "cloudFormationName" : "PersonalizeRuntime",
               "cloudTrailEventSource" : "personalizeruntime.amazonaws.com",
               "endpointPrefix" : "personalize-runtime",
               "sdkId" : "Personalize Runtime"
            },
            "aws.auth#sigv4" : {
               "name" : "personalize"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p></p>",
            "smithy.api#title" : "Amazon Personalize Runtime",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://personalize-runtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://personalize-runtime-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://personalize-runtime.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://personalize-runtime.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://personalize-runtime.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2018-05-22"
      },
      "com.amazonaws.personalizeruntime#Arn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:([a-z\\d-]+):personalize:.*:.*:.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#AttributeName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 150,
               "min" : 0
            },
            "smithy.api#pattern" : "^[A-Za-z\\d_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#AttributeValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#ColumnName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 150,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#ColumnNamesList" : {
         "member" : {
            "target" : "com.amazonaws.personalizeruntime#ColumnName"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 99,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.personalizeruntime#ColumnValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 20000,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#Context" : {
         "key" : {
            "target" : "com.amazonaws.personalizeruntime#AttributeName"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 150,
               "min" : 0
            }
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.personalizeruntime#AttributeValue"
         }
      },
      "com.amazonaws.personalizeruntime#DatasetType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#ErrorMessage" : {
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#FilterAttributeName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 0
            },
            "smithy.api#pattern" : "^[A-Za-z0-9_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#FilterAttributeValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#FilterValues" : {
         "key" : {
            "target" : "com.amazonaws.personalizeruntime#FilterAttributeName"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 25,
               "min" : 0
            }
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.personalizeruntime#FilterAttributeValue"
         }
      },
      "com.amazonaws.personalizeruntime#GetActionRecommendations" : {
         "errors" : [
            {
               "target" : "com.amazonaws.personalizeruntime#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.personalizeruntime#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.personalizeruntime#GetActionRecommendationsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.personalizeruntime#GetActionRecommendationsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of recommended actions in sorted in descending order by prediction score. \n      Use the <code>GetActionRecommendations</code> API if you have a custom\n       campaign that deploys a solution version trained with a PERSONALIZED_ACTIONS recipe.\n    </p>\n         <p>For more information about PERSONALIZED_ACTIONS recipes, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/nexts-best-action-recipes.html\">PERSONALIZED_ACTIONS recipes</a>.\n      For more information about getting action recommendations, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/get-action-recommendations.html\">Getting action recommendations</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/action-recommendations"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.personalizeruntime#GetActionRecommendationsRequest" : {
         "members" : {
            "campaignArn" : {
               "target" : "com.amazonaws.personalizeruntime#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for getting action recommendations. This campaign must deploy a solution version trained with a PERSONALIZED_ACTIONS recipe.</p>"
               }
            },
            "filterArn" : {
               "target" : "com.amazonaws.personalizeruntime#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the filter to apply to the returned recommendations. For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>\n         <p>When using this parameter, be sure the filter resource is <code>ACTIVE</code>.</p>"
               }
            },
            "filterValues" : {
               "target" : "com.amazonaws.personalizeruntime#FilterValues",
               "traits" : {
                  "smithy.api#documentation" : "<p>The values to use when filtering recommendations. For each placeholder parameter in your filter expression, provide the parameter name (in matching case)\n      as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma.\n    </p>\n         <p>For filter expressions that use an <code>INCLUDE</code> element to include actions,\n    you must provide values for all parameters that are defined in the expression. For\n    filters with expressions that use an <code>EXCLUDE</code> element to exclude actions, you\n      can omit the <code>filter-values</code>. In this case, Amazon Personalize doesn't use that portion of\n    the expression to filter recommendations.</p>\n         <p>For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering recommendations and user segments</a>.</p>"
               }
            },
            "numResults" : {
               "target" : "com.amazonaws.personalizeruntime#NumResults",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The number of results to return. The default is 5. The maximum is 100.</p>"
               }
            },
            "userId" : {
               "target" : "com.amazonaws.personalizeruntime#UserID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user ID of the user to provide action recommendations for.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#GetActionRecommendationsResponse" : {
         "members" : {
            "actionList" : {
               "target" : "com.amazonaws.personalizeruntime#ActionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of action recommendations sorted in descending order by prediction score. There can be a maximum of 100 actions\n      in the list. For information about action scores, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/how-action-recommendation-scoring-works.html\">How action recommendation scoring\n      works</a>.</p>"
               }
            },
            "recommendationId" : {
               "target" : "com.amazonaws.personalizeruntime#RecommendationID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the recommendation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#GetPersonalizedRanking" : {
         "errors" : [
            {
               "target" : "com.amazonaws.personalizeruntime#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.personalizeruntime#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.personalizeruntime#GetPersonalizedRankingRequest"
         },
         "output" : {
            "target" : "com.amazonaws.personalizeruntime#GetPersonalizedRankingResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Re-ranks a list of recommended items for the given user. The first item in the list is\n      deemed the most likely item to be of interest to the user.</p>\n         <note>\n            <p>The solution backing the campaign must have been created using a recipe of type\n        PERSONALIZED_RANKING.</p>\n         </note>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/personalize-ranking"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.personalizeruntime#GetPersonalizedRankingRequest" : {
         "members" : {
            "campaignArn" : {
               "target" : "com.amazonaws.personalizeruntime#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized\n      ranking.</p>",
                  "smithy.api#required" : {}
               }
            },
            "context" : {
               "target" : "com.amazonaws.personalizeruntime#Context",
               "traits" : {
                  "smithy.api#documentation" : "<p>The contextual metadata to use when getting recommendations. Contextual metadata includes\n      any interaction information that might be relevant when getting a user's recommendations, such\n      as the user's current location or device type.</p>"
               }
            },
            "filterArn" : {
               "target" : "com.amazonaws.personalizeruntime#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of a filter you created to include items or exclude items from recommendations for a given user. \n      For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>"
               }
            },
            "filterValues" : {
               "target" : "com.amazonaws.personalizeruntime#FilterValues",
               "traits" : {
                  "smithy.api#documentation" : "<p>The values to use when filtering recommendations. For each placeholder parameter in your filter expression, provide the parameter name (in matching case)\n      as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma.\n    </p>\n         <p>For filter expressions that use an <code>INCLUDE</code> element to include items,\n      you must provide values for all parameters that are defined in the expression. For\n      filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you\n      can omit the <code>filter-values</code>.In this case, Amazon Personalize doesn't use that portion of\n      the expression to filter recommendations.</p>\n         <p>For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>"
               }
            },
            "inputList" : {
               "target" : "com.amazonaws.personalizeruntime#InputList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of items (by <code>itemId</code>) to rank. If an item was not included in the training dataset,\n      the item is appended to the end of the reranked list. If you are including \n      metadata in recommendations, the maximum is 50. Otherwise, the maximum is 500.</p>",
                  "smithy.api#required" : {}
               }
            },
            "metadataColumns" : {
               "target" : "com.amazonaws.personalizeruntime#MetadataColumns",
               "traits" : {
                  "smithy.api#documentation" : "<p>If you enabled metadata in recommendations when you created or updated the campaign, specify metadata columns from your Items dataset to include\n      in the personalized ranking.\n      The map key is <code>ITEMS</code> and the value is a list of column names from your Items dataset.\n      The maximum number of columns you can provide is 10.</p>\n         <p>\n      For information about enabling metadata for a campaign, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/campaigns.html#create-campaign-return-metadata\">Enabling metadata in recommendations for a campaign</a>.\n    </p>"
               }
            },
            "userId" : {
               "target" : "com.amazonaws.personalizeruntime#UserID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user for which you want the campaign to provide a personalized ranking.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#GetPersonalizedRankingResponse" : {
         "members" : {
            "personalizedRanking" : {
               "target" : "com.amazonaws.personalizeruntime#ItemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of items in order of most likely interest to the user. The maximum is 500.</p>"
               }
            },
            "recommendationId" : {
               "target" : "com.amazonaws.personalizeruntime#RecommendationID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the recommendation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#GetRecommendations" : {
         "errors" : [
            {
               "target" : "com.amazonaws.personalizeruntime#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.personalizeruntime#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.personalizeruntime#GetRecommendationsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.personalizeruntime#GetRecommendationsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of recommended items. For campaigns, the campaign's Amazon Resource Name (ARN) is required and the required user and item input depends on the recipe type used to\n      create the solution backing the campaign as follows:</p>\n         <ul>\n            <li>\n               <p>USER_PERSONALIZATION - <code>userId</code> required, <code>itemId</code> not used</p>\n            </li>\n            <li>\n               <p>RELATED_ITEMS - <code>itemId</code> required, <code>userId</code> not used</p>\n            </li>\n         </ul>\n         <note>\n            <p>Campaigns that are backed by a solution created using a recipe of type\n        PERSONALIZED_RANKING use the  API.</p>\n         </note>\n         <p>\n      For recommenders, the recommender's ARN is required and the required item and user input depends on the use case (domain-based recipe) backing the recommender.\n      For information on use case requirements see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/domain-use-cases.html\">Choosing recommender use cases</a>.\n    </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/recommendations"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.personalizeruntime#GetRecommendationsRequest" : {
         "members" : {
            "campaignArn" : {
               "target" : "com.amazonaws.personalizeruntime#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>"
               }
            },
            "context" : {
               "target" : "com.amazonaws.personalizeruntime#Context",
               "traits" : {
                  "smithy.api#documentation" : "<p>The contextual metadata to use when getting recommendations. Contextual metadata includes\n      any interaction information that might be relevant when getting a user's recommendations, such\n      as the user's current location or device type.</p>"
               }
            },
            "filterArn" : {
               "target" : "com.amazonaws.personalizeruntime#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the filter to apply to the returned recommendations. For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>\n         <p>When using this parameter, be sure the filter resource is <code>ACTIVE</code>.</p>"
               }
            },
            "filterValues" : {
               "target" : "com.amazonaws.personalizeruntime#FilterValues",
               "traits" : {
                  "smithy.api#documentation" : "<p>The values to use when filtering recommendations. For each placeholder parameter in your filter expression, provide the parameter name (in matching case)\n      as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma.\n    </p>\n         <p>For filter expressions that use an <code>INCLUDE</code> element to include items,\n    you must provide values for all parameters that are defined in the expression. For\n    filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you\n      can omit the <code>filter-values</code>.In this case, Amazon Personalize doesn't use that portion of\n    the expression to filter recommendations.</p>\n         <p>For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering recommendations and user segments</a>.</p>"
               }
            },
            "itemId" : {
               "target" : "com.amazonaws.personalizeruntime#ItemID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The item ID to provide recommendations for.</p>\n         <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>"
               }
            },
            "metadataColumns" : {
               "target" : "com.amazonaws.personalizeruntime#MetadataColumns",
               "traits" : {
                  "smithy.api#documentation" : "<p>If you enabled metadata in recommendations when you created or updated the campaign or recommender, specify the metadata columns from your Items dataset to include in item recommendations. \n      The map key is <code>ITEMS</code> and the value is a list of column names from your Items dataset.\n    The maximum number of columns you can provide is 10.</p>\n         <p>\n      For information about enabling metadata for a campaign, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/campaigns.html#create-campaign-return-metadata\">Enabling metadata in recommendations for a campaign</a>.\n      For information about enabling metadata for a recommender, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/creating-recommenders.html#create-recommender-return-metadata\">Enabling metadata in recommendations for a recommender</a>.\n    </p>"
               }
            },
            "numResults" : {
               "target" : "com.amazonaws.personalizeruntime#NumResults",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The number of results to return. The default is 25. If you are including \n      metadata in recommendations, the maximum is 50. Otherwise, the maximum is 500.</p>"
               }
            },
            "promotions" : {
               "target" : "com.amazonaws.personalizeruntime#PromotionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The promotions to apply to the recommendation request. \n      A promotion defines additional business rules that apply to a configurable subset of recommended items.</p>"
               }
            },
            "recommenderArn" : {
               "target" : "com.amazonaws.personalizeruntime#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the recommender to use to get recommendations. Provide a recommender ARN if you\n    created a Domain dataset group with a recommender for a domain use case.</p>"
               }
            },
            "userId" : {
               "target" : "com.amazonaws.personalizeruntime#UserID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user ID to provide recommendations for.</p>\n         <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#GetRecommendationsResponse" : {
         "members" : {
            "itemList" : {
               "target" : "com.amazonaws.personalizeruntime#ItemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of recommendations sorted in descending order by prediction score. There can be a\n      maximum of 500 items in the list.</p>"
               }
            },
            "recommendationId" : {
               "target" : "com.amazonaws.personalizeruntime#RecommendationID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the recommendation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#InputList" : {
         "member" : {
            "target" : "com.amazonaws.personalizeruntime#ItemID"
         },
         "type" : "list"
      },
      "com.amazonaws.personalizeruntime#InvalidInputException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.personalizeruntime#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provide a valid value for the field or parameter.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#ItemID" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#ItemList" : {
         "member" : {
            "target" : "com.amazonaws.personalizeruntime#PredictedItem"
         },
         "type" : "list"
      },
      "com.amazonaws.personalizeruntime#Metadata" : {
         "key" : {
            "target" : "com.amazonaws.personalizeruntime#ColumnName"
         },
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.personalizeruntime#ColumnValue"
         }
      },
      "com.amazonaws.personalizeruntime#MetadataColumns" : {
         "key" : {
            "target" : "com.amazonaws.personalizeruntime#DatasetType"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 0
            }
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.personalizeruntime#ColumnNamesList"
         }
      },
      "com.amazonaws.personalizeruntime#Name" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 63,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9][a-zA-Z0-9\\-_]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#NumResults" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.personalizeruntime#PercentPromotedItems" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.personalizeruntime#PredictedAction" : {
         "members" : {
            "actionId" : {
               "target" : "com.amazonaws.personalizeruntime#ActionID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the recommended action.</p>"
               }
            },
            "score" : {
               "target" : "com.amazonaws.personalizeruntime#Score",
               "traits" : {
                  "smithy.api#documentation" : "<p>The score of the recommended action. For information about action scores, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/how-action-recommendation-scoring-works.html\">How action recommendation scoring works</a>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that identifies an action.</p>\n         <p>The  API returns a list of\n      <code>PredictedAction</code>s.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#PredictedItem" : {
         "members" : {
            "itemId" : {
               "target" : "com.amazonaws.personalizeruntime#ItemID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The recommended item ID.</p>"
               }
            },
            "metadata" : {
               "target" : "com.amazonaws.personalizeruntime#Metadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata about the item from your Items dataset.</p>"
               }
            },
            "promotionName" : {
               "target" : "com.amazonaws.personalizeruntime#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the promotion that included the predicted item.</p>"
               }
            },
            "reason" : {
               "target" : "com.amazonaws.personalizeruntime#ReasonList",
               "traits" : {
                  "smithy.api#documentation" : "<p>If you use User-Personalization-v2, a list of reasons for why the item was included in recommendations. Possible reasons include the following:</p>\n         <ul>\n            <li>\n               <p>Promoted item - Indicates the item was included as part of a promotion that you applied in your recommendation request.</p>\n            </li>\n            <li>\n               <p>Exploration - Indicates the item was included with exploration.\n          With exploration, recommendations include items with less interactions data or relevance for the user.\n          For more information about exploration, see \n          <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/use-case-recipe-features.html#about-exploration\">Exploration</a>.</p>\n            </li>\n            <li>\n               <p> \n          Popular item - Indicates the item was included as a placeholder popular item.\n          If you use a filter, depending on how many recommendations the filter removes, \n           Amazon Personalize might add placeholder items to meet the <code>numResults</code> for your \n          recommendation request. These items are popular items, based on interactions data, that satisfy your filter criteria.\n          They don't have a relevance score for the user.\n        </p>\n            </li>\n         </ul>"
               }
            },
            "score" : {
               "target" : "com.amazonaws.personalizeruntime#Score",
               "traits" : {
                  "smithy.api#documentation" : "<p>A numeric representation of the model's certainty that the item will be the next user\n      selection. For more information on scoring logic, see <a>how-scores-work</a>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that identifies an item.</p>\n         <p>The  and  APIs return a list of\n      <code>PredictedItem</code>s.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#Promotion" : {
         "members" : {
            "filterArn" : {
               "target" : "com.amazonaws.personalizeruntime#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the filter used by the promotion. This filter defines the criteria for promoted items. For more information, see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/promoting-items.html#promotion-filters\">Promotion filters</a>.</p>"
               }
            },
            "filterValues" : {
               "target" : "com.amazonaws.personalizeruntime#FilterValues",
               "traits" : {
                  "smithy.api#documentation" : "<p>The values to use when promoting items.\n      For each placeholder parameter in your promotion's filter expression, provide the parameter name (in matching case) as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma. \n    </p>\n         <p>For filter expressions that use an <code>INCLUDE</code> element to include items,\n      you must provide values for all parameters that are defined in the expression. For\n      filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you\n      can omit the <code>filter-values</code>. In this case, Amazon Personalize doesn't use that portion of\n      the expression to filter recommendations.</p>\n         <p>For more information on creating filters, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering recommendations and user segments</a>.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.personalizeruntime#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the promotion.</p>"
               }
            },
            "percentPromotedItems" : {
               "target" : "com.amazonaws.personalizeruntime#PercentPromotedItems",
               "traits" : {
                  "smithy.api#documentation" : "<p>The percentage of recommended items to apply the promotion to.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains information on a promotion. A promotion defines additional business rules that apply to a configurable subset of recommended items.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#PromotionList" : {
         "member" : {
            "target" : "com.amazonaws.personalizeruntime#Promotion"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.personalizeruntime#Reason" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#ReasonList" : {
         "member" : {
            "target" : "com.amazonaws.personalizeruntime#Reason"
         },
         "type" : "list"
      },
      "com.amazonaws.personalizeruntime#RecommendationID" : {
         "type" : "string"
      },
      "com.amazonaws.personalizeruntime#ResourceNotFoundException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.personalizeruntime#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The specified resource does not exist.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.personalizeruntime#Score" : {
         "type" : "double"
      },
      "com.amazonaws.personalizeruntime#UserID" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            }
         },
         "type" : "string"
      }
   },
   "smithy" : "2.0"
}
