{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.amplify#AccessToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?s).+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#ActiveJobId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Amplify" : {
         "operations" : [
            {
               "target" : "com.amazonaws.amplify#CreateApp"
            },
            {
               "target" : "com.amazonaws.amplify#CreateBackendEnvironment"
            },
            {
               "target" : "com.amazonaws.amplify#CreateBranch"
            },
            {
               "target" : "com.amazonaws.amplify#CreateDeployment"
            },
            {
               "target" : "com.amazonaws.amplify#CreateDomainAssociation"
            },
            {
               "target" : "com.amazonaws.amplify#CreateWebhook"
            },
            {
               "target" : "com.amazonaws.amplify#DeleteApp"
            },
            {
               "target" : "com.amazonaws.amplify#DeleteBackendEnvironment"
            },
            {
               "target" : "com.amazonaws.amplify#DeleteBranch"
            },
            {
               "target" : "com.amazonaws.amplify#DeleteDomainAssociation"
            },
            {
               "target" : "com.amazonaws.amplify#DeleteJob"
            },
            {
               "target" : "com.amazonaws.amplify#DeleteWebhook"
            },
            {
               "target" : "com.amazonaws.amplify#GenerateAccessLogs"
            },
            {
               "target" : "com.amazonaws.amplify#GetApp"
            },
            {
               "target" : "com.amazonaws.amplify#GetArtifactUrl"
            },
            {
               "target" : "com.amazonaws.amplify#GetBackendEnvironment"
            },
            {
               "target" : "com.amazonaws.amplify#GetBranch"
            },
            {
               "target" : "com.amazonaws.amplify#GetDomainAssociation"
            },
            {
               "target" : "com.amazonaws.amplify#GetJob"
            },
            {
               "target" : "com.amazonaws.amplify#GetWebhook"
            },
            {
               "target" : "com.amazonaws.amplify#ListApps"
            },
            {
               "target" : "com.amazonaws.amplify#ListArtifacts"
            },
            {
               "target" : "com.amazonaws.amplify#ListBackendEnvironments"
            },
            {
               "target" : "com.amazonaws.amplify#ListBranches"
            },
            {
               "target" : "com.amazonaws.amplify#ListDomainAssociations"
            },
            {
               "target" : "com.amazonaws.amplify#ListJobs"
            },
            {
               "target" : "com.amazonaws.amplify#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.amplify#ListWebhooks"
            },
            {
               "target" : "com.amazonaws.amplify#StartDeployment"
            },
            {
               "target" : "com.amazonaws.amplify#StartJob"
            },
            {
               "target" : "com.amazonaws.amplify#StopJob"
            },
            {
               "target" : "com.amazonaws.amplify#TagResource"
            },
            {
               "target" : "com.amazonaws.amplify#UntagResource"
            },
            {
               "target" : "com.amazonaws.amplify#UpdateApp"
            },
            {
               "target" : "com.amazonaws.amplify#UpdateBranch"
            },
            {
               "target" : "com.amazonaws.amplify#UpdateDomainAssociation"
            },
            {
               "target" : "com.amazonaws.amplify#UpdateWebhook"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "amplify",
               "cloudFormationName" : "Amplify",
               "cloudTrailEventSource" : "amplify.amazonaws.com",
               "endpointPrefix" : "amplify",
               "sdkId" : "Amplify"
            },
            "aws.auth#sigv4" : {
               "name" : "amplify"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Amplify enables developers to develop and deploy cloud-powered mobile and web apps.\n            Amplify Hosting provides a continuous delivery and hosting service for web applications.\n            For more information, see the <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/welcome.html\">Amplify Hosting User Guide</a>. The\n            Amplify Framework is a comprehensive set of SDKs, libraries, tools, and documentation\n            for client app development. For more information, see the <a href=\"https://docs.amplify.aws/\">Amplify Framework.</a>\n         </p>",
            "smithy.api#title" : "AWS Amplify",
            "smithy.api#xmlNamespace" : {
               "uri" : "http://amplify.amazonaws.com"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://amplify-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://amplify-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://amplify.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://amplify.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplify.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2017-07-25"
      },
      "com.amazonaws.amplify#App" : {
         "members" : {
            "appArn" : {
               "target" : "com.amazonaws.amplify#AppArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "appId" : {
               "target" : "com.amazonaws.amplify#AppId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique ID of the Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "autoBranchCreationConfig" : {
               "target" : "com.amazonaws.amplify#AutoBranchCreationConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the automated branch creation configuration for the Amplify app. </p>"
               }
            },
            "autoBranchCreationPatterns" : {
               "target" : "com.amazonaws.amplify#AutoBranchCreationPatterns",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the automated branch creation glob patterns for the Amplify app. </p>"
               }
            },
            "basicAuthCredentials" : {
               "target" : "com.amazonaws.amplify#BasicAuthCredentials",
               "traits" : {
                  "smithy.api#documentation" : "<p>The basic authorization credentials for branches for the Amplify app. You must\n            base64-encode the authorization credentials and provide them in the format\n                <code>user:password</code>.</p>"
               }
            },
            "buildSpec" : {
               "target" : "com.amazonaws.amplify#BuildSpec",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the content of the build specification (build spec) for the Amplify app.\n        </p>"
               }
            },
            "cacheConfig" : {
               "target" : "com.amazonaws.amplify#CacheConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>The cache configuration for the Amplify app. If you don't specify the\n            cache configuration <code>type</code>, Amplify uses the default\n                <code>AMPLIFY_MANAGED</code> setting.</p>"
               }
            },
            "computeRoleArn" : {
               "target" : "com.amazonaws.amplify#ComputeRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role for an SSR app. The\n            Compute role allows the Amplify Hosting compute service to securely\n            access specific Amazon Web Services resources based on the role's permissions. For more\n            information about the SSR Compute role, see <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/amplify-SSR-compute-role.html\">Adding an SSR Compute\n                role</a> in the <i>Amplify User Guide</i>.</p>"
               }
            },
            "createTime" : {
               "target" : "com.amazonaws.amplify#CreateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>A timestamp of when Amplify created the application.</p>",
                  "smithy.api#required" : {}
               }
            },
            "customHeaders" : {
               "target" : "com.amazonaws.amplify#CustomHeaders",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the custom HTTP headers for the Amplify app.</p>"
               }
            },
            "customRules" : {
               "target" : "com.amazonaws.amplify#CustomRules",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the custom redirect and rewrite rules for the Amplify app. </p>"
               }
            },
            "defaultDomain" : {
               "target" : "com.amazonaws.amplify#DefaultDomain",
               "traits" : {
                  "smithy.api#documentation" : "<p>The default domain for the Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "description" : {
               "target" : "com.amazonaws.amplify#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description for the Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "enableAutoBranchCreation" : {
               "target" : "com.amazonaws.amplify#EnableAutoBranchCreation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables automated branch creation for the Amplify app. </p>"
               }
            },
            "enableBasicAuth" : {
               "target" : "com.amazonaws.amplify#EnableBasicAuth",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables basic authorization for the Amplify app's branches. </p>",
                  "smithy.api#required" : {}
               }
            },
            "enableBranchAutoBuild" : {
               "target" : "com.amazonaws.amplify#EnableBranchAutoBuild",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables the auto-building of branches for the Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "enableBranchAutoDeletion" : {
               "target" : "com.amazonaws.amplify#EnableBranchAutoDeletion",
               "traits" : {
                  "smithy.api#documentation" : "<p>Automatically disconnect a branch in the Amplify console when you delete a branch from\n            your Git repository.</p>"
               }
            },
            "environmentVariables" : {
               "target" : "com.amazonaws.amplify#EnvironmentVariables",
               "traits" : {
                  "smithy.api#documentation" : "<p>The environment variables for the Amplify app. </p>\n         <p>For a list of the environment variables that are accessible to Amplify by default, see\n                <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/amplify-console-environment-variables.html\">Amplify\n                Environment variables</a> in the <i>Amplify Hosting User\n            Guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "iamServiceRoleArn" : {
               "target" : "com.amazonaws.amplify#ServiceRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the IAM service role for the Amplify app.</p>"
               }
            },
            "jobConfig" : {
               "target" : "com.amazonaws.amplify#JobConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration details that apply to the jobs for an Amplify app.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.amplify#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name for the Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "platform" : {
               "target" : "com.amazonaws.amplify#Platform",
               "traits" : {
                  "smithy.api#documentation" : "<p>The platform for the Amplify app. For a static app, set the platform type to\n                <code>WEB</code>. For a dynamic server-side rendered (SSR) app, set the platform\n            type to <code>WEB_COMPUTE</code>. For an app requiring Amplify Hosting's original SSR\n            support only, set the platform type to <code>WEB_DYNAMIC</code>.</p>\n         <p>If you are deploying an SSG only app with Next.js 14 or later, you must use the\n            platform type <code>WEB_COMPUTE</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "productionBranch" : {
               "target" : "com.amazonaws.amplify#ProductionBranch",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the information about a production branch of the Amplify app. </p>"
               }
            },
            "repository" : {
               "target" : "com.amazonaws.amplify#Repository",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Git repository for the Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "repositoryCloneMethod" : {
               "target" : "com.amazonaws.amplify#RepositoryCloneMethod",
               "traits" : {
                  "smithy.api#documentation" : "<note>\n            <p>This is for internal use.</p>\n         </note>\n         <p>The Amplify service uses this parameter to specify the authentication protocol to use\n            to access the Git repository for an Amplify app. Amplify specifies <code>TOKEN</code>\n            for a GitHub repository, <code>SIGV4</code> for an Amazon Web Services CodeCommit\n            repository, and <code>SSH</code> for GitLab and Bitbucket repositories.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.amplify#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tag for the Amplify app. </p>"
               }
            },
            "updateTime" : {
               "target" : "com.amazonaws.amplify#UpdateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>A timestamp of when Amplify updated the application.</p>",
                  "smithy.api#required" : {}
               }
            },
            "wafConfiguration" : {
               "target" : "com.amazonaws.amplify#WafConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the Firewall configuration for the Amplify app. Firewall\n            support enables you to protect your hosted applications with a direct integration with\n                WAF.</p>"
               }
            },
            "webhookCreateTime" : {
               "target" : "com.amazonaws.amplify#webhookCreateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>A timestamp of when Amplify created the webhook in your Git\n            repository.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the different branches of a repository for building, deploying, and hosting\n            an Amplify app. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#AppArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#AppId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 20,
               "min" : 1
            },
            "smithy.api#pattern" : "^d[a-z0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Apps" : {
         "member" : {
            "target" : "com.amazonaws.amplify#App"
         },
         "type" : "list"
      },
      "com.amazonaws.amplify#Artifact" : {
         "members" : {
            "artifactFileName" : {
               "target" : "com.amazonaws.amplify#ArtifactFileName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The file name for the artifact. </p>",
                  "smithy.api#required" : {}
               }
            },
            "artifactId" : {
               "target" : "com.amazonaws.amplify#ArtifactId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique ID for the artifact. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an artifact. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#ArtifactFileName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#ArtifactId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 0
            },
            "smithy.api#pattern" : "^(?s)"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#ArtifactUrl" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Artifacts" : {
         "member" : {
            "target" : "com.amazonaws.amplify#Artifact"
         },
         "type" : "list"
      },
      "com.amazonaws.amplify#ArtifactsUrl" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#AssociatedResource" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#AssociatedResources" : {
         "member" : {
            "target" : "com.amazonaws.amplify#AssociatedResource"
         },
         "type" : "list"
      },
      "com.amazonaws.amplify#AutoBranchCreationConfig" : {
         "members" : {
            "basicAuthCredentials" : {
               "target" : "com.amazonaws.amplify#BasicAuthCredentials",
               "traits" : {
                  "smithy.api#documentation" : "<p>The basic authorization credentials for the autocreated branch. You must base64-encode\n            the authorization credentials and provide them in the format\n            <code>user:password</code>.</p>"
               }
            },
            "buildSpec" : {
               "target" : "com.amazonaws.amplify#BuildSpec",
               "traits" : {
                  "smithy.api#documentation" : "<p>The build specification (build spec) for the autocreated branch. </p>"
               }
            },
            "enableAutoBuild" : {
               "target" : "com.amazonaws.amplify#EnableAutoBuild",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables auto building for the autocreated branch. </p>"
               }
            },
            "enableBasicAuth" : {
               "target" : "com.amazonaws.amplify#EnableBasicAuth",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables basic authorization for the autocreated branch. </p>"
               }
            },
            "enablePerformanceMode" : {
               "target" : "com.amazonaws.amplify#EnablePerformanceMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables performance mode for the branch.</p>\n         <p>Performance mode optimizes for faster hosting performance by keeping content cached at\n            the edge for a longer interval. When performance mode is enabled, hosting configuration\n            or code changes can take up to 10 minutes to roll out. </p>"
               }
            },
            "enablePullRequestPreview" : {
               "target" : "com.amazonaws.amplify#EnablePullRequestPreview",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables pull request previews for the autocreated branch. </p>"
               }
            },
            "environmentVariables" : {
               "target" : "com.amazonaws.amplify#EnvironmentVariables",
               "traits" : {
                  "smithy.api#documentation" : "<p>The environment variables for the autocreated branch. </p>"
               }
            },
            "framework" : {
               "target" : "com.amazonaws.amplify#Framework",
               "traits" : {
                  "smithy.api#documentation" : "<p>The framework for the autocreated branch. </p>"
               }
            },
            "pullRequestEnvironmentName" : {
               "target" : "com.amazonaws.amplify#PullRequestEnvironmentName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amplify environment name for the pull request. </p>"
               }
            },
            "stage" : {
               "target" : "com.amazonaws.amplify#Stage",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the current stage for the autocreated branch. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the automated branch creation configuration. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#AutoBranchCreationPattern" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?s).+$"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#AutoBranchCreationPatterns" : {
         "member" : {
            "target" : "com.amazonaws.amplify#AutoBranchCreationPattern"
         },
         "type" : "list"
      },
      "com.amazonaws.amplify#AutoSubDomainCreationPattern" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?s).+$"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#AutoSubDomainCreationPatterns" : {
         "member" : {
            "target" : "com.amazonaws.amplify#AutoSubDomainCreationPattern"
         },
         "type" : "list"
      },
      "com.amazonaws.amplify#AutoSubDomainIAMRole" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            },
            "smithy.api#pattern" : "^$|^arn:aws:iam::\\d{12}:role.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Backend" : {
         "members" : {
            "stackArn" : {
               "target" : "com.amazonaws.amplify#StackArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for the CloudFormation stack.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the backend associated with an Amplify\n            <code>Branch</code>.</p>\n         <p>This property is available to Amplify Gen 2 apps only. When you deploy\n            an application with Amplify Gen 2, you provision the app's backend infrastructure using\n            Typescript code.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#BackendEnvironment" : {
         "members" : {
            "backendEnvironmentArn" : {
               "target" : "com.amazonaws.amplify#BackendEnvironmentArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for a backend environment that is part of an Amplify\n            app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "createTime" : {
               "target" : "com.amazonaws.amplify#CreateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The creation date and time for a backend environment that is part of an Amplify app.\n        </p>",
                  "smithy.api#required" : {}
               }
            },
            "deploymentArtifacts" : {
               "target" : "com.amazonaws.amplify#DeploymentArtifacts",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of deployment artifacts. </p>"
               }
            },
            "environmentName" : {
               "target" : "com.amazonaws.amplify#EnvironmentName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name for a backend environment that is part of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "stackName" : {
               "target" : "com.amazonaws.amplify#StackName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The AWS CloudFormation stack name of a backend environment. </p>"
               }
            },
            "updateTime" : {
               "target" : "com.amazonaws.amplify#UpdateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last updated date and time for a backend environment that is part of an Amplify\n            app. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the backend environment associated with a <code>Branch</code> of a Gen 1\n                Amplify app. Amplify Gen 1 applications are created\n            using Amplify Studio or the Amplify command line interface\n            (CLI).</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#BackendEnvironmentArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            },
            "smithy.api#pattern" : "^(?s)"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#BackendEnvironments" : {
         "member" : {
            "target" : "com.amazonaws.amplify#BackendEnvironment"
         },
         "type" : "list"
      },
      "com.amazonaws.amplify#BadRequestException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.amplify#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A request contains unexpected data. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#BasicAuthCredentials" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 0
            },
            "smithy.api#pattern" : "^(?s)",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Branch" : {
         "members" : {
            "activeJobId" : {
               "target" : "com.amazonaws.amplify#ActiveJobId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the active job for a branch of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "associatedResources" : {
               "target" : "com.amazonaws.amplify#AssociatedResources",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of custom resources that are linked to this branch. </p>"
               }
            },
            "backend" : {
               "target" : "com.amazonaws.amplify#Backend"
            },
            "backendEnvironmentArn" : {
               "target" : "com.amazonaws.amplify#BackendEnvironmentArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) for a backend environment that is part of an Amplify app. </p>\n         <p>This property is available to Amplify Gen 1 apps only. When you deploy\n            an application with Amplify Gen 2, you provision the app's backend infrastructure using\n            Typescript code.</p>"
               }
            },
            "basicAuthCredentials" : {
               "target" : "com.amazonaws.amplify#BasicAuthCredentials",
               "traits" : {
                  "smithy.api#documentation" : "<p> The basic authorization credentials for a branch of an Amplify app. You must\n            base64-encode the authorization credentials and provide them in the format\n                <code>user:password</code>.</p>"
               }
            },
            "branchArn" : {
               "target" : "com.amazonaws.amplify#BranchArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) for a branch that is part of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "branchName" : {
               "target" : "com.amazonaws.amplify#BranchName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name for the branch that is part of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "buildSpec" : {
               "target" : "com.amazonaws.amplify#BuildSpec",
               "traits" : {
                  "smithy.api#documentation" : "<p> The build specification (build spec) content for the branch of an Amplify app.\n        </p>"
               }
            },
            "computeRoleArn" : {
               "target" : "com.amazonaws.amplify#ComputeRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role for a branch of an SSR\n            app. The Compute role allows the Amplify Hosting compute service to\n            securely access specific Amazon Web Services resources based on the role's permissions.\n            For more information about the SSR Compute role, see <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/amplify-SSR-compute-role.html\">Adding an SSR Compute\n                role</a> in the <i>Amplify User Guide</i>.</p>"
               }
            },
            "createTime" : {
               "target" : "com.amazonaws.amplify#CreateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>A timestamp of when Amplify created the branch.</p>",
                  "smithy.api#required" : {}
               }
            },
            "customDomains" : {
               "target" : "com.amazonaws.amplify#CustomDomains",
               "traits" : {
                  "smithy.api#documentation" : "<p> The custom domains for a branch of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "description" : {
               "target" : "com.amazonaws.amplify#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p> The description for the branch that is part of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "destinationBranch" : {
               "target" : "com.amazonaws.amplify#BranchName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The destination branch if the branch is a pull request branch. </p>"
               }
            },
            "displayName" : {
               "target" : "com.amazonaws.amplify#DisplayName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The display name for the branch. This is used as the default domain prefix. </p>",
                  "smithy.api#required" : {}
               }
            },
            "enableAutoBuild" : {
               "target" : "com.amazonaws.amplify#EnableAutoBuild",
               "traits" : {
                  "smithy.api#documentation" : "<p> Enables auto-building on push for a branch of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "enableBasicAuth" : {
               "target" : "com.amazonaws.amplify#EnableBasicAuth",
               "traits" : {
                  "smithy.api#documentation" : "<p> Enables basic authorization for a branch of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "enableNotification" : {
               "target" : "com.amazonaws.amplify#EnableNotification",
               "traits" : {
                  "smithy.api#documentation" : "<p> Enables notifications for a branch that is part of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "enablePerformanceMode" : {
               "target" : "com.amazonaws.amplify#EnablePerformanceMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables performance mode for the branch.</p>\n         <p>Performance mode optimizes for faster hosting performance by keeping content cached at\n            the edge for a longer interval. When performance mode is enabled, hosting configuration\n            or code changes can take up to 10 minutes to roll out. </p>"
               }
            },
            "enablePullRequestPreview" : {
               "target" : "com.amazonaws.amplify#EnablePullRequestPreview",
               "traits" : {
                  "smithy.api#documentation" : "<p> Enables pull request previews for the branch. </p>",
                  "smithy.api#required" : {}
               }
            },
            "enableSkewProtection" : {
               "target" : "com.amazonaws.amplify#EnableSkewProtection",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies whether the skew protection feature is enabled for the branch.</p>\n         <p>Deployment skew protection is available to Amplify applications to\n            eliminate version skew issues between client and servers in web applications. When you\n            apply skew protection to a branch, you can ensure that your clients always interact with\n            the correct version of server-side assets, regardless of when a deployment occurs. For\n            more information about skew protection, see <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/skew-protection.html\">Skew protection for Amplify deployments</a> in the <i>Amplify User\n                Guide</i>.</p>"
               }
            },
            "environmentVariables" : {
               "target" : "com.amazonaws.amplify#EnvironmentVariables",
               "traits" : {
                  "smithy.api#documentation" : "<p> The environment variables specific to a branch of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "framework" : {
               "target" : "com.amazonaws.amplify#Framework",
               "traits" : {
                  "smithy.api#documentation" : "<p> The framework for a branch of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "pullRequestEnvironmentName" : {
               "target" : "com.amazonaws.amplify#PullRequestEnvironmentName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amplify environment name for the pull request. </p>"
               }
            },
            "sourceBranch" : {
               "target" : "com.amazonaws.amplify#BranchName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The source branch if the branch is a pull request branch. </p>"
               }
            },
            "stage" : {
               "target" : "com.amazonaws.amplify#Stage",
               "traits" : {
                  "smithy.api#documentation" : "<p> The current stage for the branch that is part of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.amplify#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p> The tag for the branch of an Amplify app. </p>"
               }
            },
            "thumbnailUrl" : {
               "target" : "com.amazonaws.amplify#ThumbnailUrl",
               "traits" : {
                  "smithy.api#documentation" : "<p> The thumbnail URL for the branch of an Amplify app. </p>"
               }
            },
            "totalNumberOfJobs" : {
               "target" : "com.amazonaws.amplify#TotalNumberOfJobs",
               "traits" : {
                  "smithy.api#documentation" : "<p> The total number of jobs that are part of an Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "ttl" : {
               "target" : "com.amazonaws.amplify#TTL",
               "traits" : {
                  "smithy.api#documentation" : "<p> The content Time to Live (TTL) for the website in seconds. </p>",
                  "smithy.api#required" : {}
               }
            },
            "updateTime" : {
               "target" : "com.amazonaws.amplify#UpdateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>A timestamp for the last updated time for a branch.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The branch for an Amplify app, which maps to a third-party repository branch. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#BranchArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            },
            "smithy.api#pattern" : "^(?s)"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#BranchName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?s).+$"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Branches" : {
         "member" : {
            "target" : "com.amazonaws.amplify#Branch"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.amplify#BuildComputeType" : {
         "members" : {
            "LARGE_16GB" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LARGE_16GB"
               }
            },
            "STANDARD_8GB" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STANDARD_8GB"
               }
            },
            "XLARGE_72GB" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "XLARGE_72GB"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.amplify#BuildSpec" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The build specification (build spec) file for an Amplify app build. </p>",
            "smithy.api#length" : {
               "max" : 25000,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?s).+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#CacheConfig" : {
         "members" : {
            "type" : {
               "target" : "com.amazonaws.amplify#CacheConfigType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of cache configuration to use for an Amplify app.</p>\n         <p>The <code>AMPLIFY_MANAGED</code> cache configuration automatically applies an\n            optimized cache configuration for your app based on its platform, routing rules, and\n            rewrite rules.</p>\n         <p>The <code>AMPLIFY_MANAGED_NO_COOKIES</code> cache configuration type is the same as\n                <code>AMPLIFY_MANAGED</code>, except that it excludes all cookies from the cache\n            key. This is the default setting.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the cache configuration for an Amplify app.</p>\n         <p>For more information about how Amplify applies an optimal cache\n            configuration for your app based on the type of content that is being served, see <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/managing-cache-configuration\">Managing cache configuration</a> in the <i>Amplify User\n                guide</i>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#CacheConfigType" : {
         "members" : {
            "AMPLIFY_MANAGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AMPLIFY_MANAGED"
               }
            },
            "AMPLIFY_MANAGED_NO_COOKIES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AMPLIFY_MANAGED_NO_COOKIES"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.amplify#Certificate" : {
         "members" : {
            "certificateVerificationDNSRecord" : {
               "target" : "com.amazonaws.amplify#CertificateVerificationDNSRecord",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DNS record for certificate verification.</p>"
               }
            },
            "customCertificateArn" : {
               "target" : "com.amazonaws.amplify#CertificateArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon resource name (ARN) for a custom certificate that you have already added to\n                Certificate Manager in your Amazon Web Services account. </p>\n         <p>This field is required only when the certificate type is <code>CUSTOM</code>.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.amplify#CertificateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of SSL/TLS certificate that you want to use.</p>\n         <p>Specify <code>AMPLIFY_MANAGED</code> to use the default certificate that Amplify\n            provisions for you.</p>\n         <p>Specify <code>CUSTOM</code> to use your own certificate that you have already added to\n                Certificate Manager in your Amazon Web Services account. Make sure you request (or\n            import) the certificate in the US East (N. Virginia) Region (us-east-1). For more\n            information about using ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing certificates into\n                    Certificate Manager</a> in the <i>ACM User\n                guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the current SSL/TLS certificate that is in use for the domain. If you are\n            using <code>CreateDomainAssociation</code> to create a new domain association,\n                <code>Certificate</code> describes the new certificate that you are creating.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#CertificateArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:aws:acm:[a-z0-9-]+:\\d{12}:certificate\\/.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#CertificateSettings" : {
         "members" : {
            "customCertificateArn" : {
               "target" : "com.amazonaws.amplify#CertificateArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon resource name (ARN) for the custom certificate that you have already added\n            to Certificate Manager in your Amazon Web Services account.</p>\n         <p>This field is required only when the certificate type is <code>CUSTOM</code>.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.amplify#CertificateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The certificate type.</p>\n         <p>Specify <code>AMPLIFY_MANAGED</code> to use the default certificate that Amplify\n            provisions for you.</p>\n         <p>Specify <code>CUSTOM</code> to use your own certificate that you have already added to\n                Certificate Manager in your Amazon Web Services account. Make sure you request (or\n            import) the certificate in the US East (N. Virginia) Region (us-east-1). For more\n            information about using ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing certificates into\n                    Certificate Manager</a> in the <i>ACM User\n                guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The type of SSL/TLS certificate to use for your custom domain. If a certificate type\n            isn't specified, Amplify uses the default <code>AMPLIFY_MANAGED</code>\n            certificate.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#CertificateType" : {
         "members" : {
            "AMPLIFY_MANAGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AMPLIFY_MANAGED"
               }
            },
            "CUSTOM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CUSTOM"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.amplify#CertificateVerificationDNSRecord" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Code" : {
         "type" : "string"
      },
      "com.amazonaws.amplify#CommitId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 0
            },
            "smithy.api#pattern" : "^(?s)"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#CommitMessage" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 10000,
               "min" : 0
            },
            "smithy.api#pattern" : "^(?s)"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#CommitTime" : {
         "type" : "timestamp"
      },
      "com.amazonaws.amplify#ComputeRoleArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            },
            "smithy.api#pattern" : "^(?s)"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Condition" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 0
            },
            "smithy.api#pattern" : "^(?s)"
         },
         "type" : "string"
      },
      "com.amazonaws.amplify#Context" : {
         "type" : "string"
      },
      "com.amazonaws.amplify#CreateApp" : {
         "errors" : [
            {
               "target" : "com.amazonaws.amplify#BadRequestException"
            },
            {
               "target" : "com.amazonaws.amplify#DependentServiceFailureException"
            },
            {
               "target" : "com.amazonaws.amplify#InternalFailureException"
            },
            {
               "target" : "com.amazonaws.amplify#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.amplify#UnauthorizedException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.amplify#CreateAppRequest"
         },
         "output" : {
            "target" : "com.amazonaws.amplify#CreateAppResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new Amplify app. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/apps"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.amplify#CreateAppRequest" : {
         "members" : {
            "accessToken" : {
               "target" : "com.amazonaws.amplify#AccessToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The personal access token for a GitHub repository for an Amplify app. The personal\n            access token is used to authorize access to a GitHub repository using the Amplify GitHub\n            App. The token is not stored.</p>\n         <p>Use <code>accessToken</code> for GitHub repositories only. To authorize access to a\n            repository provider such as Bitbucket or CodeCommit, use <code>oauthToken</code>.</p>\n         <p>You must specify either <code>accessToken</code> or <code>oauthToken</code> when you\n            create a new app.</p>\n         <p>Existing Amplify apps deployed from a GitHub repository using OAuth continue to work\n            with CI/CD. However, we strongly recommend that you migrate these apps to use the GitHub\n            App. For more information, see <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/setting-up-GitHub-access.html#migrating-to-github-app-auth\">Migrating an existing OAuth app to the Amplify GitHub App</a> in the\n                <i>Amplify User Guide</i> .</p>"
               }
            },
            "autoBranchCreationConfig" : {
               "target" : "com.amazonaws.amplify#AutoBranchCreationConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>The automated branch creation configuration for an Amplify app. </p>"
               }
            },
            "autoBranchCreationPatterns" : {
               "target" : "com.amazonaws.amplify#AutoBranchCreationPatterns",
               "traits" : {
                  "smithy.api#documentation" : "<p>The automated branch creation glob patterns for an Amplify app. </p>"
               }
            },
            "basicAuthCredentials" : {
               "target" : "com.amazonaws.amplify#BasicAuthCredentials",
               "traits" : {
                  "smithy.api#documentation" : "<p>The credentials for basic authorization for an Amplify app. You must base64-encode the\n            authorization credentials and provide them in the format\n            <code>user:password</code>.</p>"
               }
            },
            "buildSpec" : {
               "target" : "com.amazonaws.amplify#BuildSpec",
               "traits" : {
                  "smithy.api#documentation" : "<p>The build specification (build spec) for an Amplify app. </p>"
               }
            },
            "cacheConfig" : {
               "target" : "com.amazonaws.amplify#CacheConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>The cache configuration for the Amplify app.</p>"
               }
            },
            "computeRoleArn" : {
               "target" : "com.amazonaws.amplify#ComputeRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role to assign to an SSR app.\n            The SSR Compute role allows the Amplify Hosting compute service to\n            securely access specific Amazon Web Services resources based on the role's permissions.\n            For more information about the SSR Compute role, see <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/amplify-SSR-compute-role.html\">Adding an SSR Compute\n                role</a> in the <i>Amplify User Guide</i>.</p>"
               }
            },
            "customHeaders" : {
               "target" : "com.amazonaws.amplify#CustomHeaders",
               "traits" : {
                  "smithy.api#documentation" : "<p>The custom HTTP headers for an Amplify app.</p>"
               }
            },
            "customRules" : {
               "target" : "com.amazonaws.amplify#CustomRules",
               "traits" : {
                  "smithy.api#documentation" : "<p>The custom rewrite and redirect rules for an Amplify app. </p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.amplify#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the Amplify app. </p>"
               }
            },
            "enableAutoBranchCreation" : {
               "target" : "com.amazonaws.amplify#EnableAutoBranchCreation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables automated branch creation for an Amplify app. </p>"
               }
            },
            "enableBasicAuth" : {
               "target" : "com.amazonaws.amplify#EnableBasicAuth",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables basic authorization for an Amplify app. This will apply to all branches that\n            are part of this app. </p>"
               }
            },
            "enableBranchAutoBuild" : {
               "target" : "com.amazonaws.amplify#EnableBranchAutoBuild",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables the auto building of branches for an Amplify app. </p>"
               }
            },
            "enableBranchAutoDeletion" : {
               "target" : "com.amazonaws.amplify#EnableBranchAutoDeletion",
               "traits" : {
                  "smithy.api#documentation" : "<p>Automatically disconnects a branch in the Amplify console when you delete a branch\n            from your Git repository. </p>"
               }
            },
            "environmentVariables" : {
               "target" : "com.amazonaws.amplify#EnvironmentVariables",
               "traits" : {
                  "smithy.api#documentation" : "<p>The environment variables map for an Amplify app. </p>\n         <p>For a list of the environment variables that are accessible to Amplify by default, see\n                <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/amplify-console-environment-variables.html\">Amplify\n                Environment variables</a> in the <i>Amplify Hosting User\n            Guide</i>.</p>"
               }
            },
            "iamServiceRoleArn" : {
               "target" : "com.amazonaws.amplify#ServiceRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the IAM service role for the Amplify app.</p>"
               }
            },
            "jobConfig" : {
               "target" : "com.amazonaws.amplify#JobConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the configuration details that apply to the jobs for an Amplify app.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.amplify#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amplify app. </p>",
                  "smithy.api#required" : {}
               }
            },
            "oauthToken" : {
               "target" : "com.amazonaws.amplify#OauthToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The OAuth token for a third-party source control system for an Amplify app. The OAuth\n            token is used to create a webhook and a read-only deploy key using SSH cloning. The\n            OAuth token is not stored.</p>\n         <p>Use <code>oauthToken</code> for repository providers other than GitHub, such as\n            Bitbucket or CodeCommit. To authorize access to GitHub as your repository provider, use\n                <code>accessToken</code>.</p>\n         <p>You must specify either <code>oauthToken</code> or <code>accessToken</code> when you\n            create a new app.</p>\n         <p>Existing Amplify apps deployed from a GitHub repository using OAuth continue to work\n            with CI/CD. However, we strongly recommend that you migrate these apps to use the GitHub\n            App. For more information, see <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/setting-up-GitHub-access.html#migrating-to-github-app-auth\">Migrating an existing OAuth app to the Amplify GitHub App</a> in the\n                <i>Amplify User Guide</i> .</p>"
               }
            },
            "platform" : {
               "target" : "com.amazonaws.amplify#Platform",
               "traits" : {
                  "smithy.api#documentation" : "<p>The platform for the Amplify app. For a static app, set the platform type to\n                <code>WEB</code>. For a dynamic server-side rendered (SSR) app, set the platform\n            type to <code>WEB_COMPUTE</code>. For an app requiring Amplify Hosting's original SSR\n            support only, set the platform type to <code>WEB_DYNAMIC</code>.</p>\n         <p>If you are deploying an SSG only app with Next.js version 14 or later, you must set\n            the platform type to <code>WEB_COMPUTE</code> and set the artifacts\n                <code>baseDirectory</code> to <code>.next</code> in the application's build\n            settings. For an example of the build specification settings, see <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/deploy-nextjs-app.html#build-setting-detection-ssg-14\">Amplify build settings for a Next.js 14 SSG application</a> in the\n                <i>Amplify Hosting User Guide</i>.</p>"
               }
            },
            "repository" : {
               "target" : "com.amazonaws.amplify#Repository",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Git repository for the Amplify app. </p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.amplify#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tag for an Amplify app. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request structure used to create apps in Amplify. </p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#CreateAppResult" : {
         "members" : {
            "app" : {
               "target" : "com.amazonaws.amplify#App",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplify#CreateBackendEnvironment" : {
         "errors" : [
            {
               "target" : "com.amazonaws.amplify#BadRequestException"
            },
            {
               "target" : "com.amazonaws.amplify#InternalFailureException"
            },
            {
               "target" : "com.amazonaws.amplify#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.amplify#NotFoundException"
            },
            {
               "target" : "com.amazonaws.amplify#UnauthorizedException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.amplify#CreateBackendEnvironmentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.amplify#CreateBackendEnvironmentResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new backend environment for an Amplify app. </p>\n         <p>This API is available only to Amplify Gen 1 applications where the\n            backend is created using Amplify Studio or the Amplify\n            command line interface (CLI). This API isn’t available to Amplify Gen 2\n            applications. When you deploy an application with Amplify Gen 2, you provision the app's\n            backend infrastructure using Typescript code.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/apps/{appId}/backendenvironments"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.amplify#CreateBackendEnvironmentRequest" : {
         "members" : {
            "appId" : {
[...]
