{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.dax#AmazonDAXV3" : {
         "operations" : [
            {
               "target" : "com.amazonaws.dax#CreateCluster"
            },
            {
               "target" : "com.amazonaws.dax#CreateParameterGroup"
            },
            {
               "target" : "com.amazonaws.dax#CreateSubnetGroup"
            },
            {
               "target" : "com.amazonaws.dax#DecreaseReplicationFactor"
            },
            {
               "target" : "com.amazonaws.dax#DeleteCluster"
            },
            {
               "target" : "com.amazonaws.dax#DeleteParameterGroup"
            },
            {
               "target" : "com.amazonaws.dax#DeleteSubnetGroup"
            },
            {
               "target" : "com.amazonaws.dax#DescribeClusters"
            },
            {
               "target" : "com.amazonaws.dax#DescribeDefaultParameters"
            },
            {
               "target" : "com.amazonaws.dax#DescribeEvents"
            },
            {
               "target" : "com.amazonaws.dax#DescribeParameterGroups"
            },
            {
               "target" : "com.amazonaws.dax#DescribeParameters"
            },
            {
               "target" : "com.amazonaws.dax#DescribeSubnetGroups"
            },
            {
               "target" : "com.amazonaws.dax#IncreaseReplicationFactor"
            },
            {
               "target" : "com.amazonaws.dax#ListTags"
            },
            {
               "target" : "com.amazonaws.dax#RebootNode"
            },
            {
               "target" : "com.amazonaws.dax#TagResource"
            },
            {
               "target" : "com.amazonaws.dax#UntagResource"
            },
            {
               "target" : "com.amazonaws.dax#UpdateCluster"
            },
            {
               "target" : "com.amazonaws.dax#UpdateParameterGroup"
            },
            {
               "target" : "com.amazonaws.dax#UpdateSubnetGroup"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "dax",
               "cloudFormationName" : "DAX",
               "cloudTrailEventSource" : "dax.amazonaws.com",
               "endpointPrefix" : "dax",
               "sdkId" : "DAX"
            },
            "aws.auth#sigv4" : {
               "name" : "dax"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>DAX is a managed caching service engineered for Amazon DynamoDB. DAX dramatically speeds up database reads by caching\n            frequently-accessed data from DynamoDB, so applications can access that data\n            with sub-millisecond latency. You can create a DAX cluster easily, using\n            the Amazon Web Services Management Console. With a few simple modifications to your code, your\n            application can begin taking advantage of the DAX cluster and realize\n            significant improvements in read performance.</p>",
            "smithy.api#title" : "Amazon DynamoDB Accelerator (DAX)",
            "smithy.api#xmlNamespace" : {
               "uri" : "http://dax.amazonaws.com/doc/2017-04-19/"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://dax-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://dax-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://dax.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://dax.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://dax.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2017-04-19"
      },
      "com.amazonaws.dax#AvailabilityZoneList" : {
         "member" : {
            "target" : "com.amazonaws.dax#String"
         },
         "type" : "list"
      },
      "com.amazonaws.dax#AwsQueryErrorMessage" : {
         "type" : "string"
      },
      "com.amazonaws.dax#ChangeType" : {
         "members" : {
            "IMMEDIATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IMMEDIATE"
               }
            },
            "REQUIRES_REBOOT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REQUIRES_REBOOT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.dax#Cluster" : {
         "members" : {
            "ActiveNodes" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of nodes in the cluster that are active (i.e., capable of serving\n            requests).</p>"
               }
            },
            "ClusterArn" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster. </p>"
               }
            },
            "ClusterDiscoveryEndpoint" : {
               "target" : "com.amazonaws.dax#Endpoint",
               "traits" : {
                  "smithy.api#documentation" : "<p>The endpoint for this DAX cluster, consisting of a DNS name, a port\n            number, and a URL. Applications should use the URL to configure the DAX\n            client to find their cluster.</p>"
               }
            },
            "ClusterEndpointEncryptionType" : {
               "target" : "com.amazonaws.dax#ClusterEndpointEncryptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of encryption supported by the cluster's endpoint. Values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NONE</code> for no encryption</p>\n               <p>\n                  <code>TLS</code> for Transport Layer Security</p>\n            </li>\n         </ul>"
               }
            },
            "ClusterName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the DAX cluster.</p>"
               }
            },
            "Description" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the cluster.</p>"
               }
            },
            "IamRoleArn" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A valid Amazon Resource Name (ARN) that identifies an IAM role. At\n            runtime, DAX will assume this role and use the role's permissions to\n            access DynamoDB on your behalf.</p>"
               }
            },
            "NetworkType" : {
               "target" : "com.amazonaws.dax#NetworkType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The IP address type of the cluster. Values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ipv4</code> - IPv4 addresses only</p>\n            </li>\n            <li>\n               <p>\n                  <code>ipv6</code> - IPv6 addresses only</p>\n            </li>\n            <li>\n               <p>\n                  <code>dual_stack</code> - Both IPv4 and IPv6 addresses</p>\n            </li>\n         </ul>"
               }
            },
            "NodeIdsToRemove" : {
               "target" : "com.amazonaws.dax#NodeIdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of nodes to be removed from the cluster.</p>"
               }
            },
            "NodeType" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the\n            same type.)</p>"
               }
            },
            "Nodes" : {
               "target" : "com.amazonaws.dax#NodeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of nodes that are currently in the cluster.</p>"
               }
            },
            "NotificationConfiguration" : {
               "target" : "com.amazonaws.dax#NotificationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes a notification topic and its status. Notification topics are used for\n            publishing DAX events to subscribers using Amazon Simple Notification Service\n            (SNS).</p>"
               }
            },
            "ParameterGroup" : {
               "target" : "com.amazonaws.dax#ParameterGroupStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The parameter group being used by nodes in the cluster.</p>"
               }
            },
            "PreferredMaintenanceWindow" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A range of time when maintenance of DAX cluster software will be performed. For\n            example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than\n            30 minutes, and is performed automatically within the maintenance window.</p>"
               }
            },
            "SSEDescription" : {
               "target" : "com.amazonaws.dax#SSEDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the server-side encryption status on the specified DAX cluster.</p>"
               }
            },
            "SecurityGroups" : {
               "target" : "com.amazonaws.dax#SecurityGroupMembershipList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of security groups, and the status of each, for the nodes in the\n            cluster.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the cluster.</p>"
               }
            },
            "SubnetGroup" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The subnet group where the DAX cluster is running.</p>"
               }
            },
            "TotalNodes" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The total number of nodes in the cluster.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains all of the attributes of a specific DAX cluster.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#ClusterAlreadyExistsFault" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.dax#ExceptionMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ClusterAlreadyExists",
               "httpResponseCode" : 400
            },
            "smithy.api#documentation" : "<p>You already have a DAX cluster with the given identifier.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#ClusterEndpointEncryptionType" : {
         "members" : {
            "NONE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NONE"
               }
            },
            "TLS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TLS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.dax#ClusterList" : {
         "member" : {
            "target" : "com.amazonaws.dax#Cluster"
         },
         "type" : "list"
      },
      "com.amazonaws.dax#ClusterNameList" : {
         "member" : {
            "target" : "com.amazonaws.dax#String"
         },
         "type" : "list"
      },
      "com.amazonaws.dax#ClusterNotFoundFault" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.dax#ExceptionMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ClusterNotFound",
               "httpResponseCode" : 404
            },
            "smithy.api#documentation" : "<p>The requested cluster ID does not refer to an existing DAX\n            cluster.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#ClusterQuotaForCustomerExceededFault" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.dax#ExceptionMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ClusterQuotaForCustomerExceeded",
               "httpResponseCode" : 400
            },
            "smithy.api#documentation" : "<p>You have attempted to exceed the maximum number of DAX clusters for\n            your Amazon Web Services account.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#CreateCluster" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#ClusterAlreadyExistsFault"
            },
            {
               "target" : "com.amazonaws.dax#ClusterQuotaForCustomerExceededFault"
            },
            {
               "target" : "com.amazonaws.dax#InsufficientClusterCapacityFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidClusterStateFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterGroupStateFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidVPCNetworkStateFault"
            },
            {
               "target" : "com.amazonaws.dax#NodeQuotaForClusterExceededFault"
            },
            {
               "target" : "com.amazonaws.dax#NodeQuotaForCustomerExceededFault"
            },
            {
               "target" : "com.amazonaws.dax#ParameterGroupNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.dax#SubnetGroupNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#TagQuotaPerResourceExceeded"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#CreateClusterRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#CreateClusterResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a DAX cluster. All nodes in the cluster run the same DAX caching software.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#CreateClusterRequest" : {
         "members" : {
            "AvailabilityZones" : {
               "target" : "com.amazonaws.dax#AvailabilityZoneList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Availability Zones (AZs) in which the cluster nodes will reside after the\n            cluster has been created or updated. If provided, the length of this list must equal the\n                <code>ReplicationFactor</code> parameter. If you omit this parameter, DAX will spread the nodes across Availability Zones for the highest\n            availability.</p>"
               }
            },
            "ClusterEndpointEncryptionType" : {
               "target" : "com.amazonaws.dax#ClusterEndpointEncryptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of encryption the cluster's endpoint should support. Values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NONE</code> for no encryption</p>\n            </li>\n            <li>\n               <p>\n                  <code>TLS</code> for Transport Layer Security</p>\n            </li>\n         </ul>"
               }
            },
            "ClusterName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The cluster identifier. This parameter is stored as a lowercase string.</p>\n         <p>\n            <b>Constraints:</b>\n         </p>\n         <ul>\n            <li>\n               <p>A name must contain from 1 to 20 alphanumeric characters or\n                    hyphens.</p>\n            </li>\n            <li>\n               <p>The first character must be a letter.</p>\n            </li>\n            <li>\n               <p>A name cannot end with a hyphen or contain two consecutive\n                    hyphens.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "Description" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the cluster.</p>"
               }
            },
            "IamRoleArn" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A valid Amazon Resource Name (ARN) that identifies an IAM role. At\n            runtime, DAX will assume this role and use the role's permissions to\n            access DynamoDB on your behalf.</p>",
                  "smithy.api#required" : {}
               }
            },
            "NetworkType" : {
               "target" : "com.amazonaws.dax#NetworkType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the IP protocol(s) the cluster uses for network communications. Values\n            are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ipv4</code> - The cluster is accessible only through IPv4\n                    addresses</p>\n            </li>\n            <li>\n               <p>\n                  <code>ipv6</code> - The cluster is accessible only through IPv6\n                    addresses</p>\n            </li>\n            <li>\n               <p>\n                  <code>dual_stack</code> - The cluster is accessible through both IPv4 and\n                    IPv6 addresses.</p>\n            </li>\n         </ul>\n         <note>\n            <p>If no explicit <code>NetworkType</code> is provided, the network type is\n                derived based on the subnet group's configuration.</p>\n         </note>"
               }
            },
            "NodeType" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The compute and memory capacity of the nodes in the cluster.</p>",
                  "smithy.api#required" : {}
               }
            },
            "NotificationTopicArn" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon SNS topic to which\n            notifications will be sent.</p>\n         <note>\n            <p>The Amazon SNS topic owner must be same as the DAX\n                cluster owner.</p>\n         </note>"
               }
            },
            "ParameterGroupName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The parameter group to be associated with the DAX cluster.</p>"
               }
            },
            "PreferredMaintenanceWindow" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the weekly time range during which maintenance on the DAX cluster is\n            performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock\n            UTC). The minimum maintenance window is a 60 minute period. Valid values for\n                <code>ddd</code> are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>sun</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>mon</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>tue</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>wed</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>thu</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>fri</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>sat</code>\n               </p>\n            </li>\n         </ul>\n         <p>Example: <code>sun:05:00-sun:09:00</code>\n         </p>\n         <note>\n            <p>If you don't specify a preferred maintenance window when you create or modify a\n                cache cluster, DAX assigns a 60-minute maintenance window on a\n                randomly selected day of the week.</p>\n         </note>"
               }
            },
            "ReplicationFactor" : {
               "target" : "com.amazonaws.dax#Integer",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The number of nodes in the DAX cluster. A replication factor of 1\n            will create a single-node cluster, without any read replicas. For additional fault\n            tolerance, you can create a multiple node cluster with one or more read replicas. To do\n            this, set <code>ReplicationFactor</code> to a number between 3 (one primary and two read\n            replicas) and 10 (one primary and nine read replicas). <code>If the\n                AvailabilityZones</code> parameter is provided, its length must equal the\n                <code>ReplicationFactor</code>.</p>\n         <note>\n            <p>Amazon Web Services recommends that you have at least two read replicas per\n                cluster.</p>\n         </note>",
                  "smithy.api#required" : {}
               }
            },
            "SSESpecification" : {
               "target" : "com.amazonaws.dax#SSESpecification",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the settings used to enable server-side encryption on the\n            cluster.</p>"
               }
            },
            "SecurityGroupIds" : {
               "target" : "com.amazonaws.dax#SecurityGroupIdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of security group IDs to be assigned to each node in the DAX\n            cluster. (Each of the security group ID is system-generated.)</p>\n         <p>If this parameter is not specified, DAX assigns the default VPC\n            security group to each node.</p>"
               }
            },
            "SubnetGroupName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the subnet group to be used for the replication group.</p>\n         <important>\n            <p>DAX clusters can only run in an Amazon VPC environment.\n                All of the subnets that you specify in a subnet group must exist in the same\n                VPC.</p>\n         </important>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.dax#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A set of tags to associate with the DAX cluster.\n            </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#CreateClusterResponse" : {
         "members" : {
            "Cluster" : {
               "target" : "com.amazonaws.dax#Cluster",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the DAX cluster that you have created.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#CreateParameterGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterGroupStateFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#ParameterGroupAlreadyExistsFault"
            },
            {
               "target" : "com.amazonaws.dax#ParameterGroupQuotaExceededFault"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#CreateParameterGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#CreateParameterGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new parameter group. A parameter group is a collection of parameters that\n            you apply to all of the nodes in a DAX cluster.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#CreateParameterGroupRequest" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the parameter group.</p>"
               }
            },
            "ParameterGroupName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the parameter group to apply to all of the clusters in this replication\n            group.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#CreateParameterGroupResponse" : {
         "members" : {
            "ParameterGroup" : {
               "target" : "com.amazonaws.dax#ParameterGroup",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the output of a <i>CreateParameterGroup</i>\n            action.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#CreateSubnetGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#InvalidSubnet"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#SubnetGroupAlreadyExistsFault"
            },
            {
               "target" : "com.amazonaws.dax#SubnetGroupQuotaExceededFault"
            },
            {
               "target" : "com.amazonaws.dax#SubnetNotAllowedFault"
            },
            {
               "target" : "com.amazonaws.dax#SubnetQuotaExceededFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#CreateSubnetGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#CreateSubnetGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new subnet group.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#CreateSubnetGroupRequest" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description for the subnet group</p>"
               }
            },
            "SubnetGroupName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the subnet group. This value is stored as a lowercase string. </p>",
                  "smithy.api#required" : {}
               }
            },
            "SubnetIds" : {
               "target" : "com.amazonaws.dax#SubnetIdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of VPC subnet IDs for the subnet group.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#CreateSubnetGroupResponse" : {
         "members" : {
            "SubnetGroup" : {
               "target" : "com.amazonaws.dax#SubnetGroup",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the output of a <i>CreateSubnetGroup</i>\n            operation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DecreaseReplicationFactor" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#ClusterNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidClusterStateFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#NodeNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DecreaseReplicationFactorRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DecreaseReplicationFactorResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes one or more nodes from a DAX cluster.</p>\n         <note>\n            <p>You cannot use <code>DecreaseReplicationFactor</code> to remove the last node\n                in a DAX cluster. If you need to do this, use\n                    <code>DeleteCluster</code> instead.</p>\n         </note>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DecreaseReplicationFactorRequest" : {
         "members" : {
            "AvailabilityZones" : {
               "target" : "com.amazonaws.dax#AvailabilityZoneList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Availability Zone(s) from which to remove nodes.</p>"
               }
            },
            "ClusterName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the DAX cluster from which you want to remove\n            nodes.</p>",
                  "smithy.api#required" : {}
               }
            },
            "NewReplicationFactor" : {
               "target" : "com.amazonaws.dax#Integer",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The new number of nodes for the DAX cluster.</p>",
                  "smithy.api#required" : {}
               }
            },
            "NodeIdsToRemove" : {
               "target" : "com.amazonaws.dax#NodeIdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifiers of the nodes to be removed from the cluster.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DecreaseReplicationFactorResponse" : {
         "members" : {
            "Cluster" : {
               "target" : "com.amazonaws.dax#Cluster",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the DAX cluster, after you have decreased its\n            replication factor.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DeleteCluster" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#ClusterNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidClusterStateFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DeleteClusterRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DeleteClusterResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a previously provisioned DAX cluster.\n                <i>DeleteCluster</i> deletes all associated nodes, node endpoints and\n            the DAX cluster itself. When you receive a successful response from this\n            action, DAX immediately begins deleting the cluster; you cannot cancel or\n            revert this action.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DeleteClusterRequest" : {
         "members" : {
            "ClusterName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the cluster to be deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DeleteClusterResponse" : {
         "members" : {
            "Cluster" : {
               "target" : "com.amazonaws.dax#Cluster",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the DAX cluster that is being deleted.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DeleteParameterGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterGroupStateFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#ParameterGroupNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DeleteParameterGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DeleteParameterGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the specified parameter group. You cannot delete a parameter group if it is\n            associated with any DAX clusters.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DeleteParameterGroupRequest" : {
         "members" : {
            "ParameterGroupName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the parameter group to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DeleteParameterGroupResponse" : {
         "members" : {
            "DeletionMessage" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A user-specified message for this action (i.e., a reason for deleting the parameter\n            group).</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DeleteSubnetGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#SubnetGroupInUseFault"
            },
            {
               "target" : "com.amazonaws.dax#SubnetGroupNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DeleteSubnetGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DeleteSubnetGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a subnet group.</p>\n         <note>\n            <p>You cannot delete a subnet group if it is associated with any DAX\n                clusters.</p>\n         </note>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DeleteSubnetGroupRequest" : {
         "members" : {
            "SubnetGroupName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the subnet group to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DeleteSubnetGroupResponse" : {
         "members" : {
            "DeletionMessage" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A user-specified message for this action (i.e., a reason for deleting the subnet\n            group).</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeClusters" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#ClusterNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DescribeClustersRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DescribeClustersResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about all provisioned DAX clusters if no cluster identifier is\n            specified, or about a specific DAX cluster if a cluster identifier is\n            supplied.</p>\n         <p>If the cluster is in the CREATING state, only cluster level information will be\n            displayed until all of the nodes are successfully provisioned.</p>\n         <p>If the cluster is in the DELETING state, only cluster level information will be\n            displayed.</p>\n         <p>If nodes are currently being added to the DAX cluster, node endpoint information\n            and creation time for the additional nodes will not be displayed until they are\n            completely provisioned. When the DAX cluster state is\n                <i>available</i>, the cluster is ready for use.</p>\n         <p>If nodes are currently being removed from the DAX cluster, no\n            endpoint information for the removed nodes is displayed.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DescribeClustersRequest" : {
         "members" : {
            "ClusterNames" : {
               "target" : "com.amazonaws.dax#ClusterNameList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The names of the DAX clusters being described.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n         <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeClustersResponse" : {
         "members" : {
            "Clusters" : {
               "target" : "com.amazonaws.dax#ClusterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The descriptions of your DAX clusters, in response to a\n                <i>DescribeClusters</i> request.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides an identifier to allow retrieval of paginated results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeDefaultParameters" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DescribeDefaultParametersRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DescribeDefaultParametersResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the default system parameter information for the DAX caching\n            software.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DescribeDefaultParametersRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n         <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeDefaultParametersResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides an identifier to allow retrieval of paginated results.</p>"
               }
            },
            "Parameters" : {
               "target" : "com.amazonaws.dax#ParameterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of parameters. Each element in the list represents one parameter.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeEvents" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DescribeEventsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DescribeEventsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns events related to DAX clusters and parameter groups. You can\n            obtain events specific to a particular DAX cluster or parameter group by\n            providing the name as a parameter.</p>\n         <p>By default, only the events occurring within the last 24 hours are returned;\n            however, you can retrieve up to 14 days' worth of events if necessary.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DescribeEventsRequest" : {
         "members" : {
            "Duration" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of minutes' worth of events to retrieve.</p>"
               }
            },
            "EndTime" : {
               "target" : "com.amazonaws.dax#TStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The end of the time interval for which to retrieve events, specified in ISO 8601\n            format.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n         <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
               }
            },
            "SourceName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the event source for which events will be returned. If not\n            specified, then all sources are included in the response.</p>"
               }
            },
            "SourceType" : {
               "target" : "com.amazonaws.dax#SourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The event source to retrieve events for. If no value is specified, all events are\n            returned.</p>"
               }
            },
            "StartTime" : {
               "target" : "com.amazonaws.dax#TStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The beginning of the time interval to retrieve events for, specified in ISO 8601\n            format.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeEventsResponse" : {
         "members" : {
            "Events" : {
               "target" : "com.amazonaws.dax#EventList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of events. Each element in the array represents one event.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides an identifier to allow retrieval of paginated results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeParameterGroups" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#ParameterGroupNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DescribeParameterGroupsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DescribeParameterGroupsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of parameter group descriptions. If a parameter group name is\n            specified, the list will contain only the descriptions for that group.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DescribeParameterGroupsRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n         <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
               }
            },
            "ParameterGroupNames" : {
               "target" : "com.amazonaws.dax#ParameterGroupNameList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The names of the parameter groups.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeParameterGroupsResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides an identifier to allow retrieval of paginated results.</p>"
               }
            },
            "ParameterGroups" : {
               "target" : "com.amazonaws.dax#ParameterGroupList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of parameter groups. Each element in the array represents one parameter\n            group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeParameters" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#ParameterGroupNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DescribeParametersRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DescribeParametersResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the detailed parameter list for a particular parameter group.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DescribeParametersRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n         <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
               }
            },
            "ParameterGroupName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the parameter group.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Source" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>How the parameter is defined. For example, <code>system</code> denotes a\n            system-defined parameter.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeParametersResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides an identifier to allow retrieval of paginated results.</p>"
               }
            },
            "Parameters" : {
               "target" : "com.amazonaws.dax#ParameterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of parameters within a parameter group. Each element in the list represents\n            one parameter.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeSubnetGroups" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#SubnetGroupNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#DescribeSubnetGroupsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#DescribeSubnetGroupsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of subnet group descriptions. If a subnet group name is specified,\n            the list will contain only the description of that group.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#DescribeSubnetGroupsRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.dax#IntegerOptional",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n         <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
               }
            },
            "SubnetGroupNames" : {
               "target" : "com.amazonaws.dax#SubnetGroupNameList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the subnet group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#DescribeSubnetGroupsResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides an identifier to allow retrieval of paginated results.</p>"
               }
            },
            "SubnetGroups" : {
               "target" : "com.amazonaws.dax#SubnetGroupList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of subnet groups. Each element in the array represents a single subnet\n            group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#Endpoint" : {
         "members" : {
            "Address" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DNS hostname of the endpoint.</p>"
               }
            },
            "Port" : {
               "target" : "com.amazonaws.dax#Integer",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The port number that applications should use to connect to the endpoint.</p>"
               }
            },
            "URL" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL that applications should use to connect to the endpoint. The default ports\n            are 8111 for the \"dax\" protocol and 9111 for the \"daxs\" protocol.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the information required for client programs to connect to the endpoint\n            for a DAX cluster.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#Event" : {
         "members" : {
            "Date" : {
               "target" : "com.amazonaws.dax#TStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the event occurred.</p>"
               }
            },
            "Message" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A user-defined message associated with the event.</p>"
               }
            },
            "SourceName" : {
               "target" : "com.amazonaws.dax#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source of the event. For example, if the event occurred at the node level, the\n            source would be the node ID.</p>"
               }
            },
            "SourceType" : {
               "target" : "com.amazonaws.dax#SourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the origin of this event - a cluster, a parameter group, a node ID,\n            etc.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents a single occurrence of something interesting within the system. Some\n            examples of events are creating a DAX cluster, adding or removing a node, or rebooting a\n            node.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.dax#EventList" : {
         "member" : {
            "target" : "com.amazonaws.dax#Event"
         },
         "type" : "list"
      },
      "com.amazonaws.dax#ExceptionMessage" : {
         "type" : "string"
      },
      "com.amazonaws.dax#IncreaseReplicationFactor" : {
         "errors" : [
            {
               "target" : "com.amazonaws.dax#ClusterNotFoundFault"
            },
            {
               "target" : "com.amazonaws.dax#InsufficientClusterCapacityFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidClusterStateFault"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterCombinationException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.dax#InvalidVPCNetworkStateFault"
            },
            {
               "target" : "com.amazonaws.dax#NodeQuotaForClusterExceededFault"
            },
            {
               "target" : "com.amazonaws.dax#NodeQuotaForCustomerExceededFault"
            },
            {
               "target" : "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.dax#IncreaseReplicationFactorRequest"
         },
         "output" : {
            "target" : "com.amazonaws.dax#IncreaseReplicationFactorResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Adds one or more nodes to a DAX cluster.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.dax#IncreaseReplicationFactorRequest" : {
         "members" : {
            "AvailabilityZones" : {
               "target" : "com.amazonaws.dax#AvailabilityZoneList",
               "traits" : {
[...]
