{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.costexplorer#AWSInsightsIndexService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.costexplorer#CreateAnomalyMonitor"
            },
            {
               "target" : "com.amazonaws.costexplorer#CreateAnomalySubscription"
            },
            {
               "target" : "com.amazonaws.costexplorer#CreateCostCategoryDefinition"
            },
            {
               "target" : "com.amazonaws.costexplorer#DeleteAnomalyMonitor"
            },
            {
               "target" : "com.amazonaws.costexplorer#DeleteAnomalySubscription"
            },
            {
               "target" : "com.amazonaws.costexplorer#DeleteCostCategoryDefinition"
            },
            {
               "target" : "com.amazonaws.costexplorer#DescribeCostCategoryDefinition"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetAnomalies"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetAnomalyMonitors"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetAnomalySubscriptions"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetApproximateUsageRecords"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetCommitmentPurchaseAnalysis"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetCostAndUsage"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetCostAndUsageComparisons"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetCostAndUsageWithResources"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetCostCategories"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetCostComparisonDrivers"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetCostForecast"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetDimensionValues"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetReservationCoverage"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetReservationPurchaseRecommendation"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetReservationUtilization"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetRightsizingRecommendation"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetSavingsPlanPurchaseRecommendationDetails"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetSavingsPlansCoverage"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetSavingsPlansPurchaseRecommendation"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetSavingsPlansUtilization"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetSavingsPlansUtilizationDetails"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetTags"
            },
            {
               "target" : "com.amazonaws.costexplorer#GetUsageForecast"
            },
            {
               "target" : "com.amazonaws.costexplorer#ListCommitmentPurchaseAnalyses"
            },
            {
               "target" : "com.amazonaws.costexplorer#ListCostAllocationTagBackfillHistory"
            },
            {
               "target" : "com.amazonaws.costexplorer#ListCostAllocationTags"
            },
            {
               "target" : "com.amazonaws.costexplorer#ListCostCategoryDefinitions"
            },
            {
               "target" : "com.amazonaws.costexplorer#ListCostCategoryResourceAssociations"
            },
            {
               "target" : "com.amazonaws.costexplorer#ListSavingsPlansPurchaseRecommendationGeneration"
            },
            {
               "target" : "com.amazonaws.costexplorer#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.costexplorer#ProvideAnomalyFeedback"
            },
            {
               "target" : "com.amazonaws.costexplorer#StartCommitmentPurchaseAnalysis"
            },
            {
               "target" : "com.amazonaws.costexplorer#StartCostAllocationTagBackfill"
            },
            {
               "target" : "com.amazonaws.costexplorer#StartSavingsPlansPurchaseRecommendationGeneration"
            },
            {
               "target" : "com.amazonaws.costexplorer#TagResource"
            },
            {
               "target" : "com.amazonaws.costexplorer#UntagResource"
            },
            {
               "target" : "com.amazonaws.costexplorer#UpdateAnomalyMonitor"
            },
            {
               "target" : "com.amazonaws.costexplorer#UpdateAnomalySubscription"
            },
            {
               "target" : "com.amazonaws.costexplorer#UpdateCostAllocationTagsStatus"
            },
            {
               "target" : "com.amazonaws.costexplorer#UpdateCostCategoryDefinition"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "ce",
               "cloudFormationName" : "CostExplorer",
               "cloudTrailEventSource" : "costexplorer.amazonaws.com",
               "docId" : "ce-2017-10-25",
               "endpointPrefix" : "ce",
               "sdkId" : "Cost Explorer"
            },
            "aws.auth#sigv4" : {
               "name" : "ce"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>You can use the Cost Explorer API to programmatically query your cost and usage data.\n      You can query for aggregated data such as total monthly costs or total daily usage. You can\n      also query for granular data. This might include the number of daily write operations for\n      Amazon DynamoDB database tables in your production environment. </p>\n         <p>Service Endpoint</p>\n         <p>The Cost Explorer API provides the following endpoint:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>https://ce.us-east-1.amazonaws.com</code>\n               </p>\n            </li>\n         </ul>\n         <p>For information about the costs that are associated with the Cost Explorer API, see\n        <a href=\"http://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost\n        Management Pricing</a>.</p>",
            "smithy.api#title" : "AWS Cost Explorer Service",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.us-east-1.api.aws"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-cn"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "cn-northwest-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.cn-northwest-1.api.amazonwebservices.com.cn"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-iso-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.us-iso-east-1.c2s.ic.gov"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-b"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-isob-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.us-isob-east-1.sc2s.sgov.gov"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-e"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "eu-isoe-west-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.eu-isoe-west-1.cloud.adc-e.uk"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-f"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-isof-south-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.us-isof-south-1.csp.hci.ic.gov"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-eusc"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "eusc-de-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.eusc-de-east-1.api.amazonwebservices.eu"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-eusc"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "eusc-de-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.eusc-de-east-1.api.amazonwebservices.eu"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://ce-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://ce-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://ce.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                }
                                             ]
                                          },
                                          "url" : "https://ce.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eusc-de-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.eusc-de-east-1.amazonaws.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eusc-de-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.eusc-de-east-1.api.amazonwebservices.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-iso-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-iso-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isob-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isob-east-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eu-isoe-west-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eu-isoe-west-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isof-south-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isof-south-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://ce-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://ce.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2017-10-25"
      },
      "com.amazonaws.costexplorer#AccountId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^[0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.costexplorer#AccountScope" : {
         "members" : {
            "LINKED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LINKED"
               }
            },
            "PAYER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PAYER"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.costexplorer#AmortizedRecurringFee" : {
         "type" : "string"
      },
      "com.amazonaws.costexplorer#AmortizedUpfrontFee" : {
         "type" : "string"
      },
      "com.amazonaws.costexplorer#AnalysesPageSize" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "max" : 600,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.costexplorer#AnalysisDetails" : {
         "members" : {
            "SavingsPlansPurchaseAnalysisDetails" : {
               "target" : "com.amazonaws.costexplorer#SavingsPlansPurchaseAnalysisDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details about the Savings Plans purchase analysis.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Details about the analysis.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costexplorer#AnalysisId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 36
            },
            "smithy.api#pattern" : "^[\\S\\s]{8}-[\\S\\s]{4}-[\\S\\s]{4}-[\\S\\s]{4}-[\\S\\s]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.costexplorer#AnalysisIds" : {
         "member" : {
            "target" : "com.amazonaws.costexplorer#AnalysisId"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 600,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.costexplorer#AnalysisNotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.costexplorer#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The requested analysis can't be found.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.costexplorer#AnalysisStatus" : {
         "members" : {
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "PROCESSING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PROCESSING"
               }
            },
            "SUCCEEDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SUCCEEDED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.costexplorer#AnalysisSummary" : {
         "members" : {
            "AnalysisCompletionTime" : {
               "target" : "com.amazonaws.costexplorer#ZonedDateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The completion time of the analysis.</p>"
               }
            },
            "AnalysisId" : {
               "target" : "com.amazonaws.costexplorer#AnalysisId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The analysis ID that's associated with the commitment purchase analysis.</p>"
               }
            },
            "AnalysisStartedTime" : {
               "target" : "com.amazonaws.costexplorer#ZonedDateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The start time of the analysis.</p>"
               }
            },
            "AnalysisStatus" : {
               "target" : "com.amazonaws.costexplorer#AnalysisStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the analysis.</p>"
               }
            },
            "CommitmentPurchaseAnalysisConfiguration" : {
               "target" : "com.amazonaws.costexplorer#CommitmentPurchaseAnalysisConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration for the commitment purchase analysis.</p>"
               }
            },
            "ErrorCode" : {
               "target" : "com.amazonaws.costexplorer#ErrorCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error code used for the analysis.</p>"
               }
            },
            "EstimatedCompletionTime" : {
               "target" : "com.amazonaws.costexplorer#ZonedDateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The estimated time for when the analysis will complete.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A summary of the analysis.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costexplorer#AnalysisSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.costexplorer#AnalysisSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.costexplorer#AnalysisType" : {
         "members" : {
            "CUSTOM_COMMITMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CUSTOM_COMMITMENT"
               }
            },
            "MAX_SAVINGS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MAX_SAVINGS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.costexplorer#Anomalies" : {
         "member" : {
            "target" : "com.amazonaws.costexplorer#Anomaly"
         },
         "type" : "list"
      },
      "com.amazonaws.costexplorer#Anomaly" : {
         "members" : {
            "AnomalyEndDate" : {
               "target" : "com.amazonaws.costexplorer#YearMonthDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last day the anomaly is detected. </p>"
               }
            },
            "AnomalyId" : {
               "target" : "com.amazonaws.costexplorer#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the anomaly. </p>",
                  "smithy.api#required" : {}
               }
            },
            "AnomalyScore" : {
               "target" : "com.amazonaws.costexplorer#AnomalyScore",
               "traits" : {
                  "smithy.api#documentation" : "<p>The latest and maximum score for the anomaly. </p>",
                  "smithy.api#required" : {}
               }
            },
            "AnomalyStartDate" : {
               "target" : "com.amazonaws.costexplorer#YearMonthDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The first day the anomaly is detected. </p>"
               }
            },
            "DimensionValue" : {
               "target" : "com.amazonaws.costexplorer#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The dimension for the anomaly (for example, an Amazon Web Services service in a service\n            monitor). </p>"
               }
            },
            "Feedback" : {
               "target" : "com.amazonaws.costexplorer#AnomalyFeedbackType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The feedback value. </p>"
               }
            },
            "Impact" : {
               "target" : "com.amazonaws.costexplorer#Impact",
               "traits" : {
                  "smithy.api#documentation" : "<p>The dollar impact for the anomaly. </p>",
                  "smithy.api#required" : {}
               }
            },
            "MonitorArn" : {
               "target" : "com.amazonaws.costexplorer#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for the cost monitor that generated this anomaly.\n        </p>",
                  "smithy.api#required" : {}
               }
            },
            "RootCauses" : {
               "target" : "com.amazonaws.costexplorer#RootCauses",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of identified root causes for the anomaly. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An unusual cost pattern. This consists of the detailed metadata and the current status\n            of the anomaly object. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costexplorer#AnomalyDateInterval" : {
         "members" : {
            "EndDate" : {
               "target" : "com.amazonaws.costexplorer#YearMonthDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last date an anomaly was observed. </p>"
               }
            },
            "StartDate" : {
               "target" : "com.amazonaws.costexplorer#YearMonthDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The first date an anomaly was observed. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The time period for an anomaly. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costexplorer#AnomalyFeedbackType" : {
         "members" : {
            "NO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NO"
               }
            },
            "PLANNED_ACTIVITY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PLANNED_ACTIVITY"
               }
            },
            "YES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "YES"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.costexplorer#AnomalyMonitor" : {
         "members" : {
            "CreationDate" : {
               "target" : "com.amazonaws.costexplorer#YearMonthDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date when the monitor was created. </p>"
               }
            },
            "DimensionalValueCount" : {
               "target" : "com.amazonaws.costexplorer#NonNegativeInteger",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The value for evaluated dimensions. </p>"
               }
            },
            "LastEvaluatedDate" : {
               "target" : "com.amazonaws.costexplorer#YearMonthDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date when the monitor last evaluated for anomalies. </p>"
               }
            },
            "LastUpdatedDate" : {
               "target" : "com.amazonaws.costexplorer#YearMonthDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date when the monitor was last updated. </p>"
               }
            },
            "MonitorArn" : {
               "target" : "com.amazonaws.costexplorer#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) value. </p>"
               }
            },
            "MonitorDimension" : {
               "target" : "com.amazonaws.costexplorer#MonitorDimension",
               "traits" : {
                  "smithy.api#documentation" : "<p>For customer managed monitors, do not specify this field.</p>\n         <p>For Amazon Web Services managed monitors, this field controls which cost dimension is\n            automatically analyzed by the monitor. For <code>TAG</code> and <code>COST_CATEGORY\n            </code> dimensions, you must also specify MonitorSpecification to configure the specific\n            tag or cost category key to analyze.</p>"
               }
            },
            "MonitorName" : {
               "target" : "com.amazonaws.costexplorer#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the monitor. </p>",
                  "smithy.api#required" : {}
               }
            },
            "MonitorSpecification" : {
               "target" : "com.amazonaws.costexplorer#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>\n            object used to control what costs the monitor analyzes for anomalies.</p>\n         <p>For Amazon Web Services managed monitors:</p>\n         <ul>\n            <li>\n               <p>If MonitorDimension is <code>SERVICE</code> or <code>LINKED_ACCOUNT</code>, do\n                    not specify this field</p>\n            </li>\n            <li>\n               <p>If MonitorDimension is <code>TAG</code>, set this field to <code>{ \"Tags\": {\n                        \"Key\": \"your tag key\" } }</code>\n               </p>\n            </li>\n            <li>\n               <p>If MonitorDimension is <code>COST_CATEGORY</code>, set this field to <code>{\n                        \"CostCategories\": { \"Key\": \"your cost category key\" } }</code>\n               </p>\n            </li>\n         </ul>\n         <p>For customer managed monitors:</p>\n         <ul>\n            <li>\n               <p>To track linked accounts, set this field to <code>{ \"Dimensions\": { \"Key\":\n                        \"LINKED_ACCOUNT\", \"Values\": [ \"your list of up to 10 account IDs\" ] } }\n                        </code>\n               </p>\n            </li>\n            <li>\n               <p>To track cost allocation tags, set this field to <code>{ \"Tags\": { \"Key\":\n                        \"your tag key\", \"Values\": [ \"your list of up to 10 tag values\" ] } }\n                        </code>\n               </p>\n            </li>\n            <li>\n               <p>To track cost categories, set this field to<code>{ \"CostCategories\": { \"Key\":\n                        \"your cost category key\", \"Values\": [ \"your cost category value\" ] } }\n                        </code>\n               </p>\n            </li>\n         </ul>"
               }
            },
            "MonitorType" : {
               "target" : "com.amazonaws.costexplorer#MonitorType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the monitor. </p>\n         <p>Set this to <code>DIMENSIONAL</code> for an Amazon Web Services managed monitor.\n            Amazon Web Services managed monitors automatically track up to the top 5,000 values by\n            cost within a dimension of your choosing. Each dimension value is evaluated\n            independently. If you start incurring cost in a new value of your chosen dimension, it\n            will automatically be analyzed by an Amazon Web Services managed monitor.</p>\n         <p>Set this to <code>CUSTOM</code> for a customer managed monitor. Customer managed\n            monitors let you select specific dimension values that get monitored in aggregate.\n        </p>\n         <p>For more information about monitor types, see <a href=\"https://docs.aws.amazon.com/cost-management/latest/userguide/getting-started-ad.html#monitor-type-def\">Monitor\n            types</a> in the <i>Billing and Cost Management User Guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This object continuously inspects your account's cost data for anomalies. It's based\n            on <code>MonitorType</code> and <code>MonitorSpecification</code>. The content consists\n            of detailed metadata and the current status of the monitor object. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costexplorer#AnomalyMonitors" : {
         "member" : {
            "target" : "com.amazonaws.costexplorer#AnomalyMonitor"
         },
         "type" : "list"
      },
      "com.amazonaws.costexplorer#AnomalyScore" : {
         "members" : {
            "CurrentScore" : {
               "target" : "com.amazonaws.costexplorer#GenericDouble",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The last observed score. </p>",
                  "smithy.api#required" : {}
               }
            },
            "MaxScore" : {
               "target" : "com.amazonaws.costexplorer#GenericDouble",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum score that's observed during the <code>AnomalyDateInterval</code>. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Quantifies the anomaly. The higher score means that it's more anomalous. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costexplorer#AnomalySubscription" : {
         "members" : {
            "AccountId" : {
               "target" : "com.amazonaws.costexplorer#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Your unique account identifier. </p>"
               }
            },
            "Frequency" : {
               "target" : "com.amazonaws.costexplorer#AnomalySubscriptionFrequency",
               "traits" : {
                  "smithy.api#documentation" : "<p>The frequency that anomaly notifications are sent. Notifications are sent either over\n            email (for DAILY and WEEKLY frequencies) or SNS (for IMMEDIATE frequency). For more\n            information, see <a href=\"https://docs.aws.amazon.com/cost-management/latest/userguide/ad-SNS.html\">Creating an Amazon SNS topic for\n                anomaly notifications</a>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MonitorArnList" : {
               "target" : "com.amazonaws.costexplorer#MonitorArnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of cost anomaly monitors. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Subscribers" : {
               "target" : "com.amazonaws.costexplorer#Subscribers",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of subscribers to notify. </p>",
                  "smithy.api#required" : {}
               }
            },
            "SubscriptionArn" : {
               "target" : "com.amazonaws.costexplorer#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>AnomalySubscription</code> Amazon Resource Name (ARN). </p>"
               }
            },
            "SubscriptionName" : {
               "target" : "com.amazonaws.costexplorer#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name for the subscription. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Threshold" : {
               "target" : "com.amazonaws.costexplorer#NullableNonNegativeDouble",
               "traits" : {
                  "smithy.api#deprecated" : {
                     "message" : "Threshold has been deprecated in favor of ThresholdExpression"
                  },
                  "smithy.api#documentation" : "<p>(deprecated)</p>\n         <p>An absolute dollar value that must be exceeded by the anomaly's total impact (see\n                <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Impact.html\">Impact</a> for\n            more details) for an anomaly notification to be generated.</p>\n         <p>This field has been deprecated. To specify a threshold, use ThresholdExpression.\n            Continued use of Threshold will be treated as shorthand syntax for a\n            ThresholdExpression.</p>\n         <p>One of Threshold or ThresholdExpression is required for this resource. You cannot\n            specify both.</p>"
               }
            },
            "ThresholdExpression" : {
               "target" : "com.amazonaws.costexplorer#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>\n            object used to specify the anomalies that you want to generate alerts for. This supports\n            dimensions and nested expressions. The supported dimensions are\n                <code>ANOMALY_TOTAL_IMPACT_ABSOLUTE</code> and\n                <code>ANOMALY_TOTAL_IMPACT_PERCENTAGE</code>, corresponding to an anomaly’s\n            TotalImpact and TotalImpactPercentage, respectively (see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Impact.html\">Impact</a> for\n            more details). The supported nested expression types are <code>AND</code> and\n                <code>OR</code>. The match option <code>GREATER_THAN_OR_EQUAL</code> is required.\n            Values must be numbers between 0 and 10,000,000,000 in string format.</p>\n         <p>One of Threshold or ThresholdExpression is required for this resource. You cannot\n            specify both.</p>\n         <p>The following are examples of valid ThresholdExpressions:</p>\n         <ul>\n            <li>\n               <p>Absolute threshold: <code>{ \"Dimensions\": { \"Key\":\n                        \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\"\n                        ], \"Values\": [ \"100\" ] } }</code>\n               </p>\n            </li>\n            <li>\n               <p>Percentage threshold: <code>{ \"Dimensions\": { \"Key\":\n                        \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\"\n                        ], \"Values\": [ \"100\" ] } }</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>AND</code> two thresholds together: <code>{ \"And\": [ { \"Dimensions\": {\n                        \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [\n                        \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }, { \"Dimensions\": { \"Key\":\n                        \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\"\n                        ], \"Values\": [ \"100\" ] } } ] }</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OR</code> two thresholds together: <code>{ \"Or\": [ { \"Dimensions\": {\n                        \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [\n                        \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }, { \"Dimensions\": { \"Key\":\n                        \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\"\n                        ], \"Values\": [ \"100\" ] } } ] }</code>\n               </p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An <code>AnomalySubscription</code> resource (also referred to as an alert\n            subscription) sends notifications about specific anomalies that meet an alerting\n            criteria defined by you.</p>\n         <p>You can specify the frequency of the alerts and the subscribers to notify.</p>\n         <p>Anomaly subscriptions can be associated with one or more <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalyMonitor.html\">\n               <code>AnomalyMonitor</code>\n            </a>  resources, and they only send\n            notifications about anomalies detected by those associated monitors. You can also\n            configure a threshold to further control which anomalies are included in the\n            notifications.</p>\n         <p>Anomalies that don’t exceed the chosen threshold and therefore don’t trigger\n            notifications from an anomaly subscription will still be available on the console and\n            from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetAnomalies.html\">\n               <code>GetAnomalies</code>\n            </a> API.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.costexplorer#AnomalySubscriptionFrequency" : {
         "members" : {
            "DAILY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DAILY"
               }
            },
            "IMMEDIATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IMMEDIATE"
               }
            },
            "WEEKLY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "WEEKLY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.costexplorer#AnomalySubscriptions" : {
         "member" : {
            "target" : "com.amazonaws.costexplorer#AnomalySubscription"
         },
         "type" : "list"
      },
      "com.amazonaws.costexplorer#ApproximateUsageRecordsPerService" : {
         "key" : {
            "target" : "com.amazonaws.costexplorer#GenericString"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.costexplorer#NonNegativeLong"
         }
      },
      "com.amazonaws.costexplorer#ApproximationDimension" : {
         "members" : {
            "RESOURCE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RESOURCE"
               }
            },
            "SERVICE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SERVICE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.costexplorer#Arn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 20
            },
            "smithy.api#pattern" : "^arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.costexplorer#AttributeType" : {
         "type" : "string"
      },
      "com.amazonaws.costexplorer#AttributeValue" : {
         "type" : "string"
      },
      "com.amazonaws.costexplorer#Attributes" : {
         "key" : {
            "target" : "com.amazonaws.costexplorer#AttributeType"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.costexplorer#AttributeValue"
         }
      },
      "com.amazonaws.costexplorer#BackfillLimitExceededException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.costexplorer#ErrorMessage"
[...]
