{
   "shapes" : {
      "com.amazonaws.freetier#AWSFreeTierService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.freetier#GetAccountActivity"
            },
            {
               "target" : "com.amazonaws.freetier#GetAccountPlanState"
            },
            {
               "target" : "com.amazonaws.freetier#GetFreeTierUsage"
            },
            {
               "target" : "com.amazonaws.freetier#ListAccountActivities"
            },
            {
               "target" : "com.amazonaws.freetier#UpgradeAccountPlan"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "endpointPrefix" : "freetier",
               "sdkId" : "FreeTier"
            },
            "aws.auth#sigv4" : {
               "name" : "freetier"
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<p>You can use the Amazon Web Services Free Tier API to query programmatically your Free Tier usage data.</p> <p>Free Tier tracks your monthly usage data for all free tier offers that are associated with your Amazon Web Services account. You can use the Free Tier API to filter and show only the data that you want.</p> <p>Service endpoint</p> <p>The Free Tier API provides the following endpoint:</p> <ul/> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-free-tier.html\">Using the Amazon Web Services Free Tier</a> in the <i>Billing User Guide</i>.</p>",
            "smithy.api#title" : "AWS Free Tier",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "name"
                                             ],
                                             "fn" : "getAttr"
                                          },
                                          "aws"
                                       ],
                                       "fn" : "stringEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://freetier-fips.{Region}.api.aws"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingName" : "freetier",
                                                   "signingRegion" : "us-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://freetier.us-east-1.api.aws"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          true,
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "supportsDualStack"
                                             ],
                                             "fn" : "getAttr"
                                          }
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://freetier-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "Region"
                                                },
                                                "aws-cn-global"
                                             ],
                                             "fn" : "stringEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingName" : "freetier",
                                                   "signingRegion" : "cn-northwest-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://freetier.cn-northwest-1.api.amazonwebservices.com.cn"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://freetier.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://freetier-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          },
                                          "aws-cn-global"
                                       ],
                                       "fn" : "stringEquals"
                                    }
                                 ],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {
                                       "authSchemes" : [
                                          {
                                             "name" : "sigv4",
                                             "signingName" : "freetier",
                                             "signingRegion" : "cn-northwest-1"
                                          }
                                       ]
                                    },
                                    "url" : "https://freetier.cn-northwest-1.api.amazonwebservices.com.cn"
                                 },
                                 "type" : "endpoint"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://freetier.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region aws-global with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "freetier",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://freetier.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "aws-global",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://freetier-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "freetier",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://freetier.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region aws-cn-global with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "freetier",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://freetier.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "aws-cn-global",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://freetier-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://freetier.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://freetier-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://freetier.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2023-09-07"
      },
      "com.amazonaws.freetier#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> You don't have sufficient access to perform this action. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#AccountId" : {
         "traits" : {
            "smithy.api#pattern" : "^[0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.freetier#AccountPlanStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "EXPIRED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EXPIRED"
               }
            },
            "NOT_STARTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NOT_STARTED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.freetier#AccountPlanType" : {
         "members" : {
            "FREE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FREE"
               }
            },
            "PAID" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PAID"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.freetier#Activities" : {
         "member" : {
            "target" : "com.amazonaws.freetier#ActivitySummary"
         },
         "type" : "list"
      },
      "com.amazonaws.freetier#ActivityId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 32
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.freetier#ActivityReward" : {
         "members" : {
            "credit" : {
               "target" : "com.amazonaws.freetier#MonetaryAmount",
               "traits" : {
                  "smithy.api#documentation" : "<p> The credits gained by activity rewards. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The summary of the rewards granted as a result of activities completed. </p>"
         },
         "type" : "union"
      },
      "com.amazonaws.freetier#ActivityStatus" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COMPLETED"
               }
            },
            "EXPIRING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EXPIRING"
               }
            },
            "IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IN_PROGRESS"
               }
            },
            "NOT_STARTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NOT_STARTED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.freetier#ActivitySummary" : {
         "members" : {
            "activityId" : {
               "target" : "com.amazonaws.freetier#ActivityId",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier that identifies the activity. </p>",
                  "smithy.api#required" : {}
               }
            },
            "reward" : {
               "target" : "com.amazonaws.freetier#ActivityReward",
               "traits" : {
                  "smithy.api#documentation" : "<p> The reward for the activity. </p>",
                  "smithy.api#required" : {}
               }
            },
            "status" : {
               "target" : "com.amazonaws.freetier#ActivityStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The current status of the activity. </p>",
                  "smithy.api#required" : {}
               }
            },
            "title" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p> The title of the activity. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The summary of activities. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#CurrencyCode" : {
         "members" : {
            "USD" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "USD"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.freetier#Dimension" : {
         "members" : {
            "DESCRIPTION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DESCRIPTION"
               }
            },
            "FREE_TIER_TYPE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FREE_TIER_TYPE"
               }
            },
            "OPERATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OPERATION"
               }
            },
            "REGION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REGION"
               }
            },
            "SERVICE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SERVICE"
               }
            },
            "USAGE_PERCENTAGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "USAGE_PERCENTAGE"
               }
            },
            "USAGE_TYPE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "USAGE_TYPE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.freetier#DimensionValues" : {
         "members" : {
            "Key" : {
               "target" : "com.amazonaws.freetier#Dimension",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dimension that you want to filter on.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MatchOptions" : {
               "target" : "com.amazonaws.freetier#MatchOptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>The match options that you can use to filter your results. You can specify only one of these values in the array.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Values" : {
               "target" : "com.amazonaws.freetier#Values",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata values you can specify to filter upon, so that the results all match at least one of the specified values.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains the specifications for the filters to use for your request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#Expression" : {
         "members" : {
            "And" : {
               "target" : "com.amazonaws.freetier#Expressions",
               "traits" : {
                  "smithy.api#documentation" : "<p>Return results that match all <code>Expressions</code> that you specified in the array.</p>"
               }
            },
            "Dimensions" : {
               "target" : "com.amazonaws.freetier#DimensionValues",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific dimension, values, and match type to filter objects with.</p>"
               }
            },
            "Not" : {
               "target" : "com.amazonaws.freetier#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p>Return results that don’t match the <code>Expression</code> that you specified.</p>"
               }
            },
            "Or" : {
               "target" : "com.amazonaws.freetier#Expressions",
               "traits" : {
                  "smithy.api#documentation" : "<p>Return results that match any of the <code>Expressions</code> that you specified. in the array.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Use <code>Expression</code> to filter in the <code>GetFreeTierUsage</code> API operation.</p> <p>You can use the following patterns:</p> <ul> <li> <p>Simple dimension values (<code>Dimensions</code> root operator)</p> </li> <li> <p>Complex expressions with logical operators (<code>AND</code>, <code>NOT</code>, and <code>OR</code> root operators).</p> </li> </ul> <p>For <i>simple dimension values</i>, you can set the dimension name, values, and match type for the filters that you plan to use.</p> <p> <b>Example for simple dimension values</b> </p> <p>You can filter to match exactly for <code>REGION==us-east-1 OR REGION==us-west-1</code>.</p> <p>The corresponding <code>Expression</code> appears like the following: <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ], \"MatchOptions\": [\"EQUALS\"] } }</code> </p> <p>As shown in the previous example, lists of dimension values are combined with <code>OR</code> when you apply the filter.</p> <p>For <i>complex expressions with logical operators</i>, you can have nested expressions to use the logical operators and specify advanced filtering.</p> <p> <b>Example for complex expressions with logical operators</b> </p> <p>You can filter by <code>((REGION == us-east-1 OR REGION == us-west-1) OR (SERVICE CONTAINS AWSLambda)) AND (USAGE_TYPE !CONTAINS DataTransfer)</code>.</p> <p>The corresponding <code>Expression</code> appears like the following: <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ], \"MatchOptions\": [\"EQUALS\"] }}, {\"Dimensions\": { \"Key\": \"SERVICE\", \"Values\": [\"AWSLambda\"], \"MatchOptions\": [\"CONTAINS\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [\"DataTransfer\"], \"MatchOptions\": [\"CONTAINS\"] }}} ] }</code> </p> <p>In the following <b>Contents</b>, you must specify exactly one of the following root operators.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#Expressions" : {
         "member" : {
            "target" : "com.amazonaws.freetier#Expression"
         },
         "type" : "list"
      },
      "com.amazonaws.freetier#FilterActivityStatuses" : {
         "member" : {
            "target" : "com.amazonaws.freetier#ActivityStatus"
         },
         "type" : "list"
      },
      "com.amazonaws.freetier#FreeTierUsage" : {
         "members" : {
            "actualUsageAmount" : {
               "target" : "com.amazonaws.freetier#GenericDouble",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Describes the actual usage accrued month-to-day (MTD) that you've used so far.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the Free Tier offer.</p>"
               }
            },
            "forecastedUsageAmount" : {
               "target" : "com.amazonaws.freetier#GenericDouble",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Describes the forecasted usage by the month that you're expected to use.</p>"
               }
            },
            "freeTierType" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the type of the Free Tier offer. For example, the offer can be <code>\"12 Months Free\"</code>, <code>\"Always Free\"</code>, and <code>\"Free Trial\"</code>.</p>"
               }
            },
            "limit" : {
               "target" : "com.amazonaws.freetier#GenericDouble",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>Describes the maximum usage allowed in Free Tier.</p>"
               }
            },
            "operation" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes <code>usageType</code> more granularly with the specific Amazon Web Services service API operation. For example, this can be the <code>RunInstances</code> API operation for Amazon Elastic Compute Cloud.</p>"
               }
            },
            "region" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the Amazon Web Services Region for which this offer is applicable</p>"
               }
            },
            "service" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amazon Web Services service providing the Free Tier offer. For example, this can be Amazon Elastic Compute Cloud.</p>"
               }
            },
            "unit" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the unit of the <code>usageType</code>, such as <code>Hrs</code>.</p>"
               }
            },
            "usageType" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the usage details of the offer. For example, this might be <code>Global-BoxUsage:freetrial</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Consists of a Amazon Web Services Free Tier offer’s metadata and your data usage for the offer.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#FreeTierUsages" : {
         "member" : {
            "target" : "com.amazonaws.freetier#FreeTierUsage"
         },
         "type" : "list"
      },
      "com.amazonaws.freetier#GenericDouble" : {
         "traits" : {
            "smithy.api#default" : 0
         },
         "type" : "double"
      },
      "com.amazonaws.freetier#GenericString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 0
            },
            "smithy.api#pattern" : "^[\\S\\s]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.freetier#GetAccountActivity" : {
         "errors" : [
            {
               "target" : "com.amazonaws.freetier#InternalServerException"
            },
            {
               "target" : "com.amazonaws.freetier#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.freetier#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.freetier#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.freetier#GetAccountActivityRequest"
         },
         "output" : {
            "target" : "com.amazonaws.freetier#GetAccountActivityResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Returns a specific activity record that is available to the customer. </p>",
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "success" : {}
                  },
                  "id" : "GetAccountActivitySuccess",
                  "params" : {
                     "activityId" : "d622f48bf4014286a2686ab10cacfb2e",
                     "languageCode" : "en-US"
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.freetier#GetAccountActivityRequest" : {
         "members" : {
            "activityId" : {
               "target" : "com.amazonaws.freetier#ActivityId",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier that identifies the activity. </p>",
                  "smithy.api#required" : {}
               }
            },
            "languageCode" : {
               "target" : "com.amazonaws.freetier#LanguageCode",
               "traits" : {
                  "smithy.api#documentation" : "<p> The language code used to return translated title and description fields. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#GetAccountActivityResponse" : {
         "members" : {
            "activityId" : {
               "target" : "com.amazonaws.freetier#ActivityId",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier that identifies the activity. </p>",
                  "smithy.api#required" : {}
               }
            },
            "completedAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The timestamp when the activity is completed. This field appears only for activities in the <code>COMPLETED</code> state. </p>",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "description" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p> Provides detailed information about the activity and its expected outcomes. </p>",
                  "smithy.api#required" : {}
               }
            },
            "estimatedTimeToCompleteInMinutes" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The estimated time to complete the activity. This is the duration in minutes. </p>"
               }
            },
            "expiresAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The time by which the activity must be completed to receive a reward. </p>",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "instructionsUrl" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p> The URL resource that provides guidance on activity requirements and completion. </p>",
                  "smithy.api#required" : {}
               }
            },
            "reward" : {
               "target" : "com.amazonaws.freetier#ActivityReward",
               "traits" : {
                  "smithy.api#documentation" : "<p> A reward granted upon activity completion. </p>",
                  "smithy.api#required" : {}
               }
            },
            "startedAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The timestamp when the activity started. This field appears only for activities in the <code>IN_PROGRESS</code> or <code>COMPLETED</code> states. </p>",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "status" : {
               "target" : "com.amazonaws.freetier#ActivityStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The current activity status. </p>",
                  "smithy.api#required" : {}
               }
            },
            "title" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#documentation" : "<p> A short activity title. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#GetAccountPlanState" : {
         "errors" : [
            {
               "target" : "com.amazonaws.freetier#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.freetier#InternalServerException"
            },
            {
               "target" : "com.amazonaws.freetier#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.freetier#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.freetier#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.freetier#GetAccountPlanStateRequest"
         },
         "output" : {
            "target" : "com.amazonaws.freetier#GetAccountPlanStateResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> This returns all of the information related to the state of the account plan related to Free Tier. </p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.freetier#GetAccountPlanStateRequest" : {
         "members" : {},
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#GetAccountPlanStateResponse" : {
         "members" : {
            "accountId" : {
               "target" : "com.amazonaws.freetier#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier that identifies the account. </p>",
                  "smithy.api#required" : {}
               }
            },
            "accountPlanExpirationDate" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The timestamp for when the current account plan expires. </p>",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "accountPlanRemainingCredits" : {
               "target" : "com.amazonaws.freetier#MonetaryAmount",
               "traits" : {
                  "smithy.api#documentation" : "<p> The amount of credits remaining for the account. </p>"
               }
            },
            "accountPlanStatus" : {
               "target" : "com.amazonaws.freetier#AccountPlanStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The current status for the account plan. </p>",
                  "smithy.api#required" : {}
               }
            },
            "accountPlanType" : {
               "target" : "com.amazonaws.freetier#AccountPlanType",
               "traits" : {
                  "smithy.api#documentation" : "<p> The plan type for the account. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#GetFreeTierUsage" : {
         "errors" : [
            {
               "target" : "com.amazonaws.freetier#InternalServerException"
            },
            {
               "target" : "com.amazonaws.freetier#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.freetier#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.freetier#GetFreeTierUsageRequest"
         },
         "output" : {
            "target" : "com.amazonaws.freetier#GetFreeTierUsageResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of all Free Tier usage objects that match your filters.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "freeTierUsages",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.freetier#GetFreeTierUsageRequest" : {
         "members" : {
            "filter" : {
               "target" : "com.amazonaws.freetier#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p>An expression that specifies the conditions that you want each <code>FreeTierUsage</code> object to meet.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.freetier#MaxResults",
               "traits" : {
                  "smithy.api#default" : 10,
                  "smithy.api#documentation" : "<p>The maximum number of results to return in the response. <code>MaxResults</code> means that there can be up to the specified number of values, but there might be fewer results based on your filters.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.freetier#NextPageToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results to retrieve.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#GetFreeTierUsageResponse" : {
         "members" : {
            "freeTierUsages" : {
               "target" : "com.amazonaws.freetier#FreeTierUsages",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of Free Tier usage objects that meet your filter expression.</p>",
                  "smithy.api#required" : {}
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.freetier#NextPageToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results to retrieve.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#InternalServerException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An unexpected error occurred during the processing of your request.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#LanguageCode" : {
         "members" : {
            "DE_DE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "de-DE"
               }
            },
            "EN_GB" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "en-GB"
               }
            },
            "EN_US" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "en-US"
               }
            },
            "ES_ES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "es-ES"
               }
            },
            "FR_FR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "fr-FR"
               }
            },
            "ID_ID" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "id-ID"
               }
            },
            "IT_IT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "it-IT"
               }
            },
            "JA_JP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ja-JP"
               }
            },
            "KO_KR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ko-KR"
               }
            },
            "PT_PT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "pt-PT"
               }
            },
            "TR_TR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "tr-TR"
               }
            },
            "ZH_CN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "zh-CN"
               }
            },
            "ZH_TW" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "zh-TW"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.freetier#ListAccountActivities" : {
         "errors" : [
            {
               "target" : "com.amazonaws.freetier#InternalServerException"
            },
            {
               "target" : "com.amazonaws.freetier#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.freetier#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.freetier#ListAccountActivitiesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.freetier#ListAccountActivitiesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Returns a list of activities that are available. This operation supports pagination and filtering by status. </p>",
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "activities",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "success" : {}
                  },
                  "id" : "ListAccountActivitiesSuccess",
                  "params" : {
                     "languageCode" : "en-US"
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.freetier#ListAccountActivitiesRequest" : {
         "members" : {
            "filterActivityStatuses" : {
               "target" : "com.amazonaws.freetier#FilterActivityStatuses",
               "traits" : {
                  "smithy.api#documentation" : "<p> The activity status filter. This field can be used to filter the response by activities status. </p>"
               }
            },
            "languageCode" : {
               "target" : "com.amazonaws.freetier#LanguageCode",
               "traits" : {
                  "smithy.api#documentation" : "<p> The language code used to return translated titles. </p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.freetier#MaxResults",
               "traits" : {
                  "smithy.api#default" : 10,
                  "smithy.api#documentation" : "<p> The maximum number of items to return for this request. To get the next page of items, make another request with the token returned in the output. </p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.freetier#NextPageToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> A token from a previous paginated response. If this is specified, the response includes records beginning from this token (inclusive), up to the number specified by <code>maxResults</code>. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#ListAccountActivitiesResponse" : {
         "members" : {
            "activities" : {
               "target" : "com.amazonaws.freetier#Activities",
               "traits" : {
                  "smithy.api#documentation" : "<p> A brief information about the activities. </p>",
                  "smithy.api#required" : {}
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.freetier#NextPageToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> The token to include in another request to get the next page of items. This value is <code>null</code> when there are no more items to return. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#MatchOption" : {
         "members" : {
            "CONTAINS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONTAINS"
               }
            },
            "ENDS_WITH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ENDS_WITH"
               }
            },
            "EQUALS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EQUALS"
               }
            },
            "GREATER_THAN_OR_EQUAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "GREATER_THAN_OR_EQUAL"
               }
            },
            "STARTS_WITH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STARTS_WITH"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.freetier#MatchOptions" : {
         "member" : {
            "target" : "com.amazonaws.freetier#MatchOption"
         },
         "type" : "list"
      },
      "com.amazonaws.freetier#MaxResults" : {
         "traits" : {
            "smithy.api#default" : 10,
            "smithy.api#range" : {
               "max" : 1000,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.freetier#MonetaryAmount" : {
         "members" : {
            "amount" : {
               "target" : "com.amazonaws.freetier#GenericDouble",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p> The aggregated monetary amount of credits earned. </p>",
                  "smithy.api#required" : {}
               }
            },
            "unit" : {
               "target" : "com.amazonaws.freetier#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p> The unit that the monetary amount is given in. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The monetary amount of the credit. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#NextPageToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 8192,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\S\\s]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.freetier#ResourceNotFoundException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> This exception is thrown when the requested resource cannot be found. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#ThrottlingException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request was denied due to request throttling.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#UpgradeAccountPlan" : {
         "errors" : [
            {
               "target" : "com.amazonaws.freetier#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.freetier#InternalServerException"
            },
            {
               "target" : "com.amazonaws.freetier#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.freetier#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.freetier#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.freetier#UpgradeAccountPlanRequest"
         },
         "output" : {
            "target" : "com.amazonaws.freetier#UpgradeAccountPlanResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The account plan type for the Amazon Web Services account. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.freetier#UpgradeAccountPlanRequest" : {
         "members" : {
            "accountPlanType" : {
               "target" : "com.amazonaws.freetier#AccountPlanType",
               "traits" : {
                  "smithy.api#documentation" : "<p> The target account plan type. This makes it explicit about the change and latest value of the <code>accountPlanType</code>. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#UpgradeAccountPlanResponse" : {
         "members" : {
            "accountId" : {
               "target" : "com.amazonaws.freetier#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier that identifies the account. </p>",
                  "smithy.api#required" : {}
               }
            },
            "accountPlanStatus" : {
               "target" : "com.amazonaws.freetier#AccountPlanStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> This indicates the latest state of the account plan within its lifecycle. </p>",
                  "smithy.api#required" : {}
               }
            },
            "accountPlanType" : {
               "target" : "com.amazonaws.freetier#AccountPlanType",
               "traits" : {
                  "smithy.api#documentation" : "<p> The type of plan for the account. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#ValidationException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.freetier#GenericString",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.freetier#Value" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 20,
               "min" : 1
            },
            "smithy.api#pattern" : "^[ a-zA-Z0-9\\-\\:\\.\\_\\/\\,\\$\\(\\)]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.freetier#Values" : {
         "member" : {
            "target" : "com.amazonaws.freetier#Value"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      }
   },
   "smithy" : "2.0"
}
