{
   "shapes" : {
      "com.amazonaws.workspacesweb#ARN" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 20
            },
            "smithy.api#pattern" : "^arn:[\\w+=\\/,.@-]+:[a-zA-Z0-9\\-]+:[a-zA-Z0-9\\-]*:[a-zA-Z0-9]{1,12}:[a-zA-Z]+(\\/[a-fA-F0-9\\-]{36})+$"
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#AWSErmineControlPlaneService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.workspacesweb#ExpireSession"
            },
            {
               "target" : "com.amazonaws.workspacesweb#GetSession"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ListSessions"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#TagResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#UntagResource"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.workspacesweb#BrowserSettingsResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#DataProtectionSettingsResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#IdentityProviderResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#IpAccessSettingsResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#NetworkSettingsResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#PortalResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#SessionLoggerResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#TrustStoreResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#UserAccessLoggingSettingsResource"
            },
            {
               "target" : "com.amazonaws.workspacesweb#UserSettingsResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "workspaces-web",
               "cloudFormationName" : "WorkSpacesWeb",
               "cloudTrailEventSource" : "workspaces-web.amazonaws.com",
               "endpointPrefix" : "workspaces-web",
               "sdkId" : "WorkSpaces Web"
            },
            "aws.api#tagEnabled" : {},
            "aws.auth#sigv4" : {
               "name" : "workspaces-web"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Amazon WorkSpaces Secure Browser is a low cost, fully managed WorkSpace built specifically to facilitate secure, web-based workloads. WorkSpaces Secure Browser makes it easy for customers to safely provide their employees with access to internal websites and SaaS web applications without the administrative burden of appliances or specialized client software. WorkSpaces Secure Browser provides simple policy tools tailored for user interactions, while offloading common tasks like capacity management, scaling, and maintaining browser images.</p>",
            "smithy.api#title" : "Amazon WorkSpaces Web",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://workspaces-web-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://workspaces-web-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://workspaces-web.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://workspaces-web.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://workspaces-web.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-07-08"
      },
      "com.amazonaws.workspacesweb#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.workspacesweb#ExceptionMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Access is denied.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#ArnList" : {
         "member" : {
            "target" : "com.amazonaws.workspacesweb#ARN"
         },
         "type" : "list"
      },
      "com.amazonaws.workspacesweb#AssociateBrowserSettings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#AssociateBrowserSettingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#AssociateBrowserSettingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a browser settings resource with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/portals/{portalArn+}/browserSettings"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#AssociateBrowserSettingsRequest" : {
         "members" : {
            "browserSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The ARN of the browser settings.</p>",
                  "smithy.api#httpQuery" : "browserSettingsArn",
                  "smithy.api#required" : {}
               }
            },
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateBrowserSettingsResponse" : {
         "members" : {
            "browserSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the browser settings.</p>",
                  "smithy.api#required" : {}
               }
            },
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateDataProtectionSettings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#AssociateDataProtectionSettingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#AssociateDataProtectionSettingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a data protection settings resource with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/portals/{portalArn+}/dataProtectionSettings"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#AssociateDataProtectionSettingsRequest" : {
         "members" : {
            "dataProtectionSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The ARN of the data protection settings.</p>",
                  "smithy.api#httpQuery" : "dataProtectionSettingsArn",
                  "smithy.api#required" : {}
               }
            },
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateDataProtectionSettingsResponse" : {
         "members" : {
            "dataProtectionSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the data protection settings resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateIpAccessSettings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#AssociateIpAccessSettingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#AssociateIpAccessSettingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates an IP access settings resource with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/portals/{portalArn+}/ipAccessSettings"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#AssociateIpAccessSettingsRequest" : {
         "members" : {
            "ipAccessSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The ARN of the IP access settings.</p>",
                  "smithy.api#httpQuery" : "ipAccessSettingsArn",
                  "smithy.api#required" : {}
               }
            },
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateIpAccessSettingsResponse" : {
         "members" : {
            "ipAccessSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the IP access settings resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateNetworkSettings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#AssociateNetworkSettingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#AssociateNetworkSettingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a network settings resource with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/portals/{portalArn+}/networkSettings"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#AssociateNetworkSettingsRequest" : {
         "members" : {
            "networkSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The ARN of the network settings.</p>",
                  "smithy.api#httpQuery" : "networkSettingsArn",
                  "smithy.api#required" : {}
               }
            },
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateNetworkSettingsResponse" : {
         "members" : {
            "networkSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the network settings.</p>",
                  "smithy.api#required" : {}
               }
            },
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateSessionLogger" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#AssociateSessionLoggerRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#AssociateSessionLoggerResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a session logger with a portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/portals/{portalArn+}/sessionLogger"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#AssociateSessionLoggerRequest" : {
         "members" : {
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the portal to associate to the session logger ARN.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "sessionLoggerArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The ARN of the session logger to associate to the portal ARN.</p>",
                  "smithy.api#httpQuery" : "sessionLoggerArn",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {},
            "smithy.api#references" : [
               {
                  "resource" : "com.amazonaws.workspacesweb#PortalResource"
               },
               {
                  "resource" : "com.amazonaws.workspacesweb#SessionLoggerResource"
               }
            ]
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateSessionLoggerResponse" : {
         "members" : {
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the portal.</p>",
                  "smithy.api#required" : {}
               }
            },
            "sessionLoggerArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the session logger.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {},
            "smithy.api#references" : [
               {
                  "resource" : "com.amazonaws.workspacesweb#PortalResource"
               },
               {
                  "resource" : "com.amazonaws.workspacesweb#SessionLoggerResource"
               }
            ]
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateTrustStore" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#AssociateTrustStoreRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#AssociateTrustStoreResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a trust store with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/portals/{portalArn+}/trustStores"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#AssociateTrustStoreRequest" : {
         "members" : {
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "trustStoreArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The ARN of the trust store.</p>",
                  "smithy.api#httpQuery" : "trustStoreArn",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateTrustStoreResponse" : {
         "members" : {
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#required" : {}
               }
            },
            "trustStoreArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the trust store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a user access logging settings resource with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/portals/{portalArn+}/userAccessLoggingSettings"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsRequest" : {
         "members" : {
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "userAccessLoggingSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The ARN of the user access logging settings.</p>",
                  "smithy.api#httpQuery" : "userAccessLoggingSettingsArn",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsResponse" : {
         "members" : {
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#required" : {}
               }
            },
            "userAccessLoggingSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the user access logging settings.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateUserSettings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#AssociateUserSettingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#AssociateUserSettingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a user settings resource with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/portals/{portalArn+}/userSettings"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#AssociateUserSettingsRequest" : {
         "members" : {
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "userSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The ARN of the user settings.</p>",
                  "smithy.api#httpQuery" : "userSettingsArn",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AssociateUserSettingsResponse" : {
         "members" : {
            "portalArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the web portal.</p>",
                  "smithy.api#required" : {}
               }
            },
            "userSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the user settings.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#AuthenticationType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "STANDARD",
                  "value" : "Standard"
               },
               {
                  "name" : "IAM_IDENTITY_CENTER",
                  "value" : "IAM_Identity_Center"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#BlockedCategories" : {
         "member" : {
            "target" : "com.amazonaws.workspacesweb#Category"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            },
            "smithy.api#uniqueItems" : {}
         },
         "type" : "list"
      },
      "com.amazonaws.workspacesweb#BrandingConfiguration" : {
         "members" : {
            "colorTheme" : {
               "target" : "com.amazonaws.workspacesweb#ColorTheme",
               "traits" : {
                  "smithy.api#documentation" : "<p>The color theme for components on the web portal.</p>",
                  "smithy.api#required" : {}
               }
            },
            "favicon" : {
               "target" : "com.amazonaws.workspacesweb#ImageMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata for the favicon image file, including the MIME type, file extension, and upload timestamp.</p>",
                  "smithy.api#required" : {}
               }
            },
            "localizedStrings" : {
               "target" : "com.amazonaws.workspacesweb#LocalizedBrandingStringMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map of localized text strings for different languages, allowing the portal to display content in the user's preferred language.</p>",
                  "smithy.api#required" : {}
               }
            },
            "logo" : {
               "target" : "com.amazonaws.workspacesweb#ImageMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata for the logo image file, including the MIME type, file extension, and upload timestamp.</p>",
                  "smithy.api#required" : {}
               }
            },
            "termsOfService" : {
               "target" : "com.amazonaws.workspacesweb#Markdown",
               "traits" : {
                  "smithy.api#documentation" : "<p>The terms of service text in Markdown format that users must accept before accessing the portal.</p>"
               }
            },
            "wallpaper" : {
               "target" : "com.amazonaws.workspacesweb#ImageMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata for the wallpaper image file, including the MIME type, file extension, and upload timestamp.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The branding configuration output including custom images metadata, localized strings, color theme, and terms of service.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#BrandingConfigurationCreateInput" : {
         "members" : {
            "colorTheme" : {
               "target" : "com.amazonaws.workspacesweb#ColorTheme",
               "traits" : {
                  "smithy.api#documentation" : "<p>The color theme for components on the web portal. Choose <code>Light</code> if you upload a dark wallpaper, or <code>Dark</code> for a light wallpaper.</p>",
                  "smithy.api#required" : {}
               }
            },
            "favicon" : {
               "target" : "com.amazonaws.workspacesweb#IconImageInput",
               "traits" : {
                  "smithy.api#documentation" : "<p>The favicon image for the portal. Provide either a binary image file or an S3 URI pointing to the image file. Maximum 100 KB in JPEG, PNG, or ICO format.</p>",
                  "smithy.api#required" : {}
               }
            },
            "localizedStrings" : {
               "target" : "com.amazonaws.workspacesweb#LocalizedBrandingStringMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map of localized text strings for different supported languages. Each locale must provide the required fields <code>browserTabTitle</code> and <code>welcomeText</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "logo" : {
               "target" : "com.amazonaws.workspacesweb#IconImageInput",
               "traits" : {
                  "smithy.api#documentation" : "<p>The logo image for the portal. Provide either a binary image file or an S3 URI pointing to the image file. Maximum 100 KB in JPEG, PNG, or ICO format.</p>",
                  "smithy.api#required" : {}
               }
            },
            "termsOfService" : {
               "target" : "com.amazonaws.workspacesweb#Markdown",
               "traits" : {
                  "smithy.api#documentation" : "<p>The terms of service text in Markdown format. Users will be presented with the terms of service after successfully signing in.</p>"
               }
            },
            "wallpaper" : {
               "target" : "com.amazonaws.workspacesweb#WallpaperImageInput",
               "traits" : {
                  "smithy.api#documentation" : "<p>The wallpaper image for the portal. Provide either a binary image file or an S3 URI pointing to the image file. Maximum 5 MB in JPEG or PNG format. If not provided, a default wallpaper will be used as the background image.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The input configuration for creating branding settings.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#BrandingConfigurationUpdateInput" : {
         "members" : {
            "colorTheme" : {
               "target" : "com.amazonaws.workspacesweb#ColorTheme",
               "traits" : {
                  "smithy.api#documentation" : "<p>The color theme for components on the web portal. Choose <code>Light</code> if you upload a dark wallpaper, or <code>Dark</code> for a light wallpaper.</p>"
               }
            },
            "favicon" : {
               "target" : "com.amazonaws.workspacesweb#IconImageInput",
               "traits" : {
                  "smithy.api#documentation" : "<p>The favicon image for the portal. Provide either a binary image file or an S3 URI pointing to the image file. Maximum 100 KB in JPEG, PNG, or ICO format.</p>"
               }
            },
            "localizedStrings" : {
               "target" : "com.amazonaws.workspacesweb#LocalizedBrandingStringMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map of localized text strings for different supported languages. Each locale must provide the required fields <code>browserTabTitle</code> and <code>welcomeText</code>.</p>"
               }
            },
            "logo" : {
               "target" : "com.amazonaws.workspacesweb#IconImageInput",
               "traits" : {
                  "smithy.api#documentation" : "<p>The logo image for the portal. Provide either a binary image file or an S3 URI pointing to the image file. Maximum 100 KB in JPEG, PNG, or ICO format.</p>"
               }
            },
            "termsOfService" : {
               "target" : "com.amazonaws.workspacesweb#Markdown",
               "traits" : {
                  "smithy.api#documentation" : "<p>The terms of service text in Markdown format. To remove existing terms of service, provide an empty string.</p>"
               }
            },
            "wallpaper" : {
               "target" : "com.amazonaws.workspacesweb#WallpaperImageInput",
               "traits" : {
                  "smithy.api#documentation" : "<p>The wallpaper image for the portal. Provide either a binary image file or an S3 URI pointing to the image file. Maximum 5 MB in JPEG or PNG format.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The input configuration for updating branding settings. All fields are optional when updating existing branding.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#BrandingSafeStringType" : {
         "traits" : {
            "smithy.api#pattern" : "^[^<>&'`~\\\\]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#BrowserPolicy" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 131072,
               "min" : 2
            },
            "smithy.api#pattern" : "^\\{[\\S\\s]*\\}\\s*$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#BrowserSettings" : {
         "members" : {
            "additionalEncryptionContext" : {
               "target" : "com.amazonaws.workspacesweb#EncryptionContextMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The additional encryption context of the browser settings.</p>"
               }
            },
            "associatedPortalArns" : {
               "target" : "com.amazonaws.workspacesweb#ArnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of web portal ARNs that this browser settings is associated with.</p>"
               }
            },
            "browserPolicy" : {
               "target" : "com.amazonaws.workspacesweb#BrowserPolicy",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON string containing Chrome Enterprise policies that will be applied to all streaming sessions.</p>"
               }
            },
            "browserSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the browser settings.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "browserSettingsArn"
               }
            },
            "customerManagedKey" : {
               "target" : "com.amazonaws.workspacesweb#keyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The customer managed key used to encrypt sensitive information in the browser settings.</p>"
               }
            },
            "webContentFilteringPolicy" : {
               "target" : "com.amazonaws.workspacesweb#WebContentFilteringPolicy",
               "traits" : {
                  "smithy.api#documentation" : "<p>The policy that specifies which URLs end users are allowed to access or which URLs or domain categories they are restricted from accessing for enhanced security.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The browser settings resource that can be associated with a web portal. Once associated with a web portal, browser settings control how the browser will behave once a user starts a streaming session for the web portal. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#BrowserSettingsList" : {
         "member" : {
            "target" : "com.amazonaws.workspacesweb#BrowserSettingsSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.workspacesweb#BrowserSettingsResource" : {
         "create" : {
            "target" : "com.amazonaws.workspacesweb#CreateBrowserSettings"
         },
         "delete" : {
            "target" : "com.amazonaws.workspacesweb#DeleteBrowserSettings"
         },
         "identifiers" : {
            "browserSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN"
            }
         },
         "list" : {
            "target" : "com.amazonaws.workspacesweb#ListBrowserSettings"
         },
         "properties" : {
            "additionalEncryptionContext" : {
               "target" : "com.amazonaws.workspacesweb#EncryptionContextMap"
            },
            "associatedPortalArns" : {
               "target" : "com.amazonaws.workspacesweb#ArnList"
            },
            "browserPolicy" : {
               "target" : "com.amazonaws.workspacesweb#BrowserPolicy"
            },
            "customerManagedKey" : {
               "target" : "com.amazonaws.workspacesweb#keyArn"
            },
            "tags" : {
               "target" : "com.amazonaws.workspacesweb#TagList"
            },
            "webContentFilteringPolicy" : {
               "target" : "com.amazonaws.workspacesweb#WebContentFilteringPolicy"
            }
         },
         "read" : {
            "target" : "com.amazonaws.workspacesweb#GetBrowserSettings"
         },
         "traits" : {
            "aws.api#arn" : {
               "absolute" : true,
               "template" : "{browserSettingsArn}"
            },
            "aws.api#taggable" : {
               "property" : "tags"
            },
            "aws.cloudformation#cfnResource" : {
               "name" : "BrowserSettings"
            }
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.workspacesweb#UpdateBrowserSettings"
         }
      },
      "com.amazonaws.workspacesweb#BrowserSettingsSummary" : {
         "members" : {
            "browserSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the browser settings.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "browserSettingsArn"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The summary for browser settings.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#BrowserType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "CHROME",
                  "value" : "Chrome"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#BuiltInPatternId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            },
            "smithy.api#pattern" : "^[_\\-\\d\\w]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#Category" : {
         "members" : {
            "CHAT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Chat"
               }
            },
            "CRIMINAL_ACTIVITY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CriminalActivity"
               }
            },
            "CULTS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Cults"
               }
            },
            "DOWNLOAD_SITES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DownloadSites"
               }
            },
            "GAMBLING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Gambling"
               }
            },
            "GAMES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Games"
               }
            },
            "GENERATIVE_AI" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "GenerativeAI"
               }
            },
            "HACKING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Hacking"
               }
            },
            "HATE_AND_INTOLERANCE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HateAndIntolerance"
               }
            },
            "ILLEGAL_DRUG" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IllegalDrug"
               }
            },
            "ILLEGAL_SOFTWARE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IllegalSoftware"
               }
            },
            "IMAGE_SHARING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ImageSharing"
               }
            },
            "INSTANT_MESSAGING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "InstantMessaging"
               }
            },
            "NUDITY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Nudity"
               }
            },
            "PARKED_DOMAINS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ParkedDomains"
               }
            },
            "PEER_TO_PEER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PeerToPeer"
               }
            },
            "PORNOGRAPHY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Pornography"
               }
            },
            "PROFESSIONAL_NETWORK" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ProfessionalNetwork"
               }
            },
            "SCHOOL_CHEATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SchoolCheating"
               }
            },
            "SELF_HARM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SelfHarm"
               }
            },
            "SEX_EDUCATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SexEducation"
               }
            },
            "SOCIAL_NETWORKING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SocialNetworking"
               }
            },
            "STREAMING_MEDIA_AND_DOWNLOADS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "StreamingMediaAndDownloads"
               }
            },
            "TASTELESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Tasteless"
               }
            },
            "VIOLENCE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Violence"
               }
            },
            "WEAPONS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Weapons"
               }
            },
            "WEB_BASED_EMAIL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "WebBasedEmail"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.workspacesweb#Certificate" : {
         "members" : {
            "body" : {
               "target" : "com.amazonaws.workspacesweb#CertificateAuthorityBody",
               "traits" : {
                  "smithy.api#documentation" : "<p>The body of the certificate.</p>"
               }
            },
            "issuer" : {
               "target" : "com.amazonaws.workspacesweb#CertificatePrincipal",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity that issued the certificate.</p>"
               }
            },
            "notValidAfter" : {
               "target" : "com.amazonaws.workspacesweb#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The certificate is not valid after this date.</p>"
               }
            },
            "notValidBefore" : {
               "target" : "com.amazonaws.workspacesweb#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The certificate is not valid before this date.</p>"
               }
            },
            "subject" : {
               "target" : "com.amazonaws.workspacesweb#CertificatePrincipal",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity the certificate belongs to.</p>"
               }
            },
            "thumbprint" : {
               "target" : "com.amazonaws.workspacesweb#CertificateThumbprint",
               "traits" : {
                  "smithy.api#documentation" : "<p>A hexadecimal identifier for the certificate.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The certificate.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#CertificateAuthorityBody" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32768,
               "min" : 1
            }
         },
         "type" : "blob"
      },
      "com.amazonaws.workspacesweb#CertificateList" : {
         "member" : {
            "target" : "com.amazonaws.workspacesweb#CertificateAuthorityBody"
         },
         "type" : "list"
      },
      "com.amazonaws.workspacesweb#CertificatePrincipal" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^\\S+$"
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#CertificateSummary" : {
         "members" : {
            "issuer" : {
               "target" : "com.amazonaws.workspacesweb#CertificatePrincipal",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity that issued the certificate.</p>"
               }
            },
            "notValidAfter" : {
               "target" : "com.amazonaws.workspacesweb#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The certificate is not valid after this date.</p>"
               }
            },
            "notValidBefore" : {
               "target" : "com.amazonaws.workspacesweb#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The certificate is not valid before this date.</p>"
               }
            },
            "subject" : {
               "target" : "com.amazonaws.workspacesweb#CertificatePrincipal",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity the certificate belongs to.</p>"
               }
            },
            "thumbprint" : {
               "target" : "com.amazonaws.workspacesweb#CertificateThumbprint",
               "traits" : {
                  "smithy.api#documentation" : "<p>A hexadecimal identifier for the certificate.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The summary of the certificate.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#CertificateSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.workspacesweb#CertificateSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.workspacesweb#CertificateThumbprint" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 64
            },
            "smithy.api#pattern" : "^[A-Fa-f0-9]{64}$"
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#CertificateThumbprintList" : {
         "member" : {
            "target" : "com.amazonaws.workspacesweb#CertificateThumbprint"
         },
         "type" : "list"
      },
      "com.amazonaws.workspacesweb#ClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#ColorTheme" : {
         "members" : {
            "DARK" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Dark"
               }
            },
            "LIGHT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Light"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.workspacesweb#ConfidenceLevel" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 3,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.workspacesweb#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.workspacesweb#ExceptionMessage"
            },
            "resourceId" : {
               "target" : "com.amazonaws.workspacesweb#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Identifier of the resource affected.</p>"
               }
            },
            "resourceType" : {
               "target" : "com.amazonaws.workspacesweb#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of the resource affected.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>There is a conflict.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#ContactLinkUrl" : {
         "traits" : {
            "smithy.api#pattern" : "^(https://|mailto:).*$"
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#CookieDomain" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 253,
               "min" : 0
            },
            "smithy.api#pattern" : "^(\\.?)(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.)*[a-z0-9][a-z0-9-]{0,61}[a-z0-9]$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#CookieName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 4096,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#CookiePath" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 0
            },
            "smithy.api#pattern" : "^/(\\S)*$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.workspacesweb#CookieSpecification" : {
         "members" : {
            "domain" : {
               "target" : "com.amazonaws.workspacesweb#CookieDomain",
               "traits" : {
                  "smithy.api#documentation" : "<p>The domain of the cookie.</p>",
                  "smithy.api#required" : {}
               }
            },
            "name" : {
               "target" : "com.amazonaws.workspacesweb#CookieName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the cookie.</p>"
               }
            },
            "path" : {
               "target" : "com.amazonaws.workspacesweb#CookiePath",
               "traits" : {
                  "smithy.api#documentation" : "<p>The path of the cookie.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Specifies a single cookie or set of cookies in an end user's browser.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#CookieSpecifications" : {
         "member" : {
            "target" : "com.amazonaws.workspacesweb#CookieSpecification"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.workspacesweb#CookieSynchronizationConfiguration" : {
         "members" : {
            "allowlist" : {
               "target" : "com.amazonaws.workspacesweb#CookieSpecifications",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of cookie specifications that are allowed to be synchronized to the remote browser.</p>",
                  "smithy.api#required" : {}
               }
            },
            "blocklist" : {
               "target" : "com.amazonaws.workspacesweb#CookieSpecifications",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of cookie specifications that are blocked from being synchronized to the remote browser.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The configuration that specifies which cookies should be synchronized from the end user's local browser to the remote browser.</p>",
            "smithy.api#sensitive" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#CreateBrowserSettings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#CreateBrowserSettingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#CreateBrowserSettingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a browser settings resource that can be associated with a web portal. Once associated with a web portal, browser settings control how the browser will behave once a user starts a streaming session for the web portal. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/browserSettings"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#CreateBrowserSettingsRequest" : {
         "members" : {
            "additionalEncryptionContext" : {
               "target" : "com.amazonaws.workspacesweb#EncryptionContextMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Additional encryption context of the browser settings.</p>"
               }
            },
            "browserPolicy" : {
               "target" : "com.amazonaws.workspacesweb#BrowserPolicy",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON string containing Chrome Enterprise policies that will be applied to all streaming sessions.</p>"
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.workspacesweb#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Idempotency ensures that an API request completes only once. With an idempotent request, if the original request completes successfully, subsequent retries with the same client token returns the result from the original successful request.</p> <p>If you do not specify a client token, one is automatically generated by the Amazon Web Services SDK. </p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "customerManagedKey" : {
               "target" : "com.amazonaws.workspacesweb#keyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The custom managed key of the browser settings.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.workspacesweb#TagList",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The tags to add to the browser settings resource. A tag is a key-value pair.</p>"
               }
            },
            "webContentFilteringPolicy" : {
               "target" : "com.amazonaws.workspacesweb#WebContentFilteringPolicy",
               "traits" : {
                  "smithy.api#documentation" : "<p>The policy that specifies which URLs end users are allowed to access or which URLs or domain categories they are restricted from accessing for enhanced security.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#CreateBrowserSettingsResponse" : {
         "members" : {
            "browserSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the browser settings.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#CreateDataProtectionSettings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#CreateDataProtectionSettingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#CreateDataProtectionSettingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a data protection settings resource that can be associated with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/dataProtectionSettings"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#CreateDataProtectionSettingsRequest" : {
         "members" : {
            "additionalEncryptionContext" : {
               "target" : "com.amazonaws.workspacesweb#EncryptionContextMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Additional encryption context of the data protection settings.</p>"
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.workspacesweb#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Idempotency ensures that an API request completes only once. With an idempotent request, if the original request completes successfully, subsequent retries with the same client token returns the result from the original successful request. </p> <p>If you do not specify a client token, one is automatically generated by the Amazon Web Services SDK.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "customerManagedKey" : {
               "target" : "com.amazonaws.workspacesweb#keyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The custom managed key of the data protection settings.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.workspacesweb#DescriptionSafe",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the data protection settings.</p>"
               }
            },
            "displayName" : {
               "target" : "com.amazonaws.workspacesweb#DisplayNameSafe",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the data protection settings.</p>"
               }
            },
            "inlineRedactionConfiguration" : {
               "target" : "com.amazonaws.workspacesweb#InlineRedactionConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The inline redaction configuration of the data protection settings that will be applied to all sessions.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.workspacesweb#TagList",
               "traits" : {
                  "aws.cloudformation#cfnMutability" : "full",
                  "smithy.api#documentation" : "<p>The tags to add to the data protection settings resource. A tag is a key-value pair.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#CreateDataProtectionSettingsResponse" : {
         "members" : {
            "dataProtectionSettingsArn" : {
               "target" : "com.amazonaws.workspacesweb#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the data protection settings resource.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.workspacesweb#CreateIdentityProvider" : {
         "errors" : [
            {
               "target" : "com.amazonaws.workspacesweb#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ConflictException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#InternalServerException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.workspacesweb#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.workspacesweb#CreateIdentityProviderRequest"
         },
         "output" : {
            "target" : "com.amazonaws.workspacesweb#CreateIdentityProviderResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates an identity provider resource that is then associated with a web portal.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/identityProviders"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.workspacesweb#CreateIdentityProviderRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.workspacesweb#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Idempotency ensures that an API request completes only once. With an idempotent request, if the original request completes successfully, subsequent retries with the same client token returns the result from the original successful request.</p> <p>If you do not specify a client token, one is automatically generated by the Amazon Web Services SDK.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "identityProviderDetails" : {
               "target" : "com.amazonaws.workspacesweb#IdentityProviderDetails",
               "traits" : {
[...]
