{
   "shapes" : {
      "com.amazonaws.identitystore#AWSIdentityStore" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.identitystore#InternalServerException"
            },
            {
               "target" : "com.amazonaws.identitystore#ThrottlingException"
            }
         ],
         "operations" : [
            {
               "target" : "com.amazonaws.identitystore#GetGroupId"
            },
            {
               "target" : "com.amazonaws.identitystore#GetGroupMembershipId"
            },
            {
               "target" : "com.amazonaws.identitystore#GetUserId"
            },
            {
               "target" : "com.amazonaws.identitystore#IsMemberInGroups"
            },
            {
               "target" : "com.amazonaws.identitystore#ListGroupMembershipsForMember"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.identitystore#GroupMembershipResource"
            },
            {
               "target" : "com.amazonaws.identitystore#GroupResource"
            },
            {
               "target" : "com.amazonaws.identitystore#UserResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "identitystore",
               "cloudFormationName" : "IdentityStore",
               "cloudTrailEventSource" : "identitystore.amazonaws.com",
               "endpointPrefix" : "identitystore",
               "sdkId" : "identitystore"
            },
            "aws.auth#sigv4" : {
               "name" : "identitystore"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>The Identity Store service used by IAM Identity Center provides a single place to retrieve all of your identities (users and groups). For more information, see the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\"> IAM Identity Center User Guide</a>.</p> <p>This reference guide describes the identity store operations that you can call programmatically and includes detailed information about data types and errors.</p> <note> <p> IAM Identity Center uses the <code>sso</code>, <code>sso-directory</code>, and <code>identitystore</code> API namespaces. The <code>sso-directory</code> and <code>identitystore</code> namespaces authorize access to data in the Identity Store. Make sure your policies with IAM actions from these two namespaces are consistent to avoid conflicting authorization to the same data.</p> </note>",
            "smithy.api#title" : "AWS SSO Identity Store",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://identitystore-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "name"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      "aws-us-gov"
                                                   ],
                                                   "fn" : "stringEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://identitystore.{Region}.amazonaws.com"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://identitystore-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://identitystore.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://identitystore.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://identitystore.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-06-15"
      },
      "com.amazonaws.identitystore#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.identitystore#ExceptionMessage"
            },
            "Reason" : {
               "target" : "com.amazonaws.identitystore#AccessDeniedExceptionReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the reason for an access denial when returned by KMS while accessing a Customer Managed KMS key. For non-KMS access-denied errors, this field is not included.</p>"
               }
            },
            "RequestId" : {
               "target" : "com.amazonaws.identitystore#RequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#AccessDeniedExceptionReason" : {
         "members" : {
            "KMS_ACCESS_DENIED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "KMS_ACCESS_DENIED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.identitystore#Address" : {
         "members" : {
            "Country" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The country of the address.</p>"
               }
            },
            "Formatted" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing a formatted version of the address for display.</p>"
               }
            },
            "Locality" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string of the address locality.</p>"
               }
            },
            "PostalCode" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The postal code of the address.</p>"
               }
            },
            "Primary" : {
               "target" : "com.amazonaws.identitystore#BooleanType",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>A Boolean value representing whether this is the primary address for the associated resource.</p>"
               }
            },
            "Region" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The region of the address.</p>"
               }
            },
            "StreetAddress" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The street of the address.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string representing the type of address. For example, \"Home.\"</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The address associated with the specified user.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#Addresses" : {
         "member" : {
            "target" : "com.amazonaws.identitystore#Address"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.identitystore#AlternateIdentifier" : {
         "members" : {
            "ExternalId" : {
               "target" : "com.amazonaws.identitystore#ExternalId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier issued to this resource by an external identity provider.</p>"
               }
            },
            "UniqueAttribute" : {
               "target" : "com.amazonaws.identitystore#UniqueAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>An entity attribute that's unique to a specific entity.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A unique identifier for a user or group that is not the primary identifier. This value can be an identifier from an external identity provider (IdP) that is associated with the user, the group, or a unique attribute.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.identitystore#AttributeOperation" : {
         "members" : {
            "AttributePath" : {
               "target" : "com.amazonaws.identitystore#AttributePath",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string representation of the path to a given attribute or sub-attribute. Supports JMESPath.</p>",
                  "smithy.api#required" : {}
               }
            },
            "AttributeValue" : {
               "target" : "com.amazonaws.identitystore#AttributeValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value of the attribute. This is a <code>Document</code> type. This type is not supported by Java V1, Go V1, and older versions of the CLI.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An operation that applies to the requested group. This operation might add, replace, or remove an attribute.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#AttributeOperations" : {
         "member" : {
            "target" : "com.amazonaws.identitystore#AttributeOperation"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.identitystore#AttributePath" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?:\\p{L}+:\\p{L}+:\\p{L}+(?:\\.\\p{L}+){0,3}|\\p{L}+(?:\\.\\p{L}+){0,2})$"
         },
         "type" : "string"
      },
      "com.amazonaws.identitystore#AttributeValue" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The value of the attribute. This is a <code>Document</code> type. This type is not supported by Java V1, Go V1, and older versions of the CLI.</p>"
         },
         "type" : "document"
      },
      "com.amazonaws.identitystore#BooleanType" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.identitystore#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.identitystore#ExceptionMessage"
            },
            "Reason" : {
               "target" : "com.amazonaws.identitystore#ConflictExceptionReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the reason for a conflict error when the service is unable to access a Customer Managed KMS key. For non-KMS permission errors, this field is not included.</p>"
               }
            },
            "RequestId" : {
               "target" : "com.amazonaws.identitystore#RequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This request cannot be completed for one of the following reasons:</p> <ul> <li> <p>Performing the requested operation would violate an existing uniqueness claim in the identity store. Resolve the conflict before retrying this request.</p> </li> <li> <p>The requested resource was being concurrently modified by another request.</p> </li> </ul>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#ConflictExceptionReason" : {
         "members" : {
            "CONCURRENT_MODIFICATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONCURRENT_MODIFICATION"
               }
            },
            "UNIQUENESS_CONSTRAINT_VIOLATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNIQUENESS_CONSTRAINT_VIOLATION"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.identitystore#CreateGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ConflictException"
            },
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#CreateGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#CreateGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a group within the specified identity store.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#CreateGroupMembership" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ConflictException"
            },
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#CreateGroupMembershipRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#CreateGroupMembershipResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a relationship between a member and a group. The following identifiers must be specified: <code>GroupId</code>, <code>IdentityStoreId</code>, and <code>MemberId</code>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#CreateGroupMembershipRequest" : {
         "members" : {
            "GroupId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a group in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MemberId" : {
               "target" : "com.amazonaws.identitystore#MemberId",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that contains the identifier of a group member. Setting the <code>UserID</code> field to the specific identifier for a user indicates that the user is a member of the group.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#CreateGroupMembershipResponse" : {
         "members" : {
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MembershipId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a newly created <code>GroupMembership</code> in an identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#CreateGroupRequest" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the description of the group.</p>"
               }
            },
            "DisplayName" : {
               "target" : "com.amazonaws.identitystore#GroupDisplayName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the name of the group. This value is commonly displayed when the group is referenced. <code>Administrator</code> and <code>AWSAdministrators</code> are reserved names and can't be used for users or groups.</p>"
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#CreateGroupResponse" : {
         "members" : {
            "GroupId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the newly created group in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#CreateUser" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ConflictException"
            },
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#CreateUserRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#CreateUserResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a user within the specified identity store.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#CreateUserRequest" : {
         "members" : {
            "Addresses" : {
               "target" : "com.amazonaws.identitystore#Addresses",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>Address</code> objects containing addresses associated with the user.</p>"
               }
            },
            "Birthdate" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user's birthdate in YYYY-MM-DD format. This field supports standard date format for storing personal information.</p>"
               }
            },
            "DisplayName" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the name of the user. This value is typically formatted for display when the user is referenced. For example, \"John Doe.\" When used in IAM Identity Center, this parameter is required.</p>"
               }
            },
            "Emails" : {
               "target" : "com.amazonaws.identitystore#Emails",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>Email</code> objects containing email addresses associated with the user.</p>"
               }
            },
            "Extensions" : {
               "target" : "com.amazonaws.identitystore#Extensions",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map with additional attribute extensions for the user. Each map key corresponds to an extension name, while map values represent extension data in <code>Document</code> type (not supported by Java V1, Go V1 and older versions of the CLI). <code>aws:identitystore:enterprise</code> is the only supported extension name.</p>"
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Locale" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the geographical region or location of the user.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.identitystore#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object containing the name of the user. When used in IAM Identity Center, this parameter is required.</p>"
               }
            },
            "NickName" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing an alternate name for the user.</p>"
               }
            },
            "PhoneNumbers" : {
               "target" : "com.amazonaws.identitystore#PhoneNumbers",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>PhoneNumber</code> objects containing phone numbers associated with the user.</p>"
               }
            },
            "Photos" : {
               "target" : "com.amazonaws.identitystore#Photos",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of photos associated with the user. You can add up to 3 photos per user. Each photo can include a value, type, display name, and primary designation.</p>"
               }
            },
            "PreferredLanguage" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the preferred language of the user. For example, \"American English\" or \"en-us.\"</p>"
               }
            },
            "ProfileUrl" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing a URL that might be associated with the user.</p>"
               }
            },
            "Roles" : {
               "target" : "com.amazonaws.identitystore#Roles",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>Role</code> objects containing roles associated with the user.</p>"
               }
            },
            "Timezone" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the time zone of the user.</p>"
               }
            },
            "Title" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the title of the user. Possible values are left unspecified. The value can vary based on your specific use case.</p>"
               }
            },
            "UserName" : {
               "target" : "com.amazonaws.identitystore#UserName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique string used to identify the user. The length limit is 128 characters. This value can consist of letters, accented characters, symbols, numbers, and punctuation. This value is specified at the time the user is created and stored as an attribute of the user object in the identity store. <code>Administrator</code> and <code>AWSAdministrators</code> are reserved names and can't be used for users or groups.</p>"
               }
            },
            "UserType" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string indicating the type of user. Possible values are left unspecified. The value can vary based on your specific use case.</p>"
               }
            },
            "Website" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user's personal website or blog URL. This field allows users to provide a link to their personal or professional website.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#CreateUserResponse" : {
         "members" : {
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "UserId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the newly created user in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DateType" : {
         "type" : "timestamp"
      },
      "com.amazonaws.identitystore#DeleteGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ConflictException"
            },
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#DeleteGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#DeleteGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Delete a group within an identity store given <code>GroupId</code>.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#DeleteGroupMembership" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ConflictException"
            },
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#DeleteGroupMembershipRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#DeleteGroupMembershipResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Delete a membership within a group given <code>MembershipId</code>.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#DeleteGroupMembershipRequest" : {
         "members" : {
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MembershipId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a <code>GroupMembership</code> in an identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DeleteGroupMembershipResponse" : {
         "members" : {},
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DeleteGroupRequest" : {
         "members" : {
            "GroupId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a group in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DeleteGroupResponse" : {
         "members" : {},
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DeleteUser" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ConflictException"
            },
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#DeleteUserRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#DeleteUserResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a user within an identity store given <code>UserId</code>.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#DeleteUserRequest" : {
         "members" : {
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "UserId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a user in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DeleteUserResponse" : {
         "members" : {},
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DescribeGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#DescribeGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#DescribeGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves the group metadata and attributes from <code>GroupId</code> in an identity store.</p> <note> <p>If you have access to a member account, you can use this API operation from the member account. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/manage-your-accounts.html#limiting-access-from-member-accounts\">Limiting access to the identity store from member accounts</a> in the <i> IAM Identity Center User Guide</i>.</p> </note>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#DescribeGroupMembership" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#DescribeGroupMembershipRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#DescribeGroupMembershipResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves membership metadata and attributes from <code>MembershipId</code> in an identity store.</p> <note> <p>If you have access to a member account, you can use this API operation from the member account. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/manage-your-accounts.html#limiting-access-from-member-accounts\">Limiting access to the identity store from member accounts</a> in the <i> IAM Identity Center User Guide</i>.</p> </note>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#DescribeGroupMembershipRequest" : {
         "members" : {
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MembershipId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a <code>GroupMembership</code> in an identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DescribeGroupMembershipResponse" : {
         "members" : {
            "CreatedAt" : {
               "target" : "com.amazonaws.identitystore#DateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the group membership was created.</p>"
               }
            },
            "CreatedBy" : {
               "target" : "com.amazonaws.identitystore#StringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the user or system that created the group membership.</p>"
               }
            },
            "GroupId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a group in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MemberId" : {
               "target" : "com.amazonaws.identitystore#MemberId",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "MembershipId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a <code>GroupMembership</code> in an identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "UpdatedAt" : {
               "target" : "com.amazonaws.identitystore#DateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the group membership was last updated.</p>"
               }
            },
            "UpdatedBy" : {
               "target" : "com.amazonaws.identitystore#StringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the user or system that last updated the group membership.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DescribeGroupRequest" : {
         "members" : {
            "GroupId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a group in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store, such as <code>d-1234567890</code>. In this example, <code>d-</code> is a fixed prefix, and <code>1234567890</code> is a randomly generated string that contains numbers and lower case letters. This value is generated at the time that a new identity store is created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DescribeGroupResponse" : {
         "members" : {
            "CreatedAt" : {
               "target" : "com.amazonaws.identitystore#DateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the group was created.</p>"
               }
            },
            "CreatedBy" : {
               "target" : "com.amazonaws.identitystore#StringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the user or system that created the group.</p>"
               }
            },
            "Description" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing a description of the group.</p>"
               }
            },
            "DisplayName" : {
               "target" : "com.amazonaws.identitystore#GroupDisplayName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The group’s display name value. The length limit is 1,024 characters. This value can consist of letters, accented characters, symbols, numbers, punctuation, tab, new line, carriage return, space, and nonbreaking space in this attribute. This value is specified at the time that the group is created and stored as an attribute of the group object in the identity store.</p>"
               }
            },
            "ExternalIds" : {
               "target" : "com.amazonaws.identitystore#ExternalIds",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>ExternalId</code> objects that contains the identifiers issued to this resource by an external identity provider.</p>"
               }
            },
            "GroupId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a group in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "UpdatedAt" : {
               "target" : "com.amazonaws.identitystore#DateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the group was last updated.</p>"
               }
            },
            "UpdatedBy" : {
               "target" : "com.amazonaws.identitystore#StringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the user or system that last updated the group.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DescribeUser" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#DescribeUserRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#DescribeUserResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves the user metadata and attributes from the <code>UserId</code> in an identity store.</p> <note> <p>If you have access to a member account, you can use this API operation from the member account. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/manage-your-accounts.html#limiting-access-from-member-accounts\">Limiting access to the identity store from member accounts</a> in the <i> IAM Identity Center User Guide</i>.</p> </note>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#DescribeUserRequest" : {
         "members" : {
            "Extensions" : {
               "target" : "com.amazonaws.identitystore#ExtensionNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>A collection of extension names indicating what extensions the service should retrieve alongside other user attributes. <code>aws:identitystore:enterprise</code> is the only supported extension name.</p>"
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store, such as <code>d-1234567890</code>. In this example, <code>d-</code> is a fixed prefix, and <code>1234567890</code> is a randomly generated string that contains numbers and lower case letters. This value is generated at the time that a new identity store is created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "UserId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a user in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#DescribeUserResponse" : {
         "members" : {
            "Addresses" : {
               "target" : "com.amazonaws.identitystore#Addresses",
               "traits" : {
                  "smithy.api#documentation" : "<p>The physical address of the user.</p>"
               }
            },
            "Birthdate" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user's birthdate in YYYY-MM-DD format. This field returns the stored birthdate information for the user.</p>"
               }
            },
            "CreatedAt" : {
               "target" : "com.amazonaws.identitystore#DateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the user was created.</p>"
               }
            },
            "CreatedBy" : {
               "target" : "com.amazonaws.identitystore#StringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the user or system that created the user.</p>"
               }
            },
            "DisplayName" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the user.</p>"
               }
            },
            "Emails" : {
               "target" : "com.amazonaws.identitystore#Emails",
               "traits" : {
                  "smithy.api#documentation" : "<p>The email address of the user.</p>"
               }
            },
            "Extensions" : {
               "target" : "com.amazonaws.identitystore#Extensions",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map of explicitly requested attribute extensions associated with the user. Not populated if the user has no requested extensions.</p>"
               }
            },
            "ExternalIds" : {
               "target" : "com.amazonaws.identitystore#ExternalIds",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>ExternalId</code> objects that contains the identifiers issued to this resource by an external identity provider.</p>"
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Locale" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the geographical region or location of the user.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.identitystore#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the user.</p>"
               }
            },
            "NickName" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>An alternative descriptive name for the user.</p>"
               }
            },
            "PhoneNumbers" : {
               "target" : "com.amazonaws.identitystore#PhoneNumbers",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>PhoneNumber</code> objects associated with a user.</p>"
               }
            },
            "Photos" : {
               "target" : "com.amazonaws.identitystore#Photos",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of photos associated with the user. Returns up to 3 photos with their associated metadata including type, display name, and primary designation.</p>"
               }
            },
            "PreferredLanguage" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The preferred language of the user.</p>"
               }
            },
            "ProfileUrl" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A URL link for the user's profile.</p>"
               }
            },
            "Roles" : {
               "target" : "com.amazonaws.identitystore#Roles",
               "traits" : {
                  "smithy.api#documentation" : "<p>The roles of the user.</p>"
               }
            },
            "Timezone" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time zone for a user.</p>"
               }
            },
            "Title" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing the title of the user.</p>"
               }
            },
            "UpdatedAt" : {
               "target" : "com.amazonaws.identitystore#DateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the user was last updated.</p>"
               }
            },
            "UpdatedBy" : {
               "target" : "com.amazonaws.identitystore#StringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the user or system that last updated the user.</p>"
               }
            },
            "UserId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a user in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "UserName" : {
               "target" : "com.amazonaws.identitystore#UserName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique string used to identify the user. The length limit is 128 characters. This value can consist of letters, accented characters, symbols, numbers, and punctuation. This value is specified at the time the user is created and stored as an attribute of the user object in the identity store.</p>"
               }
            },
            "UserStatus" : {
               "target" : "com.amazonaws.identitystore#UserStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the user account.</p>"
               }
            },
            "UserType" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string indicating the type of user.</p>"
               }
            },
            "Website" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user's personal website or blog URL. Returns the stored website information for the user.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#Email" : {
         "members" : {
            "Primary" : {
               "target" : "com.amazonaws.identitystore#BooleanType",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>A Boolean value representing whether this is the primary email address for the associated resource.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string representing the type of address. For example, \"Work.\"</p>"
               }
            },
            "Value" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string containing an email address. For example, \"johndoe@amazon.com.\"</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The email address associated with the user.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#Emails" : {
         "member" : {
            "target" : "com.amazonaws.identitystore#Email"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.identitystore#ExceptionMessage" : {
         "type" : "string"
      },
      "com.amazonaws.identitystore#ExtensionName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            },
            "smithy.api#pattern" : "^aws:identitystore:[a-z]{1,20}$"
         },
         "type" : "string"
      },
      "com.amazonaws.identitystore#ExtensionNames" : {
         "member" : {
            "target" : "com.amazonaws.identitystore#ExtensionName"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            },
            "smithy.api#uniqueItems" : {}
         },
         "type" : "list"
      },
      "com.amazonaws.identitystore#Extensions" : {
         "key" : {
            "target" : "com.amazonaws.identitystore#ExtensionName"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.identitystore#AttributeValue"
         }
      },
      "com.amazonaws.identitystore#ExternalId" : {
         "members" : {
            "Id" : {
               "target" : "com.amazonaws.identitystore#ExternalIdIdentifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier issued to this resource by an external identity provider.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Issuer" : {
               "target" : "com.amazonaws.identitystore#ExternalIdIssuer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The issuer for an external identifier.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The identifier issued to this resource by an external identity provider.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#ExternalIdIdentifier" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.identitystore#ExternalIdIssuer" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.identitystore#ExternalIds" : {
         "member" : {
            "target" : "com.amazonaws.identitystore#ExternalId"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.identitystore#Filter" : {
         "members" : {
            "AttributePath" : {
               "target" : "com.amazonaws.identitystore#AttributePath",
               "traits" : {
                  "smithy.api#documentation" : "<p>The attribute path that is used to specify which attribute name to search. Length limit is 255 characters. For example, <code>UserName</code> is a valid attribute path for the <code> ListUsers</code> API, and <code>DisplayName</code> is a valid attribute path for the <code> ListGroups</code> API.</p>",
                  "smithy.api#required" : {}
               }
            },
            "AttributeValue" : {
               "target" : "com.amazonaws.identitystore#SensitiveStringType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the data for an attribute. Each attribute value is described as a name-value pair. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A query filter used by <code>ListUsers</code> and <code>ListGroups</code>. This filter object provides the attribute name and attribute value to search users or groups.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#Filters" : {
         "member" : {
            "target" : "com.amazonaws.identitystore#Filter"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.identitystore#GetGroupId" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#GetGroupIdRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#GetGroupIdResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves <code>GroupId</code> in an identity store.</p> <note> <p>If you have access to a member account, you can use this API operation from the member account. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/manage-your-accounts.html#limiting-access-from-member-accounts\">Limiting access to the identity store from member accounts</a> in the <i> IAM Identity Center User Guide</i>.</p> </note>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#GetGroupIdRequest" : {
         "members" : {
            "AlternateIdentifier" : {
               "target" : "com.amazonaws.identitystore#AlternateIdentifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for a user or group that is not the primary identifier. This value can be an identifier from an external identity provider (IdP) that is associated with the user, the group, or a unique attribute. For the unique attribute, the only valid path is <code> displayName</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#GetGroupIdResponse" : {
         "members" : {
            "GroupId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a group in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#GetGroupMembershipId" : {
         "errors" : [
            {
               "target" : "com.amazonaws.identitystore#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.identitystore#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.identitystore#GetGroupMembershipIdRequest"
         },
         "output" : {
            "target" : "com.amazonaws.identitystore#GetGroupMembershipIdResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves the <code>MembershipId</code> in an identity store.</p> <note> <p>If you have access to a member account, you can use this API operation from the member account. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/manage-your-accounts.html#limiting-access-from-member-accounts\">Limiting access to the identity store from member accounts</a> in the <i> IAM Identity Center User Guide</i>.</p> </note>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.identitystore#GetGroupMembershipIdRequest" : {
         "members" : {
            "GroupId" : {
               "target" : "com.amazonaws.identitystore#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for a group in the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MemberId" : {
               "target" : "com.amazonaws.identitystore#MemberId",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that contains the identifier of a group member. Setting the <code>UserID</code> field to the specific identifier for a user indicates that the user is a member of the group.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.identitystore#GetGroupMembershipIdResponse" : {
         "members" : {
            "IdentityStoreId" : {
               "target" : "com.amazonaws.identitystore#IdentityStoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The globally unique identifier for the identity store.</p>",
[...]
