{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.xray#AWSXRay" : {
         "operations" : [
            {
               "target" : "com.amazonaws.xray#BatchGetTraces"
            },
            {
               "target" : "com.amazonaws.xray#CancelTraceRetrieval"
            },
            {
               "target" : "com.amazonaws.xray#CreateGroup"
            },
            {
               "target" : "com.amazonaws.xray#CreateSamplingRule"
            },
            {
               "target" : "com.amazonaws.xray#DeleteGroup"
            },
            {
               "target" : "com.amazonaws.xray#DeleteResourcePolicy"
            },
            {
               "target" : "com.amazonaws.xray#DeleteSamplingRule"
            },
            {
               "target" : "com.amazonaws.xray#GetEncryptionConfig"
            },
            {
               "target" : "com.amazonaws.xray#GetGroup"
            },
            {
               "target" : "com.amazonaws.xray#GetGroups"
            },
            {
               "target" : "com.amazonaws.xray#GetIndexingRules"
            },
            {
               "target" : "com.amazonaws.xray#GetInsight"
            },
            {
               "target" : "com.amazonaws.xray#GetInsightEvents"
            },
            {
               "target" : "com.amazonaws.xray#GetInsightImpactGraph"
            },
            {
               "target" : "com.amazonaws.xray#GetInsightSummaries"
            },
            {
               "target" : "com.amazonaws.xray#GetRetrievedTracesGraph"
            },
            {
               "target" : "com.amazonaws.xray#GetSamplingRules"
            },
            {
               "target" : "com.amazonaws.xray#GetSamplingStatisticSummaries"
            },
            {
               "target" : "com.amazonaws.xray#GetSamplingTargets"
            },
            {
               "target" : "com.amazonaws.xray#GetServiceGraph"
            },
            {
               "target" : "com.amazonaws.xray#GetTimeSeriesServiceStatistics"
            },
            {
               "target" : "com.amazonaws.xray#GetTraceGraph"
            },
            {
               "target" : "com.amazonaws.xray#GetTraceSegmentDestination"
            },
            {
               "target" : "com.amazonaws.xray#GetTraceSummaries"
            },
            {
               "target" : "com.amazonaws.xray#ListResourcePolicies"
            },
            {
               "target" : "com.amazonaws.xray#ListRetrievedTraces"
            },
            {
               "target" : "com.amazonaws.xray#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.xray#PutEncryptionConfig"
            },
            {
               "target" : "com.amazonaws.xray#PutResourcePolicy"
            },
            {
               "target" : "com.amazonaws.xray#PutTelemetryRecords"
            },
            {
               "target" : "com.amazonaws.xray#PutTraceSegments"
            },
            {
               "target" : "com.amazonaws.xray#StartTraceRetrieval"
            },
            {
               "target" : "com.amazonaws.xray#TagResource"
            },
            {
               "target" : "com.amazonaws.xray#UntagResource"
            },
            {
               "target" : "com.amazonaws.xray#UpdateGroup"
            },
            {
               "target" : "com.amazonaws.xray#UpdateIndexingRule"
            },
            {
               "target" : "com.amazonaws.xray#UpdateSamplingRule"
            },
            {
               "target" : "com.amazonaws.xray#UpdateTraceSegmentDestination"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "xray",
               "cloudFormationName" : "XRay",
               "cloudTrailEventSource" : "xray.amazonaws.com",
               "endpointPrefix" : "xray",
               "sdkId" : "XRay"
            },
            "aws.auth#sigv4" : {
               "name" : "xray"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Amazon Web Services X-Ray provides APIs for managing debug traces and retrieving service maps\n      and other data created by processing those traces.</p>",
            "smithy.api#title" : "AWS X-Ray",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://xray-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://xray-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://xray.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://xray.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ap-southeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://xray.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2016-04-12"
      },
      "com.amazonaws.xray#Alias" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The canonical name of the alias.</p>"
               }
            },
            "Names" : {
               "target" : "com.amazonaws.xray#AliasNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of names for the alias, including the canonical name.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the alias.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An alias for an edge.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#AliasList" : {
         "member" : {
            "target" : "com.amazonaws.xray#Alias"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#AliasNames" : {
         "member" : {
            "target" : "com.amazonaws.xray#String"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#AmazonResourceName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1011,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.xray#AnnotationKey" : {
         "type" : "string"
      },
      "com.amazonaws.xray#AnnotationValue" : {
         "members" : {
            "BooleanValue" : {
               "target" : "com.amazonaws.xray#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Value for a Boolean annotation.</p>"
               }
            },
            "NumberValue" : {
               "target" : "com.amazonaws.xray#NullableDouble",
               "traits" : {
                  "smithy.api#documentation" : "<p>Value for a Number annotation.</p>"
               }
            },
            "StringValue" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Value for a String annotation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Value of a segment annotation. Has one of three value types: Number, Boolean, or String.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.xray#Annotations" : {
         "key" : {
            "target" : "com.amazonaws.xray#AnnotationKey"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.xray#ValuesWithServiceIds"
         }
      },
      "com.amazonaws.xray#AnomalousService" : {
         "members" : {
            "ServiceId" : {
               "target" : "com.amazonaws.xray#ServiceId"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The service within the service graph that has anomalously high fault rates. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#AnomalousServiceList" : {
         "member" : {
            "target" : "com.amazonaws.xray#AnomalousService"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#AnomalyCount" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.xray#AttributeKey" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.xray#AttributeMap" : {
         "key" : {
            "target" : "com.amazonaws.xray#AttributeKey"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 5,
               "min" : 0
            }
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.xray#AttributeValue"
         }
      },
      "com.amazonaws.xray#AttributeValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.xray#AvailabilityZoneDetail" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a corresponding Availability Zone.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A list of Availability Zones corresponding to the segments in a trace.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#BackendConnectionErrors" : {
         "members" : {
            "ConnectionRefusedCount" : {
               "target" : "com.amazonaws.xray#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p></p>"
               }
            },
            "HTTPCode4XXCount" : {
               "target" : "com.amazonaws.xray#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p></p>"
               }
            },
            "HTTPCode5XXCount" : {
               "target" : "com.amazonaws.xray#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p></p>"
               }
            },
            "OtherCount" : {
               "target" : "com.amazonaws.xray#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p></p>"
               }
            },
            "TimeoutCount" : {
               "target" : "com.amazonaws.xray#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p></p>"
               }
            },
            "UnknownHostCount" : {
               "target" : "com.amazonaws.xray#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p></p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p></p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#BatchGetTraces" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#BatchGetTracesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#BatchGetTracesResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<note>\n            <p>You cannot find traces through this API if Transaction Search is enabled since trace is not indexed in X-Ray.</p>\n         </note>\n         <p>Retrieves a list of traces specified by ID. Each trace is a collection of segment\n      documents that originates from a single request. Use <code>GetTraceSummaries</code> to get a\n      list of trace IDs.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/Traces"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "Traces",
               "outputToken" : "NextToken"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#BatchGetTracesRequest" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Pagination token.</p>"
               }
            },
            "TraceIds" : {
               "target" : "com.amazonaws.xray#TraceIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#BatchGetTracesResult" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Pagination token.</p>"
               }
            },
            "Traces" : {
               "target" : "com.amazonaws.xray#TraceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Full traces for the specified requests.</p>"
               }
            },
            "UnprocessedTraceIds" : {
               "target" : "com.amazonaws.xray#UnprocessedTraceIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Trace IDs of requests that haven't been processed.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#Boolean" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.xray#BorrowCount" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.xray#CancelTraceRetrieval" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#CancelTraceRetrievalRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#CancelTraceRetrievalResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>\nCancels an ongoing trace retrieval job initiated by <code>StartTraceRetrieval</code> using the provided <code>RetrievalToken</code>. A successful cancellation will return an HTTP 200 response.\n</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/CancelTraceRetrieval"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#CancelTraceRetrievalRequest" : {
         "members" : {
            "RetrievalToken" : {
               "target" : "com.amazonaws.xray#RetrievalToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>\nRetrieval token.\n</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#CancelTraceRetrievalResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#ClientID" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 24,
               "min" : 24
            }
         },
         "type" : "string"
      },
      "com.amazonaws.xray#CooldownWindowMinutes" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.xray#CreateGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#CreateGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#CreateGroupResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a group resource with a name and a filter expression. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/CreateGroup"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#CreateGroupRequest" : {
         "members" : {
            "FilterExpression" : {
               "target" : "com.amazonaws.xray#FilterExpression",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter expression defining criteria by which to group traces.</p>"
               }
            },
            "GroupName" : {
               "target" : "com.amazonaws.xray#GroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The case-sensitive name of the new group. Default is a reserved name and names must\n            be unique.</p>",
                  "smithy.api#required" : {}
               }
            },
            "InsightsConfiguration" : {
               "target" : "com.amazonaws.xray#InsightsConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The structure containing configurations related to insights.</p>\n         <ul>\n            <li>\n               <p>The InsightsEnabled boolean can be set to true to enable insights for the\n                    new group or false to disable insights for the new group.</p>\n            </li>\n            <li>\n               <p>The NotificationsEnabled boolean can be set to true to enable insights\n                    notifications for the new group. Notifications may only be enabled on a group\n                    with InsightsEnabled set to true.</p>\n            </li>\n         </ul>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.xray#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map that contains one or more tag keys and tag values to attach to an X-Ray group.\n            For more information about ways to use tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services\n                resources</a> in the <i>Amazon Web Services General Reference</i>.</p>\n         <p>The following restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of user-applied tags per resource: 50</p>\n            </li>\n            <li>\n               <p>Maximum tag key length: 128 Unicode characters</p>\n            </li>\n            <li>\n               <p>Maximum tag value length: 256 Unicode characters</p>\n            </li>\n            <li>\n               <p>Valid values for key and value: a-z, A-Z, 0-9, space, and the following characters: _ . :\n                    / = + - and @</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Don't use <code>aws:</code> as a prefix for keys; it's reserved for Amazon Web Services\n                    use.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#CreateGroupResult" : {
         "members" : {
            "Group" : {
               "target" : "com.amazonaws.xray#Group",
               "traits" : {
                  "smithy.api#documentation" : "<p>The group that was created. Contains the name of the group that was created, the Amazon Resource Name\n            (ARN) of the group that was generated based on the group name, the filter expression, and the insight\n            configuration that was assigned to the group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#CreateSamplingRule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#RuleLimitExceededException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#CreateSamplingRuleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#CreateSamplingRuleResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a rule to control sampling behavior for instrumented applications. Services\n         retrieve rules with <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingRules.html\">GetSamplingRules</a>, and evaluate each rule in ascending\n         order of <i>priority</i> for each request. If a rule matches, the service\n         records a trace, borrowing it from the reservoir size. After 10 seconds, the service\n         reports back to X-Ray with <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingTargets.html\">GetSamplingTargets</a> to get updated versions of\n         each in-use rule. The updated rule contains a trace quota that the service can use instead\n         of borrowing from the reservoir.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/CreateSamplingRule"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#CreateSamplingRuleRequest" : {
         "members" : {
            "SamplingRule" : {
               "target" : "com.amazonaws.xray#SamplingRule",
               "traits" : {
                  "smithy.api#documentation" : "<p>The rule definition.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.xray#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map that contains one or more tag keys and tag values to attach to an X-Ray sampling\n         rule. For more information about ways to use tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services\n            resources</a> in the <i>Amazon Web Services General Reference</i>.</p>\n         <p>The following restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of user-applied tags per resource: 50</p>\n            </li>\n            <li>\n               <p>Maximum tag key length: 128 Unicode characters</p>\n            </li>\n            <li>\n               <p>Maximum tag value length: 256 Unicode characters</p>\n            </li>\n            <li>\n               <p>Valid values for key and value: a-z, A-Z, 0-9, space, and the following characters: _ . :\n               / = + - and @</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Don't use <code>aws:</code> as a prefix for keys; it's reserved for Amazon Web Services\n               use.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#CreateSamplingRuleResult" : {
         "members" : {
            "SamplingRuleRecord" : {
               "target" : "com.amazonaws.xray#SamplingRuleRecord",
               "traits" : {
                  "smithy.api#documentation" : "<p>The saved rule definition and metadata.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#DeleteGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#DeleteGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#DeleteGroupResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a group resource.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/DeleteGroup"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#DeleteGroupRequest" : {
         "members" : {
            "GroupARN" : {
               "target" : "com.amazonaws.xray#GroupARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the group that was generated on creation.</p>"
               }
            },
            "GroupName" : {
               "target" : "com.amazonaws.xray#GroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The case-sensitive name of the group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#DeleteGroupResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#DeleteResourcePolicy" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidPolicyRevisionIdException"
            },
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#DeleteResourcePolicyRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#DeleteResourcePolicyResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a resource policy from the target Amazon Web Services account.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/DeleteResourcePolicy"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#DeleteResourcePolicyRequest" : {
         "members" : {
            "PolicyName" : {
               "target" : "com.amazonaws.xray#PolicyName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the resource policy to delete.</p>",
                  "smithy.api#required" : {}
               }
            },
            "PolicyRevisionId" : {
               "target" : "com.amazonaws.xray#PolicyRevisionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies a specific policy revision to delete. Provide a <code>PolicyRevisionId</code> to ensure an atomic delete operation. If the provided revision id does \n            not match the latest policy revision id, an <code>InvalidPolicyRevisionIdException</code> exception is returned.\n        </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#DeleteResourcePolicyResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#DeleteSamplingRule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#DeleteSamplingRuleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#DeleteSamplingRuleResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a sampling rule.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/DeleteSamplingRule"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#DeleteSamplingRuleRequest" : {
         "members" : {
            "RuleARN" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
               }
            },
            "RuleName" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#DeleteSamplingRuleResult" : {
         "members" : {
            "SamplingRuleRecord" : {
               "target" : "com.amazonaws.xray#SamplingRuleRecord",
               "traits" : {
                  "smithy.api#documentation" : "<p>The deleted rule definition and metadata.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#Double" : {
         "traits" : {
            "smithy.api#default" : 0
         },
         "type" : "double"
      },
      "com.amazonaws.xray#EC2InstanceId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 20,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.xray#Edge" : {
         "members" : {
            "Aliases" : {
               "target" : "com.amazonaws.xray#AliasList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Aliases for the edge.</p>"
               }
            },
            "EdgeType" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes an asynchronous connection, with a value of <code>link</code>.</p>"
               }
            },
            "EndTime" : {
               "target" : "com.amazonaws.xray#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The end time of the last segment on the edge.</p>"
               }
            },
            "ReceivedEventAgeHistogram" : {
               "target" : "com.amazonaws.xray#Histogram",
               "traits" : {
                  "smithy.api#documentation" : "<p>A histogram that maps the spread of event age when received by consumers. \n      Age is calculated each time an event is received. Only populated when <i>EdgeType</i> is \n      <code>link</code>.</p>"
               }
            },
            "ReferenceId" : {
               "target" : "com.amazonaws.xray#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p>Identifier of the edge. Unique within a service map.</p>"
               }
            },
            "ResponseTimeHistogram" : {
               "target" : "com.amazonaws.xray#Histogram",
               "traits" : {
                  "smithy.api#documentation" : "<p>A histogram that maps the spread of client response times on an edge. Only populated\n             for synchronous edges.</p>"
               }
            },
            "StartTime" : {
               "target" : "com.amazonaws.xray#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The start time of the first segment on the edge.</p>"
               }
            },
            "SummaryStatistics" : {
               "target" : "com.amazonaws.xray#EdgeStatistics",
               "traits" : {
                  "smithy.api#documentation" : "<p>Response statistics for segments on the edge.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a connection between two services. An edge can be a synchronous connection, such as typical\n    call between client and service, or an asynchronous link, such as a Lambda function which retrieves an event from an\n    SNS queue.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#EdgeList" : {
         "member" : {
            "target" : "com.amazonaws.xray#Edge"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#EdgeStatistics" : {
         "members" : {
            "ErrorStatistics" : {
               "target" : "com.amazonaws.xray#ErrorStatistics",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about requests that failed with a 4xx Client Error status code.</p>"
               }
            },
            "FaultStatistics" : {
               "target" : "com.amazonaws.xray#FaultStatistics",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about requests that failed with a 5xx Server Error status code.</p>"
               }
            },
            "OkCount" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of requests that completed with a 2xx Success status code.</p>"
               }
            },
            "TotalCount" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The total number of completed requests.</p>"
               }
            },
            "TotalResponseTime" : {
               "target" : "com.amazonaws.xray#NullableDouble",
               "traits" : {
                  "smithy.api#documentation" : "<p>The aggregate response time of completed requests.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Response statistics for an edge.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#EncryptionConfig" : {
         "members" : {
            "KeyId" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the KMS key used for encryption, if applicable.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.xray#EncryptionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The encryption status. While the status is <code>UPDATING</code>, X-Ray may encrypt data with a combination of the new and old settings.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.xray#EncryptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of encryption. Set to <code>KMS</code> for encryption with KMS keys. Set to <code>NONE</code> for\n      default encryption.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A configuration document that specifies encryption configuration settings.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#EncryptionKeyId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 3000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.xray#EncryptionStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "UPDATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UPDATING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.xray#EncryptionType" : {
         "members" : {
            "KMS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "KMS"
               }
            },
            "NONE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NONE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.xray#EntitySelectorExpression" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.xray#ErrorMessage" : {
         "type" : "string"
      },
      "com.amazonaws.xray#ErrorRootCause" : {
         "members" : {
            "ClientImpacting" : {
               "target" : "com.amazonaws.xray#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A flag that denotes that the root cause impacts the trace client.</p>"
               }
            },
            "Services" : {
               "target" : "com.amazonaws.xray#ErrorRootCauseServices",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of services corresponding to an error. A service identifies a segment and it\n      contains a name, account ID, type, and inferred flag.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The root cause of a trace summary error.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#ErrorRootCauseEntity" : {
         "members" : {
            "Exceptions" : {
               "target" : "com.amazonaws.xray#RootCauseExceptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>The types and messages of the exceptions.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the entity.</p>"
               }
            },
            "Remote" : {
               "target" : "com.amazonaws.xray#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A flag that denotes a remote subsegment.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A collection of segments and corresponding subsegments associated to a trace summary\n      error.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#ErrorRootCauseEntityPath" : {
         "member" : {
            "target" : "com.amazonaws.xray#ErrorRootCauseEntity"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#ErrorRootCauseService" : {
         "members" : {
            "AccountId" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account ID associated to the service.</p>"
               }
            },
            "EntityPath" : {
               "target" : "com.amazonaws.xray#ErrorRootCauseEntityPath",
               "traits" : {
                  "smithy.api#documentation" : "<p>The path of root cause entities found on the service. </p>"
               }
            },
            "Inferred" : {
               "target" : "com.amazonaws.xray#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A Boolean value indicating if the service is inferred from the trace.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service name.</p>"
               }
            },
            "Names" : {
               "target" : "com.amazonaws.xray#ServiceNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>A collection of associated service names.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type associated to the service.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A collection of fields identifying the services in a trace summary error.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#ErrorRootCauseServices" : {
         "member" : {
            "target" : "com.amazonaws.xray#ErrorRootCauseService"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#ErrorRootCauses" : {
         "member" : {
            "target" : "com.amazonaws.xray#ErrorRootCause"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#ErrorStatistics" : {
         "members" : {
            "OtherCount" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of requests that failed with untracked 4xx Client Error status\n      codes.</p>"
               }
            },
            "ThrottleCount" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of requests that failed with a 429 throttling status code.</p>"
               }
            },
            "TotalCount" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The total number of requests that failed with a 4xx Client Error status code.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about requests that failed with a 4xx Client Error status code.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#EventSummaryText" : {
         "type" : "string"
      },
      "com.amazonaws.xray#FaultRootCause" : {
         "members" : {
            "ClientImpacting" : {
               "target" : "com.amazonaws.xray#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A flag that denotes that the root cause impacts the trace client.</p>"
               }
            },
            "Services" : {
               "target" : "com.amazonaws.xray#FaultRootCauseServices",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of corresponding services. A service identifies a segment and it contains a\n      name, account ID, type, and inferred flag.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The root cause information for a trace summary fault.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#FaultRootCauseEntity" : {
         "members" : {
            "Exceptions" : {
               "target" : "com.amazonaws.xray#RootCauseExceptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>The types and messages of the exceptions.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the entity.</p>"
               }
            },
            "Remote" : {
               "target" : "com.amazonaws.xray#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A flag that denotes a remote subsegment.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A collection of segments and corresponding subsegments associated to a trace summary\n      fault error.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#FaultRootCauseEntityPath" : {
         "member" : {
            "target" : "com.amazonaws.xray#FaultRootCauseEntity"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#FaultRootCauseService" : {
         "members" : {
            "AccountId" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account ID associated to the service.</p>"
               }
            },
            "EntityPath" : {
               "target" : "com.amazonaws.xray#FaultRootCauseEntityPath",
               "traits" : {
                  "smithy.api#documentation" : "<p>The path of root cause entities found on the service. </p>"
               }
            },
            "Inferred" : {
               "target" : "com.amazonaws.xray#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A Boolean value indicating if the service is inferred from the trace.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service name.</p>"
               }
            },
            "Names" : {
               "target" : "com.amazonaws.xray#ServiceNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>A collection of associated service names.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type associated to the service.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A collection of fields identifying the services in a trace summary fault.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#FaultRootCauseServices" : {
         "member" : {
            "target" : "com.amazonaws.xray#FaultRootCauseService"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#FaultRootCauses" : {
         "member" : {
            "target" : "com.amazonaws.xray#FaultRootCause"
         },
         "type" : "list"
      },
      "com.amazonaws.xray#FaultStatistics" : {
         "members" : {
            "OtherCount" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of requests that failed with untracked 5xx Server Error status\n      codes.</p>"
               }
            },
            "TotalCount" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The total number of requests that failed with a 5xx Server Error status code.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about requests that failed with a 5xx Server Error status code.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#FilterExpression" : {
         "type" : "string"
      },
      "com.amazonaws.xray#FixedRate" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "max" : 1,
               "min" : 0
            }
         },
         "type" : "double"
      },
      "com.amazonaws.xray#ForecastStatistics" : {
         "members" : {
            "FaultCountHigh" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The upper limit of fault counts for a service.</p>"
               }
            },
            "FaultCountLow" : {
               "target" : "com.amazonaws.xray#NullableLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>The lower limit of fault counts for a service.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The predicted high and low fault count. This is used to determine if a service has\n         become anomalous and if an insight should be created.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetEncryptionConfig" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#GetEncryptionConfigRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#GetEncryptionConfigResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves the current encryption configuration for X-Ray data.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/EncryptionConfig"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#GetEncryptionConfigRequest" : {
         "members" : {},
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetEncryptionConfigResult" : {
         "members" : {
            "EncryptionConfig" : {
               "target" : "com.amazonaws.xray#EncryptionConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>The encryption configuration document.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#GetGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#GetGroupResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves group resource details.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/GetGroup"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#GetGroupRequest" : {
         "members" : {
            "GroupARN" : {
               "target" : "com.amazonaws.xray#GroupARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the group that was generated on creation.</p>"
               }
            },
            "GroupName" : {
               "target" : "com.amazonaws.xray#GroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The case-sensitive name of the group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetGroupResult" : {
         "members" : {
            "Group" : {
               "target" : "com.amazonaws.xray#Group",
               "traits" : {
                  "smithy.api#documentation" : "<p>The group that was requested. Contains the name of the group, the ARN of the group,\n            the filter expression, and the insight configuration assigned to the group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetGroups" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#GetGroupsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#GetGroupsResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves all active group details.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/Groups"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "Groups",
               "outputToken" : "NextToken"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#GetGroupsNextToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.xray#GetGroupsRequest" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.xray#GetGroupsNextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Pagination token.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetGroupsResult" : {
         "members" : {
            "Groups" : {
               "target" : "com.amazonaws.xray#GroupSummaryList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The collection of all active groups.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Pagination token.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetIndexingRules" : {
         "errors" : [
            {
               "target" : "com.amazonaws.xray#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.xray#ThrottledException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.xray#GetIndexingRulesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.xray#GetIndexingRulesResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>\nRetrieves all indexing rules.</p>\n         <p>Indexing rules are used to determine the server-side sampling rate for spans ingested through the CloudWatchLogs destination and indexed by X-Ray. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Transaction-Search.html\">Transaction Search</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/GetIndexingRules"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.xray#GetIndexingRulesRequest" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>\nSpecify the pagination token returned by a previous request to retrieve the next page of indexes.\n  \n  \n</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetIndexingRulesResult" : {
         "members" : {
            "IndexingRules" : {
               "target" : "com.amazonaws.xray#IndexingRuleList",
               "traits" : {
                  "smithy.api#documentation" : "<p>\n    Retrieves all indexing rules.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.xray#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>\n      Specify the pagination token returned by a previous request to retrieve the next page of indexes.\n    </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.xray#GetInsight" : {
         "errors" : [
            {
[...]
