{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.budgets#AWSBudgetServiceGateway" : {
         "operations" : [
            {
               "target" : "com.amazonaws.budgets#CreateBudget"
            },
            {
               "target" : "com.amazonaws.budgets#CreateBudgetAction"
            },
            {
               "target" : "com.amazonaws.budgets#CreateNotification"
            },
            {
               "target" : "com.amazonaws.budgets#CreateSubscriber"
            },
            {
               "target" : "com.amazonaws.budgets#DeleteBudget"
            },
            {
               "target" : "com.amazonaws.budgets#DeleteBudgetAction"
            },
            {
               "target" : "com.amazonaws.budgets#DeleteNotification"
            },
            {
               "target" : "com.amazonaws.budgets#DeleteSubscriber"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeBudget"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeBudgetAction"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeBudgetActionHistories"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeBudgetActionsForAccount"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeBudgetActionsForBudget"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeBudgetNotificationsForAccount"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeBudgetPerformanceHistory"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeBudgets"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeNotificationsForBudget"
            },
            {
               "target" : "com.amazonaws.budgets#DescribeSubscribersForNotification"
            },
            {
               "target" : "com.amazonaws.budgets#ExecuteBudgetAction"
            },
            {
               "target" : "com.amazonaws.budgets#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.budgets#TagResource"
            },
            {
               "target" : "com.amazonaws.budgets#UntagResource"
            },
            {
               "target" : "com.amazonaws.budgets#UpdateBudget"
            },
            {
               "target" : "com.amazonaws.budgets#UpdateBudgetAction"
            },
            {
               "target" : "com.amazonaws.budgets#UpdateNotification"
            },
            {
               "target" : "com.amazonaws.budgets#UpdateSubscriber"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "budgets",
               "cloudFormationName" : "Budgets",
               "cloudTrailEventSource" : "budgets.amazonaws.com",
               "endpointPrefix" : "budgets",
               "sdkId" : "Budgets"
            },
            "aws.auth#sigv4" : {
               "name" : "budgets"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>Use the Amazon Web Services Budgets API to plan your service usage, service costs, and instance reservations. This API reference provides descriptions, syntax, and usage examples for each of the actions and data types for the Amazon Web Services Budgets feature. </p>\n         <p>Budgets provide you with a way to see the following information:</p>\n         <ul>\n            <li>\n               <p>How close your plan is to your budgeted amount or to the free tier limits</p>\n            </li>\n            <li>\n               <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p>\n            </li>\n            <li>\n               <p>Your current estimated charges from Amazon Web Services, and how much your predicted usage will accrue in charges by the end of the month</p>\n            </li>\n            <li>\n               <p>How much of your budget has been used</p>\n            </li>\n         </ul>\n         <p>Amazon Web Services updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Cost budgets</b> - Plan how much you want to spend on a service.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Usage budgets</b> - Plan how much you want to use one or more services.</p>\n            </li>\n            <li>\n               <p>\n                  <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p>\n            </li>\n            <li>\n               <p>\n                  <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p>\n            </li>\n         </ul>\n         <p>Service Endpoint</p>\n         <p>The Amazon Web Services Budgets API provides the following endpoint:</p>\n         <ul>\n            <li>\n               <p>https://budgets.amazonaws.com</p>\n            </li>\n         </ul>\n         <p>For information about costs that are associated with the Amazon Web Services Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost Management Pricing</a>.</p>",
            "smithy.api#title" : "AWS Budgets",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://budgets.us-east-1.api.aws"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-b"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-isob-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://budgets.global.sc2s.sgov.gov"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-e"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "eu-isoe-west-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://budgets.global.cloud.adc-e.uk"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-f"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-isof-south-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://budgets.global.csp.hci.ic.gov"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-eusc"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "eusc-de-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://budgets.eusc-de-east-1.api.amazonwebservices.eu"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-eusc"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "eusc-de-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://budgets.eusc-de-east-1.api.amazonwebservices.eu"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://budgets-fips.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://budgets-fips.{PartitionResult#dnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://budgets.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                }
                                             ]
                                          },
                                          "url" : "https://budgets.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eusc-de-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.amazonaws.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eusc-de-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.eusc-de-east-1.api.amazonwebservices.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-iso-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-iso-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isob-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isob-east-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.global.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eu-isoe-west-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eu-isoe-west-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.global.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isof-south-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isof-south-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.global.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets-fips.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://budgets.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2016-10-20"
      },
      "com.amazonaws.budgets#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.budgets#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You are not authorized to use this operation with the given parameters.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#AccountId" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The account ID of the user. It's a 12-digit number.</p>",
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^\\d{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.budgets#Action" : {
         "members" : {
            "ActionId" : {
               "target" : "com.amazonaws.budgets#ActionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A system-generated universally unique identifier (UUID) for the action. </p>",
                  "smithy.api#required" : {}
               }
            },
            "ActionThreshold" : {
               "target" : "com.amazonaws.budgets#ActionThreshold",
               "traits" : {
                  "smithy.api#documentation" : "<p>The trigger threshold of the action. </p>",
                  "smithy.api#required" : {}
               }
            },
            "ActionType" : {
               "target" : "com.amazonaws.budgets#ActionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of action. This defines the type of tasks that can be carried out by this\n\t\t\taction. This field also determines the format for definition. </p>",
                  "smithy.api#required" : {}
               }
            },
            "ApprovalModel" : {
               "target" : "com.amazonaws.budgets#ApprovalModel",
               "traits" : {
                  "smithy.api#documentation" : "<p>This specifies if the action needs manual or automatic approval. </p>",
                  "smithy.api#required" : {}
               }
            },
            "BudgetName" : {
               "target" : "com.amazonaws.budgets#BudgetName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "Definition" : {
               "target" : "com.amazonaws.budgets#Definition",
               "traits" : {
                  "smithy.api#documentation" : "<p>Where you specify all of the type-specific parameters. </p>",
                  "smithy.api#required" : {}
               }
            },
            "ExecutionRoleArn" : {
               "target" : "com.amazonaws.budgets#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The role passed for action execution and reversion. Roles and actions must be in the\n\t\t\tsame account. </p>",
                  "smithy.api#required" : {}
               }
            },
            "NotificationType" : {
               "target" : "com.amazonaws.budgets#NotificationType",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.budgets#ActionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the action. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Subscribers" : {
               "target" : "com.amazonaws.budgets#Subscribers",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A budget action resource. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#ActionHistories" : {
         "member" : {
            "target" : "com.amazonaws.budgets#ActionHistory"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.budgets#ActionHistory" : {
         "members" : {
            "ActionHistoryDetails" : {
               "target" : "com.amazonaws.budgets#ActionHistoryDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the details for the event. </p>",
                  "smithy.api#required" : {}
               }
            },
            "EventType" : {
               "target" : "com.amazonaws.budgets#EventType",
               "traits" : {
                  "smithy.api#documentation" : "<p>This distinguishes between whether the events are triggered by the user or are\n\t\t\tgenerated by the system. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.budgets#ActionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of action at the time of the event. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Timestamp" : {
               "target" : "com.amazonaws.budgets#GenericTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The historical records for a budget action. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#ActionHistoryDetails" : {
         "members" : {
            "Action" : {
               "target" : "com.amazonaws.budgets#Action",
               "traits" : {
                  "smithy.api#documentation" : "<p>The budget action resource. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Message" : {
               "target" : "com.amazonaws.budgets#GenericString",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The description of the details for the event. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#ActionId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 36
            },
            "smithy.api#pattern" : "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.budgets#ActionStatus" : {
         "members" : {
            "Execution_Failure" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EXECUTION_FAILURE"
               }
            },
            "Execution_In_Progress" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EXECUTION_IN_PROGRESS"
               }
            },
            "Execution_Success" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EXECUTION_SUCCESS"
               }
            },
            "Pending" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING"
               }
            },
            "Reset_Failure" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RESET_FAILURE"
               }
            },
            "Reset_In_Progress" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RESET_IN_PROGRESS"
               }
            },
            "Reverse_Failure" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REVERSE_FAILURE"
               }
            },
            "Reverse_In_Progress" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REVERSE_IN_PROGRESS"
               }
            },
            "Reverse_Success" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REVERSE_SUCCESS"
               }
            },
            "Standby" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STANDBY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.budgets#ActionSubType" : {
         "members" : {
            "STOP_EC2" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STOP_EC2_INSTANCES"
               }
            },
            "STOP_RDS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STOP_RDS_INSTANCES"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.budgets#ActionThreshold" : {
         "members" : {
            "ActionThresholdType" : {
               "target" : "com.amazonaws.budgets#ThresholdType",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "ActionThresholdValue" : {
               "target" : "com.amazonaws.budgets#NotificationThreshold",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The trigger threshold of the action. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#ActionType" : {
         "members" : {
            "IAM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "APPLY_IAM_POLICY"
               }
            },
            "SCP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "APPLY_SCP_POLICY"
               }
            },
            "SSM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RUN_SSM_DOCUMENTS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.budgets#Actions" : {
         "member" : {
            "target" : "com.amazonaws.budgets#Action"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.budgets#AdjustmentPeriod" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 60,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.budgets#AmazonResourceName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1011,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.budgets#ApprovalModel" : {
         "members" : {
            "AUTO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AUTOMATIC"
               }
            },
            "MANUAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MANUAL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.budgets#AutoAdjustData" : {
         "members" : {
            "AutoAdjustType" : {
               "target" : "com.amazonaws.budgets#AutoAdjustType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The string that defines whether your budget auto-adjusts based on historical or\n\t\t\tforecasted data.</p>",
                  "smithy.api#required" : {}
               }
            },
            "HistoricalOptions" : {
               "target" : "com.amazonaws.budgets#HistoricalOptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>The parameters that define or describe the historical data that your auto-adjusting\n\t\t\tbudget is based on.</p>"
               }
            },
            "LastAutoAdjustTime" : {
               "target" : "com.amazonaws.budgets#GenericTimestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last time that your budget was auto-adjusted.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The parameters that determine the budget amount for an auto-adjusting budget.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#AutoAdjustType" : {
         "members" : {
            "FORECAST" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FORECAST"
               }
            },
            "HISTORICAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HISTORICAL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.budgets#BillingViewArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 20
            },
            "smithy.api#pattern" : "^arn:aws[a-z-]*:(billing)::[0-9]{12}:billingview/[a-zA-Z0-9/:_\\+=\\.\\-@]{0,75}[a-zA-Z0-9]$"
         },
         "type" : "string"
      },
      "com.amazonaws.budgets#BillingViewHealthStatusException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.budgets#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>\n      The billing view status must be HEALTHY to perform this action. Try again when the status is HEALTHY.\n    </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#Budget" : {
         "members" : {
            "AutoAdjustData" : {
               "target" : "com.amazonaws.budgets#AutoAdjustData",
               "traits" : {
                  "smithy.api#documentation" : "<p>The parameters that determine the budget amount for an auto-adjusting budget.</p>"
               }
            },
            "BillingViewArn" : {
               "target" : "com.amazonaws.budgets#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies a specific billing view. The ARN is\n\t\t\tused to specify which particular billing view you want to interact with or retrieve\n\t\t\tinformation from when making API calls related to Amazon Web Services Billing and Cost\n\t\t\tManagement features. The BillingViewArn can be retrieved by calling the ListBillingViews\n\t\t\tAPI.</p>"
               }
            },
            "BudgetLimit" : {
               "target" : "com.amazonaws.budgets#Spend",
               "traits" : {
                  "smithy.api#documentation" : "<p>The total amount of cost, usage, RI utilization, RI coverage, Savings Plans\n\t\t\tutilization, or Savings Plans coverage that you want to track with your budget.</p>\n         <p>\n            <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI or\n\t\t\tSavings Plans utilization or coverage budgets. RI and Savings Plans utilization or\n\t\t\tcoverage budgets default to <code>100</code>. This is the only valid value for RI or\n\t\t\tSavings Plans utilization or coverage budgets. You can't use <code>BudgetLimit</code>\n\t\t\twith <code>PlannedBudgetLimits</code> for <code>CreateBudget</code> and\n\t\t\t\t<code>UpdateBudget</code> actions. </p>"
               }
            },
            "BudgetName" : {
               "target" : "com.amazonaws.budgets#BudgetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a budget. The name must be unique within an account. The <code>:</code>\n\t\t\tand <code>\\</code> characters, and the \"/action/\" substring, aren't allowed in\n\t\t\t\t<code>BudgetName</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "BudgetType" : {
               "target" : "com.amazonaws.budgets#BudgetType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies whether this budget tracks costs, usage, RI utilization, RI coverage,\n\t\t\tSavings Plans utilization, or Savings Plans coverage.</p>",
                  "smithy.api#required" : {}
               }
            },
            "CalculatedSpend" : {
               "target" : "com.amazonaws.budgets#CalculatedSpend",
               "traits" : {
                  "smithy.api#documentation" : "<p>The actual and forecasted cost or usage that the budget tracks.</p>"
               }
            },
            "CostFilters" : {
               "target" : "com.amazonaws.budgets#CostFilters",
               "traits" : {
                  "smithy.api#deprecated" : {
                     "message" : "CostFilters lack support for newer dimensions and filtering options. Please consider using the new 'FilterExpression' field.",
                     "since" : "2025-04-18"
                  },
                  "smithy.api#documentation" : "<p>The cost filters, such as <code>Region</code>, <code>Service</code>,\n\t\t\t\t<code>LinkedAccount</code>, <code>Tag</code>, or <code>CostCategory</code>, that are\n\t\t\tapplied to a budget.</p>\n         <p>Amazon Web Services Budgets supports the following services as a <code>Service</code> filter for RI budgets:</p>\n         <ul>\n            <li>\n               <p>Amazon EC2</p>\n            </li>\n            <li>\n               <p>Amazon Redshift</p>\n            </li>\n            <li>\n               <p>Amazon Relational Database Service</p>\n            </li>\n            <li>\n               <p>Amazon ElastiCache</p>\n            </li>\n            <li>\n               <p>Amazon OpenSearch Service</p>\n            </li>\n         </ul>"
               }
            },
            "CostTypes" : {
               "target" : "com.amazonaws.budgets#CostTypes",
               "traits" : {
                  "smithy.api#deprecated" : {
                     "message" : "CostTypes lack support for newer record type dimensions and filtering options. Please consider using the new 'Metrics' field.",
                     "since" : "2025-04-18"
                  },
                  "smithy.api#documentation" : "<p>The types of costs that are included in this <code>COST</code> budget.</p>\n         <p>\n            <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>,\n\t\t\t\t<code>SAVINGS_PLANS_UTILIZATION</code>, and <code>SAVINGS_PLANS_COVERAGE</code>\n\t\t\tbudgets do not have <code>CostTypes</code>.</p>"
               }
            },
            "FilterExpression" : {
               "target" : "com.amazonaws.budgets#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filtering dimensions for the budget and their corresponding values.</p>"
               }
            },
            "HealthStatus" : {
               "target" : "com.amazonaws.budgets#HealthStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current operational state of a Billing View derived resource.</p>"
               }
            },
            "LastUpdatedTime" : {
               "target" : "com.amazonaws.budgets#GenericTimestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last time that you updated this budget.</p>"
               }
            },
            "Metrics" : {
               "target" : "com.amazonaws.budgets#Metrics",
               "traits" : {
                  "smithy.api#documentation" : "<p>The definition for how the budget data is aggregated.</p>"
               }
            },
            "PlannedBudgetLimits" : {
               "target" : "com.amazonaws.budgets#PlannedBudgetLimits",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map containing multiple <code>BudgetLimit</code>, including current or future\n\t\t\tlimits.</p>\n         <p>\n            <code>PlannedBudgetLimits</code> is available for cost or usage budget and supports\n\t\t\tboth monthly and quarterly <code>TimeUnit</code>. </p>\n         <p>For monthly budgets, provide 12 months of <code>PlannedBudgetLimits</code> values.\n\t\t\tThis must start from the current month and include the next 11 months. The\n\t\t\t\t<code>key</code> is the start of the month, <code>UTC</code> in epoch seconds. </p>\n         <p>For quarterly budgets, provide four quarters of <code>PlannedBudgetLimits</code> value\n\t\t\tentries in standard calendar quarter increments. This must start from the current\n\t\t\tquarter and include the next three quarters. The <code>key</code> is the start of the\n\t\t\tquarter, <code>UTC</code> in epoch seconds. </p>\n         <p>If the planned budget expires before 12 months for monthly or four quarters for\n\t\t\tquarterly, provide the <code>PlannedBudgetLimits</code> values only for the remaining\n\t\t\tperiods.</p>\n         <p>If the budget begins at a date in the future, provide <code>PlannedBudgetLimits</code>\n\t\t\tvalues from the start date of the budget. </p>\n         <p>After all of the <code>BudgetLimit</code> values in <code>PlannedBudgetLimits</code>\n\t\t\tare used, the budget continues to use the last limit as the <code>BudgetLimit</code>. At\n\t\t\tthat point, the planned budget provides the same experience as a fixed budget. </p>\n         <p>\n            <code>DescribeBudget</code> and <code>DescribeBudgets</code> response along with\n\t\t\t\t<code>PlannedBudgetLimits</code> also contain <code>BudgetLimit</code> representing\n\t\t\tthe current month or quarter limit present in <code>PlannedBudgetLimits</code>. This\n\t\t\tonly applies to budgets that are created with <code>PlannedBudgetLimits</code>. Budgets\n\t\t\tthat are created without <code>PlannedBudgetLimits</code> only contain\n\t\t\t\t<code>BudgetLimit</code>. They don't contain\n\t\t\t<code>PlannedBudgetLimits</code>.</p>"
               }
            },
            "TimePeriod" : {
               "target" : "com.amazonaws.budgets#TimePeriod",
               "traits" : {
                  "smithy.api#documentation" : "<p>The period of time that's covered by a budget. You set the start date and end date. The\n\t\t\tstart date must come before the end date. The end date must come before <code>06/15/87\n\t\t\t\t00:00 UTC</code>. </p>\n         <p>If you create your budget and don't specify a start date, Amazon Web Services defaults\n\t\t\tto the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, ANNUALLY, or CUSTOM). For\n\t\t\texample, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and\n\t\t\tdidn't set a start date, Amazon Web Services set your start date to <code>01/24/18 00:00\n\t\t\t\tUTC</code>. If you chose <code>MONTHLY</code>, Amazon Web Services set your start\n\t\t\tdate to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, Amazon Web Services set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are\n\t\t\tthe same for the Billing and Cost Management console and the API. </p>\n         <p>You can change either date with the <code>UpdateBudget</code> operation.</p>\n         <p>After the end date, Amazon Web Services deletes the budget and all the associated\n\t\t\tnotifications and subscribers.</p>"
               }
            },
            "TimeUnit" : {
               "target" : "com.amazonaws.budgets#TimeUnit",
               "traits" : {
                  "smithy.api#documentation" : "<p>The length of time until a budget resets the actual and forecasted spend.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the output of the <code>CreateBudget</code> operation. The content consists\n\t\t\tof the detailed metadata and data file information, and the current status of the\n\t\t\t\t<code>budget</code> object.</p>\n         <p>This is the Amazon Resource Name (ARN) pattern for a budget: </p>\n         <p>\n            <code>arn:aws:budgets::AccountId:budget/budgetName</code>\n         </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#BudgetName" : {
         "traits" : {
            "smithy.api#documentation" : "<p> A string that represents the budget name. The \":\" and \"\\\" characters, and the\n\t\t\t\"/action/\" substring, aren't allowed.</p>",
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?![^:\\\\]*/action/|(?i).*<script>.*</script>.*)[^:\\\\]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.budgets#BudgetNotificationsForAccount" : {
         "members" : {
            "BudgetName" : {
               "target" : "com.amazonaws.budgets#BudgetName"
            },
            "Notifications" : {
               "target" : "com.amazonaws.budgets#Notifications"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>\n         The budget name and associated notifications for an account.\n      </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#BudgetNotificationsForAccountList" : {
         "member" : {
            "target" : "com.amazonaws.budgets#BudgetNotificationsForAccount"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.budgets#BudgetPerformanceHistory" : {
         "members" : {
            "BillingViewArn" : {
               "target" : "com.amazonaws.budgets#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies a specific billing view. The ARN is\n\t\t\tused to specify which particular billing view you want to interact with or retrieve\n\t\t\tinformation from when making API calls related to Amazon Web Services Billing and Cost\n\t\t\tManagement features. The BillingViewArn can be retrieved by calling the ListBillingViews\n\t\t\tAPI.</p>"
               }
            },
            "BudgetName" : {
               "target" : "com.amazonaws.budgets#BudgetName"
            },
            "BudgetType" : {
               "target" : "com.amazonaws.budgets#BudgetType"
            },
            "BudgetedAndActualAmountsList" : {
               "target" : "com.amazonaws.budgets#BudgetedAndActualAmountsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of amounts of cost or usage that you created budgets for, which are compared to\n\t\t\tyour actual costs or usage.</p>"
               }
            },
            "CostFilters" : {
               "target" : "com.amazonaws.budgets#CostFilters",
               "traits" : {
                  "smithy.api#documentation" : "<p>The history of the cost filters for a budget during the specified time period.</p>"
               }
            },
            "CostTypes" : {
               "target" : "com.amazonaws.budgets#CostTypes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The history of the cost types for a budget during the specified time period.</p>"
               }
            },
            "FilterExpression" : {
               "target" : "com.amazonaws.budgets#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filtering dimensions for the budget and their corresponding values.</p>"
               }
            },
            "Metrics" : {
               "target" : "com.amazonaws.budgets#Metrics",
               "traits" : {
                  "smithy.api#documentation" : "<p>The definition for how the budget data is aggregated.</p>"
               }
            },
            "TimeUnit" : {
               "target" : "com.amazonaws.budgets#TimeUnit"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A history of the state of a budget at the end of the budget's specified time\n\t\t\tperiod.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#BudgetType" : {
         "members" : {
            "Cost" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COST"
               }
            },
            "RICoverage" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RI_COVERAGE"
               }
            },
            "RIUtilization" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RI_UTILIZATION"
               }
            },
            "SPCoverage" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SAVINGS_PLANS_COVERAGE"
               }
            },
            "SPUtilization" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SAVINGS_PLANS_UTILIZATION"
               }
            },
            "Usage" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "USAGE"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The type of a budget. It must be one of the following types: </p>\n         <p>\n            <code>COST</code>, <code>USAGE</code>, <code>RI_UTILIZATION</code>,\n\t\t\t\t<code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, or\n\t\t\t\t<code>SAVINGS_PLANS_COVERAGE</code>.</p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.budgets#BudgetedAndActualAmounts" : {
         "members" : {
            "ActualAmount" : {
               "target" : "com.amazonaws.budgets#Spend",
               "traits" : {
                  "smithy.api#documentation" : "<p>Your actual costs or usage for a budget period.</p>"
               }
            },
            "BudgetedAmount" : {
               "target" : "com.amazonaws.budgets#Spend",
               "traits" : {
                  "smithy.api#documentation" : "<p>The amount of cost or usage that you created the budget for.</p>"
               }
            },
            "TimePeriod" : {
               "target" : "com.amazonaws.budgets#TimePeriod",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time period that's covered by this budget comparison.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The amount of cost or usage that you created the budget for, compared to your actual\n\t\t\tcosts or usage.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#BudgetedAndActualAmountsList" : {
         "member" : {
            "target" : "com.amazonaws.budgets#BudgetedAndActualAmounts"
         },
         "type" : "list"
      },
      "com.amazonaws.budgets#Budgets" : {
         "member" : {
            "target" : "com.amazonaws.budgets#Budget"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> A list of budgets.</p>"
         },
         "type" : "list"
      },
      "com.amazonaws.budgets#CalculatedSpend" : {
         "members" : {
            "ActualSpend" : {
               "target" : "com.amazonaws.budgets#Spend",
               "traits" : {
                  "smithy.api#documentation" : "<p>The amount of cost, usage, RI units, or Savings Plans units that you used.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ForecastedSpend" : {
               "target" : "com.amazonaws.budgets#Spend",
               "traits" : {
                  "smithy.api#documentation" : "<p>The amount of cost, usage, RI units, or Savings Plans units that you're forecasted to\n\t\t\tuse.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The spend objects that are associated with this budget. The <code>actualSpend</code>\n\t\t\ttracks how much you've used, cost, usage, RI units, or Savings Plans units and the\n\t\t\t\t<code>forecastedSpend</code> tracks how much that you're predicted to spend based on\n\t\t\tyour historical usage profile.</p>\n         <p>For example, if it's the 20th of the month and you have spent <code>50</code> dollars\n\t\t\ton Amazon EC2, your <code>actualSpend</code> is <code>50 USD</code>, and your\n\t\t\t\t<code>forecastedSpend</code> is <code>75 USD</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.budgets#ComparisonOperator" : {
         "members" : {
            "EQUAL_TO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EQUAL_TO"
               }
            },
            "GREATER_THAN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "GREATER_THAN"
               }
            },
            "LESS_THAN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LESS_THAN"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The comparison operator of a notification. Currently, the service supports the\n\t\t\tfollowing operators:</p>\n         <p>\n            <code>GREATER_THAN</code>, <code>LESS_THAN</code>, <code>EQUAL_TO</code>\n         </p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.budgets#CostCategoryName" : {
         "type" : "string"
      },
      "com.amazonaws.budgets#CostCategoryValues" : {
         "members" : {
            "Key" : {
               "target" : "com.amazonaws.budgets#CostCategoryName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique name of the cost category.</p>"
               }
[...]
