{
   "shapes" : {
      "com.amazonaws.iottwinmaker#AWSIoTTwinMaker" : {
         "operations" : [
            {
               "target" : "com.amazonaws.iottwinmaker#BatchPutPropertyValues"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#CancelMetadataTransferJob"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#CreateComponentType"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#CreateEntity"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#CreateMetadataTransferJob"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#CreateScene"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#CreateSyncJob"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#CreateWorkspace"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#DeleteComponentType"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#DeleteEntity"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#DeleteScene"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#DeleteSyncJob"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#DeleteWorkspace"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ExecuteQuery"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetComponentType"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetEntity"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetMetadataTransferJob"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetPricingPlan"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetPropertyValue"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetPropertyValueHistory"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetScene"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetSyncJob"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#GetWorkspace"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListComponents"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListComponentTypes"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListEntities"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListMetadataTransferJobs"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListProperties"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListScenes"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListSyncJobs"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListSyncResources"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ListWorkspaces"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#TagResource"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#UntagResource"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#UpdateComponentType"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#UpdateEntity"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#UpdatePricingPlan"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#UpdateScene"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#UpdateWorkspace"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "endpointPrefix" : "iottwinmaker",
               "sdkId" : "IoTTwinMaker"
            },
            "aws.auth#sigv4" : {
               "name" : "iottwinmaker"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>IoT TwinMaker is a service with which you can\n         build operational digital twins of physical systems. IoT TwinMaker overlays measurements\n         and analysis from real-world sensors, cameras, and enterprise applications so you can\n         create data visualizations to monitor your physical factory, building, or industrial plant.\n         You can use this real-world data to monitor operations and diagnose and repair\n         errors.</p>",
            "smithy.api#title" : "AWS IoT TwinMaker",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://iottwinmaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://iottwinmaker-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://iottwinmaker.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://iottwinmaker.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://iottwinmaker.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2021-11-29"
      },
      "com.amazonaws.iottwinmaker#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.iottwinmaker#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Access is denied.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#BatchPutPropertyError" : {
         "members" : {
            "entry" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyValueEntry",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that contains information about errors returned by the\n            <code>BatchPutProperty</code> action.</p>",
                  "smithy.api#required" : {}
               }
            },
            "errorCode" : {
               "target" : "com.amazonaws.iottwinmaker#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error code.</p>",
                  "smithy.api#required" : {}
               }
            },
            "errorMessage" : {
               "target" : "com.amazonaws.iottwinmaker#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error message.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An error returned by the <code>BatchPutProperty</code> action.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#BatchPutPropertyErrorEntry" : {
         "members" : {
            "errors" : {
               "target" : "com.amazonaws.iottwinmaker#Errors",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of objects that contain information about errors returned by the\n            <code>BatchPutProperty</code> action.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that contains information about errors returned by the\n            <code>BatchPutProperty</code> action.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#BatchPutPropertyValues" : {
         "errors" : [
            {
               "target" : "com.amazonaws.iottwinmaker#InternalServerException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.iottwinmaker#BatchPutPropertyValuesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.iottwinmaker#BatchPutPropertyValuesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Sets values for multiple time series properties.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "data."
            },
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/workspaces/{workspaceId}/entity-properties"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.iottwinmaker#BatchPutPropertyValuesRequest" : {
         "members" : {
            "entries" : {
               "target" : "com.amazonaws.iottwinmaker#Entries",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that maps strings to the property value entries to set. Each string in the\n         mapping must be unique to this object.</p>",
                  "smithy.api#required" : {}
               }
            },
            "workspaceId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the workspace that contains the properties to set.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#BatchPutPropertyValuesResponse" : {
         "members" : {
            "errorEntries" : {
               "target" : "com.amazonaws.iottwinmaker#ErrorEntries",
               "traits" : {
                  "smithy.api#documentation" : "<p>Entries that caused errors in the batch put operation.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#Boolean" : {
         "type" : "boolean"
      },
      "com.amazonaws.iottwinmaker#BundleInformation" : {
         "members" : {
            "bundleNames" : {
               "target" : "com.amazonaws.iottwinmaker#PricingBundles",
               "traits" : {
                  "smithy.api#documentation" : "<p>The bundle names.</p>",
                  "smithy.api#required" : {}
               }
            },
            "pricingTier" : {
               "target" : "com.amazonaws.iottwinmaker#PricingTier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pricing tier.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the pricing bundle.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#BundleName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : ".*"
         },
         "type" : "string"
      },
      "com.amazonaws.iottwinmaker#CancelMetadataTransferJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.iottwinmaker#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ConflictException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#InternalServerException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.iottwinmaker#CancelMetadataTransferJobRequest"
         },
         "output" : {
            "target" : "com.amazonaws.iottwinmaker#CancelMetadataTransferJobResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Cancels the metadata transfer job.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "api."
            },
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/metadata-transfer-jobs/{metadataTransferJobId}/cancel"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.iottwinmaker#CancelMetadataTransferJobRequest" : {
         "members" : {
            "metadataTransferJobId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job Id.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CancelMetadataTransferJobResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.iottwinmaker#TwinMakerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job ARN.</p>",
                  "smithy.api#required" : {}
               }
            },
            "metadataTransferJobId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job Id.</p>",
                  "smithy.api#required" : {}
               }
            },
            "progress" : {
               "target" : "com.amazonaws.iottwinmaker#MetadataTransferJobProgress",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job's progress.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.iottwinmaker#MetadataTransferJobStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job's status.</p>",
                  "smithy.api#required" : {}
               }
            },
            "updateDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>Used to update the DateTime property.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ColumnDescription" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.iottwinmaker#ColumnName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the column description.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.iottwinmaker#ColumnType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the column description.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A description of the column in the query results.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ColumnDescriptions" : {
         "member" : {
            "target" : "com.amazonaws.iottwinmaker#ColumnDescription"
         },
         "type" : "list"
      },
      "com.amazonaws.iottwinmaker#ColumnName" : {
         "traits" : {
            "smithy.api#pattern" : "^.*$"
         },
         "type" : "string"
      },
      "com.amazonaws.iottwinmaker#ColumnType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "NODE",
                  "value" : "NODE"
               },
               {
                  "name" : "EDGE",
                  "value" : "EDGE"
               },
               {
                  "name" : "VALUE",
                  "value" : "VALUE"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.iottwinmaker#ComponentPath" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z_\\-0-9/]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequest" : {
         "members" : {
            "groupType" : {
               "target" : "com.amazonaws.iottwinmaker#GroupType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The group type.</p>"
               }
            },
            "propertyNames" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property names.</p>"
               }
            },
            "updateType" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyGroupUpdateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The update type.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The component property group request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequests" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequest"
         }
      },
      "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponse" : {
         "members" : {
            "groupType" : {
               "target" : "com.amazonaws.iottwinmaker#GroupType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The group type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "isInherited" : {
               "target" : "com.amazonaws.iottwinmaker#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A Boolean value that specifies whether the property group is inherited from a parent\n         entity</p>",
                  "smithy.api#required" : {}
               }
            },
            "propertyNames" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>The names of properties</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The component property group response.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponses" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponse"
         }
      },
      "com.amazonaws.iottwinmaker#ComponentRequest" : {
         "members" : {
            "componentTypeId" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the component type.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the component request.</p>"
               }
            },
            "properties" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyRequests",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that maps strings to the properties to set in the component type. Each string\n         in the mapping must be unique to this object.</p>"
               }
            },
            "propertyGroups" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequests",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property groups.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that sets information about a component type create or update request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ComponentResponse" : {
         "members" : {
            "areAllCompositeComponentsReturned" : {
               "target" : "com.amazonaws.iottwinmaker#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>This flag notes whether all <code>compositeComponents</code> are returned in the API \n          response.</p>"
               }
            },
            "areAllPropertiesReturned" : {
               "target" : "com.amazonaws.iottwinmaker#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>This flag notes whether all properties of the component are returned in the API response. \n          The maximum number of properties returned is 800.</p>"
               }
            },
            "componentName" : {
               "target" : "com.amazonaws.iottwinmaker#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the component.</p>"
               }
            },
            "componentTypeId" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the component type.</p>"
               }
            },
            "compositeComponents" : {
               "target" : "com.amazonaws.iottwinmaker#CompositeComponentResponse",
               "traits" : {
                  "smithy.api#documentation" : "<p>This lists objects that contain information about the <code>compositeComponents</code>.</p>"
               }
            },
            "definedIn" : {
               "target" : "com.amazonaws.iottwinmaker#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the property definition set in the request.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the component type.</p>"
               }
            },
            "properties" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyResponses",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that maps strings to the properties to set in the component type. Each string\n         in the mapping must be unique to this object.</p>"
               }
            },
            "propertyGroups" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponses",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property groups.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.iottwinmaker#Status",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the component type.</p>"
               }
            },
            "syncSource" : {
               "target" : "com.amazonaws.iottwinmaker#SyncSource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The syncSource of the sync job, if this entity was created by a sync job.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that returns information about a component type create or update\n         request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ComponentSummaries" : {
         "member" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.iottwinmaker#ComponentSummary" : {
         "members" : {
            "componentName" : {
               "target" : "com.amazonaws.iottwinmaker#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the component.</p>",
                  "smithy.api#required" : {}
               }
            },
            "componentPath" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentPath",
               "traits" : {
                  "smithy.api#documentation" : "<p>This string specifies the path to the composite component, starting from the top-level component.</p>"
               }
            },
            "componentTypeId" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the component type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "definedIn" : {
               "target" : "com.amazonaws.iottwinmaker#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the property definition set in the request.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the component request.</p>"
               }
            },
            "propertyGroups" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponses",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property groups.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.iottwinmaker#Status",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the component type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "syncSource" : {
               "target" : "com.amazonaws.iottwinmaker#SyncSource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>syncSource</code> of the sync job, if this entity was created by a sync job.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that returns information about a component summary.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ComponentTypeId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z_\\.\\-0-9:]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.iottwinmaker#ComponentTypeName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "[^\\u0000-\\u001F\\u007F]*"
         },
         "type" : "string"
      },
      "com.amazonaws.iottwinmaker#ComponentTypeSummaries" : {
         "member" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentTypeSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.iottwinmaker#ComponentTypeSummary" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.iottwinmaker#TwinMakerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the component type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "componentTypeId" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the component type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "componentTypeName" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The component type name.</p>"
               }
            },
            "creationDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the component type was created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the component type.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.iottwinmaker#Status",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the component type.</p>"
               }
            },
            "updateDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the component type was last updated.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that contains information about a component type.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ComponentUpdateRequest" : {
         "members" : {
            "componentTypeId" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the component type.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the component type.</p>"
               }
            },
            "propertyGroupUpdates" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequests",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property group updates.</p>"
               }
            },
            "propertyUpdates" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyRequests",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that maps strings to the properties to set in the component type update. Each\n         string in the mapping must be unique to this object.</p>"
               }
            },
            "updateType" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentUpdateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The update type of the component update request.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The component update request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ComponentUpdateType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "CREATE",
                  "value" : "CREATE"
               },
               {
                  "name" : "UPDATE",
                  "value" : "UPDATE"
               },
               {
                  "name" : "DELETE",
                  "value" : "DELETE"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.iottwinmaker#ComponentUpdatesMapRequest" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentUpdateRequest"
         }
      },
      "com.amazonaws.iottwinmaker#ComponentsMap" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentResponse"
         }
      },
      "com.amazonaws.iottwinmaker#ComponentsMapRequest" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentRequest"
         }
      },
      "com.amazonaws.iottwinmaker#CompositeComponentRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the component type.</p>"
               }
            },
            "properties" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyRequests",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is an object that maps strings to the properties to set in the component type. Each string in \n          the mapping must be unique to this object.</p>"
               }
            },
            "propertyGroups" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequests",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property groups.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that sets information about the composite component update request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CompositeComponentResponse" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentSummary"
         }
      },
      "com.amazonaws.iottwinmaker#CompositeComponentTypeRequest" : {
         "members" : {
            "componentTypeId" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the <code>componentTypeId</code> that the <code>compositeComponentType</code> refers to.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that sets information about the composite component types of a component type.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CompositeComponentTypeResponse" : {
         "members" : {
            "componentTypeId" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the <code>componentTypeId</code> that this <code>compositeComponentType</code> refers to.</p>"
               }
            },
            "isInherited" : {
               "target" : "com.amazonaws.iottwinmaker#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>This boolean indicates whether this <code>compositeComponentType</code> is inherited from its parent.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that returns information about the composite component types of a component type.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CompositeComponentTypesRequest" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#CompositeComponentTypeRequest"
         }
      },
      "com.amazonaws.iottwinmaker#CompositeComponentTypesResponse" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#CompositeComponentTypeResponse"
         }
      },
      "com.amazonaws.iottwinmaker#CompositeComponentUpdateRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the component type.</p>"
               }
            },
            "propertyGroupUpdates" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequests",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property group updates.</p>"
               }
            },
            "propertyUpdates" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyRequests",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that maps strings to the properties to set in the component type update. Each string in the mapping must be unique to this object.</p>"
               }
            },
            "updateType" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentUpdateType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The update type of the component update request.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that sets information about the composite component update request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CompositeComponentUpdatesMapRequest" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentPath"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#CompositeComponentUpdateRequest"
         }
      },
      "com.amazonaws.iottwinmaker#CompositeComponentsMapRequest" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#ComponentPath"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#CompositeComponentRequest"
         }
      },
      "com.amazonaws.iottwinmaker#Configuration" : {
         "key" : {
            "target" : "com.amazonaws.iottwinmaker#Name"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.iottwinmaker#Value"
         }
      },
      "com.amazonaws.iottwinmaker#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.iottwinmaker#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A conflict occurred.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ConnectorFailureException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.iottwinmaker#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The connector failed.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 424
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#ConnectorTimeoutException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.iottwinmaker#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The connector timed out.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 424
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateComponentType" : {
         "errors" : [
            {
               "target" : "com.amazonaws.iottwinmaker#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ConflictException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#InternalServerException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.iottwinmaker#CreateComponentTypeRequest"
         },
         "output" : {
            "target" : "com.amazonaws.iottwinmaker#CreateComponentTypeResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a component type.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "api."
            },
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/workspaces/{workspaceId}/component-types/{componentTypeId}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.iottwinmaker#CreateComponentTypeRequest" : {
         "members" : {
            "componentTypeId" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the component type.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "componentTypeName" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentTypeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A friendly name for the component type.</p>"
               }
            },
            "compositeComponentTypes" : {
               "target" : "com.amazonaws.iottwinmaker#CompositeComponentTypesRequest",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is an object that maps strings to <code>compositeComponentTypes</code> of the <code>componentType</code>. \n          <code>CompositeComponentType</code> is referenced by <code>componentTypeId</code>.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the component type.</p>"
               }
            },
            "extendsFrom" : {
               "target" : "com.amazonaws.iottwinmaker#ExtendsFrom",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the parent component type to extend.</p>"
               }
            },
            "functions" : {
               "target" : "com.amazonaws.iottwinmaker#FunctionsRequest",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that maps strings to the functions in the component type. Each string in the\n         mapping must be unique to this object.</p>"
               }
            },
            "isSingleton" : {
               "target" : "com.amazonaws.iottwinmaker#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A Boolean value that specifies whether an entity can have more than one component of\n         this type.</p>"
               }
            },
            "propertyDefinitions" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyDefinitionsRequest",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that maps strings to the property definitions in the component type. Each\n         string in the mapping must be unique to this object.</p>"
               }
            },
            "propertyGroups" : {
               "target" : "com.amazonaws.iottwinmaker#PropertyGroupsRequest",
               "traits" : {
                  "smithy.api#documentation" : "<p/>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.iottwinmaker#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata that you can use to manage the component type.</p>"
               }
            },
            "workspaceId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the workspace that contains the component type.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateComponentTypeResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.iottwinmaker#TwinMakerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the component type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "creationDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the entity was created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "state" : {
               "target" : "com.amazonaws.iottwinmaker#State",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of the component type.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateEntity" : {
         "errors" : [
            {
               "target" : "com.amazonaws.iottwinmaker#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ConflictException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#InternalServerException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.iottwinmaker#CreateEntityRequest"
         },
         "output" : {
            "target" : "com.amazonaws.iottwinmaker#CreateEntityResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates an entity.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "api."
            },
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/workspaces/{workspaceId}/entities"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.iottwinmaker#CreateEntityRequest" : {
         "members" : {
            "components" : {
               "target" : "com.amazonaws.iottwinmaker#ComponentsMapRequest",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that maps strings to the components in the entity. Each string in the mapping\n         must be unique to this object.</p>"
               }
            },
            "compositeComponents" : {
               "target" : "com.amazonaws.iottwinmaker#CompositeComponentsMapRequest",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is an object that maps strings to <code>compositeComponent</code> updates in the request. \n          Each key of the map represents the <code>componentPath</code> of the <code>compositeComponent</code>.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the entity.</p>"
               }
            },
            "entityId" : {
               "target" : "com.amazonaws.iottwinmaker#EntityId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the entity.</p>"
               }
            },
            "entityName" : {
               "target" : "com.amazonaws.iottwinmaker#EntityName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the entity.</p>",
                  "smithy.api#required" : {}
               }
            },
            "parentEntityId" : {
               "target" : "com.amazonaws.iottwinmaker#ParentEntityId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the entity's parent entity.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.iottwinmaker#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata that you can use to manage the entity.</p>"
               }
            },
            "workspaceId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the workspace that contains the entity.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateEntityResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.iottwinmaker#TwinMakerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the entity.</p>",
                  "smithy.api#required" : {}
               }
            },
            "creationDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the entity was created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "entityId" : {
               "target" : "com.amazonaws.iottwinmaker#EntityId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the entity.</p>",
                  "smithy.api#required" : {}
               }
            },
            "state" : {
               "target" : "com.amazonaws.iottwinmaker#State",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of the entity.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateMetadataTransferJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.iottwinmaker#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ConflictException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#InternalServerException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.iottwinmaker#CreateMetadataTransferJobRequest"
         },
         "output" : {
            "target" : "com.amazonaws.iottwinmaker#CreateMetadataTransferJobResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new metadata transfer job.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "api."
            },
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/metadata-transfer-jobs"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.iottwinmaker#CreateMetadataTransferJobRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job description.</p>"
               }
            },
            "destination" : {
               "target" : "com.amazonaws.iottwinmaker#DestinationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job destination.</p>",
                  "smithy.api#required" : {}
               }
            },
            "metadataTransferJobId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job Id.</p>"
               }
            },
            "sources" : {
               "target" : "com.amazonaws.iottwinmaker#SourceConfigurations",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job sources.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateMetadataTransferJobResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.iottwinmaker#TwinMakerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job ARN.</p>",
                  "smithy.api#required" : {}
               }
            },
            "creationDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The The metadata transfer job creation DateTime property.</p>",
                  "smithy.api#required" : {}
               }
            },
            "metadataTransferJobId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job Id.</p>",
                  "smithy.api#required" : {}
               }
            },
            "status" : {
               "target" : "com.amazonaws.iottwinmaker#MetadataTransferJobStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata transfer job response status.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateScene" : {
         "errors" : [
            {
               "target" : "com.amazonaws.iottwinmaker#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ConflictException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#InternalServerException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.iottwinmaker#CreateSceneRequest"
         },
         "output" : {
            "target" : "com.amazonaws.iottwinmaker#CreateSceneResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a scene.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "api."
            },
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/workspaces/{workspaceId}/scenes"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.iottwinmaker#CreateSceneRequest" : {
         "members" : {
            "capabilities" : {
               "target" : "com.amazonaws.iottwinmaker#SceneCapabilities",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of capabilities that the scene uses to render itself.</p>"
               }
            },
            "contentLocation" : {
               "target" : "com.amazonaws.iottwinmaker#S3Url",
               "traits" : {
                  "smithy.api#documentation" : "<p>The relative path that specifies the location of the content definition file.</p>",
                  "smithy.api#required" : {}
               }
            },
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description for this scene.</p>"
               }
            },
            "sceneId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the scene.</p>",
                  "smithy.api#required" : {}
               }
            },
            "sceneMetadata" : {
               "target" : "com.amazonaws.iottwinmaker#SceneMetadataMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The request metadata.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.iottwinmaker#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata that you can use to manage the scene.</p>"
               }
            },
            "workspaceId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the workspace that contains the scene.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateSceneResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.iottwinmaker#TwinMakerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the scene.</p>",
                  "smithy.api#required" : {}
               }
            },
            "creationDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the scene was created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateSyncJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.iottwinmaker#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ConflictException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#InternalServerException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.iottwinmaker#CreateSyncJobRequest"
         },
         "output" : {
            "target" : "com.amazonaws.iottwinmaker#CreateSyncJobResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This action creates a SyncJob.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "api."
            },
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/workspaces/{workspaceId}/sync-jobs/{syncSource}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.iottwinmaker#CreateSyncJobRequest" : {
         "members" : {
            "syncRole" : {
               "target" : "com.amazonaws.iottwinmaker#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The SyncJob IAM role. This IAM role is used by the SyncJob to read from the syncSource,\n         and create, update, or delete the corresponding resources.</p>",
                  "smithy.api#required" : {}
               }
            },
            "syncSource" : {
               "target" : "com.amazonaws.iottwinmaker#SyncSource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sync source.</p>\n         <note>\n            <p>Currently the only supported syncSoource is <code>SITEWISE </code>.</p>\n         </note>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.iottwinmaker#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The SyncJob tags.</p>"
               }
            },
            "workspaceId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The workspace ID.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateSyncJobResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.iottwinmaker#TwinMakerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The SyncJob ARN.</p>",
                  "smithy.api#required" : {}
               }
            },
            "creationDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time for the SyncJob creation.</p>",
                  "smithy.api#required" : {}
               }
            },
            "state" : {
               "target" : "com.amazonaws.iottwinmaker#SyncJobState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The SyncJob response state.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateWorkspace" : {
         "errors" : [
            {
               "target" : "com.amazonaws.iottwinmaker#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ConflictException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#InternalServerException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.iottwinmaker#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.iottwinmaker#CreateWorkspaceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.iottwinmaker#CreateWorkspaceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a workplace.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "api."
            },
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/workspaces/{workspaceId}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.iottwinmaker#CreateWorkspaceRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.iottwinmaker#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the workspace.</p>"
               }
            },
            "role" : {
               "target" : "com.amazonaws.iottwinmaker#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the execution role associated with the workspace.</p>"
               }
            },
            "s3Location" : {
               "target" : "com.amazonaws.iottwinmaker#S3Location",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the S3 bucket where resources associated with the workspace are\n         stored.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.iottwinmaker#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata that you can use to manage the workspace</p>"
               }
            },
            "workspaceId" : {
               "target" : "com.amazonaws.iottwinmaker#Id",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the workspace.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#CreateWorkspaceResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.iottwinmaker#TwinMakerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the workspace.</p>",
                  "smithy.api#required" : {}
               }
            },
            "creationDateTime" : {
               "target" : "com.amazonaws.iottwinmaker#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the workspace was created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#DataConnector" : {
         "members" : {
            "isNative" : {
               "target" : "com.amazonaws.iottwinmaker#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A Boolean value that specifies whether the data connector is native to IoT\n         TwinMaker.</p>"
               }
            },
            "lambda" : {
               "target" : "com.amazonaws.iottwinmaker#LambdaFunction",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Lambda function associated with this data connector.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The data connector.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#DataType" : {
         "members" : {
            "allowedValues" : {
               "target" : "com.amazonaws.iottwinmaker#DataValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The allowed values for this data type.</p>"
               }
            },
            "nestedType" : {
               "target" : "com.amazonaws.iottwinmaker#DataType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The nested type in the data type.</p>"
               }
            },
            "relationship" : {
               "target" : "com.amazonaws.iottwinmaker#Relationship",
               "traits" : {
                  "smithy.api#documentation" : "<p>A relationship that associates a component with another component.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.iottwinmaker#Type",
               "traits" : {
                  "smithy.api#documentation" : "<p>The underlying type of the data type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "unitOfMeasure" : {
               "target" : "com.amazonaws.iottwinmaker#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unit of measure used in this data type.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that specifies the data type of a property.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.iottwinmaker#DataValue" : {
         "members" : {
            "booleanValue" : {
               "target" : "com.amazonaws.iottwinmaker#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>A Boolean value.</p>"
               }
            },
            "doubleValue" : {
               "target" : "com.amazonaws.iottwinmaker#Double",
               "traits" : {
                  "smithy.api#documentation" : "<p>A double value.</p>"
               }
            },
            "expression" : {
               "target" : "com.amazonaws.iottwinmaker#Expression",
               "traits" : {
[...]
