{
   "shapes" : {
      "com.amazonaws.ivsrealtime#AccessDeniedException" : {
         "members" : {
            "accessControlAllowOrigin" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Access-Control-Allow-Origin"
               }
            },
            "accessControlExposeHeaders" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Access-Control-Expose-Headers"
               }
            },
            "cacheControl" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Cache-Control"
               }
            },
            "contentSecurityPolicy" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Content-Security-Policy"
               }
            },
            "exceptionMessage" : {
               "target" : "com.amazonaws.ivsrealtime#errorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>User does not have sufficient access to perform this action.</p>"
               }
            },
            "strictTransportSecurity" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Strict-Transport-Security"
               }
            },
            "xAmznErrorType" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "x-amzn-ErrorType"
               }
            },
            "xContentTypeOptions" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "X-Content-Type-Options"
               }
            },
            "xFrameOptions" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "X-Frame-Options"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p/>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#AmazonInteractiveVideoServiceRealTime" : {
         "operations" : [
            {
               "target" : "com.amazonaws.ivsrealtime#CreateEncoderConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#CreateIngestConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#CreateParticipantToken"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#CreateStage"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#CreateStorageConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#DeleteEncoderConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#DeleteIngestConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#DeletePublicKey"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#DeleteStage"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#DeleteStorageConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#DisconnectParticipant"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#GetComposition"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#GetEncoderConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#GetIngestConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#GetParticipant"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#GetPublicKey"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#GetStage"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#GetStageSession"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#GetStorageConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ImportPublicKey"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListCompositions"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListEncoderConfigurations"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListIngestConfigurations"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListParticipantEvents"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListParticipantReplicas"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListParticipants"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListPublicKeys"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListStages"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListStageSessions"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListStorageConfigurations"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#StartComposition"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#StartParticipantReplication"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#StopComposition"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#StopParticipantReplication"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#TagResource"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#UntagResource"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#UpdateIngestConfiguration"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#UpdateStage"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "ivs",
               "cloudFormationName" : "IVS",
               "cloudTrailEventSource" : "ivs.amazonaws.com",
               "endpointPrefix" : "ivsrealtime",
               "sdkId" : "IVS RealTime"
            },
            "aws.auth#sigv4" : {
               "name" : "ivs"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#cors" : {
               "additionalAllowedHeaders" : [
                  "Content-Type",
                  "X-Api-Key",
                  "X-Amz-Content-Sha256",
                  "X-Amz-User-Agent",
                  "amz-sdk-invocation-id",
                  "amz-sdk-request"
               ],
               "additionalExposedHeaders" : [
                  "x-amzn-errortype",
                  "x-amzn-requestid",
                  "x-amzn-errormessage",
                  "x-amzn-trace-id",
                  "x-amzn-requestid",
                  "x-amz-apigw-id",
                  "date"
               ]
            },
            "smithy.api#documentation" : "<p>The Amazon Interactive Video Service (IVS) real-time API is REST compatible, using a standard HTTP \n\t  API and an AWS EventBridge event stream for responses. JSON is used for both requests and responses, \n\t  including errors.\n    </p>\n         <p>\n            <b>Key Concepts</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Stage</b> — A virtual space where participants can exchange video in real time.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Participant token</b> — A token that authenticates a participant when they join a stage.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Participant object</b> — Represents participants (people) in the stage and\n            contains information about them. When a token is created, it includes a participant ID;\n            when a participant uses that token to join a stage, the participant is associated with\n            that participant ID. There is a 1:1 mapping between participant tokens and\n            participants.</p>\n            </li>\n         </ul>\n         <p>For server-side composition:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Composition process</b> — Composites participants\n            of a stage into a single video and forwards it to a set of outputs (e.g., IVS channels).\n            Composition operations support this process.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Composition</b> — Controls the look of the outputs,\n            including how participants are positioned in the video.</p>\n            </li>\n         </ul>\n         <p>For participant replication:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Source stage</b> — The stage where the participant originally joined, which is used as the source for \n\t\t\treplication.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Destination stage</b> — The stage to which the participant is replicated.\n\t\t\t\t</p>\n            </li>\n            <li>\n               <p>\n                  <b>Replicated participant</b> — A participant in a stage that is replicated to one or more destination stages.\n\t\t\t\t</p>\n            </li>\n            <li>\n               <p>\n                  <b>Replica participant</b> — A participant in a destination stage that is replicated from another stage \n\t\t\t(the source stage).</p>\n            </li>\n         </ul>\n         <p>For more information about your IVS live stream, also see <a href=\"https://docs.aws.amazon.com/ivs/latest/RealTimeUserGuide/getting-started.html\">Getting Started with Amazon IVS Real-Time Streaming</a>.</p>\n         <p>\n            <b>Tagging</b>\n         </p>\n         <p>A <i>tag</i> is a metadata label that you assign to an AWS resource. A tag\n      comprises a <i>key</i> and a <i>value</i>, both set by you. For\n      example, you might set a tag as <code>topic:nature</code> to label a particular video\n      category. See <a href=\"https://docs.aws.amazon.com/tag-editor/latest/userguide/best-practices-and-strats.html\">Best practices and strategies</a>\n      in <i>Tagging AWS Resources and Tag Editor</i> for details, including restrictions that apply to tags and \"Tag naming\n      limits and requirements\"; Amazon IVS stages has no service-specific constraints beyond what is documented there.</p>\n         <p>Tags can help you identify and organize your AWS resources. For example, you can use the\n      same tag for different resources to indicate that they are related. You can also use tags to\n      manage access (see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\">Access Tags</a>).</p>\n         <p>The Amazon IVS real-time API has these tag-related operations: <a>TagResource</a>, <a>UntagResource</a>, and\n      <a>ListTagsForResource</a>. The following resource supports tagging: Stage.</p>\n         <p>At most 50 tags can be applied to a resource.</p>",
            "smithy.api#title" : "Amazon Interactive Video Service RealTime",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://ivsrealtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://ivsrealtime-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://ivsrealtime.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://ivsrealtime.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://ivsrealtime.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-07-14"
      },
      "com.amazonaws.ivsrealtime#AttributeKey" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 0
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-_]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.ivsrealtime#AutoParticipantRecordingConfiguration" : {
         "members" : {
            "hlsConfiguration" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantRecordingHlsConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>HLS configuration object for individual participant recording.</p>"
               }
            },
            "mediaTypes" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantRecordingMediaTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Types of media to be recorded. Default: <code>AUDIO_VIDEO</code>.</p>"
               }
            },
            "recordParticipantReplicas" : {
               "target" : "com.amazonaws.ivsrealtime#RecordParticipantReplicas",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional field to disable replica participant recording. If this is set to <code>false</code> when a \n\t  participant is a replica, replica participants are not recorded. Default: <code>true</code>.</p>"
               }
            },
            "recordingReconnectWindowSeconds" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantRecordingReconnectWindowSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>If a stage publisher disconnects and then reconnects within the specified interval, \n\t  the multiple recordings will be considered a single recording and merged together.</p>\n         <p>The default value is 0, which disables merging.</p>"
               }
            },
            "storageConfigurationArn" : {
               "target" : "com.amazonaws.ivsrealtime#AutoParticipantRecordingStorageConfigurationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the <a>StorageConfiguration</a> resource to use for individual\n         participant recording. Default: <code>\"\"</code> (empty string, no storage configuration is\n         specified). Individual participant recording cannot be started unless a storage\n         configuration is specified, when a <a>Stage</a> is created or updated. To\n         disable individual participant recording, set this to <code>\"\"</code>; other fields in this object will\n         get reset to their defaults when sending <code>\"\"</code>. </p>",
                  "smithy.api#required" : {}
               }
            },
            "thumbnailConfiguration" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantThumbnailConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>A complex type that allows you to enable/disable the recording of thumbnails for\n         individual participant recording and modify the interval at which thumbnails are generated\n         for the live session.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object specifying a configuration for individual participant recording.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#AutoParticipantRecordingStorageConfigurationArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 0
            },
            "smithy.api#pattern" : "^^$|^arn:aws:ivs:[a-z0-9-]+:[0-9]+:storage-configuration/[a-zA-Z0-9-]+$$"
         },
         "type" : "string"
      },
      "com.amazonaws.ivsrealtime#Bitrate" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 8500000,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.ivsrealtime#Boolean" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.ivsrealtime#ChannelArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws:ivs:[a-z0-9-]+:[0-9]+:channel/[a-zA-Z0-9-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.ivsrealtime#ChannelDestinationConfiguration" : {
         "members" : {
            "channelArn" : {
               "target" : "com.amazonaws.ivsrealtime#ChannelArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the channel to use for broadcasting. The channel and stage resources must be in\n         the same AWS account and region. The channel must be offline (not broadcasting).</p>",
                  "smithy.api#required" : {}
               }
            },
            "encoderConfigurationArn" : {
               "target" : "com.amazonaws.ivsrealtime#EncoderConfigurationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the <a>EncoderConfiguration</a> resource. The encoder configuration\n         and stage resources must be in the same AWS account and region.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object specifying a channel as a destination.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#Composition" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.ivsrealtime#CompositionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the Composition resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "destinations" : {
               "target" : "com.amazonaws.ivsrealtime#DestinationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Array of Destination objects. A Composition can contain either one destination\n            (<code>channel</code> or <code>s3</code>) or two (one <code>channel</code> and one\n            <code>s3</code>).</p>",
                  "smithy.api#required" : {}
               }
            },
            "endTime" : {
               "target" : "com.amazonaws.ivsrealtime#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>UTC time of the Composition end. This is an ISO 8601 timestamp; <i>note that this\n            is returned as a string</i>.</p>"
               }
            },
            "layout" : {
               "target" : "com.amazonaws.ivsrealtime#LayoutConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Layout object to configure composition parameters.</p>",
                  "smithy.api#required" : {}
               }
            },
            "stageArn" : {
               "target" : "com.amazonaws.ivsrealtime#StageArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the stage used as input</p>",
                  "smithy.api#required" : {}
               }
            },
            "startTime" : {
               "target" : "com.amazonaws.ivsrealtime#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>UTC time of the Composition start. This is an ISO 8601 timestamp; <i>note that\n            this is returned as a string</i>.</p>"
               }
            },
            "state" : {
               "target" : "com.amazonaws.ivsrealtime#CompositionState",
               "traits" : {
                  "smithy.api#documentation" : "<p>State of the Composition.</p>",
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.ivsrealtime#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n            (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/tag-editor/latest/userguide/best-practices-and-strats.html\">Best practices and strategies</a> in <i>Tagging AWS Resources and Tag\n            Editor</i> for details, including restrictions that apply to tags and \"Tag naming\n         limits and requirements\"; Amazon IVS has no constraints on tags beyond what is documented\n         there.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object specifying a Composition resource.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CompositionArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws:ivs:[a-z0-9-]+:[0-9]+:composition/[a-zA-Z0-9-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.ivsrealtime#CompositionClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-_]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.ivsrealtime#CompositionRecordingHlsConfiguration" : {
         "members" : {
            "targetSegmentDurationSeconds" : {
               "target" : "com.amazonaws.ivsrealtime#CompositionRecordingTargetSegmentDurationSeconds",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>Defines the target duration for recorded segments generated when using composite recording. Default: 2.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object representing a configuration of HLS recordings for server-side composition.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CompositionRecordingTargetSegmentDurationSeconds" : {
         "traits" : {
            "smithy.api#default" : 2,
            "smithy.api#range" : {
               "max" : 10,
               "min" : 2
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.ivsrealtime#CompositionState" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "STARTING",
                  "value" : "STARTING"
               },
               {
                  "name" : "ACTIVE",
                  "value" : "ACTIVE"
               },
               {
                  "name" : "STOPPING",
                  "value" : "STOPPING"
               },
               {
                  "name" : "FAILED",
                  "value" : "FAILED"
               },
               {
                  "name" : "STOPPED",
                  "value" : "STOPPED"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.ivsrealtime#CompositionSummary" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.ivsrealtime#CompositionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the Composition resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "destinations" : {
               "target" : "com.amazonaws.ivsrealtime#DestinationSummaryList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Array of Destination objects.</p>",
                  "smithy.api#required" : {}
               }
            },
            "endTime" : {
               "target" : "com.amazonaws.ivsrealtime#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>UTC time of the Composition end. This is an ISO 8601 timestamp; <i>note that this\n            is returned as a string</i>.</p>"
               }
            },
            "stageArn" : {
               "target" : "com.amazonaws.ivsrealtime#StageArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the attached stage.</p>",
                  "smithy.api#required" : {}
               }
            },
            "startTime" : {
               "target" : "com.amazonaws.ivsrealtime#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>UTC time of the Composition start. This is an ISO 8601 timestamp; <i>note that\n            this is returned as a string</i>.</p>"
               }
            },
            "state" : {
               "target" : "com.amazonaws.ivsrealtime#CompositionState",
               "traits" : {
                  "smithy.api#documentation" : "<p>State of the Composition resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.ivsrealtime#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n            (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/tag-editor/latest/userguide/best-practices-and-strats.html\">Best practices and strategies</a> in <i>Tagging AWS Resources and Tag\n            Editor</i> for details, including restrictions that apply to tags and \"Tag naming\n         limits and requirements\"; Amazon IVS has no constraints on tags beyond what is documented\n         there.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary information about a Composition.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CompositionSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.ivsrealtime#CompositionSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.ivsrealtime#CompositionThumbnailConfiguration" : {
         "members" : {
            "storage" : {
               "target" : "com.amazonaws.ivsrealtime#ThumbnailStorageTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the format in which thumbnails are recorded. <code>SEQUENTIAL</code> records\n         all generated thumbnails in a serial manner, to the media/thumbnails/(width)x(height)\n         directory, where (width) and (height) are the width and height of the thumbnail.\n            <code>LATEST</code> saves the latest thumbnail in\n         media/latest_thumbnail/(width)x(height)/thumb.jpg and overwrites it at the interval\n         specified by <code>targetIntervalSeconds</code>. You can enable both\n            <code>SEQUENTIAL</code> and <code>LATEST</code>. Default:\n         <code>SEQUENTIAL</code>.</p>"
               }
            },
            "targetIntervalSeconds" : {
               "target" : "com.amazonaws.ivsrealtime#ThumbnailIntervalSeconds",
               "traits" : {
                  "smithy.api#documentation" : "<p>The targeted thumbnail-generation interval in seconds. Default: 60.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object representing a configuration of thumbnails for recorded video for a <a>Composition</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CompositionThumbnailConfigurationList" : {
         "member" : {
            "target" : "com.amazonaws.ivsrealtime#CompositionThumbnailConfiguration"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.ivsrealtime#ConflictException" : {
         "members" : {
            "accessControlAllowOrigin" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Access-Control-Allow-Origin"
               }
            },
            "accessControlExposeHeaders" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Access-Control-Expose-Headers"
               }
            },
            "cacheControl" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Cache-Control"
               }
            },
            "contentSecurityPolicy" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Content-Security-Policy"
               }
            },
            "exceptionMessage" : {
               "target" : "com.amazonaws.ivsrealtime#errorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>"
               }
            },
            "strictTransportSecurity" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "Strict-Transport-Security"
               }
            },
            "xAmznErrorType" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "x-amzn-ErrorType"
               }
            },
            "xContentTypeOptions" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "X-Content-Type-Options"
               }
            },
            "xFrameOptions" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p/>",
                  "smithy.api#httpHeader" : "X-Frame-Options"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p/>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateEncoderConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ConflictException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#PendingVerification"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#CreateEncoderConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#CreateEncoderConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates an EncoderConfiguration object.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/CreateEncoderConfiguration"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#CreateEncoderConfigurationRequest" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.ivsrealtime#EncoderConfigurationName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional name to identify the resource.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.ivsrealtime#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n         (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/tag-editor/latest/userguide/best-practices-and-strats.html\">Best practices and strategies</a>\n         in <i>Tagging AWS Resources and Tag Editor</i> for details, including restrictions that apply to tags and \"Tag naming\n         limits and requirements\"; Amazon IVS has no constraints on tags beyond what is documented\n         there.</p>"
               }
            },
            "video" : {
               "target" : "com.amazonaws.ivsrealtime#Video",
               "traits" : {
                  "smithy.api#documentation" : "<p>Video configuration. Default: video resolution 1280x720, bitrate 2500 kbps, 30\n         fps.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateEncoderConfigurationResponse" : {
         "members" : {
            "encoderConfiguration" : {
               "target" : "com.amazonaws.ivsrealtime#EncoderConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The EncoderConfiguration that was created.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateIngestConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#PendingVerification"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#CreateIngestConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#CreateIngestConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new IngestConfiguration resource, used to specify the ingest protocol for a stage.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/CreateIngestConfiguration"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#CreateIngestConfigurationRequest" : {
         "members" : {
            "attributes" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantAttributes",
               "traits" : {
                  "smithy.api#documentation" : "<p>Application-provided attributes to store in the IngestConfiguration and attach to a stage. Map keys and values can contain UTF-8 encoded text. The maximum length of this field is 1 KB total.\n      <i>This field is exposed to all stage participants and should not be used for personally identifying, confidential, or sensitive information.</i>\n         </p>"
               }
            },
            "ingestProtocol" : {
               "target" : "com.amazonaws.ivsrealtime#IngestProtocol",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of ingest protocol that the user employs to broadcast. If this is set to <code>RTMP</code>, <code>insecureIngest</code> must be set to <code>true</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "insecureIngest" : {
               "target" : "com.amazonaws.ivsrealtime#InsecureIngest",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Whether the stage allows insecure RTMP ingest. This must be set to <code>true</code>, if <code>ingestProtocol</code> is set to <code>RTMP</code>. Default: <code>false</code>. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.ivsrealtime#IngestConfigurationName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional name that can be specified for the IngestConfiguration being created.</p>"
               }
            },
            "redundantIngest" : {
               "target" : "com.amazonaws.ivsrealtime#RedundantIngest",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Indicates whether redundant ingest is enabled for the ingest configuration. Default: <code>false</code>.</p>"
               }
            },
            "stageArn" : {
               "target" : "com.amazonaws.ivsrealtime#IngestConfigurationStageArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the stage with which the IngestConfiguration is associated.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.ivsrealtime#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n         (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/tag-editor/latest/userguide/best-practices-and-strats.html\">Best practices and strategies</a>\n         in <i>Tagging AWS Resources and Tag Editor</i> for details, including restrictions that apply to tags and \"Tag naming\n         limits and requirements\"; Amazon IVS has no constraints on tags beyond what is documented\n\t there.</p>"
               }
            },
            "userId" : {
               "target" : "com.amazonaws.ivsrealtime#UserId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Customer-assigned name to help identify the participant using the IngestConfiguration; this can be used to link a participant to a user in the customer’s own systems. This can be any UTF-8 encoded text.\n      <i>This field is exposed to all stage participants and should not be used for personally identifying, confidential, or sensitive information.</i>\n         </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateIngestConfigurationResponse" : {
         "members" : {
            "ingestConfiguration" : {
               "target" : "com.amazonaws.ivsrealtime#IngestConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The IngestConfiguration that was created.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateParticipantToken" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#PendingVerification"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#CreateParticipantTokenRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#CreateParticipantTokenResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates an additional token for a specified stage. This can be done after stage creation\n         or when tokens expire. Tokens always are scoped to the stage for which they are\n         created.</p>\n         <p>Encryption keys are owned by Amazon IVS and never used directly by your\n         application.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/CreateParticipantToken"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#CreateParticipantTokenRequest" : {
         "members" : {
            "attributes" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantTokenAttributes",
               "traits" : {
                  "smithy.api#documentation" : "<p>Application-provided attributes to encode into the token and attach to a stage. Map keys\n         and values can contain UTF-8 encoded text. The maximum length of this field is 1 KB total.\n            <i>This field is exposed to all stage participants and should not be used for\n            personally identifying, confidential, or sensitive information.</i>\n         </p>"
               }
            },
            "capabilities" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantTokenCapabilities",
               "traits" : {
                  "smithy.api#documentation" : "<p>Set of capabilities that the user is allowed to perform in the stage. Default:\n            <code>PUBLISH, SUBSCRIBE</code>.</p>"
               }
            },
            "duration" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantTokenDurationMinutes",
               "traits" : {
                  "smithy.api#documentation" : "<p>Duration (in minutes), after which the token expires. Default: 720 (12 hours).</p>"
               }
            },
            "stageArn" : {
               "target" : "com.amazonaws.ivsrealtime#StageArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the stage to which this token is scoped.</p>",
                  "smithy.api#required" : {}
               }
            },
            "userId" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantTokenUserId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Name that can be specified to help identify the token. This can be any UTF-8 encoded\n         text. <i>This field is exposed to all stage participants and should not be used for\n            personally identifying, confidential, or sensitive information.</i>\n         </p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateParticipantTokenResponse" : {
         "members" : {
            "participantToken" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The participant token that was created.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateStage" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#PendingVerification"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#CreateStageRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#CreateStageResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new stage (and optionally participant tokens).</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/CreateStage"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#CreateStageRequest" : {
         "members" : {
            "autoParticipantRecordingConfiguration" : {
               "target" : "com.amazonaws.ivsrealtime#AutoParticipantRecordingConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Configuration object for individual participant recording, to attach to the new stage.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.ivsrealtime#StageName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional name that can be specified for the stage being created.</p>"
               }
            },
            "participantTokenConfigurations" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantTokenConfigurations",
               "traits" : {
                  "smithy.api#documentation" : "<p>Array of participant token configuration objects to attach to the new stage.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.ivsrealtime#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n         (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/tag-editor/latest/userguide/best-practices-and-strats.html\">Best practices and strategies</a>\n         in <i>Tagging AWS Resources and Tag Editor</i> for details, including restrictions that apply to tags and \"Tag naming\n         limits and requirements\"; Amazon IVS has no constraints on tags beyond what is documented\n         there. </p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateStageResponse" : {
         "members" : {
            "participantTokens" : {
               "target" : "com.amazonaws.ivsrealtime#ParticipantTokenList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Participant tokens attached to the stage. These correspond to the\n            <code>participants</code> in the request.</p>"
               }
            },
            "stage" : {
               "target" : "com.amazonaws.ivsrealtime#Stage",
               "traits" : {
                  "smithy.api#documentation" : "<p>The stage that was created.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateStorageConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ConflictException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#PendingVerification"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#CreateStorageConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#CreateStorageConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new storage configuration, used to enable recording to Amazon S3. \n\t  When a StorageConfiguration is created, IVS will modify the S3 bucketPolicy of the provided bucket. \n\t  This will ensure that IVS has sufficient permissions to write content to the provided bucket.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/CreateStorageConfiguration"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#CreateStorageConfigurationRequest" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.ivsrealtime#StorageConfigurationName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Storage configuration name. The value does not need to be unique.</p>"
               }
            },
            "s3" : {
               "target" : "com.amazonaws.ivsrealtime#S3StorageConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>A complex type that contains a storage configuration for where recorded video will be stored.</p>",
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.ivsrealtime#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n         (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/tag-editor/latest/userguide/best-practices-and-strats.html\">Best practices and strategies</a>\n\t in <i>Tagging AWS Resources and Tag Editor</i> for details, including restrictions that apply to tags and \"Tag naming\n         limits and requirements\"; Amazon IVS has no constraints on tags beyond what is documented\n         there.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#CreateStorageConfigurationResponse" : {
         "members" : {
            "storageConfiguration" : {
               "target" : "com.amazonaws.ivsrealtime#StorageConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The StorageConfiguration that was created.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeleteEncoderConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ConflictException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#DeleteEncoderConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#DeleteEncoderConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes an EncoderConfiguration resource. Ensures that no Compositions are using this\n         template; otherwise, returns an error.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/DeleteEncoderConfiguration"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#DeleteEncoderConfigurationRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.ivsrealtime#EncoderConfigurationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the EncoderConfiguration.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeleteEncoderConfigurationResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeleteIngestConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ConflictException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#PendingVerification"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#DeleteIngestConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#DeleteIngestConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a specified IngestConfiguration, so it can no longer be used to broadcast. An IngestConfiguration cannot be deleted if the publisher is actively streaming to a stage, unless <code>force</code> is set to <code>true</code>.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/DeleteIngestConfiguration"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#DeleteIngestConfigurationRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.ivsrealtime#IngestConfigurationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the IngestConfiguration.</p>",
                  "smithy.api#required" : {}
               }
            },
            "force" : {
               "target" : "com.amazonaws.ivsrealtime#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional field to force deletion of the IngestConfiguration. If this is set to <code>true</code> when a participant is actively publishing, the participant is disconnected from the stage, followed by deletion of the IngestConfiguration. Default: <code>false</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeleteIngestConfigurationResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeletePublicKey" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ConflictException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#PendingVerification"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#DeletePublicKeyRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#DeletePublicKeyResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the specified public key used to sign stage participant tokens. \n\t  This invalidates future participant tokens generated using the key pair’s private key.\n</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/DeletePublicKey"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#DeletePublicKeyRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.ivsrealtime#PublicKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the public key to be deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeletePublicKeyResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeleteStage" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ConflictException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#PendingVerification"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#DeleteStageRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#DeleteStageResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Shuts down and deletes the specified stage (disconnecting all participants). This operation also\n            removes the <code>stageArn</code> from the associated <a>IngestConfiguration</a>, if there are participants\n\t    using the IngestConfiguration to publish to the stage.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/DeleteStage"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#DeleteStageRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.ivsrealtime#StageArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the stage to be deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeleteStageResponse" : {
         "members" : {},
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeleteStorageConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.ivsrealtime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ConflictException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.ivsrealtime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.ivsrealtime#DeleteStorageConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.ivsrealtime#DeleteStorageConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the storage configuration for the specified ARN.</p>\n         <p>If you try to delete a storage configuration that is used by a Composition, you will get an error (409 ConflictException). \n\t  To avoid this, for all Compositions that reference the storage configuration, first use <a>StopComposition</a> and wait for it to complete, \n\t  then use DeleteStorageConfiguration.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/DeleteStorageConfiguration"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.ivsrealtime#DeleteStorageConfigurationRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.ivsrealtime#StorageConfigurationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARN of the storage configuration to be deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DeleteStorageConfigurationResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#Destination" : {
         "members" : {
            "configuration" : {
               "target" : "com.amazonaws.ivsrealtime#DestinationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Configuration used to create this destination.</p>",
                  "smithy.api#required" : {}
               }
            },
            "detail" : {
               "target" : "com.amazonaws.ivsrealtime#DestinationDetail",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional details regarding the status of the destination.</p>"
               }
            },
            "endTime" : {
               "target" : "com.amazonaws.ivsrealtime#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>UTC time of the destination end. This is an ISO 8601 timestamp; <i>note that this\n            is returned as a string</i>.</p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier for this destination, assigned by IVS.</p>",
                  "smithy.api#required" : {}
               }
            },
            "startTime" : {
               "target" : "com.amazonaws.ivsrealtime#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>UTC time of the destination start. This is an ISO 8601 timestamp; <i>note that\n            this is returned as a string</i>.</p>"
               }
            },
            "state" : {
               "target" : "com.amazonaws.ivsrealtime#DestinationState",
               "traits" : {
                  "smithy.api#documentation" : "<p>State of the Composition Destination.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object specifying the status of a Destination.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DestinationConfiguration" : {
         "members" : {
            "channel" : {
               "target" : "com.amazonaws.ivsrealtime#ChannelDestinationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>An IVS channel to be used for broadcasting, for server-side composition. Either a\n            <code>channel</code> or an <code>s3</code> must be specified. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.ivsrealtime#DestinationConfigurationName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Name that can be specified to help identify the destination.</p>"
               }
            },
            "s3" : {
               "target" : "com.amazonaws.ivsrealtime#S3DestinationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>An S3 storage configuration to be used for recording video data. Either a\n            <code>channel</code> or an <code>s3</code> must be specified.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Complex data type that defines destination-configuration objects.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DestinationConfigurationList" : {
         "member" : {
            "target" : "com.amazonaws.ivsrealtime#DestinationConfiguration"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 2,
               "min" : 1
            },
            "smithy.api#uniqueItems" : {}
         },
         "type" : "list"
      },
      "com.amazonaws.ivsrealtime#DestinationConfigurationName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 0
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-_]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.ivsrealtime#DestinationDetail" : {
         "members" : {
            "s3" : {
               "target" : "com.amazonaws.ivsrealtime#S3Detail",
               "traits" : {
                  "smithy.api#documentation" : "<p>An S3 detail object to return information about the S3 destination.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Complex data type that defines destination-detail objects.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DestinationList" : {
         "member" : {
            "target" : "com.amazonaws.ivsrealtime#Destination"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 2,
               "min" : 1
            },
            "smithy.api#uniqueItems" : {}
         },
         "type" : "list"
      },
      "com.amazonaws.ivsrealtime#DestinationState" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "STARTING",
                  "value" : "STARTING"
               },
               {
                  "name" : "ACTIVE",
                  "value" : "ACTIVE"
               },
               {
                  "name" : "STOPPING",
                  "value" : "STOPPING"
               },
               {
                  "name" : "RECONNECTING",
                  "value" : "RECONNECTING"
               },
               {
                  "name" : "FAILED",
                  "value" : "FAILED"
               },
               {
                  "name" : "STOPPED",
                  "value" : "STOPPED"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.ivsrealtime#DestinationSummary" : {
         "members" : {
            "endTime" : {
               "target" : "com.amazonaws.ivsrealtime#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>UTC time of the destination end. This is an ISO 8601 timestamp; <i>note that this\n            is returned as a string</i>.</p>"
               }
            },
            "id" : {
               "target" : "com.amazonaws.ivsrealtime#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier for this destination, assigned by IVS.</p>",
                  "smithy.api#required" : {}
               }
            },
            "startTime" : {
               "target" : "com.amazonaws.ivsrealtime#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>UTC time of the destination start. This is an ISO 8601 timestamp; <i>note that\n            this is returned as a string</i>.</p>"
               }
            },
            "state" : {
               "target" : "com.amazonaws.ivsrealtime#DestinationState",
               "traits" : {
                  "smithy.api#documentation" : "<p>State of the Composition Destination.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary information about a Destination.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.ivsrealtime#DestinationSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.ivsrealtime#DestinationSummary"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 2,
               "min" : 1
            },
[...]
