{
   "shapes" : {
      "com.amazonaws.bedrockdataautomation#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomation#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception is thrown when a request is denied per access permissions",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#AmazonBedrockKeystoneBuildTimeService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.bedrockdataautomation#CopyBlueprintStage"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#CreateBlueprintVersion"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#GetDataAutomationLibraryEntity"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ListDataAutomationLibraryEntities"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#TagResource"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#UntagResource"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintOptimizationJobResource"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintResource"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobResource"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryResource"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "bedrock",
               "cloudTrailEventSource" : "bedrock.amazonaws.com",
               "endpointPrefix" : "bedrock-data-automation",
               "sdkId" : "Bedrock Data Automation"
            },
            "aws.auth#sigv4" : {
               "name" : "bedrock"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "Amazon Bedrock Data Automation BuildTime",
            "smithy.api#title" : "Data Automation for Amazon Bedrock",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://bedrock-data-automation-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://bedrock-data-automation-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://bedrock-data-automation.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://bedrock-data-automation.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2023-07-26"
      },
      "com.amazonaws.bedrockdataautomation#AudioExtractionCategory" : {
         "members" : {
            "state" : {
               "target" : "com.amazonaws.bedrockdataautomation#State",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "typeConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioExtractionCategoryTypeConfiguration"
            },
            "types" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioExtractionCategoryTypes"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Category of Audio Extraction"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#AudioExtractionCategoryType" : {
         "members" : {
            "AUDIO_CONTENT_MODERATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AUDIO_CONTENT_MODERATION"
               }
            },
            "TOPIC_CONTENT_MODERATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TOPIC_CONTENT_MODERATION"
               }
            },
            "TRANSCRIPT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TRANSCRIPT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#AudioExtractionCategoryTypeConfiguration" : {
         "members" : {
            "transcript" : {
               "target" : "com.amazonaws.bedrockdataautomation#TranscriptConfiguration"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Configuration for different audio extraction category types"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#AudioExtractionCategoryTypes" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#AudioExtractionCategoryType"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Audio Extraction Category Type"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#AudioGenerativeOutputLanguage" : {
         "members" : {
            "DEFAULT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEFAULT"
               }
            },
            "EN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EN"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Configuration for Audio output language"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#AudioInputLanguages" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#Language"
         },
         "traits" : {
            "smithy.api#documentation" : "List of supported audio languages"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#AudioLanguageConfiguration" : {
         "members" : {
            "generativeOutputLanguage" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioGenerativeOutputLanguage"
            },
            "identifyMultipleLanguages" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "Enable multiple language identification in audio"
               }
            },
            "inputLanguages" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioInputLanguages"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Optional configuration for audio language settings"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#AudioOverrideConfiguration" : {
         "members" : {
            "languageConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioLanguageConfiguration"
            },
            "modalityProcessing" : {
               "target" : "com.amazonaws.bedrockdataautomation#ModalityProcessingConfiguration"
            },
            "sensitiveDataConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#SensitiveDataConfiguration"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Override Configuration of Audio"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#AudioStandardExtraction" : {
         "members" : {
            "category" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioExtractionCategory",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Standard Extraction Configuration of Audio"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#AudioStandardGenerativeField" : {
         "members" : {
            "state" : {
               "target" : "com.amazonaws.bedrockdataautomation#State",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "types" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioStandardGenerativeFieldTypes"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Standard Generative Field Configuration of Audio"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#AudioStandardGenerativeFieldType" : {
         "members" : {
            "AUDIO_SUMMARY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AUDIO_SUMMARY"
               }
            },
            "IAB" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IAB"
               }
            },
            "TOPIC_SUMMARY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TOPIC_SUMMARY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#AudioStandardGenerativeFieldTypes" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#AudioStandardGenerativeFieldType"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Audio Standard Generative Field Type"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#AudioStandardOutputConfiguration" : {
         "members" : {
            "extraction" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioStandardExtraction"
            },
            "generativeField" : {
               "target" : "com.amazonaws.bedrockdataautomation#AudioStandardGenerativeField"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Standard Output Configuration of Audio"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#Blueprint" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "blueprintName" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "blueprintStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintStage"
            },
            "blueprintVersion" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintVersion"
            },
            "creationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "kmsEncryptionContext" : {
               "target" : "com.amazonaws.bedrockdataautomation#KmsEncryptionContext"
            },
            "kmsKeyId" : {
               "target" : "com.amazonaws.bedrockdataautomation#KmsKeyId"
            },
            "lastModifiedTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "optimizationSamples" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintOptimizationSamples"
            },
            "optimizationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp"
            },
            "schema" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintSchema",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "type" : {
               "target" : "com.amazonaws.bedrockdataautomation#Type",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Contains the information of a Blueprint."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintArn" : {
         "traits" : {
            "smithy.api#documentation" : "ARN of a Blueprint",
            "smithy.api#length" : {
               "max" : 128
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):blueprint/(bedrock-data-automation-public-[a-zA-Z0-9-_]{1,30}|[a-zA-Z0-9-]{12,36})$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintFilter" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "blueprintStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintStage"
            },
            "blueprintVersion" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintVersion"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Blueprint Filter"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintItem" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "blueprintStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintStage"
            },
            "blueprintVersion" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintVersion"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Blueprint Item"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintItems" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#BlueprintItem"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Blueprint Item"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintName" : {
         "traits" : {
            "smithy.api#documentation" : "Name of the Blueprint",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-_]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintOptimizationInvocationArn" : {
         "traits" : {
            "smithy.api#documentation" : "Invocation arn.",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:blueprint-optimization-invocation/[a-zA-Z0-9-_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintOptimizationJobResource" : {
         "create" : {
            "target" : "com.amazonaws.bedrockdataautomation#InvokeBlueprintOptimizationAsync"
         },
         "identifiers" : {
            "invocationArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintOptimizationInvocationArn"
            }
         },
         "read" : {
            "target" : "com.amazonaws.bedrockdataautomation#GetBlueprintOptimizationStatus"
         },
         "type" : "resource"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintOptimizationJobStatus" : {
         "members" : {
            "CLIENT_ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ClientError"
               }
            },
            "CREATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Created"
               }
            },
            "IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "InProgress"
               }
            },
            "SERVICE_ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ServiceError"
               }
            },
            "SUCCESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Success"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "List of status supported by optimization jobs"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintOptimizationObject" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn",
               "traits" : {
                  "smithy.api#documentation" : "Arn of blueprint.",
                  "smithy.api#required" : {}
               }
            },
            "stage" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintStage",
               "traits" : {
                  "smithy.api#documentation" : "Stage of blueprint."
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Structure for single blueprint entity."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintOptimizationOutputConfiguration" : {
         "members" : {
            "s3Object" : {
               "target" : "com.amazonaws.bedrockdataautomation#S3Object",
               "traits" : {
                  "smithy.api#documentation" : "S3 object.",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Blueprint Optimization Output configuration."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintOptimizationSample" : {
         "members" : {
            "assetS3Object" : {
               "target" : "com.amazonaws.bedrockdataautomation#S3Object",
               "traits" : {
                  "smithy.api#documentation" : "S3 Object of the asset",
                  "smithy.api#required" : {}
               }
            },
            "groundTruthS3Object" : {
               "target" : "com.amazonaws.bedrockdataautomation#S3Object",
               "traits" : {
                  "smithy.api#documentation" : "Ground truth for the Blueprint and Asset combination",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Blueprint Recommendation Sample"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintOptimizationSamples" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#BlueprintOptimizationSample"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Blueprint Optimization Samples"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintResource" : {
         "create" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateBlueprint"
         },
         "delete" : {
            "target" : "com.amazonaws.bedrockdataautomation#DeleteBlueprint"
         },
         "identifiers" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn"
            }
         },
         "list" : {
            "target" : "com.amazonaws.bedrockdataautomation#ListBlueprints"
         },
         "read" : {
            "target" : "com.amazonaws.bedrockdataautomation#GetBlueprint"
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.bedrockdataautomation#UpdateBlueprint"
         }
      },
      "com.amazonaws.bedrockdataautomation#BlueprintSchema" : {
         "traits" : {
            "smithy.api#documentation" : "Schema of the blueprint",
            "smithy.api#length" : {
               "max" : 100000,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintStage" : {
         "members" : {
            "DEVELOPMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEVELOPMENT"
               }
            },
            "LIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LIVE"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Stage of the Blueprint"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintStageFilter" : {
         "members" : {
            "ALL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ALL"
               }
            },
            "DEVELOPMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEVELOPMENT"
               }
            },
            "LIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LIVE"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Blueprint Stage filter"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintSummary" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "blueprintName" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintName"
            },
            "blueprintStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintStage"
            },
            "blueprintVersion" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintVersion"
            },
            "creationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "lastModifiedTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Summary of a Blueprint"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#BlueprintVersion" : {
         "traits" : {
            "smithy.api#documentation" : "Blueprint Version",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[0-9]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#Blueprints" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#BlueprintSummary"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Blueprints"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#ChannelLabelingConfiguration" : {
         "members" : {
            "state" : {
               "target" : "com.amazonaws.bedrockdataautomation#State",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Channel labeling configuration"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#ClientToken" : {
         "traits" : {
            "smithy.api#documentation" : "Client specified token used for idempotency checks",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 33
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomation#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception is thrown when there is a conflict performing an operation",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CopyBlueprintStage" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomation#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomation#CopyBlueprintStageRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomation#CopyBlueprintStageResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Copies a Blueprint from one stage to another",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/blueprints/{blueprintArn}/copy-stage"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomation#CopyBlueprintStageRequest" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn",
               "traits" : {
                  "smithy.api#documentation" : "Blueprint to be copied",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.bedrockdataautomation#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "Client token for idempotency",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "sourceStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintStage",
               "traits" : {
                  "smithy.api#documentation" : "Source stage to copy from",
                  "smithy.api#required" : {}
               }
            },
            "targetStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintStage",
               "traits" : {
                  "smithy.api#documentation" : "Target stage to copy to",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "CopyBlueprintStage Request",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CopyBlueprintStageResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#documentation" : "CopyBlueprintStage Response",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CreateBlueprint" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomation#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ConflictException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateBlueprintRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateBlueprintResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Creates an Amazon Bedrock Data Automation Blueprint",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "PUT",
               "uri" : "/blueprints/"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomation#CreateBlueprintRequest" : {
         "members" : {
            "blueprintName" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "blueprintStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintStage"
            },
            "clientToken" : {
               "target" : "com.amazonaws.bedrockdataautomation#ClientToken",
               "traits" : {
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "encryptionConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#EncryptionConfiguration"
            },
            "schema" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintSchema",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.bedrockdataautomation#TagList"
            },
            "type" : {
               "target" : "com.amazonaws.bedrockdataautomation#Type",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Create Blueprint Request",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CreateBlueprintResponse" : {
         "members" : {
            "blueprint" : {
               "target" : "com.amazonaws.bedrockdataautomation#Blueprint",
               "traits" : {
                  "smithy.api#nestedProperties" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Create Blueprint Response",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CreateBlueprintVersion" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomation#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateBlueprintVersionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateBlueprintVersionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Creates a new version of an existing Amazon Bedrock Data Automation Blueprint",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "POST",
               "uri" : "/blueprints/{blueprintArn}/versions/"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomation#CreateBlueprintVersionRequest" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn",
               "traits" : {
                  "smithy.api#documentation" : "ARN generated at the server side when a Blueprint is created",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.bedrockdataautomation#ClientToken",
               "traits" : {
                  "smithy.api#idempotencyToken" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Create Blueprint Version Request",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CreateBlueprintVersionResponse" : {
         "members" : {
            "blueprint" : {
               "target" : "com.amazonaws.bedrockdataautomation#Blueprint",
               "traits" : {
                  "smithy.api#nestedProperties" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Create Blueprint Version Response",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CreateDataAutomationLibrary" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomation#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ConflictException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateDataAutomationLibraryRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateDataAutomationLibraryResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Creates an Amazon Bedrock Data Automation Library",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "PUT",
               "uri" : "/data-automation-libraries/"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomation#CreateDataAutomationLibraryRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.bedrockdataautomation#ClientToken",
               "traits" : {
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "encryptionConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#EncryptionConfiguration"
            },
            "libraryDescription" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryDescription"
            },
            "libraryName" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.bedrockdataautomation#TagList"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Create DataAutomationLibrary Request",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CreateDataAutomationLibraryResponse" : {
         "members" : {
            "libraryArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryArn"
            },
            "status" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryStatus"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Create DataAutomationLibrary Response",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CreateDataAutomationProject" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomation#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ConflictException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateDataAutomationProjectRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateDataAutomationProjectResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Creates an Amazon Bedrock Data Automation Project",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "PUT",
               "uri" : "/data-automation-projects/"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomation#CreateDataAutomationProjectRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.bedrockdataautomation#ClientToken",
               "traits" : {
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "customOutputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#CustomOutputConfiguration"
            },
            "dataAutomationLibraryConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryConfiguration"
            },
            "encryptionConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#EncryptionConfiguration"
            },
            "overrideConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#OverrideConfiguration"
            },
            "projectDescription" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectDescription"
            },
            "projectName" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "projectStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectStage"
            },
            "projectType" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectType",
               "traits" : {
                  "smithy.api#default" : "ASYNC"
               }
            },
            "standardOutputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#StandardOutputConfiguration",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.bedrockdataautomation#TagList"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Create DataAutomationProject Request",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CreateDataAutomationProjectResponse" : {
         "members" : {
            "projectArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "projectStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectStage"
            },
            "status" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectStatus"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Create DataAutomationProject Response",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#CustomOutputConfiguration" : {
         "members" : {
            "blueprints" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintItems"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Custom output configuration"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibrary" : {
         "members" : {
            "creationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "entityTypes" : {
               "target" : "com.amazonaws.bedrockdataautomation#EntityTypeInfoList"
            },
            "kmsEncryptionContext" : {
               "target" : "com.amazonaws.bedrockdataautomation#KmsEncryptionContext"
            },
            "kmsKeyId" : {
               "target" : "com.amazonaws.bedrockdataautomation#KmsKeyId"
            },
            "libraryArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "libraryDescription" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryDescription"
            },
            "libraryName" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "status" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Contains the information of a DataAutomationLibrary."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryArn" : {
         "traits" : {
            "smithy.api#documentation" : "ARN generated at the server side when a DataAutomationLibrary is created",
            "smithy.api#length" : {
               "max" : 128
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:data-automation-library/[a-zA-Z0-9-]{12,36}$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryConfiguration" : {
         "members" : {
            "libraries" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryItems"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "DataAutomation Library configuration"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryDescription" : {
         "traits" : {
            "smithy.api#documentation" : "Description of the DataAutomationLibrary",
            "smithy.api#length" : {
               "max" : 300,
               "min" : 0
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9\\s!\"\\#\\$%'&\\(\\)\\*\\+\\,\\-\\./:;=\\?@\\[\\\\\\]\\^_`\\{\\|\\}~><À-ÖØ-Üßà-öø-üẞ¿¡Œ-œ°£¥₹€§©ª®™¹±-µ✓⑆-⑉฿₽₱₦₣₩₫₺]*$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryEntitySummaries" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryEntitySummary"
         },
         "traits" : {
            "smithy.api#documentation" : "List of entity summary object"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryEntitySummary" : {
         "members" : {
            "vocabulary" : {
               "target" : "com.amazonaws.bedrockdataautomation#VocabularyEntitySummary"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Summarized information about an entity"
         },
         "type" : "union"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryFilter" : {
         "members" : {
            "libraryArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Data Automation Library Filter"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJob" : {
         "members" : {
            "completionTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#documentation" : "Timestamp when the DataAutomationLibraryIngestionJob was completed"
               }
            },
            "creationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#documentation" : "Timestamp when the DataAutomationLibraryIngestionJob was created",
                  "smithy.api#required" : {}
               }
            },
            "entityType" : {
               "target" : "com.amazonaws.bedrockdataautomation#EntityType",
               "traits" : {
                  "smithy.api#documentation" : "The entity type associated with DataAutomationLibraryIngestionJob",
                  "smithy.api#required" : {}
               }
            },
            "errorMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "Error message"
               }
            },
            "errorType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "Error type"
               }
            },
            "jobArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobArn",
               "traits" : {
                  "smithy.api#documentation" : "ARN of the DataAutomationLibraryIngestionJob",
                  "smithy.api#required" : {}
               }
            },
            "jobStatus" : {
               "target" : "com.amazonaws.bedrockdataautomation#LibraryIngestionJobStatus",
               "traits" : {
                  "smithy.api#documentation" : "The status of the DataAutomationLibraryIngestionJob",
                  "smithy.api#required" : {}
               }
            },
            "operationType" : {
               "target" : "com.amazonaws.bedrockdataautomation#LibraryIngestionJobOperationType",
               "traits" : {
                  "smithy.api#documentation" : "The operation associated with DataAutomationLibraryIngestionJob",
                  "smithy.api#required" : {}
               }
            },
            "outputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#OutputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Output configuration of DataAutomationLibraryIngestionJob",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Contains the information of a DataAutomationLibraryIngestionJob"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobArn" : {
         "traits" : {
            "smithy.api#documentation" : "ARN of the DataAutomationLibraryIngestionJob",
            "smithy.api#length" : {
               "max" : 128
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:data-automation-library-ingestion-job/[a-zA-Z0-9-]{12,36}$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobResource" : {
         "create" : {
            "target" : "com.amazonaws.bedrockdataautomation#InvokeDataAutomationLibraryIngestionJob"
         },
         "identifiers" : {
            "jobArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobArn"
            }
         },
         "list" : {
            "target" : "com.amazonaws.bedrockdataautomation#ListDataAutomationLibraryIngestionJobs"
         },
         "read" : {
            "target" : "com.amazonaws.bedrockdataautomation#GetDataAutomationLibraryIngestionJob"
         },
         "type" : "resource"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobSummaries" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobSummary"
         },
         "traits" : {
            "smithy.api#documentation" : "List of DataAutomationLibraryIngestionJobSummary objects"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobSummary" : {
         "members" : {
            "completionTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp"
            },
            "creationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "entityType" : {
               "target" : "com.amazonaws.bedrockdataautomation#EntityType",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "jobArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryIngestionJobArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "jobStatus" : {
               "target" : "com.amazonaws.bedrockdataautomation#LibraryIngestionJobStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "operationType" : {
               "target" : "com.amazonaws.bedrockdataautomation#LibraryIngestionJobOperationType",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Summary of a DataAutomationLibraryIngestionJob"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryItem" : {
         "members" : {
            "libraryArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "DataAutomationLibrary Item"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryItems" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryItem"
         },
         "traits" : {
            "smithy.api#documentation" : "List of DataAutomationLibrary Items",
            "smithy.api#length" : {
               "max" : 1,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryName" : {
         "traits" : {
            "smithy.api#documentation" : "Name of the DataAutomationLibrary",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-_]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryResource" : {
         "create" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateDataAutomationLibrary"
         },
         "delete" : {
            "target" : "com.amazonaws.bedrockdataautomation#DeleteDataAutomationLibrary"
         },
         "identifiers" : {
            "libraryArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryArn"
            }
         },
         "list" : {
            "target" : "com.amazonaws.bedrockdataautomation#ListDataAutomationLibraries"
         },
         "read" : {
            "target" : "com.amazonaws.bedrockdataautomation#GetDataAutomationLibrary"
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.bedrockdataautomation#UpdateDataAutomationLibrary"
         }
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibraryStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "DELETING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETING"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Status of DataAutomationLibrary"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibrarySummaries" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibrarySummary"
         },
         "traits" : {
            "smithy.api#documentation" : "List of DataAutomationLibrarySummary objects"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationLibrarySummary" : {
         "members" : {
            "creationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "libraryArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "libraryName" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryName"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Summary of a DataAutomationLibrary"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProfileArn" : {
         "traits" : {
            "smithy.api#documentation" : "Data automation profile arn.",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):data-automation-profile/[a-zA-Z0-9-_.]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProject" : {
         "members" : {
            "creationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "customOutputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#CustomOutputConfiguration"
            },
            "dataAutomationLibraryConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationLibraryConfiguration"
            },
            "kmsEncryptionContext" : {
               "target" : "com.amazonaws.bedrockdataautomation#KmsEncryptionContext"
            },
            "kmsKeyId" : {
               "target" : "com.amazonaws.bedrockdataautomation#KmsKeyId"
            },
            "lastModifiedTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "overrideConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#OverrideConfiguration"
            },
            "projectArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "projectDescription" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectDescription"
            },
            "projectName" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "projectStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectStage"
            },
            "projectType" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectType"
            },
            "standardOutputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomation#StandardOutputConfiguration"
            },
            "status" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Contains the information of a DataAutomationProject."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectArn" : {
         "traits" : {
            "smithy.api#documentation" : "ARN of a DataAutomationProject",
            "smithy.api#length" : {
               "max" : 128
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):data-automation-project/[a-zA-Z0-9-]{12,36}$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectDescription" : {
         "traits" : {
            "smithy.api#documentation" : "Description of the DataAutomationProject",
            "smithy.api#length" : {
               "max" : 300,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectFilter" : {
         "members" : {
            "projectArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "projectStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectStage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Data Automation Project Filter"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectName" : {
         "traits" : {
            "smithy.api#documentation" : "Name of the DataAutomationProject",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-_]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectResource" : {
         "create" : {
            "target" : "com.amazonaws.bedrockdataautomation#CreateDataAutomationProject"
         },
         "delete" : {
            "target" : "com.amazonaws.bedrockdataautomation#DeleteDataAutomationProject"
         },
         "identifiers" : {
            "projectArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectArn"
            }
         },
         "list" : {
            "target" : "com.amazonaws.bedrockdataautomation#ListDataAutomationProjects"
         },
         "read" : {
            "target" : "com.amazonaws.bedrockdataautomation#GetDataAutomationProject"
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.bedrockdataautomation#UpdateDataAutomationProject"
         }
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectStage" : {
         "members" : {
            "DEVELOPMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEVELOPMENT"
               }
            },
            "LIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LIVE"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Stage of the Project"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectStageFilter" : {
         "members" : {
            "ALL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ALL"
               }
            },
            "DEVELOPMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEVELOPMENT"
               }
            },
            "LIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LIVE"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Project Stage filter"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectStatus" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COMPLETED"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IN_PROGRESS"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Status of Data Automation Project"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectSummaries" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectSummary"
         },
         "traits" : {
            "smithy.api#documentation" : "List of DataAutomationProjectSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectSummary" : {
         "members" : {
            "creationTime" : {
               "target" : "com.amazonaws.bedrockdataautomation#DateTimestamp",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "projectArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectName"
            },
            "projectStage" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectStage"
            },
            "projectType" : {
               "target" : "com.amazonaws.bedrockdataautomation#DataAutomationProjectType"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Summary of a DataAutomationProject"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomation#DataAutomationProjectType" : {
         "members" : {
            "ASYNC" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ASYNC"
               }
            },
            "SYNC" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SYNC"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Type of the DataAutomationProject"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomation#DateTimestamp" : {
         "traits" : {
            "smithy.api#documentation" : "Time Stamp",
            "smithy.api#timestampFormat" : "date-time"
         },
         "type" : "timestamp"
      },
      "com.amazonaws.bedrockdataautomation#DeleteBlueprint" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomation#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomation#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomation#DeleteBlueprintRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomation#DeleteBlueprintResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Deletes an existing Amazon Bedrock Data Automation Blueprint",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/blueprints/{blueprintArn}/"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomation#DeleteBlueprintRequest" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomation#BlueprintArn",
               "traits" : {
[...]
