{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.lookoutequipment#AWSLookoutEquipmentFrontendService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.lookoutequipment#CreateDataset"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#CreateInferenceScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#CreateLabel"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#CreateLabelGroup"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#CreateModel"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#CreateRetrainingScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DeleteDataset"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DeleteInferenceScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DeleteLabel"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DeleteLabelGroup"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DeleteModel"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DeleteResourcePolicy"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DeleteRetrainingScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeDataIngestionJob"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeDataset"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeInferenceScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeLabel"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeLabelGroup"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeModel"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeModelVersion"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeResourcePolicy"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#DescribeRetrainingScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ImportDataset"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ImportModelVersion"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListDataIngestionJobs"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListDatasets"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListInferenceEvents"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListInferenceExecutions"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListInferenceSchedulers"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListLabelGroups"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListLabels"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListModels"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListModelVersions"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListRetrainingSchedulers"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListSensorStatistics"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#PutResourcePolicy"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#StartDataIngestionJob"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#StartInferenceScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#StartRetrainingScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#StopInferenceScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#StopRetrainingScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#TagResource"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#UntagResource"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#UpdateActiveModelVersion"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#UpdateInferenceScheduler"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#UpdateLabelGroup"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#UpdateModel"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#UpdateRetrainingScheduler"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "lookoutequipment",
               "cloudFormationName" : "LookoutEquipment",
               "cloudTrailEventSource" : "lookoutequipment.amazonaws.com",
               "endpointPrefix" : "lookoutequipment",
               "sdkId" : "LookoutEquipment"
            },
            "aws.auth#sigv4" : {
               "name" : "lookoutequipment"
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<p>Amazon Lookout for Equipment is a machine learning service that uses advanced analytics to identify\n         anomalies in machines from sensor data for use in predictive maintenance. </p>",
            "smithy.api#title" : "Amazon Lookout for Equipment",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://lookoutequipment-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://lookoutequipment-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://lookoutequipment.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://lookoutequipment.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lookoutequipment.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-12-15"
      },
      "com.amazonaws.lookoutequipment#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.lookoutequipment#BoundedLengthString",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request could not be completed because you do not have access to the resource.\n      </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#AmazonResourceArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1011,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#AutoPromotionResult" : {
         "members" : {
            "MODEL_NOT_PROMOTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MODEL_NOT_PROMOTED"
               }
            },
            "MODEL_PROMOTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MODEL_PROMOTED"
               }
            },
            "RETRAINING_CANCELLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RETRAINING_CANCELLED"
               }
            },
            "RETRAINING_CUSTOMER_ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RETRAINING_CUSTOMER_ERROR"
               }
            },
            "RETRAINING_INTERNAL_ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RETRAINING_INTERNAL_ERROR"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.lookoutequipment#AutoPromotionResultReason" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#Boolean" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.lookoutequipment#BoundedLengthString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 5000,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\P{M}\\p{M}]{1,5000}$"
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#CategoricalValues" : {
         "members" : {
            "NumberOfCategory" : {
               "target" : "com.amazonaws.lookoutequipment#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates the number of categories in the data. </p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.lookoutequipment#StatisticalIssueStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates whether there is a potential data issue related to categorical values.\n      </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Entity that comprises information on categorical values in data. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#Comments" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2560,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\P{M}\\p{M}]{1,2560}$"
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#ComponentName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 1
            },
            "smithy.api#pattern" : "^[0-9a-zA-Z._\\-]{1,200}$"
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#ComponentTimestampDelimiter" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 0
            },
            "smithy.api#pattern" : "^(\\-|\\_|\\s)?$"
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.lookoutequipment#BoundedLengthString",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The request could not be completed due to a conflict with the current state of the\n         target resource. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CountPercent" : {
         "members" : {
            "Count" : {
               "target" : "com.amazonaws.lookoutequipment#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates the count of occurences of the given statistic. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Percentage" : {
               "target" : "com.amazonaws.lookoutequipment#Float",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p> Indicates the percentage of occurances of the given statistic. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Entity that comprises information of count and percentage. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateDataset" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#CreateDatasetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.lookoutequipment#CreateDatasetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a container for a collection of data being ingested for analysis. The dataset\n         contains the metadata describing where the data is and what the data actually looks like.\n         For example, it contains the location of the data source, the data schema, and other\n         information. A dataset also contains any tags associated with the ingested data. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#CreateDatasetRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.lookoutequipment#IdempotenceToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier for the request. If you do not set the client request token, Amazon\n         Lookout for Equipment generates one. </p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "DatasetName" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset being created. </p>",
                  "smithy.api#required" : {}
               }
            },
            "DatasetSchema" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetSchema",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON description of the data that is in each time series dataset, including names,\n         column names, and data types. </p>"
               }
            },
            "ServerSideKmsKeyId" : {
               "target" : "com.amazonaws.lookoutequipment#NameOrArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides the identifier of the KMS key used to encrypt dataset data by Amazon Lookout\n         for Equipment. </p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.lookoutequipment#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Any tags associated with the ingested data described in the dataset. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateDatasetResponse" : {
         "members" : {
            "DatasetArn" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) of the dataset being created. </p>"
               }
            },
            "DatasetName" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset being created. </p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the status of the <code>CreateDataset</code> operation. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateInferenceScheduler" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#CreateInferenceSchedulerRequest"
         },
         "output" : {
            "target" : "com.amazonaws.lookoutequipment#CreateInferenceSchedulerResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Creates a scheduled inference. Scheduling an inference is setting up a continuous\n         real-time inference plan to analyze new measurement data. When setting up the schedule, you\n         provide an S3 bucket location for the input data, assign it a delimiter between separate\n         entries in the data, set an offset delay if desired, and set the frequency of inferencing.\n         You must also provide an S3 bucket location for the output data. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#CreateInferenceSchedulerRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.lookoutequipment#IdempotenceToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier for the request. If you do not set the client request token, Amazon\n         Lookout for Equipment generates one. </p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "DataDelayOffsetInMinutes" : {
               "target" : "com.amazonaws.lookoutequipment#DataDelayOffsetInMinutes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The interval (in minutes) of planned delay at the start of each inference segment. For\n         example, if inference is set to run every ten minutes, the delay is set to five minutes and\n         the time is 09:08. The inference scheduler will wake up at the configured interval (which,\n         without a delay configured, would be 09:10) plus the additional five minute delay time (so\n         09:15) to check your Amazon S3 bucket. The delay provides a buffer for you to upload data at the\n         same frequency, so that you don't have to stop and restart the scheduler when uploading new\n         data.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/understanding-inference-process.html\">Understanding\n            the inference process</a>.</p>"
               }
            },
            "DataInputConfiguration" : {
               "target" : "com.amazonaws.lookoutequipment#InferenceInputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies configuration information for the input data for the inference scheduler,\n         including delimiter, format, and dataset location. </p>",
                  "smithy.api#required" : {}
               }
            },
            "DataOutputConfiguration" : {
               "target" : "com.amazonaws.lookoutequipment#InferenceOutputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies configuration information for the output results for the inference scheduler,\n         including the S3 location for the output. </p>",
                  "smithy.api#required" : {}
               }
            },
            "DataUploadFrequency" : {
               "target" : "com.amazonaws.lookoutequipment#DataUploadFrequency",
               "traits" : {
                  "smithy.api#documentation" : "<p> How often data is uploaded to the source Amazon S3 bucket for the input data. The value\n         chosen is the length of time between data uploads. For instance, if you select 5 minutes,\n         Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5 minutes. This\n         frequency also determines how often Amazon Lookout for Equipment runs inference on your data.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/understanding-inference-process.html\">Understanding\n            the inference process</a>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "InferenceSchedulerName" : {
               "target" : "com.amazonaws.lookoutequipment#InferenceSchedulerName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the inference scheduler being created. </p>",
                  "smithy.api#required" : {}
               }
            },
            "ModelName" : {
               "target" : "com.amazonaws.lookoutequipment#ModelName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the previously trained machine learning model being used to create the\n         inference scheduler. </p>",
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.lookoutequipment#IamRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of a role with permission to access the data source being\n         used for the inference. </p>",
                  "smithy.api#required" : {}
               }
            },
            "ServerSideKmsKeyId" : {
               "target" : "com.amazonaws.lookoutequipment#NameOrArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides the identifier of the KMS key used to encrypt inference scheduler data by\n         Amazon Lookout for Equipment. </p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.lookoutequipment#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Any tags associated with the inference scheduler. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateInferenceSchedulerResponse" : {
         "members" : {
            "InferenceSchedulerArn" : {
               "target" : "com.amazonaws.lookoutequipment#InferenceSchedulerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the inference scheduler being created. </p>"
               }
            },
            "InferenceSchedulerName" : {
               "target" : "com.amazonaws.lookoutequipment#InferenceSchedulerName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of inference scheduler being created. </p>"
               }
            },
            "ModelQuality" : {
               "target" : "com.amazonaws.lookoutequipment#ModelQuality",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides a quality assessment for a model that uses labels. \n         If Lookout for Equipment determines that the\n         model quality is poor based on training metrics, the value is\n         <code>POOR_QUALITY_DETECTED</code>. Otherwise, the value is\n         <code>QUALITY_THRESHOLD_MET</code>. </p>\n         <p>If the model is unlabeled, the model quality can't\n         be assessed and the value of <code>ModelQuality</code> is\n         <code>CANNOT_DETERMINE_QUALITY</code>. In this situation, you can get a model quality\n         assessment by adding labels to the input dataset and retraining the model.</p>\n         <p>For information about using labels with your models, see <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/understanding-labeling.html\">Understanding labeling</a>.</p>\n         <p>For information about improving the quality of a model, see <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/best-practices.html\">Best practices with\n         Amazon Lookout for Equipment</a>.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.lookoutequipment#InferenceSchedulerStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the status of the <code>CreateInferenceScheduler</code> operation. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateLabel" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#CreateLabelRequest"
         },
         "output" : {
            "target" : "com.amazonaws.lookoutequipment#CreateLabelResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Creates a label for an event. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#CreateLabelGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#CreateLabelGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.lookoutequipment#CreateLabelGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Creates a group of labels. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#CreateLabelGroupRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.lookoutequipment#IdempotenceToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier for the request to create a label group. If you do not set the\n         client request token, Lookout for Equipment generates one. </p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "FaultCodes" : {
               "target" : "com.amazonaws.lookoutequipment#FaultCodes",
               "traits" : {
                  "smithy.api#documentation" : "<p> The acceptable fault codes (indicating the type of anomaly associated with the label)\n         that can be used with this label group.</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the\n         security of your data.</p>"
               }
            },
            "LabelGroupName" : {
               "target" : "com.amazonaws.lookoutequipment#LabelGroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p> Names a group of labels.</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the\n         security of your data. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.lookoutequipment#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p> Tags that provide metadata about the label group you are creating. </p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the\n         security of your data.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateLabelGroupResponse" : {
         "members" : {
            "LabelGroupArn" : {
               "target" : "com.amazonaws.lookoutequipment#LabelGroupArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) of the label group that you have created. </p>"
               }
            },
            "LabelGroupName" : {
               "target" : "com.amazonaws.lookoutequipment#LabelGroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name of the label group that you have created. Data in this field will be retained\n         for service usage. Follow best practices for the security of your data. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateLabelRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.lookoutequipment#IdempotenceToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> A unique identifier for the request to create a label. If you do not set the client\n         request token, Lookout for Equipment generates one. </p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "EndTime" : {
               "target" : "com.amazonaws.lookoutequipment#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The end time of the labeled event. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Equipment" : {
               "target" : "com.amazonaws.lookoutequipment#Equipment",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates that a label pertains to a particular piece of equipment. </p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the\n         security of your data.</p>"
               }
            },
            "FaultCode" : {
               "target" : "com.amazonaws.lookoutequipment#FaultCode",
               "traits" : {
                  "smithy.api#documentation" : "<p> Provides additional information about the label. The fault code must be defined in the\n         FaultCodes attribute of the label group.</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the\n         security of your data. </p>"
               }
            },
            "LabelGroupName" : {
               "target" : "com.amazonaws.lookoutequipment#LabelGroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name of a group of labels. </p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the\n         security of your data. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Notes" : {
               "target" : "com.amazonaws.lookoutequipment#Comments",
               "traits" : {
                  "smithy.api#documentation" : "<p> Metadata providing additional information about the label. </p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the\n         security of your data.</p>"
               }
            },
            "Rating" : {
               "target" : "com.amazonaws.lookoutequipment#LabelRating",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates whether a labeled event represents an anomaly. </p>",
                  "smithy.api#required" : {}
               }
            },
            "StartTime" : {
               "target" : "com.amazonaws.lookoutequipment#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The start time of the labeled event. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateLabelResponse" : {
         "members" : {
            "LabelId" : {
               "target" : "com.amazonaws.lookoutequipment#LabelId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the label that you have created. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateModel" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#CreateModelRequest"
         },
         "output" : {
            "target" : "com.amazonaws.lookoutequipment#CreateModelResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a machine learning model for data inference. </p>\n         <p>A machine-learning (ML) model is a mathematical model that finds patterns in your data.\n         In Amazon Lookout for Equipment, the model learns the patterns of normal behavior and detects abnormal\n         behavior that could be potential equipment failure (or maintenance events). The models are\n         made by analyzing normal data and abnormalities in machine behavior that have already\n         occurred.</p>\n         <p>Your model is trained using a portion of the data from your dataset and uses that data\n         to learn patterns of normal behavior and abnormal patterns that lead to equipment failure.\n         Another portion of the data is used to evaluate the model's accuracy. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#CreateModelRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.lookoutequipment#IdempotenceToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the request. If you do not set the client request token, Amazon\n         Lookout for Equipment generates one. </p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "DataPreProcessingConfiguration" : {
               "target" : "com.amazonaws.lookoutequipment#DataPreProcessingConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of\n         the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been\n         collected at a 1 second level and you want the system to resample the data at a 1 minute\n         rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p>\n         <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the\n         prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore\n            <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>,\n         and the value for a 1 hour rate is <i>PT1H</i>\n         </p>"
               }
            },
            "DatasetName" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetIdentifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset for the machine learning model being created. </p>",
                  "smithy.api#required" : {}
               }
            },
            "DatasetSchema" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetSchema",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data schema for the machine learning model being created. </p>"
               }
            },
            "EvaluationDataEndTime" : {
               "target" : "com.amazonaws.lookoutequipment#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> Indicates the time reference in the dataset that should be used to end the subset of\n         evaluation data for the machine learning model. </p>"
               }
            },
            "EvaluationDataStartTime" : {
               "target" : "com.amazonaws.lookoutequipment#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the time reference in the dataset that should be used to begin the subset of\n         evaluation data for the machine learning model. </p>"
               }
            },
            "LabelsInputConfiguration" : {
               "target" : "com.amazonaws.lookoutequipment#LabelsInputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The input configuration for the labels being used for the machine learning model that's\n         being created. </p>"
               }
            },
            "ModelDiagnosticsOutputConfiguration" : {
               "target" : "com.amazonaws.lookoutequipment#ModelDiagnosticsOutputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon S3 location where you want Amazon Lookout for Equipment to save the pointwise model diagnostics.\n        \n         \n      You must also specify the <code>RoleArn</code> request parameter.</p>"
               }
            },
            "ModelName" : {
               "target" : "com.amazonaws.lookoutequipment#ModelName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name for the machine learning model to be created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "OffCondition" : {
               "target" : "com.amazonaws.lookoutequipment#OffCondition",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates that the asset associated with this sensor has been shut off. As long as this\n         condition is met, Lookout for Equipment will not use data from this asset for training,\n         evaluation, or inference.</p>"
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.lookoutequipment#IamRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) of a role with permission to access the data source\n         being used to create the machine learning model. </p>"
               }
            },
            "ServerSideKmsKeyId" : {
               "target" : "com.amazonaws.lookoutequipment#NameOrArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides the identifier of the KMS key used to encrypt model data by Amazon Lookout\n         for Equipment. </p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.lookoutequipment#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p> Any tags associated with the machine learning model being created. </p>"
               }
            },
            "TrainingDataEndTime" : {
               "target" : "com.amazonaws.lookoutequipment#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the time reference in the dataset that should be used to end the subset of\n         training data for the machine learning model. </p>"
               }
            },
            "TrainingDataStartTime" : {
               "target" : "com.amazonaws.lookoutequipment#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the time reference in the dataset that should be used to begin the subset of\n         training data for the machine learning model. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateModelResponse" : {
         "members" : {
            "ModelArn" : {
               "target" : "com.amazonaws.lookoutequipment#ModelArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the model being created. </p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.lookoutequipment#ModelStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the status of the <code>CreateModel</code> operation. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateRetrainingScheduler" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#CreateRetrainingSchedulerRequest"
         },
         "output" : {
            "target" : "com.amazonaws.lookoutequipment#CreateRetrainingSchedulerResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a retraining scheduler on the specified model. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#CreateRetrainingSchedulerRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.lookoutequipment#IdempotenceToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the request. If you do not set the client request token, Amazon\n         Lookout for Equipment generates one. </p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "LookbackWindow" : {
               "target" : "com.amazonaws.lookoutequipment#LookbackWindow",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of past days of data that will be used for retraining.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ModelName" : {
               "target" : "com.amazonaws.lookoutequipment#ModelName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the model to add the retraining scheduler to. </p>",
                  "smithy.api#required" : {}
               }
            },
            "PromoteMode" : {
               "target" : "com.amazonaws.lookoutequipment#ModelPromoteMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates how the service will use new models. In <code>MANAGED</code> mode, new models\n         will automatically be used for inference if they have better performance than the current\n         model. In <code>MANUAL</code> mode, the new models will not be used <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/versioning-model.html#model-activation\">until they\n            are manually activated</a>.</p>"
               }
            },
            "RetrainingFrequency" : {
               "target" : "com.amazonaws.lookoutequipment#RetrainingFrequency",
               "traits" : {
                  "smithy.api#documentation" : "<p>This parameter uses the <a href=\"https://en.wikipedia.org/wiki/ISO_8601#Durations\">ISO 8601</a> standard to set the frequency at which you want retraining to occur in\n         terms of Years, Months, and/or Days (note: other parameters like Time are not currently\n         supported). The minimum value is 30 days (P30D) and the maximum value is 1 year (P1Y). For\n         example, the following values are valid:</p>\n         <ul>\n            <li>\n               <p>P3M15D – Every 3 months and 15 days</p>\n            </li>\n            <li>\n               <p>P2M – Every 2 months</p>\n            </li>\n            <li>\n               <p>P150D – Every 150 days</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "RetrainingStartDate" : {
               "target" : "com.amazonaws.lookoutequipment#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The start date for the retraining scheduler. Lookout for Equipment truncates the time you provide to the\n         nearest UTC day.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#CreateRetrainingSchedulerResponse" : {
         "members" : {
            "ModelArn" : {
               "target" : "com.amazonaws.lookoutequipment#ModelArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the model that you added the retraining scheduler to. </p>"
               }
            },
            "ModelName" : {
               "target" : "com.amazonaws.lookoutequipment#ModelName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the model that you added the retraining scheduler to. </p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.lookoutequipment#RetrainingSchedulerStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the retraining scheduler. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DataDelayOffsetInMinutes" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 60,
               "min" : 0
            }
         },
         "type" : "long"
      },
      "com.amazonaws.lookoutequipment#DataIngestionJobSummaries" : {
         "member" : {
            "target" : "com.amazonaws.lookoutequipment#DataIngestionJobSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.lookoutequipment#DataIngestionJobSummary" : {
         "members" : {
            "DatasetArn" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the dataset used in the data ingestion job. </p>"
               }
            },
            "DatasetName" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset used for the data ingestion job. </p>"
               }
            },
            "IngestionInputConfiguration" : {
               "target" : "com.amazonaws.lookoutequipment#IngestionInputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p> Specifies information for the input data for the data inference job, including data\n            Amazon S3 location parameters. </p>"
               }
            },
            "JobId" : {
               "target" : "com.amazonaws.lookoutequipment#IngestionJobId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the job ID of the data ingestion job. </p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.lookoutequipment#IngestionJobStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the status of the data ingestion job. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides information about a specified data ingestion job, including dataset\n         information, data ingestion configuration, and status. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DataPreProcessingConfiguration" : {
         "members" : {
            "TargetSamplingRate" : {
               "target" : "com.amazonaws.lookoutequipment#TargetSamplingRate",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you\n         provide data that has been collected at a 1 second level and you want the system to\n         resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code>\n         is 1 minute.</p>\n         <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the\n         prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore\n            <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>,\n         and the value for a 1 hour rate is <i>PT1H</i>\n         </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of\n         the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been\n         collected at a 1 second level and you want the system to resample the data at a 1 minute\n         rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p>\n         <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the\n         prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore\n            <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>,\n         and the value for a 1 hour rate is <i>PT1H</i>\n         </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DataQualitySummary" : {
         "members" : {
            "DuplicateTimestamps" : {
               "target" : "com.amazonaws.lookoutequipment#DuplicateTimestamps",
               "traits" : {
                  "smithy.api#documentation" : "<p> Parameter that gives information about duplicate timestamps in the input data. </p>",
                  "smithy.api#required" : {}
               }
            },
            "InsufficientSensorData" : {
               "target" : "com.amazonaws.lookoutequipment#InsufficientSensorData",
               "traits" : {
                  "smithy.api#documentation" : "<p> Parameter that gives information about insufficient data for sensors in the dataset.\n         This includes information about those sensors that have complete data missing and those\n         with a short date range. </p>",
                  "smithy.api#required" : {}
               }
            },
            "InvalidSensorData" : {
               "target" : "com.amazonaws.lookoutequipment#InvalidSensorData",
               "traits" : {
                  "smithy.api#documentation" : "<p> Parameter that gives information about data that is invalid over all the sensors in the\n         input data. </p>",
                  "smithy.api#required" : {}
               }
            },
            "MissingSensorData" : {
               "target" : "com.amazonaws.lookoutequipment#MissingSensorData",
               "traits" : {
                  "smithy.api#documentation" : "<p> Parameter that gives information about data that is missing over all the sensors in the\n         input data. </p>",
                  "smithy.api#required" : {}
               }
            },
            "UnsupportedTimestamps" : {
               "target" : "com.amazonaws.lookoutequipment#UnsupportedTimestamps",
               "traits" : {
                  "smithy.api#documentation" : "<p> Parameter that gives information about unsupported timestamps in the input data.\n      </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> DataQualitySummary gives aggregated statistics over all the sensors about a completed\n         ingestion job. It primarily gives more information about statistics over different\n         incorrect data like MissingCompleteSensorData, MissingSensorData, UnsupportedDateFormats,\n         InsufficientSensorData, DuplicateTimeStamps. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DataSizeInBytes" : {
         "traits" : {
            "smithy.api#range" : {
               "min" : 0
            }
         },
         "type" : "long"
      },
      "com.amazonaws.lookoutequipment#DataUploadFrequency" : {
         "members" : {
            "PT10M" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PT10M"
               }
            },
            "PT15M" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PT15M"
               }
            },
            "PT1H" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PT1H"
               }
            },
            "PT30M" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PT30M"
               }
            },
            "PT5M" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PT5M"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.lookoutequipment#DatasetArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 20
            },
            "smithy.api#pattern" : "^arn:aws(-[^:]+)?:lookoutequipment:[a-zA-Z0-9\\-]*:[0-9]{12}:dataset\\/[0-9a-zA-Z_-]{1,200}\\/.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#DatasetIdentifier" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 1
            },
            "smithy.api#pattern" : "^[0-9a-zA-Z_-]{1,200}$"
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#DatasetName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 1
            },
            "smithy.api#pattern" : "^[0-9a-zA-Z_-]{1,200}$"
         },
         "type" : "string"
      },
      "com.amazonaws.lookoutequipment#DatasetSchema" : {
         "members" : {
            "InlineDataSchema" : {
               "target" : "com.amazonaws.lookoutequipment#SynthesizedJsonInlineDataSchema",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data schema used within the given dataset.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides information about the data schema used with the given dataset. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DatasetStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "CREATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATED"
               }
            },
            "IMPORT_IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IMPORT_IN_PROGRESS"
               }
            },
            "INGESTION_IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INGESTION_IN_PROGRESS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.lookoutequipment#DatasetSummaries" : {
         "member" : {
            "target" : "com.amazonaws.lookoutequipment#DatasetSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.lookoutequipment#DatasetSummary" : {
         "members" : {
            "CreatedAt" : {
               "target" : "com.amazonaws.lookoutequipment#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time at which the dataset was created in Amazon Lookout for Equipment. </p>"
               }
            },
            "DatasetArn" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the specified dataset. </p>"
               }
            },
            "DatasetName" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset. </p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates the status of the dataset. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains information about the specific data set, including name, ARN, and status.\n      </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DeleteDataset" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#DeleteDatasetRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Deletes a dataset and associated artifacts. The operation will check to see if any\n         inference scheduler or data ingestion job is currently using the dataset, and if there\n         isn't, the dataset, its metadata, and any associated data stored in S3 will be deleted.\n         This does not affect any models that used this dataset for training and evaluation, but\n         does prevent it from being used in the future. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#DeleteDatasetRequest" : {
         "members" : {
            "DatasetName" : {
               "target" : "com.amazonaws.lookoutequipment#DatasetIdentifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset to be deleted. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DeleteInferenceScheduler" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#DeleteInferenceSchedulerRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes an inference scheduler that has been set up. Prior inference results will not be\n         deleted.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#DeleteInferenceSchedulerRequest" : {
         "members" : {
            "InferenceSchedulerName" : {
               "target" : "com.amazonaws.lookoutequipment#InferenceSchedulerIdentifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the inference scheduler to be deleted. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DeleteLabel" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#DeleteLabelRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Deletes a label. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#DeleteLabelGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#DeleteLabelGroupRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Deletes a group of labels. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#DeleteLabelGroupRequest" : {
         "members" : {
            "LabelGroupName" : {
               "target" : "com.amazonaws.lookoutequipment#LabelGroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name of the label group that you want to delete. Data in this field will be\n         retained for service usage. Follow best practices for the security of your data. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DeleteLabelRequest" : {
         "members" : {
            "LabelGroupName" : {
               "target" : "com.amazonaws.lookoutequipment#LabelGroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name of the label group that contains the label that you want to delete. Data in\n         this field will be retained for service usage. Follow best practices for the security of\n         your data. </p>",
                  "smithy.api#required" : {}
               }
            },
            "LabelId" : {
               "target" : "com.amazonaws.lookoutequipment#LabelId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ID of the label that you want to delete. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DeleteModel" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#InternalServerException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lookoutequipment#DeleteModelRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a machine learning model currently available for Amazon Lookout for Equipment. This will prevent it\n         from being used with an inference scheduler, even one that is already set up. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.lookoutequipment#DeleteModelRequest" : {
         "members" : {
            "ModelName" : {
               "target" : "com.amazonaws.lookoutequipment#ModelName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the machine learning model to be deleted. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lookoutequipment#DeleteResourcePolicy" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lookoutequipment#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.lookoutequipment#ConflictException"
            },
            {
[...]
