{
   "shapes" : {
      "com.amazonaws.backupsearch#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>User does not have sufficient access to perform this action.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#BackupCreationTimeFilter" : {
         "members" : {
            "CreatedAfter" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>This timestamp includes recovery points only created after the specified time.</p>"
               }
            },
            "CreatedBefore" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>This timestamp includes recovery points only created before the specified time.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This filters by recovery points within the CreatedAfter and CreatedBefore timestamps.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Identifier of the resource affected.</p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of the resource affected.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This exception occurs when a conflict with a previous successful operation is detected. This generally occurs when the previous operation did not have time to propagate to the host serving the current request.</p> <p>A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#CryoBackupSearchService" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.backupsearch#InternalServerException"
            },
            {
               "target" : "com.amazonaws.backupsearch#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.backupsearch#ValidationException"
            }
         ],
         "operations" : [
            {
               "target" : "com.amazonaws.backupsearch#ListSearchJobBackups"
            },
            {
               "target" : "com.amazonaws.backupsearch#ListSearchJobResults"
            },
            {
               "target" : "com.amazonaws.backupsearch#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.backupsearch#TagResource"
            },
            {
               "target" : "com.amazonaws.backupsearch#UntagResource"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.backupsearch#SearchJob"
            },
            {
               "target" : "com.amazonaws.backupsearch#SearchResultExportJob"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "backup-search",
               "cloudTrailEventSource" : "backup.amazonaws.com",
               "endpointPrefix" : "backup-search",
               "sdkId" : "BackupSearch"
            },
            "aws.auth#sigv4" : {
               "name" : "backup-search"
            },
            "aws.endpoints#dualStackOnlyEndpoints" : {},
            "aws.endpoints#standardRegionalEndpoints" : {},
            "aws.protocols#restJson1" : {},
            "smithy.api#cors" : {
               "additionalAllowedHeaders" : [
                  "*",
                  "Authorization",
                  "Date",
                  "X-Amz-Date",
                  "X-Amz-Security-Token",
                  "X-Amz-Target",
                  "content-type",
                  "x-amz-content-sha256",
                  "x-amz-user-agent",
                  "x-amzn-platform-id",
                  "x-amzn-trace-id"
               ],
               "additionalExposedHeaders" : [
                  "x-amzn-errortype",
                  "x-amzn-requestid",
                  "x-amzn-errormessage",
                  "x-amzn-trace-id",
                  "x-amzn-requestid",
                  "x-amz-apigw-id",
                  "date"
               ]
            },
            "smithy.api#documentation" : "<fullname>Backup Search</fullname> <p>Backup Search is the recovery point and item level search for Backup.</p> <p>For additional information, see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/api-reference.html\">Backup API Reference</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html\">Backup Developer Guide</a> </p> </li> </ul>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            },
            "smithy.api#title" : "AWS Backup Search",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://backup-search-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://backup-search.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-search-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-search.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-search-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-search.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-search-fips.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-search.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2018-05-10"
      },
      "com.amazonaws.backupsearch#CurrentSearchProgress" : {
         "members" : {
            "ItemsMatchedCount" : {
               "target" : "smithy.api#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>This number is the sum of all items that match the item filters in a search job in progress.</p>"
               }
            },
            "ItemsScannedCount" : {
               "target" : "smithy.api#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>This number is the sum of all items that have been scanned so far during a search job.</p>"
               }
            },
            "RecoveryPointsScannedCount" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>This number is the sum of all backups that have been scanned so far during a search job.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This contains information results retrieved from a search job that may not have completed.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#EBSItemFilter" : {
         "members" : {
            "CreationTimes" : {
               "target" : "com.amazonaws.backupsearch#TimeConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one is included, the results will return only items that match.</p> <p>If more than one is included, the results will return all items that match any of the included values.</p>"
               }
            },
            "FilePaths" : {
               "target" : "com.amazonaws.backupsearch#StringConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one file path is included, the results will return only items that match the file path.</p> <p>If more than one file path is included, the results will return all items that match any of the file paths.</p>"
               }
            },
            "LastModificationTimes" : {
               "target" : "com.amazonaws.backupsearch#TimeConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one is included, the results will return only items that match.</p> <p>If more than one is included, the results will return all items that match any of the included values.</p>"
               }
            },
            "Sizes" : {
               "target" : "com.amazonaws.backupsearch#LongConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one is included, the results will return only items that match.</p> <p>If more than one is included, the results will return all items that match any of the included values.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This contains arrays of objects, which may include CreationTimes time condition objects, FilePaths string objects, LastModificationTimes time condition objects, </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#EBSItemFilters" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#EBSItemFilter"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#EBSResultItem" : {
         "members" : {
            "BackupResourceArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the results that match values for the Amazon Resource Name (ARN) of recovery points returned in a search of Amazon EBS backup metadata.</p>"
               }
            },
            "BackupVaultName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the backup vault.</p>"
               }
            },
            "CreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the results that match values for creation times returned in a search of Amazon EBS backup metadata.</p>"
               }
            },
            "FilePath" : {
               "target" : "com.amazonaws.backupsearch#FilePath",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the results that match values for file paths returned in a search of Amazon EBS backup metadata.</p>"
               }
            },
            "FileSize" : {
               "target" : "smithy.api#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the results that match values for file sizes returned in a search of Amazon EBS backup metadata.</p>"
               }
            },
            "FileSystemIdentifier" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the results that match values for file systems returned in a search of Amazon EBS backup metadata.</p>"
               }
            },
            "LastModifiedTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the results that match values for Last Modified Time returned in a search of Amazon EBS backup metadata.</p>"
               }
            },
            "SourceResourceArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the results that match values for the Amazon Resource Name (ARN) of source resources returned in a search of Amazon EBS backup metadata.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>These are the items returned in the results of a search of Amazon EBS backup metadata.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#EncryptionKeyArn" : {
         "traits" : {
            "aws.api#arnReference" : {
               "type" : "AWS::KMS::Key"
            }
         },
         "type" : "string"
      },
      "com.amazonaws.backupsearch#ExportJobArn" : {
         "traits" : {
            "aws.api#arnReference" : {
               "service" : "com.amazonaws.backupsearch#CryoBackupSearchService"
            }
         },
         "type" : "string"
      },
      "com.amazonaws.backupsearch#ExportJobStatus" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COMPLETED"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "RUNNING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RUNNING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.backupsearch#ExportJobSummaries" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#ExportJobSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#ExportJobSummary" : {
         "members" : {
            "CompletionTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is a timestamp of the time the export job compeleted.</p>"
               }
            },
            "CreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is a timestamp of the time the export job was created.</p>"
               }
            },
            "ExportJobArn" : {
               "target" : "com.amazonaws.backupsearch#ExportJobArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the unique ARN (Amazon Resource Name) that belongs to the new export job.</p>"
               }
            },
            "ExportJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the unique string that identifies a specific export job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SearchJobArn" : {
               "target" : "com.amazonaws.backupsearch#SearchJobArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that identifies the Amazon Resource Name (ARN) of the specified search job.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.backupsearch#ExportJobStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the export job is one of the following:</p> <p> <code>CREATED</code>; <code>RUNNING</code>; <code>FAILED</code>; or <code>COMPLETED</code>.</p>"
               }
            },
            "StatusMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A status message is a string that is returned for an export job.</p> <p>A status message is included for any status other than <code>COMPLETED</code> without issues.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This is the summary of an export job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ExportSpecification" : {
         "members" : {
            "s3ExportSpecification" : {
               "target" : "com.amazonaws.backupsearch#S3ExportSpecification",
               "traits" : {
                  "smithy.api#documentation" : "<p>This specifies the destination Amazon S3 bucket for the export job. And, if included, it also specifies the destination prefix.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This contains the export specification object.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.backupsearch#FilePath" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.backupsearch#GenericId" : {
         "type" : "string"
      },
      "com.amazonaws.backupsearch#GetSearchJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#GetSearchJobInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#GetSearchJobOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation retrieves metadata of a search job, including its progress.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/search-jobs/{SearchJobIdentifier}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#GetSearchJobInput" : {
         "members" : {
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Required unique string that specifies the search job.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#GetSearchJobOutput" : {
         "members" : {
            "CompletionTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time that a search job completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
               }
            },
            "CreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time that a search job was created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
                  "smithy.api#required" : {}
               }
            },
            "CurrentSearchProgress" : {
               "target" : "com.amazonaws.backupsearch#CurrentSearchProgress",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returns numbers representing BackupsScannedCount, ItemsScanned, and ItemsMatched.</p>"
               }
            },
            "EncryptionKeyArn" : {
               "target" : "com.amazonaws.backupsearch#EncryptionKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The encryption key for the specified search job.</p> <p>Example: <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
               }
            },
            "ItemFilters" : {
               "target" : "com.amazonaws.backupsearch#ItemFilters",
               "traits" : {
                  "smithy.api#documentation" : "<p>Item Filters represent all input item properties specified when the search was created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returned name of the specified search job.</p>"
               }
            },
            "SearchJobArn" : {
               "target" : "com.amazonaws.backupsearch#SearchJobArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that identifies the Amazon Resource Name (ARN) of the specified search job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that identifies the specified search job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SearchScope" : {
               "target" : "com.amazonaws.backupsearch#SearchScope",
               "traits" : {
                  "smithy.api#documentation" : "<p>The search scope is all backup properties input into a search.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SearchScopeSummary" : {
               "target" : "com.amazonaws.backupsearch#SearchScopeSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returned summary of the specified search job scope, including: </p> <ul> <li> <p>TotalBackupsToScanCount, the number of recovery points returned by the search.</p> </li> <li> <p>TotalItemsToScanCount, the number of items returned by the search.</p> </li> </ul>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.backupsearch#SearchJobState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the specified search job.</p> <p>A search job may have one of the following statuses: <code>RUNNING</code>; <code>COMPLETED</code>; <code>STOPPED</code>; <code>FAILED</code>; <code>TIMED_OUT</code>; or <code>EXPIRED</code> .</p>",
                  "smithy.api#required" : {}
               }
            },
            "StatusMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A status message will be returned for either a earch job with a status of <code>ERRORED</code> or a status of <code>COMPLETED</code> jobs with issues.</p> <p>For example, a message may say that a search contained recovery points unable to be scanned because of a permissions issue.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#GetSearchResultExportJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#GetSearchResultExportJobInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#GetSearchResultExportJobOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation retrieves the metadata of an export job.</p> <p>An export job is an operation that transmits the results of a search job to a specified S3 bucket in a .csv file.</p> <p>An export job allows you to retain results of a search beyond the search job's scheduled retention of 7 days.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/export-search-jobs/{ExportJobIdentifier}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#GetSearchResultExportJobInput" : {
         "members" : {
            "ExportJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the unique string that identifies a specific export job.</p> <p>Required for this operation.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#GetSearchResultExportJobOutput" : {
         "members" : {
            "CompletionTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time that an export job completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
               }
            },
            "CreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time that an export job was created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
               }
            },
            "ExportJobArn" : {
               "target" : "com.amazonaws.backupsearch#ExportJobArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique Amazon Resource Name (ARN) that uniquely identifies the export job.</p>"
               }
            },
            "ExportJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the unique string that identifies the specified export job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ExportSpecification" : {
               "target" : "com.amazonaws.backupsearch#ExportSpecification",
               "traits" : {
                  "smithy.api#documentation" : "<p>The export specification consists of the destination S3 bucket to which the search results were exported, along with the destination prefix.</p>"
               }
            },
            "SearchJobArn" : {
               "target" : "com.amazonaws.backupsearch#SearchJobArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that identifies the Amazon Resource Name (ARN) of the specified search job.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.backupsearch#ExportJobStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the current status of the export job.</p>"
               }
            },
            "StatusMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A status message is a string that is returned for search job with a status of <code>FAILED</code>, along with steps to remedy and retry the operation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#IamRoleArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 20
            },
            "smithy.api#pattern" : "^arn:(?:aws|aws-cn|aws-us-gov):iam::[a-z0-9-]+:role/(.+)$"
         },
         "type" : "string"
      },
      "com.amazonaws.backupsearch#InternalServerException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unexpected error during processing of request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "retryAfterSeconds" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>Retry the call after number of seconds.</p>",
                  "smithy.api#httpHeader" : "Retry-After"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An internal server error occurred. Retry your request.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500,
            "smithy.api#retryable" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ItemFilters" : {
         "members" : {
            "EBSItemFilters" : {
               "target" : "com.amazonaws.backupsearch#EBSItemFilters",
               "traits" : {
                  "smithy.api#documentation" : "<p>This array can contain CreationTimes, FilePaths, LastModificationTimes, or Sizes objects.</p>"
               }
            },
            "S3ItemFilters" : {
               "target" : "com.amazonaws.backupsearch#S3ItemFilters",
               "traits" : {
                  "smithy.api#documentation" : "<p>This array can contain CreationTimes, ETags, ObjectKeys, Sizes, or VersionIds objects.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Item Filters represent all input item properties specified when the search was created.</p> <p>Contains either EBSItemFilters or S3ItemFilters</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListSearchJobBackups" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#ListSearchJobBackupsInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#ListSearchJobBackupsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation returns a list of all backups (recovery points) in a paginated format that were included in the search job.</p> <p>If a search does not display an expected backup in the results, you can call this operation to display each backup included in the search. Any backups that were not included because they have a <code>FAILED</code> status from a permissions issue will be displayed, along with a status message.</p> <p>Only recovery points with a backup index that has a status of <code>ACTIVE</code> will be included in search results. If the index has any other status, its status will be displayed along with a status message.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/search-jobs/{SearchJobIdentifier}/backups"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "Results",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#ListSearchJobBackupsInput" : {
         "members" : {
            "MaxResults" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#default" : 1000,
                  "smithy.api#documentation" : "<p>The maximum number of resource list items to be returned.</p>",
                  "smithy.api#httpQuery" : "maxResults",
                  "smithy.api#range" : {
                     "max" : 1000,
                     "min" : 1
                  }
               }
            },
            "NextToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned backups included in a search job.</p> <p>For example, if a request is made to return <code>MaxResults</code> number of backups, <code>NextToken</code> allows you to return more items in your list starting at the location pointed to by the next token.</p>",
                  "smithy.api#httpQuery" : "nextToken"
               }
            },
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that specifies the search job.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListSearchJobBackupsOutput" : {
         "members" : {
            "NextToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned backups included in a search job.</p> <p>For example, if a request is made to return <code>MaxResults</code> number of backups, <code>NextToken</code> allows you to return more items in your list starting at the location pointed to by the next token.</p>"
               }
            },
            "Results" : {
               "target" : "com.amazonaws.backupsearch#SearchJobBackupsResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The recovery points returned the results of a search job</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListSearchJobResults" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#ListSearchJobResultsInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#ListSearchJobResultsOutput"
         },
         "traits" : {
            "aws.api#dataPlane" : {},
            "smithy.api#documentation" : "<p>This operation returns a list of a specified search job.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/search-jobs/{SearchJobIdentifier}/search-results"
            },
            "smithy.api#paginated" : {
               "items" : "Results"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#ListSearchJobResultsInput" : {
         "members" : {
            "MaxResults" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#default" : 1000,
                  "smithy.api#documentation" : "<p>The maximum number of resource list items to be returned.</p>",
                  "smithy.api#httpQuery" : "maxResults",
                  "smithy.api#range" : {
                     "max" : 1000,
                     "min" : 1
                  }
               }
            },
            "NextToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned search job results.</p> <p>For example, if a request is made to return <code>MaxResults</code> number of search job results, <code>NextToken</code> allows you to return more items in your list starting at the location pointed to by the next token.</p>",
                  "smithy.api#httpQuery" : "nextToken"
               }
            },
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that specifies the search job.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListSearchJobResultsOutput" : {
         "members" : {
            "NextToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of search job results.</p> <p>For example, if a request is made to return <code>MaxResults</code> number of backups, <code>NextToken</code> allows you to return more items in your list starting at the location pointed to by the next token.</p>"
               }
            },
            "Results" : {
               "target" : "com.amazonaws.backupsearch#Results",
               "traits" : {
                  "smithy.api#documentation" : "<p>The results consist of either EBSResultItem or S3ResultItem.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListSearchJobs" : {
         "input" : {
            "target" : "com.amazonaws.backupsearch#ListSearchJobsInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#ListSearchJobsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation returns a list of search jobs belonging to an account.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/search-jobs"
            },
            "smithy.api#paginated" : {
               "items" : "SearchJobs"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "success" : {}
                  },
                  "id" : "ListSearchJobsSuccess",
                  "params" : {},
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#ListSearchJobsInput" : {
         "members" : {
            "ByStatus" : {
               "target" : "com.amazonaws.backupsearch#SearchJobState",
               "traits" : {
                  "smithy.api#documentation" : "<p>Include this parameter to filter list by search job status.</p>",
                  "smithy.api#httpQuery" : "Status",
                  "smithy.api#notProperty" : {}
               }
            },
            "MaxResults" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#default" : 1000,
                  "smithy.api#documentation" : "<p>The maximum number of resource list items to be returned.</p>",
                  "smithy.api#httpQuery" : "MaxResults",
                  "smithy.api#notProperty" : {},
                  "smithy.api#range" : {
                     "max" : 1000,
                     "min" : 1
                  }
               }
            },
            "NextToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned search jobs.</p> <p>For example, if a request is made to return <code>MaxResults</code> number of backups, <code>NextToken</code> allows you to return more items in your list starting at the location pointed to by the next token.</p>",
                  "smithy.api#httpQuery" : "NextToken",
                  "smithy.api#notProperty" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListSearchJobsOutput" : {
         "members" : {
            "NextToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned backups included in a search job.</p> <p>For example, if a request is made to return <code>MaxResults</code> number of backups, <code>NextToken</code> allows you to return more items in your list starting at the location pointed to by the next token.</p>",
                  "smithy.api#notProperty" : {}
               }
            },
            "SearchJobs" : {
               "target" : "com.amazonaws.backupsearch#SearchJobs",
               "traits" : {
                  "smithy.api#documentation" : "<p>The search jobs among the list, with details of the returned search jobs.</p>",
                  "smithy.api#notProperty" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListSearchResultExportJobs" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.backupsearch#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#ListSearchResultExportJobsInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#ListSearchResultExportJobsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation exports search results of a search job to a specified destination S3 bucket.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/export-search-jobs"
            },
            "smithy.api#paginated" : {
               "items" : "ExportJobs"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#ListSearchResultExportJobsInput" : {
         "members" : {
            "MaxResults" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#default" : 1000,
                  "smithy.api#documentation" : "<p>The maximum number of resource list items to be returned.</p>",
                  "smithy.api#httpQuery" : "MaxResults",
                  "smithy.api#notProperty" : {},
                  "smithy.api#range" : {
                     "max" : 1000,
                     "min" : 1
                  }
               }
            },
            "NextToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned backups included in a search job.</p> <p>For example, if a request is made to return <code>MaxResults</code> number of backups, <code>NextToken</code> allows you to return more items in your list starting at the location pointed to by the next token.</p>",
                  "smithy.api#httpQuery" : "NextToken",
                  "smithy.api#notProperty" : {}
               }
            },
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that specifies the search job.</p>",
                  "smithy.api#httpQuery" : "SearchJobIdentifier",
                  "smithy.api#notProperty" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.backupsearch#ExportJobStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The search jobs to be included in the export job can be filtered by including this parameter.</p>",
                  "smithy.api#httpQuery" : "Status",
                  "smithy.api#notProperty" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListSearchResultExportJobsOutput" : {
         "members" : {
            "ExportJobs" : {
               "target" : "com.amazonaws.backupsearch#ExportJobSummaries",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operation returns the included export jobs.</p>",
                  "smithy.api#notProperty" : {},
                  "smithy.api#required" : {}
               }
            },
            "NextToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned backups included in a search job.</p> <p>For example, if a request is made to return <code>MaxResults</code> number of backups, <code>NextToken</code> allows you to return more items in your list starting at the location pointed to by the next token.</p>",
                  "smithy.api#notProperty" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#ListTagsForResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#ListTagsForResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation returns the tags for a resource type.</p>",
            "smithy.api#http" : {
               "method" : "GET",
               "uri" : "/tags/{ResourceArn}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#ListTagsForResourceRequest" : {
         "members" : {
            "ResourceArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies the resource.&gt;</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ListTagsForResourceResponse" : {
         "members" : {
            "Tags" : {
               "target" : "com.amazonaws.backupsearch#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of tags returned by the operation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#LongCondition" : {
         "members" : {
            "Operator" : {
               "target" : "com.amazonaws.backupsearch#LongConditionOperator",
               "traits" : {
                  "smithy.api#default" : "EQUALS_TO",
                  "smithy.api#documentation" : "<p>A string that defines what values will be returned.</p> <p>If this is included, avoid combinations of operators that will return all possible values. For example, including both <code>EQUALS_TO</code> and <code>NOT_EQUALS_TO</code> with a value of <code>4</code> will return all values.</p>"
               }
            },
            "Value" : {
               "target" : "smithy.api#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value of an item included in one of the search item filters.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The long condition contains a <code>Value</code> and can optionally contain an <code>Operator</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#LongConditionList" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#LongCondition"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#LongConditionOperator" : {
         "members" : {
            "EQUALS_TO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EQUALS_TO"
               }
            },
            "GREATER_THAN_EQUAL_TO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "GREATER_THAN_EQUAL_TO"
               }
            },
            "LESS_THAN_EQUAL_TO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LESS_THAN_EQUAL_TO"
               }
            },
            "NOT_EQUALS_TO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NOT_EQUALS_TO"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.backupsearch#ObjectKey" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.backupsearch#RecoveryPoint" : {
         "traits" : {
            "aws.api#arnReference" : {
               "type" : "AWS::Backup::RecoveryPoint"
            }
         },
         "type" : "string"
      },
      "com.amazonaws.backupsearch#RecoveryPointArnList" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#RecoveryPoint"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#ResourceArnList" : {
         "member" : {
            "target" : "smithy.api#String"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#ResourceNotFoundException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Request references a resource which does not exist.</p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Hypothetical identifier of the resource affected.</p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Hypothetical type of the resource affected.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The resource was not found for this request.</p> <p>Confirm the resource information, such as the ARN or type is correct and exists, then retry the request.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ResourceType" : {
         "members" : {
            "EBS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EBS"
               }
            },
            "S3" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "S3"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.backupsearch#ResourceTypeList" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#ResourceType"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#ResultItem" : {
         "members" : {
            "EBSResultItem" : {
               "target" : "com.amazonaws.backupsearch#EBSResultItem",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are items returned in the search results of an Amazon EBS search.</p>"
               }
            },
            "S3ResultItem" : {
               "target" : "com.amazonaws.backupsearch#S3ResultItem",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are items returned in the search results of an Amazon S3 search.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This is an object representing the item returned in the results of a search for a specific resource type.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.backupsearch#Results" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#ResultItem"
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#S3ExportSpecification" : {
         "members" : {
            "DestinationBucket" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>This specifies the destination Amazon S3 bucket for the export job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DestinationPrefix" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>This specifies the prefix for the destination Amazon S3 bucket for the export job.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This specification contains a required string of the destination bucket; optionally, you can include the destination prefix.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#S3ItemFilter" : {
         "members" : {
            "CreationTimes" : {
               "target" : "com.amazonaws.backupsearch#TimeConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one value is included, the results will return only items that match the value.</p> <p>If more than one value is included, the results will return all items that match any of the values.</p>"
               }
            },
            "ETags" : {
               "target" : "com.amazonaws.backupsearch#StringConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one value is included, the results will return only items that match the value.</p> <p>If more than one value is included, the results will return all items that match any of the values.</p>"
               }
            },
            "ObjectKeys" : {
               "target" : "com.amazonaws.backupsearch#StringConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one value is included, the results will return only items that match the value.</p> <p>If more than one value is included, the results will return all items that match any of the values.</p>"
               }
            },
            "Sizes" : {
               "target" : "com.amazonaws.backupsearch#LongConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one value is included, the results will return only items that match the value.</p> <p>If more than one value is included, the results will return all items that match any of the values.</p>"
               }
            },
            "VersionIds" : {
               "target" : "com.amazonaws.backupsearch#StringConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can include 1 to 10 values.</p> <p>If one value is included, the results will return only items that match the value.</p> <p>If more than one value is included, the results will return all items that match any of the values.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This contains arrays of objects, which may include ObjectKeys, Sizes, CreationTimes, VersionIds, and/or Etags.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#S3ItemFilters" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#S3ItemFilter"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#S3ResultItem" : {
         "members" : {
            "BackupResourceArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are items in the returned results that match recovery point Amazon Resource Names (ARN) input during a search of Amazon S3 backup metadata.</p>"
               }
            },
            "BackupVaultName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the backup vault.</p>"
               }
            },
            "CreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the returned results that match values for item creation time input during a search of Amazon S3 backup metadata.</p>"
               }
            },
            "ETag" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the returned results that match values for ETags input during a search of Amazon S3 backup metadata.</p>"
               }
            },
            "ObjectKey" : {
               "target" : "com.amazonaws.backupsearch#ObjectKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is one or more items returned in the results of a search of Amazon S3 backup metadata that match the values input for object key.</p>"
               }
            },
            "ObjectSize" : {
               "target" : "smithy.api#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are items in the returned results that match values for object size(s) input during a search of Amazon S3 backup metadata.</p>"
               }
            },
            "SourceResourceArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are items in the returned results that match source Amazon Resource Names (ARN) input during a search of Amazon S3 backup metadata.</p>"
               }
            },
            "VersionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more items in the returned results that match values for version IDs input during a search of Amazon S3 backup metadata.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>These are the items returned in the results of a search of Amazon S3 backup metadata.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#SearchJob" : {
         "create" : {
            "target" : "com.amazonaws.backupsearch#StartSearchJob"
         },
         "identifiers" : {
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId"
            }
         },
         "list" : {
            "target" : "com.amazonaws.backupsearch#ListSearchJobs"
         },
         "properties" : {
            "ClientToken" : {
               "target" : "smithy.api#String"
            },
            "CompletionTime" : {
               "target" : "smithy.api#Timestamp"
            },
            "CreationTime" : {
               "target" : "smithy.api#Timestamp"
            },
            "CurrentSearchProgress" : {
               "target" : "com.amazonaws.backupsearch#CurrentSearchProgress"
            },
            "EncryptionKeyArn" : {
               "target" : "com.amazonaws.backupsearch#EncryptionKeyArn"
            },
            "ItemFilters" : {
               "target" : "com.amazonaws.backupsearch#ItemFilters"
            },
            "Name" : {
               "target" : "smithy.api#String"
            },
            "SearchJobArn" : {
               "target" : "com.amazonaws.backupsearch#SearchJobArn"
            },
            "SearchScope" : {
               "target" : "com.amazonaws.backupsearch#SearchScope"
            },
            "SearchScopeSummary" : {
               "target" : "com.amazonaws.backupsearch#SearchScopeSummary"
            },
            "Status" : {
               "target" : "com.amazonaws.backupsearch#SearchJobState"
            },
            "StatusMessage" : {
               "target" : "smithy.api#String"
            },
            "Tags" : {
               "target" : "com.amazonaws.backupsearch#TagMap"
            }
         },
         "read" : {
            "target" : "com.amazonaws.backupsearch#GetSearchJob"
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.backupsearch#StopSearchJob"
         }
      },
      "com.amazonaws.backupsearch#SearchJobArn" : {
         "traits" : {
            "aws.api#arnReference" : {
               "service" : "com.amazonaws.backupsearch#CryoBackupSearchService"
            }
         },
         "type" : "string"
      },
      "com.amazonaws.backupsearch#SearchJobBackupsResult" : {
         "members" : {
            "BackupCreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the creation time of the backup (recovery point).</p>"
               }
            },
            "BackupResourceArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies the backup resources.</p>"
               }
            },
            "IndexCreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the creation time of the backup index.</p>"
               }
            },
            "ResourceType" : {
               "target" : "com.amazonaws.backupsearch#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the resource type of the search.</p>"
               }
            },
            "SourceResourceArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies the source resources.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.backupsearch#SearchJobState",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the status of the search job backup result.</p>"
               }
            },
            "StatusMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the status message included with the results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This contains the information about recovery points returned in results of a search job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#SearchJobBackupsResults" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#SearchJobBackupsResult"
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#SearchJobState" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COMPLETED"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "RUNNING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RUNNING"
               }
            },
            "STOPPED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STOPPED"
               }
            },
            "STOPPING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STOPPING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.backupsearch#SearchJobSummary" : {
         "members" : {
            "CompletionTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the completion time of the search job.</p>"
               }
            },
            "CreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the creation time of the search job.</p>"
               }
            },
            "Name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the name of the search job.</p>"
               }
            },
            "SearchJobArn" : {
               "target" : "com.amazonaws.backupsearch#SearchJobArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that identifies the Amazon Resource Name (ARN) of the specified search job.</p>"
               }
            },
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that specifies the search job.</p>"
               }
            },
            "SearchScopeSummary" : {
               "target" : "com.amazonaws.backupsearch#SearchScopeSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returned summary of the specified search job scope, including: </p> <ul> <li> <p>TotalBackupsToScanCount, the number of recovery points returned by the search.</p> </li> <li> <p>TotalItemsToScanCount, the number of items returned by the search.</p> </li> </ul>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.backupsearch#SearchJobState",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the status of the search job.</p>"
               }
            },
            "StatusMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A status message will be returned for either a earch job with a status of <code>ERRORED</code> or a status of <code>COMPLETED</code> jobs with issues.</p> <p>For example, a message may say that a search contained recovery points unable to be scanned because of a permissions issue.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This is information pertaining to a search job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#SearchJobs" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#SearchJobSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#SearchResultExportJob" : {
         "create" : {
            "target" : "com.amazonaws.backupsearch#StartSearchResultExportJob"
         },
         "identifiers" : {
            "ExportJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId"
            }
         },
         "list" : {
            "target" : "com.amazonaws.backupsearch#ListSearchResultExportJobs"
         },
         "properties" : {
            "ClientToken" : {
               "target" : "smithy.api#String"
            },
            "CompletionTime" : {
               "target" : "smithy.api#Timestamp"
            },
            "CreationTime" : {
               "target" : "smithy.api#Timestamp"
            },
            "ExportJobArn" : {
               "target" : "com.amazonaws.backupsearch#ExportJobArn"
            },
            "ExportSpecification" : {
               "target" : "com.amazonaws.backupsearch#ExportSpecification"
            },
            "RoleArn" : {
               "target" : "com.amazonaws.backupsearch#IamRoleArn"
            },
            "SearchJobArn" : {
               "target" : "com.amazonaws.backupsearch#SearchJobArn"
            },
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId"
            },
            "Status" : {
               "target" : "com.amazonaws.backupsearch#ExportJobStatus"
            },
            "StatusMessage" : {
               "target" : "smithy.api#String"
            },
            "Tags" : {
               "target" : "com.amazonaws.backupsearch#TagMap"
            }
         },
         "read" : {
            "target" : "com.amazonaws.backupsearch#GetSearchResultExportJob"
         },
         "type" : "resource"
      },
      "com.amazonaws.backupsearch#SearchScope" : {
         "members" : {
            "BackupResourceArns" : {
               "target" : "com.amazonaws.backupsearch#RecoveryPointArnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies the backup resources.</p>"
               }
            },
            "BackupResourceCreationTime" : {
               "target" : "com.amazonaws.backupsearch#BackupCreationTimeFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the time a backup resource was created.</p>"
               }
            },
            "BackupResourceTags" : {
               "target" : "com.amazonaws.backupsearch#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>These are one or more tags on the backup (recovery point).</p>"
               }
            },
            "BackupResourceTypes" : {
               "target" : "com.amazonaws.backupsearch#ResourceTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource types included in a search.</p> <p>Eligible resource types include S3 and EBS.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SourceResourceArns" : {
               "target" : "com.amazonaws.backupsearch#ResourceArnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that uniquely identifies the source resources.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The search scope is all backup properties input into a search.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#SearchScopeSummary" : {
         "members" : {
            "TotalItemsToScanCount" : {
               "target" : "smithy.api#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the count of the total number of items that will be scanned in a search.</p>"
               }
            },
            "TotalRecoveryPointsToScanCount" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the count of the total number of backups that will be scanned in a search.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The summary of the specified search job scope, including: </p> <ul> <li> <p>TotalBackupsToScanCount, the number of recovery points returned by the search.</p> </li> <li> <p>TotalItemsToScanCount, the number of items returned by the search.</p> </li> </ul>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#ServiceQuotaExceededException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>This request was not successful due to a service quota exceeding limits.</p>",
                  "smithy.api#required" : {}
               }
            },
            "quotaCode" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the code specific to the quota type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Identifier of the resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "serviceCode" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the code unique to the originating service with the quota.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request denied due to exceeding the quota limits permitted.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 402
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#StartSearchJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ConflictException"
            },
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.backupsearch#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#StartSearchJobInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#StartSearchJobOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation creates a search job which returns recovery points filtered by SearchScope and items filtered by ItemFilters.</p> <p>You can optionally include ClientToken, EncryptionKeyArn, Name, and/or Tags.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/search-jobs"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#StartSearchJobInput" : {
         "members" : {
            "ClientToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Include this parameter to allow multiple identical calls for idempotency.</p> <p>A client token is valid for 8 hours after the first request that uses it is completed. After this time, any request with the same token is treated as a new request.</p>"
               }
            },
            "EncryptionKeyArn" : {
               "target" : "com.amazonaws.backupsearch#EncryptionKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The encryption key for the specified search job.</p>"
               }
            },
            "ItemFilters" : {
               "target" : "com.amazonaws.backupsearch#ItemFilters",
               "traits" : {
                  "smithy.api#documentation" : "<p>Item Filters represent all input item properties specified when the search was created.</p> <p>Contains either EBSItemFilters or S3ItemFilters</p>"
               }
            },
            "Name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Include alphanumeric characters to create a name for this search job.</p>",
                  "smithy.api#length" : {
                     "max" : 500
                  }
               }
            },
            "SearchScope" : {
               "target" : "com.amazonaws.backupsearch#SearchScope",
               "traits" : {
                  "smithy.api#documentation" : "<p>This object can contain BackupResourceTypes, BackupResourceArns, BackupResourceCreationTime, BackupResourceTags, and SourceResourceArns to filter the recovery points returned by the search job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.backupsearch#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of tags returned by the operation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#StartSearchJobOutput" : {
         "members" : {
            "CreationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time that a job was created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
               }
            },
            "SearchJobArn" : {
               "target" : "com.amazonaws.backupsearch#SearchJobArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that identifies the Amazon Resource Name (ARN) of the specified search job.</p>"
               }
            },
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that specifies the search job.</p>",
                  "smithy.api#notProperty" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#StartSearchResultExportJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ConflictException"
            },
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.backupsearch#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#StartSearchResultExportJobInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#StartSearchResultExportJobOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operations starts a job to export the results of search job to a designated S3 bucket.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/export-search-jobs"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#StartSearchResultExportJobInput" : {
         "members" : {
            "ClientToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Include this parameter to allow multiple identical calls for idempotency.</p> <p>A client token is valid for 8 hours after the first request that uses it is completed. After this time, any request with the same token is treated as a new request.</p>"
               }
            },
            "ExportSpecification" : {
               "target" : "com.amazonaws.backupsearch#ExportSpecification",
               "traits" : {
                  "smithy.api#documentation" : "<p>This specification contains a required string of the destination bucket; optionally, you can include the destination prefix.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.backupsearch#IamRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>This parameter specifies the role ARN used to start the search results export jobs.</p>"
               }
            },
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that specifies the search job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.backupsearch#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional tags to include. A tag is a key-value pair you can use to manage, filter, and search for your resources. Allowed characters include UTF-8 letters, numbers, spaces, and the following characters: + - = . _ : /. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#StartSearchResultExportJobOutput" : {
         "members" : {
            "ExportJobArn" : {
               "target" : "com.amazonaws.backupsearch#ExportJobArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the unique ARN (Amazon Resource Name) that belongs to the new export job.</p>"
               }
            },
            "ExportJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the unique identifier that specifies the new export job.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#StopSearchJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupsearch#ConflictException"
            },
            {
               "target" : "com.amazonaws.backupsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupsearch#StopSearchJobInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupsearch#StopSearchJobOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operations ends a search job.</p> <p>Only a search job with a status of <code>RUNNING</code> can be stopped.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/search-jobs/{SearchJobIdentifier}/actions/cancel"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupsearch#StopSearchJobInput" : {
         "members" : {
            "SearchJobIdentifier" : {
               "target" : "com.amazonaws.backupsearch#GenericId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique string that specifies the search job.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#StopSearchJobOutput" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#StringCondition" : {
         "members" : {
            "Operator" : {
               "target" : "com.amazonaws.backupsearch#StringConditionOperator",
               "traits" : {
                  "smithy.api#default" : "EQUALS_TO",
                  "smithy.api#documentation" : "<p>A string that defines what values will be returned.</p> <p>If this is included, avoid combinations of operators that will return all possible values. For example, including both <code>EQUALS_TO</code> and <code>NOT_EQUALS_TO</code> with a value of <code>4</code> will return all values.</p>"
               }
            },
            "Value" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value of the string.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This contains the value of the string and can contain one or more operators.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupsearch#StringConditionList" : {
         "member" : {
            "target" : "com.amazonaws.backupsearch#StringCondition"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupsearch#StringConditionOperator" : {
         "members" : {
            "BEGINS_WITH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BEGINS_WITH"
               }
            },
            "CONTAINS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONTAINS"
               }
            },
[...]
