{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.savingsplans#AWSSavingsPlan" : {
         "operations" : [
            {
               "target" : "com.amazonaws.savingsplans#CreateSavingsPlan"
            },
            {
               "target" : "com.amazonaws.savingsplans#DeleteQueuedSavingsPlan"
            },
            {
               "target" : "com.amazonaws.savingsplans#DescribeSavingsPlanRates"
            },
            {
               "target" : "com.amazonaws.savingsplans#DescribeSavingsPlans"
            },
            {
               "target" : "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRates"
            },
            {
               "target" : "com.amazonaws.savingsplans#DescribeSavingsPlansOfferings"
            },
            {
               "target" : "com.amazonaws.savingsplans#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.savingsplans#ReturnSavingsPlan"
            },
            {
               "target" : "com.amazonaws.savingsplans#TagResource"
            },
            {
               "target" : "com.amazonaws.savingsplans#UntagResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "savingsplans",
               "cloudFormationName" : "Savingsplans",
               "cloudTrailEventSource" : "savingsplans.amazonaws.com",
               "endpointPrefix" : "savingsplans",
               "sdkId" : "savingsplans"
            },
            "aws.auth#sigv4" : {
               "name" : "savingsplans"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Savings Plans are a pricing model that offer significant savings on Amazon Web Services usage (for example, on Amazon EC2 instances). You commit to a consistent\n         amount of usage per hour, in the specified currency, for a term of one or three years, and\n         receive a lower price for that usage. For more information, see the <a href=\"https://docs.aws.amazon.com/savingsplans/latest/userguide/\">Amazon Web Services\n            Savings Plans User Guide</a>.</p>",
            "smithy.api#title" : "AWS Savings Plans",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Endpoint"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              {
                                 "ref" : "UseFIPS"
                              },
                              false
                           ],
                           "fn" : "booleanEquals"
                        },
                        {
                           "argv" : [
                              {
                                 "ref" : "UseDualStack"
                              },
                              true
                           ],
                           "fn" : "booleanEquals"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              },
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "name"
                                             ],
                                             "fn" : "getAttr"
                                          },
                                          "aws"
                                       ],
                                       "fn" : "stringEquals"
                                    }
                                 ],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {
                                       "authSchemes" : [
                                          {
                                             "name" : "sigv4",
                                             "signingName" : "savingsplans",
                                             "signingRegion" : "us-east-1"
                                          }
                                       ]
                                    },
                                    "url" : "https://savingsplans.global.api.aws"
                                 },
                                 "type" : "endpoint"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "supportsDualStack"
                                             ],
                                             "fn" : "getAttr"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://savingsplans.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "error" : "DualStack is enabled but this partition does not support DualStack",
                                 "type" : "error"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "fn" : "isSet"
                                    }
                                 ],
                                 "fn" : "not"
                              }
                           ],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {
                                 "authSchemes" : [
                                    {
                                       "name" : "sigv4",
                                       "signingName" : "savingsplans",
                                       "signingRegion" : "us-east-1"
                                    }
                                 ]
                              },
                              "url" : "https://savingsplans.global.api.aws"
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "name"
                                             ],
                                             "fn" : "getAttr"
                                          },
                                          "aws"
                                       ],
                                       "fn" : "stringEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          false
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          false
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {
                                       "authSchemes" : [
                                          {
                                             "name" : "sigv4",
                                             "signingName" : "savingsplans",
                                             "signingRegion" : "us-east-1"
                                          }
                                       ]
                                    },
                                    "url" : "https://savingsplans.amazonaws.com"
                                 },
                                 "type" : "endpoint"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://savingsplans-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://savingsplans-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://savingsplans.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://savingsplans.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region aws-global with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "savingsplans",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://savingsplans.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "aws-global",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "savingsplans",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://savingsplans.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://savingsplans.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  },
                  {
                     "documentation" : "For region not set with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "savingsplans",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://savingsplans.global.api.aws"
                        }
                     },
                     "params" : {
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "savingsplans",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://savingsplans.global.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "savingsplans",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://savingsplans.global.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Commercial region with custom SDK endpoint",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://custom.example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://custom.example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2019-06-28"
      },
      "com.amazonaws.savingsplans#Amount" : {
         "type" : "string"
      },
      "com.amazonaws.savingsplans#ClientToken" : {
         "type" : "string"
      },
      "com.amazonaws.savingsplans#CreateSavingsPlan" : {
         "errors" : [
            {
               "target" : "com.amazonaws.savingsplans#InternalServerException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.savingsplans#CreateSavingsPlanRequest"
         },
         "output" : {
            "target" : "com.amazonaws.savingsplans#CreateSavingsPlanResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a Savings Plan.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/CreateSavingsPlan"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.savingsplans#CreateSavingsPlanRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.savingsplans#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "commitment" : {
               "target" : "com.amazonaws.savingsplans#Amount",
               "traits" : {
                  "smithy.api#documentation" : "<p>The hourly commitment, in the same currency of the <code>savingsPlanOfferingId</code>.\n         This is a value between 0.001 and 1 million. You cannot specify more than five digits after\n         the decimal point.</p>",
                  "smithy.api#required" : {}
               }
            },
            "purchaseTime" : {
               "target" : "com.amazonaws.savingsplans#DateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The purchase time of the Savings Plan in UTC format\n         (YYYY-MM-DDTHH:MM:SSZ).</p>"
               }
            },
            "savingsPlanOfferingId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the offering.</p>",
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.savingsplans#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>One or more tags.</p>"
               }
            },
            "upfrontPaymentAmount" : {
               "target" : "com.amazonaws.savingsplans#Amount",
               "traits" : {
                  "smithy.api#documentation" : "<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the\n         total value of the Savings Plan. This parameter is only supported if the\n         payment option is <code>Partial Upfront</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#CreateSavingsPlanResponse" : {
         "members" : {
            "savingsPlanId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Savings Plan.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#CurrencyCode" : {
         "members" : {
            "CNY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CNY"
               }
            },
            "EUR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EUR"
               }
            },
            "USD" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "USD"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.savingsplans#CurrencyList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#CurrencyCode"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#DateTime" : {
         "type" : "timestamp"
      },
      "com.amazonaws.savingsplans#DeleteQueuedSavingsPlan" : {
         "errors" : [
            {
               "target" : "com.amazonaws.savingsplans#InternalServerException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.savingsplans#DeleteQueuedSavingsPlanRequest"
         },
         "output" : {
            "target" : "com.amazonaws.savingsplans#DeleteQueuedSavingsPlanResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the queued purchase for the specified Savings Plan.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/DeleteQueuedSavingsPlan"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.savingsplans#DeleteQueuedSavingsPlanRequest" : {
         "members" : {
            "savingsPlanId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Savings Plan.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DeleteQueuedSavingsPlanResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlanRates" : {
         "errors" : [
            {
               "target" : "com.amazonaws.savingsplans#InternalServerException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.savingsplans#DescribeSavingsPlanRatesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.savingsplans#DescribeSavingsPlanRatesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the rates for a specific, existing Savings Plan.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/DescribeSavingsPlanRates"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlanRatesRequest" : {
         "members" : {
            "filters" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateFilterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.savingsplans#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to return with a single call. To retrieve additional\n         results, make another call with the returned token value.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.savingsplans#PaginationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token for the next page of results.</p>"
               }
            },
            "savingsPlanId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Savings Plan.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlanRatesResponse" : {
         "members" : {
            "nextToken" : {
               "target" : "com.amazonaws.savingsplans#PaginationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return.</p>"
               }
            },
            "savingsPlanId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Savings Plan.</p>"
               }
            },
            "searchResults" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the Savings Plan rates.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlans" : {
         "errors" : [
            {
               "target" : "com.amazonaws.savingsplans#InternalServerException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.savingsplans#DescribeSavingsPlansRequest"
         },
         "output" : {
            "target" : "com.amazonaws.savingsplans#DescribeSavingsPlansResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the specified Savings Plans.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/DescribeSavingsPlans"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRates" : {
         "errors" : [
            {
               "target" : "com.amazonaws.savingsplans#InternalServerException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRatesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRatesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the offering rates for Savings Plans you might want to purchase.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/DescribeSavingsPlansOfferingRates"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRatesRequest" : {
         "members" : {
            "filters" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingRateFiltersList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.savingsplans#PageSize",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum number of results to return with a single call. To retrieve additional\n         results, make another call with the returned token value.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.savingsplans#PaginationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token for the next page of results.</p>"
               }
            },
            "operations" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateOperationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
               }
            },
            "products" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanProductTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Web Services products.</p>"
               }
            },
            "savingsPlanOfferingIds" : {
               "target" : "com.amazonaws.savingsplans#UUIDs",
               "traits" : {
                  "smithy.api#documentation" : "<p>The IDs of the offerings.</p>"
               }
            },
            "savingsPlanPaymentOptions" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanPaymentOptionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The payment options.</p>"
               }
            },
            "savingsPlanTypes" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The plan types.</p>"
               }
            },
            "serviceCodes" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateServiceCodeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The services.</p>"
               }
            },
            "usageTypes" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateUsageTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The usage details of the line item in the billing report.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingRatesResponse" : {
         "members" : {
            "nextToken" : {
               "target" : "com.amazonaws.savingsplans#PaginationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return.</p>"
               }
            },
            "searchResults" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingRatesList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the Savings Plans offering rates.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlansOfferings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.savingsplans#InternalServerException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the offerings for the specified Savings Plans.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/DescribeSavingsPlansOfferings"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingsRequest" : {
         "members" : {
            "currencies" : {
               "target" : "com.amazonaws.savingsplans#CurrencyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The currencies.</p>"
               }
            },
            "descriptions" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanDescriptionsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The descriptions.</p>"
               }
            },
            "durations" : {
               "target" : "com.amazonaws.savingsplans#DurationsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The duration, in seconds.</p>"
               }
            },
            "filters" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingFiltersList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.savingsplans#PageSize",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum number of results to return with a single call. To retrieve additional\n         results, make another call with the returned token value.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.savingsplans#PaginationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token for the next page of results.</p>"
               }
            },
            "offeringIds" : {
               "target" : "com.amazonaws.savingsplans#UUIDs",
               "traits" : {
                  "smithy.api#documentation" : "<p>The IDs of the offerings.</p>"
               }
            },
            "operations" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOperationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
               }
            },
            "paymentOptions" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanPaymentOptionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The payment options.</p>"
               }
            },
            "planTypes" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The plan types.</p>"
               }
            },
            "productType" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanProductType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The product type.</p>"
               }
            },
            "serviceCodes" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanServiceCodeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The services.</p>"
               }
            },
            "usageTypes" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanUsageTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The usage details of the line item in the billing report.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlansOfferingsResponse" : {
         "members" : {
            "nextToken" : {
               "target" : "com.amazonaws.savingsplans#PaginationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return.</p>"
               }
            },
            "searchResults" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the Savings Plans offerings.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlansRequest" : {
         "members" : {
            "filters" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanFilterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.savingsplans#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to return with a single call. To retrieve additional\n         results, make another call with the returned token value.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.savingsplans#PaginationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token for the next page of results.</p>"
               }
            },
            "savingsPlanArns" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanArnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Names (ARN) of the Savings Plans.</p>"
               }
            },
            "savingsPlanIds" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The IDs of the Savings Plans.</p>"
               }
            },
            "states" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanStateList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current states of the Savings Plans.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DescribeSavingsPlansResponse" : {
         "members" : {
            "nextToken" : {
               "target" : "com.amazonaws.savingsplans#PaginationToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token to use to retrieve the next page of results. This value is null when there are\n         no more results to return.</p>"
               }
            },
            "savingsPlans" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the Savings Plans.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#DurationsList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlansDuration"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#EC2InstanceFamily" : {
         "type" : "string"
      },
      "com.amazonaws.savingsplans#FilterValuesList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#JsonSafeFilterValueString"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#InternalServerException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.savingsplans#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "InternalServerException",
               "httpResponseCode" : 500
            },
            "smithy.api#documentation" : "<p>An unexpected error occurred.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#JsonSafeFilterValueString" : {
         "traits" : {
            "smithy.api#pattern" : "^[a-zA-Z0-9_ \\/.\\:\\-\\(\\)]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.savingsplans#ListOfStrings" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#String"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.savingsplans#InternalServerException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.savingsplans#ListTagsForResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.savingsplans#ListTagsForResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the tags for the specified resource.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/ListTagsForResource"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.savingsplans#ListTagsForResourceRequest" : {
         "members" : {
            "resourceArn" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the resource.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#ListTagsForResourceResponse" : {
         "members" : {
            "tags" : {
               "target" : "com.amazonaws.savingsplans#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the tags.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#MaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 1000,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.savingsplans#PageSize" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.savingsplans#PaginationToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 0
            },
            "smithy.api#pattern" : "^[A-Za-z0-9/=\\+]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.savingsplans#ParentSavingsPlanOffering" : {
         "members" : {
            "currency" : {
               "target" : "com.amazonaws.savingsplans#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The currency.</p>"
               }
            },
            "durationSeconds" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlansDuration",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The duration, in seconds.</p>"
               }
            },
            "offeringId" : {
               "target" : "com.amazonaws.savingsplans#UUID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the offering.</p>"
               }
            },
            "paymentOption" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanPaymentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>The payment option.</p>"
               }
            },
            "planDescription" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description.</p>"
               }
            },
            "planType" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The plan type.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan offering.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#Region" : {
         "type" : "string"
      },
      "com.amazonaws.savingsplans#ResourceNotFoundException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.savingsplans#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ResourceNotFoundException",
               "httpResponseCode" : 404
            },
            "smithy.api#documentation" : "<p>The specified resource was not found.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#ReturnSavingsPlan" : {
         "errors" : [
            {
               "target" : "com.amazonaws.savingsplans#InternalServerException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.savingsplans#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.savingsplans#ReturnSavingsPlanRequest"
         },
         "output" : {
            "target" : "com.amazonaws.savingsplans#ReturnSavingsPlanResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the specified Savings Plan.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/ReturnSavingsPlan"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.savingsplans#ReturnSavingsPlanRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.savingsplans#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "savingsPlanId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Savings Plan.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#ReturnSavingsPlanResponse" : {
         "members" : {
            "savingsPlanId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Savings Plan.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlan" : {
         "members" : {
            "commitment" : {
               "target" : "com.amazonaws.savingsplans#Amount",
               "traits" : {
                  "smithy.api#documentation" : "<p>The hourly commitment amount in the specified currency.</p>"
               }
            },
            "currency" : {
               "target" : "com.amazonaws.savingsplans#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The currency.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.savingsplans#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description.</p>"
               }
            },
            "ec2InstanceFamily" : {
               "target" : "com.amazonaws.savingsplans#EC2InstanceFamily",
               "traits" : {
                  "smithy.api#documentation" : "<p>The EC2 instance family.</p>"
               }
            },
            "end" : {
               "target" : "com.amazonaws.savingsplans#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The end time.</p>"
               }
            },
            "offeringId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the offering.</p>"
               }
            },
            "paymentOption" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanPaymentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>The payment option.</p>"
               }
            },
            "productTypes" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanProductTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The product types.</p>"
               }
            },
            "recurringPaymentAmount" : {
               "target" : "com.amazonaws.savingsplans#Amount",
               "traits" : {
                  "smithy.api#documentation" : "<p>The recurring payment amount.</p>"
               }
            },
            "region" : {
               "target" : "com.amazonaws.savingsplans#Region",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Web Services Region.</p>"
               }
            },
            "returnableUntil" : {
               "target" : "com.amazonaws.savingsplans#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time until when a return for the Savings Plan can be requested. If the\n            Savings Plan is not returnable, the field reflects the Savings Plans start time.</p>"
               }
            },
            "savingsPlanArn" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Savings Plan.</p>"
               }
            },
            "savingsPlanId" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Savings Plan.</p>"
               }
            },
            "savingsPlanType" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The plan type.</p>"
               }
            },
            "start" : {
               "target" : "com.amazonaws.savingsplans#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The start time.</p>"
               }
            },
            "state" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.savingsplans#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>One or more tags.</p>"
               }
            },
            "termDurationInSeconds" : {
               "target" : "com.amazonaws.savingsplans#TermDurationInSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The duration of the term, in seconds.</p>"
               }
            },
            "upfrontPaymentAmount" : {
               "target" : "com.amazonaws.savingsplans#Amount",
               "traits" : {
                  "smithy.api#documentation" : "<p>The up-front payment amount.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlanArn" : {
         "traits" : {
            "smithy.api#pattern" : "^arn:aws:[a-z]+:([a-z]{2}-[a-z]+-\\d{1}|):(\\d{12}):savingsplan\\/([0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$"
         },
         "type" : "string"
      },
      "com.amazonaws.savingsplans#SavingsPlanArnList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanArn"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanDescription" : {
         "traits" : {
            "smithy.api#pattern" : "^[a-zA-Z0-9_\\- ]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.savingsplans#SavingsPlanDescriptionsList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanDescription"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanFilter" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlansFilterName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter name.</p>"
               }
            },
            "values" : {
               "target" : "com.amazonaws.savingsplans#ListOfStrings",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan filter.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlanFilterList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanFilter"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanId" : {
         "type" : "string"
      },
      "com.amazonaws.savingsplans#SavingsPlanIdList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanId"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlan"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanOffering" : {
         "members" : {
            "currency" : {
               "target" : "com.amazonaws.savingsplans#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The currency.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description.</p>"
               }
            },
            "durationSeconds" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlansDuration",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The duration, in seconds.</p>"
               }
            },
            "offeringId" : {
               "target" : "com.amazonaws.savingsplans#UUID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the offering.</p>"
               }
            },
            "operation" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOperation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
               }
            },
            "paymentOption" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanPaymentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>The payment option.</p>"
               }
            },
            "planType" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The plan type.</p>"
               }
            },
            "productTypes" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanProductTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The product type.</p>"
               }
            },
            "properties" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingPropertyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties.</p>"
               }
            },
            "serviceCode" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanServiceCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service.</p>"
               }
            },
            "usageType" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanUsageType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The usage details of the line item in the billing report.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan offering.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingFilterAttribute" : {
         "members" : {
            "instanceFamily" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "instanceFamily"
               }
            },
            "region" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "region"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingFilterElement" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingFilterAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter name.</p>"
               }
            },
            "values" : {
               "target" : "com.amazonaws.savingsplans#FilterValuesList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter values.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan offering filter.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingFiltersList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingFilterElement"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingId" : {
         "type" : "string"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingProperty" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingPropertyKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property name.</p>"
               }
            },
            "value" : {
               "target" : "com.amazonaws.savingsplans#JsonSafeFilterValueString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan offering property.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingPropertyKey" : {
         "members" : {
            "INSTANCE_FAMILY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "instanceFamily"
               }
            },
            "REGION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "region"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingPropertyList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingProperty"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingRate" : {
         "members" : {
            "operation" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateOperation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
               }
            },
            "productType" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanProductType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The product type.</p>"
               }
            },
            "properties" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingRatePropertyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties.</p>"
               }
            },
            "rate" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRatePricePerUnit",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Savings Plan rate.</p>"
               }
            },
            "savingsPlanOffering" : {
               "target" : "com.amazonaws.savingsplans#ParentSavingsPlanOffering",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Savings Plan offering.</p>"
               }
            },
            "serviceCode" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateServiceCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service.</p>"
               }
            },
            "unit" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateUnit",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unit.</p>"
               }
            },
            "usageType" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateUsageType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The usage details of the line item in the billing report.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan offering rate.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingRateFilterElement" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateFilterAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter name.</p>"
               }
            },
            "values" : {
               "target" : "com.amazonaws.savingsplans#FilterValuesList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter values.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan offering rate filter.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingRateFiltersList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingRateFilterElement"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingRateProperty" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.savingsplans#JsonSafeFilterValueString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property name.</p>"
               }
            },
            "value" : {
               "target" : "com.amazonaws.savingsplans#JsonSafeFilterValueString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The property value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Savings Plan offering rate property.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingRatePropertyList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingRateProperty"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingRatesList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanOfferingRate"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanOfferingsList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanOffering"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanOperation" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 0
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9_ \\/.:-]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.savingsplans#SavingsPlanOperationList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanOperation"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanPaymentOption" : {
         "members" : {
            "ALL_UPFRONT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "All Upfront"
               }
            },
            "NO_UPFRONT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "No Upfront"
               }
            },
            "PARTIAL_UPFRONT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Partial Upfront"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.savingsplans#SavingsPlanPaymentOptionList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanPaymentOption"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanProductType" : {
         "members" : {
            "DMS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DMS"
               }
            },
            "DOCDB" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DocDB"
               }
            },
            "DSQL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DSQL"
               }
            },
            "DYNAMODB" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DynamoDB"
               }
            },
            "EC2" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EC2"
               }
            },
            "ELASTICACHE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ElastiCache"
               }
            },
            "FARGATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Fargate"
               }
            },
            "KEYSPACES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Keyspaces"
               }
            },
            "LAMBDA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Lambda"
               }
            },
            "NEPTUNE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Neptune"
               }
            },
            "OPENSEARCH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OpenSearch"
               }
            },
            "RDS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RDS"
               }
            },
            "SAGEMAKER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SageMaker"
               }
            },
            "TIMESTREAM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Timestream"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.savingsplans#SavingsPlanProductTypeList" : {
         "member" : {
            "target" : "com.amazonaws.savingsplans#SavingsPlanProductType"
         },
         "type" : "list"
      },
      "com.amazonaws.savingsplans#SavingsPlanRate" : {
         "members" : {
            "currency" : {
               "target" : "com.amazonaws.savingsplans#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The currency.</p>"
               }
            },
            "operation" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRateOperation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific Amazon Web Services operation for the line item in the billing\n         report.</p>"
               }
            },
            "productType" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanProductType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The product type.</p>"
               }
            },
            "properties" : {
               "target" : "com.amazonaws.savingsplans#SavingsPlanRatePropertyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties.</p>"
               }
            },
            "rate" : {
               "target" : "com.amazonaws.savingsplans#Amount",
               "traits" : {
[...]
