{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.licensemanager#AWSLicenseManager" : {
         "operations" : [
            {
               "target" : "com.amazonaws.licensemanager#AcceptGrant"
            },
            {
               "target" : "com.amazonaws.licensemanager#CheckInLicense"
            },
            {
               "target" : "com.amazonaws.licensemanager#CheckoutBorrowLicense"
            },
            {
               "target" : "com.amazonaws.licensemanager#CheckoutLicense"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateGrant"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateGrantVersion"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateLicense"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateLicenseAssetGroup"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateLicenseAssetRuleset"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateLicenseConfiguration"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateLicenseConversionTaskForResource"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateLicenseManagerReportGenerator"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateLicenseVersion"
            },
            {
               "target" : "com.amazonaws.licensemanager#CreateToken"
            },
            {
               "target" : "com.amazonaws.licensemanager#DeleteGrant"
            },
            {
               "target" : "com.amazonaws.licensemanager#DeleteLicense"
            },
            {
               "target" : "com.amazonaws.licensemanager#DeleteLicenseAssetGroup"
            },
            {
               "target" : "com.amazonaws.licensemanager#DeleteLicenseAssetRuleset"
            },
            {
               "target" : "com.amazonaws.licensemanager#DeleteLicenseConfiguration"
            },
            {
               "target" : "com.amazonaws.licensemanager#DeleteLicenseManagerReportGenerator"
            },
            {
               "target" : "com.amazonaws.licensemanager#DeleteToken"
            },
            {
               "target" : "com.amazonaws.licensemanager#ExtendLicenseConsumption"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetAccessToken"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetGrant"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetLicense"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetLicenseAssetGroup"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetLicenseAssetRuleset"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetLicenseConfiguration"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetLicenseConversionTask"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetLicenseManagerReportGenerator"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetLicenseUsage"
            },
            {
               "target" : "com.amazonaws.licensemanager#GetServiceSettings"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListAssetsForLicenseAssetGroup"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListAssociationsForLicenseConfiguration"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListDistributedGrants"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListFailuresForLicenseConfigurationOperations"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenseAssetGroups"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenseAssetRulesets"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenseConfigurations"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenseConfigurationsForOrganization"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenseConversionTasks"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenseManagerReportGenerators"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenses"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenseSpecificationsForResource"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListLicenseVersions"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListReceivedGrants"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListReceivedGrantsForOrganization"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListReceivedLicenses"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListReceivedLicensesForOrganization"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListResourceInventory"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListTokens"
            },
            {
               "target" : "com.amazonaws.licensemanager#ListUsageForLicenseConfiguration"
            },
            {
               "target" : "com.amazonaws.licensemanager#RejectGrant"
            },
            {
               "target" : "com.amazonaws.licensemanager#TagResource"
            },
            {
               "target" : "com.amazonaws.licensemanager#UntagResource"
            },
            {
               "target" : "com.amazonaws.licensemanager#UpdateLicenseAssetGroup"
            },
            {
               "target" : "com.amazonaws.licensemanager#UpdateLicenseAssetRuleset"
            },
            {
               "target" : "com.amazonaws.licensemanager#UpdateLicenseConfiguration"
            },
            {
               "target" : "com.amazonaws.licensemanager#UpdateLicenseManagerReportGenerator"
            },
            {
               "target" : "com.amazonaws.licensemanager#UpdateLicenseSpecificationsForResource"
            },
            {
               "target" : "com.amazonaws.licensemanager#UpdateServiceSettings"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "license-manager",
               "cloudFormationName" : "LicenseManager",
               "cloudTrailEventSource" : "license-manager.amazonaws.com",
               "endpointPrefix" : "license-manager",
               "sdkId" : "License Manager"
            },
            "aws.auth#sigv4" : {
               "name" : "license-manager"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>License Manager makes it easier to manage licenses from software vendors across multiple \n         Amazon Web Services accounts and on-premises servers.</p>",
            "smithy.api#title" : "AWS License Manager",
            "smithy.api#xmlNamespace" : {
               "uri" : "https://license-manager.amazonaws.com/doc/2018_08_01"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://license-manager-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://license-manager-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://license-manager.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://license-manager.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ap-southeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://license-manager-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2018-08-01"
      },
      "com.amazonaws.licensemanager#AcceptGrant" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ResourceLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#AcceptGrantRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#AcceptGrantResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Accepts the specified grant.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#AcceptGrantRequest" : {
         "members" : {
            "GrantArn" : {
               "target" : "com.amazonaws.licensemanager#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the grant.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#AcceptGrantResponse" : {
         "members" : {
            "GrantArn" : {
               "target" : "com.amazonaws.licensemanager#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant ARN.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.licensemanager#GrantStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant status.</p>"
               }
            },
            "Version" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant version.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.licensemanager#Message"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ServiceAccessDenied",
               "httpResponseCode" : 401
            },
            "smithy.api#documentation" : "<p>Access to resource denied.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 401
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#ActivationOverrideBehavior" : {
         "members" : {
            "ALL_GRANTS_PERMITTED_BY_ISSUER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ALL_GRANTS_PERMITTED_BY_ISSUER"
               }
            },
            "DISTRIBUTED_GRANTS_ONLY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DISTRIBUTED_GRANTS_ONLY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.licensemanager#AllowedOperation" : {
         "members" : {
            "CHECKOUT_BORROW_LICENSE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CheckoutBorrowLicense"
               }
            },
            "CHECKOUT_LICENSE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CheckoutLicense"
               }
            },
            "CHECK_IN_LICENSE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CheckInLicense"
               }
            },
            "CREATE_GRANT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CreateGrant"
               }
            },
            "CREATE_TOKEN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CreateToken"
               }
            },
            "EXTEND_CONSUMPTION_LICENSE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ExtendConsumptionLicense"
               }
            },
            "LIST_PURCHASED_LICENSES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ListPurchasedLicenses"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.licensemanager#AllowedOperationList" : {
         "member" : {
            "target" : "com.amazonaws.licensemanager#AllowedOperation"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 8,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.licensemanager#AndRuleStatement" : {
         "members" : {
            "MatchingRuleStatements" : {
               "target" : "com.amazonaws.licensemanager#MatchingRuleStatementList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Matching rule statements.</p>"
               }
            },
            "ScriptRuleStatements" : {
               "target" : "com.amazonaws.licensemanager#ScriptRuleStatementList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Script rule statements.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>AND rule statement.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#Arn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:aws[a-zA-Z-]*:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
         },
         "type" : "string"
      },
      "com.amazonaws.licensemanager#ArnList" : {
         "member" : {
            "target" : "com.amazonaws.licensemanager#Arn"
         },
         "type" : "list"
      },
      "com.amazonaws.licensemanager#Asset" : {
         "members" : {
            "AssetArn" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the asset.</p>"
               }
            },
            "LatestAssetDiscoveryTime" : {
               "target" : "com.amazonaws.licensemanager#DateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>Latest asset discovery time.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Asset.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#AssetList" : {
         "member" : {
            "target" : "com.amazonaws.licensemanager#Asset"
         },
         "type" : "list"
      },
      "com.amazonaws.licensemanager#AuthorizationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.licensemanager#Message"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "AuthorizationFailure",
               "httpResponseCode" : 403
            },
            "smithy.api#documentation" : "<p>The Amazon Web Services user account does not have permission to perform the action. Check the IAM\n         policy associated with this account.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#AutomatedDiscoveryInformation" : {
         "members" : {
            "LastRunTime" : {
               "target" : "com.amazonaws.licensemanager#DateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>Time that automated discovery last ran.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes automated discovery.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#Boolean" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.licensemanager#BorrowConfiguration" : {
         "members" : {
            "AllowEarlyCheckIn" : {
               "target" : "com.amazonaws.licensemanager#BoxBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates whether early check-ins are allowed.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MaxTimeToLiveInMinutes" : {
               "target" : "com.amazonaws.licensemanager#BoxInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p>Maximum time for the borrow configuration, in minutes.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Details about a borrow configuration.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#BoxBoolean" : {
         "type" : "boolean"
      },
      "com.amazonaws.licensemanager#BoxInteger" : {
         "type" : "integer"
      },
      "com.amazonaws.licensemanager#BoxLong" : {
         "type" : "long"
      },
      "com.amazonaws.licensemanager#CheckInLicense" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ConflictException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CheckInLicenseRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CheckInLicenseResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Checks in the specified license. Check in a license when it is no longer in use.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CheckInLicenseRequest" : {
         "members" : {
            "Beneficiary" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>License beneficiary.</p>"
               }
            },
            "LicenseConsumptionToken" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>License consumption token.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CheckInLicenseResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CheckoutBorrowLicense" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#EntitlementNotAllowedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#NoEntitlementsAllowedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RedirectException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#UnsupportedDigitalSignatureMethodException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CheckoutBorrowLicenseRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CheckoutBorrowLicenseResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Checks out the specified license for offline use.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CheckoutBorrowLicenseRequest" : {
         "members" : {
            "CheckoutMetadata" : {
               "target" : "com.amazonaws.licensemanager#MetadataList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about constraints.</p>"
               }
            },
            "ClientToken" : {
               "target" : "com.amazonaws.licensemanager#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DigitalSignatureMethod" : {
               "target" : "com.amazonaws.licensemanager#DigitalSignatureMethod",
               "traits" : {
                  "smithy.api#documentation" : "<p>Digital signature method. The possible value is JSON Web Signature (JWS) algorithm PS384.\n         For more information, see <a href=\"https://tools.ietf.org/html/rfc7518#section-3.5\">RFC 7518 Digital Signature with RSASSA-PSS</a>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Entitlements" : {
               "target" : "com.amazonaws.licensemanager#EntitlementDataList",
               "traits" : {
                  "smithy.api#documentation" : "<p>License entitlements. Partial checkouts are not supported.</p>",
                  "smithy.api#required" : {}
               }
            },
            "LicenseArn" : {
               "target" : "com.amazonaws.licensemanager#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the license. The license must use the borrow consumption configuration.</p>",
                  "smithy.api#required" : {}
               }
            },
            "NodeId" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Node ID.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CheckoutBorrowLicenseResponse" : {
         "members" : {
            "CheckoutMetadata" : {
               "target" : "com.amazonaws.licensemanager#MetadataList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about constraints.</p>"
               }
            },
            "EntitlementsAllowed" : {
               "target" : "com.amazonaws.licensemanager#EntitlementDataList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Allowed license entitlements.</p>"
               }
            },
            "Expiration" : {
               "target" : "com.amazonaws.licensemanager#ISO8601DateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date and time at which the license checkout expires.</p>"
               }
            },
            "IssuedAt" : {
               "target" : "com.amazonaws.licensemanager#ISO8601DateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date and time at which the license checkout is issued.</p>"
               }
            },
            "LicenseArn" : {
               "target" : "com.amazonaws.licensemanager#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the license.</p>"
               }
            },
            "LicenseConsumptionToken" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>License consumption token.</p>"
               }
            },
            "NodeId" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Node ID.</p>"
               }
            },
            "SignedToken" : {
               "target" : "com.amazonaws.licensemanager#SignedToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Signed token.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CheckoutLicense" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#NoEntitlementsAllowedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RedirectException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#UnsupportedDigitalSignatureMethodException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CheckoutLicenseRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CheckoutLicenseResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Checks out the specified license.</p>\n         <note>\n            <p>If the account that created the license is the same that is performing the check out, you must\n            specify the account as the beneficiary.</p>\n         </note>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CheckoutLicenseRequest" : {
         "members" : {
            "Beneficiary" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>License beneficiary.</p>"
               }
            },
            "CheckoutType" : {
               "target" : "com.amazonaws.licensemanager#CheckoutType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Checkout type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ClientToken" : {
               "target" : "com.amazonaws.licensemanager#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Entitlements" : {
               "target" : "com.amazonaws.licensemanager#EntitlementDataList",
               "traits" : {
                  "smithy.api#documentation" : "<p>License entitlements.</p>",
                  "smithy.api#required" : {}
               }
            },
            "KeyFingerprint" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Key fingerprint identifying the license.</p>",
                  "smithy.api#required" : {}
               }
            },
            "NodeId" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Node ID.</p>"
               }
            },
            "ProductSKU" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Product SKU.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CheckoutLicenseResponse" : {
         "members" : {
            "CheckoutType" : {
               "target" : "com.amazonaws.licensemanager#CheckoutType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Checkout type.</p>"
               }
            },
            "EntitlementsAllowed" : {
               "target" : "com.amazonaws.licensemanager#EntitlementDataList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Allowed license entitlements.</p>"
               }
            },
            "Expiration" : {
               "target" : "com.amazonaws.licensemanager#ISO8601DateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date and time at which the license checkout expires.</p>"
               }
            },
            "IssuedAt" : {
               "target" : "com.amazonaws.licensemanager#ISO8601DateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date and time at which the license checkout is issued.</p>"
               }
            },
            "LicenseArn" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the checkout license.</p>"
               }
            },
            "LicenseConsumptionToken" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>License consumption token.</p>"
               }
            },
            "NodeId" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Node ID.</p>"
               }
            },
            "SignedToken" : {
               "target" : "com.amazonaws.licensemanager#SignedToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Signed token.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CheckoutType" : {
         "members" : {
            "PERPETUAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PERPETUAL"
               }
            },
            "PROVISIONAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PROVISIONAL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.licensemanager#ClientRequestToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.licensemanager#ClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 0
            },
            "smithy.api#pattern" : "^\\S+$"
         },
         "type" : "string"
      },
      "com.amazonaws.licensemanager#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.licensemanager#Message"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ConflictException",
               "httpResponseCode" : 409
            },
            "smithy.api#documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#ConsumedLicenseSummary" : {
         "members" : {
            "ConsumedLicenses" : {
               "target" : "com.amazonaws.licensemanager#BoxLong",
               "traits" : {
                  "smithy.api#documentation" : "<p>Number of licenses consumed by the resource.</p>"
               }
            },
            "ResourceType" : {
               "target" : "com.amazonaws.licensemanager#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Resource type of the resource consuming a license.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Details about license consumption.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#ConsumedLicenseSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.licensemanager#ConsumedLicenseSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.licensemanager#ConsumptionConfiguration" : {
         "members" : {
            "BorrowConfiguration" : {
               "target" : "com.amazonaws.licensemanager#BorrowConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details about a borrow configuration.</p>"
               }
            },
            "ProvisionalConfiguration" : {
               "target" : "com.amazonaws.licensemanager#ProvisionalConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details about a provisional configuration.</p>"
               }
            },
            "RenewType" : {
               "target" : "com.amazonaws.licensemanager#RenewType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Renewal frequency.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Details about a consumption configuration.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateGrant" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ResourceLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CreateGrantRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CreateGrantResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a grant for the specified license. A grant shares the use of license\n         entitlements with a specific Amazon Web Services account, an organization, or an\n         organizational unit (OU). For more information, see <a href=\"https://docs.aws.amazon.com/license-manager/latest/userguide/granted-licenses.html\">Granted licenses in License Manager</a> in the <i>License Manager User Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CreateGrantRequest" : {
         "members" : {
            "AllowedOperations" : {
               "target" : "com.amazonaws.licensemanager#AllowedOperationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Allowed operations for the grant.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ClientToken" : {
               "target" : "com.amazonaws.licensemanager#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "GrantName" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "HomeRegion" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Home Region of the grant.</p>",
                  "smithy.api#required" : {}
               }
            },
            "LicenseArn" : {
               "target" : "com.amazonaws.licensemanager#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the license.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Principals" : {
               "target" : "com.amazonaws.licensemanager#PrincipalArnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The grant principals. You can specify one of the following as an Amazon Resource Name\n         (ARN):</p>\n         <ul>\n            <li>\n               <p>An Amazon Web Services account, which includes only the account specified.</p>\n            </li>\n         </ul>\n         <ul>\n            <li>\n               <p>An organizational unit (OU), which includes all accounts in the OU.</p>\n            </li>\n         </ul>\n         <ul>\n            <li>\n               <p>An organization, which will include all accounts across your organization.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.licensemanager#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags to add to the grant. For more information about tagging support in\n         License Manager, see the <a href=\"https://docs.aws.amazon.com/license-manager/latest/APIReference/API_TagResource.html\">TagResource</a> operation.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateGrantResponse" : {
         "members" : {
            "GrantArn" : {
               "target" : "com.amazonaws.licensemanager#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant ARN.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.licensemanager#GrantStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant status.</p>"
               }
            },
            "Version" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant version.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateGrantVersion" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ResourceLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CreateGrantVersionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CreateGrantVersionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new version of the specified grant. For more information, see\n         <a href=\"https://docs.aws.amazon.com/license-manager/latest/userguide/granted-licenses.html\">Granted licenses in License Manager</a> in the <i>License Manager User Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CreateGrantVersionRequest" : {
         "members" : {
            "AllowedOperations" : {
               "target" : "com.amazonaws.licensemanager#AllowedOperationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Allowed operations for the grant.</p>"
               }
            },
            "ClientToken" : {
               "target" : "com.amazonaws.licensemanager#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "GrantArn" : {
               "target" : "com.amazonaws.licensemanager#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the grant.</p>",
                  "smithy.api#required" : {}
               }
            },
            "GrantName" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant name.</p>"
               }
            },
            "Options" : {
               "target" : "com.amazonaws.licensemanager#Options",
               "traits" : {
                  "smithy.api#documentation" : "<p>The options specified for the grant.</p>"
               }
            },
            "SourceVersion" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Current version of the grant.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.licensemanager#GrantStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant status.</p>"
               }
            },
            "StatusReason" : {
               "target" : "com.amazonaws.licensemanager#StatusReasonMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant status reason.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateGrantVersionResponse" : {
         "members" : {
            "GrantArn" : {
               "target" : "com.amazonaws.licensemanager#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant ARN.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.licensemanager#GrantStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Grant status.</p>"
               }
            },
            "Version" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>New version of the grant.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateLicense" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RedirectException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CreateLicenseRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CreateLicenseResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a license.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CreateLicenseAssetGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CreateLicenseAssetGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CreateLicenseAssetGroupResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a license asset group.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CreateLicenseAssetGroupRequest" : {
         "members" : {
            "AssociatedLicenseAssetRulesetARNs" : {
               "target" : "com.amazonaws.licensemanager#LicenseAssetRulesetArnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>ARNs of associated license asset rulesets.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ClientToken" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Description" : {
               "target" : "com.amazonaws.licensemanager#LicenseAssetResourceDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>License asset group description.</p>"
               }
            },
            "LicenseAssetGroupConfigurations" : {
               "target" : "com.amazonaws.licensemanager#LicenseAssetGroupConfigurationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>License asset group configurations.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Name" : {
               "target" : "com.amazonaws.licensemanager#LicenseAssetResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>License asset group name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Properties" : {
               "target" : "com.amazonaws.licensemanager#LicenseAssetGroupPropertyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>License asset group properties.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.licensemanager#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags to add to the license asset group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateLicenseAssetGroupResponse" : {
         "members" : {
            "LicenseAssetGroupArn" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the license asset group.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>License asset group status.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateLicenseAssetRuleset" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CreateLicenseAssetRulesetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CreateLicenseAssetRulesetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a license asset ruleset.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CreateLicenseAssetRulesetRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Description" : {
               "target" : "com.amazonaws.licensemanager#LicenseAssetResourceDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>License asset ruleset description.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.licensemanager#LicenseAssetResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>License asset ruleset name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Rules" : {
               "target" : "com.amazonaws.licensemanager#LicenseAssetRuleList",
               "traits" : {
                  "smithy.api#documentation" : "<p>License asset rules.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.licensemanager#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags to add to the license asset ruleset.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateLicenseAssetRulesetResponse" : {
         "members" : {
            "LicenseAssetRulesetArn" : {
               "target" : "com.amazonaws.licensemanager#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Resource Name (ARN) of the license asset ruleset.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.licensemanager#CreateLicenseConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.licensemanager#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.licensemanager#AuthorizationException"
            },
            {
               "target" : "com.amazonaws.licensemanager#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.licensemanager#RateLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ResourceLimitExceededException"
            },
            {
               "target" : "com.amazonaws.licensemanager#ServerInternalException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.licensemanager#CreateLicenseConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.licensemanager#CreateLicenseConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a license configuration.</p>\n         <p>A license configuration is an abstraction of a customer license agreement that can be\n         consumed and enforced by License Manager. Components include specifications for the license\n         type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, \n         Dedicated Instance, Dedicated Host, or all of these), license affinity  to host (how long a \n         license must be associated with a host), and the number of licenses purchased and used.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.licensemanager#CreateLicenseConfigurationRequest" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.licensemanager#String",
[...]
