{
   "shapes" : {
      "com.amazonaws.pricing#AWSPriceListService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.pricing#DescribeServices"
            },
            {
               "target" : "com.amazonaws.pricing#GetAttributeValues"
            },
            {
               "target" : "com.amazonaws.pricing#GetPriceListFileUrl"
            },
            {
               "target" : "com.amazonaws.pricing#GetProducts"
            },
            {
               "target" : "com.amazonaws.pricing#ListPriceLists"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "pricing",
               "cloudFormationName" : "Pricing",
               "cloudTrailEventSource" : "pricelist.amazonaws.com",
               "endpointPrefix" : "api.pricing",
               "sdkId" : "Pricing"
            },
            "aws.auth#sigv4" : {
               "name" : "pricing"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>The Amazon Web Services Price List API is a centralized and convenient way to programmatically query Amazon Web Services for services, products, and pricing information. The Amazon Web Services Price List uses standardized product attributes such as <code>Location</code>, <code>Storage Class</code>, and <code>Operating System</code>, and provides prices at the SKU level. You can use the Amazon Web Services Price List to do the following:</p> <ul> <li> <p>Build cost control and scenario planning tools</p> </li> <li> <p>Reconcile billing data</p> </li> <li> <p>Forecast future spend for budgeting purposes</p> </li> <li> <p>Provide cost benefit analysis that compare your internal workloads with Amazon Web Services</p> </li> </ul> <p>Use <code>GetServices</code> without a service code to retrieve the service codes for all Amazon Web Services services, then <code>GetServices</code> with a service code to retrieve the attribute names for that service. After you have the service code and attribute names, you can use <code>GetAttributeValues</code> to see what values are available for an attribute. With the service code and an attribute name and value, you can use <code>GetProducts</code> to find specific products that you're interested in, such as an <code>AmazonEC2</code> instance, with a <code>Provisioned IOPS</code> <code>volumeType</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/price-changes.html\">Using the Amazon Web Services Price List API</a> in the <i>Billing User Guide</i>.</p>",
            "smithy.api#title" : "AWS Price List Service",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://api.pricing-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://api.pricing-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://api.pricing.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          "aws",
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "name"
                                             ],
                                             "fn" : "getAttr"
                                          }
                                       ],
                                       "fn" : "stringEquals"
                                    }
                                 ],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://api.pricing.{Region}.amazonaws.com"
                                 },
                                 "type" : "endpoint"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://api.pricing.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://api.pricing.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2017-10-15"
      },
      "com.amazonaws.pricing#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.pricing#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>General authentication failure. The request wasn't signed correctly.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 401
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#AttributeNameList" : {
         "member" : {
            "target" : "com.amazonaws.pricing#String"
         },
         "type" : "list"
      },
      "com.amazonaws.pricing#AttributeValue" : {
         "members" : {
            "Value" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific value of an <code>attributeName</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The values of a given attribute, such as <code>Throughput Optimized HDD</code> or <code>Provisioned IOPS</code> for the <code>Amazon EC2</code> <code>volumeType</code> attribute.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#AttributeValueList" : {
         "member" : {
            "target" : "com.amazonaws.pricing#AttributeValue"
         },
         "type" : "list"
      },
      "com.amazonaws.pricing#CurrencyCode" : {
         "traits" : {
            "smithy.api#pattern" : "^[A-Z]{3}$"
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#DescribeServices" : {
         "errors" : [
            {
               "target" : "com.amazonaws.pricing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.pricing#ExpiredNextTokenException"
            },
            {
               "target" : "com.amazonaws.pricing#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidNextTokenException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidParameterException"
            },
            {
               "target" : "com.amazonaws.pricing#NotFoundException"
            },
            {
               "target" : "com.amazonaws.pricing#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.pricing#DescribeServicesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.pricing#DescribeServicesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the metadata for one service or a list of the metadata for all services. Use this without a service code to get the service codes for all services. Use it with a service code, such as <code>AmazonEC2</code>, to get information specific to that service, such as the attribute names available for that service. For example, some of the attribute names available for EC2 are <code>volumeType</code>, <code>maxIopsVolume</code>, <code>operation</code>, <code>locationType</code>, and <code>instanceCapacity10xlarge</code>.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "Services",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.pricing#DescribeServicesMaxResults" : {
         "traits" : {
            "smithy.api#default" : 100,
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.pricing#DescribeServicesRequest" : {
         "members" : {
            "FormatVersion" : {
               "target" : "com.amazonaws.pricing#FormatVersion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The format version that you want the response to be in.</p> <p>Valid values are: <code>aws_v1</code> </p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.pricing#DescribeServicesMaxResults",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>The maximum number of results that you want returned in the response.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results that you want to retrieve.</p>"
               }
            },
            "ServiceCode" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The code for the service whose information you want to retrieve, such as <code>AmazonEC2</code>. You can use the <code>ServiceCode</code> to filter the results in a <code>GetProducts</code> call. To retrieve a list of all services, leave this blank.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#DescribeServicesResponse" : {
         "members" : {
            "FormatVersion" : {
               "target" : "com.amazonaws.pricing#FormatVersion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The format version of the response. For example, <code>aws_v1</code>.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token for the next set of retrievable results.</p>"
               }
            },
            "Services" : {
               "target" : "com.amazonaws.pricing#ServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service metadata for the service or services in the response.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#EffectiveDate" : {
         "type" : "timestamp"
      },
      "com.amazonaws.pricing#ExpiredNextTokenException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.pricing#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The pagination token expired. Try again without a pagination token.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#Field" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#FileFormat" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#FileFormats" : {
         "member" : {
            "target" : "com.amazonaws.pricing#FileFormat"
         },
         "type" : "list"
      },
      "com.amazonaws.pricing#Filter" : {
         "members" : {
            "Field" : {
               "target" : "com.amazonaws.pricing#Field",
               "traits" : {
                  "smithy.api#documentation" : "<p>The product metadata field that you want to filter on. You can filter by just the service code to see all products for a specific service, filter by just the attribute name to see a specific attribute for multiple services, or use both a service code and an attribute name to retrieve only products that match both fields.</p> <p>Valid values include: <code>ServiceCode</code>, and all attribute names</p> <p>For example, you can filter by the <code>AmazonEC2</code> service code and the <code>volumeType</code> attribute name to get the prices for only Amazon EC2 volumes.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Type" : {
               "target" : "com.amazonaws.pricing#FilterType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of filter that you want to use.</p> <p>Valid values are:</p> <ul> <li> <p> <code>TERM_MATCH</code>: Returns only products that match both the given filter field and the given value.</p> </li> <li> <p> <code>EQUALS</code>: Returns products that have a field value exactly matching the provided value.</p> </li> <li> <p> <code>CONTAINS</code>: Returns products where the field value contains the provided value as a substring.</p> </li> <li> <p> <code>ANY_OF</code>: Returns products where the field value is any of the provided values.</p> </li> <li> <p> <code>NONE_OF</code>: Returns products where the field value is not any of the provided values.</p> </li> </ul>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.pricing#Value",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service code or attribute value that you want to filter by. If you're filtering by service code this is the actual service code, such as <code>AmazonEC2</code>. If you're filtering by attribute name, this is the attribute value that you want the returned products to match, such as a <code>Provisioned IOPS</code> volume.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The constraints that you want all returned products to match.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#FilterType" : {
         "members" : {
            "ANY_OF" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ANY_OF"
               }
            },
            "CONTAINS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONTAINS"
               }
            },
            "EQUALS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EQUALS"
               }
            },
            "NONE_OF" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NONE_OF"
               }
            },
            "TERM_MATCH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TERM_MATCH"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.pricing#Filters" : {
         "member" : {
            "target" : "com.amazonaws.pricing#Filter"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.pricing#FormatVersion" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#GetAttributeValues" : {
         "errors" : [
            {
               "target" : "com.amazonaws.pricing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.pricing#ExpiredNextTokenException"
            },
            {
               "target" : "com.amazonaws.pricing#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidNextTokenException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidParameterException"
            },
            {
               "target" : "com.amazonaws.pricing#NotFoundException"
            },
            {
               "target" : "com.amazonaws.pricing#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.pricing#GetAttributeValuesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.pricing#GetAttributeValuesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of attribute values. Attributes are similar to the details in a Price List API offer file. For a list of available attributes, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/reading-an-offer.html#pps-defs\">Offer File Definitions</a> in the <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-what-is.html\">Billing and Cost Management User Guide</a>.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "AttributeValues",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.pricing#GetAttributeValuesMaxResults" : {
         "traits" : {
            "smithy.api#default" : 100,
            "smithy.api#range" : {
               "max" : 10000,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.pricing#GetAttributeValuesRequest" : {
         "members" : {
            "AttributeName" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the attribute that you want to retrieve the values for, such as <code>volumeType</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.pricing#GetAttributeValuesMaxResults",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>The maximum number of results to return in response.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results that you want to retrieve.</p>"
               }
            },
            "ServiceCode" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service code for the service whose attributes you want to retrieve. For example, if you want the retrieve an EC2 attribute, use <code>AmazonEC2</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#GetAttributeValuesResponse" : {
         "members" : {
            "AttributeValues" : {
               "target" : "com.amazonaws.pricing#AttributeValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of values for an attribute. For example, <code>Throughput Optimized HDD</code> and <code>Provisioned IOPS</code> are two available values for the <code>AmazonEC2</code> <code>volumeType</code>.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results to retrieve.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#GetPriceListFileUrl" : {
         "errors" : [
            {
               "target" : "com.amazonaws.pricing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.pricing#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidParameterException"
            },
            {
               "target" : "com.amazonaws.pricing#NotFoundException"
            },
            {
               "target" : "com.amazonaws.pricing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.pricing#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.pricing#GetPriceListFileUrlRequest"
         },
         "output" : {
            "target" : "com.amazonaws.pricing#GetPriceListFileUrlResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> <i> <b>This feature is in preview release and is subject to change. Your use of Amazon Web Services Price List API is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a> (Section 1.10).</b> </i> </p> <p>This returns the URL that you can retrieve your Price List file from. This URL is based on the <code>PriceListArn</code> and <code>FileFormat</code> that you retrieve from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\">ListPriceLists</a> response. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.pricing#GetPriceListFileUrlRequest" : {
         "members" : {
            "FileFormat" : {
               "target" : "com.amazonaws.pricing#FileFormat",
               "traits" : {
                  "smithy.api#documentation" : "<p>The format that you want to retrieve your Price List files in. The <code>FileFormat</code> can be obtained from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\">ListPriceLists</a> response. </p>",
                  "smithy.api#required" : {}
               }
            },
            "PriceListArn" : {
               "target" : "com.amazonaws.pricing#PriceListArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier that maps to where your Price List files are located. <code>PriceListArn</code> can be obtained from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\">ListPriceLists</a> response. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#GetPriceListFileUrlResponse" : {
         "members" : {
            "Url" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL to download your Price List file from. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#GetProducts" : {
         "errors" : [
            {
               "target" : "com.amazonaws.pricing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.pricing#ExpiredNextTokenException"
            },
            {
               "target" : "com.amazonaws.pricing#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidNextTokenException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidParameterException"
            },
            {
               "target" : "com.amazonaws.pricing#NotFoundException"
            },
            {
               "target" : "com.amazonaws.pricing#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.pricing#GetProductsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.pricing#GetProductsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of all products that match the filter criteria.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "PriceList",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.pricing#GetProductsMaxResults" : {
         "traits" : {
            "smithy.api#default" : 100,
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.pricing#GetProductsRequest" : {
         "members" : {
            "Filters" : {
               "target" : "com.amazonaws.pricing#Filters",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of filters that limit the returned products. only products that match all filters are returned.</p>"
               }
            },
            "FormatVersion" : {
               "target" : "com.amazonaws.pricing#FormatVersion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The format version that you want the response to be in.</p> <p>Valid values are: <code>aws_v1</code> </p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.pricing#GetProductsMaxResults",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>The maximum number of results to return in the response.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results that you want to retrieve.</p>"
               }
            },
            "ServiceCode" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The code for the service whose products you want to retrieve. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#GetProductsResponse" : {
         "members" : {
            "FormatVersion" : {
               "target" : "com.amazonaws.pricing#FormatVersion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The format version of the response. For example, aws_v1.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results to retrieve.</p>"
               }
            },
            "PriceList" : {
               "target" : "com.amazonaws.pricing#PriceListJsonItems",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of products that match your filters. The list contains both the product metadata and the price information.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#InternalErrorException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.pricing#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500,
            "smithy.api#retryable" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#InvalidNextTokenException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.pricing#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The pagination token is invalid. Try again without a pagination token.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#InvalidParameterException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.pricing#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>One or more parameters had an invalid value.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#ListPriceLists" : {
         "errors" : [
            {
               "target" : "com.amazonaws.pricing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.pricing#ExpiredNextTokenException"
            },
            {
               "target" : "com.amazonaws.pricing#InternalErrorException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidNextTokenException"
            },
            {
               "target" : "com.amazonaws.pricing#InvalidParameterException"
            },
            {
               "target" : "com.amazonaws.pricing#NotFoundException"
            },
            {
               "target" : "com.amazonaws.pricing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.pricing#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.pricing#ListPriceListsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.pricing#ListPriceListsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> <i> <b>This feature is in preview release and is subject to change. Your use of Amazon Web Services Price List API is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a> (Section 1.10).</b> </i> </p> <p>This returns a list of Price List references that the requester if authorized to view, given a <code>ServiceCode</code>, <code>CurrencyCode</code>, and an <code>EffectiveDate</code>. Use without a <code>RegionCode</code> filter to list Price List references from all available Amazon Web Services Regions. Use with a <code>RegionCode</code> filter to get the Price List reference that's specific to a specific Amazon Web Services Region. You can use the <code>PriceListArn</code> from the response to get your preferred Price List files through the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_GetPriceListFileUrl.html\">GetPriceListFileUrl</a> API.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "PriceLists",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.pricing#ListPriceListsRequest" : {
         "members" : {
            "CurrencyCode" : {
               "target" : "com.amazonaws.pricing#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The three alphabetical character ISO-4217 currency code that the Price List files are denominated in. </p>",
                  "smithy.api#required" : {}
               }
            },
            "EffectiveDate" : {
               "target" : "com.amazonaws.pricing#EffectiveDate",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date that the Price List file prices are effective from. </p>",
                  "smithy.api#required" : {}
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.pricing#MaxResults",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>The maximum number of results to return in the response. </p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results that you want to retrieve. </p>"
               }
            },
            "RegionCode" : {
               "target" : "com.amazonaws.pricing#RegionCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is used to filter the Price List by Amazon Web Services Region. For example, to get the price list only for the <code>US East (N. Virginia)</code> Region, use <code>us-east-1</code>. If nothing is specified, you retrieve price lists for all applicable Regions. The available <code>RegionCode</code> list can be retrieved from <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_GetAttributeValues.html\">GetAttributeValues</a> API.</p>"
               }
            },
            "ServiceCode" : {
               "target" : "com.amazonaws.pricing#ServiceCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service code or the Savings Plans service code for the attributes that you want to retrieve. For example, to get the list of applicable Amazon EC2 price lists, use <code>AmazonEC2</code>. For a full list of service codes containing On-Demand and Reserved Instance (RI) pricing, use the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_DescribeServices.html#awscostmanagement-pricing_DescribeServices-request-FormatVersion\">DescribeServices</a> API.</p> <p>To retrieve the Reserved Instance and Compute Savings Plans price lists, use <code>ComputeSavingsPlans</code>. </p> <p>To retrieve Machine Learning Savings Plans price lists, use <code>MachineLearningSavingsPlans</code>. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#ListPriceListsResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that indicates the next set of results to retrieve. </p>"
               }
            },
            "PriceLists" : {
               "target" : "com.amazonaws.pricing#PriceLists",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of price list references that match your request. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#MaxResults" : {
         "traits" : {
            "smithy.api#default" : 100,
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.pricing#NotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.pricing#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The requested resource can't be found.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#PriceList" : {
         "members" : {
            "CurrencyCode" : {
               "target" : "com.amazonaws.pricing#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The three alphabetical character ISO-4217 currency code the Price List files are denominated in. </p>"
               }
            },
            "FileFormats" : {
               "target" : "com.amazonaws.pricing#FileFormats",
               "traits" : {
                  "smithy.api#documentation" : "<p>The format you want to retrieve your Price List files. The <code>FileFormat</code> can be obtained from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\"> <code>ListPriceList</code> </a> response. </p>"
               }
            },
            "PriceListArn" : {
               "target" : "com.amazonaws.pricing#PriceListArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier that maps to where your Price List files are located. <code>PriceListArn</code> can be obtained from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\"> <code>ListPriceList</code> </a> response. </p>"
               }
            },
            "RegionCode" : {
               "target" : "com.amazonaws.pricing#RegionCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is used to filter the Price List by Amazon Web Services Region. For example, to get the price list only for the <code>US East (N. Virginia)</code> Region, use <code>us-east-1</code>. If nothing is specified, you retrieve price lists for all applicable Regions. The available <code>RegionCode</code> list can be retrieved from <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_GetAttributeValues.html\"> <code>GetAttributeValues</code> </a> API. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> <i> <b>This feature is in preview release and is subject to change. Your use of Amazon Web Services Price List API is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a> (Section 1.10).</b> </i> </p> <p>This is the type of price list references that match your request. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#PriceListArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 18
            },
            "smithy.api#pattern" : "^arn:[A-Za-z0-9][-.A-Za-z0-9]{0,62}:pricing:::price-list/[A-Za-z0-9+_/.-]{1,1023}$"
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#PriceListJsonItems" : {
         "member" : {
            "target" : "com.amazonaws.pricing#SynthesizedJsonPriceListJsonItem"
         },
         "type" : "list"
      },
      "com.amazonaws.pricing#PriceLists" : {
         "member" : {
            "target" : "com.amazonaws.pricing#PriceList"
         },
         "type" : "list"
      },
      "com.amazonaws.pricing#RegionCode" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#ResourceNotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.pricing#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The requested resource can't be found.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#Service" : {
         "members" : {
            "AttributeNames" : {
               "target" : "com.amazonaws.pricing#AttributeNameList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The attributes that are available for this service.</p>"
               }
            },
            "ServiceCode" : {
               "target" : "com.amazonaws.pricing#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The code for the Amazon Web Services service.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The metadata for a service, such as the service code and available attribute names.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#ServiceCode" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#ServiceList" : {
         "member" : {
            "target" : "com.amazonaws.pricing#Service"
         },
         "type" : "list"
      },
      "com.amazonaws.pricing#String" : {
         "type" : "string"
      },
      "com.amazonaws.pricing#SynthesizedJsonPriceListJsonItem" : {
         "traits" : {
            "smithy.api#mediaType" : "application/json"
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#ThrottlingException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.pricing#errorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You've made too many requests exceeding service quotas. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429,
            "smithy.api#retryable" : {
               "throttling" : true
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.pricing#Value" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.pricing#errorMessage" : {
         "type" : "string"
      }
   },
   "smithy" : "2.0"
}
