{
   "shapes" : {
      "com.amazonaws.lambda#AWSGirApiService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.lambda#CheckpointDurableExecution"
            },
            {
               "target" : "com.amazonaws.lambda#DeleteFunction"
            },
            {
               "target" : "com.amazonaws.lambda#DeleteFunctionEventInvokeConfig"
            },
            {
               "target" : "com.amazonaws.lambda#GetAccountSettings"
            },
            {
               "target" : "com.amazonaws.lambda#GetDurableExecution"
            },
            {
               "target" : "com.amazonaws.lambda#GetDurableExecutionHistory"
            },
            {
               "target" : "com.amazonaws.lambda#GetDurableExecutionState"
            },
            {
               "target" : "com.amazonaws.lambda#GetFunctionEventInvokeConfig"
            },
            {
               "target" : "com.amazonaws.lambda#ListDurableExecutionsByFunction"
            },
            {
               "target" : "com.amazonaws.lambda#ListFunctionEventInvokeConfigs"
            },
            {
               "target" : "com.amazonaws.lambda#ListTags"
            },
            {
               "target" : "com.amazonaws.lambda#PutFunctionEventInvokeConfig"
            },
            {
               "target" : "com.amazonaws.lambda#SendDurableExecutionCallbackFailure"
            },
            {
               "target" : "com.amazonaws.lambda#SendDurableExecutionCallbackHeartbeat"
            },
            {
               "target" : "com.amazonaws.lambda#SendDurableExecutionCallbackSuccess"
            },
            {
               "target" : "com.amazonaws.lambda#StopDurableExecution"
            },
            {
               "target" : "com.amazonaws.lambda#TagResource"
            },
            {
               "target" : "com.amazonaws.lambda#UntagResource"
            },
            {
               "target" : "com.amazonaws.lambda#UpdateFunctionEventInvokeConfig"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.lambda#CapacityProviderResource"
            },
            {
               "target" : "com.amazonaws.lambda#CodeSigningConfigResource"
            },
            {
               "target" : "com.amazonaws.lambda#EventSourceMapping"
            },
            {
               "target" : "com.amazonaws.lambda#Function"
            },
            {
               "target" : "com.amazonaws.lambda#FunctionAlias"
            },
            {
               "target" : "com.amazonaws.lambda#FunctionVersionResource"
            },
            {
               "target" : "com.amazonaws.lambda#LayerResource"
            },
            {
               "target" : "com.amazonaws.lambda#LayerVersion"
            },
            {
               "target" : "com.amazonaws.lambda#Permission"
            },
            {
               "target" : "com.amazonaws.lambda#ProvisionedConcurrencyConfig"
            },
            {
               "target" : "com.amazonaws.lambda#ResourcePolicy"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "lambda",
               "cloudFormationName" : "Lambda",
               "cloudTrailEventSource" : "lambda.amazonaws.com",
               "endpointPrefix" : "lambda",
               "sdkId" : "Lambda"
            },
            "aws.api#tagEnabled" : {
               "disableDefaultOperations" : true
            },
            "aws.auth#sigv4" : {
               "name" : "lambda"
            },
            "aws.iam#defineConditionKeys" : {
               "aws:RequestTag/${TagKey}" : {
                  "documentation" : "Filters access by the tags that are passed in the request",
                  "externalDocumentation" : "${DocHomeURL}/IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag",
                  "required" : false,
                  "type" : "String"
               },
               "aws:ResourceTag/${TagKey}" : {
                  "documentation" : "Filters access by the tags associated with the resource",
                  "externalDocumentation" : "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag",
                  "required" : false,
                  "type" : "String"
               },
               "aws:TagKeys" : {
                  "documentation" : "Filters access by the tag keys that are passed in the request",
                  "externalDocumentation" : "${DocHomeURL}/IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys",
                  "required" : false,
                  "type" : "ArrayOfString"
               },
               "lambda:CodeSigningConfigArn" : {
                  "documentation" : "Filters access by the ARN of an AWS Lambda code signing config",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "ARN"
               },
               "lambda:EventSourceToken" : {
                  "documentation" : "Filters access by the ID from a non-AWS event source configured for the AWS Lambda function",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "String"
               },
               "lambda:FunctionArn" : {
                  "documentation" : "Filters access by the ARN of an AWS Lambda function",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "ARN"
               },
               "lambda:FunctionUrlAuthType" : {
                  "documentation" : "Filters access by authorization type specified in request. Available during CreateFunctionUrlConfig, UpdateFunctionUrlConfig, DeleteFunctionUrlConfig, GetFunctionUrlConfig, ListFunctionUrlConfig, AddPermission and RemovePermission operations",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "String"
               },
               "lambda:Layer" : {
                  "documentation" : "Filters access by the ARN of a version of an AWS Lambda layer",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "ArrayOfString"
               },
               "lambda:Principal" : {
                  "documentation" : "Filters access by restricting the AWS service or account that can invoke a function",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "String"
               },
               "lambda:SecurityGroupIds" : {
                  "documentation" : "Filters access by the ID of security groups configured for the AWS Lambda function",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "ArrayOfString"
               },
               "lambda:SourceFunctionArn" : {
                  "documentation" : "Filters access by the ARN of the AWS Lambda function from which the request originated",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "ARN"
               },
               "lambda:SubnetIds" : {
                  "documentation" : "Filters access by the ID of subnets configured for the AWS Lambda function",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "ArrayOfString"
               },
               "lambda:VpcIds" : {
                  "documentation" : "Filters access by the ID of the VPC configured for the AWS Lambda function",
                  "relativeDocumentation" : "lambda-api-permissions-ref.html",
                  "required" : false,
                  "type" : "String"
               }
            },
            "aws.iam#disableConditionKeyInference" : {},
            "aws.iam#supportedPrincipalTypes" : [
               "Root",
               "IAMUser",
               "IAMRole",
               "FederatedUser"
            ],
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<fullname>Lambda</fullname> <p> <b>Overview</b> </p> <p>Lambda is a compute service that lets you run code without provisioning or managing servers. Lambda runs your code on a high-availability compute infrastructure and performs all of the administration of the compute resources, including server and operating system maintenance, capacity provisioning and automatic scaling, code monitoring and logging. With Lambda, you can run code for virtually any type of application or backend service. For more information about the Lambda service, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is Lambda</a> in the <b>Lambda Developer Guide</b>.</p> <p>The <i>Lambda API Reference</i> provides information about each of the API methods, including details about the parameters in each API request and response. </p> <p/> <p>You can use Software Development Kits (SDKs), Integrated Development Environment (IDE) Toolkits, and command line tools to access the API. For installation instructions, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>. </p> <p>For a list of Region-specific endpoints that Lambda supports, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/lambda-service.html\">Lambda endpoints and quotas </a> in the <i>Amazon Web Services General Reference.</i>. </p> <p>When making the API calls, you will need to authenticate your request by providing a signature. Lambda supports signature version 4. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 signing process</a> in the <i>Amazon Web Services General Reference.</i>. </p> <p> <b>CA certificates</b> </p> <p>Because Amazon Web Services SDKs use the CA certificates from your computer, changes to the certificates on the Amazon Web Services servers can cause connection failures when you attempt to use an SDK. You can prevent these failures by keeping your computer's CA certificates and operating system up-to-date. If you encounter this issue in a corporate environment and do not manage your own computer, you might need to ask an administrator to assist with the update process. The following list shows minimum operating system and Java versions:</p> <ul> <li> <p>Microsoft Windows versions that have updates from January 2005 or later installed contain at least one of the required CAs in their trust list. </p> </li> <li> <p>Mac OS X 10.4 with Java for Mac OS X 10.4 Release 5 (February 2007), Mac OS X 10.5 (October 2007), and later versions contain at least one of the required CAs in their trust list. </p> </li> <li> <p>Red Hat Enterprise Linux 5 (March 2007), 6, and 7 and CentOS 5, 6, and 7 all contain at least one of the required CAs in their default trusted CA list. </p> </li> <li> <p>Java 1.4.2_12 (May 2006), 5 Update 2 (March 2005), and all later versions, including Java 6 (December 2006), 7, and 8, contain at least one of the required CAs in their default trusted CA list. </p> </li> </ul> <p>When accessing the Lambda management console or Lambda API endpoints, whether through browsers or programmatically, you will need to ensure your client machines support any of the following CAs: </p> <ul> <li> <p>Amazon Root CA 1</p> </li> <li> <p>Starfield Services Root Certificate Authority - G2</p> </li> <li> <p>Starfield Class 2 Certification Authority</p> </li> </ul> <p>Root certificates from the first two authorities are available from <a href=\"https://www.amazontrust.com/repository/\">Amazon trust services</a>, but keeping your computer up-to-date is the more straightforward solution. To learn more about ACM-provided certificates, see <a href=\"http://aws.amazon.com/certificate-manager/faqs/#certificates\">Amazon Web Services Certificate Manager FAQs.</a> </p>",
            "smithy.api#paginated" : {
               "inputToken" : "Marker",
               "outputToken" : "NextMarker",
               "pageSize" : "MaxItems"
            },
            "smithy.api#suppress" : [
               "ServiceTagging"
            ],
            "smithy.api#title" : "AWS Lambda",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://lambda-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://lambda-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://lambda.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://lambda.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.af-south-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-northeast-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-northeast-2.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-northeast-3.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-south-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-southeast-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-southeast-2.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-southeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ap-southeast-3.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-3",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.ca-central-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-central-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-north-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-south-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-west-2.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.eu-west-3.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.me-south-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.sa-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-east-2.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-west-2.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-iso-west-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://lambda-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2015-03-31"
      },
      "com.amazonaws.lambda#AccountLimit" : {
         "members" : {
            "CodeSizeUnzipped" : {
               "target" : "com.amazonaws.lambda#Long",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum size of a function's deployment package and layers when they're extracted.</p>"
               }
            },
            "CodeSizeZipped" : {
               "target" : "com.amazonaws.lambda#Long",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum size of a deployment package when it's uploaded directly to Lambda. Use Amazon S3 for larger files.</p>"
               }
            },
            "ConcurrentExecutions" : {
               "target" : "com.amazonaws.lambda#Integer",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum number of simultaneous function executions.</p>"
               }
            },
            "TotalCodeSize" : {
               "target" : "com.amazonaws.lambda#Long",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The amount of storage space that you can use for all deployment packages and layer archives.</p>"
               }
            },
            "UnreservedConcurrentExecutions" : {
               "target" : "com.amazonaws.lambda#UnreservedConcurrentExecutions",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of simultaneous function executions, minus the capacity that's reserved for individual functions with <a>PutFunctionConcurrency</a>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Limits that are related to concurrency and storage. All file and storage sizes are in bytes.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#AccountUsage" : {
         "members" : {
            "FunctionCount" : {
               "target" : "com.amazonaws.lambda#Long",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The number of Lambda functions.</p>"
               }
            },
            "TotalCodeSize" : {
               "target" : "com.amazonaws.lambda#Long",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The amount of storage space, in bytes, that's being used by deployment packages and layer archives.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The number of functions and amount of storage in use.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#Action" : {
         "traits" : {
            "smithy.api#pattern" : "^(lambda:[*]|lambda:[a-zA-Z]+|[*])$"
         },
         "type" : "string"
      },
      "com.amazonaws.lambda#AddLayerVersionPermission" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lambda#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.lambda#PolicyLengthExceededException"
            },
            {
               "target" : "com.amazonaws.lambda#PreconditionFailedException"
            },
            {
               "target" : "com.amazonaws.lambda#ResourceConflictException"
            },
            {
               "target" : "com.amazonaws.lambda#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lambda#ServiceException"
            },
            {
               "target" : "com.amazonaws.lambda#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lambda#AddLayerVersionPermissionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.lambda#AddLayerVersionPermissionResponse"
         },
         "traits" : {
            "aws.iam#iamAction" : {
               "documentation" : "Grants permission to add permissions to the resource-based policy of a version of an AWS Lambda layer",
               "relativeDocumentation" : "API_AddLayerVersionPermission.html",
               "resources" : {
                  "required" : {
                     "layerVersion" : {}
                  }
               }
            },
            "smithy.api#documentation" : "<p>Adds permissions to the resource-based policy of a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a>. Use this action to grant layer usage permission to other accounts. You can grant permission to a single account, all accounts in an organization, or all Amazon Web Services accounts. </p> <p>To revoke permission, call <a>RemoveLayerVersionPermission</a> with the statement ID that you specified when you added it.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "POST",
               "uri" : "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.lambda#AddLayerVersionPermissionRequest" : {
         "members" : {
            "Action" : {
               "target" : "com.amazonaws.lambda#LayerPermissionAllowedAction",
               "traits" : {
                  "smithy.api#documentation" : "<p>The API action that grants access to the layer. For example, <code>lambda:GetLayerVersion</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "LayerName" : {
               "target" : "com.amazonaws.lambda#LayerName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "OrganizationId" : {
               "target" : "com.amazonaws.lambda#OrganizationId",
               "traits" : {
                  "smithy.api#documentation" : "<p>With the principal set to <code>*</code>, grant permission to all accounts in the specified organization.</p>"
               }
            },
            "Principal" : {
               "target" : "com.amazonaws.lambda#LayerPermissionAllowedPrincipal",
               "traits" : {
                  "smithy.api#documentation" : "<p>An account ID, or <code>*</code> to grant layer usage permission to all accounts in an organization, or all Amazon Web Services accounts (if <code>organizationId</code> is not specified). For the last case, make sure that you really do want all Amazon Web Services accounts to have usage permission to this layer. </p>",
                  "smithy.api#required" : {}
               }
            },
            "RevisionId" : {
               "target" : "com.amazonaws.lambda#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Only update the policy if the revision ID matches the ID specified. Use this option to avoid modifying a policy that has changed since you last read it.</p>",
                  "smithy.api#httpQuery" : "RevisionId"
               }
            },
            "StatementId" : {
               "target" : "com.amazonaws.lambda#StatementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>An identifier that distinguishes the policy from others on the same layer version.</p>",
                  "smithy.api#required" : {}
               }
            },
            "VersionNumber" : {
               "target" : "com.amazonaws.lambda#LayerVersionNumber",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>The version number.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.api#data" : "permissions",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#AddLayerVersionPermissionResponse" : {
         "members" : {
            "RevisionId" : {
               "target" : "com.amazonaws.lambda#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the current revision of the policy.</p>"
               }
            },
            "Statement" : {
               "target" : "com.amazonaws.lambda#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The permission statement.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#AddPermission" : {
         "errors" : [
            {
               "target" : "com.amazonaws.lambda#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.lambda#PolicyLengthExceededException"
            },
            {
               "target" : "com.amazonaws.lambda#PreconditionFailedException"
            },
            {
               "target" : "com.amazonaws.lambda#ResourceConflictException"
            },
            {
               "target" : "com.amazonaws.lambda#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.lambda#ServiceException"
            },
            {
               "target" : "com.amazonaws.lambda#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.lambda#AddPermissionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.lambda#AddPermissionResponse"
         },
         "traits" : {
            "aws.iam#conditionKeys" : [
               "lambda:FunctionUrlAuthType",
               "lambda:Principal"
            ],
            "aws.iam#iamAction" : {
               "documentation" : "Grants permission to give an AWS service or another account permission to use an AWS Lambda function",
               "relativeDocumentation" : "API_AddPermission.html",
               "resources" : {
                  "required" : {
                     "function" : {}
                  }
               }
            },
            "smithy.api#documentation" : "<p>Grants a <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\">principal</a> permission to use a function. You can apply the policy at the function level, or specify a qualifier to restrict access to a single version or alias. If you use a qualifier, the invoker must use the full Amazon Resource Name (ARN) of that version or alias to invoke the function. Note: Lambda does not support adding policies to version $LATEST.</p> <p>To grant permission to another account, specify the account ID as the <code>Principal</code>. To grant permission to an organization defined in Organizations, specify the organization ID as the <code>PrincipalOrgID</code>. For Amazon Web Services services, the principal is a domain-style identifier that the service defines, such as <code>s3.amazonaws.com</code> or <code>sns.amazonaws.com</code>. For Amazon Web Services services, you can also specify the ARN of the associated resource as the <code>SourceArn</code>. If you grant permission to a service principal without specifying the source, other accounts could potentially configure resources in their account to invoke your Lambda function.</p> <p>This operation adds a statement to a resource-based permissions policy for the function. For more information about function policies, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">Using resource-based policies for Lambda</a>.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "POST",
               "uri" : "/2015-03-31/functions/{FunctionName}/policy"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.lambda#AddPermissionRequest" : {
         "members" : {
            "Action" : {
               "target" : "com.amazonaws.lambda#Action",
               "traits" : {
                  "smithy.api#documentation" : "<p>The action that the principal can use on the function. For example, <code>lambda:InvokeFunction</code> or <code>lambda:GetFunction</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "EventSourceToken" : {
               "target" : "com.amazonaws.lambda#EventSourceToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>For Alexa Smart Home functions, a token that the invoker must supply.</p>"
               }
            },
            "FunctionName" : {
               "target" : "com.amazonaws.lambda#NamespacedFunctionName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name or ARN of the Lambda function, version, or alias.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> – <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p> </li> <li> <p> <b>Function ARN</b> – <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> – <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "FunctionUrlAuthType" : {
               "target" : "com.amazonaws.lambda#FunctionUrlAuthType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of authentication that your function URL uses. Set to <code>AWS_IAM</code> if you want to restrict access to authenticated users only. Set to <code>NONE</code> if you want to bypass IAM authentication to create a public endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/urls-auth.html\">Control access to Lambda function URLs</a>.</p>"
               }
            },
            "InvokedViaFunctionUrl" : {
               "target" : "com.amazonaws.lambda#InvokedViaFunctionUrl",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates whether the permission applies when the function is invoked through a function URL. </p>"
               }
            },
            "Principal" : {
               "target" : "com.amazonaws.lambda#Principal",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Web Services service, Amazon Web Services account, IAM user, or IAM role that invokes the function. If you specify a service, use <code>SourceArn</code> or <code>SourceAccount</code> to limit who can invoke the function through that service.</p>",
                  "smithy.api#required" : {}
               }
            },
            "PrincipalOrgID" : {
               "target" : "com.amazonaws.lambda#PrincipalOrgID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for your organization in Organizations. Use this to grant permissions to all the Amazon Web Services accounts under this organization.</p>"
               }
            },
            "Qualifier" : {
               "target" : "com.amazonaws.lambda#NumericLatestPublishedOrAliasQualifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specify a version or alias to add permissions to a published version of the function.</p>",
                  "smithy.api#httpQuery" : "Qualifier"
               }
            },
            "RevisionId" : {
               "target" : "com.amazonaws.lambda#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Update the policy only if the revision ID matches the ID that's specified. Use this option to avoid modifying a policy that has changed since you last read it.</p>"
               }
            },
            "SourceAccount" : {
               "target" : "com.amazonaws.lambda#SourceOwner",
               "traits" : {
                  "smithy.api#documentation" : "<p>For Amazon Web Services service, the ID of the Amazon Web Services account that owns the resource. Use this together with <code>SourceArn</code> to ensure that the specified account owns the resource. It is possible for an Amazon S3 bucket to be deleted by its owner and recreated by another account.</p>"
               }
            },
            "SourceArn" : {
               "target" : "com.amazonaws.lambda#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>For Amazon Web Services services, the ARN of the Amazon Web Services resource that invokes the function. For example, an Amazon S3 bucket or Amazon SNS topic.</p> <p>Note that Lambda configures the comparison using the <code>StringLike</code> operator.</p>"
               }
            },
            "StatementId" : {
               "target" : "com.amazonaws.lambda#StatementId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.api#data" : "permissions",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#AddPermissionResponse" : {
         "members" : {
            "Statement" : {
               "target" : "com.amazonaws.lambda#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The permission statement that's added to the function policy.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#AdditionalVersion" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^[0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.lambda#AdditionalVersionWeights" : {
         "key" : {
            "target" : "com.amazonaws.lambda#AdditionalVersion"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.lambda#Weight"
         }
      },
      "com.amazonaws.lambda#Alias" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?!^[0-9]+$)([a-zA-Z0-9-_]+)$"
         },
         "type" : "string"
      },
      "com.amazonaws.lambda#AliasConfiguration" : {
         "members" : {
            "AliasArn" : {
               "target" : "com.amazonaws.lambda#FunctionArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the alias.</p>"
               }
            },
            "Description" : {
               "target" : "com.amazonaws.lambda#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the alias.</p>"
               }
            },
            "FunctionVersion" : {
               "target" : "com.amazonaws.lambda#Version",
               "traits" : {
                  "smithy.api#documentation" : "<p>The function version that the alias invokes.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.lambda#Alias",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the alias.</p>"
               }
            },
            "RevisionId" : {
               "target" : "com.amazonaws.lambda#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier that changes when you update the alias.</p>"
               }
            },
            "RoutingConfig" : {
               "target" : "com.amazonaws.lambda#AliasRoutingConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">routing configuration</a> of the alias.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides configuration information about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-aliases.html\">alias</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#AliasList" : {
         "member" : {
            "target" : "com.amazonaws.lambda#AliasConfiguration"
         },
         "type" : "list"
      },
      "com.amazonaws.lambda#AliasRoutingConfiguration" : {
         "members" : {
            "AdditionalVersionWeights" : {
               "target" : "com.amazonaws.lambda#AdditionalVersionWeights",
               "traits" : {
                  "smithy.api#documentation" : "<p>The second version, and the percentage of traffic that's routed to it.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">traffic-shifting</a> configuration of a Lambda function alias.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#AllowCredentials" : {
         "type" : "boolean"
      },
      "com.amazonaws.lambda#AllowMethodsList" : {
         "member" : {
            "target" : "com.amazonaws.lambda#Method"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 6,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.lambda#AllowOriginsList" : {
         "member" : {
            "target" : "com.amazonaws.lambda#Origin"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.lambda#AllowedPublishers" : {
         "members" : {
            "SigningProfileVersionArns" : {
               "target" : "com.amazonaws.lambda#SigningProfileVersionArns",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for each of the signing profiles. A signing profile defines a trusted user who can sign a code package. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>List of signing profiles that can sign a code package. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#AmazonManagedKafkaEventSourceConfig" : {
         "members" : {
            "ConsumerGroupId" : {
               "target" : "com.amazonaws.lambda#URI",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for the Kafka consumer group to join. The consumer group ID must be unique among all your Kafka event sources. After creating a Kafka event source mapping with the consumer group ID specified, you cannot update this value. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html#services-msk-consumer-group-id\">Customizable consumer group ID</a>.</p>"
               }
            },
            "SchemaRegistryConfig" : {
               "target" : "com.amazonaws.lambda#KafkaSchemaRegistryConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specific configuration settings for a Kafka schema registry.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Specific configuration settings for an Amazon Managed Streaming for Apache Kafka (Amazon MSK) event source.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#ApplicationLogLevel" : {
         "members" : {
            "Debug" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEBUG"
               }
            },
            "Error" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ERROR"
               }
            },
            "Fatal" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FATAL"
               }
            },
            "Info" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INFO"
               }
            },
            "Trace" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TRACE"
               }
            },
            "Warn" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "WARN"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.lambda#Architecture" : {
         "members" : {
            "arm64" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "arm64"
               }
            },
            "x86_64" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "x86_64"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.lambda#ArchitecturesList" : {
         "member" : {
            "target" : "com.amazonaws.lambda#Architecture"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.lambda#Arn" : {
         "traits" : {
            "smithy.api#pattern" : "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$"
         },
         "type" : "string"
      },
      "com.amazonaws.lambda#AttemptCount" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.lambda#BatchSize" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 10000,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.lambda#BinaryOperationPayload" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 262144,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "blob"
      },
      "com.amazonaws.lambda#BisectBatchOnFunctionError" : {
         "type" : "boolean"
      },
      "com.amazonaws.lambda#Blob" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "blob"
      },
      "com.amazonaws.lambda#BlobStream" : {
         "traits" : {
            "smithy.api#streaming" : {}
         },
         "type" : "blob"
      },
      "com.amazonaws.lambda#Boolean" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.lambda#CallbackDetails" : {
         "members" : {
            "CallbackId" : {
               "target" : "com.amazonaws.lambda#CallbackId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The callback ID. Callback IDs are generated by the <code>DurableContext</code> when a durable function calls <code>ctx.waitForCallback</code>.</p>"
               }
            },
            "Error" : {
               "target" : "com.amazonaws.lambda#ErrorObject",
               "traits" : {
                  "smithy.api#documentation" : "<p>An error object that contains details about the failure.</p>"
               }
            },
            "Result" : {
               "target" : "com.amazonaws.lambda#OperationPayload",
               "traits" : {
                  "smithy.api#documentation" : "<p>The response payload from the callback operation as a string.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains details about a callback operation in a durable execution, including the callback token and timeout configuration.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#CallbackFailedDetails" : {
         "members" : {
            "Error" : {
               "target" : "com.amazonaws.lambda#EventError",
               "traits" : {
                  "smithy.api#documentation" : "<p>An error object that contains details about the failure.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains details about a failed callback operation, including error information and the reason for failure.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#CallbackId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Za-z0-9+/]+={0,2}$"
         },
         "type" : "string"
      },
      "com.amazonaws.lambda#CallbackOptions" : {
         "members" : {
            "HeartbeatTimeoutSeconds" : {
               "target" : "com.amazonaws.lambda#DurationSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The heartbeat timeout for the callback operation, in seconds. If not specified or set to 0, heartbeat timeout is disabled.</p>"
               }
            },
            "TimeoutSeconds" : {
               "target" : "com.amazonaws.lambda#DurationSeconds",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The timeout for the callback operation in seconds. If not specified or set to 0, the callback has no timeout.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configuration options for callback operations in durable executions, including timeout settings and retry behavior.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#CallbackStartedDetails" : {
         "members" : {
            "CallbackId" : {
               "target" : "com.amazonaws.lambda#CallbackId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The callback ID. Callback IDs are generated by the <code>DurableContext</code> when a durable function calls <code>ctx.waitForCallback</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "HeartbeatTimeout" : {
               "target" : "com.amazonaws.lambda#DurationSeconds",
               "traits" : {
                  "smithy.api#documentation" : "<p>The heartbeat timeout value, in seconds.</p>"
               }
            },
            "Timeout" : {
               "target" : "com.amazonaws.lambda#DurationSeconds",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timeout value, in seconds.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains details about a callback operation that has started, including timing information and callback metadata.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.lambda#CallbackSucceededDetails" : {
         "members" : {
            "Result" : {
               "target" : "com.amazonaws.lambda#EventResult",
               "traits" : {
                  "smithy.api#documentation" : "<p>The response payload from the successful operation.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains details about a successfully completed callback operation, including the result data and completion timestamp.</p>"
         },
         "type" : "structure"
      },
[...]
