{
   "shapes" : {
      "com.amazonaws.codecatalyst#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request was denied because you don't have sufficient access to perform this action. Verify that you are a member of a role that allows this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#AccessToken" : {
         "create" : {
            "target" : "com.amazonaws.codecatalyst#CreateAccessToken"
         },
         "delete" : {
            "target" : "com.amazonaws.codecatalyst#DeleteAccessToken"
         },
         "identifiers" : {
            "accessTokenId" : {
               "target" : "com.amazonaws.codecatalyst#AccessTokenId"
            }
         },
         "list" : {
            "target" : "com.amazonaws.codecatalyst#ListAccessTokens"
         },
         "type" : "resource"
      },
      "com.amazonaws.codecatalyst#AccessTokenId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codecatalyst#AccessTokenName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codecatalyst#AccessTokenSecret" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 4000,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.codecatalyst#AccessTokenSummaries" : {
         "member" : {
            "target" : "com.amazonaws.codecatalyst#AccessTokenSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.codecatalyst#AccessTokenSummary" : {
         "members" : {
            "expiresTime" : {
               "target" : "com.amazonaws.codecatalyst#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the personal access token will expire, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "id" : {
               "target" : "com.amazonaws.codecatalyst#AccessTokenId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated ID of the personal access token.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "accessTokenId"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#AccessTokenName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name of the personal access token.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a specified personal access token (PAT).</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#ClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codecatalyst#CodeCatalyst" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codecatalyst#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codecatalyst#ConflictException"
            },
            {
               "target" : "com.amazonaws.codecatalyst#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codecatalyst#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.codecatalyst#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codecatalyst#ValidationException"
            }
         ],
         "operations" : [
            {
               "target" : "com.amazonaws.codecatalyst#GetUserDetails"
            },
            {
               "target" : "com.amazonaws.codecatalyst#VerifySession"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.codecatalyst#AccessToken"
            },
            {
               "target" : "com.amazonaws.codecatalyst#Space"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "endpointPrefix" : "codecatalyst",
               "sdkId" : "CodeCatalyst"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Welcome to the Amazon CodeCatalyst API reference. This reference provides descriptions of operations and data types for Amazon CodeCatalyst. You can use the Amazon CodeCatalyst \n      API to work with the following objects. </p>\n         <p>Spaces, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DeleteSpace</a>, which deletes a space.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetSpace</a>, which returns information about a space.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetSubscription</a>, which returns information about the Amazon Web Services account used for billing purposes \n        and the billing plan for the space.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListSpaces</a>, which retrieves a list of spaces.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateSpace</a>, which changes one or more values for a space.</p>\n            </li>\n         </ul>\n         <p>Projects, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateProject</a> which creates a project in a specified space.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetProject</a>, which returns information about a project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListProjects</a>, which retrieves a list of projects in a space.</p>\n            </li>\n         </ul>\n         <p>Users, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>GetUserDetails</a>, which returns information about a user in Amazon CodeCatalyst.</p>\n            </li>\n         </ul>\n         <p>Source repositories, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateSourceRepository</a>, which creates an empty Git-based source repository in a specified project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateSourceRepositoryBranch</a>, which creates a branch in a specified repository where you can work on code.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteSourceRepository</a>, which deletes a source repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetSourceRepository</a>, which returns information about a source repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetSourceRepositoryCloneUrls</a>, which returns information about the URLs that can be used with a Git client to clone a source\n        repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListSourceRepositories</a>, which retrieves a list of source repositories in a project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListSourceRepositoryBranches</a>, which retrieves a list of branches in a source repository.</p>\n            </li>\n         </ul>\n         <p>Dev Environments and the Amazon Web Services Toolkits, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateDevEnvironment</a>, which creates a Dev Environment, \n       where you can quickly work on the code stored in the source repositories of your project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteDevEnvironment</a>, which deletes a Dev Environment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetDevEnvironment</a>, which returns information about a Dev Environment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListDevEnvironments</a>, which retrieves a list of Dev Environments in a project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListDevEnvironmentSessions</a>, which retrieves a list of active Dev Environment sessions in a project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StartDevEnvironment</a>, which starts a specified Dev Environment and puts it into an active state.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StartDevEnvironmentSession</a>, which starts a session to a specified Dev Environment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StopDevEnvironment</a>, which stops a specified Dev Environment and puts it into an stopped state.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StopDevEnvironmentSession</a>, which stops a session for a specified Dev Environment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateDevEnvironment</a>, which changes one or more values for a Dev Environment.</p>\n            </li>\n         </ul>\n         <p>Workflows, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>GetWorkflow</a>, which returns information about a workflow.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetWorkflowRun</a>, which returns information about a specified run of a workflow.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListWorkflowRuns</a>, which retrieves a list of runs of a specified workflow.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListWorkflows</a>, which retrieves a list of workflows in a specified project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StartWorkflowRun</a>, which starts a run of a specified workflow.</p>\n            </li>\n         </ul>\n         <p>Security, activity, and resource management in Amazon CodeCatalyst, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateAccessToken</a>, which creates a personal access token (PAT) for the current user.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteAccessToken</a>, which deletes a specified personal access token (PAT).</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListAccessTokens</a>, which lists all personal access tokens (PATs) associated with a user.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListEventLogs</a>, which retrieves a list of events that occurred during a specified time period in a space.</p>\n            </li>\n            <li>\n               <p>\n                  <a>VerifySession</a>, which verifies whether the calling user has a valid Amazon CodeCatalyst login and session.</p>\n            </li>\n         </ul>\n         <note>\n            <p>If you are using the Amazon CodeCatalyst APIs with an SDK or the CLI, you must configure your computer to work with Amazon CodeCatalyst and single sign-on (SSO).\n        For more information, see <a href=\"https://docs.aws.amazon.com/codecatalyst/latest/userguide/set-up-cli.html\">Setting up to use the CLI with Amazon CodeCatalyst</a>\n      and the SSO documentation for your SDK.</p>\n         </note>",
            "smithy.api#httpBearerAuth" : {},
            "smithy.api#title" : "Amazon CodeCatalyst",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {},
                        "url" : {
                           "ref" : "Endpoint"
                        }
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              "us-west-2"
                           ],
                           "assign" : "PartitionResult",
                           "fn" : "aws.partition"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "supportsFIPS"
                                             ],
                                             "fn" : "getAttr"
                                          },
                                          false
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Partition does not support FIPS.",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://codecatalyst-fips.global.{PartitionResult#dualStackDnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : "https://codecatalyst.global.{PartitionResult#dualStackDnsSuffix}"
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        },
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "assign" : "PartitionResult",
                           "fn" : "aws.partition"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "supportsFIPS"
                                             ],
                                             "fn" : "getAttr"
                                          },
                                          false
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Partition does not support FIPS.",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://codecatalyst-fips.global.{PartitionResult#dualStackDnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : "https://codecatalyst.global.{PartitionResult#dualStackDnsSuffix}"
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "Override endpoint",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://test.codecatalyst.global.api.aws"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://test.codecatalyst.global.api.aws"
                     }
                  },
                  {
                     "documentation" : "Default endpoint (region not set)",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codecatalyst.global.api.aws"
                        }
                     },
                     "params" : {}
                  },
                  {
                     "documentation" : "Default FIPS endpoint (region not set)",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codecatalyst-fips.global.api.aws"
                        }
                     },
                     "params" : {
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Default endpoint (region: aws-global)",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codecatalyst.global.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "aws-global"
                     }
                  },
                  {
                     "documentation" : "Default FIPS endpoint (region: aws-global)",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codecatalyst-fips.global.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "aws-global",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Default endpoint for a valid home region (region: us-west-2)",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codecatalyst.global.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2"
                     }
                  },
                  {
                     "documentation" : "Default FIPS endpoint for a valid home region (region: us-west-2)",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codecatalyst-fips.global.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Default endpoint for an unavailable home region (region: us-east-1)",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codecatalyst.global.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Default FIPS endpoint for an unavailable home region (region: us-east-1)",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codecatalyst-fips.global.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  }
               ],
               "version" : "1"
            }
         },
         "type" : "service",
         "version" : "2022-09-28"
      },
      "com.amazonaws.codecatalyst#ComparisonOperator" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "EQUALS",
                  "value" : "EQ"
               },
               {
                  "name" : "GREATER_THAN",
                  "value" : "GT"
               },
               {
                  "name" : "GREATER_THAN_OR_EQUALS",
                  "value" : "GE"
               },
               {
                  "name" : "LESS_THAN",
                  "value" : "LT"
               },
               {
                  "name" : "LESS_THAN_OR_EQUALS",
                  "value" : "LE"
               },
               {
                  "name" : "BEGINS_WITH",
                  "value" : "BEGINS_WITH"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.codecatalyst#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request was denied because the requested operation would cause a conflict with the current state of a service resource associated with the request. \n       Another user might have updated the resource. Reload, make sure you have the latest data, and then try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateAccessToken" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#CreateAccessTokenRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#CreateAccessTokenResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a personal access token (PAT) for the current user. A personal access token (PAT) is similar to a password. \n      It is associated with your user identity for use across all spaces and projects in Amazon CodeCatalyst. You use PATs to access CodeCatalyst \n      from resources that include integrated development environments (IDEs) and Git-based source repositories.  \n      PATs represent you in Amazon CodeCatalyst and you can manage them in your user settings.For more information, see \n      <a href=\"https://docs.aws.amazon.com/codecatalyst/latest/userguide/ipa-tokens-keys.html\">Managing personal access tokens in Amazon CodeCatalyst</a>.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "PUT",
               "uri" : "/v1/accessTokens"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#CreateAccessTokenRequest" : {
         "members" : {
            "expiresTime" : {
               "target" : "com.amazonaws.codecatalyst#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the personal access token expires, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#AccessTokenName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name of the personal access token.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateAccessTokenResponse" : {
         "members" : {
            "accessTokenId" : {
               "target" : "com.amazonaws.codecatalyst#AccessTokenId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the access token.</p>",
                  "smithy.api#required" : {}
               }
            },
            "expiresTime" : {
               "target" : "com.amazonaws.codecatalyst#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the personal access token expires, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>. If not specified, the default is one year from creation.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#AccessTokenName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name of the personal access token.</p>",
                  "smithy.api#required" : {}
               }
            },
            "secret" : {
               "target" : "com.amazonaws.codecatalyst#AccessTokenSecret",
               "traits" : {
                  "smithy.api#documentation" : "<p>The secret value of the personal access token.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateDevEnvironment" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#CreateDevEnvironmentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#CreateDevEnvironmentResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a Dev Environment in Amazon CodeCatalyst, a cloud-based development environment that you can use to quickly work on the code stored \n      in the source repositories of your project.       </p>\n         <note>\n            <p>When created in the Amazon CodeCatalyst console, by default a Dev Environment is configured to have a 2 core processor, 4GB of RAM, and 16GB of persistent storage. None of these\n      defaults apply to a Dev Environment created programmatically.</p>\n         </note>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "PUT",
               "uri" : "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#CreateDevEnvironmentRequest" : {
         "members" : {
            "alias" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user-defined alias for a Dev Environment.</p>",
                  "smithy.api#length" : {
                     "max" : 128,
                     "min" : 1
                  },
                  "smithy.api#pattern" : "^[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*$"
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.codecatalyst#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A user-specified idempotency token.  Idempotency ensures that an API request completes only once. \n       With an idempotent request, if the original request completes successfully, the subsequent retries return the result from the original successful request and have no additional effect.</p>"
               }
            },
            "ides" : {
               "target" : "com.amazonaws.codecatalyst#IdeConfigurationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the integrated development environment (IDE) configured for a\n      Dev Environment.</p>\n         <note>\n            <p>An IDE is required to create a Dev Environment. For Dev Environment creation, this field\n        contains configuration information and must be provided. </p>\n         </note>"
               }
            },
            "inactivityTimeoutMinutes" : {
               "target" : "com.amazonaws.codecatalyst#InactivityTimeoutMinutes",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The amount of time the Dev Environment will run without any activity detected before stopping, in minutes. Only whole integers are allowed. Dev Environments consume compute minutes when running.</p>"
               }
            },
            "instanceType" : {
               "target" : "com.amazonaws.codecatalyst#InstanceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon EC2 instace type to use for the Dev Environment. </p>",
                  "smithy.api#required" : {}
               }
            },
            "persistentStorage" : {
               "target" : "com.amazonaws.codecatalyst#PersistentStorageConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the amount of storage allocated to the Dev Environment. </p>\n         <note>\n            <p>By default, a Dev Environment is configured to have 16GB of persistent storage when created from the Amazon CodeCatalyst console, but there is no default when programmatically\n        creating a Dev Environment. \n        Valid values for persistent storage are based on memory sizes in 16GB increments. Valid\n        values are 16, 32, and 64.</p>\n         </note>",
                  "smithy.api#required" : {}
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "repositories" : {
               "target" : "com.amazonaws.codecatalyst#RepositoriesInput",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source repository that contains the branch to clone into the Dev Environment. </p>"
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "vpcConnectionName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the connection that will be used to connect to Amazon VPC, if any.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateDevEnvironmentResponse" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.codecatalyst#Uuid",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the Dev Environment. </p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "devEnvironmentId"
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "vpcConnectionName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the connection used to connect to Amazon VPC used when the Dev Environment was created, if any.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateProject" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#CreateProjectRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#CreateProjectResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a project in a specified space.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "PUT",
               "uri" : "/v1/spaces/{spaceName}/projects"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#CreateProjectRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.codecatalyst#ProjectDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the project. This description will be displayed to all users of the project. We recommend providing a brief description of the project and its intended purpose.</p>"
               }
            },
            "displayName" : {
               "target" : "com.amazonaws.codecatalyst#ProjectDisplayName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name of the project that will be displayed to users.</p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateProjectResponse" : {
         "members" : {
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the project.</p>"
               }
            },
            "displayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name of the project.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "projectName"
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateSourceRepository" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#CreateSourceRepositoryRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#CreateSourceRepositoryResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates an empty Git-based source repository in a specified project. The repository is\n      created with an initial empty commit with a default branch named <code>main</code>.</p>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "PUT",
               "uri" : "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{name}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#CreateSourceRepositoryBranch" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#CreateSourceRepositoryBranchRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#CreateSourceRepositoryBranchResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a branch in a specified source repository in Amazon CodeCatalyst. </p>\n         <note>\n            <p>This API only creates a branch in a source repository hosted in Amazon CodeCatalyst. You cannot use this API to create a branch in a linked repository.</p>\n         </note>",
            "smithy.api#http" : {
               "code" : 201,
               "method" : "PUT",
               "uri" : "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/branches/{name}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#CreateSourceRepositoryBranchRequest" : {
         "members" : {
            "headCommitId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The commit ID in an existing branch from which you want to create the new branch.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryBranchString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name for the branch you're creating.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "sourceRepositoryBranchName"
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "sourceRepositoryName" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryNameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the repository where you want to create a branch.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateSourceRepositoryBranchResponse" : {
         "members" : {
            "headCommitId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The commit ID of the tip of the newly created branch.</p>"
               }
            },
            "lastUpdatedTime" : {
               "target" : "com.amazonaws.codecatalyst#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time the branch was last updated, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryBranchString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the newly created branch.</p>"
               }
            },
            "ref" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryBranchRefString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Git reference name of the branch.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateSourceRepositoryRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryDescriptionString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the source repository.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryNameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the source repository. For more information about name requirements, see <a href=\"https://docs.aws.amazon.com/codecatalyst/latest/userguide/source-quotas.html\">Quotas for source repositories</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "sourceRepositoryName"
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#CreateSourceRepositoryResponse" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryDescriptionString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the source repository.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryNameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the source repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteAccessToken" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#DeleteAccessTokenRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#DeleteAccessTokenResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a specified personal access token (PAT). A personal access token can only be deleted by the user who created it.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/v1/accessTokens/{id}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#DeleteAccessTokenRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.codecatalyst#AccessTokenId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the personal access token to delete. You can find the IDs of all PATs associated with your Amazon Web Services Builder ID in a space by calling <a>ListAccessTokens</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "accessTokenId"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteAccessTokenResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteDevEnvironment" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#DeleteDevEnvironmentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#DeleteDevEnvironmentResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a Dev Environment.  </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#DeleteDevEnvironmentRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.codecatalyst#Uuid",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the Dev Environment you want to delete. To retrieve a list of Dev Environment IDs, use <a>ListDevEnvironments</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "devEnvironmentId"
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteDevEnvironmentResponse" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.codecatalyst#Uuid",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the deleted Dev Environment. </p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "devEnvironmentId"
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteProject" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#DeleteProjectRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#DeleteProjectResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a project in a space.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/v1/spaces/{spaceName}/projects/{name}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#DeleteProjectRequest" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space. To retrieve a list of project names, use <a>ListProjects</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "projectName"
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteProjectResponse" : {
         "members" : {
            "displayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name displayed to users of the project in Amazon CodeCatalyst.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "projectName"
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteSourceRepository" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#DeleteSourceRepositoryRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#DeleteSourceRepositoryResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a source repository in Amazon CodeCatalyst. You cannot use this API to delete a linked repository. It can only be used to delete a Amazon CodeCatalyst source repository.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{name}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#DeleteSourceRepositoryRequest" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryNameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the source repository.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "sourceRepositoryName"
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteSourceRepositoryResponse" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryNameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteSpace" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#DeleteSpaceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#DeleteSpaceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a space.</p>\n         <important>\n            <p>Deleting a space cannot be undone. Additionally, since space names must be unique across Amazon CodeCatalyst, you cannot reuse names of deleted spaces.</p>\n         </important>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/v1/spaces/{name}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#DeleteSpaceRequest" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.  To retrieve a list of space names, use <a>ListSpaces</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "spaceName"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DeleteSpaceResponse" : {
         "members" : {
            "displayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name of the space displayed to users of the space in Amazon CodeCatalyst.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "spaceName"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DevEnvironment" : {
         "create" : {
            "target" : "com.amazonaws.codecatalyst#CreateDevEnvironment"
         },
         "delete" : {
            "target" : "com.amazonaws.codecatalyst#DeleteDevEnvironment"
         },
         "identifiers" : {
            "devEnvironmentId" : {
               "target" : "com.amazonaws.codecatalyst#Uuid"
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString"
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString"
            }
         },
         "operations" : [
            {
               "target" : "com.amazonaws.codecatalyst#ListDevEnvironmentSessions"
            },
            {
               "target" : "com.amazonaws.codecatalyst#StartDevEnvironment"
            },
            {
               "target" : "com.amazonaws.codecatalyst#StartDevEnvironmentSession"
            },
            {
               "target" : "com.amazonaws.codecatalyst#StopDevEnvironment"
            },
            {
               "target" : "com.amazonaws.codecatalyst#StopDevEnvironmentSession"
            }
         ],
         "read" : {
            "target" : "com.amazonaws.codecatalyst#GetDevEnvironment"
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.codecatalyst#UpdateDevEnvironment"
         }
      },
      "com.amazonaws.codecatalyst#DevEnvironmentAccessDetails" : {
         "members" : {
            "streamUrl" : {
               "target" : "com.amazonaws.codecatalyst#SensitiveString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL used to send commands to and from the Dev Environment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "tokenValue" : {
               "target" : "com.amazonaws.codecatalyst#SensitiveString",
               "traits" : {
                  "smithy.api#documentation" : "<p>An encrypted token value that contains session and caller information used to authenticate the connection.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about connection details for a Dev Environment.</p>",
            "smithy.api#sensitive" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummaries" : {
         "member" : {
            "target" : "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummary"
         },
         "type" : "list"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummary" : {
         "members" : {
            "branchName" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryBranchString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the branch in a source repository cloned into the Dev Environment. </p>"
               }
            },
            "repositoryName" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryNameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the source repository.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the source repsitory for a Dev Environment. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentSessionConfiguration" : {
         "members" : {
            "executeCommandSessionConfiguration" : {
               "target" : "com.amazonaws.codecatalyst#ExecuteCommandSessionConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about optional commands that will be run on the Dev Environment when the SSH session begins.</p>"
               }
            },
            "sessionType" : {
               "target" : "com.amazonaws.codecatalyst#DevEnvironmentSessionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the session.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the configuration of a Dev Environment session.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentSessionSummary" : {
         "members" : {
            "devEnvironmentId" : {
               "target" : "com.amazonaws.codecatalyst#Uuid",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the Dev Environment.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "devEnvironmentId"
               }
            },
            "id" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the Dev Environment session.</p>",
                  "smithy.api#length" : {
                     "max" : 96,
                     "min" : 1
                  },
                  "smithy.api#required" : {}
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "startedTime" : {
               "target" : "com.amazonaws.codecatalyst#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the session started, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>\n         </p>",
                  "smithy.api#required" : {},
                  "smithy.api#timestampFormat" : "date-time"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about active sessions for a Dev Environment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentSessionType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "SSM",
                  "value" : "SSM"
               },
               {
                  "name" : "SSH",
                  "value" : "SSH"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentSessionsSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.codecatalyst#DevEnvironmentSessionSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentStatus" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "PENDING",
                  "value" : "PENDING"
               },
               {
                  "name" : "RUNNING",
                  "value" : "RUNNING"
               },
               {
                  "name" : "STARTING",
                  "value" : "STARTING"
               },
               {
                  "name" : "STOPPING",
                  "value" : "STOPPING"
               },
               {
                  "name" : "STOPPED",
                  "value" : "STOPPED"
               },
               {
                  "name" : "FAILED",
                  "value" : "FAILED"
               },
               {
                  "name" : "DELETING",
                  "value" : "DELETING"
               },
               {
                  "name" : "DELETED",
                  "value" : "DELETED"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentSummary" : {
         "members" : {
            "alias" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user-specified alias for the Dev Environment.</p>",
                  "smithy.api#length" : {
                     "max" : 128
                  }
               }
            },
            "creatorId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the user who created the Dev Environment. </p>",
                  "smithy.api#length" : {
                     "max" : 1024
                  },
                  "smithy.api#required" : {}
               }
            },
            "id" : {
               "target" : "com.amazonaws.codecatalyst#Uuid",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID for the Dev Environment. </p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "devEnvironmentId"
               }
            },
            "ides" : {
               "target" : "com.amazonaws.codecatalyst#Ides",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the integrated development environment (IDE) configured for a Dev Environment.</p>"
               }
            },
            "inactivityTimeoutMinutes" : {
               "target" : "com.amazonaws.codecatalyst#InactivityTimeoutMinutes",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The amount of time the Dev Environment will run without any activity detected before stopping, in minutes. Dev Environments consume compute minutes when running.</p>",
                  "smithy.api#required" : {}
               }
            },
            "instanceType" : {
               "target" : "com.amazonaws.codecatalyst#InstanceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon EC2 instace type used for the Dev Environment. </p>",
                  "smithy.api#required" : {}
               }
            },
            "lastUpdatedTime" : {
               "target" : "com.amazonaws.codecatalyst#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the Dev Environment was last updated, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "persistentStorage" : {
               "target" : "com.amazonaws.codecatalyst#PersistentStorage",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the configuration of persistent storage for the Dev Environment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>"
               }
            },
            "repositories" : {
               "target" : "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummaries",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the repositories that will be cloned into the Dev Environment. If no rvalue is specified, no repository is cloned.</p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.codecatalyst#DevEnvironmentStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the Dev Environment. </p>",
                  "smithy.api#required" : {}
               }
            },
            "statusReason" : {
               "target" : "com.amazonaws.codecatalyst#StatusReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason for the status.</p>"
               }
            },
            "vpcConnectionName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the connection used to connect to Amazon VPC used when the Dev Environment was created, if any.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a Dev Environment. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#DevEnvironmentSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.codecatalyst#DevEnvironmentSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.codecatalyst#EmailAddress" : {
         "members" : {
            "email" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The email address.</p>"
               }
            },
            "verified" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether the email address has been verified.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about an email address.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#EventLogEntries" : {
         "member" : {
            "target" : "com.amazonaws.codecatalyst#EventLogEntry"
         },
         "type" : "list"
      },
      "com.amazonaws.codecatalyst#EventLogEntry" : {
         "members" : {
            "errorCode" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The code of the error, if any.</p>"
               }
            },
            "eventCategory" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category for the event.</p>",
                  "smithy.api#required" : {}
               }
            },
            "eventName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the event.</p>",
                  "smithy.api#required" : {}
               }
            },
            "eventSource" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source of the event.</p>",
                  "smithy.api#required" : {}
               }
            },
            "eventTime" : {
               "target" : "com.amazonaws.codecatalyst#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time the event took place, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "eventType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the event.</p>",
                  "smithy.api#required" : {}
               }
            },
            "id" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the event.</p>",
                  "smithy.api#required" : {}
               }
            },
            "operationType" : {
               "target" : "com.amazonaws.codecatalyst#OperationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the event.</p>",
                  "smithy.api#required" : {}
               }
            },
            "projectInformation" : {
               "target" : "com.amazonaws.codecatalyst#ProjectInformation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the project where the event occurred.</p>"
               }
            },
            "requestId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the request.</p>"
               }
            },
            "requestPayload" : {
               "target" : "com.amazonaws.codecatalyst#EventPayload",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the payload of the request.</p>"
               }
            },
            "responsePayload" : {
               "target" : "com.amazonaws.codecatalyst#EventPayload",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the payload of the response, if any.</p>"
               }
            },
            "sourceIpAddress" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The IP address of the user whose actions are recorded in the event.</p>"
               }
            },
            "userAgent" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user agent whose actions are recorded in the event.</p>"
               }
            },
            "userIdentity" : {
               "target" : "com.amazonaws.codecatalyst#UserIdentity",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the user whose actions are recorded in the event.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about an entry in an event log of Amazon CodeCatalyst activity.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#EventLogResource" : {
         "identifiers" : {
            "eventLogId" : {
               "target" : "smithy.api#String"
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString"
            }
         },
         "list" : {
            "target" : "com.amazonaws.codecatalyst#ListEventLogs"
         },
         "type" : "resource"
      },
      "com.amazonaws.codecatalyst#EventPayload" : {
         "members" : {
            "contentType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of content in the event payload.</p>"
               }
            },
            "data" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data included in the event payload.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the payload of an event recording Amazon CodeCatalyst activity.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#ExecuteCommandSessionConfiguration" : {
         "members" : {
            "arguments" : {
               "target" : "com.amazonaws.codecatalyst#ExecuteCommandSessionConfigurationArguments",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of arguments containing arguments and members.</p>"
               }
            },
            "command" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The command used at the beginning of the SSH session to a Dev Environment.</p>",
                  "smithy.api#length" : {
                     "max" : 255,
                     "min" : 1
                  },
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the commands that will be run on a Dev Environment when an SSH session begins.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#ExecuteCommandSessionConfigurationArguments" : {
         "member" : {
            "target" : "smithy.api#String",
            "traits" : {
               "smithy.api#length" : {
                  "max" : 255,
                  "min" : 1
               }
            }
         },
         "type" : "list"
      },
      "com.amazonaws.codecatalyst#Filter" : {
         "members" : {
            "comparisonOperator" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operator used to compare the fields.</p>"
               }
            },
            "key" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A key that can be used to sort results.</p>",
                  "smithy.api#required" : {}
               }
            },
            "values" : {
               "target" : "com.amazonaws.codecatalyst#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The values of the key.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a filter used to limit results of a query.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#FilterKey" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "HAS_ACCESS_TO",
                  "value" : "hasAccessTo"
               },
               {
                  "name" : "NAME",
                  "value" : "name"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.codecatalyst#Filters" : {
         "member" : {
            "target" : "com.amazonaws.codecatalyst#Filter"
         },
         "type" : "list"
      },
      "com.amazonaws.codecatalyst#GetDevEnvironment" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#GetDevEnvironmentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#GetDevEnvironmentResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about a Dev Environment for a source repository in a project. Dev Environments are specific to the user who creates them.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#GetDevEnvironmentRequest" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.codecatalyst#Uuid",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the Dev Environment for which you want to view information. To retrieve a list of Dev Environment IDs, use <a>ListDevEnvironments</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "devEnvironmentId"
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#GetDevEnvironmentResponse" : {
         "members" : {
            "alias" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The user-specified alias for the Dev Environment. </p>",
                  "smithy.api#length" : {
                     "max" : 128
                  }
               }
            },
            "creatorId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the user who created the Dev Environment. </p>",
                  "smithy.api#length" : {
                     "max" : 1024
                  },
                  "smithy.api#required" : {}
               }
            },
            "id" : {
               "target" : "com.amazonaws.codecatalyst#Uuid",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated unique ID of the Dev Environment. </p>",
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "devEnvironmentId"
               }
            },
            "ides" : {
               "target" : "com.amazonaws.codecatalyst#Ides",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the integrated development environment (IDE) configured for the Dev Environment. </p>"
               }
            },
            "inactivityTimeoutMinutes" : {
               "target" : "com.amazonaws.codecatalyst#InactivityTimeoutMinutes",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The amount of time the Dev Environment will run without any activity detected before stopping, in minutes.</p>",
                  "smithy.api#required" : {}
               }
            },
            "instanceType" : {
               "target" : "com.amazonaws.codecatalyst#InstanceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon EC2 instace type to use for the Dev Environment. </p>",
                  "smithy.api#required" : {}
               }
            },
            "lastUpdatedTime" : {
               "target" : "com.amazonaws.codecatalyst#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the Dev Environment was last updated, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
                  "smithy.api#required" : {},
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "persistentStorage" : {
               "target" : "com.amazonaws.codecatalyst#PersistentStorage",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the amount of storage allocated to the Dev Environment.  By default, a Dev Environment is configured to have 16GB of persistent storage.</p>",
                  "smithy.api#required" : {}
               }
            },
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "repositories" : {
               "target" : "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummaries",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source repository that contains the branch cloned into the Dev Environment. </p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "status" : {
               "target" : "com.amazonaws.codecatalyst#DevEnvironmentStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the Dev Environment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "statusReason" : {
               "target" : "com.amazonaws.codecatalyst#StatusReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason for the status.</p>"
               }
            },
            "vpcConnectionName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the connection used to connect to Amazon VPC used when the Dev Environment was created, if any.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#GetProject" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#GetProjectRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#GetProjectResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about a project.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/v1/spaces/{spaceName}/projects/{name}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#GetProjectRequest" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {},
                  "smithy.api#resourceIdentifier" : "projectName"
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#GetProjectResponse" : {
         "members" : {
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the project.</p>"
               }
            },
            "displayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The friendly name of the project displayed to users in Amazon CodeCatalyst.</p>"
               }
            },
            "name" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#GetSourceRepository" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#GetSourceRepositoryRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#GetSourceRepositoryResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about a source repository.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{name}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrls" : {
         "input" : {
            "target" : "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrlsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrlsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about the URLs that can be used with a Git client to clone a source\n      repository.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/cloneUrls"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrlsRequest" : {
         "members" : {
            "projectName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project in the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "sourceRepositoryName" : {
               "target" : "com.amazonaws.codecatalyst#SourceRepositoryNameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the source repository.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "spaceName" : {
               "target" : "com.amazonaws.codecatalyst#NameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the space.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrlsResponse" : {
         "members" : {
            "https" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The HTTPS URL to use when cloning the source repository.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
[...]
