{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.codestarnotifications#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codestarnotifications#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>CodeStar Notifications can't create the notification rule because you do not have sufficient\n      permissions.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ClientRequestToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\w:/-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#CodeStarNotifications_20191015" : {
         "operations" : [
            {
               "target" : "com.amazonaws.codestarnotifications#CreateNotificationRule"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#DeleteNotificationRule"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#DeleteTarget"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#DescribeNotificationRule"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ListEventTypes"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ListNotificationRules"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ListTargets"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#Subscribe"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#TagResource"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#Unsubscribe"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#UntagResource"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#UpdateNotificationRule"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "codestar-notifications",
               "cloudFormationName" : "CodeStarNotifications",
               "cloudTrailEventSource" : "codestarnotifications.amazonaws.com",
               "endpointPrefix" : "codestar-notifications",
               "sdkId" : "codestar notifications"
            },
            "aws.auth#sigv4" : {
               "name" : "codestar-notifications"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>This CodeStar Notifications API Reference provides descriptions and usage examples of the\n      operations and data types for the CodeStar Notifications API. You can use the CodeStar Notifications API\n      to work with the following objects:</p>\n         <p>Notification rules, by calling the following: </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateNotificationRule</a>, which creates a notification rule for a\n                    resource in your account. </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteNotificationRule</a>, which deletes a notification rule. </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeNotificationRule</a>, which provides information about a notification rule. </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListNotificationRules</a>, which lists the notification rules associated with\n          your account. </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateNotificationRule</a>, which changes the name, events, or targets associated with a\n          notification rule. </p>\n            </li>\n            <li>\n               <p>\n                  <a>Subscribe</a>, which subscribes a target to a notification rule. </p>\n            </li>\n            <li>\n               <p>\n                  <a>Unsubscribe</a>, which removes a target from a notification rule. </p>\n            </li>\n         </ul>\n         <p>Targets, by calling the following: </p>\n         <ul>\n            <li>\n               <p>\n                  <a>DeleteTarget</a>, which removes a notification rule target from a\n          notification rule. </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListTargets</a>, which lists the targets associated with a\n                    notification rule. </p>\n            </li>\n         </ul>\n         <p>Events, by calling the following: </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListEventTypes</a>, which lists the event types you can include in\n                    a notification rule. </p>\n            </li>\n         </ul>\n         <p>Tags, by calling the following: </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListTagsForResource</a>, which lists the tags already associated\n                    with a notification rule in your account. </p>\n            </li>\n            <li>\n               <p>\n                  <a>TagResource</a>, which associates a tag you provide with a\n                    notification rule in your account. </p>\n            </li>\n            <li>\n               <p>\n                  <a>UntagResource</a>, which removes a tag from a notification rule in\n                    your account. </p>\n            </li>\n         </ul>\n         <p> For information about how to use CodeStar Notifications, see the <a href=\"https://docs.aws.amazon.com/dtconsole/latest/userguide/what-is-dtconsole.html\">Amazon Web Services Developer Tools Console User Guide</a>.\n    </p>",
            "smithy.api#title" : "AWS CodeStar Notifications",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://codestar-notifications-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://codestar-notifications-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://codestar-notifications.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://codestar-notifications.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codestar-notifications.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2019-10-15"
      },
      "com.amazonaws.codestarnotifications#ConcurrentModificationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codestarnotifications#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>CodeStar Notifications can't complete the request because the resource is being modified by\n      another process. Wait a few minutes and try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ConfigurationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codestarnotifications#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Some or all of the configuration is incomplete, missing, or not valid.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#CreateNotificationRule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ConfigurationException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ResourceAlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#CreateNotificationRuleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#CreateNotificationRuleResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a notification rule for a resource. The rule specifies the events you want\n            notifications about and the targets (such as Amazon Q Developer in chat applications topics or Amazon Q Developer in chat applications clients configured for Slack) where you want to receive\n            them.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/createNotificationRule"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#CreateNotificationRuleRequest" : {
         "members" : {
            "ClientRequestToken" : {
               "target" : "com.amazonaws.codestarnotifications#ClientRequestToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, client-generated idempotency token that, when provided in a request, ensures\n            the request cannot be repeated with a changed parameter. If a request with the same\n            parameters is received and a token is included, the request returns information about\n            the initial request that used that token.</p>\n         <note>\n            <p>The Amazon Web Services SDKs prepopulate client request tokens. If you are using an Amazon Web Services SDK, an\n                idempotency token is created for you.</p>\n         </note>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "DetailType" : {
               "target" : "com.amazonaws.codestarnotifications#DetailType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The level of detail to include in the notifications for this resource. <code>BASIC</code> will include only the \n        contents of the event as it would appear in Amazon CloudWatch. <code>FULL</code> will include any supplemental information\n        provided by CodeStar Notifications and/or the service for the resource for which the notification is created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "EventTypeIds" : {
               "target" : "com.amazonaws.codestarnotifications#EventTypeIds",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of event types associated with this notification rule. For a list of allowed\n            events, see <a>EventTypeSummary</a>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Name" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name for the notification rule. Notification rule names must be unique in your Amazon Web Services account.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Resource" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleResource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the resource to associate with the notification rule. Supported resources include pipelines in CodePipeline,\n      repositories in CodeCommit, and build projects in CodeBuild.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the notification rule. The default value is <code>ENABLED</code>. If the status is\n            set to <code>DISABLED</code>, notifications aren't sent for the notification rule.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codestarnotifications#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of tags to apply to this notification rule. Key names cannot start with \"<code>aws</code>\". </p>"
               }
            },
            "Targets" : {
               "target" : "com.amazonaws.codestarnotifications#Targets",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of Amazon Resource Names (ARNs) of Amazon Simple Notification Service topics and Amazon Q Developer in chat applications clients to associate with the\n      notification rule.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#CreateNotificationRuleResult" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#CreatedTimestamp" : {
         "type" : "timestamp"
      },
      "com.amazonaws.codestarnotifications#DeleteNotificationRule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#DeleteNotificationRuleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#DeleteNotificationRuleResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a notification rule for a resource.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/deleteNotificationRule"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#DeleteNotificationRuleRequest" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule you want to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#DeleteNotificationRuleResult" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the deleted notification rule.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#DeleteTarget" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#DeleteTargetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#DeleteTargetResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a specified target for notifications.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/deleteTarget"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#DeleteTargetRequest" : {
         "members" : {
            "ForceUnsubscribeAll" : {
               "target" : "com.amazonaws.codestarnotifications#ForceUnsubscribeAll",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>A Boolean value that can be used to delete all associations with this Amazon Q Developer in chat applications topic. The\n            default value is FALSE. If set to TRUE, all associations between that target and every\n            notification rule in your Amazon Web Services account are deleted.</p>"
               }
            },
            "TargetAddress" : {
               "target" : "com.amazonaws.codestarnotifications#TargetAddress",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon Q Developer in chat applications topic or Amazon Q Developer in chat applications client to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#DeleteTargetResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#DescribeNotificationRule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#DescribeNotificationRuleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#DescribeNotificationRuleResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about a specified notification rule.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/describeNotificationRule"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#DescribeNotificationRuleRequest" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#DescribeNotificationRuleResult" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
                  "smithy.api#required" : {}
               }
            },
            "CreatedBy" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleCreatedBy",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name or email alias of the person who created the notification rule.</p>"
               }
            },
            "CreatedTimestamp" : {
               "target" : "com.amazonaws.codestarnotifications#CreatedTimestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the notification rule was created, in timestamp format.</p>"
               }
            },
            "DetailType" : {
               "target" : "com.amazonaws.codestarnotifications#DetailType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The level of detail included in the notifications for this resource. BASIC will include only the \n            contents of the event as it would appear in Amazon CloudWatch. FULL will include any supplemental information\n            provided by CodeStar Notifications and/or the service for the resource for which the notification is created.</p>"
               }
            },
            "EventTypes" : {
               "target" : "com.amazonaws.codestarnotifications#EventTypeBatch",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of the event types associated with the notification rule.</p>"
               }
            },
            "LastModifiedTimestamp" : {
               "target" : "com.amazonaws.codestarnotifications#LastModifiedTimestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time the notification rule was most recently updated, in timestamp\n            format.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the notification rule.</p>"
               }
            },
            "Resource" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleResource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the resource associated with the notification\n      rule.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the notification rule. Valid statuses are on (sending notifications) or off\n      (not sending notifications).</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codestarnotifications#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags associated with the notification rule.</p>"
               }
            },
            "Targets" : {
               "target" : "com.amazonaws.codestarnotifications#TargetsBatch",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of the Amazon Q Developer in chat applications topics and Amazon Q Developer in chat applications clients associated with the notification rule.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#DetailType" : {
         "members" : {
            "BASIC" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BASIC"
               }
            },
            "FULL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FULL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codestarnotifications#EventTypeBatch" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#EventTypeSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#EventTypeId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#EventTypeIds" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#EventTypeId"
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#EventTypeName" : {
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#EventTypeSummary" : {
         "members" : {
            "EventTypeId" : {
               "target" : "com.amazonaws.codestarnotifications#EventTypeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated ID of the event. For a complete list of event types and IDs, see \n          <a href=\"https://docs.aws.amazon.com/codestar-notifications/latest/userguide/concepts.html#concepts-api\">Notification concepts</a>\n          in the <i>Developer Tools Console User Guide</i>.</p>"
               }
            },
            "EventTypeName" : {
               "target" : "com.amazonaws.codestarnotifications#EventTypeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the event.</p>"
               }
            },
            "ResourceType" : {
               "target" : "com.amazonaws.codestarnotifications#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource type of the event.</p>"
               }
            },
            "ServiceName" : {
               "target" : "com.amazonaws.codestarnotifications#ServiceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the service for which the event applies.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about an event that has triggered a notification rule.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ForceUnsubscribeAll" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.codestarnotifications#InvalidNextTokenException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codestarnotifications#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The value for the enumeration token used in the request to return the next batch of the results is not valid. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#LastModifiedTimestamp" : {
         "type" : "timestamp"
      },
      "com.amazonaws.codestarnotifications#LimitExceededException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codestarnotifications#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>One of the CodeStar Notifications limits has been exceeded. Limits apply to\n            accounts, notification rules, notifications, resources, and targets. For more\n            information, see Limits.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListEventTypes" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#InvalidNextTokenException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#ListEventTypesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#ListEventTypesResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about the event types available for configuring notifications.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/listEventTypes"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "EventTypes",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#ListEventTypesFilter" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.codestarnotifications#ListEventTypesFilterName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The system-generated name of the filter type you want to filter by.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.codestarnotifications#ListEventTypesFilterValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the resource type (for example, pipeline) or service name (for example,\n      CodePipeline) that you want to filter by.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a filter to apply to the list of returned event types. You can filter\n      by resource type or service name.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListEventTypesFilterName" : {
         "members" : {
            "RESOURCE_TYPE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RESOURCE_TYPE"
               }
            },
            "SERVICE_NAME" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SERVICE_NAME"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codestarnotifications#ListEventTypesFilterValue" : {
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#ListEventTypesFilters" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#ListEventTypesFilter"
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#ListEventTypesRequest" : {
         "members" : {
            "Filters" : {
               "target" : "com.amazonaws.codestarnotifications#ListEventTypesFilters",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters to use to return information by service or resource type.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.codestarnotifications#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>A non-negative integer used to limit the number of returned results. The default number is 50. The maximum number of\n      results that can be returned is 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.codestarnotifications#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>An enumeration token that, when provided in a request, returns the next batch of the\n            results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListEventTypesResult" : {
         "members" : {
            "EventTypes" : {
               "target" : "com.amazonaws.codestarnotifications#EventTypeBatch",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about each event, including service name, resource type, event ID, and event\n      name.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.codestarnotifications#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>An enumeration token that can be used in a request to return the next batch of the results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListNotificationRules" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#InvalidNextTokenException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#ListNotificationRulesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#ListNotificationRulesResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of the notification rules for an Amazon Web Services account.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/listNotificationRules"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "NotificationRules",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#ListNotificationRulesFilter" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.codestarnotifications#ListNotificationRulesFilterName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the attribute you want to use to filter the returned notification rules.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.codestarnotifications#ListNotificationRulesFilterValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value of the attribute you want to use to filter the returned notification rules. For example, if you specify filtering by <i>RESOURCE</i> \n          in Name, you might specify the ARN of a pipeline in CodePipeline for the value.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a filter to apply to the list of returned notification rules. You can\n      filter by event type, owner, resource, or target.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListNotificationRulesFilterName" : {
         "members" : {
            "CREATED_BY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATED_BY"
               }
            },
            "EVENT_TYPE_ID" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EVENT_TYPE_ID"
               }
            },
            "RESOURCE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RESOURCE"
               }
            },
            "TARGET_ADDRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TARGET_ADDRESS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codestarnotifications#ListNotificationRulesFilterValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#ListNotificationRulesFilters" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#ListNotificationRulesFilter"
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#ListNotificationRulesRequest" : {
         "members" : {
            "Filters" : {
               "target" : "com.amazonaws.codestarnotifications#ListNotificationRulesFilters",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters to use to return information by service or resource type. For valid values,\n            see <a>ListNotificationRulesFilter</a>.</p>\n         <note>\n            <p>A filter with the same name can appear more than once when used with OR statements. Filters with different names should be applied with AND statements.</p>\n         </note>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.codestarnotifications#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>A non-negative integer used to limit the number of returned results. The maximum number of\n      results that can be returned is 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.codestarnotifications#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>An enumeration token that, when provided in a request, returns the next batch of the\n            results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListNotificationRulesResult" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.codestarnotifications#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>An enumeration token that can be used in a request to return the next batch of the results.</p>"
               }
            },
            "NotificationRules" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleBatch",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of notification rules for the Amazon Web Services account, by Amazon Resource Name (ARN) and ID. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#ListTagsForResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#ListTagsForResourceResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of the tags associated with a notification rule.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/listTagsForResource"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#ListTagsForResourceRequest" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for the notification rule.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListTagsForResourceResult" : {
         "members" : {
            "Tags" : {
               "target" : "com.amazonaws.codestarnotifications#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags associated with the notification rule.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListTargets" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#InvalidNextTokenException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#ListTargetsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#ListTargetsResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of the notification rule targets for an Amazon Web Services account.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/listTargets"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "Targets",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#ListTargetsFilter" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.codestarnotifications#ListTargetsFilterName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the attribute you want to use to filter the returned targets.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.codestarnotifications#ListTargetsFilterValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value of the attribute you want to use to filter the returned targets. For example,\n            if you specify <code>SNS</code> for the Target type, you could specify an Amazon\n            Resource Name (ARN) for a topic as the value.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a filter to apply to the list of returned targets. You can filter by\n            target type, address, or status. For example, to filter results to notification rules\n            that have active Amazon Q Developer in chat applications topics as targets, you could specify a ListTargetsFilter\n            Name as <code>TargetType</code> and a Value of <code>SNS</code>, and a Name of <code>TARGET_STATUS</code> and a Value of\n            <code>ACTIVE</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListTargetsFilterName" : {
         "members" : {
            "TARGET_ADDRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TARGET_ADDRESS"
               }
            },
            "TARGET_STATUS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TARGET_STATUS"
               }
            },
            "TARGET_TYPE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TARGET_TYPE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codestarnotifications#ListTargetsFilterValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#ListTargetsFilters" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#ListTargetsFilter"
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#ListTargetsRequest" : {
         "members" : {
            "Filters" : {
               "target" : "com.amazonaws.codestarnotifications#ListTargetsFilters",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters to use to return information by service or resource type. Valid filters\n            include target type, target address, and target status.</p>\n         <note>\n            <p>A filter with the same name can appear more than once when used with OR statements. Filters with different names should be applied with AND statements.</p>\n         </note>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.codestarnotifications#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>A non-negative integer used to limit the number of returned results. The maximum number of\n      results that can be returned is 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.codestarnotifications#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>An enumeration token that, when provided in a request, returns the next batch of the\n            results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ListTargetsResult" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.codestarnotifications#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>An enumeration token that can be used in a request to return the next batch of\n            results.</p>"
               }
            },
            "Targets" : {
               "target" : "com.amazonaws.codestarnotifications#TargetsBatch",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of notification rule targets. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#MaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.codestarnotifications#Message" : {
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#NextToken" : {
         "traits" : {
            "smithy.api#pattern" : "^[\\w/+=]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#NotificationRuleArn" : {
         "traits" : {
            "smithy.api#pattern" : "^arn:aws[^:\\s]*:codestar-notifications:[^:\\s]+:\\d{12}:notificationrule\\/(.*\\S)?$"
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#NotificationRuleBatch" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#NotificationRuleSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#NotificationRuleCreatedBy" : {
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#NotificationRuleId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 40,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#NotificationRuleName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Za-z0-9\\-_ ]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#NotificationRuleResource" : {
         "traits" : {
            "smithy.api#pattern" : "^arn:aws[^:\\s]*:[^:\\s]*:[^:\\s]*:[0-9]{12}:[^\\s]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#NotificationRuleStatus" : {
         "members" : {
            "DISABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DISABLED"
               }
            },
            "ENABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ENABLED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codestarnotifications#NotificationRuleSummary" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule.</p>"
               }
            },
            "Id" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique ID of the notification rule.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a specified notification rule.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ResourceAlreadyExistsException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codestarnotifications#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A resource with the same name or ID already exists. Notification rule names must be\n            unique in your Amazon Web Services account.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ResourceNotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codestarnotifications#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>CodeStar Notifications can't find a resource that matches the provided ARN. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#ResourceType" : {
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            },
            "smithy.api#pattern" : "^([a-zA-Z0-9-])+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#ServiceName" : {
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#Subscribe" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ConfigurationException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#SubscribeRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#SubscribeResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates an association between a notification rule and an Amazon Q Developer in chat applications topic or Amazon Q Developer in chat applications client so that the\n            associated target can receive notifications when the events described in the rule are\n            triggered.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/subscribe"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#SubscribeRequest" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule for which you want to create the association.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ClientRequestToken" : {
               "target" : "com.amazonaws.codestarnotifications#ClientRequestToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>An enumeration token that, when provided in a request, returns the next batch of the\n            results.</p>"
               }
            },
            "Target" : {
               "target" : "com.amazonaws.codestarnotifications#Target",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#SubscribeResult" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule for which you have created assocations.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#TagKey" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#TagKeys" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#TagKey"
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#TagResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#TagResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#TagResourceResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a set of provided tags with a notification rule.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/tagResource"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#TagResourceRequest" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule to tag.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codestarnotifications#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of tags to associate with the resource. Tag key names cannot start with \"<code>aws</code>\".</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#TagResourceResult" : {
         "members" : {
            "Tags" : {
               "target" : "com.amazonaws.codestarnotifications#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of tags associated with the resource.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#TagValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#Tags" : {
         "key" : {
            "target" : "com.amazonaws.codestarnotifications#TagKey"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.codestarnotifications#TagValue"
         }
      },
      "com.amazonaws.codestarnotifications#Target" : {
         "members" : {
            "TargetAddress" : {
               "target" : "com.amazonaws.codestarnotifications#TargetAddress",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon Q Developer in chat applications topic or Amazon Q Developer in chat applications client.</p>"
               }
            },
            "TargetType" : {
               "target" : "com.amazonaws.codestarnotifications#TargetType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The target type. Can be an Amazon Q Developer in chat applications topic or Amazon Q Developer in chat applications client.</p>\n         <ul>\n            <li>\n               <p>Amazon Q Developer in chat applications topics are specified as <code>SNS</code>.</p>\n            </li>\n            <li>\n               <p>Amazon Q Developer in chat applications clients are specified as <code>AWSChatbotSlack</code>.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the Amazon Q Developer in chat applications topics or Amazon Q Developer in chat applications clients associated with a  notification rule.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#TargetAddress" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 320,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#TargetStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "DEACTIVATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEACTIVATED"
               }
            },
            "INACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INACTIVE"
               }
            },
            "PENDING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING"
               }
            },
            "UNREACHABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNREACHABLE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codestarnotifications#TargetSummary" : {
         "members" : {
            "TargetAddress" : {
               "target" : "com.amazonaws.codestarnotifications#TargetAddress",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon Q Developer in chat applications topic or Amazon Q Developer in chat applications client.</p>"
               }
            },
            "TargetStatus" : {
               "target" : "com.amazonaws.codestarnotifications#TargetStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the target.</p>"
               }
            },
            "TargetType" : {
               "target" : "com.amazonaws.codestarnotifications#TargetType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the target (for example, <code>SNS</code>).</p>\n         <ul>\n            <li>\n               <p>Amazon Q Developer in chat applications topics are specified as <code>SNS</code>.</p>\n            </li>\n            <li>\n               <p>Amazon Q Developer in chat applications clients are specified as <code>AWSChatbotSlack</code>.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the targets specified for a notification rule.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#TargetType" : {
         "traits" : {
            "smithy.api#pattern" : "^[A-Za-z]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codestarnotifications#Targets" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#Target"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#TargetsBatch" : {
         "member" : {
            "target" : "com.amazonaws.codestarnotifications#TargetSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.codestarnotifications#Unsubscribe" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#UnsubscribeRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#UnsubscribeResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes an association between a notification rule and an Amazon Q Developer in chat applications topic so that\n            subscribers to that topic stop receiving notifications when the events described in the\n            rule are triggered.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/unsubscribe"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#UnsubscribeRequest" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TargetAddress" : {
               "target" : "com.amazonaws.codestarnotifications#TargetAddress",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the Amazon Q Developer in chat applications topic to unsubscribe from the notification rule.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#UnsubscribeResult" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the the notification rule from which you have removed a subscription.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#UntagResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#UntagResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#UntagResourceResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes the association between one or more provided tags and a notification\n            rule.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/untagResource/{Arn}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#UntagResourceRequest" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule from which to remove the\n      tags.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "TagKeys" : {
               "target" : "com.amazonaws.codestarnotifications#TagKeys",
               "traits" : {
                  "smithy.api#documentation" : "<p>The key names of the tags to remove.</p>",
                  "smithy.api#httpQuery" : "tagKeys",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#UntagResourceResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#UpdateNotificationRule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codestarnotifications#ConfigurationException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codestarnotifications#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codestarnotifications#UpdateNotificationRuleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codestarnotifications#UpdateNotificationRuleResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Updates a notification rule for a resource. You can change the events that trigger the\n            notification rule, the status of the rule, and the targets that receive the\n            notifications.</p>\n         <note>\n            <p>To add or remove tags for a notification rule, you must use <a>TagResource</a> and <a>UntagResource</a>.</p>\n         </note>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/updateNotificationRule"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codestarnotifications#UpdateNotificationRuleRequest" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DetailType" : {
               "target" : "com.amazonaws.codestarnotifications#DetailType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The level of detail to include in the notifications for this resource. BASIC will include only the \n            contents of the event as it would appear in Amazon CloudWatch. FULL will include any supplemental information\n            provided by CodeStar Notifications and/or the service for the resource for which the notification is created.</p>"
               }
            },
            "EventTypeIds" : {
               "target" : "com.amazonaws.codestarnotifications#EventTypeIds",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of event types associated with this notification rule. For a complete list of event types and IDs, see \n          <a href=\"https://docs.aws.amazon.com/codestar-notifications/latest/userguide/concepts.html#concepts-api\">Notification concepts</a>\n       in the <i>Developer Tools Console User Guide</i>.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the notification rule.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.codestarnotifications#NotificationRuleStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the notification rule. Valid statuses include enabled (sending notifications) or\n      disabled (not sending notifications).</p>"
               }
            },
            "Targets" : {
               "target" : "com.amazonaws.codestarnotifications#Targets",
               "traits" : {
                  "smithy.api#documentation" : "<p>The address and type of the targets to receive notifications from this notification\n      rule.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codestarnotifications#UpdateNotificationRuleResult" : {
         "members" : {},
         "traits" : {
[...]
