{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.batch#AWSBatchV20160810" : {
         "operations" : [
            {
               "target" : "com.amazonaws.batch#CancelJob"
            },
            {
               "target" : "com.amazonaws.batch#CreateComputeEnvironment"
            },
            {
               "target" : "com.amazonaws.batch#CreateConsumableResource"
            },
            {
               "target" : "com.amazonaws.batch#CreateJobQueue"
            },
            {
               "target" : "com.amazonaws.batch#CreateQuotaShare"
            },
            {
               "target" : "com.amazonaws.batch#CreateSchedulingPolicy"
            },
            {
               "target" : "com.amazonaws.batch#CreateServiceEnvironment"
            },
            {
               "target" : "com.amazonaws.batch#DeleteComputeEnvironment"
            },
            {
               "target" : "com.amazonaws.batch#DeleteConsumableResource"
            },
            {
               "target" : "com.amazonaws.batch#DeleteJobQueue"
            },
            {
               "target" : "com.amazonaws.batch#DeleteQuotaShare"
            },
            {
               "target" : "com.amazonaws.batch#DeleteSchedulingPolicy"
            },
            {
               "target" : "com.amazonaws.batch#DeleteServiceEnvironment"
            },
            {
               "target" : "com.amazonaws.batch#DeregisterJobDefinition"
            },
            {
               "target" : "com.amazonaws.batch#DescribeComputeEnvironments"
            },
            {
               "target" : "com.amazonaws.batch#DescribeConsumableResource"
            },
            {
               "target" : "com.amazonaws.batch#DescribeJobDefinitions"
            },
            {
               "target" : "com.amazonaws.batch#DescribeJobQueues"
            },
            {
               "target" : "com.amazonaws.batch#DescribeJobs"
            },
            {
               "target" : "com.amazonaws.batch#DescribeQuotaShare"
            },
            {
               "target" : "com.amazonaws.batch#DescribeSchedulingPolicies"
            },
            {
               "target" : "com.amazonaws.batch#DescribeServiceEnvironments"
            },
            {
               "target" : "com.amazonaws.batch#DescribeServiceJob"
            },
            {
               "target" : "com.amazonaws.batch#GetJobQueueSnapshot"
            },
            {
               "target" : "com.amazonaws.batch#ListConsumableResources"
            },
            {
               "target" : "com.amazonaws.batch#ListJobs"
            },
            {
               "target" : "com.amazonaws.batch#ListJobsByConsumableResource"
            },
            {
               "target" : "com.amazonaws.batch#ListQuotaShares"
            },
            {
               "target" : "com.amazonaws.batch#ListSchedulingPolicies"
            },
            {
               "target" : "com.amazonaws.batch#ListServiceJobs"
            },
            {
               "target" : "com.amazonaws.batch#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.batch#RegisterJobDefinition"
            },
            {
               "target" : "com.amazonaws.batch#SubmitJob"
            },
            {
               "target" : "com.amazonaws.batch#SubmitServiceJob"
            },
            {
               "target" : "com.amazonaws.batch#TagResource"
            },
            {
               "target" : "com.amazonaws.batch#TerminateJob"
            },
            {
               "target" : "com.amazonaws.batch#TerminateServiceJob"
            },
            {
               "target" : "com.amazonaws.batch#UntagResource"
            },
            {
               "target" : "com.amazonaws.batch#UpdateComputeEnvironment"
            },
            {
               "target" : "com.amazonaws.batch#UpdateConsumableResource"
            },
            {
               "target" : "com.amazonaws.batch#UpdateJobQueue"
            },
            {
               "target" : "com.amazonaws.batch#UpdateQuotaShare"
            },
            {
               "target" : "com.amazonaws.batch#UpdateSchedulingPolicy"
            },
            {
               "target" : "com.amazonaws.batch#UpdateServiceEnvironment"
            },
            {
               "target" : "com.amazonaws.batch#UpdateServiceJob"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "batch",
               "cloudFormationName" : "Batch",
               "cloudTrailEventSource" : "batch.amazonaws.com",
               "endpointPrefix" : "batch",
               "sdkId" : "Batch"
            },
            "aws.auth#sigv4" : {
               "name" : "batch"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<fullname>Batch</fullname>\n         <p>Using Batch, you can run batch computing workloads on the Amazon Web Services Cloud. Batch computing is a common means for\n   developers, scientists, and engineers to access large amounts of compute resources. Batch uses the advantages of\n   the batch computing to remove the undifferentiated heavy lifting of configuring and managing required infrastructure.\n   At the same time, it also adopts a familiar batch computing software approach. You can use Batch to efficiently\n   provision resources, and work toward eliminating capacity constraints, reducing your overall compute costs, and\n   delivering results more quickly.</p>\n         <p>As a fully managed service, Batch can run batch computing workloads of any scale. Batch automatically\n   provisions compute resources and optimizes workload distribution based on the quantity and scale of your specific\n   workloads. With Batch, there's no need to install or manage batch computing software. This means that you can focus\n   on analyzing results and solving your specific problems instead.</p>",
            "smithy.api#title" : "AWS Batch",
            "smithy.api#xmlNamespace" : {
               "uri" : "http://batch.amazonaws.com/doc/2016-08-10/"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://batch-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "name"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      "aws"
                                                   ],
                                                   "fn" : "stringEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://fips.batch.{Region}.amazonaws.com"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "name"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      "aws-us-gov"
                                                   ],
                                                   "fn" : "stringEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://batch.{Region}.amazonaws.com"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://batch-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://batch.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://batch.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ap-southeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fips.batch.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fips.batch.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fips.batch.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fips.batch.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://batch.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2016-08-10"
      },
      "com.amazonaws.batch#ArrayJobDependency" : {
         "members" : {
            "N_TO_N" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "N_TO_N"
               }
            },
            "SEQUENTIAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SEQUENTIAL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.batch#ArrayJobStatusSummary" : {
         "key" : {
            "target" : "com.amazonaws.batch#String"
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.batch#Integer"
         }
      },
      "com.amazonaws.batch#ArrayProperties" : {
         "members" : {
            "size" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The size of the array job.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents an Batch array job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#ArrayPropertiesDetail" : {
         "members" : {
            "index" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The job index within the array that's associated with this job. This parameter is returned\n   for array job children.</p>"
               }
            },
            "size" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
               }
            },
            "statusSummary" : {
               "target" : "com.amazonaws.batch#ArrayJobStatusSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>A summary of the number of array job children in each available job status. This parameter\n   is returned for parent array jobs.</p>"
               }
            },
            "statusSummaryLastUpdatedAt" : {
               "target" : "com.amazonaws.batch#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Unix timestamp (in milliseconds) for when the <code>statusSummary</code> was last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents the array properties of a job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#ArrayPropertiesSummary" : {
         "members" : {
            "index" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The job index within the array that's associated with this job. This parameter is returned\n   for children of array jobs.</p>"
               }
            },
            "size" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
               }
            },
            "statusSummary" : {
               "target" : "com.amazonaws.batch#ArrayJobStatusSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>A summary of the number of array job children in each available job status. This parameter\n   is returned for parent array jobs.</p>"
               }
            },
            "statusSummaryLastUpdatedAt" : {
               "target" : "com.amazonaws.batch#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Unix timestamp (in milliseconds) for when the <code>statusSummary</code> was last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents the array properties of a job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#AssignPublicIp" : {
         "members" : {
            "DISABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DISABLED"
               }
            },
            "ENABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ENABLED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.batch#AttemptContainerDetail" : {
         "members" : {
            "containerInstanceArn" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>"
               }
            },
            "exitCode" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The exit code for the job attempt. A non-zero exit code is considered failed.</p>"
               }
            },
            "logStreamName" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the CloudWatch Logs log stream that's associated with the container. The log\n   group for Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log\n   stream name when they reach the <code>RUNNING</code> status.</p>"
               }
            },
            "networkInterfaces" : {
               "target" : "com.amazonaws.batch#NetworkInterfaceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The network interfaces that are associated with the job attempt.</p>"
               }
            },
            "reason" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A short (255 max characters) human-readable string to provide additional details for a\n   running or stopped container.</p>"
               }
            },
            "taskArn" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Amazon ECS task that's associated with the job attempt. Each container\n   attempt receives a task ARN when they reach the <code>STARTING</code> status.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents the details of a container that's part of a job attempt.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#AttemptDetail" : {
         "members" : {
            "container" : {
               "target" : "com.amazonaws.batch#AttemptContainerDetail",
               "traits" : {
                  "smithy.api#documentation" : "<p>The details for the container in this job attempt.</p>"
               }
            },
            "startedAt" : {
               "target" : "com.amazonaws.batch#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Unix timestamp (in milliseconds) for when the attempt was started (when the attempt\n   transitioned from the <code>STARTING</code> state to the <code>RUNNING</code> state).</p>"
               }
            },
            "statusReason" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A short, human-readable string to provide additional details for the current status of the\n   job attempt.</p>"
               }
            },
            "stoppedAt" : {
               "target" : "com.amazonaws.batch#Long",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Unix timestamp (in milliseconds) for when the attempt was stopped (when the attempt\n   transitioned from the <code>RUNNING</code> state to a terminal state, such as\n    <code>SUCCEEDED</code> or <code>FAILED</code>).</p>"
               }
            },
            "taskProperties" : {
               "target" : "com.amazonaws.batch#ListAttemptEcsTaskDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties for a task definition that describes the container and volume definitions of\n   an Amazon ECS task.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents a job attempt.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#AttemptDetails" : {
         "member" : {
            "target" : "com.amazonaws.batch#AttemptDetail"
         },
         "type" : "list"
      },
      "com.amazonaws.batch#AttemptEcsTaskDetails" : {
         "members" : {
            "containerInstanceArn" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the container instance that hosts the task.</p>"
               }
            },
            "containers" : {
               "target" : "com.amazonaws.batch#ListAttemptTaskContainerDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of containers that are included in the <code>taskProperties</code> list.</p>"
               }
            },
            "taskArn" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the Amazon ECS task.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents the details of a task.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#AttemptTaskContainerDetails" : {
         "members" : {
            "exitCode" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The exit code for the container’s attempt. A non-zero exit code is considered failed.</p>"
               }
            },
            "logStreamName" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amazon CloudWatch Logs log stream that's associated with the container. The log\n   group for Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log stream name\n   when they reach the <code>RUNNING</code> status.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a container.</p>"
               }
            },
            "networkInterfaces" : {
               "target" : "com.amazonaws.batch#NetworkInterfaceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The network interfaces that are associated with the job attempt.</p>"
               }
            },
            "reason" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A short (255 max characters) string that's easy to understand and provides additional details for a\n   running or stopped container.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents the details of a container that's part of a job attempt.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#Boolean" : {
         "type" : "boolean"
      },
      "com.amazonaws.batch#CEState" : {
         "members" : {
            "DISABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DISABLED"
               }
            },
            "ENABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ENABLED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.batch#CEStatus" : {
         "members" : {
            "CREATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETED"
               }
            },
            "DELETING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETING"
               }
            },
            "INVALID" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INVALID"
               }
            },
            "UPDATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UPDATING"
               }
            },
            "VALID" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VALID"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.batch#CEType" : {
         "members" : {
            "MANAGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MANAGED"
               }
            },
            "UNMANAGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNMANAGED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.batch#CRAllocationStrategy" : {
         "members" : {
            "BEST_FIT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BEST_FIT"
               }
            },
            "BEST_FIT_PROGRESSIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BEST_FIT_PROGRESSIVE"
               }
            },
            "SPOT_CAPACITY_OPTIMIZED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SPOT_CAPACITY_OPTIMIZED"
               }
            },
            "SPOT_PRICE_CAPACITY_OPTIMIZED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SPOT_PRICE_CAPACITY_OPTIMIZED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.batch#CRType" : {
         "members" : {
            "EC2" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EC2"
               }
            },
            "FARGATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FARGATE"
               }
            },
            "FARGATE_SPOT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FARGATE_SPOT"
               }
            },
            "SPOT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SPOT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.batch#CRUpdateAllocationStrategy" : {
         "members" : {
            "BEST_FIT_PROGRESSIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BEST_FIT_PROGRESSIVE"
               }
            },
            "SPOT_CAPACITY_OPTIMIZED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SPOT_CAPACITY_OPTIMIZED"
               }
            },
            "SPOT_PRICE_CAPACITY_OPTIMIZED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SPOT_PRICE_CAPACITY_OPTIMIZED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.batch#CancelJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.batch#ClientException"
            },
            {
               "target" : "com.amazonaws.batch#ServerException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.batch#CancelJobRequest"
         },
         "output" : {
            "target" : "com.amazonaws.batch#CancelJobResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Cancels a job in an Batch job queue. Jobs that are in a <code>SUBMITTED</code>, <code>PENDING</code>, or <code>RUNNABLE</code> state are cancelled and the job status is updated to <code>FAILED</code>.</p>\n         <note>\n            <p>A <code>PENDING</code> job is canceled after all dependency jobs are completed.\n        Therefore, it may take longer than expected to cancel a job in <code>PENDING</code>\n        status.</p>\n            <p>When you try to cancel an array parent job in <code>PENDING</code>, Batch attempts to\n        cancel all child jobs. The array parent job is canceled when all child jobs are\n        completed.</p>\n         </note>\n         <p>Jobs that progressed to the <code>STARTING</code> or\n        <code>RUNNING</code> state aren't canceled. However, the API operation still succeeds, even\n      if no job is canceled. These jobs must be terminated with the <a>TerminateJob</a>\n      operation.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/v1/canceljob"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.batch#CancelJobRequest" : {
         "members" : {
            "jobId" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The Batch job ID of the job to cancel.</p>",
                  "smithy.api#required" : {}
               }
            },
            "reason" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>A message to attach to the job that explains the reason for canceling it. This message is\n      returned by future <a>DescribeJobs</a> operations on the job. It is also\n      recorded in the Batch activity logs.</p>\n         <p>This parameter has as limit of 1024 characters.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains the parameters for <code>CancelJob</code>.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#CancelJobResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#CapacityLimit" : {
         "members" : {
            "capacityUnit" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unit of measure for the capacity limit, which defines how <code>maxCapacity</code> is interpreted. For <code>SAGEMAKER_TRAINING</code> jobs in a quota management\n      enabled service environment, specify the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_ResourceConfig.html#sagemaker-Type-ResourceConfig-InstanceType\">instance type</a>\n      (for example, <code>ml.m5.large</code>). Otherwise, use <code>NUM_INSTANCES</code>.</p>"
               }
            },
            "maxCapacity" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum capacity available for the service environment. For a quota management enabled service environment, this value represents\n      the maximum quantity of a particular resource type (specified by <code>capacityUnit</code>) that can be allocated to service jobs.\n      For other service environments, this value represents the maximum quantity of all resources that can be allocated to service jobs.</p>\n         <p>For example, if <code>maxCapacity=50</code> and <code>capacityUnit=NUM_INSTANCES</code>, you can run up to 50 instances concurrently.\n      If you run 5 SageMaker Training jobs that each use 10 instances, a subsequent job requiring 10 instances waits in the queue until\n      capacity is available. In a quota management enabled service environment with <code>capacityUnit=ml.m5.large</code>, only\n      <code>ml.m5.large</code> instances count against this limit, and jobs requiring other instance types wait until a matching capacity limit is configured.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines the type and maximum quantity of resources that can be allocated to service jobs in a service environment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#CapacityLimits" : {
         "member" : {
            "target" : "com.amazonaws.batch#CapacityLimit"
         },
         "type" : "list"
      },
      "com.amazonaws.batch#ClientException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.batch#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>These errors are usually caused by a client action. One example cause is using an action or resource on behalf\n   of a user that doesn't have permissions to use the action or resource. Another cause is specifying an identifier\n   that's not valid.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#ClientRequestToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.batch#ComputeEnvironmentDetail" : {
         "members" : {
            "computeEnvironmentArn" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "computeEnvironmentName" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the compute environment. It can be up to 128 characters long. It can contain uppercase and\n lowercase letters, numbers, hyphens (-), and underscores (_).</p>",
                  "smithy.api#required" : {}
               }
            },
            "computeResources" : {
               "target" : "com.amazonaws.batch#ComputeResource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The compute resources defined for the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in\n   the <i>Batch User Guide</i>.</p>"
               }
            },
            "containerOrchestrationType" : {
               "target" : "com.amazonaws.batch#OrchestrationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The orchestration type of the compute environment. The valid values are <code>ECS</code>\n   (default) or <code>EKS</code>.</p>"
               }
            },
            "context" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Reserved.</p>"
               }
            },
            "ecsClusterArn" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the underlying Amazon ECS cluster that the compute environment uses.</p>"
               }
            },
            "eksConfiguration" : {
               "target" : "com.amazonaws.batch#EksConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration for the Amazon EKS cluster that supports the Batch compute environment. Only\n   specify this parameter if the <code>containerOrchestrationType</code> is <code>EKS</code>.</p>"
               }
            },
            "serviceRole" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service role that's associated with the compute environment that allows Batch to make\n   calls to Amazon Web Services API operations on your behalf. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/service_IAM_role.html\">Batch service IAM role</a> in the\n    <i>Batch User Guide</i>.</p>"
               }
            },
            "state" : {
               "target" : "com.amazonaws.batch#CEState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The state of the compute environment. The valid values are <code>ENABLED</code> or\n    <code>DISABLED</code>.</p>\n         <p>If the state is <code>ENABLED</code>, then the Batch scheduler can attempt to place jobs\n   from an associated job queue on the compute resources within the environment. If the compute\n   environment is managed, then it can scale its instances out or in automatically based on the job\n   queue demand.</p>\n         <p>If the state is <code>DISABLED</code>, then the Batch scheduler doesn't attempt to place\n   jobs within the environment. Jobs in a <code>STARTING</code> or <code>RUNNING</code> state\n   continue to progress normally. Managed compute environments in the <code>DISABLED</code> state\n   don't scale out. </p>\n         <note>\n            <p>Compute environments in a <code>DISABLED</code> state may continue to incur billing\n    charges. To prevent additional charges, turn off and then delete the compute environment. For\n    more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environment_parameters.html#compute_environment_state\">State</a> in the <i>Batch User Guide</i>.</p>\n         </note>\n         <p>When an instance is idle, the instance scales down to the <code>minvCpus</code> value.\n   However, the instance size doesn't change. For example, consider a <code>c5.8xlarge</code>\n   instance with a <code>minvCpus</code> value of <code>4</code> and a <code>desiredvCpus</code>\n   value of <code>36</code>. This instance doesn't scale down to a <code>c5.large</code>\n   instance.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.batch#CEStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the compute environment (for example, <code>CREATING</code> or\n    <code>VALID</code>).</p>"
               }
            },
            "statusReason" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A short, human-readable string to provide additional details for the current status of the\n   compute environment.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.batch#TagrisTagsMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags applied to the compute environment.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.batch#CEType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the compute environment: <code>MANAGED</code> or <code>UNMANAGED</code>. For\n   more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the <i>Batch User Guide</i>.</p>"
               }
            },
            "unmanagedvCpus" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of VCPUs expected to be used for an unmanaged compute environment.</p>"
               }
            },
            "updatePolicy" : {
               "target" : "com.amazonaws.batch#UpdatePolicy",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the infrastructure update policy for the compute environment. For more information\n   about infrastructure updates, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the\n    <i>Batch User Guide</i>.</p>"
               }
            },
            "uuid" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier for the compute environment.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents an Batch compute environment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#ComputeEnvironmentDetailList" : {
         "member" : {
            "target" : "com.amazonaws.batch#ComputeEnvironmentDetail"
         },
         "type" : "list"
      },
      "com.amazonaws.batch#ComputeEnvironmentOrder" : {
         "members" : {
            "computeEnvironment" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "order" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The order of the compute environment. Compute environments are tried in ascending order. For\n   example, if two compute environments are associated with a job queue, the compute environment\n   with a lower <code>order</code> integer value is tried for job placement first.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The order that compute environments are tried in for job placement within a queue. Compute\n   environments are tried in ascending order. For example, if two compute environments are\n   associated with a job queue, the compute environment with a lower order integer value is tried\n   for job placement first. Compute environments must be in the <code>VALID</code> state before you\n   can associate them with a job queue. All of the compute environments must be either EC2\n    (<code>EC2</code> or <code>SPOT</code>) or Fargate (<code>FARGATE</code> or\n    <code>FARGATE_SPOT</code>); Amazon EC2 and Fargate compute environments can't be mixed.</p>\n         <note>\n            <p>All compute environments that are associated with a job queue must share the same\n    architecture. Batch doesn't support mixing compute environment architecture types in a single\n    job queue.</p>\n         </note>"
         },
         "type" : "structure"
      },
      "com.amazonaws.batch#ComputeEnvironmentOrders" : {
         "member" : {
            "target" : "com.amazonaws.batch#ComputeEnvironmentOrder"
         },
         "type" : "list"
      },
      "com.amazonaws.batch#ComputeResource" : {
         "members" : {
            "allocationStrategy" : {
               "target" : "com.amazonaws.batch#CRAllocationStrategy",
               "traits" : {
                  "smithy.api#documentation" : "<p>The allocation strategy to use for the compute resource if not enough instances of the best\n   fitting instance type can be allocated. This might be because of availability of the instance\n   type in the Region or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>. For more\n   information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/allocation-strategies.html\">Allocation strategies</a> in the <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <dl>\n            <dt>BEST_FIT (default)</dt>\n            <dd>\n               <p>Batch selects an instance type that best fits the needs of the jobs with a preference\n      for the lowest-cost instance type. If additional instances of the selected instance type\n      aren't available, Batch waits for the additional instances to be available. If there aren't\n      enough instances available or the user is reaching <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>,\n      additional jobs aren't run until the currently running jobs are completed. This allocation\n      strategy keeps costs lower but can limit scaling. If you're using Spot Fleets with\n       <code>BEST_FIT</code>, the Spot Fleet IAM Role must be specified. Compute resources that use\n      a <code>BEST_FIT</code> allocation strategy don't support infrastructure updates and can't\n      update some parameters. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in\n      the <i>Batch User Guide</i>.</p>\n            </dd>\n            <dt>BEST_FIT_PROGRESSIVE</dt>\n            <dd>\n               <p>Batch selects additional instance types that are large enough to meet the requirements\n      of the jobs in the queue. Its preference is for instance types with lower cost vCPUs. If\n      additional instances of the previously selected instance types aren't available, Batch\n      selects new instance types.</p>\n            </dd>\n            <dt>SPOT_CAPACITY_OPTIMIZED</dt>\n            <dd>\n               <p>Batch selects one or more instance types that are large enough to meet the requirements\n      of the jobs in the queue. Its preference is for instance types that are less likely to be\n      interrupted. This allocation strategy is only available for Spot Instance compute\n      resources.</p>\n            </dd>\n            <dt>SPOT_PRICE_CAPACITY_OPTIMIZED</dt>\n            <dd>\n               <p>The price and capacity optimized allocation strategy looks at both price and capacity to\n      select the Spot Instance pools that are the least likely to be interrupted and have the lowest\n      possible price. This allocation strategy is only available for Spot Instance compute\n      resources.</p>\n            </dd>\n         </dl>\n         <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and\n    <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot \n    Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to \n    exceed <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never \n    exceeds <code>maxvCpus</code> by more than a single instance.</p>"
               }
            },
            "bidPercentage" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum percentage that a Spot Instance price can be when compared with the On-Demand\n   price for that instance type before instances are launched. For example, if your maximum\n   percentage is 20%, then the Spot price must be less than 20% of the current On-Demand price for\n   that Amazon EC2 instance. You always pay the lowest (market) price and never more than your maximum\n   percentage. If you leave this field empty, the default value is 100% of the On-Demand\n   price. For most use cases, we recommend leaving this field empty.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
               }
            },
            "desiredvCpus" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The desired number of vCPUS in the compute environment. Batch modifies this value between \n   the minimum and maximum values based on job queue demand.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
               }
            },
            "ec2Configuration" : {
               "target" : "com.amazonaws.batch#Ec2ConfigurationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides information that's used to select Amazon Machine Images (AMIs) for Amazon EC2 instances\n   in the compute environment. If <code>Ec2Configuration</code> isn't specified, the default is\n    <code>ECS_AL2023</code> for EC2 (ECS) compute environments and <code>EKS_AL2023</code> for EKS compute environments.</p>\n         <p>One or two values can be provided.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
               }
            },
            "ec2KeyPair" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon EC2 key pair that's used for instances launched in the compute environment. You can\n   use this key pair to log in to your instances with SSH.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
               }
            },
            "imageId" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#deprecated" : {
                     "message" : "This field is deprecated, use ec2Configuration[].imageIdOverride instead."
                  },
                  "smithy.api#documentation" : "<p>The Amazon Machine Image (AMI) ID used for instances launched in the compute environment.\n   This parameter is overridden by the <code>imageIdOverride</code> member of the\n    <code>Ec2Configuration</code> structure.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <note>\n            <p>The AMI that you choose for a compute environment must match the architecture of the instance types that\n    you intend to use for that compute environment. For example, if your compute environment uses A1 instance types,\n    the compute resource AMI that you choose must support ARM instances. Amazon ECS vends both x86 and ARM versions of the\n    Amazon ECS-optimized Amazon Linux 2023 AMI. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html#ecs-optimized-ami-linux-variants.html\">Amazon ECS-optimized\n    Amazon Linux 2023 AMI</a>\n    in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         </note>"
               }
            },
            "instanceRole" : {
               "target" : "com.amazonaws.batch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. This\n   parameter is required for Amazon EC2 instances types. You can specify the short name or full Amazon Resource Name (ARN)\n   of an instance profile. For example, <code>\n               <i>ecsInstanceRole</i>\n            </code> or\n     <code>arn:aws:iam::<i><aws_account_id></i>:instance-profile/<i>ecsInstanceRole</i>\n            </code>.\n   For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS instance role</a> in the <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
               }
            },
            "instanceTypes" : {
               "target" : "com.amazonaws.batch#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The instances types that can be launched. You can specify instance families to launch any\n   instance type within those families (for example, <code>c5</code> or <code>p3</code>), or you can\n   specify specific sizes within a family (such as <code>c5.8xlarge</code>). </p>\n         <p>Batch can select the instance type for you if you choose one of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>optimal</code> to select instance types (from the <code>c4</code>, <code>m4</code>,\n    <code>r4</code>, <code>c5</code>, <code>m5</code>, and <code>r5</code>\n    instance families) that match the demand of your job queues. </p>\n            </li>\n            <li>\n               <p>\n                  <code>default_x86_64</code> to choose x86 based instance types (from the <code>m6i</code>,\n     <code>c6i</code>, <code>r6i</code>, and <code>c7i</code> instance families) that matches the resource demands of the job queue.</p>\n            </li>\n            <li>\n               <p>\n                  <code>default_arm64</code> to choose ARM based instance types (from the <code>m6g</code>,\n     <code>c6g</code>, <code>r6g</code>, and <code>c7g</code> instance families) that matches the resource demands of the job queue.</p>\n            </li>\n         </ul>\n         <note>\n            <p>Starting on 11/01/2025 the behavior of <code>optimal</code> is going to be changed to match\n     <code>default_x86_64</code>.  During the change your instance families could be updated to a\n    newer generation. You do not need to perform any actions for the upgrade to happen. For more\n    information about change, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/optimal-default-instance-troubleshooting.html\">Optimal instance type configuration to receive automatic instance family\n    updates</a>.</p>\n         </note>\n         <note>\n            <p>Instance family availability varies by Amazon Web Services Region. For example, some Amazon Web Services Regions may not have any fourth generation instance families but have fifth and\n    sixth generation instance families.</p>\n            <p>When using <code>default_x86_64</code> or <code>default_arm64</code> instance bundles,\n    Batch selects instance families based on a balance of cost-effectiveness and performance.\n    While newer generation instances often provide better price-performance, Batch may choose an\n    earlier generation instance family if it provides the optimal combination of availability, cost,\n    and performance for your workload. For example, in an Amazon Web Services Region where both c6i\n    and c7i instances are available, Batch might select c6i instances if they offer better\n    cost-effectiveness for your specific job requirements. For more information on Batch instance\n    types and Amazon Web Services Region availability, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance-type-compute-table.html\">Instance\n     type compute table</a> in the <i>Batch User Guide</i>.</p>\n            <p>Batch periodically updates your instances in default bundles to newer,\n    more cost-effective options. Updates happen automatically without requiring any\n    action from you. Your workloads continue running during updates with no interruption\n   </p>\n         </note>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <note>\n            <p>When you create a compute environment, the instance types that you select for the compute environment must\n    share the same architecture. For example, you can't mix x86 and ARM instances in the same compute\n    environment.</p>\n         </note>"
               }
            },
            "launchTemplate" : {
               "target" : "com.amazonaws.batch#LaunchTemplateSpecification",
               "traits" : {
                  "smithy.api#documentation" : "<p>The launch template to use for your compute resources. Any other compute resource parameters\n   that you specify in a <a href=\"https://docs.aws.amazon.com/batch/latest/APIReference/API_CreateComputeEnvironment.html\">CreateComputeEnvironment</a> API operation override the same parameters in the launch\n   template. You must specify either the launch template ID or launch template name in the request,\n   but not both. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html\">Launch template support</a> in the\n    <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
               }
            },
            "maxvCpus" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The maximum number of vCPUs that a compute environment can support.</p>\n         <note>\n            <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and\n     <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot Instances, \n     and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed\n     <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never exceeds\n     <code>maxvCpus</code> by more than a single instance.</p>\n         </note>",
                  "smithy.api#required" : {}
               }
            },
            "minvCpus" : {
               "target" : "com.amazonaws.batch#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The minimum number of vCPUs that a compute environment should maintain (even if the compute \n   environment is <code>DISABLED</code>).</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
               }
            },
            "placementGroup" : {
               "target" : "com.amazonaws.batch#String",
[...]
