{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.cloudsearch#A9SearchCloudConfigService2013" : {
         "operations" : [
            {
               "target" : "com.amazonaws.cloudsearch#BuildSuggesters"
            },
            {
               "target" : "com.amazonaws.cloudsearch#CreateDomain"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DefineAnalysisScheme"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DefineExpression"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DefineIndexField"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DefineSuggester"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DeleteAnalysisScheme"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DeleteDomain"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DeleteExpression"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DeleteIndexField"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DeleteSuggester"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeAnalysisSchemes"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeAvailabilityOptions"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeDomainEndpointOptions"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeDomains"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeExpressions"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeIndexFields"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeScalingParameters"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeServiceAccessPolicies"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DescribeSuggesters"
            },
            {
               "target" : "com.amazonaws.cloudsearch#IndexDocuments"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ListDomainNames"
            },
            {
               "target" : "com.amazonaws.cloudsearch#UpdateAvailabilityOptions"
            },
            {
               "target" : "com.amazonaws.cloudsearch#UpdateDomainEndpointOptions"
            },
            {
               "target" : "com.amazonaws.cloudsearch#UpdateScalingParameters"
            },
            {
               "target" : "com.amazonaws.cloudsearch#UpdateServiceAccessPolicies"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "cloudsearch",
               "cloudFormationName" : "CloudSearch",
               "cloudTrailEventSource" : "cloudsearch.amazonaws.com",
               "endpointPrefix" : "cloudsearch",
               "sdkId" : "CloudSearch"
            },
            "aws.auth#sigv4" : {
               "name" : "cloudsearch"
            },
            "aws.protocols#awsQuery" : {},
            "smithy.api#documentation" : "<fullname>Amazon CloudSearch Configuration Service</fullname>\n    <p>You use the Amazon CloudSearch configuration service to create, configure, and manage search domains.\n      Configuration service  requests are submitted using the AWS Query protocol. AWS Query requests\n      are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p>\n    <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com.\n      For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints,\n      see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region\" target=\"_blank\">Regions and Endpoints</a>.</p>",
            "smithy.api#title" : "Amazon CloudSearch",
            "smithy.api#xmlNamespace" : {
               "uri" : "http://cloudsearch.amazonaws.com/doc/2013-01-01/"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cloudsearch-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cloudsearch-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cloudsearch.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://cloudsearch.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudsearch.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2013-01-01"
      },
      "com.amazonaws.cloudsearch#APIVersion" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The Amazon CloudSearch API version for a domain: 2011-02-01 or 2013-01-01.</p>"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudsearch#ARN" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the search domain.  See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudsearch#AccessPoliciesStatus" : {
         "members" : {
            "Options" : {
               "target" : "com.amazonaws.cloudsearch#PolicyDocument",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.cloudsearch#OptionStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#AlgorithmicStemming" : {
         "members" : {
            "full" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "full"
               }
            },
            "light" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "light"
               }
            },
            "minimal" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "minimal"
               }
            },
            "none" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "none"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.cloudsearch#AnalysisOptions" : {
         "members" : {
            "AlgorithmicStemming" : {
               "target" : "com.amazonaws.cloudsearch#AlgorithmicStemming",
               "traits" : {
                  "smithy.api#documentation" : "<p>The level of algorithmic stemming to perform: <code>none</code>, <code>minimal</code>, <code>light</code>, or <code>full</code>. The available levels vary depending on the language. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/text-processing.html#text-processing-settings\" target=\"_blank\">Language Specific Text Processing Settings</a> in the <i>Amazon CloudSearch Developer Guide</i> </p>"
               }
            },
            "JapaneseTokenizationDictionary" : {
               "target" : "com.amazonaws.cloudsearch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON array that contains a collection of terms, tokens, readings and part of speech for Japanese Tokenizaiton. The Japanese tokenization dictionary enables you to override the default tokenization for selected terms. This is only valid for Japanese language fields.</p>"
               }
            },
            "StemmingDictionary" : {
               "target" : "com.amazonaws.cloudsearch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON object that contains a collection of string:value pairs that each map a term to its stem. For example, <code>{\"term1\": \"stem1\", \"term2\": \"stem2\", \"term3\": \"stem3\"}</code>. The stemming dictionary is applied in addition to any algorithmic stemming. This enables you to override the results of the algorithmic stemming to correct specific cases of overstemming or understemming. The maximum size of a stemming dictionary is 500 KB.</p>"
               }
            },
            "Stopwords" : {
               "target" : "com.amazonaws.cloudsearch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A  JSON array of terms to ignore during indexing and searching. For example, <code>[\"a\", \"an\", \"the\", \"of\"]</code>. The stopwords dictionary must explicitly list each word you want to ignore. Wildcards and regular expressions are not supported. </p>"
               }
            },
            "Synonyms" : {
               "target" : "com.amazonaws.cloudsearch#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Synonyms, stopwords, and stemming options for an analysis scheme. Includes tokenization dictionary for Japanese.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#AnalysisScheme" : {
         "members" : {
            "AnalysisOptions" : {
               "target" : "com.amazonaws.cloudsearch#AnalysisOptions"
            },
            "AnalysisSchemeLanguage" : {
               "target" : "com.amazonaws.cloudsearch#AnalysisSchemeLanguage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "AnalysisSchemeName" : {
               "target" : "com.amazonaws.cloudsearch#StandardName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#AnalysisSchemeLanguage" : {
         "members" : {
            "ar" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ar"
               }
            },
            "bg" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "bg"
               }
            },
            "ca" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ca"
               }
            },
            "cs" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "cs"
               }
            },
            "da" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "da"
               }
            },
            "de" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "de"
               }
            },
            "el" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "el"
               }
            },
            "en" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "en"
               }
            },
            "es" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "es"
               }
            },
            "eu" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "eu"
               }
            },
            "fa" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "fa"
               }
            },
            "fi" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "fi"
               }
            },
            "fr" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "fr"
               }
            },
            "ga" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ga"
               }
            },
            "gl" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "gl"
               }
            },
            "he" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "he"
               }
            },
            "hi" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "hi"
               }
            },
            "hu" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "hu"
               }
            },
            "hy" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "hy"
               }
            },
            "id" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "id"
               }
            },
            "it" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "it"
               }
            },
            "ja" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ja"
               }
            },
            "ko" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ko"
               }
            },
            "lv" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "lv"
               }
            },
            "mul" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "mul"
               }
            },
            "nl" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "nl"
               }
            },
            "no" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "no"
               }
            },
            "pt" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "pt"
               }
            },
            "ro" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ro"
               }
            },
            "ru" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ru"
               }
            },
            "sv" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "sv"
               }
            },
            "th" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "th"
               }
            },
            "tr" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "tr"
               }
            },
            "zh_Hans" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "zh-Hans"
               }
            },
            "zh_Hant" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "zh-Hant"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An <a href=\"http://tools.ietf.org/html/rfc4646\" target=\"_blank\">IETF RFC 4646</a> language code or <code>mul</code>  for multiple languages.</p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.cloudsearch#AnalysisSchemeStatus" : {
         "members" : {
            "Options" : {
               "target" : "com.amazonaws.cloudsearch#AnalysisScheme",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.cloudsearch#OptionStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The status and configuration of an  <code>AnalysisScheme</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#AnalysisSchemeStatusList" : {
         "member" : {
            "target" : "com.amazonaws.cloudsearch#AnalysisSchemeStatus"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A list of the analysis schemes configured for a domain.</p>"
         },
         "type" : "list"
      },
      "com.amazonaws.cloudsearch#AvailabilityOptionsStatus" : {
         "members" : {
            "Options" : {
               "target" : "com.amazonaws.cloudsearch#MultiAZ",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>The availability options configured for the domain.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.cloudsearch#OptionStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The status and configuration of the domain's availability options.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#BaseException" : {
         "members" : {
            "Code" : {
               "target" : "com.amazonaws.cloudsearch#ErrorCode"
            },
            "Message" : {
               "target" : "com.amazonaws.cloudsearch#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An error occurred while processing the request.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#Boolean" : {
         "type" : "boolean"
      },
      "com.amazonaws.cloudsearch#BuildSuggesters" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#BuildSuggestersRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#BuildSuggestersResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Indexes the search suggestions. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters\">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#BuildSuggestersRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>BuildSuggester</a></code> operation. Specifies the name of the domain you want to update.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#BuildSuggestersResponse" : {
         "members" : {
            "FieldNames" : {
               "target" : "com.amazonaws.cloudsearch#FieldNameList"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>BuildSuggester</code> request. Contains a list of the fields used for suggestions.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#CreateDomain" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceAlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#CreateDomainRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#CreateDomainResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new search domain. For more information,\n      see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html\" target=\"_blank\">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#CreateDomainRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the domain you are creating. Allowed characters are a-z (lower-case letters), 0-9, and hyphen (-). Domain names must start with a letter or number and be at least 3 and no more than 28 characters long.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>CreateDomain</a></code> operation. Specifies a name for the new search domain.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#CreateDomainResponse" : {
         "members" : {
            "DomainStatus" : {
               "target" : "com.amazonaws.cloudsearch#DomainStatus"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>CreateDomainRequest</code>. Contains the status of a newly created domain.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DateArrayOptions" : {
         "members" : {
            "DefaultValue" : {
               "target" : "com.amazonaws.cloudsearch#FieldValue",
               "traits" : {
                  "smithy.api#documentation" : "A value to use for the field if the field isn't specified for a document."
               }
            },
            "FacetEnabled" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether facet information can be returned for the field.</p>"
               }
            },
            "ReturnEnabled" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether the contents of the field can be returned in the search results.</p>"
               }
            },
            "SearchEnabled" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether the contents of the field are searchable.</p>"
               }
            },
            "SourceFields" : {
               "target" : "com.amazonaws.cloudsearch#FieldNameCommaList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of source fields to map to the field. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Options for a field that contains an array of dates.  Present if <code>IndexFieldType</code> specifies the field is of type <code>date-array</code>. All options are enabled by default.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DateOptions" : {
         "members" : {
            "DefaultValue" : {
               "target" : "com.amazonaws.cloudsearch#FieldValue",
               "traits" : {
                  "smithy.api#documentation" : "A value to use for the field if the field isn't specified for a document."
               }
            },
            "FacetEnabled" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether facet information can be returned for the field.</p>"
               }
            },
            "ReturnEnabled" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether the contents of the field can be returned in the search results.</p>"
               }
            },
            "SearchEnabled" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether the contents of the field are searchable.</p>"
               }
            },
            "SortEnabled" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether the field can be used to sort the search results.</p>"
               }
            },
            "SourceField" : {
               "target" : "com.amazonaws.cloudsearch#FieldName"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Options for a date field. Dates and times are specified in UTC (Coordinated Universal Time) according to IETF RFC3339: yyyy-mm-ddT00:00:00Z.  Present if <code>IndexFieldType</code> specifies the field is of type <code>date</code>. All options are enabled by default.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DefineAnalysisScheme" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DefineAnalysisSchemeRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DefineAnalysisSchemeResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DefineAnalysisSchemeRequest" : {
         "members" : {
            "AnalysisScheme" : {
               "target" : "com.amazonaws.cloudsearch#AnalysisScheme",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DefineAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme configuration.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DefineAnalysisSchemeResponse" : {
         "members" : {
            "AnalysisScheme" : {
               "target" : "com.amazonaws.cloudsearch#AnalysisSchemeStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code><a>DefineAnalysisScheme</a></code> request. Contains the status of the newly-configured analysis scheme.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DefineExpression" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DefineExpressionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DefineExpressionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones.  If the expression exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DefineExpressionRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "Expression" : {
               "target" : "com.amazonaws.cloudsearch#Expression",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DefineExpression</a></code> operation. Specifies the name of the domain you want to update and the expression you want to configure.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DefineExpressionResponse" : {
         "members" : {
            "Expression" : {
               "target" : "com.amazonaws.cloudsearch#ExpressionStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DefineExpression</code> request. Contains the status of the newly-configured expression.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DefineIndexField" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DefineIndexFieldRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DefineIndexFieldResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DefineIndexFieldRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "IndexField" : {
               "target" : "com.amazonaws.cloudsearch#IndexField",
               "traits" : {
                  "smithy.api#documentation" : "<p>The index field and field options you want to configure. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DefineIndexField</a></code> operation. Specifies the name of the domain you want to update and the index field configuration.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DefineIndexFieldResponse" : {
         "members" : {
            "IndexField" : {
               "target" : "com.amazonaws.cloudsearch#IndexFieldStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code><a>DefineIndexField</a></code> request. Contains the status of the newly-configured index field.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DefineSuggester" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DefineSuggesterRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DefineSuggesterResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DefineSuggesterRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "Suggester" : {
               "target" : "com.amazonaws.cloudsearch#Suggester",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DefineSuggester</a></code> operation. Specifies the name of the domain you want to update and the suggester configuration.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DefineSuggesterResponse" : {
         "members" : {
            "Suggester" : {
               "target" : "com.amazonaws.cloudsearch#SuggesterStatus",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DefineSuggester</code> request. Contains the status of the newly-configured suggester.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteAnalysisScheme" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DeleteAnalysisSchemeRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DeleteAnalysisSchemeResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes an analysis scheme. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DeleteAnalysisSchemeRequest" : {
         "members" : {
            "AnalysisSchemeName" : {
               "target" : "com.amazonaws.cloudsearch#StandardName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the analysis scheme you want to delete.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DeleteAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme you want to delete. </p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteAnalysisSchemeResponse" : {
         "members" : {
            "AnalysisScheme" : {
               "target" : "com.amazonaws.cloudsearch#AnalysisSchemeStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the analysis scheme being deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DeleteAnalysisScheme</code> request. Contains the status of the deleted analysis scheme.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteDomain" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DeleteDomainRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DeleteDomainResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information,\n      see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html\" target=\"_blank\">Deleting a Search  Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DeleteDomainRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the domain you want to permanently delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DeleteDomain</a></code> operation. Specifies the name of the domain you want to delete.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteDomainResponse" : {
         "members" : {
            "DomainStatus" : {
               "target" : "com.amazonaws.cloudsearch#DomainStatus"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DeleteDomain</code> request. Contains the status of a newly deleted domain, or no status if the domain has already been completely deleted.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteExpression" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DeleteExpressionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DeleteExpressionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DeleteExpressionRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "ExpressionName" : {
               "target" : "com.amazonaws.cloudsearch#StandardName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the <code><a>Expression</a></code> to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DeleteExpression</a></code> operation. Specifies the name of the domain you want to update and the name of the expression you want to delete.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteExpressionResponse" : {
         "members" : {
            "Expression" : {
               "target" : "com.amazonaws.cloudsearch#ExpressionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the expression being deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code><a>DeleteExpression</a></code> request. Specifies the expression being deleted.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteIndexField" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DeleteIndexFieldRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DeleteIndexFieldResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DeleteIndexFieldRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "IndexFieldName" : {
               "target" : "com.amazonaws.cloudsearch#DynamicFieldName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the index field your want to remove from the domain's indexing options.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DeleteIndexField</a></code> operation. Specifies the name of the domain you want to update and the name of the index field you want to delete.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteIndexFieldResponse" : {
         "members" : {
            "IndexField" : {
               "target" : "com.amazonaws.cloudsearch#IndexFieldStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the index field being deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code><a>DeleteIndexField</a></code> request.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteSuggester" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DeleteSuggesterRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DeleteSuggesterResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DeleteSuggesterRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "SuggesterName" : {
               "target" : "com.amazonaws.cloudsearch#StandardName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the name of the suggester you want to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DeleteSuggester</a></code> operation. Specifies the name of the domain you want to update and name of the suggester you want to delete.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DeleteSuggesterResponse" : {
         "members" : {
            "Suggester" : {
               "target" : "com.amazonaws.cloudsearch#SuggesterStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the suggester being deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DeleteSuggester</code> request. Contains the status of the deleted suggester.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeAnalysisSchemes" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DescribeAnalysisSchemesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DescribeAnalysisSchemesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name.  By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes.  For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DescribeAnalysisSchemesRequest" : {
         "members" : {
            "AnalysisSchemeNames" : {
               "target" : "com.amazonaws.cloudsearch#StandardNameList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The analysis schemes you want to describe.</p>"
               }
            },
            "Deployed" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>"
               }
            },
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the domain you want to describe.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DescribeAnalysisSchemes</a></code> operation. Specifies the name of the domain you want to describe. To limit the response to particular analysis schemes, specify the names of the analysis schemes you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>. </p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeAnalysisSchemesResponse" : {
         "members" : {
            "AnalysisSchemes" : {
               "target" : "com.amazonaws.cloudsearch#AnalysisSchemeStatusList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The analysis scheme descriptions.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DescribeAnalysisSchemes</code> request. Contains the analysis schemes configured for the domain specified in the request.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeAvailabilityOptions" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DisabledOperationException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InvalidTypeException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DescribeAvailabilityOptionsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DescribeAvailabilityOptionsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see  <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DescribeAvailabilityOptionsRequest" : {
         "members" : {
            "Deployed" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>"
               }
            },
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the domain you want to describe.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DescribeAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeAvailabilityOptionsResponse" : {
         "members" : {
            "AvailabilityOptions" : {
               "target" : "com.amazonaws.cloudsearch#AvailabilityOptionsStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The availability options configured for the domain. Indicates whether Multi-AZ is enabled for the domain. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DescribeAvailabilityOptions</code> request. Indicates whether or not the Multi-AZ option is enabled for the domain specified in the request. </p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeDomainEndpointOptions" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#DisabledOperationException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DescribeDomainEndpointOptionsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DescribeDomainEndpointOptionsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the domain's endpoint options, specifically whether all requests to the domain must arrive over HTTPS. For more information, see  <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-domain-endpoint-options.html\" target=\"_blank\">Configuring Domain Endpoint Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DescribeDomainEndpointOptionsRequest" : {
         "members" : {
            "Deployed" : {
               "target" : "com.amazonaws.cloudsearch#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether to retrieve the latest configuration (which might be in a Processing state) or the current, active configuration. Defaults to <code>false</code>.</p>"
               }
            },
            "DomainName" : {
               "target" : "com.amazonaws.cloudsearch#DomainName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string that represents the name of a domain.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DescribeDomainEndpointOptions</a></code> operation. Specify the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeDomainEndpointOptionsResponse" : {
         "members" : {
            "DomainEndpointOptions" : {
               "target" : "com.amazonaws.cloudsearch#DomainEndpointOptionsStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status and configuration of a search domain's endpoint options.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DescribeDomainEndpointOptions</code> request. Contains the status and configuration of a search domain's endpoint options. </p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeDomains" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudsearch#DescribeDomainsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.cloudsearch#DescribeDomainsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets information about the search domains owned by this account. Can be limited to specific domains. Shows\n      all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain's search endpoint: <code>q=matchall&amp;q.parser=structured&amp;size=0</code>. For more information,\n      see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudsearch#DescribeDomainsRequest" : {
         "members" : {
            "DomainNames" : {
               "target" : "com.amazonaws.cloudsearch#DomainNameList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The names of the domains you want to include in the response.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. By default shows the status of all domains. To restrict the response to particular domains, specify the names of the domains you want to describe.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeDomainsResponse" : {
         "members" : {
            "DomainStatusList" : {
               "target" : "com.amazonaws.cloudsearch#DomainStatusList",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The result of a <code>DescribeDomains</code> request. Contains the status of the domains specified in the request or all domains owned by the account.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudsearch#DescribeExpressions" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudsearch#BaseException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#InternalException"
            },
            {
               "target" : "com.amazonaws.cloudsearch#ResourceNotFoundException"
            }
         ],
[...]
