{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.amplifybackend#AdditionalConstraintsElement" : {
         "members" : {
            "REQUIRE_DIGIT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REQUIRE_DIGIT"
               }
            },
            "REQUIRE_LOWERCASE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REQUIRE_LOWERCASE"
               }
            },
            "REQUIRE_SYMBOL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REQUIRE_SYMBOL"
               }
            },
            "REQUIRE_UPPERCASE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REQUIRE_UPPERCASE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.amplifybackend#AmplifyBackend" : {
         "operations" : [
            {
               "target" : "com.amazonaws.amplifybackend#CloneBackend"
            },
            {
               "target" : "com.amazonaws.amplifybackend#CreateBackend"
            },
            {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAPI"
            },
            {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuth"
            },
            {
               "target" : "com.amazonaws.amplifybackend#CreateBackendConfig"
            },
            {
               "target" : "com.amazonaws.amplifybackend#CreateBackendStorage"
            },
            {
               "target" : "com.amazonaws.amplifybackend#CreateToken"
            },
            {
               "target" : "com.amazonaws.amplifybackend#DeleteBackend"
            },
            {
               "target" : "com.amazonaws.amplifybackend#DeleteBackendAPI"
            },
            {
               "target" : "com.amazonaws.amplifybackend#DeleteBackendAuth"
            },
            {
               "target" : "com.amazonaws.amplifybackend#DeleteBackendStorage"
            },
            {
               "target" : "com.amazonaws.amplifybackend#DeleteToken"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GenerateBackendAPIModels"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GetBackend"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GetBackendAPI"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GetBackendAPIModels"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GetBackendAuth"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GetBackendJob"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GetBackendStorage"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GetToken"
            },
            {
               "target" : "com.amazonaws.amplifybackend#ImportBackendAuth"
            },
            {
               "target" : "com.amazonaws.amplifybackend#ImportBackendStorage"
            },
            {
               "target" : "com.amazonaws.amplifybackend#ListBackendJobs"
            },
            {
               "target" : "com.amazonaws.amplifybackend#ListS3Buckets"
            },
            {
               "target" : "com.amazonaws.amplifybackend#RemoveAllBackends"
            },
            {
               "target" : "com.amazonaws.amplifybackend#RemoveBackendConfig"
            },
            {
               "target" : "com.amazonaws.amplifybackend#UpdateBackendAPI"
            },
            {
               "target" : "com.amazonaws.amplifybackend#UpdateBackendAuth"
            },
            {
               "target" : "com.amazonaws.amplifybackend#UpdateBackendConfig"
            },
            {
               "target" : "com.amazonaws.amplifybackend#UpdateBackendJob"
            },
            {
               "target" : "com.amazonaws.amplifybackend#UpdateBackendStorage"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "amplifybackend",
               "cloudFormationName" : "AmplifyBackend",
               "cloudTrailEventSource" : "amplifybackend.amazonaws.com",
               "endpointPrefix" : "amplifybackend",
               "sdkId" : "AmplifyBackend"
            },
            "aws.auth#sigv4" : {
               "name" : "amplifybackend"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>AWS Amplify Admin API</p>",
            "smithy.api#title" : "AmplifyBackend",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://amplifybackend-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://amplifybackend-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://amplifybackend.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://amplifybackend.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://amplifybackend.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-08-11"
      },
      "com.amazonaws.amplifybackend#AuthResources" : {
         "members" : {
            "IDENTITY_POOL_AND_USER_POOL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IDENTITY_POOL_AND_USER_POOL"
               }
            },
            "USER_POOL_ONLY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "USER_POOL_ONLY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.amplifybackend#AuthenticatedElement" : {
         "members" : {
            "CREATE_AND_UPDATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATE_AND_UPDATE"
               }
            },
            "DELETE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETE"
               }
            },
            "READ" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "READ"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.amplifybackend#BackendAPIAppSyncAuthSettings" : {
         "members" : {
            "CognitoUserPoolId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Cognito user pool ID, if Amazon Cognito was used as an authentication setting to access your data models.</p>",
                  "smithy.api#jsonName" : "cognitoUserPoolId"
               }
            },
            "Description" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The API key description for API_KEY, if it was used as an authentication mechanism to access your data models.</p>",
                  "smithy.api#jsonName" : "description"
               }
            },
            "ExpirationTime" : {
               "target" : "com.amazonaws.amplifybackend#__double",
               "traits" : {
                  "smithy.api#documentation" : "<p>The API key expiration time for API_KEY, if it was used as an authentication mechanism to access your data models.</p>",
                  "smithy.api#jsonName" : "expirationTime"
               }
            },
            "OpenIDAuthTTL" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The expiry time for the OpenID authentication mechanism.</p>",
                  "smithy.api#jsonName" : "openIDAuthTTL"
               }
            },
            "OpenIDClientId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The clientID for openID, if openID was used as an authentication setting to access your data models.</p>",
                  "smithy.api#jsonName" : "openIDClientId"
               }
            },
            "OpenIDIatTTL" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The expiry time for the OpenID authentication mechanism.</p>",
                  "smithy.api#jsonName" : "openIDIatTTL"
               }
            },
            "OpenIDIssueURL" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The openID issuer URL, if openID was used as an authentication setting to access your data models.</p>",
                  "smithy.api#jsonName" : "openIDIssueURL"
               }
            },
            "OpenIDProviderName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The OpenID provider name, if OpenID was used as an authentication mechanism to access your data models.</p>",
                  "smithy.api#jsonName" : "openIDProviderName"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The authentication settings for accessing provisioned data models in your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#BackendAPIAuthType" : {
         "members" : {
            "Mode" : {
               "target" : "com.amazonaws.amplifybackend#Mode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the authentication mode.</p>",
                  "smithy.api#jsonName" : "mode"
               }
            },
            "Settings" : {
               "target" : "com.amazonaws.amplifybackend#BackendAPIAppSyncAuthSettings",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes settings for the authentication mode.</p>",
                  "smithy.api#jsonName" : "settings"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the auth types for your configured data models.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#BackendAPIConflictResolution" : {
         "members" : {
            "ResolutionStrategy" : {
               "target" : "com.amazonaws.amplifybackend#ResolutionStrategy",
               "traits" : {
                  "smithy.api#documentation" : "<p>The strategy for conflict resolution.</p>",
                  "smithy.api#jsonName" : "resolutionStrategy"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the conflict resolution configuration for your data model configured in your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#BackendAPIResourceConfig" : {
         "members" : {
            "AdditionalAuthTypes" : {
               "target" : "com.amazonaws.amplifybackend#ListOfBackendAPIAuthType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Additional authentication methods used to interact with your data models.</p>",
                  "smithy.api#jsonName" : "additionalAuthTypes"
               }
            },
            "ApiName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The API name used to interact with the data model, configured as a part of your Amplify project.</p>",
                  "smithy.api#jsonName" : "apiName"
               }
            },
            "ConflictResolution" : {
               "target" : "com.amazonaws.amplifybackend#BackendAPIConflictResolution",
               "traits" : {
                  "smithy.api#documentation" : "<p>The conflict resolution strategy for your data stored in the data models.</p>",
                  "smithy.api#jsonName" : "conflictResolution"
               }
            },
            "DefaultAuthType" : {
               "target" : "com.amazonaws.amplifybackend#BackendAPIAuthType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The default authentication type for interacting with the configured data models in your Amplify project.</p>",
                  "smithy.api#jsonName" : "defaultAuthType"
               }
            },
            "Service" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The service used to provision and interact with the data model.</p>",
                  "smithy.api#jsonName" : "service"
               }
            },
            "TransformSchema" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The definition of the data model in the annotated transform of the GraphQL schema.</p>",
                  "smithy.api#jsonName" : "transformSchema"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The resource config for the data model, configured as a part of the Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#BackendAuthAppleProviderConfig" : {
         "members" : {
            "ClientId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the client_id (also called Services ID) that comes from Apple.</p>",
                  "smithy.api#jsonName" : "client_id"
               }
            },
            "KeyId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the key_id that comes from Apple.</p>",
                  "smithy.api#jsonName" : "key_id"
               }
            },
            "PrivateKey" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the private_key that comes from Apple.</p>",
                  "smithy.api#jsonName" : "private_key"
               }
            },
            "TeamId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the team_id that comes from Apple.</p>",
                  "smithy.api#jsonName" : "team_id"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes Apple social federation configurations for allowing your app users to sign in using OAuth.</p>",
            "smithy.api#sensitive" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#BackendAuthSocialProviderConfig" : {
         "members" : {
            "ClientId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the client_id, which can be obtained from the third-party social federation provider.</p>",
                  "smithy.api#jsonName" : "client_id"
               }
            },
            "ClientSecret" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the client_secret, which can be obtained from third-party social federation providers.</p>",
                  "smithy.api#jsonName" : "client_secret"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes third-party social federation configurations for allowing your app users to sign in using OAuth.</p>",
            "smithy.api#sensitive" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#BackendJobRespObj" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#jsonName" : "appId",
                  "smithy.api#required" : {}
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName",
                  "smithy.api#required" : {}
               }
            },
            "CreateTime" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the job was created.</p>",
                  "smithy.api#jsonName" : "createTime"
               }
            },
            "Error" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the request fails, this error is returned.</p>",
                  "smithy.api#jsonName" : "error"
               }
            },
            "JobId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID for the job.</p>",
                  "smithy.api#jsonName" : "jobId"
               }
            },
            "Operation" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the operation.</p>",
                  "smithy.api#jsonName" : "operation"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the request.</p>",
                  "smithy.api#jsonName" : "status"
               }
            },
            "UpdateTime" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the job was last updated.</p>",
                  "smithy.api#jsonName" : "updateTime"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The response object for this operation.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#BackendStoragePermissions" : {
         "members" : {
            "Authenticated" : {
               "target" : "com.amazonaws.amplifybackend#ListOfAuthenticatedElement",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Lists all authenticated user read, write, and delete permissions for your S3 bucket.</p>",
                  "smithy.api#jsonName" : "authenticated",
                  "smithy.api#required" : {}
               }
            },
            "UnAuthenticated" : {
               "target" : "com.amazonaws.amplifybackend#ListOfUnAuthenticatedElement",
               "traits" : {
                  "smithy.api#documentation" : "<p>Lists all unauthenticated user read, write, and delete permissions for your S3 bucket.</p>",
                  "smithy.api#jsonName" : "unAuthenticated"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the read, write, and delete permissions users have against your storage S3 bucket.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#BadRequestException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>An error message to inform that the request failed.</p>",
                  "smithy.api#jsonName" : "message"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An error returned if a request is not formed properly.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CloneBackend" : {
         "errors" : [
            {
               "target" : "com.amazonaws.amplifybackend#BadRequestException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GatewayTimeoutException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#NotFoundException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.amplifybackend#CloneBackendRequest"
         },
         "output" : {
            "target" : "com.amazonaws.amplifybackend#CloneBackendResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation clones an existing backend.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/backend/{AppId}/environments/{BackendEnvironmentName}/clone"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.amplifybackend#CloneBackendRequest" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "TargetEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the destination backend environment to be created.</p>",
                  "smithy.api#jsonName" : "targetEnvironmentName",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request body for CloneBackend.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CloneBackendResponse" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#jsonName" : "appId"
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName"
               }
            },
            "Error" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the request fails, this error is returned.</p>",
                  "smithy.api#jsonName" : "error"
               }
            },
            "JobId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID for the job.</p>",
                  "smithy.api#jsonName" : "jobId"
               }
            },
            "Operation" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the operation.</p>",
                  "smithy.api#jsonName" : "operation"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the request.</p>",
                  "smithy.api#jsonName" : "status"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackend" : {
         "errors" : [
            {
               "target" : "com.amazonaws.amplifybackend#BadRequestException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GatewayTimeoutException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#NotFoundException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendRequest"
         },
         "output" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This operation creates a backend for an Amplify app. Backends are automatically created at the time of app creation.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/backend"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.amplifybackend#CreateBackendAPI" : {
         "errors" : [
            {
               "target" : "com.amazonaws.amplifybackend#BadRequestException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GatewayTimeoutException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#NotFoundException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendAPIRequest"
         },
         "output" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendAPIResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new backend API resource.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/backend/{AppId}/api"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.amplifybackend#CreateBackendAPIRequest" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName",
                  "smithy.api#required" : {}
               }
            },
            "ResourceConfig" : {
               "target" : "com.amazonaws.amplifybackend#BackendAPIResourceConfig",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The resource configuration for this request.</p>",
                  "smithy.api#jsonName" : "resourceConfig",
                  "smithy.api#required" : {}
               }
            },
            "ResourceName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of this resource.</p>",
                  "smithy.api#jsonName" : "resourceName",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request body for CreateBackendAPI.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAPIResponse" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#jsonName" : "appId"
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName"
               }
            },
            "Error" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the request fails, this error is returned.</p>",
                  "smithy.api#jsonName" : "error"
               }
            },
            "JobId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID for the job.</p>",
                  "smithy.api#jsonName" : "jobId"
               }
            },
            "Operation" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the operation.</p>",
                  "smithy.api#jsonName" : "operation"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the request.</p>",
                  "smithy.api#jsonName" : "status"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuth" : {
         "errors" : [
            {
               "target" : "com.amazonaws.amplifybackend#BadRequestException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GatewayTimeoutException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#NotFoundException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendAuthRequest"
         },
         "output" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendAuthResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new backend authentication resource.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/backend/{AppId}/auth"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthForgotPasswordConfig" : {
         "members" : {
            "DeliveryMethod" : {
               "target" : "com.amazonaws.amplifybackend#DeliveryMethod",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p><b>(DEPRECATED)</b> Describes which mode to use (either SMS or email) to deliver messages to app users who want to recover their password.</p>",
                  "smithy.api#jsonName" : "deliveryMethod",
                  "smithy.api#required" : {}
               }
            },
            "EmailSettings" : {
               "target" : "com.amazonaws.amplifybackend#EmailSettings",
               "traits" : {
                  "smithy.api#documentation" : "<p><b>(DEPRECATED)</b> The configuration for the email sent when an app user forgets their password.</p>",
                  "smithy.api#jsonName" : "emailSettings"
               }
            },
            "SmsSettings" : {
               "target" : "com.amazonaws.amplifybackend#SmsSettings",
               "traits" : {
                  "smithy.api#documentation" : "<p><b>(DEPRECATED)</b> The configuration for the SMS message sent when an app user forgets their password.</p>",
                  "smithy.api#jsonName" : "smsSettings"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p><b>(DEPRECATED)</b> Describes the forgot password policy for authenticating into the Amplify app.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthIdentityPoolConfig" : {
         "members" : {
            "IdentityPoolName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Name of the Amazon Cognito identity pool used for authorization.</p>",
                  "smithy.api#jsonName" : "identityPoolName",
                  "smithy.api#required" : {}
               }
            },
            "UnauthenticatedLogin" : {
               "target" : "com.amazonaws.amplifybackend#__boolean",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Set to true or false based on whether you want to enable guest authorization to your Amplify app.</p>",
                  "smithy.api#jsonName" : "unauthenticatedLogin",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes authorization configurations for the auth resources, configured as a part of your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthMFAConfig" : {
         "members" : {
            "MFAMode" : {
               "target" : "com.amazonaws.amplifybackend#MFAMode",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Describes whether MFA should be [ON, OFF, or OPTIONAL] for authentication in your Amplify project.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Settings" : {
               "target" : "com.amazonaws.amplifybackend#Settings",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the configuration settings and methods for your Amplify app users to use MFA.</p>",
                  "smithy.api#jsonName" : "settings"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes whether to apply multi-factor authentication policies for your Amazon Cognito user pool configured as a part of your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthOAuthConfig" : {
         "members" : {
            "DomainPrefix" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The domain prefix for your Amplify app.</p>",
                  "smithy.api#jsonName" : "domainPrefix"
               }
            },
            "OAuthGrantType" : {
               "target" : "com.amazonaws.amplifybackend#OAuthGrantType",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The OAuth grant type that you use to allow app users to authenticate from your Amplify app.</p>",
                  "smithy.api#jsonName" : "oAuthGrantType",
                  "smithy.api#required" : {}
               }
            },
            "OAuthScopes" : {
               "target" : "com.amazonaws.amplifybackend#ListOfOAuthScopesElement",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>List of OAuth-related flows used to allow your app users to authenticate from your Amplify app.</p>",
                  "smithy.api#jsonName" : "oAuthScopes",
                  "smithy.api#required" : {}
               }
            },
            "RedirectSignInURIs" : {
               "target" : "com.amazonaws.amplifybackend#ListOf__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The redirected URI for signing in to your Amplify app.</p>",
                  "smithy.api#jsonName" : "redirectSignInURIs",
                  "smithy.api#required" : {}
               }
            },
            "RedirectSignOutURIs" : {
               "target" : "com.amazonaws.amplifybackend#ListOf__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Redirect URLs that OAuth uses when a user signs out of an Amplify app.</p>",
                  "smithy.api#jsonName" : "redirectSignOutURIs",
                  "smithy.api#required" : {}
               }
            },
            "SocialProviderSettings" : {
               "target" : "com.amazonaws.amplifybackend#SocialProviderSettings",
               "traits" : {
                  "smithy.api#documentation" : "<p>The settings for using social providers to access your Amplify app.</p>",
                  "smithy.api#jsonName" : "socialProviderSettings"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates the OAuth configuration for your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthPasswordPolicyConfig" : {
         "members" : {
            "AdditionalConstraints" : {
               "target" : "com.amazonaws.amplifybackend#ListOfAdditionalConstraintsElement",
               "traits" : {
                  "smithy.api#documentation" : "<p>Additional constraints for the password used to access the backend of your Amplify project.</p>",
                  "smithy.api#jsonName" : "additionalConstraints"
               }
            },
            "MinimumLength" : {
               "target" : "com.amazonaws.amplifybackend#__double",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The minimum length of the password used to access the backend of your Amplify project.</p>",
                  "smithy.api#jsonName" : "minimumLength",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The password policy configuration for the backend to your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthRequest" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName",
                  "smithy.api#required" : {}
               }
            },
            "ResourceConfig" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuthResourceConfig",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The resource configuration for this request object.</p>",
                  "smithy.api#jsonName" : "resourceConfig",
                  "smithy.api#required" : {}
               }
            },
            "ResourceName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of this resource.</p>",
                  "smithy.api#jsonName" : "resourceName",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request body for CreateBackendAuth.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthResourceConfig" : {
         "members" : {
            "AuthResources" : {
               "target" : "com.amazonaws.amplifybackend#AuthResources",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Defines whether you want to configure only authentication or both authentication and authorization settings.</p>",
                  "smithy.api#jsonName" : "authResources",
                  "smithy.api#required" : {}
               }
            },
            "IdentityPoolConfigs" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuthIdentityPoolConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the authorization configuration for the Amazon Cognito identity pool, provisioned as a part of your auth resource in the Amplify project.</p>",
                  "smithy.api#jsonName" : "identityPoolConfigs"
               }
            },
            "Service" : {
               "target" : "com.amazonaws.amplifybackend#Service",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Defines the service name to use when configuring an authentication resource in your Amplify project.</p>",
                  "smithy.api#jsonName" : "service",
                  "smithy.api#required" : {}
               }
            },
            "UserPoolConfigs" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuthUserPoolConfig",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Describes authentication configuration for the Amazon Cognito user pool, provisioned as a part of your auth resource in the Amplify project.</p>",
                  "smithy.api#jsonName" : "userPoolConfigs",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines the resource configuration when creating an auth resource in your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthResponse" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#jsonName" : "appId"
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName"
               }
            },
            "Error" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the request fails, this error is returned.</p>",
                  "smithy.api#jsonName" : "error"
               }
            },
            "JobId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID for the job.</p>",
                  "smithy.api#jsonName" : "jobId"
               }
            },
            "Operation" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the operation.</p>",
                  "smithy.api#jsonName" : "operation"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the request.</p>",
                  "smithy.api#jsonName" : "status"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthUserPoolConfig" : {
         "members" : {
            "ForgotPassword" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuthForgotPasswordConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p><b>(DEPRECATED)</b> Describes the forgotten password policy for your Amazon Cognito user pool, configured as a part of your Amplify project.</p>",
                  "smithy.api#jsonName" : "forgotPassword"
               }
            },
            "Mfa" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuthMFAConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes whether to apply multi-factor authentication policies for your Amazon Cognito user pool configured as a part of your Amplify project.</p>",
                  "smithy.api#jsonName" : "mfa"
               }
            },
            "OAuth" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuthOAuthConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the OAuth policy and rules for your Amazon Cognito user pool, configured as a part of your Amplify project.</p>",
                  "smithy.api#jsonName" : "oAuth"
               }
            },
            "PasswordPolicy" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuthPasswordPolicyConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the password policy for your Amazon Cognito user pool, configured as a part of your Amplify project.</p>",
                  "smithy.api#jsonName" : "passwordPolicy"
               }
            },
            "RequiredSignUpAttributes" : {
               "target" : "com.amazonaws.amplifybackend#ListOfRequiredSignUpAttributesElement",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The required attributes to sign up new users in the user pool.</p>",
                  "smithy.api#jsonName" : "requiredSignUpAttributes",
                  "smithy.api#required" : {}
               }
            },
            "SignInMethod" : {
               "target" : "com.amazonaws.amplifybackend#SignInMethod",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Describes the sign-in methods that your Amplify app users use to log in using the Amazon Cognito user pool, configured as a part of your Amplify project.</p>",
                  "smithy.api#jsonName" : "signInMethod",
                  "smithy.api#required" : {}
               }
            },
            "UserPoolName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The Amazon Cognito user pool name.</p>",
                  "smithy.api#jsonName" : "userPoolName",
                  "smithy.api#required" : {}
               }
            },
            "VerificationMessage" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendAuthVerificationMessageConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the email or SMS verification message for your Amazon Cognito user pool, configured as a part of your Amplify project.</p>",
                  "smithy.api#jsonName" : "verificationMessage"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the Amazon Cognito user pool configuration for the auth resource to be configured for your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendAuthVerificationMessageConfig" : {
         "members" : {
            "DeliveryMethod" : {
               "target" : "com.amazonaws.amplifybackend#DeliveryMethod",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The type of verification message to send.</p>",
                  "smithy.api#jsonName" : "deliveryMethod",
                  "smithy.api#required" : {}
               }
            },
            "EmailSettings" : {
               "target" : "com.amazonaws.amplifybackend#EmailSettings",
               "traits" : {
                  "smithy.api#documentation" : "<p>The settings for the email message.</p>",
                  "smithy.api#jsonName" : "emailSettings"
               }
            },
            "SmsSettings" : {
               "target" : "com.amazonaws.amplifybackend#SmsSettings",
               "traits" : {
                  "smithy.api#documentation" : "<p>The settings for the SMS message.</p>",
                  "smithy.api#jsonName" : "smsSettings"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates an email or SMS verification message for the auth resource configured for your Amplify project.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendConfig" : {
         "errors" : [
            {
               "target" : "com.amazonaws.amplifybackend#BadRequestException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GatewayTimeoutException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#NotFoundException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendConfigRequest"
         },
         "output" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendConfigResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a config object for a backend.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/backend/{AppId}/config"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.amplifybackend#CreateBackendConfigRequest" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "BackendManagerAppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID for the backend manager.</p>",
                  "smithy.api#jsonName" : "backendManagerAppId"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request body for CreateBackendConfig.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendConfigResponse" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#jsonName" : "appId"
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName"
               }
            },
            "JobId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID for the job.</p>",
                  "smithy.api#jsonName" : "jobId"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the request.</p>",
                  "smithy.api#jsonName" : "status"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendRequest" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#jsonName" : "appId",
                  "smithy.api#required" : {}
               }
            },
            "AppName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the app.</p>",
                  "smithy.api#jsonName" : "appName",
                  "smithy.api#required" : {}
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName",
                  "smithy.api#required" : {}
               }
            },
            "ResourceConfig" : {
               "target" : "com.amazonaws.amplifybackend#ResourceConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource configuration for creating a backend.</p>",
                  "smithy.api#jsonName" : "resourceConfig"
               }
            },
            "ResourceName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the resource.</p>",
                  "smithy.api#jsonName" : "resourceName"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request body for CreateBackend.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendResponse" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#jsonName" : "appId"
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName"
               }
            },
            "Error" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the request fails, this error is returned.</p>",
                  "smithy.api#jsonName" : "error"
               }
            },
            "JobId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID for the job.</p>",
                  "smithy.api#jsonName" : "jobId"
               }
            },
            "Operation" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the operation.</p>",
                  "smithy.api#jsonName" : "operation"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the request.</p>",
                  "smithy.api#jsonName" : "status"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendStorage" : {
         "errors" : [
            {
               "target" : "com.amazonaws.amplifybackend#BadRequestException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#GatewayTimeoutException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#NotFoundException"
            },
            {
               "target" : "com.amazonaws.amplifybackend#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendStorageRequest"
         },
         "output" : {
            "target" : "com.amazonaws.amplifybackend#CreateBackendStorageResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a backend storage resource.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/backend/{AppId}/storage"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.amplifybackend#CreateBackendStorageRequest" : {
         "members" : {
            "AppId" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The app ID.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "BackendEnvironmentName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the backend environment.</p>",
                  "smithy.api#jsonName" : "backendEnvironmentName",
                  "smithy.api#required" : {}
               }
            },
            "ResourceConfig" : {
               "target" : "com.amazonaws.amplifybackend#CreateBackendStorageResourceConfig",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The resource configuration for creating backend storage.</p>",
                  "smithy.api#jsonName" : "resourceConfig",
                  "smithy.api#required" : {}
               }
            },
            "ResourceName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the storage resource.</p>",
                  "smithy.api#jsonName" : "resourceName",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request body for CreateBackendStorage.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.amplifybackend#CreateBackendStorageResourceConfig" : {
         "members" : {
            "BucketName" : {
               "target" : "com.amazonaws.amplifybackend#__string",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the S3 bucket.</p>",
                  "smithy.api#jsonName" : "bucketName"
               }
            },
            "Permissions" : {
               "target" : "com.amazonaws.amplifybackend#BackendStoragePermissions",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The authorization configuration for the storage S3 bucket.</p>",
                  "smithy.api#jsonName" : "permissions",
                  "smithy.api#required" : {}
               }
            },
            "ServiceName" : {
               "target" : "com.amazonaws.amplifybackend#ServiceName",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the storage service.</p>",
                  "smithy.api#jsonName" : "serviceName",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
[...]
