{
   "shapes" : {
      "com.amazonaws.marketplacereporting#AWSMarketplaceReporting" : {
         "resources" : [
            {
               "target" : "com.amazonaws.marketplacereporting#Dashboard"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "aws-marketplace",
               "cloudTrailEventSource" : "reporting-marketplace.amazonaws.com",
               "endpointPrefix" : "reporting-marketplace",
               "sdkId" : "Marketplace Reporting"
            },
            "aws.auth#sigv4" : {
               "name" : "aws-marketplace"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#cors" : {
               "additionalExposedHeaders" : [
                  "x-amzn-requestid",
                  "x-amzn-errortype",
                  "x-amzn-errormessage",
                  "date"
               ]
            },
            "smithy.api#documentation" : "<p>The Amazon Web Services Marketplace <code>GetBuyerDashboard</code> API enables you to get a procurement insights\n      dashboard programmatically. The API gets the agreement and cost analysis dashboards with\n      data for all of the Amazon Web Services accounts in your Amazon Web Services Organization. </p>\n         <p>To use the Amazon Web Services Marketplace Reporting API, you must complete the following prerequisites:</p>\n         <ul>\n            <li>\n               <p>Enable all features for your organization. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">Enabling all features for an organization with Organizations</a>, in the\n          <i>Organizations User Guide</i>.</p>\n            </li>\n            <li>\n               <p>Call the service as the Organizations management account or an account registered\n          as a delegated administrator for the procurement insights service.</p>\n               <p>For more information about management accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_tutorials_basic.html\">Tutorial:\n          Creating and configuring an organization</a> and <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs-manage_accounts_management.html\">Managing the management account with Organizations</a>, both in the\n          <i>Organizations User Guide</i>.</p>\n               <p>For more information about delegated administrators, see <a href=\"https://docs.aws.amazon.com/marketplace/latest/buyerguide/management-delegates.html\">Using\n          delegated administrators</a>, in the <i>Amazon Web Services Marketplace Buyer\n            Guide</i>.</p>\n            </li>\n            <li>\n               <p>Create an IAM policy that enables the\n          <code>aws-marketplace:GetBuyerDashboard</code> and\n          <code>organizations:DescribeOrganization</code> permissions. In addition,\n          the management account requires the\n          <code>organizations:EnableAWSServiceAccess</code> and\n          <code>iam:CreateServiceLinkedRole</code> permissions to create. For more\n          information about creating the policy, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html\">Policies and permissions in\n            Identity and Access Management</a>, in the <i>IAM User Guide</i>.</p>\n               <note>\n                  <p>Access can be shared only by registering the desired linked account as a\n            delegated administrator. That requires\n            <code>organizations:RegisterDelegatedAdministrator</code>\n                     <code>organizations:ListDelegatedAdministrators</code> and\n            <code>organizations:DeregisterDelegatedAdministrator</code>\n            permissions.</p>\n               </note>\n            </li>\n            <li>\n               <p>Use the Amazon Web Services Marketplace console to create the\n          <code>AWSServiceRoleForProcurementInsightsPolicy</code> service-linked role.\n          The role enables Amazon Web Services Marketplace procurement visibility integration. The management\n          account requires an IAM policy with the\n          <code>organizations:EnableAWSServiceAccess</code> and\n          <code>iam:CreateServiceLinkedRole</code> permissions to create the\n          service-linked role and enable the service access. For more information, see\n          <a href=\"https://docs.aws.amazon.com/marketplace/latest/buyerguide/orgs-access-slr.html\">Granting access to\n            Organizations</a> and <a href=\"https://docs.aws.amazon.com/marketplace/latest/buyerguide/buyer-service-linked-role-procurement.html\">Service-linked role to share procurement data</a> in the\n          <i>Amazon Web Services Marketplace Buyer Guide</i>.</p>\n            </li>\n            <li>\n               <p>After creating the service-linked role, you must enable trusted access that\n          grants Amazon Web Services Marketplace permission to access data from your Organizations. For more information,\n          see <a href=\"https://docs.aws.amazon.com/marketplace/latest/buyerguide/orgs-access-slr.html\">Granting access to\n            Organizations</a> in the <i>Amazon Web Services Marketplace Buyer Guide</i>.</p>\n            </li>\n         </ul>",
            "smithy.api#title" : "AWS Marketplace Reporting Service",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://reporting-marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://reporting-marketplace-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://reporting-marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://reporting-marketplace.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://reporting-marketplace.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2018-05-10"
      },
      "com.amazonaws.marketplacereporting#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacereporting#BadRequestException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request is malformed, or it contains an error such as an invalid parameter. Ensure the request has all required parameters.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacereporting#Dashboard" : {
         "identifiers" : {
            "dashboardIdentifier" : {
               "target" : "com.amazonaws.marketplacereporting#DashboardIdentifier"
            }
         },
         "operations" : [
            {
               "target" : "com.amazonaws.marketplacereporting#GetBuyerDashboard"
            }
         ],
         "traits" : {
            "aws.api#arn" : {
               "absolute" : true,
               "noRegion" : true,
               "template" : "{dashboardIdentifier}"
            }
         },
         "type" : "resource"
      },
      "com.amazonaws.marketplacereporting#DashboardIdentifier" : {
         "traits" : {
            "aws.api#arnReference" : {
               "resource" : "com.amazonaws.marketplacereporting#Dashboard",
               "service" : "com.amazonaws.marketplacereporting#AWSMarketplaceReporting",
               "type" : "AWS::Service::Resource"
            },
            "smithy.api#length" : {
               "max" : 1023,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws:aws-marketplace::[0-9]{12}:AWSMarketplace/ReportingData/(Agreement_V1/Dashboard/AgreementSummary_V1|BillingEvent_V1/Dashboard/CostAnalysis_V1)$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacereporting#EmbeddingDomain" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            },
            "smithy.api#pattern" : "^(https://[a-zA-Z\\.\\*0-9\\-_]+[\\.]{1}[a-zA-Z]{1,}[a-zA-Z0-9&?/-_=]*[a-zA-Z\\*0-9/]+|http[s]*://localhost(:[0-9]{1,5})?)$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacereporting#EmbeddingDomains" : {
         "member" : {
            "target" : "com.amazonaws.marketplacereporting#EmbeddingDomain"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 2,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacereporting#GetBuyerDashboard" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacereporting#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplacereporting#BadRequestException"
            },
            {
               "target" : "com.amazonaws.marketplacereporting#InternalServerException"
            },
            {
               "target" : "com.amazonaws.marketplacereporting#UnauthorizedException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacereporting#GetBuyerDashboardInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacereporting#GetBuyerDashboardOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Generates an embedding URL for an Amazon QuickSight dashboard for an anonymous user.</p>\n         <note>\n            <p>This API is available only to Amazon Web Services Organization management accounts or\n      delegated administrators registered for the procurement insights\n      (<code>procurement-insights.marketplace.amazonaws.com</code>) feature.</p>\n         </note>\n         <p>The following rules apply to a generated URL:</p>\n         <ul>\n            <li>\n               <p>It contains a temporary bearer token, valid for 5 minutes after it is generated. Once redeemed within that period, it cannot be re-used again.</p>\n            </li>\n            <li>\n               <p>It has a session lifetime of one hour. The 5-minute validity period runs separately from the session lifetime.</p>\n            </li>\n         </ul>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/getBuyerDashboard"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "failure" : {}
                  },
                  "id" : "GetBuyerDashboardUnauthorized",
                  "params" : {
                     "dashboardIdentifier" : "arn:aws:aws-marketplace::021234567890:AWSMarketplace/ReportingData/Agreement_V1/Dashboard/AgreementSummary_V1",
                     "embeddingDomains" : [
                        "https://localhost:8080"
                     ]
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacereporting#GetBuyerDashboardInput" : {
         "members" : {
            "dashboardIdentifier" : {
               "target" : "com.amazonaws.marketplacereporting#DashboardIdentifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the requested dashboard.</p>",
                  "smithy.api#required" : {}
               }
            },
            "embeddingDomains" : {
               "target" : "com.amazonaws.marketplacereporting#EmbeddingDomains",
               "traits" : {
                  "smithy.api#documentation" : "<p>Fully qualified domains that you add to the allow list for access to the generated URL that is then embedded. You can list up to two domains or subdomains in each API call.\n      To include all subdomains under a specific domain, use <code>*</code>. For example, <code>https://*.amazon.com</code> includes all subdomains under \n      <code>https://aws.amazon.com</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {},
            "smithy.api#references" : [
               {
                  "ids" : {
                     "dashboardIdentifier" : "dashboardIdentifier"
                  },
                  "resource" : "com.amazonaws.marketplacereporting#Dashboard"
               }
            ]
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacereporting#GetBuyerDashboardOutput" : {
         "members" : {
            "dashboardIdentifier" : {
               "target" : "com.amazonaws.marketplacereporting#DashboardIdentifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the returned dashboard.</p>",
                  "smithy.api#required" : {}
               }
            },
            "embedUrl" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The dashboard's embedding URL.</p>",
                  "smithy.api#required" : {}
               }
            },
            "embeddingDomains" : {
               "target" : "com.amazonaws.marketplacereporting#EmbeddingDomains",
               "traits" : {
                  "smithy.api#documentation" : "<p>The fully qualified domains specified in the request. The domains enable access to the generated URL that is then embedded. You can list up to two domains or subdomains in each API call.\n      To include all subdomains under a specific domain, use <code>*</code>. For example, <code>https://*.amazon.com</code> includes all subdomains under \n      <code>https://aws.amazon.com</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacereporting#InternalServerException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The operation failed due to a server error.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacereporting#UnauthorizedException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have permission to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 401
         },
         "type" : "structure"
      }
   },
   "smithy" : "2.0"
}
