{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have permission to perform an action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#AmazonSageMakerFeatureStoreRuntime" : {
         "operations" : [
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecord"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#DeleteRecord"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#GetRecord"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#PutRecord"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "sagemaker",
               "cloudFormationName" : "SageMakerFeatureStoreRuntime",
               "cloudTrailEventSource" : "sagemakerfeaturestoreruntime.amazonaws.com",
               "endpointPrefix" : "featurestore-runtime.sagemaker",
               "sdkId" : "SageMaker FeatureStore Runtime"
            },
            "aws.auth#sigv4" : {
               "name" : "sagemaker"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Contains all data plane API operations and data types for the Amazon SageMaker Feature\n         Store. Use this API to put, delete, and retrieve (get) features from a feature\n         store.</p>\n         <p>Use the following operations to configure your <code>OnlineStore</code> and\n            <code>OfflineStore</code> features, and to create and manage feature groups:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateFeatureGroup.html\">CreateFeatureGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DeleteFeatureGroup.html\">DeleteFeatureGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DescribeFeatureGroup.html\">DescribeFeatureGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_ListFeatureGroups.html\">ListFeatureGroups</a>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#title" : "Amazon SageMaker Feature Store Runtime",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://featurestore-runtime.sagemaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://featurestore-runtime.sagemaker-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://featurestore-runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://featurestore-runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://featurestore-runtime.sagemaker.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-07-01"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecord" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordRequest"
         },
         "output" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves a batch of <code>Records</code> from a <code>FeatureGroup</code>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/BatchGetRecord"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordError" : {
         "members" : {
            "ErrorCode" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The error code of an error that has occurred when attempting to retrieve a batch of\n         Records. For more information on errors, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_feature_store_GetRecord.html#API_feature_store_GetRecord_Errors\">Errors</a>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ErrorMessage" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Message",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The error message of an error that has occurred when attempting to retrieve a record in\n         the batch.</p>",
                  "smithy.api#required" : {}
               }
            },
            "FeatureGroupName" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of the feature group that the record belongs to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RecordIdentifierValueAsString" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The value for the <code>RecordIdentifier</code> in string format of a Record from a\n            <code>FeatureGroup</code> that is causing an error when attempting to be\n         retrieved.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The error that has occurred when attempting to retrieve a batch of Records.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordErrors" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordError"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifier" : {
         "members" : {
            "FeatureGroupName" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupNameOrArn",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name or Amazon Resource Name (ARN) of the <code>FeatureGroup</code> containing the\n         records you are retrieving in a batch.</p>",
                  "smithy.api#required" : {}
               }
            },
            "FeatureNames" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of names of Features to be retrieved. If not specified, the latest value for all\n         the Features are returned.</p>"
               }
            },
            "RecordIdentifiersValueAsString" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#RecordIdentifiers",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The value for a list of record identifiers in string format.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The identifier that identifies the batch of Records you are retrieving in a\n         batch.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifiers" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifier"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordRequest" : {
         "members" : {
            "ExpirationTimeResponse" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ExpirationTimeResponse",
               "traits" : {
                  "smithy.api#documentation" : "<p>Parameter to request <code>ExpiresAt</code> in response. If <code>Enabled</code>,\n            <code>BatchGetRecord</code> will return the value of <code>ExpiresAt</code>, if it is\n         not null. If <code>Disabled</code> and null, <code>BatchGetRecord</code> will return\n         null.</p>"
               }
            },
            "Identifiers" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifiers",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>A list containing the name or Amazon Resource Name (ARN) of the\n            <code>FeatureGroup</code>, the list of names of <code>Feature</code>s to be retrieved,\n         and the corresponding <code>RecordIdentifier</code> values as strings.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResponse" : {
         "members" : {
            "Errors" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordErrors",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>A list of errors that have occurred when retrieving a batch of Records.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Records" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResultDetails",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>A list of Records you requested to be retrieved in batch.</p>",
                  "smithy.api#required" : {}
               }
            },
            "UnprocessedIdentifiers" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#UnprocessedIdentifiers",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>A unprocessed list of <code>FeatureGroup</code> names, with their corresponding\n            <code>RecordIdentifier</code> value, and Feature name.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResultDetail" : {
         "members" : {
            "ExpiresAt" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ExpiresAt",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>ExpiresAt</code> ISO string of the requested record.</p>"
               }
            },
            "FeatureGroupName" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The <code>FeatureGroupName</code> containing Records you retrieved in a batch.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Record" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Record",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The <code>Record</code> retrieved.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RecordIdentifierValueAsString" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The value of the record identifier in string format.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The output of records that have been retrieved in a batch.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResultDetails" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordResultDetail"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#DeleteRecord" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#DeleteRecordRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a <code>Record</code> from a <code>FeatureGroup</code> in the\n            <code>OnlineStore</code>. Feature Store supports both <code>SoftDelete</code> and\n            <code>HardDelete</code>. For <code>SoftDelete</code> (default), feature columns are set\n         to <code>null</code> and the record is no longer retrievable by <code>GetRecord</code> or\n            <code>BatchGetRecord</code>. For <code>HardDelete</code>, the complete\n            <code>Record</code> is removed from the <code>OnlineStore</code>. In both cases, Feature\n         Store appends the deleted record marker to the <code>OfflineStore</code>. The deleted\n         record marker is a record with the same <code>RecordIdentifer</code> as the original, but\n         with <code>is_deleted</code> value set to <code>True</code>, <code>EventTime</code> set to\n         the delete input <code>EventTime</code>, and other feature values set to\n         <code>null</code>.</p>\n         <p>Note that the <code>EventTime</code> specified in <code>DeleteRecord</code> should be\n         set later than the <code>EventTime</code> of the existing record in the\n            <code>OnlineStore</code> for that <code>RecordIdentifer</code>. If it is not, the\n         deletion does not occur:</p>\n         <ul>\n            <li>\n               <p>For <code>SoftDelete</code>, the existing (not deleted) record remains in the\n                  <code>OnlineStore</code>, though the delete record marker is still written to the\n                  <code>OfflineStore</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HardDelete</code> returns <code>EventTime</code>: <code>400\n                  ValidationException</code> to indicate that the delete operation failed. No delete\n               record marker is written to the <code>OfflineStore</code>.</p>\n            </li>\n         </ul>\n         <p>When a record is deleted from the <code>OnlineStore</code>, the deleted record marker is\n         appended to the <code>OfflineStore</code>. If you have the Iceberg table format enabled for\n         your <code>OfflineStore</code>, you can remove all history of a record from the\n            <code>OfflineStore</code> using Amazon Athena or Apache Spark. For information on how to\n         hard delete a record from the <code>OfflineStore</code> with the Iceberg table format\n         enabled, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/feature-store-delete-records-offline-store.html#feature-store-delete-records-offline-store\">Delete records from the offline store</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/FeatureGroup/{FeatureGroupName}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#DeleteRecordRequest" : {
         "members" : {
            "DeletionMode" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#DeletionMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the deletion mode for deleting the record. By default, the deletion mode is\n         set to <code>SoftDelete</code>.</p>",
                  "smithy.api#httpQuery" : "DeletionMode"
               }
            },
            "EventTime" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be\n         used to query data at a certain point in time.</p>",
                  "smithy.api#httpQuery" : "EventTime",
                  "smithy.api#required" : {}
               }
            },
            "FeatureGroupName" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupNameOrArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name or Amazon Resource Name (ARN) of the feature group to delete the record from.\n      </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "RecordIdentifierValueAsString" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in\n         string format. </p>",
                  "smithy.api#httpQuery" : "RecordIdentifierValueAsString",
                  "smithy.api#required" : {}
               }
            },
            "TargetStores" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#TargetStores",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of stores from which you're deleting the record. By default, Feature Store\n         deletes the record from all of the stores that you're using for the\n            <code>FeatureGroup</code>.</p>",
                  "smithy.api#httpQuery" : "TargetStores"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#DeletionMode" : {
         "members" : {
            "HARD_DELETE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HardDelete"
               }
            },
            "SOFT_DELETE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SoftDelete"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#ExpirationTimeResponse" : {
         "members" : {
            "DISABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Disabled"
               }
            },
            "ENABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Enabled"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#ExpiresAt" : {
         "type" : "string"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupNameOrArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 150,
               "min" : 1
            },
            "smithy.api#pattern" : "^(arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:feature-group/)?([a-zA-Z0-9]([-_]*[a-zA-Z0-9]){0,63})$"
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#FeatureName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9]([-_]*[a-zA-Z0-9]){0,63}$"
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#FeatureNames" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureName"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#FeatureValue" : {
         "members" : {
            "FeatureName" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureName",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The name of a feature that a feature value corresponds to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ValueAsString" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value in string format associated with a feature. Used when your\n            <code>CollectionType</code> is <code>None</code>. Note that features types can be\n            <code>String</code>, <code>Integral</code>, or <code>Fractional</code>. This value\n         represents all three types as a string.</p>"
               }
            },
            "ValueAsStringList" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsStringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of values in string format associated with a feature. Used when your\n            <code>CollectionType</code> is a <code>List</code>, <code>Set</code>, or\n            <code>Vector</code>. Note that features types can be <code>String</code>,\n            <code>Integral</code>, or <code>Fractional</code>. These values represents all three\n         types as a string.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The value associated with a feature.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#GetRecord" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ResourceNotFound"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#GetRecordRequest"
         },
         "output" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#GetRecordResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Use for <code>OnlineStore</code> serving from a <code>FeatureStore</code>. Only the\n         latest records stored in the <code>OnlineStore</code> can be retrieved. If no Record with\n            <code>RecordIdentifierValue</code> is found, then an empty result is returned. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/FeatureGroup/{FeatureGroupName}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#GetRecordRequest" : {
         "members" : {
            "ExpirationTimeResponse" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ExpirationTimeResponse",
               "traits" : {
                  "smithy.api#documentation" : "<p>Parameter to request <code>ExpiresAt</code> in response. If <code>Enabled</code>,\n            <code>GetRecord</code> will return the value of <code>ExpiresAt</code>, if it is not\n         null. If <code>Disabled</code> and null, <code>GetRecord</code> will return null.</p>",
                  "smithy.api#httpQuery" : "ExpirationTimeResponse"
               }
            },
            "FeatureGroupName" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupNameOrArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name or Amazon Resource Name (ARN) of the feature group from which you want to\n         retrieve a record.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "FeatureNames" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of names of Features to be retrieved. If not specified, the latest value for all\n         the Features are returned.</p>",
                  "smithy.api#httpQuery" : "FeatureName"
               }
            },
            "RecordIdentifierValueAsString" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies\n         the record in the <code>FeatureGroup</code>. </p>",
                  "smithy.api#httpQuery" : "RecordIdentifierValueAsString",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#GetRecordResponse" : {
         "members" : {
            "ExpiresAt" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ExpiresAt",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>ExpiresAt</code> ISO string of the requested record.</p>"
               }
            },
            "Record" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Record",
               "traits" : {
                  "smithy.api#documentation" : "<p>The record you requested. A list of <code>FeatureValues</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An internal failure occurred. Try your request again. If the problem persists, contact\n            Amazon Web Services customer support.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#Message" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#PutRecord" : {
         "errors" : [
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#AccessForbidden"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#InternalFailure"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable"
            },
            {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#PutRecordRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The <code>PutRecord</code> API is used to ingest a list of <code>Records</code> into\n         your feature group. </p>\n         <p>If a new record’s <code>EventTime</code> is greater, the new record is written to both\n         the <code>OnlineStore</code> and <code>OfflineStore</code>. Otherwise, the record is a\n         historic record and it is written only to the <code>OfflineStore</code>. </p>\n         <p>You can specify the ingestion to be applied to the <code>OnlineStore</code>,\n            <code>OfflineStore</code>, or both by using the <code>TargetStores</code> request\n         parameter. </p>\n         <p>You can set the ingested record to expire at a given time to live (TTL) duration after\n         the record’s event time, <code>ExpiresAt</code> = <code>EventTime</code> +\n            <code>TtlDuration</code>, by specifying the <code>TtlDuration</code> parameter. A record\n         level <code>TtlDuration</code> is set when specifying the <code>TtlDuration</code>\n         parameter using the <code>PutRecord</code> API call. If the input <code>TtlDuration</code>\n         is <code>null</code> or unspecified, <code>TtlDuration</code> is set to the default feature\n         group level <code>TtlDuration</code>. A record level <code>TtlDuration</code> supersedes\n         the group level <code>TtlDuration</code>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/FeatureGroup/{FeatureGroupName}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#PutRecordRequest" : {
         "members" : {
            "FeatureGroupName" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureGroupNameOrArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name or Amazon Resource Name (ARN) of the feature group that you want to insert the\n         record into.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "Record" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Record",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>List of FeatureValues to be inserted. This will be a full over-write. If you only want\n         to update few of the feature values, do the following:</p>\n         <ul>\n            <li>\n               <p>Use <code>GetRecord</code> to retrieve the latest record.</p>\n            </li>\n            <li>\n               <p>Update the record returned from <code>GetRecord</code>. </p>\n            </li>\n            <li>\n               <p>Use <code>PutRecord</code> to update feature values.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "TargetStores" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#TargetStores",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of stores to which you're adding the record. By default, Feature Store adds the\n         record to all of the stores that you're using for the <code>FeatureGroup</code>.</p>"
               }
            },
            "TtlDuration" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#TtlDuration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Time to live duration, where the record is hard deleted after the expiration time is\n         reached; <code>ExpiresAt</code> = <code>EventTime</code> + <code>TtlDuration</code>. For\n         information on HardDelete, see the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_feature_store_DeleteRecord.html\">DeleteRecord</a> API in the Amazon SageMaker API Reference guide.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#Record" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#FeatureValue"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#RecordIdentifiers" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#ResourceNotFound" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A resource that is required to perform an action was not found.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#ServiceUnavailable" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The service is currently unavailable.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 503
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#TargetStore" : {
         "members" : {
            "OFFLINE_STORE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OfflineStore"
               }
            },
            "ONLINE_STORE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "OnlineStore"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#TargetStores" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#TargetStore"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 2,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#TtlDuration" : {
         "members" : {
            "Unit" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#TtlDurationUnit",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>\n            <code>TtlDuration</code> time unit.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#TtlDurationValue",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>\n            <code>TtlDuration</code> time value.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Time to live duration, where the record is hard deleted after the expiration time is\n         reached; <code>ExpiresAt</code> = <code>EventTime</code> + <code>TtlDuration</code>. For\n         information on HardDelete, see the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_feature_store_DeleteRecord.html\">DeleteRecord</a> API in the Amazon SageMaker API Reference guide.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#TtlDurationUnit" : {
         "members" : {
            "DAYS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Days"
               }
            },
            "HOURS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Hours"
               }
            },
            "MINUTES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Minutes"
               }
            },
            "SECONDS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Seconds"
               }
            },
            "WEEKS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Weeks"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#TtlDurationValue" : {
         "traits" : {
            "smithy.api#range" : {
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#UnprocessedIdentifiers" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#BatchGetRecordIdentifier"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#ValidationError" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.sagemakerfeaturestoreruntime#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>There was an error validating your request.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 358400,
               "min" : 0
            },
            "smithy.api#pattern" : ".*"
         },
         "type" : "string"
      },
      "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsStringList" : {
         "member" : {
            "target" : "com.amazonaws.sagemakerfeaturestoreruntime#ValueAsString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 358400,
               "min" : 0
            }
         },
         "type" : "list"
      }
   },
   "smithy" : "2.0"
}
