{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.fsx#AWSAccountId" : {
         "traits" : {
            "smithy.api#documentation" : "<p>An Amazon Web Services account ID. This ID is a 12-digit number that you use to construct Amazon\n            Resource Names (ARNs) for resources.</p>",
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^\\d{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.fsx#AWSSimbaAPIService_v20180301" : {
         "operations" : [
            {
               "target" : "com.amazonaws.fsx#AssociateFileSystemAliases"
            },
            {
               "target" : "com.amazonaws.fsx#CancelDataRepositoryTask"
            },
            {
               "target" : "com.amazonaws.fsx#CopyBackup"
            },
            {
               "target" : "com.amazonaws.fsx#CopySnapshotAndUpdateVolume"
            },
            {
               "target" : "com.amazonaws.fsx#CreateAndAttachS3AccessPoint"
            },
            {
               "target" : "com.amazonaws.fsx#CreateBackup"
            },
            {
               "target" : "com.amazonaws.fsx#CreateDataRepositoryAssociation"
            },
            {
               "target" : "com.amazonaws.fsx#CreateDataRepositoryTask"
            },
            {
               "target" : "com.amazonaws.fsx#CreateFileCache"
            },
            {
               "target" : "com.amazonaws.fsx#CreateFileSystem"
            },
            {
               "target" : "com.amazonaws.fsx#CreateFileSystemFromBackup"
            },
            {
               "target" : "com.amazonaws.fsx#CreateSnapshot"
            },
            {
               "target" : "com.amazonaws.fsx#CreateStorageVirtualMachine"
            },
            {
               "target" : "com.amazonaws.fsx#CreateVolume"
            },
            {
               "target" : "com.amazonaws.fsx#CreateVolumeFromBackup"
            },
            {
               "target" : "com.amazonaws.fsx#DeleteBackup"
            },
            {
               "target" : "com.amazonaws.fsx#DeleteDataRepositoryAssociation"
            },
            {
               "target" : "com.amazonaws.fsx#DeleteFileCache"
            },
            {
               "target" : "com.amazonaws.fsx#DeleteFileSystem"
            },
            {
               "target" : "com.amazonaws.fsx#DeleteSnapshot"
            },
            {
               "target" : "com.amazonaws.fsx#DeleteStorageVirtualMachine"
            },
            {
               "target" : "com.amazonaws.fsx#DeleteVolume"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeBackups"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeDataRepositoryAssociations"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeDataRepositoryTasks"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeFileCaches"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeFileSystemAliases"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeFileSystems"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeS3AccessPointAttachments"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeSharedVpcConfiguration"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeSnapshots"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeStorageVirtualMachines"
            },
            {
               "target" : "com.amazonaws.fsx#DescribeVolumes"
            },
            {
               "target" : "com.amazonaws.fsx#DetachAndDeleteS3AccessPoint"
            },
            {
               "target" : "com.amazonaws.fsx#DisassociateFileSystemAliases"
            },
            {
               "target" : "com.amazonaws.fsx#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.fsx#ReleaseFileSystemNfsV3Locks"
            },
            {
               "target" : "com.amazonaws.fsx#RestoreVolumeFromSnapshot"
            },
            {
               "target" : "com.amazonaws.fsx#StartMisconfiguredStateRecovery"
            },
            {
               "target" : "com.amazonaws.fsx#TagResource"
            },
            {
               "target" : "com.amazonaws.fsx#UntagResource"
            },
            {
               "target" : "com.amazonaws.fsx#UpdateDataRepositoryAssociation"
            },
            {
               "target" : "com.amazonaws.fsx#UpdateFileCache"
            },
            {
               "target" : "com.amazonaws.fsx#UpdateFileSystem"
            },
            {
               "target" : "com.amazonaws.fsx#UpdateSharedVpcConfiguration"
            },
            {
               "target" : "com.amazonaws.fsx#UpdateSnapshot"
            },
            {
               "target" : "com.amazonaws.fsx#UpdateStorageVirtualMachine"
            },
            {
               "target" : "com.amazonaws.fsx#UpdateVolume"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "fsx",
               "cloudFormationName" : "FSx",
               "cloudTrailEventSource" : "fsx.amazonaws.com",
               "endpointPrefix" : "fsx",
               "sdkId" : "FSx"
            },
            "aws.auth#sigv4" : {
               "name" : "fsx"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>Amazon FSx is a fully managed service that makes it easy for storage and\n            application administrators to launch and use shared file storage.</p>",
            "smithy.api#title" : "Amazon FSx",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://fsx-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://fsx-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://fsx.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://fsx.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://fsx.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2018-03-01"
      },
      "com.amazonaws.fsx#AccessPointAlreadyOwnedByYou" : {
         "members" : {
            "ErrorCode" : {
               "target" : "com.amazonaws.fsx#ErrorCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>An error code indicating that an access point with that name already exists in the Amazon Web Services Region in your Amazon Web Services account.</p>"
               }
            },
            "Message" : {
               "target" : "com.amazonaws.fsx#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An access point with that name already exists in the Amazon Web Services Region in your Amazon Web Services account.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409,
            "smithy.api#xmlName" : "Error"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AccessPointPolicy" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 200000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.fsx#ActiveDirectoryBackupAttributes" : {
         "members" : {
            "ActiveDirectoryId" : {
               "target" : "com.amazonaws.fsx#DirectoryId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Amazon Web Services Managed Microsoft Active Directory instance to which the file system is joined.</p>"
               }
            },
            "DomainName" : {
               "target" : "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The fully qualified domain name of the self-managed Active Directory directory.</p>"
               }
            },
            "ResourceARN" : {
               "target" : "com.amazonaws.fsx#ResourceARN"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The Microsoft Active Directory attributes of the Amazon FSx for Windows File\n            Server file system.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#ActiveDirectoryError" : {
         "members" : {
            "ActiveDirectoryId" : {
               "target" : "com.amazonaws.fsx#DirectoryId",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The directory ID of the directory that an error pertains to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Message" : {
               "target" : "com.amazonaws.fsx#ErrorMessage"
            },
            "Type" : {
               "target" : "com.amazonaws.fsx#ActiveDirectoryErrorType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of Active Directory error.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An Active Directory error.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#ActiveDirectoryErrorType" : {
         "members" : {
            "DOMAIN_NOT_FOUND" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOMAIN_NOT_FOUND"
               }
            },
            "INCOMPATIBLE_DOMAIN_MODE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INCOMPATIBLE_DOMAIN_MODE"
               }
            },
            "INVALID_DOMAIN_STAGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INVALID_DOMAIN_STAGE"
               }
            },
            "INVALID_NETWORK_TYPE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INVALID_NETWORK_TYPE"
               }
            },
            "WRONG_VPC" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "WRONG_VPC"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The type of error relating to Microsoft Active Directory. NOT_FOUND means that no\n            directory was found by specifying the given directory. INCOMPATIBLE_MODE means that the\n            directory specified is not a Microsoft AD directory. WRONG_VPC means that the specified\n            directory isn't accessible from the specified VPC. WRONG_STAGE means that the\n            specified directory isn't currently in the ACTIVE state.</p>"
         },
         "type" : "enum"
      },
      "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,255}$"
         },
         "type" : "string"
      },
      "com.amazonaws.fsx#AdminPassword" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 8
            },
            "smithy.api#pattern" : "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{8,50}$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.fsx#AdministrativeAction" : {
         "members" : {
            "AdministrativeActionType" : {
               "target" : "com.amazonaws.fsx#AdministrativeActionType"
            },
            "FailureDetails" : {
               "target" : "com.amazonaws.fsx#AdministrativeActionFailureDetails"
            },
            "Message" : {
               "target" : "com.amazonaws.fsx#ErrorMessage"
            },
            "ProgressPercent" : {
               "target" : "com.amazonaws.fsx#ProgressPercent",
               "traits" : {
                  "smithy.api#documentation" : "<p>The percentage-complete status of a <code>STORAGE_OPTIMIZATION</code> \n             or <code>DOWNLOAD_DATA_FROM_BACKUP</code> administrative action. Does not apply to any\n            other administrative action type.</p>"
               }
            },
            "RemainingTransferBytes" : {
               "target" : "com.amazonaws.fsx#RemainingTransferBytes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The remaining bytes to transfer for the FSx for OpenZFS snapshot that you're\n            copying.</p>"
               }
            },
            "RequestTime" : {
               "target" : "com.amazonaws.fsx#RequestTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time that the administrative action request was received.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.fsx#Status",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the administrative action, as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx failed to process the administrative action\n                    successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Amazon FSx is processing the administrative action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon FSx is waiting to process the administrative\n                    action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - Amazon FSx has finished processing the administrative\n                    task.</p>\n               <p>For a backup restore to a second-generation FSx for ONTAP file system, \n                    indicates that all data has been downloaded to the volume, and clients now have read-write access to volume.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATED_OPTIMIZING</code> - For a storage-capacity increase update, Amazon FSx\n                    has updated the file system with the new storage capacity, and is now performing\n                    the storage-optimization process.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - For a backup restore to a second-generation FSx for ONTAP file system, \n                    indicates that the file metadata is being downloaded onto the volume. The volume's Lifecycle state is CREATING.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - For a backup restore to a second-generation FSx for ONTAP file system, \n                    indicates that all metadata has been downloaded to the new volume and client can access data with read-only access \n                    while Amazon FSx downloads the file data to the volume. Track the\n                    progress of this process with the <code>ProgressPercent</code> element.</p>\n            </li>\n         </ul>"
               }
            },
            "TargetFileSystemValues" : {
               "target" : "com.amazonaws.fsx#FileSystem",
               "traits" : {
                  "smithy.api#documentation" : "<p>The target value for the administration action, provided in the\n                <code>UpdateFileSystem</code> operation. Returned for\n                <code>FILE_SYSTEM_UPDATE</code> administrative actions. </p>"
               }
            },
            "TargetSnapshotValues" : {
               "target" : "com.amazonaws.fsx#Snapshot"
            },
            "TargetVolumeValues" : {
               "target" : "com.amazonaws.fsx#Volume"
            },
            "TotalTransferBytes" : {
               "target" : "com.amazonaws.fsx#TotalTransferBytes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of bytes that have transferred for the FSx for OpenZFS snapshot\n            that you're copying.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a specific Amazon FSx administrative action for the current Windows,\n            Lustre, OpenZFS, or ONTAP file system or volume.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AdministrativeActionFailureDetails" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.fsx#ErrorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>Error message providing details about the failed administrative action.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides information about a failed administrative action.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AdministrativeActionType" : {
         "members" : {
            "DOWNLOAD_DATA_FROM_BACKUP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOWNLOAD_DATA_FROM_BACKUP"
               }
            },
            "FILE_SYSTEM_ALIAS_ASSOCIATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FILE_SYSTEM_ALIAS_ASSOCIATION"
               }
            },
            "FILE_SYSTEM_ALIAS_DISASSOCIATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FILE_SYSTEM_ALIAS_DISASSOCIATION"
               }
            },
            "FILE_SYSTEM_UPDATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FILE_SYSTEM_UPDATE"
               }
            },
            "IOPS_OPTIMIZATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IOPS_OPTIMIZATION"
               }
            },
            "MISCONFIGURED_STATE_RECOVERY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MISCONFIGURED_STATE_RECOVERY"
               }
            },
            "RELEASE_NFS_V3_LOCKS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RELEASE_NFS_V3_LOCKS"
               }
            },
            "SNAPSHOT_UPDATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SNAPSHOT_UPDATE"
               }
            },
            "STORAGE_OPTIMIZATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STORAGE_OPTIMIZATION"
               }
            },
            "STORAGE_TYPE_OPTIMIZATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STORAGE_TYPE_OPTIMIZATION"
               }
            },
            "THROUGHPUT_OPTIMIZATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "THROUGHPUT_OPTIMIZATION"
               }
            },
            "VOLUME_INITIALIZE_WITH_SNAPSHOT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VOLUME_INITIALIZE_WITH_SNAPSHOT"
               }
            },
            "VOLUME_RESTORE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VOLUME_RESTORE"
               }
            },
            "VOLUME_UPDATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VOLUME_UPDATE"
               }
            },
            "VOLUME_UPDATE_WITH_SNAPSHOT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VOLUME_UPDATE_WITH_SNAPSHOT"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the type of administrative action, as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_UPDATE</code> - A file system update administrative action\n                    initiated from the Amazon FSx console, API\n                        (<code>UpdateFileSystem</code>), or CLI\n                    (<code>update-file-system</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>THROUGHPUT_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code>\n                    task to increase a file system's throughput capacity has been completed\n                    successfully, a <code>THROUGHPUT_OPTIMIZATION</code> task starts.</p>\n               <p>You can track the storage-optimization progress using the\n                    <code>ProgressPercent</code> property. When\n                    <code>THROUGHPUT_OPTIMIZATION</code> has been completed successfully, the\n                    parent <code>FILE_SYSTEM_UPDATE</code> action status changes to\n                    <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-throughput-capacity.html\">Managing\n                        throughput capacity</a> in the <i>Amazon FSx for Windows\n                            File Server User Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STORAGE_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code>\n                    task to increase a file system's storage capacity has completed\n                    successfully, a <code>STORAGE_OPTIMIZATION</code> task starts. </p>\n               <ul>\n                  <li>\n                     <p>For Windows and ONTAP, storage optimization is the process of migrating the file system data\n                        to newer larger disks.</p>\n                  </li>\n                  <li>\n                     <p>For Lustre, storage optimization consists of rebalancing the data across the existing and\n                            newly added file servers.</p>\n                  </li>\n               </ul>\n               <p>You can track the storage-optimization progress using the\n                        <code>ProgressPercent</code> property. When\n                        <code>STORAGE_OPTIMIZATION</code> has been completed successfully, the\n                    parent <code>FILE_SYSTEM_UPDATE</code> action status changes to\n                        <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing\n                        storage capacity</a> in the <i>Amazon FSx for Windows\n                        File Server User Guide</i>, <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage\n                        capacity</a> in the <i>Amazon FSx for\n                            Lustre User Guide</i>, and\n                    <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-storage-capacity.html\">Managing storage capacity and provisioned IOPS</a> in the <i>Amazon FSx for NetApp ONTAP User\n                            Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_ALIAS_ASSOCIATION</code> - A file system update to associate a new Domain\n                    Name System (DNS) alias with the file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_AssociateFileSystemAliases.html\">\n                        AssociateFileSystemAliases</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_ALIAS_DISASSOCIATION</code> - A file system update to disassociate a DNS alias from the file system.\n                For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DisassociateFileSystemAliases.html\">DisassociateFileSystemAliases</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IOPS_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code>\n                    task to increase a file system's throughput capacity has been completed\n                    successfully, a <code>IOPS_OPTIMIZATION</code> task starts.</p>\n               <p>You can track the storage-optimization progress using the\n                        <code>ProgressPercent</code> property. When <code>IOPS_OPTIMIZATION</code>\n                    has been completed successfully, the parent <code>FILE_SYSTEM_UPDATE</code>\n                    action status changes to <code>COMPLETED</code>. For more information, see\n                        <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-provisioned-ssd-iops.html\">Managing\n                        provisioned SSD IOPS</a> in the Amazon FSx for Windows File\n                    Server User Guide.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STORAGE_TYPE_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code>\n                    task to increase a file system's throughput capacity has been completed\n                    successfully, a <code>STORAGE_TYPE_OPTIMIZATION</code> task starts.</p>\n               <p>You can track the storage-optimization progress using the\n                    <code>ProgressPercent</code> property. When\n                    <code>STORAGE_TYPE_OPTIMIZATION</code> has been completed successfully, the\n                    parent <code>FILE_SYSTEM_UPDATE</code> action status changes to\n                    <code>COMPLETED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VOLUME_UPDATE</code> - A volume update to an Amazon FSx for OpenZFS volume\n                    initiated from the Amazon FSx console, API (<code>UpdateVolume</code>),\n                    or CLI (<code>update-volume</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>VOLUME_RESTORE</code> - An Amazon FSx for OpenZFS volume\n                is returned to the state saved by the specified snapshot, initiated from an\n                API (<code>RestoreVolumeFromSnapshot</code>) or CLI\n                (<code>restore-volume-from-snapshot</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>SNAPSHOT_UPDATE</code> - A snapshot update to an Amazon FSx for\n                    OpenZFS volume initiated from the Amazon FSx console, API\n                        (<code>UpdateSnapshot</code>), or CLI (<code>update-snapshot</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>RELEASE_NFS_V3_LOCKS</code> - Tracks the release of Network File System\n                    (NFS) V3 locks on an Amazon FSx for OpenZFS file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DOWNLOAD_DATA_FROM_BACKUP</code> - An FSx for ONTAP backup is\n                    being restored to a new volume on a second-generation file system. Once the all the file \n                    metadata is loaded onto the volume, you can mount the volume with read-only access.\n                    during this process.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VOLUME_INITIALIZE_WITH_SNAPSHOT</code> - A volume is being created from\n                    a snapshot on a different FSx for OpenZFS file system. You can\n                    initiate this from the Amazon FSx console, API\n                    (<code>CreateVolume</code>), or CLI (<code>create-volume</code>) when using\n                    the using the <code>FULL_COPY</code> strategy.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VOLUME_UPDATE_WITH_SNAPSHOT</code> - A volume is being updated from a\n                    snapshot on a different FSx for OpenZFS file system. You can initiate\n                    this from the Amazon FSx console, API\n                        (<code>CopySnapshotAndUpdateVolume</code>), or CLI\n                        (<code>copy-snapshot-and-update-volume</code>).</p>\n            </li>\n         </ul>"
         },
         "type" : "enum"
      },
      "com.amazonaws.fsx#AdministrativeActions" : {
         "member" : {
            "target" : "com.amazonaws.fsx#AdministrativeAction"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.fsx#Aggregate" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 6,
               "min" : 5
            },
            "smithy.api#pattern" : "^(aggr[0-9]{1,2})$"
         },
         "type" : "string"
      },
      "com.amazonaws.fsx#AggregateConfiguration" : {
         "members" : {
            "Aggregates" : {
               "target" : "com.amazonaws.fsx#Aggregates",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of aggregates that this volume resides on. Aggregates are storage pools which make up your primary storage tier. Each high-availability (HA) pair has one aggregate. The names of the aggregates map to the names of the aggregates in the ONTAP CLI and REST API. For FlexVols, there will always be a single entry.</p>\n         <p>Amazon FSx responds with an HTTP status code 400 (Bad Request) for the following conditions:</p>\n         <ul>\n            <li>\n               <p>The strings in the value of <code>Aggregates</code> are not are not formatted as <code>aggrX</code>, where X is a number between 1 and 12.</p>\n            </li>\n            <li>\n               <p>The value of <code>Aggregates</code> contains aggregates that are not present.</p>\n            </li>\n            <li>\n               <p>One or more of the aggregates supplied are too close to the volume limit to support adding more volumes.</p>\n            </li>\n         </ul>"
               }
            },
            "TotalConstituents" : {
               "target" : "com.amazonaws.fsx#TotalConstituents",
               "traits" : {
                  "smithy.api#documentation" : "<p>The total number of constituents this FlexGroup volume has. Not applicable for FlexVols.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Used to specify configuration options for a volume’s storage aggregate or aggregates.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AggregateListMultiplier" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 200,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.fsx#Aggregates" : {
         "member" : {
            "target" : "com.amazonaws.fsx#Aggregate"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 6,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.fsx#Alias" : {
         "members" : {
            "Lifecycle" : {
               "target" : "com.amazonaws.fsx#AliasLifecycle",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the state of the DNS alias.</p>\n         <ul>\n            <li>\n               <p>AVAILABLE - The DNS alias is associated with an Amazon FSx file system.</p>\n            </li>\n            <li>\n               <p>CREATING - Amazon FSx is creating the DNS alias and associating it with the file system.</p>\n            </li>\n            <li>\n               <p>CREATE_FAILED - Amazon FSx was unable to associate the DNS alias with the file system.</p>\n            </li>\n            <li>\n               <p>DELETING - Amazon FSx is disassociating the DNS alias from the file system and deleting it.</p>\n            </li>\n            <li>\n               <p>DELETE_FAILED - Amazon FSx was unable to disassociate the DNS alias from the file system.</p>\n            </li>\n         </ul>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.fsx#AlternateDNSName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the DNS alias. The alias name has to meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters, the underscore (_), and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n         <p>For DNS names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A DNS alias that is associated with the file system. You can use a DNS alias to access a file system using \n            user-defined DNS names, in addition to the default DNS name\n            that Amazon FSx assigns to the file system. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a> \n            in the <i>FSx for Windows File Server User Guide</i>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AliasLifecycle" : {
         "members" : {
            "AVAILABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AVAILABLE"
               }
            },
            "CREATE_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATE_FAILED"
               }
            },
            "CREATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "DELETE_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETE_FAILED"
               }
            },
            "DELETING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.fsx#Aliases" : {
         "member" : {
            "target" : "com.amazonaws.fsx#Alias"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An array of one or more DNS aliases that are currently associated with the Amazon FSx file system. \n            Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. \n            You can associate up to 50 aliases with a file system at any time. \n            You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. \n            You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation.\n            You only need to specify the alias name in the request payload. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Managing DNS aliases</a>.</p>",
            "smithy.api#length" : {
               "max" : 50,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.fsx#AlternateDNSName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 253,
               "min" : 4
            },
            "smithy.api#pattern" : "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{4,253}$"
         },
         "type" : "string"
      },
      "com.amazonaws.fsx#AlternateDNSNames" : {
         "member" : {
            "target" : "com.amazonaws.fsx#AlternateDNSName"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.fsx#ArchivePath" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 4357,
               "min" : 3
            },
            "smithy.api#pattern" : "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{3,4357}$"
         },
         "type" : "string"
      },
      "com.amazonaws.fsx#AssociateFileSystemAliases" : {
         "errors" : [
            {
               "target" : "com.amazonaws.fsx#BadRequest"
            },
            {
               "target" : "com.amazonaws.fsx#FileSystemNotFound"
            },
            {
               "target" : "com.amazonaws.fsx#InternalServerError"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.fsx#AssociateFileSystemAliasesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.fsx#AssociateFileSystemAliasesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Use this action to associate one or more Domain Name Server (DNS) aliases with an existing Amazon FSx for Windows File Server file system. \n        A file system can have a maximum of 50 DNS aliases associated with it at any one time. If you try to \n        associate a DNS alias that is already associated with the file system, FSx takes no action on that alias in the request. \n        For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including\n             additional steps you must take to be able to access your file system using a DNS alias.</p>\n         <p>The system response shows the DNS aliases that \n            Amazon FSx is attempting to associate with the file system. \n            Use the  API \n            operation to monitor the status of the aliases Amazon FSx is \n            associating with the file system.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.fsx#AssociateFileSystemAliasesRequest" : {
         "members" : {
            "Aliases" : {
               "target" : "com.amazonaws.fsx#AlternateDNSNames",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>An array of one or more DNS alias names to associate with the file system. \n            The alias name has to comply with the following formatting requirements:</p>\n         <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <i>\n                     <code>hostname.domain</code>\n                  </i>, \n                    for example, <code>accounting.corp.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n         <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ClientRequestToken" : {
               "target" : "com.amazonaws.fsx#ClientRequestToken",
               "traits" : {
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "FileSystemId" : {
               "target" : "com.amazonaws.fsx#FileSystemId",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Specifies the file system with which you want to associate one or more DNS aliases.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request object specifying one or more DNS alias names to associate with an Amazon FSx for Windows File Server file system.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AssociateFileSystemAliasesResponse" : {
         "members" : {
            "Aliases" : {
               "target" : "com.amazonaws.fsx#Aliases",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of the DNS aliases that Amazon FSx is associating with the file system.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The system generated response showing the DNS aliases that \n            Amazon FSx is attempting to associate with the file system. \n            Use the  API \n            operation to monitor the status of the aliases Amazon FSx is \n            associating with the file system. It can take up to 2.5 minutes for \n        the alias status to change from <code>CREATING</code> to <code>AVAILABLE</code>. </p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AutoExportPolicy" : {
         "members" : {
            "Events" : {
               "target" : "com.amazonaws.fsx#EventTypes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>AutoExportPolicy</code> can have the following event values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NEW</code> - New files and directories are automatically exported\n                to the data repository as they are added to the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CHANGED</code> - Changes to files and directories on the\n                file system are automatically exported to the data repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Files and directories are automatically deleted\n                on the data repository when they are deleted on the file system.</p>\n            </li>\n         </ul>\n         <p>You can define any combination of event types for your <code>AutoExportPolicy</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a data repository association's automatic export policy. The\n            <code>AutoExportPolicy</code> defines the types of updated objects on the\n            file system that will be automatically exported to the data repository.\n            As you create, modify, or delete files, Amazon FSx for Lustre \n            automatically exports the defined changes asynchronously once your application finishes\n            modifying the file.</p>\n         <p>The <code>AutoExportPolicy</code> is only supported on Amazon FSx for Lustre file systems\n            with a data repository association.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AutoImportPolicy" : {
         "members" : {
            "Events" : {
               "target" : "com.amazonaws.fsx#EventTypes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>AutoImportPolicy</code> can have the following event values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NEW</code> - Amazon FSx automatically imports metadata of\n                files added to the linked S3 bucket that do not currently exist in the FSx\n                file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CHANGED</code> - Amazon FSx automatically updates file\n                metadata and invalidates existing file content on the file system as files\n                change in the data repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Amazon FSx automatically deletes files\n                on the file system as corresponding files are deleted in the data repository.</p>\n            </li>\n         </ul>\n         <p>You can define any combination of event types for your <code>AutoImportPolicy</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the data repository association's automatic import policy.\n            The AutoImportPolicy defines how Amazon FSx keeps your file metadata and directory\n            listings up to date by importing changes to your Amazon FSx for Lustre file system\n            as you modify objects in a linked S3 bucket.</p>\n         <p>The <code>AutoImportPolicy</code> is only supported on Amazon FSx for Lustre file systems\n            with a data repository association.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AutoImportPolicyType" : {
         "members" : {
            "NEW" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NEW"
               }
            },
            "NEW_CHANGED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NEW_CHANGED"
               }
            },
            "NEW_CHANGED_DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NEW_CHANGED_DELETED"
               }
            },
            "NONE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NONE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.fsx#AutocommitPeriod" : {
         "members" : {
            "Type" : {
               "target" : "com.amazonaws.fsx#AutocommitPeriodType",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>Defines the type of time for the autocommit period of a file in an FSx for ONTAP SnapLock volume. \n        Setting this value to <code>NONE</code> disables autocommit. The default value is <code>NONE</code>. </p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.fsx#AutocommitPeriodValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the amount of time for the autocommit period of a file in an FSx for ONTAP SnapLock volume. \n        The following ranges are valid: </p>\n         <ul>\n            <li>\n               <p>\n                  <code>Minutes</code>: 5 - 65,535</p>\n            </li>\n            <li>\n               <p>\n                  <code>Hours</code>: 1 - 65,535</p>\n            </li>\n            <li>\n               <p>\n                  <code>Days</code>: 1 - 3,650</p>\n            </li>\n            <li>\n               <p>\n                  <code>Months</code>: 1 - 120</p>\n            </li>\n            <li>\n               <p>\n                  <code>Years</code>: 1 - 10</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Sets the autocommit period of files in an FSx for ONTAP SnapLock volume, which determines \n            how long the files must  \n        remain unmodified before they're automatically transitioned to the write once, read many (WORM) state. \n        </p>\n         <p>For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/worm-state.html#worm-state-autocommit\">Autocommit</a>. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#AutocommitPeriodType" : {
         "members" : {
            "DAYS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DAYS"
               }
            },
            "HOURS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HOURS"
               }
            },
            "MINUTES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MINUTES"
               }
            },
            "MONTHS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MONTHS"
               }
            },
            "NONE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NONE"
               }
            },
            "YEARS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "YEARS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.fsx#AutocommitPeriodValue" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 65535,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.fsx#AutomaticBackupRetentionDays" : {
         "traits" : {
            "smithy.api#documentation" : "<p>The number of days to retain automatic backups. Setting this property to\n                <code>0</code> disables automatic backups. You can retain automatic backups for a\n            maximum of 90 days. The default is <code>30</code>.</p>",
            "smithy.api#range" : {
               "max" : 90,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.fsx#Backup" : {
         "members" : {
            "BackupId" : {
               "target" : "com.amazonaws.fsx#BackupId",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The ID of the backup.</p>",
                  "smithy.api#required" : {}
               }
            },
            "CreationTime" : {
               "target" : "com.amazonaws.fsx#CreationTime",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The time when a particular backup was created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DirectoryInformation" : {
               "target" : "com.amazonaws.fsx#ActiveDirectoryBackupAttributes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration of the self-managed Microsoft Active Directory directory to which\n            the Windows File Server instance is joined.</p>"
               }
            },
            "FailureDetails" : {
               "target" : "com.amazonaws.fsx#BackupFailureDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details explaining any failures that occurred when creating a backup.</p>"
               }
            },
            "FileSystem" : {
               "target" : "com.amazonaws.fsx#FileSystem",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The metadata of the file system associated with the backup. This metadata is persisted\n            even if the file system is deleted.</p>",
                  "smithy.api#required" : {}
               }
            },
            "KmsKeyId" : {
               "target" : "com.amazonaws.fsx#KmsKeyId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Key Management Service (KMS) key used to encrypt the\n            backup of the Amazon FSx file system's data at rest. </p>"
               }
            },
            "Lifecycle" : {
               "target" : "com.amazonaws.fsx#BackupLifecycle",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The lifecycle status of the backup.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The backup is fully available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx hasn't started creating the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATING</code> - Amazon FSx is creating the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is transferring the backup to Amazon S3.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COPYING</code> - Amazon FSx is copying the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Amazon FSx deleted the backup and it's no longer\n                    available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx couldn't finish the backup.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "OwnerId" : {
               "target" : "com.amazonaws.fsx#AWSAccountId"
            },
            "ProgressPercent" : {
               "target" : "com.amazonaws.fsx#ProgressPercent"
            },
            "ResourceARN" : {
               "target" : "com.amazonaws.fsx#ResourceARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for the backup resource.</p>"
               }
            },
            "ResourceType" : {
               "target" : "com.amazonaws.fsx#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the resource type that's backed up.</p>"
               }
            },
            "SizeInBytes" : {
               "target" : "com.amazonaws.fsx#SizeInBytes",
               "traits" : {
                  "smithy.api#documentation" : "<p>\n            The size of the backup in bytes. This represents the amount of data that the file system would contain if you restore this backup.\n        </p>"
               }
            },
            "SourceBackupId" : {
               "target" : "com.amazonaws.fsx#BackupId"
            },
            "SourceBackupRegion" : {
               "target" : "com.amazonaws.fsx#Region",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source Region of the backup. Specifies the Region from where this backup\n            is copied.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.fsx#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags associated with a particular file system.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.fsx#BackupType",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The type of the file-system backup.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Volume" : {
               "target" : "com.amazonaws.fsx#Volume"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A backup of an Amazon FSx for Windows File Server, Amazon FSx for\n            Lustre file system, Amazon FSx for NetApp ONTAP volume, or Amazon FSx\n            for OpenZFS file system.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.fsx#BackupBeingCopied" : {
         "members" : {
            "BackupId" : {
               "target" : "com.amazonaws.fsx#BackupId"
            },
            "Message" : {
               "target" : "com.amazonaws.fsx#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You can't delete a backup while it's being copied.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
[...]
