{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.finspacedata#AWSHabaneroPublicAPI" : {
         "operations" : [
            {
               "target" : "com.amazonaws.finspacedata#AssociateUserToPermissionGroup"
            },
            {
               "target" : "com.amazonaws.finspacedata#CreateChangeset"
            },
            {
               "target" : "com.amazonaws.finspacedata#CreateDataset"
            },
            {
               "target" : "com.amazonaws.finspacedata#CreateDataView"
            },
            {
               "target" : "com.amazonaws.finspacedata#CreatePermissionGroup"
            },
            {
               "target" : "com.amazonaws.finspacedata#CreateUser"
            },
            {
               "target" : "com.amazonaws.finspacedata#DeleteDataset"
            },
            {
               "target" : "com.amazonaws.finspacedata#DeletePermissionGroup"
            },
            {
               "target" : "com.amazonaws.finspacedata#DisableUser"
            },
            {
               "target" : "com.amazonaws.finspacedata#DisassociateUserFromPermissionGroup"
            },
            {
               "target" : "com.amazonaws.finspacedata#EnableUser"
            },
            {
               "target" : "com.amazonaws.finspacedata#GetChangeset"
            },
            {
               "target" : "com.amazonaws.finspacedata#GetDataset"
            },
            {
               "target" : "com.amazonaws.finspacedata#GetDataView"
            },
            {
               "target" : "com.amazonaws.finspacedata#GetExternalDataViewAccessDetails"
            },
            {
               "target" : "com.amazonaws.finspacedata#GetPermissionGroup"
            },
            {
               "target" : "com.amazonaws.finspacedata#GetProgrammaticAccessCredentials"
            },
            {
               "target" : "com.amazonaws.finspacedata#GetUser"
            },
            {
               "target" : "com.amazonaws.finspacedata#GetWorkingLocation"
            },
            {
               "target" : "com.amazonaws.finspacedata#ListChangesets"
            },
            {
               "target" : "com.amazonaws.finspacedata#ListDatasets"
            },
            {
               "target" : "com.amazonaws.finspacedata#ListDataViews"
            },
            {
               "target" : "com.amazonaws.finspacedata#ListPermissionGroups"
            },
            {
               "target" : "com.amazonaws.finspacedata#ListPermissionGroupsByUser"
            },
            {
               "target" : "com.amazonaws.finspacedata#ListUsers"
            },
            {
               "target" : "com.amazonaws.finspacedata#ListUsersByPermissionGroup"
            },
            {
               "target" : "com.amazonaws.finspacedata#ResetUserPassword"
            },
            {
               "target" : "com.amazonaws.finspacedata#UpdateChangeset"
            },
            {
               "target" : "com.amazonaws.finspacedata#UpdateDataset"
            },
            {
               "target" : "com.amazonaws.finspacedata#UpdatePermissionGroup"
            },
            {
               "target" : "com.amazonaws.finspacedata#UpdateUser"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "finspace-api",
               "cloudFormationName" : "Finspacedata",
               "cloudTrailEventSource" : "finspacedata.amazonaws.com",
               "docId" : "finspace-2020-07-13",
               "endpointPrefix" : "finspace-api",
               "sdkId" : "finspace data"
            },
            "aws.auth#sigv4" : {
               "name" : "finspace-api"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p> The FinSpace APIs let you take actions inside the FinSpace.</p>",
            "smithy.api#title" : "FinSpace Public API",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://finspace-api-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://finspace-api-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://finspace-api.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://finspace-api.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://finspace-api.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-07-13"
      },
      "com.amazonaws.finspacedata#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.finspacedata#ErrorMessage2"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#AccessKeyId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\s\\S]*\\S[\\s\\S]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#AliasString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^alias\\/\\S+$"
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#ApiAccess" : {
         "members" : {
            "DISABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DISABLED"
               }
            },
            "ENABLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ENABLED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.finspacedata#ApplicationPermission" : {
         "members" : {
            "AccessNotebooks" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AccessNotebooks"
               }
            },
            "CreateDataset" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CreateDataset"
               }
            },
            "GetTemporaryCredentials" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "GetTemporaryCredentials"
               }
            },
            "ManageAttributeSets" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ManageAttributeSets"
               }
            },
            "ManageClusters" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ManageClusters"
               }
            },
            "ManageUsersAndGroups" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ManageUsersAndGroups"
               }
            },
            "ViewAuditData" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ViewAuditData"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.finspacedata#ApplicationPermissionList" : {
         "member" : {
            "target" : "com.amazonaws.finspacedata#ApplicationPermission"
         },
         "type" : "list"
      },
      "com.amazonaws.finspacedata#AssociateUserToPermissionGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.finspacedata#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ConflictException"
            },
            {
               "target" : "com.amazonaws.finspacedata#InternalServerException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.finspacedata#AssociateUserToPermissionGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.finspacedata#AssociateUserToPermissionGroupResponse"
         },
         "traits" : {
            "smithy.api#deprecated" : {
               "message" : "This method will be discontinued."
            },
            "smithy.api#documentation" : "<p>Adds a user to a permission group to grant permissions for actions a user can perform in FinSpace.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/permission-group/{permissionGroupId}/users/{userId}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.finspacedata#AssociateUserToPermissionGroupRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.finspacedata#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "permissionGroupId" : {
               "target" : "com.amazonaws.finspacedata#PermissionGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the permission group.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "userId" : {
               "target" : "com.amazonaws.finspacedata#UserId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the user.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#AssociateUserToPermissionGroupResponse" : {
         "members" : {
            "statusCode" : {
               "target" : "com.amazonaws.finspacedata#StatusCode",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The returned status code of the response.</p>",
                  "smithy.api#httpResponseCode" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#AwsCredentials" : {
         "members" : {
            "accessKeyId" : {
               "target" : "com.amazonaws.finspacedata#AccessKeyId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The unique identifier for the security credentials.</p>"
               }
            },
            "expiration" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p> The Epoch time when the current credentials expire.</p>"
               }
            },
            "secretAccessKey" : {
               "target" : "com.amazonaws.finspacedata#SecretAccessKey",
               "traits" : {
                  "smithy.api#documentation" : "<p> The secret access key that can be used to sign requests.</p>"
               }
            },
            "sessionToken" : {
               "target" : "com.amazonaws.finspacedata#SessionToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> The token that users must pass to use the credentials.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The credentials required to access the external Dataview from the S3 location.</p>",
            "smithy.api#sensitive" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#Boolean" : {
         "traits" : {
            "smithy.api#default" : false,
            "smithy.api#documentation" : "Common Boolean data type"
         },
         "type" : "boolean"
      },
      "com.amazonaws.finspacedata#ChangeType" : {
         "members" : {
            "APPEND" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "APPEND"
               }
            },
            "MODIFY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MODIFY"
               }
            },
            "REPLACE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REPLACE"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Indicates how the given change will be applied to the dataset."
         },
         "type" : "enum"
      },
      "com.amazonaws.finspacedata#ChangesetArn" : {
         "traits" : {
            "smithy.api#documentation" : "Arn for a given Changeset"
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#ChangesetErrorInfo" : {
         "members" : {
            "errorCategory" : {
               "target" : "com.amazonaws.finspacedata#ErrorCategory",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the error.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>VALIDATION</code> – The inputs to this request are invalid.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SERVICE_QUOTA_EXCEEDED</code> – Service quotas have been exceeded. Please\n          contact AWS support to increase quotas.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCESS_DENIED</code> – Missing required permission to perform this\n          request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RESOURCE_NOT_FOUND</code> – One or more inputs to this request were not\n          found.</p>\n            </li>\n            <li>\n               <p>\n                  <code>THROTTLING</code> – The system temporarily lacks sufficient resources to process\n          the request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INTERNAL_SERVICE_EXCEPTION</code> – An internal service error has\n          occurred.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> – Cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_RECOVERABLE</code> – A user recoverable error has occurred.</p>\n            </li>\n         </ul>"
               }
            },
            "errorMessage" : {
               "target" : "com.amazonaws.finspacedata#ErrorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>The text of the error message.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The structure with error messages.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#ChangesetId" : {
         "traits" : {
            "smithy.api#documentation" : "ID used to identify a Changeset",
            "smithy.api#length" : {
               "max" : 26,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#ChangesetList" : {
         "member" : {
            "target" : "com.amazonaws.finspacedata#ChangesetSummary"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Changeset Summaries"
         },
         "type" : "list"
      },
      "com.amazonaws.finspacedata#ChangesetSummary" : {
         "members" : {
            "activeFromTimestamp" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>Beginning time from which the Changeset is active. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
               }
            },
            "activeUntilTimestamp" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>Time until which the Changeset is active. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
               }
            },
            "changeType" : {
               "target" : "com.amazonaws.finspacedata#ChangeType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type that indicates how a Changeset is applied to a Dataset.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>REPLACE</code> – Changeset is considered as a replacement to all prior loaded\n          Changesets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APPEND</code> – Changeset is considered as an addition to the end of all prior\n          loaded Changesets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MODIFY</code> – Changeset is considered as a replacement to a specific prior\n          ingested Changeset.</p>\n            </li>\n         </ul>"
               }
            },
            "changesetArn" : {
               "target" : "com.amazonaws.finspacedata#ChangesetArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN identifier of the Changeset.</p>"
               }
            },
            "changesetId" : {
               "target" : "com.amazonaws.finspacedata#ChangesetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for a Changeset.</p>"
               }
            },
            "createTime" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The timestamp at which the Changeset was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
               }
            },
            "datasetId" : {
               "target" : "com.amazonaws.finspacedata#DatasetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the FinSpace Dataset in which the Changeset is created.</p>"
               }
            },
            "errorInfo" : {
               "target" : "com.amazonaws.finspacedata#ChangesetErrorInfo",
               "traits" : {
                  "smithy.api#documentation" : "<p>The structure with error messages.</p>"
               }
            },
            "formatParams" : {
               "target" : "com.amazonaws.finspacedata#FormatParams",
               "traits" : {
                  "smithy.api#documentation" : "<p>Options that define the structure of the source file(s).</p>"
               }
            },
            "sourceParams" : {
               "target" : "com.amazonaws.finspacedata#SourceParams",
               "traits" : {
                  "smithy.api#documentation" : "<p>Options that define the location of the data being ingested.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.finspacedata#IngestionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Status of the Changeset ingestion.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> – Changeset is pending creation.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> – Changeset creation has failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCESS</code> – Changeset creation has succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RUNNING</code> – Changeset creation is running.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STOP_REQUESTED</code> – User requested Changeset creation to stop.</p>\n            </li>\n         </ul>"
               }
            },
            "updatedByChangesetId" : {
               "target" : "com.amazonaws.finspacedata#ChangesetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the updated Changeset.</p>"
               }
            },
            "updatesChangesetId" : {
               "target" : "com.amazonaws.finspacedata#ChangesetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Changeset that is updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A Changeset is unit of data in a Dataset.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#ClientToken" : {
         "traits" : {
            "smithy.api#documentation" : "Idempotence Token for API operations",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "\\S"
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#ColumnDataType" : {
         "members" : {
            "BIGINT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BIGINT"
               }
            },
            "BINARY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BINARY"
               }
            },
            "BOOLEAN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BOOLEAN"
               }
            },
            "CHAR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CHAR"
               }
            },
            "DATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DATE"
               }
            },
            "DATETIME" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DATETIME"
               }
            },
            "DOUBLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOUBLE"
               }
            },
            "FLOAT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FLOAT"
               }
            },
            "INTEGER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INTEGER"
               }
            },
            "SMALLINT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SMALLINT"
               }
            },
            "STRING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STRING"
               }
            },
            "TINYINT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TINYINT"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Data type of a column."
         },
         "type" : "enum"
      },
      "com.amazonaws.finspacedata#ColumnDefinition" : {
         "members" : {
            "columnDescription" : {
               "target" : "com.amazonaws.finspacedata#ColumnDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Description for a column.</p>"
               }
            },
            "columnName" : {
               "target" : "com.amazonaws.finspacedata#ColumnName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a column.</p>"
               }
            },
            "dataType" : {
               "target" : "com.amazonaws.finspacedata#ColumnDataType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Data type of a column.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>STRING</code> – A String data type.</p>\n               <p>\n                  <code>CHAR</code> – A char data type.</p>\n               <p>\n                  <code>INTEGER</code> – An integer data type.</p>\n               <p>\n                  <code>TINYINT</code> – A tinyint data type.</p>\n               <p>\n                  <code>SMALLINT</code> – A smallint data type.</p>\n               <p>\n                  <code>BIGINT</code> – A bigint data type.</p>\n               <p>\n                  <code>FLOAT</code> – A float data type.</p>\n               <p>\n                  <code>DOUBLE</code> – A double data type.</p>\n               <p>\n                  <code>DATE</code> – A date data type.</p>\n               <p>\n                  <code>DATETIME</code> – A datetime data type.</p>\n               <p>\n                  <code>BOOLEAN</code> – A boolean data type.</p>\n               <p>\n                  <code>BINARY</code> – A binary data type.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The definition of a column in a tabular Dataset.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#ColumnDescription" : {
         "traits" : {
            "smithy.api#documentation" : "Column Description",
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#pattern" : "^[\\s\\S]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#ColumnList" : {
         "member" : {
            "target" : "com.amazonaws.finspacedata#ColumnDefinition"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Column Definitions"
         },
         "type" : "list"
      },
      "com.amazonaws.finspacedata#ColumnName" : {
         "traits" : {
            "smithy.api#documentation" : "Column Name",
            "smithy.api#length" : {
               "max" : 126,
               "min" : 0
            },
            "smithy.api#pattern" : "\\S"
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#ColumnNameList" : {
         "member" : {
            "target" : "com.amazonaws.finspacedata#ColumnName"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Column Names"
         },
         "type" : "list"
      },
      "com.amazonaws.finspacedata#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.finspacedata#ErrorMessage2"
            },
            "reason" : {
               "target" : "com.amazonaws.finspacedata#ErrorMessage2"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request conflicts with an existing resource.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreateChangeset" : {
         "errors" : [
            {
               "target" : "com.amazonaws.finspacedata#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ConflictException"
            },
            {
               "target" : "com.amazonaws.finspacedata#InternalServerException"
            },
            {
               "target" : "com.amazonaws.finspacedata#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.finspacedata#CreateChangesetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.finspacedata#CreateChangesetResponse"
         },
         "traits" : {
            "smithy.api#deprecated" : {
               "message" : "This method will be discontinued."
            },
            "smithy.api#documentation" : "<p>Creates a new Changeset in a FinSpace Dataset.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/datasets/{datasetId}/changesetsv2"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.finspacedata#CreateChangesetRequest" : {
         "members" : {
            "changeType" : {
               "target" : "com.amazonaws.finspacedata#ChangeType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The option to indicate how a Changeset will be applied to a Dataset.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>REPLACE</code> – Changeset will be considered as a replacement to all prior\n          loaded Changesets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APPEND</code> – Changeset will be considered as an addition to the end of all\n          prior loaded Changesets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MODIFY</code> – Changeset is considered as a replacement to a specific prior ingested Changeset.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.finspacedata#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "datasetId" : {
               "target" : "com.amazonaws.finspacedata#DatasetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the FinSpace Dataset where the Changeset will be created.\n    </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "formatParams" : {
               "target" : "com.amazonaws.finspacedata#FormatParams",
               "traits" : {
                  "smithy.api#documentation" : "<p>Options that define the structure of the source file(s) including the format type (<code>formatType</code>), header row (<code>withHeader</code>), data separation character (<code>separator</code>) and the type of compression (<code>compression</code>).\n    </p>\n         <p>\n            <code>formatType</code> is a required attribute and can have the following values:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>PARQUET</code> – Parquet source file format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CSV</code> – CSV source file format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>JSON</code> – JSON source file format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>XML</code> – XML source file format.</p>\n            </li>\n         </ul>\n         <p>Here is an example of how you could specify the <code>formatParams</code>:</p>\n         <p>\n            <code>\n          \"formatParams\": \n        {\n         \"formatType\": \"CSV\",\n         \"withHeader\": \"true\",\n         \"separator\": \",\",\n         \"compression\":\"None\"\n         } \n      </code>\n         </p>\n         <p>Note that if you only provide <code>formatType</code> as <code>CSV</code>, the rest of the attributes will automatically default to CSV values as following:</p>\n         <p>\n            <code>\n          {\n          \"withHeader\": \"true\",\n          \"separator\": \",\"\n           }\n        </code>\n         </p>\n         <p> For more information about supported file formats, see <a href=\"https://docs.aws.amazon.com/finspace/latest/userguide/supported-data-types.html\">Supported Data Types and File Formats</a> in the FinSpace User Guide.</p>",
                  "smithy.api#required" : {}
               }
            },
            "sourceParams" : {
               "target" : "com.amazonaws.finspacedata#SourceParams",
               "traits" : {
                  "smithy.api#documentation" : "<p>Options that define the location of the data being ingested (<code>s3SourcePath</code>) and the source of the changeset (<code>sourceType</code>).</p>\n         <p>Both <code>s3SourcePath</code> and <code>sourceType</code> are required attributes.</p>\n         <p>Here is an example of how you could specify the <code>sourceParams</code>:</p>\n         <p>\n            <code>\n        \"sourceParams\": \n        {\n        \"s3SourcePath\": \"s3://finspace-landing-us-east-2-bk7gcfvitndqa6ebnvys4d/scratch/wr5hh8pwkpqqkxa4sxrmcw/ingestion/equity.csv\",\n        \"sourceType\": \"S3\"\n        }\n      </code>\n         </p>\n         <p>The S3 path that you specify must allow the FinSpace role access. To do that, you first need to configure the IAM policy on S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/finspace/latest/data-api/fs-using-the-finspace-api.html#access-s3-buckets\">Loading data from an Amazon S3 Bucket using the FinSpace API</a> section.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "The request for a CreateChangeset operation.",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreateChangesetResponse" : {
         "members" : {
            "changesetId" : {
               "target" : "com.amazonaws.finspacedata#ChangesetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Changeset that is created.</p>"
               }
            },
            "datasetId" : {
               "target" : "com.amazonaws.finspacedata#DatasetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the FinSpace Dataset where the Changeset is created.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "The response from a CreateChangeset operation.",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreateDataView" : {
         "errors" : [
            {
               "target" : "com.amazonaws.finspacedata#ConflictException"
            },
            {
               "target" : "com.amazonaws.finspacedata#InternalServerException"
            },
            {
               "target" : "com.amazonaws.finspacedata#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.finspacedata#CreateDataViewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.finspacedata#CreateDataViewResponse"
         },
         "traits" : {
            "smithy.api#deprecated" : {
               "message" : "This method will be discontinued."
            },
            "smithy.api#documentation" : "<p>Creates a Dataview for a Dataset.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/datasets/{datasetId}/dataviewsv2"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.finspacedata#CreateDataViewRequest" : {
         "members" : {
            "asOfTimestamp" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>Beginning time to use for the Dataview. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
               }
            },
            "autoUpdate" : {
               "target" : "com.amazonaws.finspacedata#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Flag to indicate Dataview should be updated automatically.</p>"
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.finspacedata#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "datasetId" : {
               "target" : "com.amazonaws.finspacedata#DatasetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique Dataset identifier that is used to create a Dataview.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "destinationTypeParams" : {
               "target" : "com.amazonaws.finspacedata#DataViewDestinationTypeParams",
               "traits" : {
                  "smithy.api#documentation" : "<p>Options that define the destination type for the Dataview.</p>",
                  "smithy.api#required" : {}
               }
            },
            "partitionColumns" : {
               "target" : "com.amazonaws.finspacedata#PartitionColumnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Ordered set of column names used to partition data.</p>"
               }
            },
            "sortColumns" : {
               "target" : "com.amazonaws.finspacedata#SortColumnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Columns to be used for sorting the data.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Request for creating a data view.",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreateDataViewResponse" : {
         "members" : {
            "dataViewId" : {
               "target" : "com.amazonaws.finspacedata#DataViewId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the created Dataview.</p>"
               }
            },
            "datasetId" : {
               "target" : "com.amazonaws.finspacedata#DatasetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Dataset used for the Dataview.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Response for creating a data view.",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreateDataset" : {
         "errors" : [
            {
               "target" : "com.amazonaws.finspacedata#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ConflictException"
            },
            {
               "target" : "com.amazonaws.finspacedata#InternalServerException"
            },
            {
               "target" : "com.amazonaws.finspacedata#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.finspacedata#CreateDatasetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.finspacedata#CreateDatasetResponse"
         },
         "traits" : {
            "smithy.api#deprecated" : {
               "message" : "This method will be discontinued."
            },
            "smithy.api#documentation" : "<p>Creates a new FinSpace Dataset.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/datasetsv2"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.finspacedata#CreateDatasetRequest" : {
         "members" : {
            "alias" : {
               "target" : "com.amazonaws.finspacedata#AliasString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique resource identifier for a Dataset.</p>"
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.finspacedata#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "datasetDescription" : {
               "target" : "com.amazonaws.finspacedata#DatasetDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Description of a Dataset.</p>"
               }
            },
            "datasetTitle" : {
               "target" : "com.amazonaws.finspacedata#DatasetTitle",
               "traits" : {
                  "smithy.api#documentation" : "<p>Display title for a FinSpace Dataset.</p>",
                  "smithy.api#required" : {}
               }
            },
            "kind" : {
               "target" : "com.amazonaws.finspacedata#DatasetKind",
               "traits" : {
                  "smithy.api#documentation" : "<p>The format in which Dataset data is structured.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>TABULAR</code> – Data is structured in a tabular format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NON_TABULAR</code> – Data is structured in a non-tabular format.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "ownerInfo" : {
               "target" : "com.amazonaws.finspacedata#DatasetOwnerInfo",
               "traits" : {
                  "smithy.api#documentation" : "<p>Contact information for a Dataset owner.</p>"
               }
            },
            "permissionGroupParams" : {
               "target" : "com.amazonaws.finspacedata#PermissionGroupParams",
               "traits" : {
                  "smithy.api#documentation" : "<p>Permission group parameters for Dataset permissions.</p>",
                  "smithy.api#required" : {}
               }
            },
            "schemaDefinition" : {
               "target" : "com.amazonaws.finspacedata#SchemaUnion",
               "traits" : {
                  "smithy.api#documentation" : "<p>Definition for a schema on a tabular Dataset.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "The request for a CreateDataset operation",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreateDatasetResponse" : {
         "members" : {
            "datasetId" : {
               "target" : "com.amazonaws.finspacedata#DatasetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the created Dataset.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "The response from a CreateDataset operation",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreatePermissionGroup" : {
         "errors" : [
            {
               "target" : "com.amazonaws.finspacedata#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ConflictException"
            },
            {
               "target" : "com.amazonaws.finspacedata#InternalServerException"
            },
            {
               "target" : "com.amazonaws.finspacedata#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.finspacedata#CreatePermissionGroupRequest"
         },
         "output" : {
            "target" : "com.amazonaws.finspacedata#CreatePermissionGroupResponse"
         },
         "traits" : {
            "smithy.api#deprecated" : {
               "message" : "This method will be discontinued."
            },
            "smithy.api#documentation" : "<p>Creates a group of permissions for various actions that a user can perform in FinSpace.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/permission-group"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.finspacedata#CreatePermissionGroupRequest" : {
         "members" : {
            "applicationPermissions" : {
               "target" : "com.amazonaws.finspacedata#ApplicationPermissionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The option to indicate FinSpace application permissions that are granted to a specific group.</p>\n         <important>\n            <p>When assigning application permissions, be aware that the permission <code>ManageUsersAndGroups</code> allows users to grant themselves or others access to any functionality in their FinSpace environment's application. It should only be granted to trusted users.</p>\n         </important>\n         <ul>\n            <li>\n               <p>\n                  <code>CreateDataset</code> – Group members can create new datasets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ManageClusters</code> – Group members can manage Apache Spark clusters from FinSpace notebooks.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ManageUsersAndGroups</code> – Group members can manage users and permission groups. This is a privileged permission that allows users to grant themselves or others access to any functionality in the application. It should only be granted to trusted users.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ManageAttributeSets</code> – Group members can manage attribute sets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ViewAuditData</code> – Group members can view audit data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AccessNotebooks</code> – Group members will have access to FinSpace notebooks.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GetTemporaryCredentials</code> – Group members can get temporary API credentials.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.finspacedata#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "description" : {
               "target" : "com.amazonaws.finspacedata#PermissionGroupDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>A brief description for the permission group.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.finspacedata#PermissionGroupName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the permission group.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreatePermissionGroupResponse" : {
         "members" : {
            "permissionGroupId" : {
               "target" : "com.amazonaws.finspacedata#PermissionGroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the permission group.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreateUser" : {
         "errors" : [
            {
               "target" : "com.amazonaws.finspacedata#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ConflictException"
            },
            {
               "target" : "com.amazonaws.finspacedata#InternalServerException"
            },
            {
               "target" : "com.amazonaws.finspacedata#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.finspacedata#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.finspacedata#CreateUserRequest"
         },
         "output" : {
            "target" : "com.amazonaws.finspacedata#CreateUserResponse"
         },
         "traits" : {
            "smithy.api#deprecated" : {
               "message" : "This method will be discontinued."
            },
            "smithy.api#documentation" : "<p>Creates a new user in FinSpace.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/user"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.finspacedata#CreateUserRequest" : {
         "members" : {
            "apiAccess" : {
               "target" : "com.amazonaws.finspacedata#ApiAccess",
               "traits" : {
                  "smithy.api#documentation" : "<p>The option to indicate whether the user can use the <code>GetProgrammaticAccessCredentials</code> API to obtain credentials that can then be used to access other FinSpace Data API operations.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ENABLED</code> – The user has permissions to use the APIs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code> – The user does not have permissions to use any APIs.</p>\n            </li>\n         </ul>"
               }
            },
            "apiAccessPrincipalArn" : {
               "target" : "com.amazonaws.finspacedata#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN identifier of an AWS user or role that is allowed to call the <code>GetProgrammaticAccessCredentials</code> API to obtain a credentials token for a specific FinSpace user. This must be an IAM role within your FinSpace account.</p>"
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.finspacedata#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "emailAddress" : {
               "target" : "com.amazonaws.finspacedata#Email",
               "traits" : {
                  "smithy.api#documentation" : "<p>The email address of the user that you want to register. The email address serves as a uniquer identifier for each user and cannot be changed after it's created.</p>",
                  "smithy.api#required" : {}
               }
            },
            "firstName" : {
               "target" : "com.amazonaws.finspacedata#FirstName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The first name of the user that you want to register.</p>"
               }
            },
            "lastName" : {
               "target" : "com.amazonaws.finspacedata#LastName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last name of the user that you want to register.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.finspacedata#UserType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The option to indicate the type of user. Use one of the following options to specify this parameter:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUPER_USER</code> – A user with permission to all the functionality and data in FinSpace.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APP_USER</code> – A user with specific permissions in FinSpace. The users are assigned permissions by adding them to a permission group.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#CreateUserResponse" : {
         "members" : {
            "userId" : {
               "target" : "com.amazonaws.finspacedata#UserId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the user.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#Credentials" : {
         "members" : {
            "accessKeyId" : {
               "target" : "com.amazonaws.finspacedata#StringValueLength1to2552",
               "traits" : {
                  "smithy.api#documentation" : "<p>The access key identifier.</p>"
               }
            },
            "secretAccessKey" : {
               "target" : "com.amazonaws.finspacedata#stringValueMaxLength1000",
               "traits" : {
                  "smithy.api#documentation" : "<p>The access key.</p>"
               }
            },
            "sessionToken" : {
               "target" : "com.amazonaws.finspacedata#stringValueMaxLength1000",
               "traits" : {
                  "smithy.api#documentation" : "<p>The session token.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Short term API credentials.</p>",
            "smithy.api#sensitive" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#DataViewArn" : {
         "traits" : {
            "smithy.api#documentation" : "Arn of a DataView"
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#DataViewDestinationType" : {
         "traits" : {
            "smithy.api#documentation" : "DataView Destination Type"
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#DataViewDestinationTypeParams" : {
         "members" : {
            "destinationType" : {
               "target" : "com.amazonaws.finspacedata#DataViewDestinationType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Destination type for a Dataview.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>GLUE_TABLE</code> – Glue table destination type.</p>\n            </li>\n            <li>\n               <p>\n                  <code>S3</code> – S3 destination type.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            },
            "s3DestinationExportFileFormat" : {
               "target" : "com.amazonaws.finspacedata#ExportFileFormat",
               "traits" : {
                  "smithy.api#documentation" : "<p>Dataview export file format.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PARQUET</code> – Parquet export file format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELIMITED_TEXT</code> – Delimited text export file format.</p>\n            </li>\n         </ul>"
               }
            },
            "s3DestinationExportFileFormatOptions" : {
               "target" : "com.amazonaws.finspacedata#S3DestinationFormatOptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>Format Options for S3 Destination type.</p>\n         <p>Here is an example of how you could specify the <code>s3DestinationExportFileFormatOptions</code>\n         </p>\n         <p>\n            <code>\n        {\n        \"header\": \"true\",\n        \"delimiter\": \",\",\n        \"compression\": \"gzip\"\n        }</code>\n         </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Structure for the Dataview destination type parameters.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#DataViewErrorInfo" : {
         "members" : {
            "errorCategory" : {
               "target" : "com.amazonaws.finspacedata#ErrorCategory",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the error.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>VALIDATION</code> – The inputs to this request are invalid.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SERVICE_QUOTA_EXCEEDED</code> – Service quotas have been exceeded. Please\n          contact AWS support to increase quotas.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCESS_DENIED</code> – Missing required permission to perform this\n          request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RESOURCE_NOT_FOUND</code> – One or more inputs to this request were not\n          found.</p>\n            </li>\n            <li>\n               <p>\n                  <code>THROTTLING</code> – The system temporarily lacks sufficient resources to process\n          the request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INTERNAL_SERVICE_EXCEPTION</code> – An internal service error has\n          occurred.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> – Cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_RECOVERABLE</code> – A user recoverable error has occurred.</p>\n            </li>\n         </ul>"
               }
            },
            "errorMessage" : {
               "target" : "com.amazonaws.finspacedata#ErrorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>The text of the error message.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The structure with error messages.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#DataViewId" : {
         "traits" : {
            "smithy.api#documentation" : "DataView ID",
            "smithy.api#length" : {
               "max" : 26,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.finspacedata#DataViewList" : {
         "member" : {
            "target" : "com.amazonaws.finspacedata#DataViewSummary"
         },
         "traits" : {
            "smithy.api#documentation" : "List of Data Views"
         },
         "type" : "list"
      },
      "com.amazonaws.finspacedata#DataViewStatus" : {
         "members" : {
            "CANCELLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CANCELLED"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "FAILED_CLEANUP_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED_CLEANUP_FAILED"
               }
            },
            "PENDING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING"
               }
            },
            "RUNNING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RUNNING"
               }
            },
            "STARTING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STARTING"
               }
            },
            "SUCCESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SUCCESS"
               }
            },
            "TIMEOUT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TIMEOUT"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Status of a DataView"
         },
         "type" : "enum"
      },
      "com.amazonaws.finspacedata#DataViewSummary" : {
         "members" : {
            "asOfTimestamp" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>Time range to use for the Dataview. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
               }
            },
            "autoUpdate" : {
               "target" : "com.amazonaws.finspacedata#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>The flag to indicate Dataview should be updated automatically.</p>"
               }
            },
            "createTime" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The timestamp at which the Dataview was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
               }
            },
            "dataViewArn" : {
               "target" : "com.amazonaws.finspacedata#DataViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN identifier of the Dataview.</p>"
               }
            },
            "dataViewId" : {
               "target" : "com.amazonaws.finspacedata#DataViewId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the Dataview.</p>"
               }
            },
            "datasetId" : {
               "target" : "com.amazonaws.finspacedata#DatasetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Th unique identifier for the Dataview Dataset.</p>"
               }
            },
            "destinationTypeProperties" : {
               "target" : "com.amazonaws.finspacedata#DataViewDestinationTypeParams",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the Dataview destination.</p>"
               }
            },
            "errorInfo" : {
               "target" : "com.amazonaws.finspacedata#DataViewErrorInfo",
               "traits" : {
                  "smithy.api#documentation" : "<p>The structure with error messages.</p>"
               }
            },
            "lastModifiedTime" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The last time that a Dataview was modified. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
               }
            },
            "partitionColumns" : {
               "target" : "com.amazonaws.finspacedata#PartitionColumnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Ordered set of column names used to partition data.</p>"
               }
            },
            "sortColumns" : {
               "target" : "com.amazonaws.finspacedata#SortColumnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Columns to be used for sorting the data.</p>"
               }
            },
            "status" : {
               "target" : "com.amazonaws.finspacedata#DataViewStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of a Dataview creation.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>RUNNING</code> – Dataview creation is running.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STARTING</code> – Dataview creation is starting.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> – Dataview creation has failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> – Dataview creation has been cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TIMEOUT</code> – Dataview creation has timed out.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCESS</code> – Dataview creation has succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> – Dataview creation is pending.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED_CLEANUP_FAILED</code> – Dataview creation failed and resource cleanup failed.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Structure for the summary of a Dataview.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.finspacedata#Dataset" : {
         "members" : {
            "alias" : {
               "target" : "com.amazonaws.finspacedata#AliasString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique resource identifier for a Dataset.</p>"
               }
            },
            "createTime" : {
               "target" : "com.amazonaws.finspacedata#TimestampEpoch",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The timestamp at which the Dataset was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
               }
            },
            "datasetArn" : {
               "target" : "com.amazonaws.finspacedata#DatasetArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN identifier of the Dataset.</p>"
               }
            },
            "datasetDescription" : {
               "target" : "com.amazonaws.finspacedata#DatasetDescription",
               "traits" : {
[...]
