{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.kinesisvideosignaling#AWSAcuitySignalingService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.kinesisvideosignaling#GetIceServerConfig"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#SendAlexaOfferToMaster"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "kinesisvideo",
               "cloudFormationName" : "KinesisVideoSignaling",
               "cloudTrailEventSource" : "kinesisvideosignaling.amazonaws.com",
               "endpointPrefix" : "kinesisvideo",
               "sdkId" : "Kinesis Video Signaling"
            },
            "aws.auth#sigv4" : {
               "name" : "kinesisvideo"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Kinesis Video Streams Signaling Service is a intermediate service that establishes a\n            communication channel for discovering peers, transmitting offers and answers in order to\n            establish peer-to-peer connection in webRTC technology.</p>",
            "smithy.api#title" : "Amazon Kinesis Video Signaling Channels",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://kinesisvideo-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://kinesisvideo-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://kinesisvideo.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://kinesisvideo.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kinesisvideo.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2019-12-04"
      },
      "com.amazonaws.kinesisvideosignaling#Answer" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 10000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kinesisvideosignaling#ClientId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9_.-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.kinesisvideosignaling#ClientLimitExceededException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Your request was throttled because you have exceeded the limit of allowed client\n            calls. Try making the call later.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#ErrorMessage" : {
         "type" : "string"
      },
      "com.amazonaws.kinesisvideosignaling#GetIceServerConfig" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kinesisvideosignaling#ClientLimitExceededException"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#InvalidArgumentException"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#InvalidClientException"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#NotAuthorizedException"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#SessionExpiredException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kinesisvideosignaling#GetIceServerConfigRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kinesisvideosignaling#GetIceServerConfigResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets the Interactive Connectivity Establishment (ICE) server configuration\n            information, including URIs, username, and password which can be used to configure the\n            WebRTC connection. The ICE component uses this configuration information to setup the\n            WebRTC connection, including authenticating with the Traversal Using Relays around NAT\n            (TURN) relay server. </p>\n        <p>TURN is a protocol that is used to improve the connectivity of peer-to-peer\n            applications. By providing a cloud-based relay service, TURN ensures that a connection\n            can be established even when one or more peers are incapable of a direct peer-to-peer\n            connection. For more information, see <a href=\"https://tools.ietf.org/html/draft-uberti-rtcweb-turn-rest-00\">A REST API For\n                Access To TURN Services</a>.</p>\n        <p> You can invoke this API to establish a fallback mechanism in case either of the peers\n            is unable to establish a direct peer-to-peer connection over a signaling channel. You\n            must specify either a signaling channel ARN or the client ID in order to invoke this\n            API.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/v1/get-ice-server-config"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.kinesisvideosignaling#GetIceServerConfigRequest" : {
         "members" : {
            "ChannelARN" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ResourceARN",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The ARN of the signaling channel to be used for the peer-to-peer connection between\n            configured peers. </p>",
                  "smithy.api#required" : {}
               }
            },
            "ClientId" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ClientId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier for the viewer. Must be unique within the signaling channel.</p>"
               }
            },
            "Service" : {
               "target" : "com.amazonaws.kinesisvideosignaling#Service",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the desired service. Currently, <code>TURN</code> is the only valid\n            value.</p>"
               }
            },
            "Username" : {
               "target" : "com.amazonaws.kinesisvideosignaling#Username",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional user ID to be associated with the credentials.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#GetIceServerConfigResponse" : {
         "members" : {
            "IceServerList" : {
               "target" : "com.amazonaws.kinesisvideosignaling#IceServerList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of ICE server information objects.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#IceServer" : {
         "members" : {
            "Password" : {
               "target" : "com.amazonaws.kinesisvideosignaling#Password",
               "traits" : {
                  "smithy.api#documentation" : "<p>A password to login to the ICE server.</p>"
               }
            },
            "Ttl" : {
               "target" : "com.amazonaws.kinesisvideosignaling#Ttl",
               "traits" : {
                  "smithy.api#documentation" : "<p>The period of time, in seconds, during which the username and password are\n            valid.</p>"
               }
            },
            "Uris" : {
               "target" : "com.amazonaws.kinesisvideosignaling#Uris",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of URIs, in the form specified in the <a href=\"https://tools.ietf.org/html/draft-petithuguenin-behave-turn-uris-03\">I-D.petithuguenin-behave-turn-uris</a> spec. These URIs provide the different\n            addresses and/or protocols that can be used to reach the TURN server.</p>"
               }
            },
            "Username" : {
               "target" : "com.amazonaws.kinesisvideosignaling#Username",
               "traits" : {
                  "smithy.api#documentation" : "<p>A username to login to the ICE server.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A structure for the ICE server connection data.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#IceServerList" : {
         "member" : {
            "target" : "com.amazonaws.kinesisvideosignaling#IceServer"
         },
         "type" : "list"
      },
      "com.amazonaws.kinesisvideosignaling#InvalidArgumentException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The value for this input parameter is invalid.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#InvalidClientException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The specified client is invalid.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#MessagePayload" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 10000,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9+/=]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.kinesisvideosignaling#NotAuthorizedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The caller is not authorized to perform this operation.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 401
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#Password" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9_.-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.kinesisvideosignaling#ResourceARN" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.kinesisvideosignaling#ResourceNotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The specified resource is not found.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#SendAlexaOfferToMaster" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kinesisvideosignaling#ClientLimitExceededException"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#InvalidArgumentException"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#NotAuthorizedException"
            },
            {
               "target" : "com.amazonaws.kinesisvideosignaling#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kinesisvideosignaling#SendAlexaOfferToMasterRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kinesisvideosignaling#SendAlexaOfferToMasterResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This API allows you to connect WebRTC-enabled devices with Alexa display devices. When\n            invoked, it sends the Alexa Session Description Protocol (SDP) offer to the master peer.\n            The offer is delivered as soon as the master is connected to the specified signaling\n            channel. This API returns the SDP answer from the connected master. If the master is not\n            connected to the signaling channel, redelivery requests are made until the message\n            expires.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/v1/send-alexa-offer-to-master"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.kinesisvideosignaling#SendAlexaOfferToMasterRequest" : {
         "members" : {
            "ChannelARN" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ResourceARN",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The ARN of the signaling channel by which Alexa and the master peer\n            communicate.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MessagePayload" : {
               "target" : "com.amazonaws.kinesisvideosignaling#MessagePayload",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The base64-encoded SDP offer content.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SenderClientId" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ClientId",
               "traits" : {
                  "smithy.api#clientOptional" : {},
                  "smithy.api#documentation" : "<p>The unique identifier for the sender client.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#SendAlexaOfferToMasterResponse" : {
         "members" : {
            "Answer" : {
               "target" : "com.amazonaws.kinesisvideosignaling#Answer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The base64-encoded SDP answer content.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#Service" : {
         "members" : {
            "TURN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TURN"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.kinesisvideosignaling#SessionExpiredException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.kinesisvideosignaling#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>If the client session is expired. Once the client is connected, the session is valid\n            for 45 minutes. Client should reconnect to the channel to continue sending/receiving\n            messages.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.kinesisvideosignaling#Ttl" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 86400,
               "min" : 30
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.kinesisvideosignaling#Uri" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kinesisvideosignaling#Uris" : {
         "member" : {
            "target" : "com.amazonaws.kinesisvideosignaling#Uri"
         },
         "type" : "list"
      },
      "com.amazonaws.kinesisvideosignaling#Username" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9_.-]+$"
         },
         "type" : "string"
      }
   },
   "smithy" : "2.0"
}
