{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "RuleSetAwsBuiltIn.AWS::Auth::AccountIdEndpointMode",
            "namespace" : "*"
         },
         {
            "id" : "RuleSetAwsBuiltIn.AWS::Auth::AccountId",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.eventbridgev2#AWSEventsV2" : {
         "errors" : [
            {
               "target" : "com.amazonaws.eventbridgev2#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#InternalException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#ThrottlingException"
            }
         ],
         "operations" : [
            {
               "target" : "com.amazonaws.eventbridgev2#CreateEventBus"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#CreateEventSource"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#CreateSubscriber"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#DeleteEventBus"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#DeleteEventSource"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#DeleteResourcePolicy"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#DeleteSubscriber"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#DescribeEventBus"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#DescribeEventSource"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#DescribeSubscriber"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#GetResourcePolicy"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#ListEventBuses"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#ListEventSources"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#ListResourcePolicies"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#ListSubscribers"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#PutEvents"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#PutRawEvents"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#PutResourcePolicy"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#RevokeResource"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#TagResource"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#UntagResource"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#UpdateEventBus"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#UpdateEventSource"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#UpdateSubscriber"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "events",
               "endpointPrefix" : "eventsv2",
               "sdkId" : "EventBridgeV2"
            },
            "aws.auth#sigv4" : {
               "name" : "events"
            },
            "smithy.api#documentation" : "Amazon EventBridge event bus API. An event bus receives events published by\nyour applications and AWS services, stores them for a configurable retention\nperiod, and delivers them to subscribers. A subscriber filters events,\noptionally transforms them, and invokes a target such as Lambda, SQS, SNS,\nKinesis, Step Functions, or an HTTP endpoint. The API manages event buses,\nsubscribers, event sources, resource policies, and tags, and publishes\nevents through PutEvents and PutRawEvents.",
            "smithy.api#title" : "Amazon EventBridgeV2",
            "smithy.api#xmlNamespace" : {
               "uri" : "http://eventsv2.amazonaws.com/doc/2025-05-15"
            },
            "smithy.protocols#rpcv2Cbor" : {},
            "smithy.rules#endpointBdd" : {
               "conditions" : [
                  {
                     "argv" : [
                        {
                           "ref" : "Endpoint"
                        }
                     ],
                     "fn" : "isSet"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "Region"
                        }
                     ],
                     "assign" : "PartitionResult",
                     "fn" : "aws.partition"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "AccountIdEndpointMode"
                        }
                     ],
                     "fn" : "isSet"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "AccountIdEndpointMode"
                        },
                        "disabled"
                     ],
                     "fn" : "stringEquals"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "EventBusArn"
                        }
                     ],
                     "fn" : "isSet"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "EventBusArn"
                        }
                     ],
                     "assign" : "ParsedBusArn",
                     "fn" : "aws.parseArn"
                  },
                  {
                     "argv" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "ParsedBusArn"
                              },
                              "service"
                           ],
                           "fn" : "getAttr"
                        },
                        "events"
                     ],
                     "fn" : "stringEquals"
                  },
                  {
                     "argv" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "ParsedBusArn"
                              },
                              "accountId"
                           ],
                           "fn" : "getAttr"
                        },
                        false
                     ],
                     "fn" : "isValidHostLabel"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "AccountId"
                        }
                     ],
                     "fn" : "isSet"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "AccountIdEndpointMode"
                        },
                        "required"
                     ],
                     "fn" : "stringEquals"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "AccountId"
                        },
                        false
                     ],
                     "fn" : "isValidHostLabel"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "UseFIPS"
                        },
                        true
                     ],
                     "fn" : "booleanEquals"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "UseDualStack"
                        },
                        true
                     ],
                     "fn" : "booleanEquals"
                  },
                  {
                     "argv" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "PartitionResult"
                              },
                              "supportsDualStack"
                           ],
                           "fn" : "getAttr"
                        },
                        true
                     ],
                     "fn" : "booleanEquals"
                  },
                  {
                     "argv" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "PartitionResult"
                              },
                              "supportsFIPS"
                           ],
                           "fn" : "getAttr"
                        },
                        true
                     ],
                     "fn" : "booleanEquals"
                  }
               ],
               "nodeCount" : 35,
               "nodes" : "/////wAAAAH/////AAAAAAAAACIAAAADAAAAAQAAAAQF9eEAAAAAAgAAAAUAAAAbAAAAAwAAABoAAAAGAAAABAAAAAcAAAAKAAAABQAAAAgAAAAKAAAABgAAAAkAAAAKAAAABwAAABMAAAAKAAAACAAAAAsAAAAaAAAACgAAAAwF9eEPAAAACwAAAA8AAAANAAAADAAAAA4F9eEOAAAADQX14Q0F9eEJAAAADAAAABEAAAAQAAAADgX14QwF9eEHAAAADQAAABIF9eEFAAAADgX14QsF9eEFAAAACwAAABYAAAAUAAAADAAAABUF9eEKAAAADQX14QgF9eEJAAAADAAAABgAAAAXAAAADgX14QYF9eEHAAAADQAAABkF9eEFAAAADgX14QQF9eEFAAAACQX14RAAAAAbAAAACwAAAB4AAAAcAAAADAAAAB0F9eEUAAAADQX14RMF9eEJAAAADAAAACAAAAAfAAAADgX14RIF9eEHAAAADQAAACEF9eEFAAAADgX14REF9eEFAAAACwX14QEAAAAjAAAADAX14QIF9eED",
               "parameters" : {
                  "AccountId" : {
                     "builtIn" : "AWS::Auth::AccountId",
                     "documentation" : "The AWS account ID used for the request, sourced from the caller's credentials.",
                     "required" : false,
                     "type" : "string"
                  },
                  "AccountIdEndpointMode" : {
                     "builtIn" : "AWS::Auth::AccountIdEndpointMode",
                     "documentation" : "The behavior for account ID based endpoint routing: preferred, disabled, or required.",
                     "required" : false,
                     "type" : "string"
                  },
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "EventBusArn" : {
                     "documentation" : "The bus ARN from the request, bound via @contextParam. Its account is the bus owner and takes precedence over the credentials-sourced account for cell routing (cross-account calls).",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : true,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "results" : [
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {},
                        "url" : {
                           "ref" : "Endpoint"
                        }
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "metricValues" : [
                              "O"
                           ]
                        },
                        "url" : "https://{ParsedBusArn#accountId}.eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "metricValues" : [
                              "O"
                           ]
                        },
                        "url" : "https://{ParsedBusArn#accountId}.eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "error" : "FIPS is enabled but this partition does not support FIPS",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "metricValues" : [
                              "O"
                           ]
                        },
                        "url" : "https://{ParsedBusArn#accountId}.eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "error" : "DualStack is enabled but this partition does not support DualStack",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "metricValues" : [
                              "O"
                           ]
                        },
                        "url" : "https://{ParsedBusArn#accountId}.eventsv2.{Region}.{PartitionResult#dnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "metricValues" : [
                              "O"
                           ]
                        },
                        "url" : "https://{AccountId}.eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "metricValues" : [
                              "O"
                           ]
                        },
                        "url" : "https://{AccountId}.eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "metricValues" : [
                              "O"
                           ]
                        },
                        "url" : "https://{AccountId}.eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "metricValues" : [
                              "O"
                           ]
                        },
                        "url" : "https://{AccountId}.eventsv2.{Region}.{PartitionResult#dnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "error" : "Credentials-sourced account ID parameter is invalid",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "error" : "AccountIdEndpointMode is required but no AccountID was provided or able to be loaded",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {},
                        "url" : "https://eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {},
                        "url" : "https://eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {},
                        "url" : "https://eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {},
                        "url" : "https://eventsv2.{Region}.{PartitionResult#dnsSuffix}"
                     },
                     "type" : "endpoint"
                  }
               ],
               "root" : 2,
               "version" : "1.1"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "AccountId" : {
                     "builtIn" : "AWS::Auth::AccountId",
                     "documentation" : "The AWS account ID used for the request, sourced from the caller's credentials.",
                     "type" : "String"
                  },
                  "AccountIdEndpointMode" : {
                     "builtIn" : "AWS::Auth::AccountIdEndpointMode",
                     "documentation" : "The behavior for account ID based endpoint routing: preferred, disabled, or required.",
                     "type" : "String"
                  },
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request.",
                     "type" : "String"
                  },
                  "EventBusArn" : {
                     "documentation" : "The bus ARN from the request, bound via @contextParam. Its account is the bus owner and takes precedence over the credentials-sourced account for cell routing (cross-account calls).",
                     "type" : "String"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : true,
                     "type" : "String"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint.",
                     "required" : true,
                     "type" : "Boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint.",
                     "required" : true,
                     "type" : "Boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "documentation" : "An explicit endpoint override always wins; FIPS/DualStack cannot be combined with it.",
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "assign" : "PartitionResult",
                           "fn" : "aws.partition"
                        }
                     ],
                     "documentation" : "Resolve against the partition of the configured region.",
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "AccountIdEndpointMode"
                                    }
                                 ],
                                 "fn" : "isSet"
                              },
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "AccountIdEndpointMode"
                                          },
                                          "disabled"
                                       ],
                                       "fn" : "stringEquals"
                                    }
                                 ],
                                 "fn" : "not"
                              },
                              {
                                 "argv" : [
                                    {
                                       "ref" : "EventBusArn"
                                    }
                                 ],
                                 "fn" : "isSet"
                              },
                              {
                                 "argv" : [
                                    {
                                       "ref" : "EventBusArn"
                                    }
                                 ],
                                 "assign" : "ParsedBusArn",
                                 "fn" : "aws.parseArn"
                              },
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "ParsedBusArn"
                                          },
                                          "service"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    "events"
                                 ],
                                 "fn" : "stringEquals"
                              },
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "ParsedBusArn"
                                          },
                                          "accountId"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    false
                                 ],
                                 "fn" : "isValidHostLabel"
                              }
                           ],
                           "documentation" : "Bus-owner account endpoint derived from the request's bus ARN (cross-account safe). Falls through to the credentials-sourced rule if the ARN does not parse or its account is not a valid host label. FIPS/DualStack partition support is validated per variant.",
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "properties" : {
                                             "metricValues" : [
                                                "O"
                                             ]
                                          },
                                          "url" : "https://{ParsedBusArn#accountId}.eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "properties" : {
                                             "metricValues" : [
                                                "O"
                                             ]
                                          },
                                          "url" : "https://{ParsedBusArn#accountId}.eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "properties" : {
                                             "metricValues" : [
                                                "O"
                                             ]
                                          },
                                          "url" : "https://{ParsedBusArn#accountId}.eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "properties" : {
                                       "metricValues" : [
                                          "O"
                                       ]
                                    },
                                    "url" : "https://{ParsedBusArn#accountId}.eventsv2.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "AccountIdEndpointMode"
                                    }
                                 ],
                                 "fn" : "isSet"
                              },
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "AccountIdEndpointMode"
                                          },
                                          "disabled"
                                       ],
                                       "fn" : "stringEquals"
                                    }
                                 ],
                                 "fn" : "not"
                              },
                              {
                                 "argv" : [
                                    {
                                       "ref" : "AccountId"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "documentation" : "Account-based endpoint when routing is enabled and a credentials-sourced account ID is present. FIPS/DualStack partition support is validated per variant.",
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "AccountId"
                                          },
                                          false
                                       ],
                                       "fn" : "isValidHostLabel"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "properties" : {
                                                   "metricValues" : [
                                                      "O"
                                                   ]
                                                },
                                                "url" : "https://{AccountId}.eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "properties" : {
                                                   "metricValues" : [
                                                      "O"
                                                   ]
                                                },
                                                "url" : "https://{AccountId}.eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "properties" : {
                                                   "metricValues" : [
                                                      "O"
                                                   ]
                                                },
                                                "url" : "https://{AccountId}.eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "properties" : {
                                             "metricValues" : [
                                                "O"
                                             ]
                                          },
                                          "url" : "https://{AccountId}.eventsv2.{Region}.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "error" : "Credentials-sourced account ID parameter is invalid",
                                 "type" : "error"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "AccountIdEndpointMode"
                                    }
                                 ],
                                 "fn" : "isSet"
                              },
                              {
                                 "argv" : [
                                    {
                                       "ref" : "AccountIdEndpointMode"
                                    },
                                    "required"
                                 ],
                                 "fn" : "stringEquals"
                              }
                           ],
                           "documentation" : "Required mode could not produce an account-based endpoint: no account ID from the bus ARN or credentials. (An invalid credentials-sourced ID errors in the rule above.)",
                           "error" : "AccountIdEndpointMode is required but no AccountID was provided or able to be loaded",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "documentation" : "Regional endpoint fallback with FIPS/DualStack variants, validating partition support.",
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "url" : "https://eventsv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "url" : "https://eventsv2-fips.{Region}.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "url" : "https://eventsv2.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "url" : "https://eventsv2.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "Bus ARN account takes precedence over the credentials-sourced account (cross-account call).",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://210987654321.eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Bus ARN routing works without a credentials-sourced account ID.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://210987654321.eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Disabled mode ignores the bus ARN and the credentials-sourced account.",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "disabled",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "An unparseable bus ARN falls through to the credentials-sourced account.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "not-an-arn",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "FIPS account-based endpoint from the bus ARN.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://210987654321.eventsv2-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "DualStack account-based endpoint from the bus ARN.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://210987654321.eventsv2.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1",
                        "UseDualStack" : true
                     }
                  },
                  {
                     "documentation" : "FIPS + DualStack account-based endpoint from the bus ARN.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://210987654321.eventsv2-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "FIPS account-based endpoint from the credentials-sourced account.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "FIPS + DualStack account-based endpoint from the credentials-sourced account.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Explicit endpoint override wins over account-based routing.",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "FIPS cannot be combined with an endpoint override.",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "DualStack cannot be combined with an endpoint override.",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true
                     }
                  },
                  {
                     "documentation" : "Account-based endpoint when mode is preferred and account ID is available.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Regional endpoint when mode is disabled.",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "disabled",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Regional FIPS endpoint when mode is disabled.",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://eventsv2-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "disabled",
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Regional DualStack endpoint when mode is disabled.",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://eventsv2.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "disabled",
                        "Region" : "us-east-1",
                        "UseDualStack" : true
                     }
                  },
                  {
                     "documentation" : "Regional FIPS + DualStack endpoint when mode is disabled.",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://eventsv2-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "disabled",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Regional endpoint when no account ID is available and mode is preferred.",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://eventsv2.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "eu-west-1"
                     }
                  },
                  {
                     "documentation" : "Error when mode is required but no account ID is available.",
                     "expect" : {
                        "error" : "AccountIdEndpointMode is required but no AccountID was provided or able to be loaded"
                     },
                     "params" : {
                        "AccountIdEndpointMode" : "required",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Account-based endpoint in the aws-cn partition when mode is required (account routing works in every partition).",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "required",
                        "Region" : "cn-north-1"
                     }
                  },
                  {
                     "documentation" : "Error when the credentials-sourced account ID is not a valid host label.",
                     "expect" : {
                        "error" : "Credentials-sourced account ID parameter is invalid"
                     },
                     "params" : {
                        "AccountId" : "not/valid",
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Regional endpoint when AccountIdEndpointMode is not set at all, even with an account ID and bus ARN available. The explicit empty properties pin that regional endpoints carry no adoption metric.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {},
                           "url" : "https://eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Account-based endpoint in the aws-us-gov partition when mode is preferred (account routing works in every partition).",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "us-gov-west-1"
                     }
                  },
                  {
                     "documentation" : "Account-based FIPS endpoint in the aws-us-gov partition when mode is required.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "required",
                        "Region" : "us-gov-west-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Account-based endpoint in the aws-iso partition when mode is preferred, composing the iso DNS suffix.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "us-iso-east-1"
                     }
                  },
                  {
                     "documentation" : "DualStack account-based endpoint in the aws-iso partition, composing the iso dualstack DNS suffix.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.us-iso-east-1.api.aws.ic.gov"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : true
                     }
                  },
                  {
                     "documentation" : "A parseable bus ARN whose account is not a valid host label falls through to the credentials-sourced account.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "arn:aws:events:us-east-1:not_a_valid_label!:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "A bus ARN for another service falls through to the credentials-sourced account.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "arn:aws:sqs:us-east-1:210987654321:some-queue",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Cross-region bus ARN: the ARN account routes within the CLIENT region (cells are per-account per-region).",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://210987654321.eventsv2.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountIdEndpointMode" : "preferred",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-west-2"
                     }
                  },
                  {
                     "documentation" : "Required mode succeeds through the bus ARN account.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://210987654321.eventsv2.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "AccountIdEndpointMode" : "required",
                        "EventBusArn" : "arn:aws:events:us-east-1:210987654321:event-busv2/owner-bus/abcdefghij0123456789abcde",
                        "Region" : "us-east-1"
                     }
                  },
                  {
                     "documentation" : "Account-based endpoint in the aws-cn partition when mode is preferred, composing the cn DNS suffix.",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "metricValues" : [
                                 "O"
                              ]
                           },
                           "url" : "https://123456789012.eventsv2.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "AccountId" : "123456789012",
                        "AccountIdEndpointMode" : "preferred",
                        "Region" : "cn-north-1"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2025-05-15"
      },
      "com.amazonaws.eventbridgev2#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "smithy.api#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "The caller does not have the permissions required to perform the operation.\nThis error is also returned when the operation cannot use the AWS KMS key for\nthe event bus.",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.eventbridgev2#AccountId" : {
         "traits" : {
            "smithy.api#documentation" : "AWS Account Id.",
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^\\d{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.eventbridgev2#AwsServiceEventsSourceConfiguration" : {
         "members" : {
            "AwsService" : {
               "target" : "com.amazonaws.eventbridgev2#AwsServiceSource",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "OnFailureConfiguration" : {
               "target" : "com.amazonaws.eventbridgev2#OnFailureConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "The destination for events that could not be forwarded."
               }
            },
            "Pattern" : {
               "target" : "com.amazonaws.eventbridgev2#EventPattern",
               "traits" : {
                  "smithy.api#documentation" : "A filter pattern, as a JSON string, that defines which of the service's events are\nforwarded to the event bus. Do not include source, account, or region as top-level\nfields. If no pattern is specified, all events from the service are forwarded.",
                  "smithy.api#length" : {
                     "max" : 3753,
                     "min" : 0
                  }
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Configuration for forwarding a single AWS service's events from the account's default event bus."
         },
         "type" : "structure"
      },
      "com.amazonaws.eventbridgev2#AwsServiceSource" : {
         "traits" : {
            "smithy.api#documentation" : "A single AWS service source identifier, e.g. \"aws.s3\". Wildcards and lists are rejected.",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^aws\\.[a-z0-9\\-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.eventbridgev2#BatchConfiguration" : {
         "members" : {
            "MaxBatchSize" : {
               "target" : "com.amazonaws.eventbridgev2#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "The maximum number of events to include in a single batch delivered to the target.\nThe service delivers up to this many events per batch; fewer may be delivered when\nthe batch window elapses or the target's per-batch limit is smaller. This is a\nmaximum, not a guaranteed count. Valid range is 1-500 (default: 10, or the\ntarget API's per-batch maximum). The resolved value applied by the service is returned on read.",
                  "smithy.api#range" : {
                     "max" : 500,
                     "min" : 1
                  }
               }
            },
            "MaxBatchWindowInSeconds" : {
               "target" : "com.amazonaws.eventbridgev2#NullableInteger",
               "traits" : {
                  "smithy.api#documentation" : "The maximum time in seconds to wait for a batch to fill before delivering it to\nthe target. This is a maximum; a batch may be delivered sooner if it reaches\nMaxBatchSize or another delivery condition is met. Valid range is 0-300\n(default: 0, meaning no wait). The resolved value applied by the service is\nalways returned on read.",
                  "smithy.api#range" : {
                     "max" : 300,
                     "min" : 0
                  }
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Batching configuration for a subscriber."
         },
         "type" : "structure"
      },
      "com.amazonaws.eventbridgev2#BusState" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "CREATE_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATE_FAILED"
               }
            },
            "CREATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "DELETE_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETE_FAILED"
               }
            },
            "DELETING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETING"
               }
            },
            "UPDATE_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UPDATE_FAILED"
               }
            },
            "UPDATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UPDATING"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Lifecycle state of an event bus.\n- CREATING: Bus creation is in progress.\n- CREATE_FAILED: Bus creation failed; see StateReason. The bus cannot be recovered or\n  recreated in place: delete it with DeleteEventBus, then create a new bus.\n- ACTIVE: Bus is fully operational and can accept events.\n- UPDATING: Bus update is in progress.\n- UPDATE_FAILED: Bus update failed; the bus remains operational with its previous configuration.\n- DELETING: Bus deletion is actively in progress.\n- DELETE_FAILED: Bus deletion failed; see StateReason. Retry DeleteEventBus after removing\n  subscribers and event sources."
         },
         "type" : "enum"
      },
      "com.amazonaws.eventbridgev2#ClientToken" : {
         "traits" : {
            "smithy.api#documentation" : "Unique, case-sensitive identifier that ensures the idempotency of the\nrequest. The SDK generates one automatically when the field is omitted.",
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\u0021-\\u007E]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.eventbridgev2#ConcurrentModificationException" : {
         "members" : {
            "Message" : {
               "target" : "smithy.api#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Another change to the resource is already in progress. Retry the request.",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409,
            "smithy.api#retryable" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.eventbridgev2#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "smithy.api#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "A client-supplied precondition (e.g. ExpectedRevisionId on a resource-policy\nwrite) did not match the current state of the resource. Retrying the same\nrequest will fail again; re-read the resource and re-evaluate before retrying.\n\nA conditional request is not retry-safe on its own. If an earlier attempt\ncommitted but its response never reached the caller, retrying fails with this\nerror, which is indistinguishable from another writer having won. Compare the\nresource's current contents with what the request intended: a successful\nattempt stores a revision ID the caller never saw, so the revision alone\ncannot tell the two apart, but matching contents mean the change took effect.",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.eventbridgev2#ConfluentPublicRegistryConfiguration" : {
         "members" : {
            "ConnectionArn" : {
               "target" : "com.amazonaws.eventbridgev2#ConnectionArn",
               "traits" : {
                  "smithy.api#documentation" : "EventBridge Connection ARN that provides API Key or OAuth credentials for the registry.",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Authentication configuration for public Confluent Schema Registry via EventBridge Connection."
         },
         "type" : "structure"
      },
      "com.amazonaws.eventbridgev2#ConnectionArn" : {
         "traits" : {
            "smithy.api#documentation" : "EventBridge Connection ARN.",
            "smithy.api#length" : {
               "max" : 1600,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(-[a-z0-9]+)*:events:[a-z0-9-]+:\\d{12}:connection/.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.eventbridgev2#ContentType" : {
         "traits" : {
            "smithy.api#documentation" : "Content type of the event data.",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^application/"
         },
         "type" : "string"
      },
      "com.amazonaws.eventbridgev2#CreateEventBus" : {
         "errors" : [
            {
               "target" : "com.amazonaws.eventbridgev2#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#IdempotentParameterMismatchException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#InvalidStateException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#ResourceAlreadyExistsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.eventbridgev2#CreateEventBusRequest"
         },
         "output" : {
            "target" : "com.amazonaws.eventbridgev2#CreateEventBusResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Creates an event bus. Provisioning is asynchronous: the bus is returned in the\nCREATING state and transitions to ACTIVE when ready (see the EventBusActive\nwaiter). Retries carrying the same ClientToken are idempotent."
         },
         "type" : "operation"
      },
      "com.amazonaws.eventbridgev2#CreateEventBusRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.eventbridgev2#ClientToken",
               "traits" : {
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "Description" : {
               "target" : "com.amazonaws.eventbridgev2#Description"
            },
            "EncryptionConfiguration" : {
               "target" : "com.amazonaws.eventbridgev2#EncryptionConfiguration"
            },
            "Name" : {
               "target" : "com.amazonaws.eventbridgev2#EventBusName",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "StorageConfiguration" : {
               "target" : "com.amazonaws.eventbridgev2#StorageConfiguration"
            },
            "Tags" : {
               "target" : "com.amazonaws.eventbridgev2#TagMap"
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.eventbridgev2#CreateEventBusResponse" : {
         "members" : {
            "CreationTime" : {
               "target" : "com.amazonaws.eventbridgev2#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "The time the event bus was created."
               }
            },
            "Description" : {
               "target" : "com.amazonaws.eventbridgev2#Description"
            },
            "EncryptionConfiguration" : {
               "target" : "com.amazonaws.eventbridgev2#EncryptionConfiguration"
            },
            "EventBusArn" : {
               "target" : "com.amazonaws.eventbridgev2#EventBusArn"
            },
            "Name" : {
               "target" : "com.amazonaws.eventbridgev2#EventBusName"
            },
            "State" : {
               "target" : "com.amazonaws.eventbridgev2#BusState"
            },
            "StateReason" : {
               "target" : "com.amazonaws.eventbridgev2#StateReason"
            },
            "StorageConfiguration" : {
               "target" : "com.amazonaws.eventbridgev2#StorageConfigurationOutput"
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.eventbridgev2#CreateEventSource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.eventbridgev2#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#IdempotentParameterMismatchException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#InvalidStateException"
            },
            {
               "target" : "com.amazonaws.eventbridgev2#LimitExceededException"
[...]
