{
   "shapes" : {
      "com.amazonaws.connectcases#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#AmazonConnectCases" : {
         "operations" : [
            {
               "target" : "com.amazonaws.connectcases#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.connectcases#TagResource"
            },
            {
               "target" : "com.amazonaws.connectcases#UntagResource"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.connectcases#Case"
            },
            {
               "target" : "com.amazonaws.connectcases#CaseRule"
            },
            {
               "target" : "com.amazonaws.connectcases#Domain"
            },
            {
               "target" : "com.amazonaws.connectcases#Field"
            },
            {
               "target" : "com.amazonaws.connectcases#Layout"
            },
            {
               "target" : "com.amazonaws.connectcases#Template"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "cases",
               "cloudTrailEventSource" : "event-source-placeholder",
               "endpointPrefix" : "cases",
               "sdkId" : "ConnectCases"
            },
            "aws.auth#sigv4" : {
               "name" : "cases"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#cors" : {
               "additionalAllowedHeaders" : [
                  "*",
                  "Authorization",
                  "Date",
                  "X-Amz-Date",
                  "X-Amz-Security-Token",
                  "X-Amz-Target",
                  "content-type",
                  "x-amz-content-sha256",
                  "x-amz-user-agent",
                  "x-amzn-platform-id",
                  "x-amzn-trace-id"
               ]
            },
            "smithy.api#documentation" : "<ul> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Operations_Amazon_Connect_Cases.html\">Cases actions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Types_Amazon_Connect_Cases.html\">Cases data types</a> </p> </li> </ul> <p>With Amazon Connect Cases, your agents can track and manage customer issues that require multiple interactions, follow-up tasks, and teams in your contact center. A case represents a customer issue. It records the issue, the steps and interactions taken to resolve the issue, and the outcome. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/cases.html\">Amazon Connect Cases</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
            "smithy.api#title" : "Amazon Connect Cases",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://cases-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://cases-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://cases.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cases.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cases.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2022-10-03"
      },
      "com.amazonaws.connectcases#Arn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#AssociationTime" : {
         "traits" : {
            "smithy.api#timestampFormat" : "date-time"
         },
         "type" : "timestamp"
      },
      "com.amazonaws.connectcases#AuditEvent" : {
         "members" : {
            "eventId" : {
               "target" : "com.amazonaws.connectcases#AuditEventId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier of a case audit history event.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fields" : {
               "target" : "com.amazonaws.connectcases#AuditEventFieldList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of Case Audit History event fields.</p>",
                  "smithy.api#required" : {}
               }
            },
            "performedBy" : {
               "target" : "com.amazonaws.connectcases#AuditEventPerformedBy",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information of the user which performed the audit.</p>"
               }
            },
            "performedTime" : {
               "target" : "com.amazonaws.connectcases#AuditEventDateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>Time at which an Audit History event took place.</p>",
                  "smithy.api#required" : {}
               }
            },
            "relatedItemType" : {
               "target" : "com.amazonaws.connectcases#RelatedItemType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Type of the related item.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.connectcases#AuditEventType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of audit history event.</p> <p>Valid Values: <code>Case.Created</code> | <code>Case.Updated</code> | <code>RelatedItem.Created</code> | <code>RelatedItem.Updated</code> | <code>RelatedItem.Deleted</code> </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the content of a particular audit event.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#AuditEventDateTime" : {
         "traits" : {
            "smithy.api#timestampFormat" : "date-time"
         },
         "type" : "timestamp"
      },
      "com.amazonaws.connectcases#AuditEventField" : {
         "members" : {
            "eventFieldId" : {
               "target" : "com.amazonaws.connectcases#AuditEventFieldId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier of field in an Audit History entry.</p>",
                  "smithy.api#required" : {}
               }
            },
            "newValue" : {
               "target" : "com.amazonaws.connectcases#AuditEventFieldValueUnion",
               "traits" : {
                  "smithy.api#documentation" : "<p>Union of potential field value types.</p>",
                  "smithy.api#required" : {}
               }
            },
            "oldValue" : {
               "target" : "com.amazonaws.connectcases#AuditEventFieldValueUnion",
               "traits" : {
                  "smithy.api#documentation" : "<p>Union of potential field value types.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Fields for audit event.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#AuditEventFieldId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#AuditEventFieldList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#AuditEventField"
         },
         "traits" : {
            "smithy.api#sparse" : {}
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#AuditEventFieldValueUnion" : {
         "members" : {
            "booleanValue" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Can be either null, or have a Boolean value type. Only one value can be provided.</p>"
               }
            },
            "doubleValue" : {
               "target" : "smithy.api#Double",
               "traits" : {
                  "smithy.api#documentation" : "<p>Can be either null, or have a Double value type. Only one value can be provided.</p>"
               }
            },
            "emptyValue" : {
               "target" : "com.amazonaws.connectcases#EmptyFieldValue"
            },
            "stringValue" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Can be either null, or have a String value type. Only one value can be provided.</p>",
                  "smithy.api#length" : {
                     "max" : 4100
                  }
               }
            },
            "userArnValue" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Can be either null, or have a String value type formatted as an ARN. Only one value can be provided.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object to store union of Field values.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.connectcases#AuditEventId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#AuditEventPerformedBy" : {
         "members" : {
            "iamPrincipalArn" : {
               "target" : "com.amazonaws.connectcases#IamPrincipalArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier of an IAM role.</p>",
                  "smithy.api#required" : {}
               }
            },
            "user" : {
               "target" : "com.amazonaws.connectcases#UserUnion"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information of the user which performed the audit.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#AuditEventType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "CASE_CREATED",
                  "value" : "Case.Created"
               },
               {
                  "name" : "CASE_UPDATED",
                  "value" : "Case.Updated"
               },
               {
                  "name" : "RELATED_ITEM_CREATED",
                  "value" : "RelatedItem.Created"
               },
               {
                  "name" : "RELATED_ITEM_DELETED",
                  "value" : "RelatedItem.Deleted"
               },
               {
                  "name" : "RELATED_ITEM_UPDATED",
                  "value" : "RelatedItem.Updated"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#AuditEventsList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#AuditEvent"
         },
         "traits" : {
            "smithy.api#sparse" : {}
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#BasicLayout" : {
         "members" : {
            "moreInfo" : {
               "target" : "com.amazonaws.connectcases#LayoutSections",
               "traits" : {
                  "smithy.api#documentation" : "<p>This represents sections in a tab of the page layout.</p>"
               }
            },
            "topPanel" : {
               "target" : "com.amazonaws.connectcases#LayoutSections",
               "traits" : {
                  "smithy.api#documentation" : "<p>This represents sections in a panel of the page layout.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Content specific to <code>BasicLayout</code> type. It configures fields in the top panel and More Info tab of agent application. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#BatchGetCaseRule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#BatchGetCaseRuleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectcases#BatchGetCaseRuleResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets a batch of case rules. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/domains/{domainId}/rules-batch"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.connectcases#BatchGetCaseRuleErrorList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#CaseRuleError"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#BatchGetCaseRuleList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#GetCaseRuleResponse"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#BatchGetCaseRuleRequest" : {
         "members" : {
            "caseRules" : {
               "target" : "com.amazonaws.connectcases#CaseRuleIdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of case rule identifiers.</p>",
                  "smithy.api#required" : {}
               }
            },
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier of a Cases domain.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#BatchGetCaseRuleResponse" : {
         "members" : {
            "caseRules" : {
               "target" : "com.amazonaws.connectcases#BatchGetCaseRuleList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of detailed case rule information.</p>",
                  "smithy.api#length" : {
                     "max" : 50
                  },
                  "smithy.api#required" : {}
               }
            },
            "errors" : {
               "target" : "com.amazonaws.connectcases#BatchGetCaseRuleErrorList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of case rule errors.</p>",
                  "smithy.api#length" : {
                     "max" : 50
                  },
                  "smithy.api#required" : {}
               }
            },
            "unprocessedCaseRules" : {
               "target" : "com.amazonaws.connectcases#BatchGetCaseRuleUnprocessedList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of unprocessed case rule identifiers.</p>",
                  "smithy.api#length" : {
                     "max" : 50
                  }
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#BatchGetCaseRuleUnprocessedList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#CaseRuleId"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#BatchGetField" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#BatchGetFieldRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectcases#BatchGetFieldResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the description for the list of fields in the request parameters. </p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/domains/{domainId}/fields-batch"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.connectcases#BatchGetFieldErrorList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#FieldError"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#BatchGetFieldIdentifierList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#FieldIdentifier"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#BatchGetFieldList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#GetFieldResponse"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#BatchGetFieldRequest" : {
         "members" : {
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Cases domain. </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "fields" : {
               "target" : "com.amazonaws.connectcases#BatchGetFieldIdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of unique field identifiers. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#BatchGetFieldResponse" : {
         "members" : {
            "errors" : {
               "target" : "com.amazonaws.connectcases#BatchGetFieldErrorList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of field errors. </p>",
                  "smithy.api#length" : {
                     "max" : 50
                  },
                  "smithy.api#required" : {}
               }
            },
            "fields" : {
               "target" : "com.amazonaws.connectcases#BatchGetFieldList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of detailed field information. </p>",
                  "smithy.api#length" : {
                     "max" : 50
                  },
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#BatchPutFieldOptions" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectcases#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#BatchPutFieldOptionsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectcases#BatchPutFieldOptionsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates and updates a set of field options for a single select field in a Cases domain.</p>",
            "smithy.api#http" : {
               "method" : "PUT",
               "uri" : "/domains/{domainId}/fields/{fieldId}/options"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.connectcases#BatchPutFieldOptionsRequest" : {
         "members" : {
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Cases domain. </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "fieldId" : {
               "target" : "com.amazonaws.connectcases#FieldId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of a field.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "options" : {
               "target" : "com.amazonaws.connectcases#FieldOptionsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>FieldOption</code> objects.</p>",
                  "smithy.api#length" : {
                     "max" : 50
                  },
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#BatchPutFieldOptionsResponse" : {
         "members" : {
            "errors" : {
               "target" : "com.amazonaws.connectcases#FieldOptionErrorList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of field errors. </p>",
                  "smithy.api#length" : {
                     "max" : 50
                  }
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#BooleanCondition" : {
         "members" : {
            "andAll" : {
               "target" : "com.amazonaws.connectcases#CompoundCondition",
               "traits" : {
                  "smithy.api#documentation" : "<p>Combines multiple conditions with AND operator. All conditions must be true for the compound condition to be true.</p>"
               }
            },
            "equalTo" : {
               "target" : "com.amazonaws.connectcases#BooleanOperands",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tests that operandOne is equal to operandTwo.</p>"
               }
            },
            "notEqualTo" : {
               "target" : "com.amazonaws.connectcases#BooleanOperands",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tests that operandOne is not equal to operandTwo.</p>"
               }
            },
            "orAll" : {
               "target" : "com.amazonaws.connectcases#CompoundCondition",
               "traits" : {
                  "smithy.api#documentation" : "<p>Combines multiple conditions with OR operator. At least one condition must be true for the compound condition to be true.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Boolean condition for a rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.connectcases#BooleanConditionList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#BooleanCondition"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100
            }
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#BooleanOperands" : {
         "members" : {
            "operandOne" : {
               "target" : "com.amazonaws.connectcases#OperandOne",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the left hand operand in the condition.</p>",
                  "smithy.api#required" : {}
               }
            },
            "operandTwo" : {
               "target" : "com.amazonaws.connectcases#OperandTwo",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the right hand operand in the condition.</p>",
                  "smithy.api#required" : {}
               }
            },
            "result" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value of the outer rule if the condition evaluates to true.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Boolean operands for a condition. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#Case" : {
         "collectionOperations" : [
            {
               "target" : "com.amazonaws.connectcases#ListCasesForContact"
            },
            {
               "target" : "com.amazonaws.connectcases#SearchCases"
            }
         ],
         "create" : {
            "target" : "com.amazonaws.connectcases#CreateCase"
         },
         "delete" : {
            "target" : "com.amazonaws.connectcases#DeleteCase"
         },
         "identifiers" : {
            "caseId" : {
               "target" : "com.amazonaws.connectcases#CaseId"
            },
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId"
            }
         },
         "operations" : [
            {
               "target" : "com.amazonaws.connectcases#GetCaseAuditEvents"
            }
         ],
         "read" : {
            "target" : "com.amazonaws.connectcases#GetCase"
         },
         "resources" : [
            {
               "target" : "com.amazonaws.connectcases#RelatedItem"
            }
         ],
         "traits" : {
            "aws.api#arn" : {
               "template" : "domain/{domainId}/case/{caseId}"
            }
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.connectcases#UpdateCase"
         }
      },
      "com.amazonaws.connectcases#CaseArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#CaseEventIncludedData" : {
         "members" : {
            "fields" : {
               "target" : "com.amazonaws.connectcases#FieldIdentifierList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of field identifiers.</p>",
                  "smithy.api#length" : {
                     "max" : 400
                  },
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Details of what case data is published through the case event stream.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CaseFilter" : {
         "members" : {
            "andAll" : {
               "target" : "com.amazonaws.connectcases#CaseFilterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides \"and all\" filtering.</p>",
                  "smithy.api#length" : {
                     "max" : 10
                  }
               }
            },
            "field" : {
               "target" : "com.amazonaws.connectcases#FieldFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of fields to filter on.</p>"
               }
            },
            "not" : {
               "target" : "com.amazonaws.connectcases#CaseFilter"
            },
            "orAll" : {
               "target" : "com.amazonaws.connectcases#CaseFilterList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides \"or all\" filtering.</p>",
                  "smithy.api#length" : {
                     "max" : 10
                  }
               }
            },
            "tag" : {
               "target" : "com.amazonaws.connectcases#TagFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of tags to filter on.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A filter for cases. Only one value can be provided.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.connectcases#CaseFilterList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#CaseFilter"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#CaseId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#CaseRule" : {
         "collectionOperations" : [
            {
               "target" : "com.amazonaws.connectcases#BatchGetCaseRule"
            }
         ],
         "create" : {
            "target" : "com.amazonaws.connectcases#CreateCaseRule"
         },
         "delete" : {
            "target" : "com.amazonaws.connectcases#DeleteCaseRule"
         },
         "identifiers" : {
            "caseRuleId" : {
               "target" : "com.amazonaws.connectcases#CaseRuleId"
            },
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId"
            }
         },
         "list" : {
            "target" : "com.amazonaws.connectcases#ListCaseRules"
         },
         "traits" : {
            "aws.api#arn" : {
               "template" : "domain/{domainId}/case-rule/{caseRuleId}"
            }
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.connectcases#UpdateCaseRule"
         }
      },
      "com.amazonaws.connectcases#CaseRuleArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#CaseRuleDescription" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#CaseRuleDetails" : {
         "members" : {
            "fieldOptions" : {
               "target" : "com.amazonaws.connectcases#FieldOptionsCaseRule",
               "traits" : {
                  "smithy.api#documentation" : "<p>Which options are available in a child field based on the selected value in a parent field.</p>"
               }
            },
            "hidden" : {
               "target" : "com.amazonaws.connectcases#HiddenCaseRule",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether a field is visible, based on values in other fields.</p>"
               }
            },
            "required" : {
               "target" : "com.amazonaws.connectcases#RequiredCaseRule",
               "traits" : {
                  "smithy.api#documentation" : "<p>Required rule type, used to indicate whether a field is required.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents what rule type should take place, under what conditions. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.connectcases#CaseRuleError" : {
         "members" : {
            "errorCode" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Error code from getting a case rule.</p>",
                  "smithy.api#required" : {}
               }
            },
            "id" : {
               "target" : "com.amazonaws.connectcases#CaseRuleId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The case rule identifier that caused the error.</p>",
                  "smithy.api#required" : {}
               }
            },
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Error message from getting a case rule.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Error for batch describe case rules API failure. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CaseRuleId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#CaseRuleIdentifier" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.connectcases#CaseRuleId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier of a case rule.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object containing case rule identifier information.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CaseRuleIdentifierList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#CaseRuleIdentifier"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#CaseRuleName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            },
            "smithy.api#pattern" : "^.*[\\S]$"
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#CaseRuleSummary" : {
         "members" : {
            "caseRuleArn" : {
               "target" : "com.amazonaws.connectcases#CaseRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the case rule. </p>",
                  "smithy.api#required" : {}
               }
            },
            "caseRuleId" : {
               "target" : "com.amazonaws.connectcases#CaseRuleId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier of a case rule.</p>",
                  "smithy.api#required" : {}
               }
            },
            "description" : {
               "target" : "com.amazonaws.connectcases#CaseRuleDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Description of a case rule.</p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.connectcases#CaseRuleName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Name of the case rule.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ruleType" : {
               "target" : "com.amazonaws.connectcases#RuleType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Possible types for a rule.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary information of this case rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CaseRuleSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#CaseRuleSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#CaseSummary" : {
         "members" : {
            "caseId" : {
               "target" : "com.amazonaws.connectcases#CaseId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of the case.</p>",
                  "smithy.api#required" : {}
               }
            },
            "templateId" : {
               "target" : "com.amazonaws.connectcases#TemplateId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of a template.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Case summary information.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CaseSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#CaseSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#Channel" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#ChannelList" : {
         "member" : {
            "target" : "com.amazonaws.connectcases#Channel"
         },
         "type" : "list"
      },
      "com.amazonaws.connectcases#CommentBody" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 15000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#CommentBodyTextType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "PLAINTEXT",
                  "value" : "Text/Plain"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#CommentContent" : {
         "members" : {
            "body" : {
               "target" : "com.amazonaws.connectcases#CommentBody",
               "traits" : {
                  "smithy.api#documentation" : "<p>Text in the body of a <code>Comment</code> on a case.</p>",
                  "smithy.api#required" : {}
               }
            },
            "contentType" : {
               "target" : "com.amazonaws.connectcases#CommentBodyTextType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of the text in the box of a <code>Comment</code> on a case.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the content of a <code>Comment</code> to be returned to agents.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CommentFilter" : {
         "members" : {},
         "traits" : {
            "smithy.api#documentation" : "<p>A filter for related items of type <code>Comment</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CommentUpdateContent" : {
         "members" : {
            "body" : {
               "target" : "com.amazonaws.connectcases#CommentBody",
               "traits" : {
                  "smithy.api#documentation" : "<p>Updated text in the body of a <code>Comment</code> on a case.</p>",
                  "smithy.api#required" : {}
               }
            },
            "contentType" : {
               "target" : "com.amazonaws.connectcases#CommentBodyTextType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of the text in the box of a <code>Comment</code> on a case.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the updated content of a <code>Comment</code> related item.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CompoundCondition" : {
         "members" : {
            "conditions" : {
               "target" : "com.amazonaws.connectcases#BooleanConditionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of conditions to combine using the logical operator.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A compound condition that combines multiple boolean conditions using logical operators. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#ConnectCaseContent" : {
         "members" : {
            "caseId" : {
               "target" : "com.amazonaws.connectcases#CaseId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of the case.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the content of a <code>ConnectCase</code> type related item.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#ConnectCaseFilter" : {
         "members" : {
            "caseId" : {
               "target" : "com.amazonaws.connectcases#CaseId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of the case.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A filter for related items of type <code>ConnectCase</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#ConnectCaseInputContent" : {
         "members" : {
            "caseId" : {
               "target" : "com.amazonaws.connectcases#CaseId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of the case.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the content of a <code>ConnectCase</code> related item.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#ConnectedToSystemTime" : {
         "traits" : {
            "smithy.api#timestampFormat" : "date-time"
         },
         "type" : "timestamp"
      },
      "com.amazonaws.connectcases#Contact" : {
         "members" : {
            "contactArn" : {
               "target" : "com.amazonaws.connectcases#ContactArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of a contact in Amazon Connect.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents an Amazon Connect contact object. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#ContactArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectcases#ContactContent" : {
         "members" : {
            "channel" : {
               "target" : "com.amazonaws.connectcases#Channel",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of channels to filter on for related items of type <code>Contact</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "connectedToSystemTime" : {
               "target" : "com.amazonaws.connectcases#ConnectedToSystemTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The difference between the <code>InitiationTimestamp</code> and the <code>DisconnectTimestamp</code> of the contact.</p>",
                  "smithy.api#required" : {}
               }
            },
            "contactArn" : {
               "target" : "com.amazonaws.connectcases#ContactArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of a contact in Amazon Connect.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that represents a content of an Amazon Connect contact object.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#ContactFilter" : {
         "members" : {
            "channel" : {
               "target" : "com.amazonaws.connectcases#ChannelList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of channels to filter on for related items of type <code>Contact</code>.</p>",
                  "smithy.api#length" : {
                     "max" : 3
                  }
               }
            },
            "contactArn" : {
               "target" : "com.amazonaws.connectcases#ContactArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of a contact in Amazon Connect.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A filter for related items of type <code>Contact</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateCase" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#ConflictException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#CreateCaseRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectcases#CreateCaseResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<note> <p>If you provide a value for <code>PerformedBy.UserArn</code> you must also have <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribeUser.html\">connect:DescribeUser</a> permission on the User ARN resource that you provide</p> </note> <p>Creates a case in the specified Cases domain. Case system and custom fields are taken as an array id/value pairs with a declared data types.</p> <p>When creating a case from a template that has tag propagation configurations, the specified tags are automatically applied to the case.</p> <p>The following fields are required when creating a case:</p> <ul> <li> <p> <code>customer_id</code> - You must provide the full customer profile ARN in this format: <code>arn:aws:profile:your_AWS_Region:your_AWS_account ID:domains/your_profiles_domain_name/profiles/profile_ID</code> </p> </li> <li> <p> <code>title</code> </p> </li> </ul>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/domains/{domainId}/cases"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.connectcases#CreateCaseRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If not provided, the Amazon Web Services SDK populates this field. For more information about idempotency, see <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#length" : {
                     "max" : 64
                  }
               }
            },
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Cases domain. </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "fields" : {
               "target" : "com.amazonaws.connectcases#FieldValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of objects with field ID (matching ListFields/DescribeField) and value union data.</p>",
                  "smithy.api#length" : {
                     "max" : 220
                  },
                  "smithy.api#required" : {}
               }
            },
            "performedBy" : {
               "target" : "com.amazonaws.connectcases#UserUnion"
            },
            "tags" : {
               "target" : "com.amazonaws.connectcases#MutableTags",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map of of key-value pairs that represent tags on a resource. Tags are used to organize, track, or control access for this resource.</p>"
               }
            },
            "templateId" : {
               "target" : "com.amazonaws.connectcases#TemplateId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of a template.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateCaseResponse" : {
         "members" : {
            "caseArn" : {
               "target" : "com.amazonaws.connectcases#CaseArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the case.</p>",
                  "smithy.api#required" : {}
               }
            },
            "caseId" : {
               "target" : "com.amazonaws.connectcases#CaseId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier of the case.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateCaseRule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#ConflictException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectcases#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#CreateCaseRuleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectcases#CreateCaseRuleResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new case rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/domains/{domainId}/case-rules"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.connectcases#CreateCaseRuleRequest" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.connectcases#CaseRuleDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of a case rule.</p>"
               }
            },
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier of a Cases domain.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "name" : {
               "target" : "com.amazonaws.connectcases#CaseRuleName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Name of the case rule.</p>",
                  "smithy.api#required" : {}
               }
            },
            "rule" : {
               "target" : "com.amazonaws.connectcases#CaseRuleDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents what rule type should take place, under what conditions.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateCaseRuleResponse" : {
         "members" : {
            "caseRuleArn" : {
               "target" : "com.amazonaws.connectcases#CaseRuleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of a case rule.</p>",
                  "smithy.api#required" : {}
               }
            },
            "caseRuleId" : {
               "target" : "com.amazonaws.connectcases#CaseRuleId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier of a case rule.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateDomain" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#ConflictException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#CreateDomainRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectcases#CreateDomainResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a domain, which is a container for all case data, such as cases, fields, templates and layouts. Each Amazon Connect instance can be associated with only one Cases domain.</p> <important> <p>This will not associate your connect instance to Cases domain. Instead, use the Amazon Connect <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_CreateIntegrationAssociation.html\">CreateIntegrationAssociation</a> API. You need specific IAM permissions to successfully associate the Cases domain. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/required-permissions-iam-cases.html#onboard-cases-iam\">Onboard to Cases</a>.</p> </important>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/domains"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.connectcases#CreateDomainRequest" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.connectcases#DomainName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name for your Cases domain. It must be unique for your Amazon Web Services account.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateDomainResponse" : {
         "members" : {
            "domainArn" : {
               "target" : "com.amazonaws.connectcases#DomainArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for the Cases domain.</p>",
                  "smithy.api#required" : {}
               }
            },
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Cases domain. </p>",
                  "smithy.api#required" : {}
               }
            },
            "domainStatus" : {
               "target" : "com.amazonaws.connectcases#DomainStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the domain.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateField" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#ConflictException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectcases#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#CreateFieldRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectcases#CreateFieldResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a field in the Cases domain. This field is used to define the case object model (that is, defines what data can be captured on cases) in a Cases domain. </p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/domains/{domainId}/fields"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.connectcases#CreateFieldRequest" : {
         "members" : {
            "attributes" : {
               "target" : "com.amazonaws.connectcases#FieldAttributes",
               "traits" : {
                  "smithy.api#documentation" : "<p>Union of field attributes.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.connectcases#FieldDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the field.</p>"
               }
            },
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Cases domain. </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "name" : {
               "target" : "com.amazonaws.connectcases#FieldName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the field.</p>",
                  "smithy.api#required" : {}
               }
            },
            "type" : {
               "target" : "com.amazonaws.connectcases#FieldType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the data type, some system constraints, and default display of the field.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateFieldResponse" : {
         "members" : {
            "fieldArn" : {
               "target" : "com.amazonaws.connectcases#FieldArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the field.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fieldId" : {
               "target" : "com.amazonaws.connectcases#FieldId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of a field.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateLayout" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#ConflictException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectcases#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#CreateLayoutRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectcases#CreateLayoutResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a layout in the Cases domain. Layouts define the following configuration in the top section and More Info tab of the Cases user interface:</p> <ul> <li> <p>Fields to display to the users</p> </li> <li> <p>Field ordering</p> </li> </ul> <note> <p>Title and Status fields cannot be part of layouts since they are not configurable.</p> </note>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/domains/{domainId}/layouts"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectcases#CreateLayoutRequest" : {
         "members" : {
            "content" : {
               "target" : "com.amazonaws.connectcases#LayoutContent",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about which fields will be present in the layout, and information about the order of the fields.</p>",
                  "smithy.api#required" : {}
               }
            },
            "domainId" : {
               "target" : "com.amazonaws.connectcases#DomainId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Cases domain. </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "name" : {
               "target" : "com.amazonaws.connectcases#LayoutName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the layout. It must be unique for the Cases domain.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateLayoutResponse" : {
         "members" : {
            "layoutArn" : {
               "target" : "com.amazonaws.connectcases#LayoutArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the newly created layout.</p>",
                  "smithy.api#required" : {}
               }
            },
            "layoutId" : {
               "target" : "com.amazonaws.connectcases#LayoutId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the layout.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.connectcases#CreateRelatedItem" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectcases#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectcases#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectcases#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectcases#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.connectcases#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectcases#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectcases#CreateRelatedItemRequest"
         },
         "output" : {
[...]
