{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.translate#AWSShineFrontendService_20170701" : {
         "operations" : [
            {
               "target" : "com.amazonaws.translate#CreateParallelData"
            },
            {
               "target" : "com.amazonaws.translate#DeleteParallelData"
            },
            {
               "target" : "com.amazonaws.translate#DeleteTerminology"
            },
            {
               "target" : "com.amazonaws.translate#DescribeTextTranslationJob"
            },
            {
               "target" : "com.amazonaws.translate#GetParallelData"
            },
            {
               "target" : "com.amazonaws.translate#GetTerminology"
            },
            {
               "target" : "com.amazonaws.translate#ImportTerminology"
            },
            {
               "target" : "com.amazonaws.translate#ListLanguages"
            },
            {
               "target" : "com.amazonaws.translate#ListParallelData"
            },
            {
               "target" : "com.amazonaws.translate#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.translate#ListTerminologies"
            },
            {
               "target" : "com.amazonaws.translate#ListTextTranslationJobs"
            },
            {
               "target" : "com.amazonaws.translate#StartTextTranslationJob"
            },
            {
               "target" : "com.amazonaws.translate#StopTextTranslationJob"
            },
            {
               "target" : "com.amazonaws.translate#TagResource"
            },
            {
               "target" : "com.amazonaws.translate#TranslateDocument"
            },
            {
               "target" : "com.amazonaws.translate#TranslateText"
            },
            {
               "target" : "com.amazonaws.translate#UntagResource"
            },
            {
               "target" : "com.amazonaws.translate#UpdateParallelData"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "translate",
               "cloudFormationName" : "Translate",
               "cloudTrailEventSource" : "translate.amazonaws.com",
               "endpointPrefix" : "translate",
               "sdkId" : "Translate"
            },
            "aws.auth#sigv4" : {
               "name" : "translate"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>Provides translation of the input content from the source language to the target language.</p>",
            "smithy.api#title" : "Amazon Translate",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://translate-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://translate-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://translate.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://translate.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://translate.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2017-07-01"
      },
      "com.amazonaws.translate#AppliedTerminology" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated\n      text response.</p>"
               }
            },
            "Terms" : {
               "target" : "com.amazonaws.translate#TermList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the\n      translated text response. A maximum of 250 terms will be returned, and the specific terms\n      applied will be the first 250 terms in the source text. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The custom terminology applied to the input text by Amazon Translate for the translated text\n      response. This is optional in the response and will only be present if you specified\n      terminology input in the request. Currently, only one terminology can be applied per\n      TranslateText request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#AppliedTerminologyList" : {
         "member" : {
            "target" : "com.amazonaws.translate#AppliedTerminology"
         },
         "type" : "list"
      },
      "com.amazonaws.translate#BoundedLengthString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 10000,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\P{M}\\p{M}]{1,10000}$"
         },
         "type" : "string"
      },
      "com.amazonaws.translate#Brevity" : {
         "members" : {
            "ON" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ON"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.translate#ClientTokenString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.translate#ConcurrentModificationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.translate#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Another modification is being made. That modification must complete before you can make\n      your change.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.translate#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>There was a conflict processing the request. Try your request again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ContentType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^[-\\w.]+\\/[-\\w.+]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.translate#CreateParallelData" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.translate#ConflictException"
            },
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.translate#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyTagsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#CreateParallelDataRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#CreateParallelDataResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a parallel data resource in Amazon Translate by importing an input file from\n      Amazon S3. Parallel data files contain examples that show how you want segments of text to be\n      translated. By adding parallel data, you can influence the style, tone, and word choice in\n      your translation output.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#CreateParallelDataRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.translate#ClientTokenString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the request. This token is automatically generated when you use\n      Amazon Translate through an AWS SDK.</p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "Description" : {
               "target" : "com.amazonaws.translate#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>A custom description for the parallel data resource in Amazon Translate.</p>"
               }
            },
            "EncryptionKey" : {
               "target" : "com.amazonaws.translate#EncryptionKey"
            },
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name\n      that is unique in the account and region.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ParallelDataConfig" : {
               "target" : "com.amazonaws.translate#ParallelDataConfig",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifies the format and S3 location of the parallel data input file.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.translate#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags to be associated with this resource. A tag is a key-value pair that\n      adds metadata to a resource. Each tag key for the resource must be unique.\n      For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/tagging.html\">\n        Tagging your resources</a>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#CreateParallelDataResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The custom name that you assigned to the parallel data resource.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.translate#ParallelDataStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the parallel data resource. When the resource is ready for you to use, the\n      status is <code>ACTIVE</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#DeleteParallelData" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#DeleteParallelDataRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#DeleteParallelDataResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a parallel data resource in Amazon Translate.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#DeleteParallelDataRequest" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the parallel data resource that is being deleted.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#DeleteParallelDataResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the parallel data resource that is being deleted.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.translate#ParallelDataStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the parallel data deletion.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#DeleteTerminology" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#DeleteTerminologyRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A synchronous action that deletes a custom terminology.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#DeleteTerminologyRequest" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the custom terminology being deleted. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#DescribeTextTranslationJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#DescribeTextTranslationJobRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#DescribeTextTranslationJobResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets the properties associated with an asynchronous batch translation job including name,\n      ID, status, source and target languages, input/output S3 buckets, and so on.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#DescribeTextTranslationJobRequest" : {
         "members" : {
            "JobId" : {
               "target" : "com.amazonaws.translate#JobId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier that Amazon Translate generated for the job. The <a>StartTextTranslationJob</a> operation returns this identifier in its\n      response.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#DescribeTextTranslationJobResponse" : {
         "members" : {
            "TextTranslationJobProperties" : {
               "target" : "com.amazonaws.translate#TextTranslationJobProperties",
               "traits" : {
                  "smithy.api#documentation" : "<p>An object that contains the properties associated with an asynchronous batch translation\n      job.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#Description" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^[\\P{M}\\p{M}]{0,256}$"
         },
         "type" : "string"
      },
      "com.amazonaws.translate#DetectedLanguageLowConfidenceException" : {
         "members" : {
            "DetectedLanguageCode" : {
               "target" : "com.amazonaws.translate#LanguageCodeString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The language code of the auto-detected language from Amazon Comprehend.</p>"
               }
            },
            "Message" : {
               "target" : "com.amazonaws.translate#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The confidence that Amazon Comprehend accurately detected the source language is low. If a\n      low confidence level is acceptable for your application, you can use the language in the\n      exception to call Amazon Translate again. For more information, see the <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/API_DetectDominantLanguage.html\">DetectDominantLanguage</a> operation in the <i>Amazon Comprehend Developer\n        Guide</i>. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#Directionality" : {
         "members" : {
            "MULTI" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MULTI"
               }
            },
            "UNI" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNI"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.translate#DisplayLanguageCode" : {
         "members" : {
            "DE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "de"
               }
            },
            "EN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "en"
               }
            },
            "ES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "es"
               }
            },
            "FR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "fr"
               }
            },
            "IT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "it"
               }
            },
            "JA" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ja"
               }
            },
            "KO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ko"
               }
            },
            "PT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "pt"
               }
            },
            "ZH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "zh"
               }
            },
            "ZH_TW" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "zh-TW"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.translate#Document" : {
         "members" : {
            "Content" : {
               "target" : "com.amazonaws.translate#DocumentContent",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>Content</code>field type is Binary large object (blob).\n      This object contains the document content converted into base64-encoded binary data.   \n      If you use one of the AWS SDKs, the SDK performs the\n      Base64-encoding on this field before sending the request.   \n    </p>",
                  "smithy.api#required" : {}
               }
            },
            "ContentType" : {
               "target" : "com.amazonaws.translate#ContentType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the format of the document. You can specify one of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>text/html</code> - The input data consists of HTML content. \n        Amazon Translate translates only the text in the HTML element.</p>\n            </li>\n            <li>\n               <p>\n                  <code>text/plain</code> - The input data consists of unformatted text. \n        Amazon Translate translates every character in the content. </p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.openxmlformats-officedocument.wordprocessingml.document</code> - The \n          input data consists of a Word document (.docx).</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The content and content type of a document.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#DocumentContent" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 102400,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "blob"
      },
      "com.amazonaws.translate#EncryptionKey" : {
         "members" : {
            "Id" : {
               "target" : "com.amazonaws.translate#EncryptionKeyID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt this object.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Type" : {
               "target" : "com.amazonaws.translate#EncryptionKeyType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of encryption key used by Amazon Translate to encrypt this object.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The encryption key used to encrypt this object.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#EncryptionKeyID" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 400,
               "min" : 1
            },
            "smithy.api#pattern" : "^(arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:kms:)?([a-z]{2}-[a-z]+(-[a-z]+)?-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))$"
         },
         "type" : "string"
      },
      "com.amazonaws.translate#EncryptionKeyType" : {
         "members" : {
            "KMS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "KMS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.translate#Formality" : {
         "members" : {
            "FORMAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FORMAL"
               }
            },
            "INFORMAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INFORMAL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.translate#GetParallelData" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#GetParallelDataRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#GetParallelDataResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides information about a parallel data resource.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#GetParallelDataRequest" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the parallel data resource that is being retrieved.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#GetParallelDataResponse" : {
         "members" : {
            "AuxiliaryDataLocation" : {
               "target" : "com.amazonaws.translate#ParallelDataDataLocation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced\n      by your input file. This file was created when Amazon Translate attempted to create a parallel\n      data resource. The location is returned as a presigned URL to that has a 30-minute\n      expiration.</p>"
               }
            },
            "DataLocation" : {
               "target" : "com.amazonaws.translate#ParallelDataDataLocation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon S3 location of the most recent parallel data input file that was successfully\n      imported into Amazon Translate. The location is returned as a presigned URL that has a\n      30-minute expiration.</p>\n    \n         <important>\n            <p>Amazon Translate doesn't scan all input files for the risk of CSV injection\n        attacks. </p>\n            <p>CSV injection occurs when a .csv or .tsv file is altered so that a record contains\n        malicious code. The record begins with a special character, such as =, +, -, or @. When the\n        file is opened in a spreadsheet program, the program might interpret the record as a formula\n        and run the code within it.</p>\n            <p>Before you download an input file from Amazon S3, ensure that you recognize the file and trust its creator.</p>\n         </important>"
               }
            },
            "LatestUpdateAttemptAuxiliaryDataLocation" : {
               "target" : "com.amazonaws.translate#ParallelDataDataLocation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced\n      by your input file. This file was created when Amazon Translate attempted to update a parallel\n      data resource. The location is returned as a presigned URL to that has a 30-minute\n      expiration.</p>"
               }
            },
            "ParallelDataProperties" : {
               "target" : "com.amazonaws.translate#ParallelDataProperties",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties of the parallel data resource that is being retrieved.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#GetTerminology" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#GetTerminologyRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#GetTerminologyResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves a custom terminology.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#GetTerminologyRequest" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the custom terminology being retrieved.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TerminologyDataFormat" : {
               "target" : "com.amazonaws.translate#TerminologyDataFormat",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data format of the custom terminology being retrieved.</p>\n         <p>If you don't specify this parameter, Amazon Translate returns a file with the same format\n      as the file that was imported to create the terminology. </p>\n         <p>If you specify this parameter when you retrieve a multi-directional terminology resource,\n      you must specify the same format as the input file that was imported to create it. Otherwise,\n      Amazon Translate throws an error.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#GetTerminologyResponse" : {
         "members" : {
            "AuxiliaryDataLocation" : {
               "target" : "com.amazonaws.translate#TerminologyDataLocation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced\n      by your input file. This file was created when Amazon Translate attempted to create a\n      terminology resource. The location is returned as a presigned URL to that has a 30-minute\n      expiration.</p>"
               }
            },
            "TerminologyDataLocation" : {
               "target" : "com.amazonaws.translate#TerminologyDataLocation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon S3 location of the most recent custom terminology input file that was\n      successfully imported into Amazon Translate. The location is returned as a presigned URL that\n      has a 30-minute expiration.</p>\n    \n         <important>\n            <p>Amazon Translate doesn't scan all input files for the risk of CSV injection\n        attacks. </p>\n            <p>CSV injection occurs when a .csv or .tsv file is altered so that a record contains\n        malicious code. The record begins with a special character, such as =, +, -, or @. When the\n        file is opened in a spreadsheet program, the program might interpret the record as a formula\n        and run the code within it.</p>\n            <p>Before you download an input file from Amazon S3, ensure that you recognize the file and trust its creator.</p>\n         </important>"
               }
            },
            "TerminologyProperties" : {
               "target" : "com.amazonaws.translate#TerminologyProperties",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties of the custom terminology being retrieved.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#IamRoleArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 20
            },
            "smithy.api#pattern" : "^arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.translate#ImportTerminology" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#LimitExceededException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyTagsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#ImportTerminologyRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#ImportTerminologyResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates or updates a custom terminology, depending on whether one already exists for the\n      given terminology name. Importing a terminology with the same name as an existing one will\n      merge the terminologies based on the chosen merge strategy. The only supported merge strategy\n      is OVERWRITE, where the imported terminology overwrites the existing terminology of the same\n      name.</p>\n         <p>If you import a terminology that overwrites an existing one, the new terminology takes up\n      to 10 minutes to fully propagate. After that, translations have access to the new\n      terminology.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#ImportTerminologyRequest" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.translate#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the custom terminology being imported.</p>"
               }
            },
            "EncryptionKey" : {
               "target" : "com.amazonaws.translate#EncryptionKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The encryption key for the custom terminology being imported.</p>"
               }
            },
            "MergeStrategy" : {
               "target" : "com.amazonaws.translate#MergeStrategy",
               "traits" : {
                  "smithy.api#documentation" : "<p>The merge strategy of the custom terminology being imported. Currently, only the OVERWRITE\n      merge strategy is supported. In this case, the imported terminology will overwrite an existing\n      terminology of the same name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Name" : {
               "target" : "com.amazonaws.translate#ResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the custom terminology being imported.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.translate#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags to be associated with this resource. A tag is a key-value pair that\n      adds metadata to a resource. Each tag key for the resource must be unique.\n      For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/tagging.html\">\n        Tagging your resources</a>.</p>"
               }
            },
            "TerminologyData" : {
               "target" : "com.amazonaws.translate#TerminologyData",
               "traits" : {
                  "smithy.api#documentation" : "<p>The terminology data for the custom terminology being imported.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ImportTerminologyResponse" : {
         "members" : {
            "AuxiliaryDataLocation" : {
               "target" : "com.amazonaws.translate#TerminologyDataLocation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced\n      by your input file. This file was created when Amazon Translate attempted to create a\n      terminology resource. The location is returned as a presigned URL to that has a 30 minute\n      expiration.</p>"
               }
            },
            "TerminologyProperties" : {
               "target" : "com.amazonaws.translate#TerminologyProperties",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties of the custom terminology being imported.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#InputDataConfig" : {
         "members" : {
            "ContentType" : {
               "target" : "com.amazonaws.translate#ContentType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the format of the data that you submit to Amazon Translate as input. You can\n      specify one of the following multipurpose internet mail extension (MIME) types:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>text/html</code>: The input data consists of one or more HTML files. Amazon\n          Translate translates only the text that resides in the <code>html</code> element in each\n          file.</p>\n            </li>\n            <li>\n               <p>\n                  <code>text/plain</code>: The input data consists of one or more unformatted text\n          files. Amazon Translate translates every character in this type of input.</p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.openxmlformats-officedocument.wordprocessingml.document</code>:\n          The input data consists of one or more Word documents (.docx).</p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.openxmlformats-officedocument.presentationml.presentation</code>:\n          The input data consists of one or more PowerPoint Presentation files (.pptx).</p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</code>: The\n          input data consists of one or more Excel Workbook files (.xlsx).</p>\n            </li>\n            <li>\n               <p>\n                  <code>application/x-xliff+xml</code>: The input data consists of one or more XML\n          Localization Interchange File Format (XLIFF) files (.xlf). Amazon Translate supports only\n          XLIFF version 1.2.</p>\n            </li>\n         </ul>\n         <important>\n            <p>If you structure your input data as HTML, ensure that you set this parameter to\n          <code>text/html</code>. By doing so, you cut costs by limiting the translation to the\n        contents of the <code>html</code> element in each file. Otherwise, if you set this parameter\n        to <code>text/plain</code>, your costs will cover the translation of every character.</p>\n         </important>",
                  "smithy.api#required" : {}
               }
            },
            "S3Uri" : {
               "target" : "com.amazonaws.translate#S3Uri",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URI of the AWS S3 folder that contains the input files. Amazon Translate translates all the\n      files in the folder and all its sub-folders. The folder must be in the same Region as the API endpoint you are\n      calling.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The input configuration properties for requesting a batch translation job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#Integer" : {
         "type" : "integer"
      },
      "com.amazonaws.translate#InternalServerException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.translate#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An internal server error occurred. Retry your request.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#InvalidFilterException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.translate#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The filter specified for the operation is not valid. Specify a different filter.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#InvalidParameterValueException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.translate#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The value of the parameter is not valid. Review the value of the parameter you are using\n      to correct it, and then retry your operation.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#InvalidRequestException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.translate#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The request that you made is not valid. Check your request to determine why it's not\n      valid and then retry the request. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#JobDetails" : {
         "members" : {
            "DocumentsWithErrorsCount" : {
               "target" : "com.amazonaws.translate#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of documents that could not be processed during a translation job.</p>"
               }
            },
            "InputDocumentsCount" : {
               "target" : "com.amazonaws.translate#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of documents used as input in a translation job.</p>"
               }
            },
            "TranslatedDocumentsCount" : {
               "target" : "com.amazonaws.translate#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of documents successfully processed during a translation job.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The number of documents successfully and unsuccessfully processed during a translation\n      job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#JobId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 1
            },
            "smithy.api#pattern" : "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
         },
         "type" : "string"
      },
      "com.amazonaws.translate#JobName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
         },
         "type" : "string"
      },
      "com.amazonaws.translate#JobStatus" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COMPLETED"
               }
            },
            "COMPLETED_WITH_ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COMPLETED_WITH_ERROR"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IN_PROGRESS"
               }
            },
            "STOPPED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STOPPED"
               }
            },
            "STOP_REQUESTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "STOP_REQUESTED"
               }
            },
            "SUBMITTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SUBMITTED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.translate#Language" : {
         "members" : {
            "LanguageCode" : {
               "target" : "com.amazonaws.translate#LanguageCodeString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Language code for the supported language.</p>",
                  "smithy.api#required" : {}
               }
            },
            "LanguageName" : {
               "target" : "com.amazonaws.translate#LocalizedNameString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Language name of the supported language.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A supported language.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#LanguageCodeString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 5,
               "min" : 2
            }
         },
         "type" : "string"
      },
      "com.amazonaws.translate#LanguageCodeStringList" : {
         "member" : {
            "target" : "com.amazonaws.translate#LanguageCodeString"
         },
         "type" : "list"
      },
      "com.amazonaws.translate#LanguagesList" : {
         "member" : {
            "target" : "com.amazonaws.translate#Language"
         },
         "type" : "list"
      },
      "com.amazonaws.translate#LimitExceededException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.translate#String"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The specified limit has been exceeded. Review your request and retry it with a quantity\n      below the stated limit.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListLanguages" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            },
            {
               "target" : "com.amazonaws.translate#UnsupportedDisplayLanguageCodeException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#ListLanguagesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#ListLanguagesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides a list of languages (RFC-5646 codes and names) that Amazon Translate supports.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#ListLanguagesRequest" : {
         "members" : {
            "DisplayLanguageCode" : {
               "target" : "com.amazonaws.translate#DisplayLanguageCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The language code for the language to use to display the language names in the response.\n      The language code is <code>en</code> by default. </p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.translate#MaxResultsInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to return in each response.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.translate#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Include the NextToken value to fetch the next group of supported languages. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListLanguagesResponse" : {
         "members" : {
            "DisplayLanguageCode" : {
               "target" : "com.amazonaws.translate#DisplayLanguageCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The language code passed in with the request.</p>"
               }
            },
            "Languages" : {
               "target" : "com.amazonaws.translate#LanguagesList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of supported languages.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.translate#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> If the response does not include all remaining results, use the NextToken\n      in the next request to fetch the next group of supported languages.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListParallelData" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#ListParallelDataRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#ListParallelDataResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides a list of your parallel data resources in Amazon Translate.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#ListParallelDataRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.translate#MaxResultsInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of parallel data resources returned for each request.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.translate#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string that specifies the next page of results to return in a paginated response.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListParallelDataResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.translate#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The string to use in a subsequent request to get the next page of results in a paginated\n      response. This value is null if there are no additional pages.</p>"
               }
            },
            "ParallelDataPropertiesList" : {
               "target" : "com.amazonaws.translate#ParallelDataPropertiesList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties of the parallel data resources returned by this request.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#ListTagsForResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#ListTagsForResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists all tags associated with a given Amazon Translate resource.\n      For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/tagging.html\">\n        Tagging your resources</a>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#ListTagsForResourceRequest" : {
         "members" : {
            "ResourceArn" : {
               "target" : "com.amazonaws.translate#ResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the given Amazon Translate resource you are querying.\n    </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListTagsForResourceResponse" : {
         "members" : {
            "Tags" : {
               "target" : "com.amazonaws.translate#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Tags associated with the Amazon Translate resource being queried. A tag is a key-value\n      pair that adds as a metadata to a resource used by Amazon Translate. For example, a tag with\n      \"Sales\" as the key might be added to a resource to indicate its use by the sales department.\n    </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListTerminologies" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidParameterValueException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#ListTerminologiesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#ListTerminologiesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides a list of custom terminologies associated with your account.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#ListTerminologiesRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.translate#MaxResultsInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of custom terminologies returned per list request.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.translate#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the result of the request to ListTerminologies was truncated, include the NextToken to\n      fetch the next group of custom terminologies. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListTerminologiesResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.translate#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> If the response to the ListTerminologies was truncated, the NextToken fetches the next\n      group of custom terminologies.</p>"
               }
            },
            "TerminologyPropertiesList" : {
               "target" : "com.amazonaws.translate#TerminologyPropertiesList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties list of the custom terminologies returned on the list request.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListTextTranslationJobs" : {
         "errors" : [
            {
               "target" : "com.amazonaws.translate#InternalServerException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidFilterException"
            },
            {
               "target" : "com.amazonaws.translate#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.translate#TooManyRequestsException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.translate#ListTextTranslationJobsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.translate#ListTextTranslationJobsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets a list of the batch translation jobs that you have submitted.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.translate#ListTextTranslationJobsRequest" : {
         "members" : {
            "Filter" : {
               "target" : "com.amazonaws.translate#TextTranslationJobFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The parameters that specify which batch translation jobs to retrieve. Filters include job\n      name, job status, and submission time. You can only set one filter at a time.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.translate#MaxResultsInteger",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to return in each page. The default value is 100.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.translate#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token to request the next page of results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.translate#ListTextTranslationJobsResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.translate#NextToken",
[...]
