{
   "shapes" : {
      "com.amazonaws.medicalimaging#AHIGatewayService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.medicalimaging#CopyImageSet"
            },
            {
               "target" : "com.amazonaws.medicalimaging#DeleteImageSet"
            },
            {
               "target" : "com.amazonaws.medicalimaging#GetDICOMImportJob"
            },
            {
               "target" : "com.amazonaws.medicalimaging#GetImageFrame"
            },
            {
               "target" : "com.amazonaws.medicalimaging#GetImageSet"
            },
            {
               "target" : "com.amazonaws.medicalimaging#GetImageSetMetadata"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ListDICOMImportJobs"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ListImageSetVersions"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.medicalimaging#SearchImageSets"
            },
            {
               "target" : "com.amazonaws.medicalimaging#StartDICOMImportJob"
            },
            {
               "target" : "com.amazonaws.medicalimaging#TagResource"
            },
            {
               "target" : "com.amazonaws.medicalimaging#UntagResource"
            },
            {
               "target" : "com.amazonaws.medicalimaging#UpdateImageSetMetadata"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.medicalimaging#DatastoreResource"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ImageSetResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "medical-imaging",
               "endpointPrefix" : "medical-imaging",
               "sdkId" : "Medical Imaging"
            },
            "aws.auth#sigv4" : {
               "name" : "medical-imaging"
            },
            "aws.iam#defineConditionKeys" : {
               "aws:RequestTag/${TagKey}" : {
                  "documentation" : "Filters access by a tag key and value pair that is allowed in the request",
                  "type" : "String"
               },
               "aws:ResourceTag/${TagKey}" : {
                  "documentation" : "Filters access by a tag key and value pair of a resource",
                  "type" : "String"
               },
               "aws:TagKeys" : {
                  "documentation" : "Filters access by a list of tag keys that are allowed in the request",
                  "type" : "String"
               }
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>This is the <i>AWS HealthImaging API Reference</i>. For an introduction to the service, see <a href=\"https://docs.aws.amazon.com/healthimaging/latest/devguide/what-is.html\">What is AWS HealthImaging?</a> in the <i>AWS HealthImaging Developer Guide</i>.</p>",
            "smithy.api#title" : "AWS Health Imaging",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://medical-imaging-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://medical-imaging-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://medical-imaging.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://medical-imaging.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://medical-imaging.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2023-07-19"
      },
      "com.amazonaws.medicalimaging#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The user does not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#Arn" : {
         "traits" : {
            "smithy.api#pattern" : "^arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:medical-imaging:[a-z0-9-]+:[0-9]{12}:datastore/[0-9a-z]{32}(/imageset/[0-9a-z]{32})?$"
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#AwsAccountId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^\\d+$"
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#BadRequestException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request is invalid or malformed.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#ClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Za-z0-9._-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CopiableAttributes" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 260000,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#CopyDestinationImageSet" : {
         "members" : {
            "imageSetId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set identifier for the destination image set.</p>",
                  "smithy.api#required" : {}
               }
            },
            "latestVersionId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetExternalVersionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The latest version identifier for the destination image set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Copy the destination image set.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CopyDestinationImageSetProperties" : {
         "members" : {
            "createdAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the destination image set properties were created.</p>"
               }
            },
            "imageSetArn" : {
               "target" : "com.amazonaws.medicalimaging#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) assigned to the destination image set.</p>"
               }
            },
            "imageSetId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set identifier of the copied image set properties.</p>",
                  "smithy.api#required" : {}
               }
            },
            "imageSetState" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set state of the destination image set properties.</p>"
               }
            },
            "imageSetWorkflowStatus" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetWorkflowStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set workflow status of the destination image set properties.</p>"
               }
            },
            "latestVersionId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetExternalVersionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The latest version identifier for the destination image set properties.</p>",
                  "smithy.api#required" : {}
               }
            },
            "updatedAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the destination image set properties were last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Copy the image set properties of the destination image set.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CopyImageSet" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ConflictException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.medicalimaging#CopyImageSetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.medicalimaging#CopyImageSetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Copy an image set.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "runtime-"
            },
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/datastore/{datastoreId}/imageSet/{sourceImageSetId}/copyImageSet"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.medicalimaging#CopyImageSetInformation" : {
         "members" : {
            "destinationImageSet" : {
               "target" : "com.amazonaws.medicalimaging#CopyDestinationImageSet",
               "traits" : {
                  "smithy.api#documentation" : "<p>The destination image set.</p>"
               }
            },
            "sourceImageSet" : {
               "target" : "com.amazonaws.medicalimaging#CopySourceImageSetInformation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source image set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Copy image set information.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CopyImageSetRequest" : {
         "members" : {
            "copyImageSetInformation" : {
               "target" : "com.amazonaws.medicalimaging#CopyImageSetInformation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Copy image set information.</p>",
                  "smithy.api#httpPayload" : {},
                  "smithy.api#required" : {}
               }
            },
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "force" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Providing this parameter will force completion of the <code>CopyImageSet</code> operation, even if there are inconsistent Patient, Study, and/or Series level metadata elements between the <code>sourceImageSet</code> and <code>destinationImageSet</code>.</p>",
                  "smithy.api#httpQuery" : "force"
               }
            },
            "promoteToPrimary" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Providing this parameter will configure the <code>CopyImageSet</code> operation to promote the given image set to the primary DICOM hierarchy. If successful, a new primary image set ID will be returned as the destination image set.</p>",
                  "smithy.api#httpQuery" : "promoteToPrimary"
               }
            },
            "sourceImageSetId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source image set identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CopyImageSetResponse" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "destinationImageSetProperties" : {
               "target" : "com.amazonaws.medicalimaging#CopyDestinationImageSetProperties",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties of the destination image set.</p>",
                  "smithy.api#required" : {}
               }
            },
            "sourceImageSetProperties" : {
               "target" : "com.amazonaws.medicalimaging#CopySourceImageSetProperties",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties of the source image set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CopySourceImageSetInformation" : {
         "members" : {
            "DICOMCopies" : {
               "target" : "com.amazonaws.medicalimaging#MetadataCopies",
               "traits" : {
                  "smithy.api#documentation" : "<p>Contains <code>MetadataCopies</code> structure and wraps information related to specific copy use cases. For example, when copying subsets.</p>"
               }
            },
            "latestVersionId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetExternalVersionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The latest version identifier for the source image set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Copy source image set information.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CopySourceImageSetProperties" : {
         "members" : {
            "createdAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the source image set properties were created.</p>"
               }
            },
            "imageSetArn" : {
               "target" : "com.amazonaws.medicalimaging#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) assigned to the source image set.</p>"
               }
            },
            "imageSetId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set identifier for the copied source image set.</p>",
                  "smithy.api#required" : {}
               }
            },
            "imageSetState" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set state of the copied source image set.</p>"
               }
            },
            "imageSetWorkflowStatus" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetWorkflowStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The workflow status of the copied source image set.</p>"
               }
            },
            "latestVersionId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetExternalVersionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The latest version identifier for the copied source image set.</p>",
                  "smithy.api#required" : {}
               }
            },
            "updatedAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the source image set properties were updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Copy source image set properties.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CreateDatastore" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ConflictException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.medicalimaging#CreateDatastoreRequest"
         },
         "output" : {
            "target" : "com.amazonaws.medicalimaging#CreateDatastoreResponse"
         },
         "traits" : {
            "aws.iam#conditionKeys" : [
               "aws:RequestTag/${TagKey}",
               "aws:TagKeys"
            ],
            "smithy.api#documentation" : "<p>Create a data store.</p>",
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/datastore"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.medicalimaging#CreateDatastoreRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.medicalimaging#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for API idempotency.</p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "datastoreName" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store name.</p>"
               }
            },
            "kmsKeyArn" : {
               "target" : "com.amazonaws.medicalimaging#KmsKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) assigned to the Key Management Service (KMS) key for accessing encrypted data.</p>"
               }
            },
            "lambdaAuthorizerArn" : {
               "target" : "com.amazonaws.medicalimaging#LambdaArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the authorizer's Lambda function.</p>"
               }
            },
            "losslessStorageFormat" : {
               "target" : "com.amazonaws.medicalimaging#LosslessStorageFormat",
               "traits" : {
                  "smithy.api#documentation" : "<p>The lossless storage format for the datastore.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.medicalimaging#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags provided when creating a data store.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#CreateDatastoreResponse" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "datastoreStatus" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store status.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DICOMAccessionNumber" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMAttribute" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 30000,
               "min" : 1
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "blob"
      },
      "com.amazonaws.medicalimaging#DICOMImportJobProperties" : {
         "members" : {
            "dataAccessRoleArn" : {
               "target" : "com.amazonaws.medicalimaging#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that grants permissions to access medical imaging resources.</p>",
                  "smithy.api#required" : {}
               }
            },
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "endedAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp for when the import job was ended.</p>"
               }
            },
            "importConfiguration" : {
               "target" : "com.amazonaws.medicalimaging#ImportConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The object containing <code>DicomJsonMetadataImportConfiguration</code>.</p>"
               }
            },
            "inputS3Uri" : {
               "target" : "com.amazonaws.medicalimaging#S3Uri",
               "traits" : {
                  "smithy.api#documentation" : "<p>The input prefix path for the S3 bucket that contains the DICOM P10 files to be imported.</p>",
                  "smithy.api#required" : {}
               }
            },
            "jobId" : {
               "target" : "com.amazonaws.medicalimaging#JobId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The import job identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "jobName" : {
               "target" : "com.amazonaws.medicalimaging#JobName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The import job name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "jobStatus" : {
               "target" : "com.amazonaws.medicalimaging#JobStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters for listing import jobs based on status.</p>",
                  "smithy.api#required" : {}
               }
            },
            "message" : {
               "target" : "com.amazonaws.medicalimaging#Message",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error message thrown if an import job fails.</p>"
               }
            },
            "outputS3Uri" : {
               "target" : "com.amazonaws.medicalimaging#S3Uri",
               "traits" : {
                  "smithy.api#documentation" : "<p>The output prefix of the S3 bucket to upload the results of the DICOM import job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "submittedAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp for when the import job was submitted.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Properties of the import job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DICOMImportJobSummaries" : {
         "member" : {
            "target" : "com.amazonaws.medicalimaging#DICOMImportJobSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.medicalimaging#DICOMImportJobSummary" : {
         "members" : {
            "dataAccessRoleArn" : {
               "target" : "com.amazonaws.medicalimaging#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that grants permissions to access medical imaging resources.</p>"
               }
            },
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "endedAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when an import job ended.</p>"
               }
            },
            "jobId" : {
               "target" : "com.amazonaws.medicalimaging#JobId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The import job identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "jobName" : {
               "target" : "com.amazonaws.medicalimaging#JobName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The import job name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "jobStatus" : {
               "target" : "com.amazonaws.medicalimaging#JobStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filters for listing import jobs based on status.</p>",
                  "smithy.api#required" : {}
               }
            },
            "message" : {
               "target" : "com.amazonaws.medicalimaging#Message",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error message thrown if an import job fails.</p>"
               }
            },
            "submittedAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when an import job was submitted.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary of import job.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DICOMNumberOfStudyRelatedInstances" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "max" : 1000000,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.medicalimaging#DICOMNumberOfStudyRelatedSeries" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "max" : 1000000,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.medicalimaging#DICOMPatientBirthDate" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMPatientId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMPatientName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMPatientSex" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 16,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMSeriesBodyPart" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMSeriesInstanceUID" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#pattern" : "^[0-9.]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMSeriesModality" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMSeriesNumber" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 2147483647,
               "min" : -2147483648
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "integer"
      },
      "com.amazonaws.medicalimaging#DICOMStudyDate" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMStudyDateAndTime" : {
         "members" : {
            "DICOMStudyDate" : {
               "target" : "com.amazonaws.medicalimaging#DICOMStudyDate",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM study date provided in <code>yyMMdd</code> format.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DICOMStudyTime" : {
               "target" : "com.amazonaws.medicalimaging#DICOMStudyTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM study time provided in <code>HHmmss.FFFFFF</code> format.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The aggregated structure to store DICOM study date and study time for search capabilities.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DICOMStudyDescription" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMStudyId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMStudyInstanceUID" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 0
            },
            "smithy.api#pattern" : "^[0-9.]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMStudyTime" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 56,
               "min" : 0
            },
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DICOMTags" : {
         "members" : {
            "DICOMAccessionNumber" : {
               "target" : "com.amazonaws.medicalimaging#DICOMAccessionNumber",
               "traits" : {
                  "smithy.api#documentation" : "<p>The accession number for the DICOM study.</p>"
               }
            },
            "DICOMNumberOfStudyRelatedInstances" : {
               "target" : "com.amazonaws.medicalimaging#DICOMNumberOfStudyRelatedInstances",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The total number of instances in the DICOM study.</p>"
               }
            },
            "DICOMNumberOfStudyRelatedSeries" : {
               "target" : "com.amazonaws.medicalimaging#DICOMNumberOfStudyRelatedSeries",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The total number of series in the DICOM study.</p>"
               }
            },
            "DICOMPatientBirthDate" : {
               "target" : "com.amazonaws.medicalimaging#DICOMPatientBirthDate",
               "traits" : {
                  "smithy.api#documentation" : "<p>The patient birth date.</p>"
               }
            },
            "DICOMPatientId" : {
               "target" : "com.amazonaws.medicalimaging#DICOMPatientId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for a patient in a DICOM Study.</p>"
               }
            },
            "DICOMPatientName" : {
               "target" : "com.amazonaws.medicalimaging#DICOMPatientName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The patient name.</p>"
               }
            },
            "DICOMPatientSex" : {
               "target" : "com.amazonaws.medicalimaging#DICOMPatientSex",
               "traits" : {
                  "smithy.api#documentation" : "<p>The patient sex.</p>"
               }
            },
            "DICOMSeriesBodyPart" : {
               "target" : "com.amazonaws.medicalimaging#DICOMSeriesBodyPart",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM provided identifier for the series Body Part Examined.</p>"
               }
            },
            "DICOMSeriesInstanceUID" : {
               "target" : "com.amazonaws.medicalimaging#DICOMSeriesInstanceUID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM provided identifier for the Series Instance UID.</p>"
               }
            },
            "DICOMSeriesModality" : {
               "target" : "com.amazonaws.medicalimaging#DICOMSeriesModality",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM provided identifier for the series Modality.</p>"
               }
            },
            "DICOMSeriesNumber" : {
               "target" : "com.amazonaws.medicalimaging#DICOMSeriesNumber",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM provided identifier for the Series Number.</p>"
               }
            },
            "DICOMStudyDate" : {
               "target" : "com.amazonaws.medicalimaging#DICOMStudyDate",
               "traits" : {
                  "smithy.api#documentation" : "<p>The study date.</p>"
               }
            },
            "DICOMStudyDescription" : {
               "target" : "com.amazonaws.medicalimaging#DICOMStudyDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM provided Study Description.</p>"
               }
            },
            "DICOMStudyId" : {
               "target" : "com.amazonaws.medicalimaging#DICOMStudyId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM provided identifier for the Study ID.</p>"
               }
            },
            "DICOMStudyInstanceUID" : {
               "target" : "com.amazonaws.medicalimaging#DICOMStudyInstanceUID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM provided identifier for the Study Instance UID.</p>"
               }
            },
            "DICOMStudyTime" : {
               "target" : "com.amazonaws.medicalimaging#DICOMStudyTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The study time.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The DICOM attributes returned as a part of a response. Each image set has these properties as part of a search result.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DICOMUpdates" : {
         "members" : {
            "removableAttributes" : {
               "target" : "com.amazonaws.medicalimaging#DICOMAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM tags to be removed from <code>ImageSetMetadata</code>.</p>"
               }
            },
            "updatableAttributes" : {
               "target" : "com.amazonaws.medicalimaging#DICOMAttribute",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DICOM tags that need to be updated in <code>ImageSetMetadata</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The object containing <code>removableAttributes</code> and <code>updatableAttributes</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DatastoreId" : {
         "traits" : {
            "smithy.api#pattern" : "^[0-9a-z]{32}$"
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DatastoreName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Za-z0-9._/#-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.medicalimaging#DatastoreProperties" : {
         "members" : {
            "createdAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the data store was created.</p>"
               }
            },
            "datastoreArn" : {
               "target" : "com.amazonaws.medicalimaging#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for the data store.</p>"
               }
            },
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "datastoreName" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "datastoreStatus" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store status.</p>",
                  "smithy.api#required" : {}
               }
            },
            "kmsKeyArn" : {
               "target" : "com.amazonaws.medicalimaging#KmsKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) assigned to the Key Management Service (KMS) key for accessing encrypted data.</p>"
               }
            },
            "lambdaAuthorizerArn" : {
               "target" : "com.amazonaws.medicalimaging#LambdaArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the authorizer's Lambda function.</p>"
               }
            },
            "losslessStorageFormat" : {
               "target" : "com.amazonaws.medicalimaging#LosslessStorageFormat",
               "traits" : {
                  "smithy.api#documentation" : "<p>The datastore's lossless storage format.</p>"
               }
            },
            "updatedAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the data store was last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The properties associated with the data store.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DatastoreResource" : {
         "create" : {
            "target" : "com.amazonaws.medicalimaging#CreateDatastore"
         },
         "delete" : {
            "target" : "com.amazonaws.medicalimaging#DeleteDatastore"
         },
         "identifiers" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId"
            }
         },
         "list" : {
            "target" : "com.amazonaws.medicalimaging#ListDatastores"
         },
         "read" : {
            "target" : "com.amazonaws.medicalimaging#GetDatastore"
         },
         "traits" : {
            "aws.api#arn" : {
               "template" : "datastore/{datastoreId}"
            },
            "aws.iam#conditionKeys" : [
               "aws:ResourceTag/${TagKey}"
            ],
            "aws.iam#disableConditionKeyInference" : {}
         },
         "type" : "resource"
      },
      "com.amazonaws.medicalimaging#DatastoreStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "CREATE_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATE_FAILED"
               }
            },
            "CREATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETED"
               }
            },
            "DELETING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.medicalimaging#DatastoreSummaries" : {
         "member" : {
            "target" : "com.amazonaws.medicalimaging#DatastoreSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.medicalimaging#DatastoreSummary" : {
         "members" : {
            "createdAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the data store was created.</p>"
               }
            },
            "datastoreArn" : {
               "target" : "com.amazonaws.medicalimaging#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for the data store.</p>"
               }
            },
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "datastoreName" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "datastoreStatus" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store status.</p>",
                  "smithy.api#required" : {}
               }
            },
            "updatedAt" : {
               "target" : "com.amazonaws.medicalimaging#Date",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the data store was last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>List of summaries of data stores.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#Date" : {
         "type" : "timestamp"
      },
      "com.amazonaws.medicalimaging#DeleteDatastore" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ConflictException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.medicalimaging#DeleteDatastoreRequest"
         },
         "output" : {
            "target" : "com.amazonaws.medicalimaging#DeleteDatastoreResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Delete a data store.</p> <note> <p>Before a data store can be deleted, you must first delete all image sets within it.</p> </note>",
            "smithy.api#http" : {
               "method" : "DELETE",
               "uri" : "/datastore/{datastoreId}"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.medicalimaging#DeleteDatastoreRequest" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DeleteDatastoreResponse" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "datastoreStatus" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store status.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DeleteImageSet" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ConflictException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.medicalimaging#DeleteImageSetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.medicalimaging#DeleteImageSetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Delete an image set.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "runtime-"
            },
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/datastore/{datastoreId}/imageSet/{imageSetId}/deleteImageSet"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.medicalimaging#DeleteImageSetRequest" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "imageSetId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DeleteImageSetResponse" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "imageSetId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set identifier.</p>",
                  "smithy.api#required" : {}
               }
            },
            "imageSetState" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set state.</p>",
                  "smithy.api#required" : {}
               }
            },
            "imageSetWorkflowStatus" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetWorkflowStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set workflow status.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DicomJsonMetadataImportConfiguration" : {
         "members" : {
            "dicomMetadataMappings" : {
               "target" : "com.amazonaws.medicalimaging#DicomMetadataMappings",
               "traits" : {
                  "smithy.api#documentation" : "<p>Maps DCM files to their metadata.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The configuration parameters that are specific to DICOM JSON metadata import operations.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DicomMetadataMapping" : {
         "members" : {
            "metadataFilePath" : {
               "target" : "com.amazonaws.medicalimaging#MetadataFilePath",
               "traits" : {
                  "smithy.api#documentation" : "<p>The path to the JSON metadata file relative to inputS3Uri.</p>",
                  "smithy.api#required" : {}
               }
            },
            "seriesInstanceUID" : {
               "target" : "com.amazonaws.medicalimaging#DICOMSeriesInstanceUID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Series Instance UID that identifies the series. This parameter is optional because the mapping might be at the study level.</p>"
               }
            },
            "studyInstanceUID" : {
               "target" : "com.amazonaws.medicalimaging#DICOMStudyInstanceUID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Study Instance UID that identifies the study.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Maps DCM files to their metadata.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#DicomMetadataMappings" : {
         "member" : {
            "target" : "com.amazonaws.medicalimaging#DicomMetadataMapping"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.medicalimaging#GetDICOMImportJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ConflictException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.medicalimaging#GetDICOMImportJobRequest"
         },
         "output" : {
            "target" : "com.amazonaws.medicalimaging#GetDICOMImportJobResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get the import job properties to learn more about the job or job progress.</p> <note> <p>The <code>jobStatus</code> refers to the execution of the import job. Therefore, an import job can return a <code>jobStatus</code> as <code>COMPLETED</code> even if validation issues are discovered during the import process. If a <code>jobStatus</code> returns as <code>COMPLETED</code>, we still recommend you review the output manifests written to S3, as they provide details on the success or failure of individual P10 object imports.</p> </note>",
            "smithy.api#http" : {
               "method" : "GET",
               "uri" : "/getDICOMImportJob/datastore/{datastoreId}/job/{jobId}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.medicalimaging#GetDICOMImportJobRequest" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "jobId" : {
               "target" : "com.amazonaws.medicalimaging#JobId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The import job identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#GetDICOMImportJobResponse" : {
         "members" : {
            "jobProperties" : {
               "target" : "com.amazonaws.medicalimaging#DICOMImportJobProperties",
               "traits" : {
                  "smithy.api#documentation" : "<p>The properties of the import job.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#GetDatastore" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.medicalimaging#GetDatastoreRequest"
         },
         "output" : {
            "target" : "com.amazonaws.medicalimaging#GetDatastoreResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get data store properties.</p>",
            "smithy.api#http" : {
               "method" : "GET",
               "uri" : "/datastore/{datastoreId}"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.medicalimaging#GetDatastoreRequest" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#GetDatastoreResponse" : {
         "members" : {
            "datastoreProperties" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreProperties",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store properties.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#GetImageFrame" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#BadRequestException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ConflictException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#NotAcceptableException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.medicalimaging#GetImageFrameRequest"
         },
         "output" : {
            "target" : "com.amazonaws.medicalimaging#GetImageFrameResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get an image frame (pixel data) for an image set.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "runtime-"
            },
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/datastore/{datastoreId}/imageSet/{imageSetId}/getImageFrame"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.medicalimaging#GetImageFrameRequest" : {
         "members" : {
            "datastoreId" : {
               "target" : "com.amazonaws.medicalimaging#DatastoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data store identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "imageFrameInformation" : {
               "target" : "com.amazonaws.medicalimaging#ImageFrameInformation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the image frame (pixel data) identifier.</p>",
                  "smithy.api#httpPayload" : {},
                  "smithy.api#required" : {}
               }
            },
            "imageSetId" : {
               "target" : "com.amazonaws.medicalimaging#ImageSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The image set identifier.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#GetImageFrameResponse" : {
         "members" : {
            "contentType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The format in which the image frame information is returned to the customer. Default is <code>application/octet-stream</code>.</p> <note> <ul> <li> <p>If the stored transfer syntax is <code>1.2.840.10008.1.2.1</code>, the returned <code>contentType</code> is <code>application/octet-stream</code>.</p> </li> </ul> <ul> <li> <p>If the stored transfer syntax is <code>1.2.840.10008.1.2.4.50</code>, the returned <code>contentType</code> is <code>image/jpeg</code>.</p> </li> </ul> <ul> <li> <p>If the stored transfer syntax is <code>1.2.840.10008.1.2.4.91</code>, the returned <code>contentType</code> is <code>image/j2c</code>.</p> </li> </ul> <ul> <li> <p>If the stored transfer syntax is MPEG2, <code>1.2.840.10008.1.2.4.100</code>, <code>1.2.840.10008.1.2.4.100.1</code>, <code>1.2.840.10008.1.2.4.101</code>, or <code>1.2.840.10008.1.2.4.101.1</code>, the returned <code>contentType</code> is <code>video/mpeg</code>.</p> </li> </ul> <ul> <li> <p>If the stored transfer syntax is MPEG-4 AVC/H.264, UID <code>1.2.840.10008.1.2.4.102</code>, <code>1.2.840.10008.1.2.4.102.1</code>, <code>1.2.840.10008.1.2.4.103</code>, <code>1.2.840.10008.1.2.4.103.1</code>, <code>1.2.840.10008.1.2.4.104</code>, <code>1.2.840.10008.1.2.4.104.1</code>, <code>1.2.840.10008.1.2.4.105</code>, <code>1.2.840.10008.1.2.4.105.1</code>, <code>1.2.840.10008.1.2.4.106</code>, or <code>1.2.840.10008.1.2.4.106.1</code>, the returned <code>contentType</code> is <code>video/mp4</code>.</p> </li> </ul> <ul> <li> <p>If the stored transfer syntax is HEVC/H.265, UID <code>1.2.840.10008.1.2.4.107</code> or <code>1.2.840.10008.1.2.4.108</code>, the returned <code>contentType</code> is <code>video/H256</code>.</p> </li> </ul> <ul> <li> <p>If the stored transfer syntax is <code>1.2.840.10008.1.2.4.202</code> or if the stored transfer syntax is <i>missing</i>, the returned <code>contentType</code> is <code>image/jph</code>.</p> </li> </ul> <ul> <li> <p>If the stored transfer syntax is <code>1.2.840.10008.1.2.4.203</code>, the returned contentType is <code>image/jphc</code>.</p> </li> <li> <p>If the stored transfer syntax is <code>1.2.840.10008.1.2.4.112</code> the returned <code>contentType</code> is <code>image/jxl</code>.</p> </li> </ul> </note>",
                  "smithy.api#httpHeader" : "Content-Type"
               }
            },
            "imageFrameBlob" : {
               "target" : "com.amazonaws.medicalimaging#PayloadBlob",
               "traits" : {
                  "smithy.api#documentation" : "<p>The blob containing the aggregated image frame information.</p>",
                  "smithy.api#httpPayload" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.medicalimaging#GetImageSet" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ConflictException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.medicalimaging#GetImageSetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.medicalimaging#GetImageSetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Get image set properties.</p>",
            "smithy.api#endpoint" : {
               "hostPrefix" : "runtime-"
            },
            "smithy.api#http" : {
               "method" : "POST",
               "uri" : "/datastore/{datastoreId}/imageSet/{imageSetId}/getImageSet"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.medicalimaging#GetImageSetMetadata" : {
         "errors" : [
            {
               "target" : "com.amazonaws.medicalimaging#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ConflictException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#InternalServerException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.medicalimaging#ValidationException"
            }
         ],
         "input" : {
[...]
