{
   "shapes" : {
      "com.amazonaws.bedrockdataautomationruntime#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception will be thrown when customer does not have access to API.",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#AmazonBedrockKeystoneRuntimeService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomation"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TagResource"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#UntagResource"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AutomationJobResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "bedrock",
               "cloudTrailEventSource" : "bedrock.amazonaws.com",
               "endpointPrefix" : "bedrock-data-automation-runtime",
               "sdkId" : "Bedrock Data Automation Runtime"
            },
            "aws.auth#sigv4" : {
               "name" : "bedrock"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "Amazon Bedrock Data Automation Runtime",
            "smithy.api#title" : "Runtime for Amazon Bedrock Data Automation",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://bedrock-data-automation-runtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://bedrock-data-automation-runtime-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "rules" : [
                                                      {
                                                         "conditions" : [],
                                                         "endpoint" : {
                                                            "headers" : {},
                                                            "properties" : {},
                                                            "url" : "https://bedrock-data-automation-runtime.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                         },
                                                         "type" : "endpoint"
                                                      }
                                                   ],
                                                   "type" : "tree"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://bedrock-data-automation-runtime.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://bedrock-data-automation-runtime.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2024-06-13"
      },
      "com.amazonaws.bedrockdataautomationruntime#AssetProcessingConfiguration" : {
         "members" : {
            "video" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#VideoAssetProcessingConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Video asset processing configuration"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Config containing asset processing related knobs for all modalities"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#AutomationJobResource" : {
         "create" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationAsync"
         },
         "identifiers" : {
            "invocationArn" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InvocationArn"
            }
         },
         "read" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#GetDataAutomationStatus"
         },
         "type" : "resource"
      },
      "com.amazonaws.bedrockdataautomationruntime#AutomationJobStatus" : {
         "members" : {
            "CLIENT_ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ClientError"
               }
            },
            "CREATED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Created"
               }
            },
            "IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "InProgress"
               }
            },
            "SERVICE_ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ServiceError"
               }
            },
            "SUCCESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Success"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "List of status supported by automation jobs"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomationruntime#Blueprint" : {
         "members" : {
            "blueprintArn" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#BlueprintArn",
               "traits" : {
                  "smithy.api#documentation" : "Arn of blueprint.",
                  "smithy.api#required" : {}
               }
            },
            "stage" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#BlueprintStage",
               "traits" : {
                  "smithy.api#documentation" : "Stage of blueprint."
               }
            },
            "version" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#BlueprintVersion",
               "traits" : {
                  "smithy.api#documentation" : "Version of blueprint."
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Structure for single blueprint entity."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#BlueprintArn" : {
         "traits" : {
            "smithy.api#documentation" : "ARN of a Blueprint",
            "smithy.api#length" : {
               "max" : 128
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):blueprint/(bedrock-data-insights-public-[a-zA-Z0-9-_]{1,30}|bedrock-data-automation-public-[a-zA-Z0-9-_]{1,30}|[a-zA-Z0-9-]{12,36})$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#BlueprintList" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#Blueprint",
            "traits" : {
               "smithy.api#documentation" : "Blueprint."
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Blueprint list.",
            "smithy.api#length" : {
               "max" : 40,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomationruntime#BlueprintStage" : {
         "members" : {
            "DEVELOPMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEVELOPMENT"
               }
            },
            "LIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LIVE"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Blueprint stage enum."
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomationruntime#BlueprintVersion" : {
         "traits" : {
            "smithy.api#documentation" : "Blueprint version.",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[0-9]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#CustomOutputStatus" : {
         "members" : {
            "MATCH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MATCH"
               }
            },
            "NO_MATCH" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NO_MATCH"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Custom output status enum"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomationruntime#DataAutomationArn" : {
         "traits" : {
            "smithy.api#documentation" : "Data automation arn.",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):data-automation-project/[a-zA-Z0-9-_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#DataAutomationConfiguration" : {
         "members" : {
            "dataAutomationProjectArn" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#DataAutomationArn",
               "traits" : {
                  "smithy.api#documentation" : "Data automation project arn.",
                  "smithy.api#required" : {}
               }
            },
            "stage" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#DataAutomationStage",
               "traits" : {
                  "smithy.api#documentation" : "Data automation stage."
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Data automation configuration."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#DataAutomationProfileArn" : {
         "traits" : {
            "smithy.api#documentation" : "Data automation profile arn.",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):data-automation-profile/[a-zA-Z0-9-_.]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#DataAutomationStage" : {
         "members" : {
            "DEVELOPMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEVELOPMENT"
               }
            },
            "LIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LIVE"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Data automation stage."
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomationruntime#EncryptionConfiguration" : {
         "members" : {
            "kmsEncryptionContext" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#EncryptionContextMap",
               "traits" : {
                  "smithy.api#documentation" : "KMS encryption context."
               }
            },
            "kmsKeyId" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#KMSKeyId",
               "traits" : {
                  "smithy.api#documentation" : "Customer KMS key used for encryption",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Encryption configuration."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#EncryptionContextKey" : {
         "traits" : {
            "smithy.api#documentation" : "Excryption context key.",
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            },
            "smithy.api#pattern" : "^.*\\S.*$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#EncryptionContextMap" : {
         "key" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#EncryptionContextKey"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "map",
         "value" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#EncryptionContextValue"
         }
      },
      "com.amazonaws.bedrockdataautomationruntime#EncryptionContextValue" : {
         "traits" : {
            "smithy.api#documentation" : "Encryption context value.",
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            },
            "smithy.api#pattern" : "^.*\\S.*$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#EventBridgeConfiguration" : {
         "members" : {
            "eventBridgeEnabled" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "Event bridge flag.",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Event bridge configuration."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#GetDataAutomationStatus" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#GetDataAutomationStatusRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#GetDataAutomationStatusResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "API used to get data automation status.",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomationruntime#GetDataAutomationStatusRequest" : {
         "members" : {
            "invocationArn" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InvocationArn",
               "traits" : {
                  "smithy.api#documentation" : "Invocation arn.",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Structure for request of GetDataAutomationStatus API.",
            "smithy.api#input" : {},
            "smithy.api#references" : [
               {
                  "resource" : "com.amazonaws.bedrockdataautomationruntime#AutomationJobResource"
               }
            ]
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#GetDataAutomationStatusResponse" : {
         "members" : {
            "errorMessage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "Error Message."
               }
            },
            "errorType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "Error Type."
               }
            },
            "jobCompletionTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "Job completion time.",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "jobDurationInSeconds" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "Job duration in seconds."
               }
            },
            "jobSubmissionTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "Job Submission time.",
                  "smithy.api#timestampFormat" : "date-time"
               }
            },
            "outputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#OutputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Output configuration."
               }
            },
            "status" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AutomationJobStatus",
               "traits" : {
                  "smithy.api#documentation" : "Job Status."
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Response of GetDataAutomationStatus API.",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#IdempotencyToken" : {
         "traits" : {
            "smithy.api#documentation" : "Client specified token used for idempotency checks",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9](-*[a-zA-Z0-9]){1,256}$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#InputConfiguration" : {
         "members" : {
            "assetProcessingConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AssetProcessingConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Asset processing configuration"
               }
            },
            "s3Uri" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#S3Uri",
               "traits" : {
                  "smithy.api#documentation" : "S3 uri.",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Input configuration."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#InternalServerException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception is for any internal un-expected service errors.",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#InvocationArn" : {
         "traits" : {
            "smithy.api#documentation" : "Invocation arn.",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:data-automation-invocation/[a-zA-Z0-9-_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomation" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Sync API: Invoke data automation."
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationAsync" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationAsyncRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationAsyncResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Async API: Invoke data automation.",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationAsyncRequest" : {
         "members" : {
            "blueprints" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#BlueprintList",
               "traits" : {
                  "smithy.api#documentation" : "Blueprint list."
               }
            },
            "clientToken" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#IdempotencyToken",
               "traits" : {
                  "smithy.api#documentation" : "Idempotency token.",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "dataAutomationConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#DataAutomationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Data automation configuration."
               }
            },
            "dataAutomationProfileArn" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#DataAutomationProfileArn",
               "traits" : {
                  "smithy.api#documentation" : "Data automation profile ARN",
                  "smithy.api#required" : {}
               }
            },
            "encryptionConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#EncryptionConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Encryption configuration."
               }
            },
            "inputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Input configuration.",
                  "smithy.api#required" : {}
               }
            },
            "notificationConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#NotificationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Notification configuration."
               }
            },
            "outputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#OutputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Output configuration.",
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TagList",
               "traits" : {
                  "smithy.api#documentation" : "List of tags."
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Invoke Data Automation Async Request",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationAsyncResponse" : {
         "members" : {
            "invocationArn" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InvocationArn",
               "traits" : {
                  "smithy.api#documentation" : "ARN of the automation job",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Invoke Data Automation Async Response",
            "smithy.api#output" : {},
            "smithy.api#references" : [
               {
                  "resource" : "com.amazonaws.bedrockdataautomationruntime#AutomationJobResource"
               }
            ]
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationRequest" : {
         "members" : {
            "blueprints" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#BlueprintList",
               "traits" : {
                  "smithy.api#documentation" : "Blueprint list."
               }
            },
            "dataAutomationConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#DataAutomationConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Data automation configuration."
               }
            },
            "dataAutomationProfileArn" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#DataAutomationProfileArn",
               "traits" : {
                  "smithy.api#documentation" : "Data automation profile ARN",
                  "smithy.api#required" : {}
               }
            },
            "encryptionConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#EncryptionConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Encryption configuration."
               }
            },
            "inputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#SyncInputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Input configuration.",
                  "smithy.api#required" : {}
               }
            },
            "outputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#OutputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Output configuration."
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Invoke Data Automation Request",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#InvokeDataAutomationResponse" : {
         "members" : {
            "outputConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#OutputConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Output configuration"
               }
            },
            "outputSegments" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#OutputSegmentList",
               "traits" : {
                  "smithy.api#addedDefault" : {},
                  "smithy.api#default" : [],
                  "smithy.api#documentation" : "List of outputs for each logical sub-doc"
               }
            },
            "semanticModality" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#SemanticModality",
               "traits" : {
                  "smithy.api#documentation" : "Detected semantic modality",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Invoke Data Automation Response",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#KMSKeyId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#ListTagsForResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#ListTagsForResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "List tags for an Amazon Bedrock Data Automation resource"
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomationruntime#ListTagsForResourceRequest" : {
         "members" : {
            "resourceARN" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TaggableResourceArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#ListTagsForResourceResponse" : {
         "members" : {
            "tags" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TagList"
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#NonBlankString" : {
         "traits" : {
            "smithy.api#pattern" : "^[\\s\\S]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#NotificationConfiguration" : {
         "members" : {
            "eventBridgeConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#EventBridgeConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Event bridge configuration.",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Notification configuration."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#OutputConfiguration" : {
         "members" : {
            "s3Uri" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#S3Uri",
               "traits" : {
                  "smithy.api#documentation" : "S3 uri.",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Output configuration."
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#OutputSegment" : {
         "members" : {
            "customOutput" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "Custom output response"
               }
            },
            "customOutputStatus" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#CustomOutputStatus",
               "traits" : {
                  "smithy.api#documentation" : "Status of blueprint match"
               }
            },
            "standardOutput" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "Standard output response"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Results for an output segment"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#OutputSegmentList" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#OutputSegment",
            "traits" : {
               "smithy.api#documentation" : "Output segment"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Output segment list"
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomationruntime#ResourceNotFoundException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception will be thrown when resource provided from customer not found.",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#S3Uri" : {
         "traits" : {
            "smithy.api#documentation" : "A path in S3",
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/[^\\x00-\\x1F\\x7F\\{^}%`\\]\">\\[~<#|]*)?$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#SemanticModality" : {
         "members" : {
            "AUDIO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AUDIO"
               }
            },
            "DOCUMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DOCUMENT"
               }
            },
            "IMAGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IMAGE"
               }
            },
            "VIDEO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VIDEO"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Semantic modality enum"
         },
         "type" : "enum"
      },
      "com.amazonaws.bedrockdataautomationruntime#ServiceQuotaExceededException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception will be thrown when service quota is exceeded.",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 402
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#ServiceUnavailableException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception will be thrown when service is temporarily unavailable.",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 503
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#SyncInputConfiguration" : {
         "members" : {
            "bytes" : {
               "target" : "smithy.api#Blob",
               "traits" : {
                  "smithy.api#documentation" : "Input data as bytes"
               }
            },
            "s3Uri" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#S3Uri",
               "traits" : {
                  "smithy.api#documentation" : "S3 URI of the input data"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Input configuration for synchronous API"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#Tag" : {
         "members" : {
            "key" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TagKey",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "value" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TagValue",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Key value pair of a tag"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#TagKey" : {
         "traits" : {
            "smithy.api#documentation" : "Defines the context of the tag.",
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?!aws:)[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#TagKeyList" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#TagKey"
         },
         "traits" : {
            "smithy.api#documentation" : "List of tag keys",
            "smithy.api#length" : {
               "max" : 200,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomationruntime#TagList" : {
         "member" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#Tag"
         },
         "traits" : {
            "smithy.api#documentation" : "List of tags",
            "smithy.api#length" : {
               "max" : 200,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.bedrockdataautomationruntime#TagResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#TagResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#TagResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Tag an Amazon Bedrock Data Automation resource"
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomationruntime#TagResourceRequest" : {
         "members" : {
            "resourceARN" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TaggableResourceArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "tags" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TagList",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#TagResourceResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#TagValue" : {
         "traits" : {
            "smithy.api#documentation" : "Defines the value within the context. e.g. <key=reason, value=training>.",
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#TaggableResourceArn" : {
         "traits" : {
            "smithy.api#documentation" : "ARN of a taggable resource",
            "smithy.api#length" : {
               "max" : 1011,
               "min" : 20
            },
            "smithy.api#pattern" : "^arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:data-automation-invocation/[a-zA-Z0-9-_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.bedrockdataautomationruntime#ThrottlingException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception will be thrown when customer reached API TPS limit.",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#TimestampSegment" : {
         "members" : {
            "endTimeMillis" : {
               "target" : "smithy.api#Long",
               "traits" : {
                  "smithy.api#documentation" : "End timestamp in milliseconds",
                  "smithy.api#range" : {
                     "min" : 300000
                  },
                  "smithy.api#required" : {}
               }
            },
            "startTimeMillis" : {
               "target" : "smithy.api#Long",
               "traits" : {
                  "smithy.api#documentation" : "Start timestamp in milliseconds",
                  "smithy.api#range" : {
                     "min" : 0
                  },
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Timestamp segment"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#UntagResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#InternalServerException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.bedrockdataautomationruntime#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#UntagResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.bedrockdataautomationruntime#UntagResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "Untag an Amazon Bedrock Data Automation resource"
         },
         "type" : "operation"
      },
      "com.amazonaws.bedrockdataautomationruntime#UntagResourceRequest" : {
         "members" : {
            "resourceARN" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TaggableResourceArn",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "tagKeys" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TagKeyList",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#UntagResourceResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#ValidationException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#NonBlankString"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "This exception will be thrown when customer provided invalid parameters.",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#VideoAssetProcessingConfiguration" : {
         "members" : {
            "segmentConfiguration" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#VideoSegmentConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "Delimits the segment of the input that will be processed"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Video asset processing configuration"
         },
         "type" : "structure"
      },
      "com.amazonaws.bedrockdataautomationruntime#VideoSegmentConfiguration" : {
         "members" : {
            "timestampSegment" : {
               "target" : "com.amazonaws.bedrockdataautomationruntime#TimestampSegment",
               "traits" : {
                  "smithy.api#documentation" : "Timestamp segment"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "Delimits the segment of the input that will be processed"
         },
         "type" : "union"
      }
   },
   "smithy" : "2.0"
}
