{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.codegurureviewer#AWSGuruFrontendService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AssociateRepository"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#CreateCodeReview"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#DescribeCodeReview"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#DescribeRecommendationFeedback"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#DescribeRepositoryAssociation"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#DisassociateRepository"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ListCodeReviews"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ListRecommendationFeedback"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ListRecommendations"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ListRepositoryAssociations"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#PutRecommendationFeedback"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#TagResource"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#UntagResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "codeguru-reviewer",
               "cloudFormationName" : "CodeGuruReviewer",
               "cloudTrailEventSource" : "codeguru-reviewer.amazonaws.com",
               "endpointPrefix" : "codeguru-reviewer",
               "sdkId" : "CodeGuru Reviewer"
            },
            "aws.auth#sigv4" : {
               "name" : "codeguru-reviewer"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>This section provides documentation for the Amazon CodeGuru Reviewer API operations. CodeGuru Reviewer is a\n         service that uses program analysis and machine learning to detect potential defects that\n         are difficult for developers to find and recommends fixes in your Java and Python\n         code.</p>\n         <p>By proactively detecting and providing recommendations for addressing code defects and\n         implementing best practices, CodeGuru Reviewer improves the overall quality and maintainability of\n         your code base during the code review stage. For more information about CodeGuru Reviewer, see the\n               <i>\n               <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/welcome.html\">Amazon CodeGuru Reviewer User Guide</a>.</i>\n         </p>\n         <p>To improve the security of your CodeGuru Reviewer API calls, you can establish a private connection\n         between your VPC and CodeGuru Reviewer by creating an <i>interface VPC endpoint</i>. For\n         more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/vpc-interface-endpoints.html\">CodeGuru Reviewer and interface VPC\n            endpoints (Amazon Web Services PrivateLink)</a> in the <i>Amazon CodeGuru Reviewer User\n         Guide</i>.</p>",
            "smithy.api#title" : "Amazon CodeGuru Reviewer",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://codeguru-reviewer-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://codeguru-reviewer-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://codeguru-reviewer.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://codeguru-reviewer.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://codeguru-reviewer.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2019-09-19"
      },
      "com.amazonaws.codegurureviewer#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codegurureviewer#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#AnalysisType" : {
         "members" : {
            "CODE_QUALITY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CodeQuality"
               }
            },
            "SECURITY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Security"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codegurureviewer#AnalysisTypes" : {
         "member" : {
            "target" : "com.amazonaws.codegurureviewer#AnalysisType"
         },
         "type" : "list"
      },
      "com.amazonaws.codegurureviewer#Arn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1600,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:[a-z-]+:[\\w-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#AssociateRepository" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ConflictException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codegurureviewer#AssociateRepositoryRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codegurureviewer#AssociateRepositoryResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Use to associate an Amazon Web Services CodeCommit repository or a repository managed by Amazon Web Services\n         CodeStar Connections with Amazon CodeGuru Reviewer. When you associate a repository, CodeGuru Reviewer reviews\n         source code changes in the repository's pull requests and provides automatic\n         recommendations. You can view recommendations using the CodeGuru Reviewer console. For more\n         information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/recommendations.html\">Recommendations in\n            Amazon CodeGuru Reviewer</a> in the <i>Amazon CodeGuru Reviewer User Guide.</i>\n         </p>\n         <p>If you associate a CodeCommit or S3 repository, it must be in the same Amazon Web Services Region and\n         Amazon Web Services account where its CodeGuru Reviewer code reviews are configured.</p>\n         <p>Bitbucket and GitHub Enterprise Server repositories are managed by Amazon Web Services CodeStar\n         Connections to connect to CodeGuru Reviewer. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/getting-started-associate-repository.html\">Associate a\n            repository</a> in the <i>Amazon CodeGuru Reviewer User Guide.</i>\n         </p>\n         <note>\n            <p>You cannot use the CodeGuru Reviewer SDK or the Amazon Web Services CLI to associate a GitHub repository with\n            Amazon CodeGuru Reviewer. To associate a GitHub repository, use the console. For more information, see\n               <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/getting-started-with-guru.html\">Getting started with\n               CodeGuru Reviewer</a> in the <i>CodeGuru Reviewer User Guide.</i>\n            </p>\n         </note>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/associations"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codegurureviewer#AssociateRepositoryRequest" : {
         "members" : {
            "ClientRequestToken" : {
               "target" : "com.amazonaws.codegurureviewer#ClientRequestToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon CodeGuru Reviewer uses this value to prevent the accidental creation of duplicate repository\n         associations if there are failures and retries.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "KMSKeyDetails" : {
               "target" : "com.amazonaws.codegurureviewer#KMSKeyDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>A <code>KMSKeyDetails</code> object that contains:</p>\n         <ul>\n            <li>\n               <p>The encryption option for this repository association. It is either owned by Amazon Web Services\n               Key Management Service (KMS) (<code>AWS_OWNED_CMK</code>) or customer managed\n                  (<code>CUSTOMER_MANAGED_CMK</code>).</p>\n            </li>\n            <li>\n               <p>The ID of the Amazon Web Services KMS key that is associated with this repository\n               association.</p>\n            </li>\n         </ul>"
               }
            },
            "Repository" : {
               "target" : "com.amazonaws.codegurureviewer#Repository",
               "traits" : {
                  "smithy.api#documentation" : "<p>The repository to associate.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codegurureviewer#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts:</p>\n         <ul>\n            <li>\n               <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n            </li>\n            <li>\n               <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#AssociateRepositoryResponse" : {
         "members" : {
            "RepositoryAssociation" : {
               "target" : "com.amazonaws.codegurureviewer#RepositoryAssociation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the repository association.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codegurureviewer#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts:</p>\n         <ul>\n            <li>\n               <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n            </li>\n            <li>\n               <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#AssociationArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1600,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#AssociationId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#BranchDiffSourceCodeType" : {
         "members" : {
            "DestinationBranchName" : {
               "target" : "com.amazonaws.codegurureviewer#BranchName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The destination branch for a diff in an associated repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SourceBranchName" : {
               "target" : "com.amazonaws.codegurureviewer#BranchName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source branch for a diff in an associated repository.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A type of <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_SourceCodeType\">SourceCodeType</a> that\n         specifies a code diff between a source and destination branch in an associated\n         repository.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#BranchName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#BuildArtifactsObjectKey" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^\\S(.*\\S)?$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#ClientRequestToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\w-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#CodeArtifacts" : {
         "members" : {
            "BuildArtifactsObjectKey" : {
               "target" : "com.amazonaws.codegurureviewer#BuildArtifactsObjectKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The S3 object key for a build artifacts .zip file that contains .jar or .class files.\n         This is required for a code review with security analysis. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/working-with-cicd.html\">Create\n            code reviews with GitHub Actions</a> in the <i>Amazon CodeGuru Reviewer User\n            Guide</i>.</p>"
               }
            },
            "SourceCodeArtifactsObjectKey" : {
               "target" : "com.amazonaws.codegurureviewer#SourceCodeArtifactsObjectKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The S3 object key for a source code .zip file. This is required for all code\n         reviews.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Code artifacts are source code artifacts and build artifacts used in a repository\n         analysis or a pull request review.</p>\n         <ul>\n            <li>\n               <p>Source code artifacts are source code files in a Git repository that are\n               compressed into a .zip file.</p>\n            </li>\n            <li>\n               <p>Build artifacts are .jar or .class files that are compressed in a .zip\n               file.</p>\n            </li>\n         </ul>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#CodeCommitRepository" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.codegurureviewer#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the Amazon Web Services CodeCommit repository. For more information, see <a href=\"https://docs.aws.amazon.com/codecommit/latest/APIReference/API_GetRepository.html#CodeCommit-GetRepository-request-repositoryName\">repositoryName</a> in the <i>Amazon Web Services CodeCommit API\n         Reference</i>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about an Amazon Web Services CodeCommit repository. The CodeCommit repository must be in\n         the same Amazon Web Services Region and Amazon Web Services account where its CodeGuru Reviewer code reviews are\n         configured.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#CodeReview" : {
         "members" : {
            "AnalysisTypes" : {
               "target" : "com.amazonaws.codegurureviewer#AnalysisTypes",
               "traits" : {
                  "smithy.api#documentation" : "<p>The types of analysis performed during a repository analysis or a pull request review.\n         You can specify either <code>Security</code>, <code>CodeQuality</code>, or both.</p>"
               }
            },
            "AssociationArn" : {
               "target" : "com.amazonaws.codegurureviewer#AssociationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">RepositoryAssociation</a> that contains the reviewed source code. You can retrieve\n         associated repository ARNs by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">ListRepositoryAssociations</a>.</p>"
               }
            },
            "CodeReviewArn" : {
               "target" : "com.amazonaws.codegurureviewer#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">CodeReview</a> object.\n      </p>"
               }
            },
            "ConfigFileState" : {
               "target" : "com.amazonaws.codegurureviewer#ConfigFileState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The state of the <code>aws-codeguru-reviewer.yml</code> configuration file that allows\n         the configuration of the CodeGuru Reviewer analysis. The file either exists, doesn't exist, or exists\n         with errors at the root directory of your repository.</p>"
               }
            },
            "CreatedTimeStamp" : {
               "target" : "com.amazonaws.codegurureviewer#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time, in milliseconds since the epoch, when the code review was created.</p>"
               }
            },
            "LastUpdatedTimeStamp" : {
               "target" : "com.amazonaws.codegurureviewer#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time, in milliseconds since the epoch, when the code review was last updated.</p>"
               }
            },
            "Metrics" : {
               "target" : "com.amazonaws.codegurureviewer#Metrics",
               "traits" : {
                  "smithy.api#documentation" : "<p>The statistics from the code review.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.codegurureviewer#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the code review.</p>"
               }
            },
            "Owner" : {
               "target" : "com.amazonaws.codegurureviewer#Owner",
               "traits" : {
                  "smithy.api#documentation" : "<p>The owner of the repository. For an Amazon Web Services CodeCommit repository, this is the Amazon Web Services account ID of the \n      account that owns the repository. For a GitHub, GitHub Enterprise Server, or Bitbucket repository, this is the username for the account that owns the repository.\n      For an S3 repository, it can be the username or Amazon Web Services account ID.</p>"
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.codegurureviewer#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of repository that contains the reviewed code (for example, GitHub or\n         Bitbucket).</p>"
               }
            },
            "PullRequestId" : {
               "target" : "com.amazonaws.codegurureviewer#PullRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pull request ID for the code review.</p>"
               }
            },
            "RepositoryName" : {
               "target" : "com.amazonaws.codegurureviewer#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the repository.</p>"
               }
            },
            "SourceCodeType" : {
               "target" : "com.amazonaws.codegurureviewer#SourceCodeType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the source code for the code review.</p>"
               }
            },
            "State" : {
               "target" : "com.amazonaws.codegurureviewer#JobState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The valid code review states are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Completed</code>: The code review is complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Pending</code>: The code review started and has not completed or failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code>: The code review failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Deleting</code>: The code review is being deleted.</p>\n            </li>\n         </ul>"
               }
            },
            "StateReason" : {
               "target" : "com.amazonaws.codegurureviewer#StateReason",
               "traits" : {
                  "smithy.api#documentation" : "<p>The reason for the state of the code review.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.codegurureviewer#Type",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of code review.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a code review. A code review belongs to the associated repository that\n         contains the reviewed code.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#CodeReviewName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-_]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#CodeReviewSummaries" : {
         "member" : {
            "target" : "com.amazonaws.codegurureviewer#CodeReviewSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.codegurureviewer#CodeReviewSummary" : {
         "members" : {
            "CodeReviewArn" : {
               "target" : "com.amazonaws.codegurureviewer#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">CodeReview</a> object.\n      </p>"
               }
            },
            "CreatedTimeStamp" : {
               "target" : "com.amazonaws.codegurureviewer#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time, in milliseconds since the epoch, when the code review was created.</p>"
               }
            },
            "LastUpdatedTimeStamp" : {
               "target" : "com.amazonaws.codegurureviewer#TimeStamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time, in milliseconds since the epoch, when the code review was last updated.</p>"
               }
            },
            "MetricsSummary" : {
               "target" : "com.amazonaws.codegurureviewer#MetricsSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>The statistics from the code review.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.codegurureviewer#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the code review.</p>"
               }
            },
            "Owner" : {
               "target" : "com.amazonaws.codegurureviewer#Owner",
               "traits" : {
                  "smithy.api#documentation" : "<p>The owner of the repository. For an Amazon Web Services CodeCommit repository, this is the Amazon Web Services account ID of the \n      account that owns the repository. For a GitHub, GitHub Enterprise Server, or Bitbucket repository, this is the username for the account that owns the repository.\n      For an S3 repository, it can be the username or Amazon Web Services account ID.</p>"
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.codegurureviewer#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The provider type of the repository association.</p>"
               }
            },
            "PullRequestId" : {
               "target" : "com.amazonaws.codegurureviewer#PullRequestId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pull request ID for the code review.</p>"
               }
            },
            "RepositoryName" : {
               "target" : "com.amazonaws.codegurureviewer#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the repository.</p>"
               }
            },
            "SourceCodeType" : {
               "target" : "com.amazonaws.codegurureviewer#SourceCodeType"
            },
            "State" : {
               "target" : "com.amazonaws.codegurureviewer#JobState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The state of the code review.</p>\n         <p>The valid code review states are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Completed</code>: The code review is complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Pending</code>: The code review started and has not completed or failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code>: The code review failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Deleting</code>: The code review is being deleted.</p>\n            </li>\n         </ul>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.codegurureviewer#Type",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the code review.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about the summary of the code review.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#CodeReviewType" : {
         "members" : {
            "AnalysisTypes" : {
               "target" : "com.amazonaws.codegurureviewer#AnalysisTypes",
               "traits" : {
                  "smithy.api#documentation" : "<p>They types of analysis performed during a repository analysis or a pull request review.\n         You can specify either <code>Security</code>, <code>CodeQuality</code>, or both.</p>"
               }
            },
            "RepositoryAnalysis" : {
               "target" : "com.amazonaws.codegurureviewer#RepositoryAnalysis",
               "traits" : {
                  "smithy.api#documentation" : "<p>A code review that analyzes all code under a specified branch in an associated\n         repository. The associated repository is specified using its ARN in <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\">CreateCodeReview</a>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The type of a code review. There are two code review types:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PullRequest</code> - A code review that is automatically triggered by a pull\n               request on an associated repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RepositoryAnalysis</code> - A code review that analyzes all code under a\n               specified branch in an associated repository. The associated repository is specified\n               using its ARN in <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\">CreateCodeReview</a>.</p>\n            </li>\n         </ul>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#CommitDiffSourceCodeType" : {
         "members" : {
            "DestinationCommit" : {
               "target" : "com.amazonaws.codegurureviewer#CommitId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The SHA of the destination commit used to generate a commit diff. This field is required\n         for a pull request code review.</p>"
               }
            },
            "MergeBaseCommit" : {
               "target" : "com.amazonaws.codegurureviewer#CommitId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The SHA of the merge base of a commit.</p>"
               }
            },
            "SourceCommit" : {
               "target" : "com.amazonaws.codegurureviewer#CommitId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The SHA of the source commit used to generate a commit diff. This field is required for\n         a pull request code review.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A type of <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_SourceCodeType\">SourceCodeType</a> that\n         specifies the commit diff for a pull request on an associated repository. The\n            <code>SourceCommit</code> and <code>DestinationCommit</code> fields are required to do a\n         pull request code review.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#CommitId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 6
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#ConfigFileState" : {
         "members" : {
            "ABSENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Absent"
               }
            },
            "PRESENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Present"
               }
            },
            "PRESENT_WITH_ERRORS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PresentWithErrors"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codegurureviewer#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codegurureviewer#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The requested operation would cause a conflict with the current state of a service\n         resource associated with the request. Resolve the conflict before retrying this request.\n      </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#ConnectionArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#CreateCodeReview" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ConflictException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codegurureviewer#CreateCodeReviewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codegurureviewer#CreateCodeReviewResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Use to create a code review with a <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReviewType.html\">CodeReviewType</a> of\n            <code>RepositoryAnalysis</code>. This type of code review analyzes all code under a\n         specified branch in an associated repository. <code>PullRequest</code> code reviews are\n         automatically triggered by a pull request.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/codereviews"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codegurureviewer#CreateCodeReviewRequest" : {
         "members" : {
            "ClientRequestToken" : {
               "target" : "com.amazonaws.codegurureviewer#ClientRequestToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon CodeGuru Reviewer uses this value to prevent the accidental creation of duplicate code reviews\n         if there are failures and retries.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "Name" : {
               "target" : "com.amazonaws.codegurureviewer#CodeReviewName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the code review. The name of each code review in your Amazon Web Services account must be\n         unique.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RepositoryAssociationArn" : {
               "target" : "com.amazonaws.codegurureviewer#AssociationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">RepositoryAssociation</a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">ListRepositoryAssociations</a>.</p>\n         <p>A code review can only be created on an associated repository. This is the ARN of the\n         associated repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Type" : {
               "target" : "com.amazonaws.codegurureviewer#CodeReviewType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of code review to create. This is specified using a <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReviewType.html\">CodeReviewType</a>\n         object. You can create a code review only of type <code>RepositoryAnalysis</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#CreateCodeReviewResponse" : {
         "members" : {
            "CodeReview" : {
               "target" : "com.amazonaws.codegurureviewer#CodeReview"
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#DescribeCodeReview" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codegurureviewer#DescribeCodeReviewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codegurureviewer#DescribeCodeReviewResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the metadata associated with the code review along with its status.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/codereviews/{CodeReviewArn}"
            },
            "smithy.waiters#waitable" : {
               "CodeReviewCompleted" : {
                  "acceptors" : [
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "Completed",
                              "path" : "CodeReview.State"
                           }
                        },
                        "state" : "success"
                     },
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "Failed",
                              "path" : "CodeReview.State"
                           }
                        },
                        "state" : "failure"
                     },
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "Pending",
                              "path" : "CodeReview.State"
                           }
                        },
                        "state" : "retry"
                     }
                  ],
                  "documentation" : "Wait until a code review is complete.",
                  "minDelay" : 10
               }
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codegurureviewer#DescribeCodeReviewRequest" : {
         "members" : {
            "CodeReviewArn" : {
               "target" : "com.amazonaws.codegurureviewer#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">CodeReview</a> object.\n      </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#DescribeCodeReviewResponse" : {
         "members" : {
            "CodeReview" : {
               "target" : "com.amazonaws.codegurureviewer#CodeReview",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the code review.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#DescribeRecommendationFeedback" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codegurureviewer#DescribeRecommendationFeedbackRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codegurureviewer#DescribeRecommendationFeedbackResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the customer feedback for a CodeGuru Reviewer recommendation.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/feedback/{CodeReviewArn}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codegurureviewer#DescribeRecommendationFeedbackRequest" : {
         "members" : {
            "CodeReviewArn" : {
               "target" : "com.amazonaws.codegurureviewer#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">CodeReview</a> object.\n      </p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "RecommendationId" : {
               "target" : "com.amazonaws.codegurureviewer#RecommendationId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The recommendation ID that can be used to track the provided recommendations and then to\n         collect the feedback.</p>",
                  "smithy.api#httpQuery" : "RecommendationId",
                  "smithy.api#required" : {}
               }
            },
            "UserId" : {
               "target" : "com.amazonaws.codegurureviewer#UserId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional parameter to describe the feedback for a given user. If this is not supplied,\n         it defaults to the user making the request.</p>\n         <p>\n         The <code>UserId</code> is an IAM principal that can be specified as an Amazon Web Services account ID or an Amazon Resource Name (ARN). For \n         more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\">\n            Specifying a Principal</a> in the <i>Amazon Web Services Identity and Access Management User Guide</i>.</p>",
                  "smithy.api#httpQuery" : "UserId"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#DescribeRecommendationFeedbackResponse" : {
         "members" : {
            "RecommendationFeedback" : {
               "target" : "com.amazonaws.codegurureviewer#RecommendationFeedback",
               "traits" : {
                  "smithy.api#documentation" : "<p>The recommendation feedback given by the user.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#DescribeRepositoryAssociation" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#NotFoundException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codegurureviewer#DescribeRepositoryAssociationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codegurureviewer#DescribeRepositoryAssociationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">RepositoryAssociation</a> object that contains information about the requested\n         repository association.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/associations/{AssociationArn}"
            },
            "smithy.waiters#waitable" : {
               "RepositoryAssociationSucceeded" : {
                  "acceptors" : [
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "Associated",
                              "path" : "RepositoryAssociation.State"
                           }
                        },
                        "state" : "success"
                     },
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "Failed",
                              "path" : "RepositoryAssociation.State"
                           }
                        },
                        "state" : "failure"
                     },
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "Associating",
                              "path" : "RepositoryAssociation.State"
                           }
                        },
                        "state" : "retry"
                     }
                  ],
                  "documentation" : "Wait until a repository association is complete.",
                  "minDelay" : 10
               }
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codegurureviewer#DescribeRepositoryAssociationRequest" : {
         "members" : {
            "AssociationArn" : {
               "target" : "com.amazonaws.codegurureviewer#AssociationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">RepositoryAssociation</a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">ListRepositoryAssociations</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#DescribeRepositoryAssociationResponse" : {
         "members" : {
            "RepositoryAssociation" : {
               "target" : "com.amazonaws.codegurureviewer#RepositoryAssociation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the repository association.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codegurureviewer#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts:</p>\n         <ul>\n            <li>\n               <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n            </li>\n            <li>\n               <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#DisassociateRepository" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ConflictException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#NotFoundException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codegurureviewer#DisassociateRepositoryRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codegurureviewer#DisassociateRepositoryResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes the association between Amazon CodeGuru Reviewer and a repository.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/associations/{AssociationArn}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codegurureviewer#DisassociateRepositoryRequest" : {
         "members" : {
            "AssociationArn" : {
               "target" : "com.amazonaws.codegurureviewer#AssociationArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">RepositoryAssociation</a> object. You can retrieve this ARN by calling <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">ListRepositoryAssociations</a>.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#DisassociateRepositoryResponse" : {
         "members" : {
            "RepositoryAssociation" : {
               "target" : "com.amazonaws.codegurureviewer#RepositoryAssociation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Information about the disassociated repository.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.codegurureviewer#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts:</p>\n         <ul>\n            <li>\n               <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n            </li>\n            <li>\n               <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n            </li>\n         </ul>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#EncryptionOption" : {
         "members" : {
            "AoCmk" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AWS_OWNED_CMK"
               }
            },
            "CmCmk" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CUSTOMER_MANAGED_CMK"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codegurureviewer#ErrorMessage" : {
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#EventInfo" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.codegurureviewer#EventName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the event. The possible names are <code>pull_request</code>,\n            <code>workflow_dispatch</code>, <code>schedule</code>, and <code>push</code>\n         </p>"
               }
            },
            "State" : {
               "target" : "com.amazonaws.codegurureviewer#EventState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The state of an event. The state might be open, closed, or another state.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about an event. The event might be a push, pull request, scheduled request,\n         or another type of event.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#EventName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 1
            },
            "smithy.api#pattern" : "^[ \\-A-Z_a-z]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#EventState" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 1
            },
            "smithy.api#pattern" : "^[ \\-A-Z_a-z]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#FilePath" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#FindingsCount" : {
         "type" : "long"
      },
      "com.amazonaws.codegurureviewer#InternalServerException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.codegurureviewer#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The server encountered an internal error and is unable to complete the request.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#JobState" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Completed"
               }
            },
            "DELETING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Deleting"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Failed"
               }
            },
            "PENDING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Pending"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.codegurureviewer#JobStates" : {
         "member" : {
            "target" : "com.amazonaws.codegurureviewer#JobState"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 3,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.codegurureviewer#KMSKeyDetails" : {
         "members" : {
            "EncryptionOption" : {
               "target" : "com.amazonaws.codegurureviewer#EncryptionOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>The encryption option for a repository association. It is either owned by Amazon Web Services Key\n         Management Service (KMS) (<code>AWS_OWNED_CMK</code>) or customer managed\n            (<code>CUSTOMER_MANAGED_CMK</code>).</p>"
               }
            },
            "KMSKeyId" : {
               "target" : "com.amazonaws.codegurureviewer#KMSKeyId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the Amazon Web Services KMS key that is associated with a repository association.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that contains:</p>\n         <ul>\n            <li>\n               <p>The encryption option for a repository association. It is either owned by Amazon Web Services\n               Key Management Service (KMS) (<code>AWS_OWNED_CMK</code>) or customer managed\n                  (<code>CUSTOMER_MANAGED_CMK</code>).</p>\n            </li>\n            <li>\n               <p>The ID of the Amazon Web Services KMS key that is associated with a repository\n               association.</p>\n            </li>\n         </ul>"
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#KMSKeyId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.codegurureviewer#LineNumber" : {
         "type" : "integer"
      },
      "com.amazonaws.codegurureviewer#LinesOfCodeCount" : {
         "type" : "long"
      },
      "com.amazonaws.codegurureviewer#ListCodeReviews" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codegurureviewer#ListCodeReviewsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codegurureviewer#ListCodeReviewsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists all the code reviews that the customer has created in the past 90 days.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/codereviews"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.codegurureviewer#ListCodeReviewsMaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.codegurureviewer#ListCodeReviewsRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.codegurureviewer#ListCodeReviewsMaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results that are returned per call. The default is 100.</p>",
                  "smithy.api#httpQuery" : "MaxResults"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.codegurureviewer#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If <code>nextToken</code> is returned, there are more results available. The value of\n            <code>nextToken</code> is a unique pagination token for each page. Make the call again\n         using the returned token to retrieve the next page. Keep all other arguments\n         unchanged.</p>",
                  "smithy.api#httpQuery" : "NextToken"
               }
            },
            "ProviderTypes" : {
               "target" : "com.amazonaws.codegurureviewer#ProviderTypes",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of provider types for filtering that needs to be applied before displaying the\n         result. For example, <code>providerTypes=[GitHub]</code> lists code reviews from\n         GitHub.</p>",
                  "smithy.api#httpQuery" : "ProviderTypes"
               }
            },
            "RepositoryNames" : {
               "target" : "com.amazonaws.codegurureviewer#RepositoryNames",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of repository names for filtering that needs to be applied before displaying the\n         result.</p>",
                  "smithy.api#httpQuery" : "RepositoryNames"
               }
            },
            "States" : {
               "target" : "com.amazonaws.codegurureviewer#JobStates",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of states for filtering that needs to be applied before displaying the result. For\n         example, <code>states=[Pending]</code> lists code reviews in the Pending state.</p>\n         <p>The valid code review states are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Completed</code>: The code review is complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Pending</code>: The code review started and has not completed or failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code>: The code review failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Deleting</code>: The code review is being deleted.</p>\n            </li>\n         </ul>",
                  "smithy.api#httpQuery" : "States"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.codegurureviewer#Type",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of code reviews to list in the response.</p>",
                  "smithy.api#httpQuery" : "Type",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#ListCodeReviewsResponse" : {
         "members" : {
            "CodeReviewSummaries" : {
               "target" : "com.amazonaws.codegurureviewer#CodeReviewSummaries",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of code reviews that meet the criteria of the request.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.codegurureviewer#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>Pagination token.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.codegurureviewer#ListRecommendationFeedback" : {
         "errors" : [
            {
               "target" : "com.amazonaws.codegurureviewer#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#InternalServerException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.codegurureviewer#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.codegurureviewer#ListRecommendationFeedbackRequest"
         },
         "output" : {
            "target" : "com.amazonaws.codegurureviewer#ListRecommendationFeedbackResponse"
         },
         "traits" : {
[...]
