{
   "shapes" : {
      "com.amazonaws.sagemakerruntimehttp2#AmazonSageMakerRuntimeHttp2" : {
         "operations" : [
            {
               "target" : "com.amazonaws.sagemakerruntimehttp2#InvokeEndpointWithBidirectionalStream"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "sagemaker",
               "cloudFormationName" : "SageMakerRuntime",
               "endpointPrefix" : "runtime.sagemaker",
               "sdkId" : "SageMaker Runtime HTTP2"
            },
            "aws.auth#sigv4" : {
               "name" : "sagemaker"
            },
            "aws.endpoints#standardRegionalEndpoints" : {
               "partitionSpecialCases" : {
                  "aws" : [
                     {
                        "dualStack" : false,
                        "endpoint" : "https://{service}.{region}.{dnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                        "fips" : true
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : true
                     }
                  ],
                  "aws-cn" : [
                     {
                        "dualStack" : false,
                        "endpoint" : "https://{service}.{region}.{dnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                        "fips" : true
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : true
                     }
                  ],
                  "aws-eusc" : [
                     {
                        "dualStack" : false,
                        "endpoint" : "https://{service}.{region}.{dnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                        "fips" : true
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : true
                     }
                  ],
                  "aws-iso" : [
                     {
                        "dualStack" : false,
                        "endpoint" : "https://{service}.{region}.{dnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                        "fips" : true
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : true
                     }
                  ],
                  "aws-iso-b" : [
                     {
                        "dualStack" : false,
                        "endpoint" : "https://{service}.{region}.{dnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                        "fips" : true
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : true
                     }
                  ],
                  "aws-iso-f" : [
                     {
                        "dualStack" : false,
                        "endpoint" : "https://{service}.{region}.{dnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                        "fips" : true
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : true
                     }
                  ],
                  "aws-us-gov" : [
                     {
                        "dualStack" : false,
                        "endpoint" : "https://{service}.{region}.{dnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://{service}.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : false
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dnsSuffix}:8443",
                        "fips" : true
                     },
                     {
                        "dualStack" : true,
                        "endpoint" : "https://runtime-fips.sagemaker.{region}.{dualStackDnsSuffix}:8443",
                        "fips" : true
                     }
                  ]
               }
            },
            "aws.protocols#restJson1" : {
               "eventStreamHttp" : [
                  "h2"
               ],
               "http" : [
                  "h2"
               ]
            },
            "smithy.api#documentation" : "<p> The Amazon SageMaker AI runtime HTTP/2 API. </p>",
            "smithy.api#title" : "Amazon SageMaker Runtime HTTP2",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-cn"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-cn"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-cn"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-cn"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-us-gov"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-us-gov"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-us-gov"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-us-gov"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-b"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-b"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-b"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-b"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-f"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-f"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-f"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-iso-f"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-eusc"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-eusc"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-eusc"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws-eusc"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime-fips.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}:8443"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://runtime.sagemaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://runtime.sagemaker-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://runtime.sagemaker.{Region}.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime-fips.sagemaker.us-east-1.api.aws:8443"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime-fips.sagemaker.us-east-1.amazonaws.com:8443"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime.sagemaker.us-east-1.api.aws:8443"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime.sagemaker.us-east-1.amazonaws.com:8443"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime-fips.sagemaker.cn-northwest-1.api.amazonwebservices.com.cn:8443"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime-fips.sagemaker.cn-northwest-1.amazonaws.com.cn:8443"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime.sagemaker.cn-northwest-1.api.amazonwebservices.com.cn:8443"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime.sagemaker.cn-northwest-1.amazonaws.com.cn:8443"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://runtime-fips.sagemaker.eusc-de-east-1.amazonaws.eu:8443"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
[...]
