{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.connectparticipant#ARN" : {
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.connectparticipant#Message",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#AmazonConnectParticipantServiceLambda" : {
         "operations" : [
            {
               "target" : "com.amazonaws.connectparticipant#CancelParticipantAuthentication"
            },
            {
               "target" : "com.amazonaws.connectparticipant#CompleteAttachmentUpload"
            },
            {
               "target" : "com.amazonaws.connectparticipant#CreateParticipantConnection"
            },
            {
               "target" : "com.amazonaws.connectparticipant#DescribeView"
            },
            {
               "target" : "com.amazonaws.connectparticipant#DisconnectParticipant"
            },
            {
               "target" : "com.amazonaws.connectparticipant#GetAttachment"
            },
            {
               "target" : "com.amazonaws.connectparticipant#GetAuthenticationUrl"
            },
            {
               "target" : "com.amazonaws.connectparticipant#GetTranscript"
            },
            {
               "target" : "com.amazonaws.connectparticipant#SendEvent"
            },
            {
               "target" : "com.amazonaws.connectparticipant#SendMessage"
            },
            {
               "target" : "com.amazonaws.connectparticipant#StartAttachmentUpload"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "connect",
               "cloudFormationName" : "ConnectParticipant",
               "cloudTrailEventSource" : "connectparticipant.amazonaws.com",
               "endpointPrefix" : "participant.connect",
               "sdkId" : "ConnectParticipant"
            },
            "aws.auth#sigv4" : {
               "name" : "execute-api"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Operations_Amazon_Connect_Participant_Service.html\">Participant Service actions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Types_Amazon_Connect_Participant_Service.html\">Participant Service data types</a>\n               </p>\n            </li>\n         </ul>\n         <p>Amazon Connect is an easy-to-use omnichannel cloud contact center service that\n            enables companies of any size to deliver superior customer service at a lower cost.\n                Amazon Connect communications capabilities make it easy for companies to deliver\n            personalized interactions across communication channels, including chat. </p>\n         <p>Use the Amazon Connect Participant Service to manage participants (for example,\n            agents, customers, and managers listening in), and to send messages and events within a\n            chat contact. The APIs in the service enable the following: sending chat messages,\n            attachment sharing, managing a participant's connection state and message events, and\n            retrieving chat transcripts.</p>",
            "smithy.api#title" : "Amazon Connect Participant Service",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://participant.connect-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "name"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      "aws-us-gov"
                                                   ],
                                                   "fn" : "stringEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://participant.connect.{Region}.amazonaws.com"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://participant.connect-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://participant.connect.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://participant.connect.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://participant.connect.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2018-09-07"
      },
      "com.amazonaws.connectparticipant#ArtifactId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ArtifactStatus" : {
         "members" : {
            "APPROVED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "APPROVED"
               }
            },
            "IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IN_PROGRESS"
               }
            },
            "REJECTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REJECTED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.connectparticipant#AttachmentIdList" : {
         "member" : {
            "target" : "com.amazonaws.connectparticipant#ArtifactId"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.connectparticipant#AttachmentItem" : {
         "members" : {
            "AttachmentId" : {
               "target" : "com.amazonaws.connectparticipant#ArtifactId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the attachment.</p>"
               }
            },
            "AttachmentName" : {
               "target" : "com.amazonaws.connectparticipant#AttachmentName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A case-sensitive name of the attachment being uploaded.</p>"
               }
            },
            "ContentType" : {
               "target" : "com.amazonaws.connectparticipant#ContentType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Describes the MIME file type of the attachment. For a list of supported file types, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/feature-limits.html\">Feature specifications</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.connectparticipant#ArtifactStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Status of the attachment.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The case-insensitive input to indicate standard MIME type that describes the format of the file\n            that will be uploaded.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#AttachmentName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#AttachmentSizeInBytes" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "min" : 1
            }
         },
         "type" : "long"
      },
      "com.amazonaws.connectparticipant#Attachments" : {
         "member" : {
            "target" : "com.amazonaws.connectparticipant#AttachmentItem"
         },
         "type" : "list"
      },
      "com.amazonaws.connectparticipant#Attendee" : {
         "members" : {
            "AttendeeId" : {
               "target" : "com.amazonaws.connectparticipant#AttendeeId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Chime SDK attendee ID.</p>"
               }
            },
            "JoinToken" : {
               "target" : "com.amazonaws.connectparticipant#JoinToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The join token used by the Amazon Chime SDK attendee.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The attendee information, including attendee ID and join token.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#AttendeeId" : {
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#AudioFeatures" : {
         "members" : {
            "EchoReduction" : {
               "target" : "com.amazonaws.connectparticipant#MeetingFeatureStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Makes echo reduction available to clients who connect to the meeting.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Has audio-specific configurations as the operating parameter for Echo Reduction.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#AuthenticationUrl" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2083,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#Bool" : {
         "type" : "boolean"
      },
      "com.amazonaws.connectparticipant#CancelParticipantAuthentication" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectparticipant#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectparticipant#CancelParticipantAuthenticationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectparticipant#CancelParticipantAuthenticationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Cancels the authentication session. The opted out branch of the Authenticate Customer\n            flow block will be taken.</p>\n         <note>\n            <p>The current supported channel is chat. This API is not supported for Apple\n                Messages for Business, WhatsApp, or SMS chats.</p>\n         </note>\n         <note>\n            <p>\n               <code>ConnectionToken</code> is used for invoking this API instead of\n                    <code>ParticipantToken</code>.</p>\n         </note>\n         <p>The Amazon Connect Participant Service APIs do not use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4\n                    authentication</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/participant/cancel-authentication"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectparticipant#CancelParticipantAuthenticationRequest" : {
         "members" : {
            "ConnectionToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The authentication token associated with the participant's connection.</p>",
                  "smithy.api#httpHeader" : "X-Amz-Bearer",
                  "smithy.api#required" : {}
               }
            },
            "SessionId" : {
               "target" : "com.amazonaws.connectparticipant#SessionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>sessionId</code> provided in the <code>authenticationInitiated</code>\n            event.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#CancelParticipantAuthenticationResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#ChatContent" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 16384,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ChatContentType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ChatItemId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ChatItemType" : {
         "members" : {
            "ATTACHMENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ATTACHMENT"
               }
            },
            "CHAT_ENDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CHAT_ENDED"
               }
            },
            "CONNECTION_ACK" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONNECTION_ACK"
               }
            },
            "EVENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EVENT"
               }
            },
            "MESSAGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MESSAGE"
               }
            },
            "MESSAGE_DELIVERED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MESSAGE_DELIVERED"
               }
            },
            "MESSAGE_READ" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "MESSAGE_READ"
               }
            },
            "PARTICIPANT_JOINED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PARTICIPANT_JOINED"
               }
            },
            "PARTICIPANT_LEFT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PARTICIPANT_LEFT"
               }
            },
            "TRANSFER_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TRANSFER_FAILED"
               }
            },
            "TRANSFER_SUCCEEDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TRANSFER_SUCCEEDED"
               }
            },
            "TYPING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "TYPING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.connectparticipant#ClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#CompleteAttachmentUpload" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectparticipant#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ConflictException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectparticipant#CompleteAttachmentUploadRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectparticipant#CompleteAttachmentUploadResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Allows you to confirm that the attachment has been uploaded using the pre-signed URL\n            provided in StartAttachmentUpload API. A conflict exception is thrown when an attachment\n            with that identifier is already being uploaded.</p>\n         <p>For security recommendations, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-best-practices.html#bp-security-chat\">Amazon Connect Chat security best practices</a>. </p>\n         <note>\n            <p>\n               <code>ConnectionToken</code> is used for invoking this API instead of\n                    <code>ParticipantToken</code>.</p>\n         </note>\n         <p>The Amazon Connect Participant Service APIs do not use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4\n                    authentication</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/participant/complete-attachment-upload"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectparticipant#CompleteAttachmentUploadRequest" : {
         "members" : {
            "AttachmentIds" : {
               "target" : "com.amazonaws.connectparticipant#AttachmentIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of unique identifiers for the attachments.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ClientToken" : {
               "target" : "com.amazonaws.connectparticipant#NonEmptyClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                  "smithy.api#idempotencyToken" : {},
                  "smithy.api#required" : {}
               }
            },
            "ConnectionToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The authentication token associated with the participant's connection.</p>",
                  "smithy.api#httpHeader" : "X-Amz-Bearer",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#CompleteAttachmentUploadResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.connectparticipant#Reason",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The requested operation conflicts with the current state of a service resource\n            associated with the request. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#ConnectionCredentials" : {
         "members" : {
            "ConnectionToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The connection token.</p>"
               }
            },
            "Expiry" : {
               "target" : "com.amazonaws.connectparticipant#ISO8601Datetime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The expiration of the token.</p>\n         <p>It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example,\n            2019-11-08T02:41:28.172Z.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Connection credentials. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#ConnectionType" : {
         "members" : {
            "CONNECTION_CREDENTIALS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONNECTION_CREDENTIALS"
               }
            },
            "WEBRTC_CONNECTION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "WEBRTC_CONNECTION"
               }
            },
            "WEBSOCKET" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "WEBSOCKET"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.connectparticipant#ConnectionTypeList" : {
         "member" : {
            "target" : "com.amazonaws.connectparticipant#ConnectionType"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.connectparticipant#ContactId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ContentType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#CreateParticipantConnection" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectparticipant#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectparticipant#CreateParticipantConnectionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectparticipant#CreateParticipantConnectionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates the participant's connection. </p>\n         <p>For security recommendations, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-best-practices.html#bp-security-chat\">Amazon Connect Chat security best practices</a>. </p>\n         <p>For WebRTC security recommendations, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-best-practices.html#bp-webrtc-security\">Amazon Connect WebRTC security best practices</a>. </p>\n         <note>\n            <p>\n               <code>ParticipantToken</code> is used for invoking this API instead of\n                    <code>ConnectionToken</code>.</p>\n         </note>\n         <p>The participant token is valid for the lifetime of the participant – until they are\n            part of a contact. For WebRTC participants, if they leave or are disconnected for 60\n            seconds, a new participant needs to be created using the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_CreateParticipant.html\">CreateParticipant</a> API. </p>\n         <p>\n            <b>For <code>WEBSOCKET</code> Type</b>: </p>\n         <p>The response URL for has a connect expiry timeout of 100s. Clients must manually\n            connect to the returned websocket URL and subscribe to the desired topic. </p>\n         <p>For chat, you need to publish the following on the established websocket\n            connection:</p>\n         <p>\n            <code>{\"topic\":\"aws/subscribe\",\"content\":{\"topics\":[\"aws/chat\"]}}</code>\n         </p>\n         <p>Upon websocket URL expiry, as specified in the response ConnectionExpiry parameter,\n            clients need to call this API again to obtain a new websocket URL and perform the same\n            steps as before.</p>\n         <p>The expiry time for the connection token is different than the\n                <code>ChatDurationInMinutes</code>. Expiry time for the connection token is 1\n            day.</p>\n         <p>\n            <b>For <code>WEBRTC_CONNECTION</code> Type</b>: </p>\n         <p>The response includes connection data required for the client application to join the\n            call using the Amazon Chime SDK client libraries. The WebRTCConnection response contains\n            Meeting and Attendee information needed to establish the media connection. </p>\n         <p>The attendee join token in WebRTCConnection response is valid for the lifetime of the\n            participant in the call. If a participant leaves or is disconnected for 60 seconds,\n            their participant credentials will no longer be valid, and a new participant will need\n            to be created to rejoin the call. </p>\n         <p>\n            <b>Message streaming support</b>: This API can also be used\n            together with the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_StartContactStreaming.html\">StartContactStreaming</a> API to create a participant connection for chat\n            contacts that are not using a websocket. For more information about message streaming,\n                <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat-message-streaming.html\">Enable real-time chat\n                message streaming</a> in the <i>Amazon Connect Administrator\n            Guide</i>.</p>\n         <p>\n            <b>Multi-user web, in-app, video calling support</b>: </p>\n         <p>For WebRTC calls, this API is used in conjunction with the CreateParticipant API to\n            enable multi-party calling. The StartWebRTCContact API creates the initial contact and\n            routes it to an agent, while CreateParticipant adds additional participants to the\n            ongoing call. For more information about multi-party WebRTC calls, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-multiuser-inapp.html\">Enable multi-user web, in-app, and video calling</a> in the <i>Amazon Connect\n                Administrator Guide</i>. </p>\n         <p>\n            <b>Feature specifications</b>: For information about feature\n            specifications, such as the allowed number of open websocket connections per participant\n            or maximum number of WebRTC participants, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#feature-limits\">Feature specifications</a> in the <i>Amazon Connect Administrator\n                Guide</i>. </p>\n         <note>\n            <p>The Amazon Connect Participant Service APIs do not use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4\n                    authentication</a>.</p>\n         </note>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/participant/connection"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectparticipant#CreateParticipantConnectionRequest" : {
         "members" : {
            "ConnectParticipant" : {
               "target" : "com.amazonaws.connectparticipant#Bool",
               "traits" : {
                  "smithy.api#documentation" : "<p>Amazon Connect Participant is used to mark the participant as connected for customer\n            participant in message streaming, as well as for agent or manager participant in\n            non-streaming chats.</p>"
               }
            },
            "ParticipantToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is a header parameter.</p>\n         <p>The ParticipantToken as obtained from <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_StartChatContact.html\">StartChatContact</a>\n            API response.</p>",
                  "smithy.api#httpHeader" : "X-Amz-Bearer",
                  "smithy.api#required" : {}
               }
            },
            "Type" : {
               "target" : "com.amazonaws.connectparticipant#ConnectionTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of connection information required. If you need\n                <code>CONNECTION_CREDENTIALS</code> along with marking participant as connected,\n            pass <code>CONNECTION_CREDENTIALS</code> in <code>Type</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#CreateParticipantConnectionResponse" : {
         "members" : {
            "ConnectionCredentials" : {
               "target" : "com.amazonaws.connectparticipant#ConnectionCredentials",
               "traits" : {
                  "smithy.api#documentation" : "<p>Creates the participant's connection credentials. The authentication token associated\n            with the participant's connection.</p>"
               }
            },
            "WebRTCConnection" : {
               "target" : "com.amazonaws.connectparticipant#WebRTCConnection",
               "traits" : {
                  "smithy.api#documentation" : "<p>Creates the participant's WebRTC connection data required for the client application\n            (mobile application or website) to connect to the call. </p>"
               }
            },
            "Websocket" : {
               "target" : "com.amazonaws.connectparticipant#Websocket",
               "traits" : {
                  "smithy.api#documentation" : "<p>Creates the participant's websocket connection.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#DescribeView" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectparticipant#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectparticipant#DescribeViewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectparticipant#DescribeViewResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves the view for the specified view token.</p>\n         <p>For security recommendations, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-best-practices.html#bp-security-chat\">Amazon Connect Chat security best practices</a>. </p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/participant/views/{ViewToken}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectparticipant#DescribeViewRequest" : {
         "members" : {
            "ConnectionToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The connection token.</p>",
                  "smithy.api#httpHeader" : "X-Amz-Bearer",
                  "smithy.api#required" : {}
               }
            },
            "ViewToken" : {
               "target" : "com.amazonaws.connectparticipant#ViewToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>An encrypted token originating from the interactive message of a ShowView block\n            operation. Represents the desired view.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#DescribeViewResponse" : {
         "members" : {
            "View" : {
               "target" : "com.amazonaws.connectparticipant#View",
               "traits" : {
                  "smithy.api#documentation" : "<p>A view resource object. Contains metadata and content necessary to render the\n            view.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#DisconnectParticipant" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectparticipant#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectparticipant#DisconnectParticipantRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectparticipant#DisconnectParticipantResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Disconnects a participant. </p>\n         <p>For security recommendations, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-best-practices.html#bp-security-chat\">Amazon Connect Chat security best practices</a>. </p>\n         <note>\n            <p>\n               <code>ConnectionToken</code> is used for invoking this API instead of\n                    <code>ParticipantToken</code>.</p>\n         </note>\n         <p>The Amazon Connect Participant Service APIs do not use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4\n                    authentication</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/participant/disconnect"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectparticipant#DisconnectParticipantRequest" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.connectparticipant#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "ConnectionToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The authentication token associated with the participant's connection.</p>",
                  "smithy.api#httpHeader" : "X-Amz-Bearer",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#DisconnectParticipantResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#DisplayName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#GetAttachment" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectparticipant#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectparticipant#GetAttachmentRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectparticipant#GetAttachmentResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides a pre-signed URL for download of a completed attachment. This is an\n            asynchronous API for use with active contacts.</p>\n         <p>For security recommendations, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-best-practices.html#bp-security-chat\">Amazon Connect Chat security best practices</a>. </p>\n         <note>\n            <ul>\n               <li>\n                  <p>The participant role <code>CUSTOM_BOT</code> is not permitted to access\n                        attachments customers may upload. An <code>AccessDeniedException</code> can\n                        indicate that the participant may be a CUSTOM_BOT, and it doesn't have\n                        access to attachments.</p>\n               </li>\n               <li>\n                  <p>\n                     <code>ConnectionToken</code> is used for invoking this API instead of\n                            <code>ParticipantToken</code>.</p>\n               </li>\n            </ul>\n         </note>\n         <p>The Amazon Connect Participant Service APIs do not use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4\n                    authentication</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/participant/attachment"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectparticipant#GetAttachmentRequest" : {
         "members" : {
            "AttachmentId" : {
               "target" : "com.amazonaws.connectparticipant#ArtifactId",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier for the attachment.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ConnectionToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The authentication token associated with the participant's connection.</p>",
                  "smithy.api#httpHeader" : "X-Amz-Bearer",
                  "smithy.api#required" : {}
               }
            },
            "UrlExpiryInSeconds" : {
               "target" : "com.amazonaws.connectparticipant#URLExpiryInSeconds",
               "traits" : {
                  "smithy.api#documentation" : "<p>The expiration time of the URL in ISO timestamp. It's specified in ISO 8601 format:\n            yyyy-MM-ddThh:mm:ss.SSSZ. For example, 2019-11-08T02:41:28.172Z.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#GetAttachmentResponse" : {
         "members" : {
            "AttachmentSizeInBytes" : {
               "target" : "com.amazonaws.connectparticipant#AttachmentSizeInBytes",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>The size of the attachment in bytes.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Url" : {
               "target" : "com.amazonaws.connectparticipant#PreSignedAttachmentUrl",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the pre-signed URL that can be used for uploading the file to Amazon S3 when used in response \nto <a href=\"https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_StartAttachmentUpload.html\">StartAttachmentUpload</a>.</p>"
               }
            },
            "UrlExpiry" : {
               "target" : "com.amazonaws.connectparticipant#ISO8601Datetime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The expiration time of the URL in ISO timestamp. It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example, 2019-11-08T02:41:28.172Z.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#GetAuthenticationUrl" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectparticipant#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectparticipant#GetAuthenticationUrlRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectparticipant#GetAuthenticationUrlResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves the AuthenticationUrl for the current authentication session for the\n            AuthenticateCustomer flow block. </p>\n         <p>For security recommendations, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-best-practices.html#bp-security-chat\">Amazon Connect Chat security best practices</a>.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>This API can only be called within one minute of receiving the\n                        authenticationInitiated event.</p>\n               </li>\n               <li>\n                  <p>The current supported channel is chat. This API is not supported for Apple\n                        Messages for Business, WhatsApp, or SMS chats.</p>\n               </li>\n            </ul>\n         </note>\n         <note>\n            <p>\n               <code>ConnectionToken</code> is used for invoking this API instead of\n                    <code>ParticipantToken</code>.</p>\n         </note>\n         <p>The Amazon Connect Participant Service APIs do not use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4\n                    authentication</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/participant/authentication-url"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectparticipant#GetAuthenticationUrlRequest" : {
         "members" : {
            "ConnectionToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The authentication token associated with the participant's connection.</p>",
                  "smithy.api#httpHeader" : "X-Amz-Bearer",
                  "smithy.api#required" : {}
               }
            },
            "RedirectUri" : {
               "target" : "com.amazonaws.connectparticipant#RedirectURI",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL where the customer will be redirected after Amazon Cognito authorizes the\n            user.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SessionId" : {
               "target" : "com.amazonaws.connectparticipant#SessionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sessionId provided in the authenticationInitiated event.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#GetAuthenticationUrlResponse" : {
         "members" : {
            "AuthenticationUrl" : {
               "target" : "com.amazonaws.connectparticipant#AuthenticationUrl",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL where the customer will sign in to the identity provider. This URL contains\n            the authorize endpoint for the Cognito UserPool used in the authentication.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#GetTranscript" : {
         "errors" : [
            {
               "target" : "com.amazonaws.connectparticipant#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#InternalServerException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.connectparticipant#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.connectparticipant#GetTranscriptRequest"
         },
         "output" : {
            "target" : "com.amazonaws.connectparticipant#GetTranscriptResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves a transcript of the session, including details about any attachments. For\n            information about accessing past chat contact transcripts for a persistent chat, see\n                <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat-persistence.html\">Enable persistent chat</a>. </p>\n         <p>For security recommendations, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-best-practices.html#bp-security-chat\">Amazon Connect Chat security best practices</a>. </p>\n         <p>If you have a process that consumes events in the transcript of an chat that has\n            ended, note that chat transcripts contain the following event content types if the event\n            has occurred during the chat session:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>application/vnd.amazonaws.connect.event.participant.invited</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.amazonaws.connect.event.participant.joined</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.amazonaws.connect.event.participant.left</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.amazonaws.connect.event.chat.ended</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.amazonaws.connect.event.transfer.succeeded</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>application/vnd.amazonaws.connect.event.transfer.failed</code>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>\n               <code>ConnectionToken</code> is used for invoking this API instead of\n                    <code>ParticipantToken</code>.</p>\n         </note>\n         <p>The Amazon Connect Participant Service APIs do not use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4\n                    authentication</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/participant/transcript"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.connectparticipant#GetTranscriptRequest" : {
         "members" : {
            "ConnectionToken" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The authentication token associated with the participant's connection.</p>",
                  "smithy.api#httpHeader" : "X-Amz-Bearer",
                  "smithy.api#required" : {}
               }
            },
            "ContactId" : {
               "target" : "com.amazonaws.connectparticipant#ContactId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The contactId from the current contact chain for which transcript is needed.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.connectparticipant#MaxResults",
               "traits" : {
                  "smithy.api#default" : null,
                  "smithy.api#documentation" : "<p>The maximum number of results to return in the page. Default: 10. </p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.connectparticipant#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token. Use the value returned previously in the next subsequent request\n            to retrieve the next set of results.</p>"
               }
            },
            "ScanDirection" : {
               "target" : "com.amazonaws.connectparticipant#ScanDirection",
               "traits" : {
                  "smithy.api#documentation" : "<p>The direction from StartPosition from which to retrieve message. Default: BACKWARD\n            when no StartPosition is provided, FORWARD with StartPosition. </p>"
               }
            },
            "SortOrder" : {
               "target" : "com.amazonaws.connectparticipant#SortKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sort order for the records. Default: DESCENDING.</p>"
               }
            },
            "StartPosition" : {
               "target" : "com.amazonaws.connectparticipant#StartPosition",
               "traits" : {
                  "smithy.api#documentation" : "<p>A filtering option for where to start.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#GetTranscriptResponse" : {
         "members" : {
            "InitialContactId" : {
               "target" : "com.amazonaws.connectparticipant#ContactId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The initial contact ID for the contact. </p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.connectparticipant#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token. Use the value returned previously in the next subsequent request\n            to retrieve the next set of results.</p>"
               }
            },
            "Transcript" : {
               "target" : "com.amazonaws.connectparticipant#Transcript",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of messages in the session.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#GuidString" : {
         "traits" : {
            "smithy.api#pattern" : "^[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ISO8601Datetime" : {
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#Instant" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#InternalServerException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.connectparticipant#Message",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This exception occurs when there is an internal failure in the Amazon Connect service.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#Item" : {
         "members" : {
            "AbsoluteTime" : {
               "target" : "com.amazonaws.connectparticipant#Instant",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the message or event was sent.</p>\n         <p>It's specified in ISO 8601 format: yyyy-MM-ddThh:mm:ss.SSSZ. For example,\n            2019-11-08T02:41:28.172Z.</p>"
               }
            },
            "Attachments" : {
               "target" : "com.amazonaws.connectparticipant#Attachments",
               "traits" : {
                  "smithy.api#documentation" : "<p>Provides information about the attachments.</p>"
               }
            },
            "ContactId" : {
               "target" : "com.amazonaws.connectparticipant#ContactId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The contactId on which the transcript item was originally sent. This field is\n            populated only when the transcript item is from the current chat session.</p>"
               }
            },
            "Content" : {
               "target" : "com.amazonaws.connectparticipant#ChatContent",
               "traits" : {
                  "smithy.api#documentation" : "<p>The content of the message or event.</p>"
               }
            },
            "ContentType" : {
               "target" : "com.amazonaws.connectparticipant#ChatContentType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of content of the item.</p>"
               }
            },
            "DisplayName" : {
               "target" : "com.amazonaws.connectparticipant#DisplayName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The chat display name of the sender.</p>"
               }
            },
            "Id" : {
               "target" : "com.amazonaws.connectparticipant#ChatItemId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the item.</p>"
               }
            },
            "MessageMetadata" : {
               "target" : "com.amazonaws.connectparticipant#MessageMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>The metadata related to the message. Currently this supports only information related\n            to message receipts.</p>"
               }
            },
            "ParticipantId" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the sender in the session.</p>"
               }
            },
            "ParticipantRole" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantRole",
               "traits" : {
                  "smithy.api#documentation" : "<p>The role of the sender. For example, is it a customer, agent, or system.</p>"
               }
            },
            "RelatedContactId" : {
               "target" : "com.amazonaws.connectparticipant#ContactId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The contactId on which the transcript item was originally sent. This field is only\n            populated for persistent chats when the transcript item is from the past chat session.\n            For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat-persistence.html\">Enable persistent\n            chat</a>.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.connectparticipant#ChatItemType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Type of the item: message or event. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An item - message or event - that has been sent. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#JoinToken" : {
         "traits" : {
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#MaxResults" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "max" : 100,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.connectparticipant#MeetingFeatureStatus" : {
         "members" : {
            "AVAILABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AVAILABLE"
               }
            },
            "UNAVAILABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNAVAILABLE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.connectparticipant#MeetingFeaturesConfiguration" : {
         "members" : {
            "Audio" : {
               "target" : "com.amazonaws.connectparticipant#AudioFeatures",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration settings for the audio features available to a meeting.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The configuration settings of the features available to a meeting.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#Message" : {
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#MessageMetadata" : {
         "members" : {
            "MessageId" : {
               "target" : "com.amazonaws.connectparticipant#ChatItemId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the message that contains the metadata information. </p>"
               }
            },
            "MessageProcessingStatus" : {
               "target" : "com.amazonaws.connectparticipant#MessageProcessingStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of Message Processing for the message.</p>"
               }
            },
            "Receipts" : {
               "target" : "com.amazonaws.connectparticipant#Receipts",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of receipt information for a message for different recipients.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains metadata related to a message.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#MessageProcessingMetadata" : {
         "members" : {
            "MessageProcessingStatus" : {
               "target" : "com.amazonaws.connectparticipant#MessageProcessingStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of Message Processing for the message.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Contains metadata for chat messages.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#MessageProcessingStatus" : {
         "members" : {
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "PROCESSING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PROCESSING"
               }
            },
            "REJECTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REJECTED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.connectparticipant#MostRecent" : {
         "traits" : {
            "smithy.api#default" : 0,
            "smithy.api#range" : {
               "max" : 100,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.connectparticipant#NextToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#NonEmptyClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ParticipantId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ParticipantRole" : {
         "members" : {
            "AGENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AGENT"
               }
            },
            "CUSTOMER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CUSTOMER"
               }
            },
            "CUSTOM_BOT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CUSTOM_BOT"
               }
            },
            "SUPERVISOR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SUPERVISOR"
               }
            },
            "SYSTEM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SYSTEM"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.connectparticipant#ParticipantToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#PreSignedAttachmentUrl" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#PreSignedConnectionUrl" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#Reason" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#Receipt" : {
         "members" : {
            "DeliveredTimestamp" : {
               "target" : "com.amazonaws.connectparticipant#Instant",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the message was delivered to the recipient.</p>"
               }
            },
            "ReadTimestamp" : {
               "target" : "com.amazonaws.connectparticipant#Instant",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the message was read by the recipient.</p>"
               }
            },
            "RecipientParticipantId" : {
               "target" : "com.amazonaws.connectparticipant#ParticipantId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the recipient of the message. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The receipt for the message delivered to the recipient.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#Receipts" : {
         "member" : {
            "target" : "com.amazonaws.connectparticipant#Receipt"
         },
         "type" : "list"
      },
      "com.amazonaws.connectparticipant#RedirectURI" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ResourceId" : {
         "type" : "string"
      },
      "com.amazonaws.connectparticipant#ResourceNotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.connectparticipant#Message"
            },
            "ResourceId" : {
               "target" : "com.amazonaws.connectparticipant#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the resource.</p>"
               }
            },
            "ResourceType" : {
               "target" : "com.amazonaws.connectparticipant#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of Amazon Connect resource.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The resource was not found.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.connectparticipant#ResourceType" : {
         "members" : {
            "CONTACT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONTACT"
               }
            },
            "CONTACT_FLOW" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONTACT_FLOW"
               }
            },
            "HIERARCHY_GROUP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HIERARCHY_GROUP"
               }
            },
            "HIERARCHY_LEVEL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
[...]
