{
   "shapes" : {
      "com.amazonaws.cloudcontrol#AlreadyExistsException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "AlreadyExistsException",
               "httpResponseCode" : 400
            },
            "smithy.api#documentation" : "<p>The resource with the name requested already exists.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#CancelResourceRequest" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudcontrol#ConcurrentModificationException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#RequestTokenNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudcontrol#CancelResourceRequestInput"
         },
         "output" : {
            "target" : "com.amazonaws.cloudcontrol#CancelResourceRequestOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Cancels the specified resource operation request. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-cancel\">Canceling resource operation requests</a> in the\n        <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n         <p>Only resource operations requests with a status of <code>PENDING</code> or\n        <code>IN_PROGRESS</code> can be canceled.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudcontrol#CancelResourceRequestInput" : {
         "members" : {
            "RequestToken" : {
               "target" : "com.amazonaws.cloudcontrol#RequestToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the\n      resource operation request.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#CancelResourceRequestOutput" : {
         "members" : {
            "ProgressEvent" : {
               "target" : "com.amazonaws.cloudcontrol#ProgressEvent"
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#ClientToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[-A-Za-z0-9+/=]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#ClientTokenConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ClientTokenConflictException",
               "httpResponseCode" : 409
            },
            "smithy.api#documentation" : "<p>The specified client token has already been used in another resource request.</p>\n         <p>It's best practice for client tokens to be unique for each resource operation request.\n      However, client token expire after 36 hours.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#CloudApiService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.cloudcontrol#CancelResourceRequest"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#CreateResource"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#DeleteResource"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#GetResource"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#GetResourceRequestStatus"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ListResourceRequests"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ListResources"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#UpdateResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "cloudTrailEventSource" : "cloudcontrolapi.amazonaws.com",
               "endpointPrefix" : "cloudcontrolapi",
               "sdkId" : "CloudControl"
            },
            "aws.auth#sigv4" : {
               "name" : "cloudcontrolapi"
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<p>For more information about Amazon Web Services Cloud Control API, see the <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/what-is-cloudcontrolapi.html\">Amazon Web Services Cloud Control API User\n        Guide</a>.</p>",
            "smithy.api#title" : "AWS Cloud Control API",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cloudcontrolapi-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cloudcontrolapi-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://cloudcontrolapi.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://cloudcontrolapi.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ap-southeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://cloudcontrolapi.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2021-09-30"
      },
      "com.amazonaws.cloudcontrol#ConcurrentModificationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ConcurrentModificationException",
               "httpResponseCode" : 500
            },
            "smithy.api#documentation" : "<p>The resource is currently being modified by another operation.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#ConcurrentOperationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "ConcurrentOperationException",
               "httpResponseCode" : 409
            },
            "smithy.api#documentation" : "<p>Another resource operation is currently being performed on this resource.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#CreateResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudcontrol#AlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ClientTokenConflictException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ConcurrentOperationException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#GeneralServiceException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#HandlerFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#HandlerInternalFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#InvalidCredentialsException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NetworkFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NotStabilizedException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NotUpdatableException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#PrivateTypeException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ResourceConflictException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ServiceInternalErrorException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ServiceLimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#TypeNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#UnsupportedActionException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudcontrol#CreateResourceInput"
         },
         "output" : {
            "target" : "com.amazonaws.cloudcontrol#CreateResourceOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates the specified resource. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-create.html\">Creating a\n        resource</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n         <p>After you have initiated a resource creation request, you can monitor the progress of your\n      request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the\n        <code>ProgressEvent</code> type returned by <code>CreateResource</code>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudcontrol#CreateResourceInput" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.cloudcontrol#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier to ensure the idempotency of the resource request. As a\n                                     best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can\n                                     accurately distinguish between request retries and new resource requests. You\n                                     might retry a resource request to ensure that it was successfully received.</p>\n         <p>A client token is valid for 36 hours once used. After that, a resource\n                                     request with the same client token is treated as a new request.</p>\n         <p>If you\n                                     do not specify a client token, one is generated for inclusion in the request.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring\n                                     resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User\n                                     Guide</i>.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "DesiredState" : {
               "target" : "com.amazonaws.cloudcontrol#Properties",
               "traits" : {
                  "smithy.api#documentation" : "<p>Structured data format representing the desired state of the resource, consisting of that\n      resource's properties and their desired values.</p>\n         <note>\n            <p>Cloud Control API currently supports JSON as a structured data format.</p>\n         </note>\n         <p>Specify the desired state as one of the following:</p>\n         <ul>\n            <li>\n               <p>A JSON blob</p>\n            </li>\n            <li>\n               <p>A local path containing the desired state in JSON data format</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-create.html#resource-operations-create-desiredstate\">Composing the desired state of the resource</a> in the <i>Amazon Web Services Cloud Control API User\n        Guide</i>.</p>\n         <p>For more information about the properties of a specific resource, refer to the related\n      topic for the resource in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Resource and property types reference</a> in the <i>CloudFormation Users Guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.cloudcontrol#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Identity and Access Management\n                                    (IAM) role for Cloud Control API to use when performing this resource\n                                    operation. The role specified must have the permissions required for this\n                                    operation. The necessary permissions for each event handler are defined in the\n                                    <code>\n               <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a>\n            </code>\n                                    section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type\n                                    definition schema</a>.</p>\n         <p>If you do not specify a role, Cloud Control API uses a temporary session created using\n                                    your Amazon Web Services user credentials.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying\n                                    credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>"
               }
            },
            "TypeName" : {
               "target" : "com.amazonaws.cloudcontrol#TypeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the resource type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TypeVersionId" : {
               "target" : "com.amazonaws.cloudcontrol#TypeVersionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>For private resource types, the type version to use in this resource\n                                     operation. If you do not specify a resource version, CloudFormation\n                                     uses the default version.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#CreateResourceOutput" : {
         "members" : {
            "ProgressEvent" : {
               "target" : "com.amazonaws.cloudcontrol#ProgressEvent",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the current status of the resource creation request.</p>\n         <p>After you have initiated a resource creation request, you can monitor the progress of your\n      request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the\n        <code>ProgressEvent</code> returned by <code>CreateResource</code>.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#DeleteResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudcontrol#AlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ClientTokenConflictException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ConcurrentOperationException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#GeneralServiceException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#HandlerFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#HandlerInternalFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#InvalidCredentialsException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NetworkFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NotStabilizedException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NotUpdatableException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#PrivateTypeException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ResourceConflictException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ServiceInternalErrorException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ServiceLimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#TypeNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#UnsupportedActionException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudcontrol#DeleteResourceInput"
         },
         "output" : {
            "target" : "com.amazonaws.cloudcontrol#DeleteResourceOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the specified resource. For details, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-delete.html\">Deleting a\n        resource</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n         <p>After you have initiated a resource deletion request, you can monitor the progress of your\n      request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the\n        <code>ProgressEvent</code> returned by <code>DeleteResource</code>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudcontrol#DeleteResourceInput" : {
         "members" : {
            "ClientToken" : {
               "target" : "com.amazonaws.cloudcontrol#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier to ensure the idempotency of the resource request. As a\n                                     best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can\n                                     accurately distinguish between request retries and new resource requests. You\n                                     might retry a resource request to ensure that it was successfully received.</p>\n         <p>A client token is valid for 36 hours once used. After that, a resource\n                                     request with the same client token is treated as a new request.</p>\n         <p>If you\n                                     do not specify a client token, one is generated for inclusion in the request.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring\n                                     resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User\n                                     Guide</i>.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "Identifier" : {
               "target" : "com.amazonaws.cloudcontrol#Identifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for the resource.</p>\n         <p>You can specify the primary identifier, or any secondary identifier\n                                            defined for the resource type in its resource schema. You can only specify\n                                            one identifier. Primary identifiers can be specified as a string or JSON;\n                                            secondary identifiers must be specified as JSON.</p>\n         <p>For compound primary identifiers (that is, one that consists of\n                                            multiple resource properties strung together), to specify the primary\n                                            identifier as a string, list the property values <i>in the order\n                                            they are specified</i> in the primary identifier definition,\n                                            separated by <code>|</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-identifier.html\">Identifying\n                                            resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.cloudcontrol#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Identity and Access Management\n                                    (IAM) role for Cloud Control API to use when performing this resource\n                                    operation. The role specified must have the permissions required for this\n                                    operation. The necessary permissions for each event handler are defined in the\n                                    <code>\n               <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a>\n            </code>\n                                    section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type\n                                    definition schema</a>.</p>\n         <p>If you do not specify a role, Cloud Control API uses a temporary session created using\n                                    your Amazon Web Services user credentials.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying\n                                    credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>"
               }
            },
            "TypeName" : {
               "target" : "com.amazonaws.cloudcontrol#TypeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the resource type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TypeVersionId" : {
               "target" : "com.amazonaws.cloudcontrol#TypeVersionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>For private resource types, the type version to use in this resource\n                                     operation. If you do not specify a resource version, CloudFormation\n                                     uses the default version.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#DeleteResourceOutput" : {
         "members" : {
            "ProgressEvent" : {
               "target" : "com.amazonaws.cloudcontrol#ProgressEvent",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the current status of the resource deletion request.</p>\n         <p>After you have initiated a resource deletion request, you can monitor the progress of your\n      request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the\n        <code>ProgressEvent</code> returned by <code>DeleteResource</code>.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#ErrorMessage" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#GeneralServiceException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "GeneralServiceException",
               "httpResponseCode" : 400
            },
            "smithy.api#documentation" : "<p>The resource handler has returned that the downstream service generated an error that\n      doesn't map to any other handler error code.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#GetResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudcontrol#AlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#GeneralServiceException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#HandlerFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#HandlerInternalFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#InvalidCredentialsException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NetworkFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NotStabilizedException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NotUpdatableException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#PrivateTypeException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ResourceConflictException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ServiceInternalErrorException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ServiceLimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#TypeNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#UnsupportedActionException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudcontrol#GetResourceInput"
         },
         "output" : {
            "target" : "com.amazonaws.cloudcontrol#GetResourceOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about the current state of the specified resource. For details, see\n        <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-read.html\">Reading a resource's current state</a>.</p>\n         <p>You can use this action to return information about an existing resource in your account\n      and Amazon Web Services Region, whether those resources were provisioned using Cloud Control API.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudcontrol#GetResourceInput" : {
         "members" : {
            "Identifier" : {
               "target" : "com.amazonaws.cloudcontrol#Identifier",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier for the resource.</p>\n         <p>You can specify the primary identifier, or any secondary identifier\n                                            defined for the resource type in its resource schema. You can only specify\n                                            one identifier. Primary identifiers can be specified as a string or JSON;\n                                            secondary identifiers must be specified as JSON.</p>\n         <p>For compound primary identifiers (that is, one that consists of\n                                            multiple resource properties strung together), to specify the primary\n                                            identifier as a string, list the property values <i>in the order\n                                            they are specified</i> in the primary identifier definition,\n                                            separated by <code>|</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-identifier.html\">Identifying\n                                            resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.cloudcontrol#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Identity and Access Management\n                                    (IAM) role for Cloud Control API to use when performing this resource\n                                    operation. The role specified must have the permissions required for this\n                                    operation. The necessary permissions for each event handler are defined in the\n                                    <code>\n               <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a>\n            </code>\n                                    section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type\n                                    definition schema</a>.</p>\n         <p>If you do not specify a role, Cloud Control API uses a temporary session created using\n                                    your Amazon Web Services user credentials.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying\n                                    credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>"
               }
            },
            "TypeName" : {
               "target" : "com.amazonaws.cloudcontrol#TypeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the resource type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TypeVersionId" : {
               "target" : "com.amazonaws.cloudcontrol#TypeVersionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>For private resource types, the type version to use in this resource\n                                     operation. If you do not specify a resource version, CloudFormation\n                                     uses the default version.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#GetResourceOutput" : {
         "members" : {
            "ResourceDescription" : {
               "target" : "com.amazonaws.cloudcontrol#ResourceDescription"
            },
            "TypeName" : {
               "target" : "com.amazonaws.cloudcontrol#TypeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the resource type.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#GetResourceRequestStatus" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudcontrol#RequestTokenNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudcontrol#GetResourceRequestStatusInput"
         },
         "output" : {
            "target" : "com.amazonaws.cloudcontrol#GetResourceRequestStatusOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the current status of a resource operation request. For more information, see\n        <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-track\">Tracking the progress of resource operation requests</a> in the\n        <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
            "smithy.waiters#waitable" : {
               "ResourceRequestSuccess" : {
                  "acceptors" : [
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "SUCCESS",
                              "path" : "ProgressEvent.OperationStatus"
                           }
                        },
                        "state" : "success"
                     },
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "FAILED",
                              "path" : "ProgressEvent.OperationStatus"
                           }
                        },
                        "state" : "failure"
                     },
                     {
                        "matcher" : {
                           "output" : {
                              "comparator" : "stringEquals",
                              "expected" : "CANCEL_COMPLETE",
                              "path" : "ProgressEvent.OperationStatus"
                           }
                        },
                        "state" : "failure"
                     }
                  ],
                  "documentation" : "Wait until resource operation request is successful",
                  "minDelay" : 5
               }
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudcontrol#GetResourceRequestStatusInput" : {
         "members" : {
            "RequestToken" : {
               "target" : "com.amazonaws.cloudcontrol#RequestToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique token used to track the progress of the resource operation request.</p>\n         <p>Request tokens are included in the <code>ProgressEvent</code> type returned by a resource\n      operation request.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#GetResourceRequestStatusOutput" : {
         "members" : {
            "HooksProgressEvent" : {
               "target" : "com.amazonaws.cloudcontrol#HooksProgressEvent",
               "traits" : {
                  "smithy.api#documentation" : "<p>Lists Hook invocations for the specified target in the request. This is a list since the same target can invoke multiple Hooks.</p>"
               }
            },
            "ProgressEvent" : {
               "target" : "com.amazonaws.cloudcontrol#ProgressEvent",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents the current status of the resource operation request.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#HandlerErrorCode" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "NOT_UPDATABLE",
                  "value" : "NotUpdatable"
               },
               {
                  "name" : "INVALID_REQUEST",
                  "value" : "InvalidRequest"
               },
               {
                  "name" : "ACCESS_DENIED",
                  "value" : "AccessDenied"
               },
               {
                  "name" : "UNAUTHORIZED_TAGGING_OPERATION",
                  "value" : "UnauthorizedTaggingOperation"
               },
               {
                  "name" : "INVALID_CREDENTIALS",
                  "value" : "InvalidCredentials"
               },
               {
                  "name" : "ALREADY_EXISTS",
                  "value" : "AlreadyExists"
               },
               {
                  "name" : "NOT_FOUND",
                  "value" : "NotFound"
               },
               {
                  "name" : "RESOURCE_CONFLICT",
                  "value" : "ResourceConflict"
               },
               {
                  "name" : "THROTTLING",
                  "value" : "Throttling"
               },
               {
                  "name" : "SERVICE_LIMIT_EXCEEDED",
                  "value" : "ServiceLimitExceeded"
               },
               {
                  "name" : "NOT_STABILIZED",
                  "value" : "NotStabilized"
               },
               {
                  "name" : "GENERAL_SERVICE_EXCEPTION",
                  "value" : "GeneralServiceException"
               },
               {
                  "name" : "SERVICE_INTERNAL_ERROR",
                  "value" : "ServiceInternalError"
               },
               {
                  "name" : "SERVICE_TIMEOUT",
                  "value" : "ServiceTimeout"
               },
               {
                  "name" : "NETWORK_FAILURE",
                  "value" : "NetworkFailure"
               },
               {
                  "name" : "INTERNAL_FAILURE",
                  "value" : "InternalFailure"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#HandlerFailureException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "HandlerFailureException",
               "httpResponseCode" : 502
            },
            "smithy.api#documentation" : "<p>The resource handler has failed without a returning a more specific error code. This can\n      include timeouts.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 502
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#HandlerInternalFailureException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "HandlerInternalFailureException",
               "httpResponseCode" : 502
            },
            "smithy.api#documentation" : "<p>The resource handler has returned that an unexpected error occurred within the resource\n      handler.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 502
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#HandlerNextToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 4096,
               "min" : 1
            },
            "smithy.api#pattern" : "^.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#HookFailureMode" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[-A-Za-z_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#HookInvocationPoint" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[-A-Za-z_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#HookProgressEvent" : {
         "members" : {
            "FailureMode" : {
               "target" : "com.amazonaws.cloudcontrol#HookFailureMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The failure mode of the invocation. The following are the potential statuses:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FAIL</code>: This will fail the Hook invocation and the request associated with it.</p>\n            </li>\n            <li>\n               <p>\n                  <code>WARN</code>: This will fail the Hook invocation, but not the request associated with it.</p>\n            </li>\n         </ul>"
               }
            },
            "HookEventTime" : {
               "target" : "com.amazonaws.cloudcontrol#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time that the Hook invocation request initiated.</p>"
               }
            },
            "HookStatus" : {
               "target" : "com.amazonaws.cloudcontrol#HookStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the Hook invocation. The following are potential statuses:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>HOOK_PENDING</code>: The Hook was added to the invocation plan, but not yet invoked.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HOOK_IN_PROGRESS</code>: The Hook was invoked, but hasn't completed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HOOK_COMPLETE_SUCCEEDED</code>: The Hook invocation is complete with a successful result.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HOOK_COMPLETE_FAILED</code>: The Hook invocation is complete with a failed result.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HOOK_FAILED</code>: The Hook invocation didn't complete successfully.</p>\n            </li>\n         </ul>"
               }
            },
            "HookStatusMessage" : {
               "target" : "com.amazonaws.cloudcontrol#StatusMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>The message explaining the current Hook status.</p>"
               }
            },
            "HookTypeArn" : {
               "target" : "com.amazonaws.cloudcontrol#HookTypeArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN of the Hook being invoked.</p>"
               }
            },
            "HookTypeName" : {
               "target" : "com.amazonaws.cloudcontrol#TypeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type name of the Hook being invoked.</p>"
               }
            },
            "HookTypeVersionId" : {
               "target" : "com.amazonaws.cloudcontrol#TypeVersionId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type version of the Hook being invoked.</p>"
               }
            },
            "InvocationPoint" : {
               "target" : "com.amazonaws.cloudcontrol#HookInvocationPoint",
               "traits" : {
                  "smithy.api#documentation" : "<p>States whether the Hook is invoked before or after resource provisioning.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the current status of applicable Hooks for a resource operation request. It contains list of \n      Hook invocation information for the resource specified in the request since the same target can invoke multiple Hooks. \n      For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html\">Managing resource operation requests with Amazon Web Services Cloud Control API\n    </a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#HookStatus" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[-A-Za-z_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#HookTypeArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws.*:.+:.*:.*:.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#HooksProgressEvent" : {
         "member" : {
            "target" : "com.amazonaws.cloudcontrol#HookProgressEvent"
         },
         "type" : "list"
      },
      "com.amazonaws.cloudcontrol#Identifier" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            },
            "smithy.api#pattern" : "^.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.cloudcontrol#InvalidCredentialsException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "InvalidCredentialsException",
               "httpResponseCode" : 401
            },
            "smithy.api#documentation" : "<p>The resource handler has returned that the credentials provided by the user are\n      invalid.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 401
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#InvalidRequestException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.cloudcontrol#ErrorMessage"
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "InvalidRequestException",
               "httpResponseCode" : 400
            },
            "smithy.api#documentation" : "<p>The resource handler has returned that invalid input from the user has generated a generic\n      exception.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#ListResourceRequests" : {
         "input" : {
            "target" : "com.amazonaws.cloudcontrol#ListResourceRequestsInput"
         },
         "output" : {
            "target" : "com.amazonaws.cloudcontrol#ListResourceRequestsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns existing resource operation requests. This includes requests of all status types.\n      For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-list\">Listing active resource operation requests</a> in the\n        <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n         <note>\n            <p>Resource operation requests expire after 7 days.</p>\n         </note>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "ResourceRequestStatusSummaries",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudcontrol#ListResourceRequestsInput" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.cloudcontrol#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to be returned with a single call. If the number of\n      available results exceeds this maximum, the response includes a <code>NextToken</code> value\n      that you can assign to the <code>NextToken</code> request parameter to get the next set of\n      results.</p>\n         <p>The default is <code>20</code>.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.cloudcontrol#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the previous paginated request didn't return all of the remaining results,\n                                   the response object's <code>NextToken</code> parameter value is set to a token.\n                                   To retrieve the next set of results, call this action again and assign that token to\n                                   the request object's <code>NextToken</code> parameter. If there are no remaining\n                                   results, the previous response object's <code>NextToken</code> parameter is set to\n                                   <code>null</code>.</p>"
               }
            },
            "ResourceRequestStatusFilter" : {
               "target" : "com.amazonaws.cloudcontrol#ResourceRequestStatusFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter criteria to apply to the requests returned.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#ListResourceRequestsOutput" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.cloudcontrol#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the request doesn't return all of the remaining results,\n                                    <code>NextToken</code> is set to a token. To retrieve the next set of results, call\n                                    <code>ListResources</code> again and assign that token to the request object's\n                                    <code>NextToken</code> parameter. If the request returns all results,\n                                    <code>NextToken</code> is set to null.</p>"
               }
            },
            "ResourceRequestStatusSummaries" : {
               "target" : "com.amazonaws.cloudcontrol#ResourceRequestStatusSummaries",
               "traits" : {
                  "smithy.api#documentation" : "<p>The requests that match the specified filter criteria.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.cloudcontrol#ListResources" : {
         "errors" : [
            {
               "target" : "com.amazonaws.cloudcontrol#AlreadyExistsException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#GeneralServiceException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#HandlerFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#HandlerInternalFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#InvalidCredentialsException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NetworkFailureException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NotStabilizedException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#NotUpdatableException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#PrivateTypeException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ResourceConflictException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ServiceInternalErrorException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ServiceLimitExceededException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#TypeNotFoundException"
            },
            {
               "target" : "com.amazonaws.cloudcontrol#UnsupportedActionException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.cloudcontrol#ListResourcesInput"
         },
         "output" : {
            "target" : "com.amazonaws.cloudcontrol#ListResourcesOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns information about the specified resources. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-list.html\">Discovering resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>\n         <p>You can use this action to return information about existing resources in your account and\n      Amazon Web Services Region, whether those resources were provisioned using Cloud Control API.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "ResourceDescriptions",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.cloudcontrol#ListResourcesInput" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.cloudcontrol#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>Reserved.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.cloudcontrol#HandlerNextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the previous paginated request didn't return all of the remaining results,\n                                   the response object's <code>NextToken</code> parameter value is set to a token.\n                                   To retrieve the next set of results, call this action again and assign that token to\n                                   the request object's <code>NextToken</code> parameter. If there are no remaining\n                                   results, the previous response object's <code>NextToken</code> parameter is set to\n                                   <code>null</code>.</p>"
               }
            },
            "ResourceModel" : {
               "target" : "com.amazonaws.cloudcontrol#Properties",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource model to use to select the resources to return.</p>"
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.cloudcontrol#RoleArn",
               "traits" : {
[...]
