{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.migrationhub#AWSMigrationHub" : {
         "operations" : [
            {
               "target" : "com.amazonaws.migrationhub#AssociateCreatedArtifact"
            },
            {
               "target" : "com.amazonaws.migrationhub#AssociateDiscoveredResource"
            },
            {
               "target" : "com.amazonaws.migrationhub#AssociateSourceResource"
            },
            {
               "target" : "com.amazonaws.migrationhub#CreateProgressUpdateStream"
            },
            {
               "target" : "com.amazonaws.migrationhub#DeleteProgressUpdateStream"
            },
            {
               "target" : "com.amazonaws.migrationhub#DescribeApplicationState"
            },
            {
               "target" : "com.amazonaws.migrationhub#DescribeMigrationTask"
            },
            {
               "target" : "com.amazonaws.migrationhub#DisassociateCreatedArtifact"
            },
            {
               "target" : "com.amazonaws.migrationhub#DisassociateDiscoveredResource"
            },
            {
               "target" : "com.amazonaws.migrationhub#DisassociateSourceResource"
            },
            {
               "target" : "com.amazonaws.migrationhub#ImportMigrationTask"
            },
            {
               "target" : "com.amazonaws.migrationhub#ListApplicationStates"
            },
            {
               "target" : "com.amazonaws.migrationhub#ListCreatedArtifacts"
            },
            {
               "target" : "com.amazonaws.migrationhub#ListDiscoveredResources"
            },
            {
               "target" : "com.amazonaws.migrationhub#ListMigrationTasks"
            },
            {
               "target" : "com.amazonaws.migrationhub#ListMigrationTaskUpdates"
            },
            {
               "target" : "com.amazonaws.migrationhub#ListProgressUpdateStreams"
            },
            {
               "target" : "com.amazonaws.migrationhub#ListSourceResources"
            },
            {
               "target" : "com.amazonaws.migrationhub#NotifyApplicationState"
            },
            {
               "target" : "com.amazonaws.migrationhub#NotifyMigrationTaskState"
            },
            {
               "target" : "com.amazonaws.migrationhub#PutResourceAttributes"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "mgh",
               "cloudFormationName" : "MigrationHub",
               "cloudTrailEventSource" : "migrationhub.amazonaws.com",
               "docId" : "AWSMigrationHub-2017-05-31",
               "endpointPrefix" : "mgh",
               "sdkId" : "Migration Hub"
            },
            "aws.auth#sigv4" : {
               "name" : "mgh"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<p>The AWS Migration Hub API methods help to obtain server and application migration status\n         and integrate your resource-specific migration tool by providing a programmatic interface\n         to Migration Hub.</p>\n         <p>Remember that you must set your AWS Migration Hub home region before you call any of\n         these APIs, or a <code>HomeRegionNotSetException</code> error will be returned. Also, you\n         must make the API calls while in your home region.</p>",
            "smithy.api#title" : "AWS Migration Hub",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://mgh-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://mgh-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://mgh.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://mgh.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://mgh.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2017-05-31"
      },
      "com.amazonaws.migrationhub#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhub#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You do not have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ApplicationId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1600,
               "min" : 1
            },
            "smithy.api#pattern" : "^.{1,1600}$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhub#ApplicationIds" : {
         "member" : {
            "target" : "com.amazonaws.migrationhub#ApplicationId"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhub#ApplicationState" : {
         "members" : {
            "ApplicationId" : {
               "target" : "com.amazonaws.migrationhub#ApplicationId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configurationId from the Application Discovery Service that uniquely identifies an\n         application.</p>"
               }
            },
            "ApplicationStatus" : {
               "target" : "com.amazonaws.migrationhub#ApplicationStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of an application.</p>"
               }
            },
            "LastUpdatedTime" : {
               "target" : "com.amazonaws.migrationhub#UpdateDateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the application status was last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The state of an application discovered through Migration Hub import, the AWS Agentless\n         Discovery Connector, or the AWS Application Discovery Agent.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ApplicationStateList" : {
         "member" : {
            "target" : "com.amazonaws.migrationhub#ApplicationState"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhub#ApplicationStatus" : {
         "members" : {
            "COMPLETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "COMPLETED"
               }
            },
            "IN_PROGRESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "IN_PROGRESS"
               }
            },
            "NOT_STARTED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NOT_STARTED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.migrationhub#AssociateCreatedArtifact" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#AssociateCreatedArtifactRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#AssociateCreatedArtifactResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a created artifact of an AWS cloud resource, the target receiving the\n         migration, with the migration task performed by a migration tool. This API has the\n         following traits:</p>\n         <ul>\n            <li>\n               <p>Migration tools can call the <code>AssociateCreatedArtifact</code> operation to\n               indicate which AWS artifact is associated with a migration task.</p>\n            </li>\n            <li>\n               <p>The created artifact name must be provided in ARN (Amazon Resource Name) format\n               which will contain information about type and region; for example:\n                  <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p>\n            </li>\n            <li>\n               <p>Examples of the AWS resource behind the created artifact are, AMI's, EC2 instance,\n               or DMS endpoint, etc.</p>\n            </li>\n         </ul>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#AssociateCreatedArtifactRequest" : {
         "members" : {
            "CreatedArtifact" : {
               "target" : "com.amazonaws.migrationhub#CreatedArtifact",
               "traits" : {
                  "smithy.api#documentation" : "<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS\n         instance, etc.) </p>",
                  "smithy.api#required" : {}
               }
            },
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#AssociateCreatedArtifactResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#AssociateDiscoveredResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#PolicyErrorException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#AssociateDiscoveredResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#AssociateDiscoveredResourceResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a discovered resource ID from Application Discovery Service with a migration\n         task.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#AssociateDiscoveredResourceRequest" : {
         "members" : {
            "DiscoveredResource" : {
               "target" : "com.amazonaws.migrationhub#DiscoveredResource",
               "traits" : {
                  "smithy.api#documentation" : "<p>Object representing a Resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier given to the MigrationTask. <i>Do not store personal data in this\n            field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#AssociateDiscoveredResourceResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#AssociateSourceResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#AssociateSourceResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#AssociateSourceResourceResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a source resource with a migration task. For example, the source resource can\n         be a source server, an application, or a migration wave.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#AssociateSourceResourceRequest" : {
         "members" : {
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>This is an optional parameter that you can use to test whether the call will succeed.\n         Set this parameter to <code>true</code> to verify that you have the permissions that are\n         required to make the call, and that you have specified the other parameters in the call\n         correctly.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier that references the migration task. <i>Do not include\n            sensitive data in this field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the progress-update stream, which is used for access control as well as a\n         namespace for migration-task names that is implicitly linked to your AWS account. The\n         progress-update stream must uniquely identify the migration tool as it is used for all\n         updates made by the tool; however, it does not need to be unique for each AWS account\n         because it is scoped to the AWS account.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SourceResource" : {
               "target" : "com.amazonaws.migrationhub#SourceResource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source resource that you want to associate.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#AssociateSourceResourceResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ConfigurationId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1600,
               "min" : 1
            },
            "smithy.api#pattern" : "^.{1,1600}$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhub#CreateProgressUpdateStream" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#CreateProgressUpdateStreamRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#CreateProgressUpdateStreamResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a progress update stream which is an AWS resource used for access control as\n         well as a namespace for migration task names that is implicitly linked to your AWS account.\n         It must uniquely identify the migration tool as it is used for all updates made by the\n         tool; however, it does not need to be unique for each AWS account because it is scoped to\n         the AWS account.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#CreateProgressUpdateStreamRequest" : {
         "members" : {
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
               }
            },
            "ProgressUpdateStreamName" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream. <i>Do not store personal data in this\n            field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#CreateProgressUpdateStreamResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#CreatedArtifact" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.migrationhub#CreatedArtifactDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description that can be free-form text to record additional detail about the artifact\n         for clarity or for later reference.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.migrationhub#CreatedArtifactName",
               "traits" : {
                  "smithy.api#documentation" : "<p>An ARN that uniquely identifies the result of a migration task.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An ARN of the AWS cloud resource target receiving the migration (e.g., AMI, EC2\n         instance, RDS instance, etc.).</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#CreatedArtifactDescription" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 0
            },
            "smithy.api#pattern" : "^.{0,500}$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhub#CreatedArtifactList" : {
         "member" : {
            "target" : "com.amazonaws.migrationhub#CreatedArtifact"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhub#CreatedArtifactName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1600,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:[a-z-]+:[a-z0-9-]+:(?:[a-z0-9-]+|):(?:[0-9]{12}|):"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhub#DeleteProgressUpdateStream" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#DeleteProgressUpdateStreamRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#DeleteProgressUpdateStreamResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a progress update stream, including all of its tasks, which was previously\n         created as an AWS resource used for access control. This API has the following\n         traits:</p>\n         <ul>\n            <li>\n               <p>The only parameter needed for <code>DeleteProgressUpdateStream</code> is the\n               stream name (same as a <code>CreateProgressUpdateStream</code> call).</p>\n            </li>\n            <li>\n               <p>The call will return, and a background process will asynchronously delete the\n               stream and all of its resources (tasks, associated resources, resource attributes,\n               created artifacts).</p>\n            </li>\n            <li>\n               <p>If the stream takes time to be deleted, it might still show up on a\n                  <code>ListProgressUpdateStreams</code> call.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateProgressUpdateStream</code>, <code>ImportMigrationTask</code>,\n                  <code>NotifyMigrationTaskState</code>, and all Associate[*] APIs related to the\n               tasks belonging to the stream will throw \"InvalidInputException\" if the stream of the\n               same name is in the process of being deleted.</p>\n            </li>\n            <li>\n               <p>Once the stream and all of its resources are deleted,\n                  <code>CreateProgressUpdateStream</code> for a stream of the same name will\n               succeed, and that stream will be an entirely new logical resource (without any\n               resources associated with the old stream).</p>\n            </li>\n         </ul>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#DeleteProgressUpdateStreamRequest" : {
         "members" : {
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
               }
            },
            "ProgressUpdateStreamName" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream. <i>Do not store personal data in this\n            field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DeleteProgressUpdateStreamResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DescribeApplicationState" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#PolicyErrorException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#DescribeApplicationStateRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#DescribeApplicationStateResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets the migration status of an application.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#DescribeApplicationStateRequest" : {
         "members" : {
            "ApplicationId" : {
               "target" : "com.amazonaws.migrationhub#ApplicationId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configurationId in Application Discovery Service that uniquely identifies the\n         grouped application.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DescribeApplicationStateResult" : {
         "members" : {
            "ApplicationStatus" : {
               "target" : "com.amazonaws.migrationhub#ApplicationStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Status of the application - Not Started, In-Progress, Complete.</p>"
               }
            },
            "LastUpdatedTime" : {
               "target" : "com.amazonaws.migrationhub#UpdateDateTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>The timestamp when the application status was last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DescribeMigrationTask" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#DescribeMigrationTaskRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#DescribeMigrationTaskResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves a list of all attributes associated with a specific migration task.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#DescribeMigrationTaskRequest" : {
         "members" : {
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier given to the MigrationTask. <i>Do not store personal data in this\n            field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DescribeMigrationTaskResult" : {
         "members" : {
            "MigrationTask" : {
               "target" : "com.amazonaws.migrationhub#MigrationTask",
               "traits" : {
                  "smithy.api#documentation" : "<p>Object encapsulating information about the migration task.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DisassociateCreatedArtifact" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#DisassociateCreatedArtifactRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#DisassociateCreatedArtifactResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Disassociates a created artifact of an AWS resource with a migration task performed by a\n         migration tool that was previously associated. This API has the following traits:</p>\n         <ul>\n            <li>\n               <p>A migration user can call the <code>DisassociateCreatedArtifacts</code> operation\n               to disassociate a created AWS Artifact from a migration task.</p>\n            </li>\n            <li>\n               <p>The created artifact name must be provided in ARN (Amazon Resource Name) format\n               which will contain information about type and region; for example:\n                  <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p>\n            </li>\n            <li>\n               <p>Examples of the AWS resource behind the created artifact are, AMI's, EC2 instance,\n               or RDS instance, etc.</p>\n            </li>\n         </ul>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#DisassociateCreatedArtifactRequest" : {
         "members" : {
            "CreatedArtifactName" : {
               "target" : "com.amazonaws.migrationhub#CreatedArtifactName",
               "traits" : {
                  "smithy.api#documentation" : "<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS\n         instance, etc.)</p>",
                  "smithy.api#required" : {}
               }
            },
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier that references the migration task to be disassociated with the\n         artifact. <i>Do not store personal data in this field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DisassociateCreatedArtifactResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DisassociateDiscoveredResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#DisassociateDiscoveredResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#DisassociateDiscoveredResourceResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Disassociate an Application Discovery Service discovered resource from a migration\n         task.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#DisassociateDiscoveredResourceRequest" : {
         "members" : {
            "ConfigurationId" : {
               "target" : "com.amazonaws.migrationhub#ConfigurationId",
               "traits" : {
                  "smithy.api#documentation" : "<p>ConfigurationId of the Application Discovery Service resource to be\n         disassociated.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier given to the MigrationTask. <i>Do not store personal data in this\n            field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DisassociateDiscoveredResourceResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DisassociateSourceResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#DisassociateSourceResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#DisassociateSourceResourceResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes the association between a source resource and a migration task.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#DisassociateSourceResourceRequest" : {
         "members" : {
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>This is an optional parameter that you can use to test whether the call will succeed.\n         Set this parameter to <code>true</code> to verify that you have the permissions that are\n         required to make the call, and that you have specified the other parameters in the call\n         correctly.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier that references the migration task. <i>Do not include\n            sensitive data in this field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the progress-update stream, which is used for access control as well as a\n         namespace for migration-task names that is implicitly linked to your AWS account. The\n         progress-update stream must uniquely identify the migration tool as it is used for all\n         updates made by the tool; however, it does not need to be unique for each AWS account\n         because it is scoped to the AWS account.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SourceResourceName" : {
               "target" : "com.amazonaws.migrationhub#SourceResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name that was specified for the source resource.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DisassociateSourceResourceResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DiscoveredResource" : {
         "members" : {
            "ConfigurationId" : {
               "target" : "com.amazonaws.migrationhub#ConfigurationId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configurationId in Application Discovery Service that uniquely identifies the\n         on-premise resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Description" : {
               "target" : "com.amazonaws.migrationhub#DiscoveredResourceDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description that can be free-form text to record additional detail about the\n         discovered resource for clarity or later reference.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object representing the on-premises resource being migrated.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#DiscoveredResourceDescription" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 0
            },
            "smithy.api#pattern" : "^.{0,500}$"
         },
         "type" : "string"
      },
      "com.amazonaws.migrationhub#DiscoveredResourceList" : {
         "member" : {
            "target" : "com.amazonaws.migrationhub#DiscoveredResource"
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhub#DryRun" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.migrationhub#DryRunOperation" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhub#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exception raised to indicate a successfully authorized action when the\n            <code>DryRun</code> flag is set to \"true\".</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ErrorMessage" : {
         "type" : "string"
      },
      "com.amazonaws.migrationhub#HomeRegionNotSetException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhub#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The home region is not set. Set the home region to continue.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ImportMigrationTask" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#DryRunOperation"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.migrationhub#UnauthorizedOperation"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#ImportMigrationTaskRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#ImportMigrationTaskResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Registers a new migration task which represents a server, database, etc., being migrated\n         to AWS by a migration tool.</p>\n         <p>This API is a prerequisite to calling the <code>NotifyMigrationTaskState</code> API as\n         the migration tool must first register the migration task with Migration Hub.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#ImportMigrationTaskRequest" : {
         "members" : {
            "DryRun" : {
               "target" : "com.amazonaws.migrationhub#DryRun",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream. ></p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ImportMigrationTaskResult" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#InternalServerError" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhub#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exception raised when an internal, configuration, or dependency error is\n         encountered.</p>",
            "smithy.api#error" : "server"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#InvalidInputException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.migrationhub#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Exception raised when the provided input violates a policy constraint or is entered in\n         the wrong format or data type.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#LatestResourceAttributeList" : {
         "member" : {
            "target" : "com.amazonaws.migrationhub#ResourceAttribute"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.migrationhub#ListApplicationStates" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#ListApplicationStatesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#ListApplicationStatesResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists all the migration statuses for your applications. If you use the optional\n            <code>ApplicationIds</code> parameter, only the migration statuses for those\n         applications will be returned.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "ApplicationStateList",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#ListApplicationStatesRequest" : {
         "members" : {
            "ApplicationIds" : {
               "target" : "com.amazonaws.migrationhub#ApplicationIds",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configurationIds from the Application Discovery Service that uniquely identifies\n         your applications.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.migrationhub#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>Maximum number of results to be returned per page.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhub#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ListApplicationStatesResult" : {
         "members" : {
            "ApplicationStateList" : {
               "target" : "com.amazonaws.migrationhub#ApplicationStateList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of Applications that exist in Application Discovery Service.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhub#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ListCreatedArtifacts" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#ListCreatedArtifactsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#ListCreatedArtifactsResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the created artifacts attached to a given migration task in an update stream. This\n         API has the following traits:</p>\n         <ul>\n            <li>\n               <p>Gets the list of the created artifacts while\n               migration is taking place.</p>\n            </li>\n            <li>\n               <p>Shows the artifacts created by the migration tool that was associated by the\n                  <code>AssociateCreatedArtifact</code> API. </p>\n            </li>\n            <li>\n               <p>Lists created artifacts in a paginated interface. </p>\n            </li>\n         </ul>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "CreatedArtifactList",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#ListCreatedArtifactsRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.migrationhub#MaxResultsCreatedArtifacts",
               "traits" : {
                  "smithy.api#documentation" : "<p>Maximum number of results to be returned per page.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhub#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ListCreatedArtifactsResult" : {
         "members" : {
            "CreatedArtifactList" : {
               "target" : "com.amazonaws.migrationhub#CreatedArtifactList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of created artifacts up to the maximum number of results specified in the\n         request.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhub#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If there are more created artifacts than the max result, return the next token to be\n         passed to the next call as a bookmark of where to start from.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ListDiscoveredResources" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#HomeRegionNotSetException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#ListDiscoveredResourcesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#ListDiscoveredResourcesResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists discovered resources associated with the given <code>MigrationTask</code>.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "DiscoveredResourceList",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#ListDiscoveredResourcesRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.migrationhub#MaxResultsResources",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results returned per page.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the MigrationTask. <i>Do not store personal data in this\n            field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhub#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ProgressUpdateStream.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ListDiscoveredResourcesResult" : {
         "members" : {
            "DiscoveredResourceList" : {
               "target" : "com.amazonaws.migrationhub#DiscoveredResourceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returned list of discovered resources associated with the given MigrationTask.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhub#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If there are more discovered resources than the max result, return the next token to be\n         passed to the next call as a bookmark of where to start from.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ListMigrationTaskUpdates" : {
         "errors" : [
            {
               "target" : "com.amazonaws.migrationhub#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.migrationhub#InternalServerError"
            },
            {
               "target" : "com.amazonaws.migrationhub#InvalidInputException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ServiceUnavailableException"
            },
            {
               "target" : "com.amazonaws.migrationhub#ThrottlingException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.migrationhub#ListMigrationTaskUpdatesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.migrationhub#ListMigrationTaskUpdatesResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This is a paginated API that returns all the migration-task states for the specified\n            <code>MigrationTaskName</code> and <code>ProgressUpdateStream</code>.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "items" : "MigrationTaskUpdateList",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.migrationhub#ListMigrationTaskUpdatesRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.migrationhub#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to include in the response. If more results exist than the\n         value that you specify here for <code>MaxResults</code>, the response will include a token\n         that you can use to retrieve the next set of results.</p>"
               }
            },
            "MigrationTaskName" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique identifier that references the migration task. <i>Do not include\n            sensitive data in this field.</i>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhub#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If <code>NextToken</code> was returned by a previous call, there are more results\n         available. The value of <code>NextToken</code> is a unique pagination token for each page.\n         To retrieve the next page of results, specify the <code>NextToken</code> value that the\n         previous call returned. Keep all other arguments unchanged. Each pagination token expires\n         after 24 hours. Using an expired pagination token will return an HTTP 400 InvalidToken\n         error.</p>"
               }
            },
            "ProgressUpdateStream" : {
               "target" : "com.amazonaws.migrationhub#ProgressUpdateStream",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the progress-update stream, which is used for access control as well as a\n         namespace for migration-task names that is implicitly linked to your AWS account. The\n         progress-update stream must uniquely identify the migration tool as it is used for all\n         updates made by the tool; however, it does not need to be unique for each AWS account\n         because it is scoped to the AWS account.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ListMigrationTaskUpdatesResult" : {
         "members" : {
            "MigrationTaskUpdateList" : {
               "target" : "com.amazonaws.migrationhub#MigrationTaskUpdateList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of migration-task updates.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.migrationhub#Token",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the response includes a <code>NextToken</code> value, that means that there are more\n         results available. The value of <code>NextToken</code> is a unique pagination token for\n         each page. To retrieve the next page of results, call this API again and specify this\n            <code>NextToken</code> value in the request. Keep all other arguments unchanged. Each\n         pagination token expires after 24 hours. Using an expired pagination token will return an\n         HTTP 400 InvalidToken error.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.migrationhub#ListMigrationTasks" : {
         "errors" : [
            {
[...]
