{
   "shapes" : {
      "com.amazonaws.marketplacediscovery#AWSMarketplaceDiscovery" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacediscovery#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#InternalServerException"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#ValidationException"
            }
         ],
         "operations" : [
            {
               "target" : "com.amazonaws.marketplacediscovery#GetListing"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#GetOffer"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#GetOfferSet"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#GetOfferTerms"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#GetProduct"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#ListFulfillmentOptions"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#ListPurchaseOptions"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#SearchFacets"
            },
            {
               "target" : "com.amazonaws.marketplacediscovery#SearchListings"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "aws-marketplace",
               "endpointPrefix" : "discovery-marketplace",
               "sdkId" : "Marketplace Discovery"
            },
            "aws.auth#sigv4" : {
               "name" : "aws-marketplace"
            },
            "aws.endpoints#dualStackOnlyEndpoints" : {},
            "aws.endpoints#standardRegionalEndpoints" : {},
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>The AWS Marketplace Discovery API provides programmatic access to the AWS Marketplace catalog, including searching and browsing listings, retrieving product details and fulfillment options, and accessing public and private offer pricing and terms.</p>",
            "smithy.api#title" : "AWS Marketplace Discovery",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://discovery-marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://discovery-marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://discovery-marketplace-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://discovery-marketplace.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://discovery-marketplace-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://discovery-marketplace.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://discovery-marketplace-fips.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://discovery-marketplace.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2026-02-05"
      },
      "com.amazonaws.marketplacediscovery#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.marketplacediscovery#ExceptionMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You don't have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#AgreementResourceId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Za-z0-9_/-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacediscovery#AmazonMachineImageFulfillmentOption" : {
         "members" : {
            "fulfillmentOptionDisplayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable name for the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the fulfillment option version.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionVersion" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version identifier of the fulfillment option.</p>"
               }
            },
            "operatingSystems" : {
               "target" : "com.amazonaws.marketplacediscovery#AmazonMachineImageOperatingSystemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating systems supported by this AMI.</p>",
                  "smithy.api#required" : {}
               }
            },
            "recommendation" : {
               "target" : "com.amazonaws.marketplacediscovery#AmazonMachineImageRecommendation",
               "traits" : {
                  "smithy.api#documentation" : "<p>Recommended instance types for running this AMI.</p>"
               }
            },
            "releaseNotes" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Release notes describing changes in this version of the fulfillment option.</p>"
               }
            },
            "usageInstructions" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Instructions on how to deploy and use this fulfillment option.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an Amazon Machine Image (AMI) fulfillment option, including version details, supported operating systems, and recommended instance types.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#AmazonMachineImageOperatingSystem" : {
         "members" : {
            "operatingSystemFamilyName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating system family, such as Linux or Windows.</p>",
                  "smithy.api#required" : {}
               }
            },
            "operatingSystemName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific operating system name, such as Amazon Linux 2 or Windows Server 2022.</p>",
                  "smithy.api#required" : {}
               }
            },
            "operatingSystemVersion" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version of the operating system.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an operating system supported by an AMI fulfillment option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#AmazonMachineImageOperatingSystemList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#AmazonMachineImageOperatingSystem"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#AmazonMachineImageRecommendation" : {
         "members" : {
            "instanceType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The recommended EC2 instance type for this AMI.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Recommended instance types for running an AMI fulfillment option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#ApiFulfillmentOption" : {
         "members" : {
            "awsSupportedServices" : {
               "target" : "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The AWS services supported by this API integration.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionDisplayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable name for the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "usageInstructions" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Instructions on how to integrate with and use this API.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an API-based fulfillment option, where the product is accessed through an API integration.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#AwsSupportedService" : {
         "members" : {
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the supported service.</p>",
                  "smithy.api#required" : {}
               }
            },
            "displayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The human-readable name of the supported service.</p>",
                  "smithy.api#required" : {}
               }
            },
            "supportedServiceType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The machine-readable identifier of the supported service.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an AWS service supported by a fulfillment option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#AwsSupportedServiceList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#AwsSupportedService"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#BillingPeriodType" : {
         "members" : {
            "MONTHLY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Monthly"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacediscovery#BoundedString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 4096,
               "min" : 1
            },
            "smithy.api#pattern" : "^(.)+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacediscovery#ByolPricingTerm" : {
         "members" : {
            "id" : {
               "target" : "com.amazonaws.marketplacediscovery#TermId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the term.</p>",
                  "smithy.api#required" : {}
               }
            },
            "type" : {
               "target" : "com.amazonaws.marketplacediscovery#TermType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the term.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines a Bring Your Own License (BYOL) pricing term, where buyers use their existing license for the product.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#Catalog" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\w\\-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacediscovery#Category" : {
         "members" : {
            "categoryId" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The machine-readable identifier of the category.</p>",
                  "smithy.api#required" : {}
               }
            },
            "displayName" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The human-readable name of the category.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A category used to classify a listing or product into a logical group.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#CategoryList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#Category"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 30
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#CloudFormationFulfillmentOption" : {
         "members" : {
            "fulfillmentOptionDisplayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable name for the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the fulfillment option version.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionVersion" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version identifier of the fulfillment option.</p>"
               }
            },
            "releaseNotes" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Release notes describing changes in this version of the fulfillment option.</p>"
               }
            },
            "usageInstructions" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Instructions on how to deploy and use this CloudFormation template.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an AWS CloudFormation template fulfillment option for infrastructure deployment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#ConfigurableUpfrontPricingTerm" : {
         "members" : {
            "currencyCode" : {
               "target" : "com.amazonaws.marketplacediscovery#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the currency for the prices in this term.</p>",
                  "smithy.api#required" : {}
               }
            },
            "id" : {
               "target" : "com.amazonaws.marketplacediscovery#TermId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the term.</p>",
                  "smithy.api#required" : {}
               }
            },
            "rateCards" : {
               "target" : "com.amazonaws.marketplacediscovery#ConfigurableUpfrontRateCardList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The rate cards available for selection, each with a selector, constraints, and per-unit rates.</p>"
               }
            },
            "type" : {
               "target" : "com.amazonaws.marketplacediscovery#TermType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the term.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines a configurable upfront pricing term with selectable rate cards, where buyers choose from predefined pricing configurations.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#ConfigurableUpfrontRateCardItem" : {
         "members" : {
            "constraints" : {
               "target" : "com.amazonaws.marketplacediscovery#Constraints",
               "traits" : {
                  "smithy.api#documentation" : "<p>Constraints on how the buyer can configure this rate card, such as whether multiple dimensions can be selected.</p>",
                  "smithy.api#required" : {}
               }
            },
            "rateCard" : {
               "target" : "com.amazonaws.marketplacediscovery#RateCardList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The per-unit rates for this configuration.</p>",
                  "smithy.api#required" : {}
               }
            },
            "selector" : {
               "target" : "com.amazonaws.marketplacediscovery#Selector",
               "traits" : {
                  "smithy.api#documentation" : "<p>The selector criteria for this rate card, such as duration.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A rate card item within a configurable upfront pricing term, including a selector for choosing the configuration and per-unit rates.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#ConfigurableUpfrontRateCardList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#ConfigurableUpfrontRateCardItem"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#Constraints" : {
         "members" : {
            "multipleDimensionSelection" : {
               "target" : "com.amazonaws.marketplacediscovery#RateCardConstraintType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether the buyer can select multiple dimensions. Values are <code>Allowed</code> or <code>Disallowed</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "quantityConfiguration" : {
               "target" : "com.amazonaws.marketplacediscovery#RateCardConstraintType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Whether the buyer can configure quantities. Values are <code>Allowed</code> or <code>Disallowed</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Constraints that control how a buyer can configure a rate card.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#ContainerFulfillmentOption" : {
         "members" : {
            "awsSupportedServices" : {
               "target" : "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The AWS services supported by this container deployment.</p>"
               }
            },
            "fulfillmentOptionDisplayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable name for the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the fulfillment option version.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionVersion" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version identifier of the fulfillment option.</p>"
               }
            },
            "operatingSystems" : {
               "target" : "com.amazonaws.marketplacediscovery#ContainerOperatingSystemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating systems supported by this container image.</p>"
               }
            },
            "releaseNotes" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Release notes describing changes in this version of the fulfillment option.</p>"
               }
            },
            "usageInstructions" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Instructions on how to deploy and use this container image.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a container image fulfillment option for container-based deployment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#ContainerOperatingSystem" : {
         "members" : {
            "operatingSystemFamilyName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating system family, such as Linux.</p>",
                  "smithy.api#required" : {}
               }
            },
            "operatingSystemName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific operating system name.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an operating system supported by a container fulfillment option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#ContainerOperatingSystemList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#ContainerOperatingSystem"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#CurrencyCode" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 3,
               "min" : 3
            },
            "smithy.api#pattern" : "^[A-Z]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacediscovery#DataArtifact" : {
         "members" : {
            "dataClassification" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The classification of sensitive data contained in the dataset.</p>",
                  "smithy.api#required" : {}
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the data artifact.</p>"
               }
            },
            "resourceArn" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the data artifact.</p>"
               }
            },
            "resourceType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the data artifact resource.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a data artifact within a Data Exchange fulfillment option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#DataArtifactList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#DataArtifact"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#DataExchangeFulfillmentOption" : {
         "members" : {
            "dataArtifacts" : {
               "target" : "com.amazonaws.marketplacediscovery#DataArtifactList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The data artifacts included in this Data Exchange fulfillment option.</p>"
               }
            },
            "fulfillmentOptionDisplayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable name for the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an AWS Data Exchange fulfillment option for data set delivery.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#DeployedOnAwsStatus" : {
         "members" : {
            "DEPLOYED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEPLOYED"
               }
            },
            "NOT_APPLICABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NOT_APPLICABLE"
               }
            },
            "NOT_DEPLOYED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "NOT_DEPLOYED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacediscovery#DimensionLabel" : {
         "members" : {
            "displayName" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The human-readable display name of the label.</p>"
               }
            },
            "labelType" : {
               "target" : "com.amazonaws.marketplacediscovery#DimensionLabelType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the dimension label, such as <code>Region</code> or <code>SagemakerOption</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "labelValue" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value used to group dimensions together.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A label used to group or categorize pricing dimensions, such as by region or SageMaker option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#DimensionLabelList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#DimensionLabel"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#DimensionLabelType" : {
         "members" : {
            "REGION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Region"
               }
            },
            "SAGEMAKER_OPTION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SagemakerOption"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacediscovery#DocumentItem" : {
         "members" : {
            "type" : {
               "target" : "com.amazonaws.marketplacediscovery#LegalDocumentType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the legal document, such as <code>StandardEula</code> or <code>CustomEula</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "url" : {
               "target" : "com.amazonaws.marketplacediscovery#URL",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL where the legal document can be accessed.</p>",
                  "smithy.api#required" : {}
               }
            },
            "version" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version of the standard contract, if applicable.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A legal document associated with a legal term, such as a EULA or data subscription agreement.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#DocumentList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#DocumentItem"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#Ec2ImageBuilderComponentFulfillmentOption" : {
         "members" : {
            "awsSupportedServices" : {
               "target" : "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The AWS services supported by this EC2 Image Builder component.</p>"
               }
            },
            "fulfillmentOptionDisplayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable name for the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the fulfillment option version.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionVersion" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version identifier of the fulfillment option.</p>"
               }
            },
            "operatingSystems" : {
               "target" : "com.amazonaws.marketplacediscovery#ContainerOperatingSystemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating systems supported by this EC2 Image Builder component.</p>"
               }
            },
            "releaseNotes" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Release notes describing changes in this version of the fulfillment option.</p>"
               }
            },
            "usageInstructions" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Instructions on how to deploy and use this EC2 Image Builder component.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an EC2 Image Builder component fulfillment option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#EksAddOnFulfillmentOption" : {
         "members" : {
            "awsSupportedServices" : {
               "target" : "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The AWS services supported by this EKS add-on.</p>"
               }
            },
            "fulfillmentOptionDisplayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable name for the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the fulfillment option version.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionVersion" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version identifier of the fulfillment option.</p>"
               }
            },
            "operatingSystems" : {
               "target" : "com.amazonaws.marketplacediscovery#EksAddOnOperatingSystemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating systems supported by this EKS add-on.</p>"
               }
            },
            "releaseNotes" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Release notes describing changes in this version of the fulfillment option.</p>"
               }
            },
            "usageInstructions" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Instructions on how to deploy and use this EKS add-on.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an Amazon EKS add-on fulfillment option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#EksAddOnOperatingSystem" : {
         "members" : {
            "operatingSystemFamilyName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating system family, such as Linux.</p>",
                  "smithy.api#required" : {}
               }
            },
            "operatingSystemName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific operating system name.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an operating system supported by an EKS add-on fulfillment option.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#EksAddOnOperatingSystemList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#EksAddOnOperatingSystem"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#ExceptionMessage" : {
         "type" : "string"
      },
      "com.amazonaws.marketplacediscovery#FacetTypeList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#SearchFacetType"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 30
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#FixedUpfrontPricingTerm" : {
         "members" : {
            "currencyCode" : {
               "target" : "com.amazonaws.marketplacediscovery#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Defines the currency for the prices in this term.</p>",
                  "smithy.api#required" : {}
               }
            },
            "duration" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The duration of the fixed pricing term, in ISO 8601 format.</p>"
               }
            },
            "grants" : {
               "target" : "com.amazonaws.marketplacediscovery#GrantList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entitlements granted to the buyer as part of this term.</p>",
                  "smithy.api#required" : {}
               }
            },
            "id" : {
               "target" : "com.amazonaws.marketplacediscovery#TermId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the term.</p>",
                  "smithy.api#required" : {}
               }
            },
            "price" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The price charged upfront for this term.</p>",
                  "smithy.api#required" : {}
               }
            },
            "type" : {
               "target" : "com.amazonaws.marketplacediscovery#TermType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the term.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines a fixed upfront pricing term with a pre-paid amount and granted entitlements.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#FreeTrialPricingTerm" : {
         "members" : {
            "duration" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The duration of the free trial period.</p>"
               }
            },
            "grants" : {
               "target" : "com.amazonaws.marketplacediscovery#GrantList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entitlements granted to the buyer during the free trial.</p>",
                  "smithy.api#required" : {}
               }
            },
            "id" : {
               "target" : "com.amazonaws.marketplacediscovery#TermId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the term.</p>",
                  "smithy.api#required" : {}
               }
            },
            "type" : {
               "target" : "com.amazonaws.marketplacediscovery#TermType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the term.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Defines a free trial pricing term that enables customers to try the product before purchasing.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#FulfillmentOption" : {
         "members" : {
            "amazonMachineImageFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#AmazonMachineImageFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>An Amazon Machine Image (AMI) fulfillment option for EC2 deployment.</p>"
               }
            },
            "apiFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#ApiFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>An API-based fulfillment option for programmatic integration.</p>"
               }
            },
            "cloudFormationFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#CloudFormationFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>An AWS CloudFormation template fulfillment option for infrastructure deployment.</p>"
               }
            },
            "containerFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#ContainerFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>A container image fulfillment option for container-based deployment.</p>"
               }
            },
            "dataExchangeFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#DataExchangeFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>An AWS Data Exchange fulfillment option for data set delivery.</p>"
               }
            },
            "ec2ImageBuilderComponentFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#Ec2ImageBuilderComponentFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>An EC2 Image Builder component fulfillment option.</p>"
               }
            },
            "eksAddOnFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#EksAddOnFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>An Amazon EKS add-on fulfillment option.</p>"
               }
            },
            "helmFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#HelmFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>A Helm chart fulfillment option for Kubernetes deployment.</p>"
               }
            },
            "professionalServicesFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#ProfessionalServicesFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>A professional services fulfillment option.</p>"
               }
            },
            "saasFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#SaasFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>A Software as a Service (SaaS) fulfillment option.</p>"
               }
            },
            "sageMakerAlgorithmFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#SageMakerAlgorithmFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>An Amazon SageMaker algorithm fulfillment option.</p>"
               }
            },
            "sageMakerModelFulfillmentOption" : {
               "target" : "com.amazonaws.marketplacediscovery#SageMakerModelFulfillmentOption",
               "traits" : {
                  "smithy.api#documentation" : "<p>An Amazon SageMaker model fulfillment option.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a fulfillment option for a product. Each element contains exactly one fulfillment option type.</p>"
         },
         "type" : "union"
      },
      "com.amazonaws.marketplacediscovery#FulfillmentOptionSummary" : {
         "members" : {
            "displayName" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The human-readable name of the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The machine-readable type of the fulfillment option, such as <code>SAAS</code> or <code>AMAZON_MACHINE_IMAGE</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A summary of a fulfillment option available for deploying or accessing a listing or product.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#FulfillmentOptionSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionSummary"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 20
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#FulfillmentOptionType" : {
         "members" : {
            "AMAZON_MACHINE_IMAGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AMAZON_MACHINE_IMAGE"
               }
            },
            "API" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "API"
               }
            },
            "CLOUDFORMATION_TEMPLATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CLOUDFORMATION_TEMPLATE"
               }
            },
            "CONTAINER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CONTAINER"
               }
            },
            "DATA_EXCHANGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DATA_EXCHANGE"
               }
            },
            "EC2_IMAGE_BUILDER_COMPONENT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EC2_IMAGE_BUILDER_COMPONENT"
               }
            },
            "EKS_ADD_ON" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EKS_ADD_ON"
               }
            },
            "HELM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HELM"
               }
            },
            "PROFESSIONAL_SERVICES" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PROFESSIONAL_SERVICES"
               }
            },
            "SAAS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SAAS"
               }
            },
            "SAGEMAKER_ALGORITHM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SAGEMAKER_ALGORITHM"
               }
            },
            "SAGEMAKER_MODEL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SAGEMAKER_MODEL"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacediscovery#FulfillmentOptionsList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#FulfillmentOption"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#GetListing" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacediscovery#GetListingInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacediscovery#GetListingOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides details about a listing, such as descriptions, badges, categories, pricing model summaries, reviews, and associated products and offers.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/2026-02-05/getListing"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "failure" : {
                        "errorId" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
                     }
                  },
                  "id" : "GetListingFailure",
                  "params" : {
                     "listingId" : "non-existent-listing-id"
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacediscovery#GetListingInput" : {
         "members" : {
            "listingId" : {
               "target" : "com.amazonaws.marketplacediscovery#ListingId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the listing to retrieve.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetListingOutput" : {
         "members" : {
            "associatedEntities" : {
               "target" : "com.amazonaws.marketplacediscovery#ListingAssociatedEntityList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The products and offers associated with this listing. Each entity contains product and offer information.</p>",
                  "smithy.api#required" : {}
               }
            },
            "badges" : {
               "target" : "com.amazonaws.marketplacediscovery#ListingBadgeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Badges indicating special attributes of the listing, such as free tier eligibility, free trial availability, or Quick Launch support.</p>",
                  "smithy.api#required" : {}
               }
            },
            "catalog" : {
               "target" : "com.amazonaws.marketplacediscovery#Catalog",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the catalog that the listing belongs to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "categories" : {
               "target" : "com.amazonaws.marketplacediscovery#CategoryList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The categories used to classify this listing into logical groups.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionSummaries" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionSummaryList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A summary of fulfillment options available for deploying or accessing the listing, such as AMI, SaaS, or Container.</p>",
                  "smithy.api#required" : {}
               }
            },
            "highlights" : {
               "target" : "com.amazonaws.marketplacediscovery#HighlightList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of key features that the listing offers to customers.</p>",
                  "smithy.api#required" : {}
               }
            },
            "integrationGuide" : {
               "target" : "com.amazonaws.marketplacediscovery#NullableString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional guidance explaining how to use data in this listing. Primarily defines how to integrate with a multi-product listing.</p>"
               }
            },
            "listingId" : {
               "target" : "com.amazonaws.marketplacediscovery#ListingId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the listing.</p>",
                  "smithy.api#required" : {}
               }
            },
            "listingName" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The human-readable display name of the listing.</p>",
                  "smithy.api#required" : {}
               }
            },
            "logoThumbnailUrl" : {
               "target" : "com.amazonaws.marketplacediscovery#URL",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL of the logo thumbnail image for the listing.</p>",
                  "smithy.api#required" : {}
               }
            },
            "longDescription" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A detailed description of what the listing offers, in paragraph format.</p>",
                  "smithy.api#length" : {
                     "max" : 32768
                  },
                  "smithy.api#required" : {}
               }
            },
            "pricingModels" : {
               "target" : "com.amazonaws.marketplacediscovery#PricingModelList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pricing models for offers associated with this listing, such as usage-based, contract, BYOL, or free.</p>",
                  "smithy.api#required" : {}
               }
            },
            "pricingUnits" : {
               "target" : "com.amazonaws.marketplacediscovery#PricingUnitList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pricing units that define the billing dimensions for offers associated with this listing, such as users, hosts, or data.</p>",
                  "smithy.api#required" : {}
               }
            },
            "promotionalMedia" : {
               "target" : "com.amazonaws.marketplacediscovery#PromotionalMediaList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Embedded promotional media provided by the creator of the product, such as images and videos.</p>",
                  "smithy.api#required" : {}
               }
            },
            "publisher" : {
               "target" : "com.amazonaws.marketplacediscovery#SellerInformation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity who created and published the listing.</p>",
                  "smithy.api#required" : {}
               }
            },
            "resources" : {
               "target" : "com.amazonaws.marketplacediscovery#ResourceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Resources that provide further information about using the product or requesting support, such as documentation links, support contacts, and usage instructions.</p>",
                  "smithy.api#required" : {}
               }
            },
            "reviewSummary" : {
               "target" : "com.amazonaws.marketplacediscovery#ReviewSummary",
               "traits" : {
                  "smithy.api#documentation" : "<p>A summary of customer reviews available for the listing, including average rating and total review count by source.</p>"
               }
            },
            "sellerEngagements" : {
               "target" : "com.amazonaws.marketplacediscovery#SellerEngagementList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Engagement options available to potential buyers, such as requesting a private offer or requesting a demo.</p>",
                  "smithy.api#required" : {}
               }
            },
            "shortDescription" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A 1–3 sentence summary describing the key aspects of the listing.</p>",
                  "smithy.api#required" : {}
               }
            },
            "useCases" : {
               "target" : "com.amazonaws.marketplacediscovery#UseCaseList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Use cases associated with the listing, describing scenarios where the product can be applied.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetOffer" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacediscovery#GetOfferInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacediscovery#GetOfferOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides details about an offer, such as the pricing model, seller of record, availability dates, badges, and associated products.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/2026-02-05/getOffer"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "failure" : {
                        "errorId" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
                     }
                  },
                  "id" : "GetOfferFailure",
                  "params" : {
                     "offerId" : "non-existent-offer-id"
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacediscovery#GetOfferInput" : {
         "members" : {
            "offerId" : {
               "target" : "com.amazonaws.marketplacediscovery#OfferId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the offer to retrieve.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetOfferOutput" : {
         "members" : {
            "agreementProposalId" : {
               "target" : "com.amazonaws.marketplacediscovery#AgreementResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>An encoded string to be passed by the acceptor of the terms when creating an agreement.</p>",
                  "smithy.api#required" : {}
               }
            },
            "associatedEntities" : {
               "target" : "com.amazonaws.marketplacediscovery#OfferAssociatedEntityList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The products and offer sets associated with this offer.</p>",
                  "smithy.api#required" : {}
               }
            },
            "availableFromTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the offer became available to the buyer.</p>"
               }
            },
            "badges" : {
               "target" : "com.amazonaws.marketplacediscovery#PurchaseOptionBadgeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Badges indicating special attributes of the offer, such as private pricing, future dated, or replacement offer.</p>",
                  "smithy.api#required" : {}
               }
            },
            "catalog" : {
               "target" : "com.amazonaws.marketplacediscovery#Catalog",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the catalog that the offer belongs to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "expirationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time until when the offer can be procured. This value is null for offers that never expire.</p>"
               }
            },
            "offerId" : {
               "target" : "com.amazonaws.marketplacediscovery#OfferId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the offer.</p>",
                  "smithy.api#required" : {}
               }
            },
            "offerName" : {
               "target" : "com.amazonaws.marketplacediscovery#NullableString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the offer. This is free-form text provided by the seller.</p>"
               }
            },
            "pricingModel" : {
               "target" : "com.amazonaws.marketplacediscovery#PricingModel",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pricing model that determines how buyers are charged, such as usage-based, contract, BYOL, or free.</p>",
                  "smithy.api#required" : {}
               }
            },
            "replacementAgreementId" : {
               "target" : "com.amazonaws.marketplacediscovery#AgreementResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the existing agreement that this offer would replace. Enables agreement-based offer functionality.</p>"
               }
            },
            "sellerOfRecord" : {
               "target" : "com.amazonaws.marketplacediscovery#SellerInformation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity responsible for selling the product under this offer.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetOfferSet" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacediscovery#GetOfferSetInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacediscovery#GetOfferSetOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides details about an offer set, which is a bundle of offers across multiple products. Includes the seller, availability dates, buyer notes, and associated product-offer pairs.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/2026-02-05/getOfferSet"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "failure" : {
                        "errorId" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
                     }
                  },
                  "id" : "GetOfferSetFailure",
                  "params" : {
                     "offerSetId" : "non-existent-offerset-id"
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacediscovery#GetOfferSetInput" : {
         "members" : {
            "offerSetId" : {
               "target" : "com.amazonaws.marketplacediscovery#OfferSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the offer set to retrieve.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetOfferSetOutput" : {
         "members" : {
            "associatedEntities" : {
               "target" : "com.amazonaws.marketplacediscovery#OfferSetAssociatedEntityList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The products and offers included in this offer set.</p>",
                  "smithy.api#required" : {}
               }
            },
            "availableFromTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the offer set became available to the buyer.</p>"
               }
            },
            "badges" : {
               "target" : "com.amazonaws.marketplacediscovery#PurchaseOptionBadgeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Badges indicating special attributes of the offer set, such as private pricing or future dated.</p>",
                  "smithy.api#required" : {}
               }
            },
            "buyerNotes" : {
               "target" : "com.amazonaws.marketplacediscovery#NullableString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Detailed information about the offer set that helps buyers understand its purpose and contents.</p>"
               }
            },
            "catalog" : {
               "target" : "com.amazonaws.marketplacediscovery#Catalog",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the catalog that the offer set belongs to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "expirationTime" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time when the offer set expires and is no longer available for procurement.</p>"
               }
            },
            "offerSetId" : {
               "target" : "com.amazonaws.marketplacediscovery#OfferSetId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the offer set.</p>",
                  "smithy.api#required" : {}
               }
            },
            "offerSetName" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the offer set.</p>"
               }
            },
            "sellerOfRecord" : {
               "target" : "com.amazonaws.marketplacediscovery#SellerInformation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity responsible for selling the products under this offer set.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetOfferTerms" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacediscovery#GetOfferTermsInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacediscovery#GetOfferTermsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the terms attached to an offer, such as pricing terms (usage-based, contract, BYOL, free trial), legal terms, payment schedules, validity terms, support terms, and renewal terms.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/2026-02-05/getOfferTerms"
            },
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "offerTerms",
               "outputToken" : "nextToken"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "failure" : {
                        "errorId" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
                     }
                  },
                  "id" : "GetOfferTermsFailure",
                  "params" : {
                     "offerId" : "non-existent-offer-id"
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacediscovery#GetOfferTermsInput" : {
         "members" : {
            "maxResults" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#default" : 10,
                  "smithy.api#documentation" : "<p>The maximum number of results that are returned per call. You can use <code>nextToken</code> to get more results.</p>",
                  "smithy.api#range" : {
                     "max" : 25,
                     "min" : 1
                  }
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.marketplacediscovery#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If <code>nextToken</code> is returned, there are more results available. Make the call again using the returned token to retrieve the next page.</p>"
               }
            },
            "offerId" : {
               "target" : "com.amazonaws.marketplacediscovery#OfferId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the offer whose terms to retrieve.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetOfferTermsOutput" : {
         "members" : {
            "nextToken" : {
               "target" : "com.amazonaws.marketplacediscovery#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If <code>nextToken</code> is returned, there are more results available. Make the call again using the returned token to retrieve the next page.</p>"
               }
            },
            "offerTerms" : {
               "target" : "com.amazonaws.marketplacediscovery#OfferTermsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The terms attached to the offer. Each element contains exactly one term type.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetProduct" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacediscovery#GetProductInput"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacediscovery#GetProductOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides details about a product, such as descriptions, highlights, categories, fulfillment option summaries, promotional media, and seller engagement options.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/2026-02-05/getProduct"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "failure" : {
                        "errorId" : "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
                     }
                  },
                  "id" : "GetProductFailure",
                  "params" : {
                     "productId" : "non-existent-product-id"
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacediscovery#GetProductInput" : {
         "members" : {
            "productId" : {
               "target" : "com.amazonaws.marketplacediscovery#ProductId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the product to retrieve.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GetProductOutput" : {
         "members" : {
            "catalog" : {
               "target" : "com.amazonaws.marketplacediscovery#Catalog",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the catalog that the product belongs to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "categories" : {
               "target" : "com.amazonaws.marketplacediscovery#CategoryList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The categories used to classify this product into logical groups.</p>",
                  "smithy.api#required" : {}
               }
            },
            "deployedOnAws" : {
               "target" : "com.amazonaws.marketplacediscovery#DeployedOnAwsStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates whether the product is deployed on AWS infrastructure.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionSummaries" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionSummaryList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A summary of fulfillment options available for deploying or accessing the product, such as AMI, SaaS, or Container.</p>",
                  "smithy.api#required" : {}
               }
            },
            "highlights" : {
               "target" : "com.amazonaws.marketplacediscovery#HighlightList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of key features that the product offers to customers.</p>",
                  "smithy.api#required" : {}
               }
            },
            "logoThumbnailUrl" : {
               "target" : "com.amazonaws.marketplacediscovery#URL",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL of the logo thumbnail image for the product.</p>",
                  "smithy.api#required" : {}
               }
            },
            "longDescription" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A detailed description of what the product does, in paragraph format.</p>",
                  "smithy.api#length" : {
                     "max" : 32768
                  },
                  "smithy.api#required" : {}
               }
            },
            "manufacturer" : {
               "target" : "com.amazonaws.marketplacediscovery#SellerInformation",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity who manufactured the product.</p>",
                  "smithy.api#required" : {}
               }
            },
            "productId" : {
               "target" : "com.amazonaws.marketplacediscovery#ProductId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the product.</p>",
                  "smithy.api#required" : {}
               }
            },
            "productName" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The human-readable display name of the product.</p>",
                  "smithy.api#required" : {}
               }
            },
            "promotionalMedia" : {
               "target" : "com.amazonaws.marketplacediscovery#PromotionalMediaList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Embedded promotional media provided by the creator of the product, such as images and videos.</p>",
                  "smithy.api#required" : {}
               }
            },
            "resources" : {
               "target" : "com.amazonaws.marketplacediscovery#ResourceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Resources that provide further information about using the product or requesting support, such as documentation links, support contacts, and usage instructions.</p>",
                  "smithy.api#required" : {}
               }
            },
            "sellerEngagements" : {
               "target" : "com.amazonaws.marketplacediscovery#SellerEngagementList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Engagement options available to potential buyers, such as requesting a private offer or requesting a demo.</p>",
                  "smithy.api#required" : {}
               }
            },
            "shortDescription" : {
               "target" : "com.amazonaws.marketplacediscovery#NonEmptyString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A 1–3 sentence summary describing the key aspects of the product.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GrantItem" : {
         "members" : {
            "description" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the entitlement.</p>"
               }
            },
            "dimensionKey" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The machine-readable key identifying the entitlement dimension.</p>",
                  "smithy.api#required" : {}
               }
            },
            "dimensionLabels" : {
               "target" : "com.amazonaws.marketplacediscovery#DimensionLabelList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Labels used to categorize this entitlement, such as by region.</p>"
               }
            },
            "displayName" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The human-readable name of the entitlement dimension.</p>",
                  "smithy.api#required" : {}
               }
            },
            "maxQuantity" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum quantity of the entitlement that can be granted.</p>"
               }
            },
            "unit" : {
               "target" : "com.amazonaws.marketplacediscovery#BoundedString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unit of measurement for the entitlement.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An entitlement granted to the buyer as part of a pricing term.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#GrantList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacediscovery#GrantItem"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacediscovery#HelmFulfillmentOption" : {
         "members" : {
            "awsSupportedServices" : {
               "target" : "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The AWS services supported by this Helm chart deployment.</p>"
               }
            },
            "fulfillmentOptionDisplayName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A human-readable name for the fulfillment option type.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionId" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the fulfillment option version.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionType" : {
               "target" : "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The category of the fulfillment option.</p>",
                  "smithy.api#required" : {}
               }
            },
            "fulfillmentOptionVersion" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version identifier of the fulfillment option.</p>"
               }
            },
            "operatingSystems" : {
               "target" : "com.amazonaws.marketplacediscovery#HelmOperatingSystemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating systems supported by this Helm chart.</p>"
               }
            },
            "releaseNotes" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Release notes describing changes in this version of the fulfillment option.</p>"
               }
            },
            "usageInstructions" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>Instructions on how to deploy and use this Helm chart.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a Helm chart fulfillment option for Kubernetes deployment.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacediscovery#HelmOperatingSystem" : {
         "members" : {
            "operatingSystemFamilyName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The operating system family, such as Linux.</p>",
                  "smithy.api#required" : {}
               }
            },
            "operatingSystemName" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The specific operating system name.</p>",
                  "smithy.api#required" : {}
[...]
