{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.health#AWSHealth_20160804" : {
         "operations" : [
            {
               "target" : "com.amazonaws.health#DescribeAffectedAccountsForOrganization"
            },
            {
               "target" : "com.amazonaws.health#DescribeAffectedEntities"
            },
            {
               "target" : "com.amazonaws.health#DescribeAffectedEntitiesForOrganization"
            },
            {
               "target" : "com.amazonaws.health#DescribeEntityAggregates"
            },
            {
               "target" : "com.amazonaws.health#DescribeEntityAggregatesForOrganization"
            },
            {
               "target" : "com.amazonaws.health#DescribeEventAggregates"
            },
            {
               "target" : "com.amazonaws.health#DescribeEventDetails"
            },
            {
               "target" : "com.amazonaws.health#DescribeEventDetailsForOrganization"
            },
            {
               "target" : "com.amazonaws.health#DescribeEvents"
            },
            {
               "target" : "com.amazonaws.health#DescribeEventsForOrganization"
            },
            {
               "target" : "com.amazonaws.health#DescribeEventTypes"
            },
            {
               "target" : "com.amazonaws.health#DescribeHealthServiceStatusForOrganization"
            },
            {
               "target" : "com.amazonaws.health#DisableHealthServiceAccessForOrganization"
            },
            {
               "target" : "com.amazonaws.health#EnableHealthServiceAccessForOrganization"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "health",
               "cloudFormationName" : "Health",
               "cloudTrailEventSource" : "health.amazonaws.com",
               "endpointPrefix" : "health",
               "sdkId" : "Health"
            },
            "aws.auth#sigv4" : {
               "name" : "health"
            },
            "aws.protocols#awsJson1_1" : {},
            "smithy.api#documentation" : "<fullname>Health</fullname>\n         <p>The Health API provides access to the Health information that appears in the\n            <a href=\"https://health.aws.amazon.com/health/home\">Health Dashboard</a>. You can use\n         the API operations to get information about events that might affect your Amazon Web Services services and resources.</p>\n         <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a> to use the Health API. If you call the Health API from an\n            Amazon Web Services account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a\n            <code>SubscriptionRequiredException</code> error.</p>\n         <p>For API access, you need an access key ID and a secret access key. Use temporary\n         credentials instead of long-term access keys when possible. Temporary credentials include\n         an access key ID, a secret access key, and a security token that indicates when the\n         credentials expire. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html\">Best practices for managing\n            Amazon Web Services access keys</a> in the <i>Amazon Web Services General Reference</i>.</p>\n         <p>You can use the Health endpoint health.us-east-1.amazonaws.com (HTTPS) to call the\n         Health API operations. Health supports a multi-Region application architecture\n         and has two regional endpoints in an active-passive configuration. You can use the high\n         availability endpoint example to determine which Amazon Web Services Region is active, so that you can\n         get the latest information from the API. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/health-api.html\">Accessing the Health\n            API</a> in the <i>Health User Guide</i>.</p>\n         <p>For authentication of requests, Health uses the <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing\n            Process</a>.</p>\n         <p>If your Amazon Web Services account is part of Organizations, you can use the Health organizational\n         view feature. This feature provides a centralized view of Health events across all\n         accounts in your organization. You can aggregate Health events in real time to\n         identify accounts in your organization that are affected by an operational event or get\n         notified of security vulnerabilities. Use the organizational view API operations to enable\n         this feature and return event information. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating\n            Health events</a> in the <i>Health User Guide</i>.</p>\n         <note>\n            <p>When you use the Health API operations to return Health events, see the\n            following recommendations:</p>\n            <ul>\n               <li>\n                  <p>Use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode\">eventScopeCode</a> parameter to specify whether to return Health\n                  events that are public or account-specific.</p>\n               </li>\n               <li>\n                  <p>Use pagination to view all events from the response. For example, if you call\n                  the <code>DescribeEventsForOrganization</code> operation to get all events in your\n                  organization, you might receive several page results. Specify the\n                     <code>nextToken</code> in the next request to return more results.</p>\n               </li>\n            </ul>\n         </note>",
            "smithy.api#title" : "AWS Health APIs and Notifications",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Endpoint"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              {
                                 "ref" : "UseDualStack"
                              },
                              false
                           ],
                           "fn" : "booleanEquals"
                        },
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        },
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "assign" : "PartitionResult",
                           "fn" : "aws.partition"
                        },
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "PartitionResult"
                                          },
                                          "name"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    "aws"
                                 ],
                                 "fn" : "stringEquals"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "PartitionResult"
                                          },
                                          "name"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    "aws-cn"
                                 ],
                                 "fn" : "stringEquals"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "PartitionResult"
                                          },
                                          "name"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    "aws-us-gov"
                                 ],
                                 "fn" : "stringEquals"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "PartitionResult"
                                          },
                                          "name"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    "aws-iso"
                                 ],
                                 "fn" : "stringEquals"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "PartitionResult"
                                          },
                                          "name"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    "aws-iso-b"
                                 ],
                                 "fn" : "stringEquals"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "PartitionResult"
                                          },
                                          "name"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    "aws-iso-e"
                                 ],
                                 "fn" : "stringEquals"
                              }
                           ],
                           "fn" : "not"
                        },
                        {
                           "argv" : [
                              {
                                 "argv" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "PartitionResult"
                                          },
                                          "name"
                                       ],
                                       "fn" : "getAttr"
                                    },
                                    "aws-iso-f"
                                 ],
                                 "fn" : "stringEquals"
                              }
                           ],
                           "fn" : "not"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : "https://health-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                           },
                           "type" : "endpoint"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : "https://health.{Region}.{PartitionResult#dualStackDnsSuffix}"
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://health-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://health-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://health.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          },
                                          "aws-global"
                                       ],
                                       "fn" : "stringEquals"
                                    }
                                 ],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {
                                       "authSchemes" : [
                                          {
                                             "name" : "sigv4",
                                             "signingName" : "health",
                                             "signingRegion" : "us-east-1"
                                          }
                                       ]
                                    },
                                    "url" : "https://global.health.amazonaws.com"
                                 },
                                 "type" : "endpoint"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          },
                                          "aws-cn-global"
                                       ],
                                       "fn" : "stringEquals"
                                    }
                                 ],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {
                                       "authSchemes" : [
                                          {
                                             "name" : "sigv4",
                                             "signingName" : "health",
                                             "signingRegion" : "cn-northwest-1"
                                          }
                                       ]
                                    },
                                    "url" : "https://global.health.amazonaws.com.cn"
                                 },
                                 "type" : "endpoint"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://health.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region aws-global with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "health",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://global.health.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "aws-global",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region aws-cn-global with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "health",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://global.health.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "aws-cn-global",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region aws-global with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "health",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://global.health.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "aws-global",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region aws-cn-global with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingName" : "health",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://global.health.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "aws-cn-global",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-iso-east-1.api.aws.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-iso-east-1.api.aws.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-isob-east-1.api.aws.scloud"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-isob-east-1.api.aws.scloud"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.us-isof-south-1.api.aws.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.us-isof-south-1.api.aws.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.eu-isoe-west-1.api.cloud-aws.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.eu-isoe-west-1.api.cloud-aws.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.eusc-de-east-1.api.amazonwebservices.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health.eusc-de-east-1.api.amazonwebservices.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.eusc-de-east-1.api.amazonwebservices.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://health-fips.eusc-de-east-1.api.amazonwebservices.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2016-08-04"
      },
      "com.amazonaws.health#AccountEntityAggregate" : {
         "members" : {
            "accountId" : {
               "target" : "com.amazonaws.health#eventArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The 12-digit Amazon Web Services account numbers that contains the affected entities.</p>"
               }
            },
            "count" : {
               "target" : "com.amazonaws.health#count",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The number of entities that match the filter criteria for the specified events.</p>"
               }
            },
            "statuses" : {
               "target" : "com.amazonaws.health#entityStatuses",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of affected entities aggregated by the entity status codes.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The number of entities in an account that are impacted by a specific event aggregated by the entity status codes.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.health#AccountEntityAggregatesList" : {
         "member" : {
            "target" : "com.amazonaws.health#AccountEntityAggregate"
         },
         "type" : "list"
      },
      "com.amazonaws.health#AffectedEntity" : {
         "members" : {
            "awsAccountId" : {
               "target" : "com.amazonaws.health#accountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The 12-digit Amazon Web Services account number that contains the affected entity.</p>"
               }
            },
            "entityArn" : {
               "target" : "com.amazonaws.health#entityArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i>\n            </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code>\n         </p>"
               }
            },
            "entityMetadata" : {
               "target" : "com.amazonaws.health#entityMetadata",
               "traits" : {
                  "smithy.api#documentation" : "<p>Additional metadata about the affected entity.</p>"
               }
            },
            "entityUrl" : {
               "target" : "com.amazonaws.health#entityUrl",
               "traits" : {
                  "smithy.api#documentation" : "<p>The URL of the affected entity.</p>"
               }
            },
            "entityValue" : {
               "target" : "com.amazonaws.health#entityValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ID of the affected entity.</p>"
               }
            },
            "eventArn" : {
               "target" : "com.amazonaws.health#eventArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the event. The event ARN has the\n<code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>\nformat.</p>\n         <p>For example, an event ARN might look like the following:</p>\n         <p>\n            <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
               }
            },
            "lastUpdatedTime" : {
               "target" : "com.amazonaws.health#timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The most recent time that the entity was updated.</p>"
               }
            },
            "statusCode" : {
               "target" : "com.amazonaws.health#entityStatusCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The most recent status of the entity affected by the event. The possible values are\n            <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, <code>UNKNOWN</code>, <code>PENDING</code>, and <code>RESOLVED</code>.</p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.health#tagSet",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map of entity tags attached to the affected entity.</p>\n         <note>\n            <p>Currently, the <code>tags</code> property isn't supported.</p>\n         </note>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about an entity that is affected by a Health event.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.health#ConcurrentModificationException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.health#string"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>\n            <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> is already in progress. Wait for the\n         action to complete before trying again. To get the current status, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeHealthServiceStatusForOrganization.html\">DescribeHealthServiceStatusForOrganization</a> operation.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DateTimeRange" : {
         "members" : {
            "from" : {
               "target" : "com.amazonaws.health#timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The starting date and time of a time range.</p>"
               }
            },
            "to" : {
               "target" : "com.amazonaws.health#timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ending date and time of a time range.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A range of dates and times that is used by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html\">EventFilter</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html\">EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set:\n         match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or\n            <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code>\n         inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where\n         the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set\n         and <code>to</code> is set: match items where the timestamp value is equal to or before\n            <code>to</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeAffectedAccountsForOrganization" : {
         "errors" : [
            {
               "target" : "com.amazonaws.health#InvalidPaginationToken"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.health#DescribeAffectedAccountsForOrganizationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.health#DescribeAffectedAccountsForOrganizationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of accounts in the organization from Organizations that are affected by the\n         provided event. For more information about the different types of Health events, see\n            <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>. </p>\n         <p>Before you can call this operation, you must first enable Health to work with\n         Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's\n         management account.</p>\n         <note>\n            <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n         </note>",
            "smithy.api#idempotent" : {},
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "affectedAccounts",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.health#DescribeAffectedAccountsForOrganizationRequest" : {
         "members" : {
            "eventArn" : {
               "target" : "com.amazonaws.health#eventArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the event. The event ARN has the\n<code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>\nformat.</p>\n         <p>For example, an event ARN might look like the following:</p>\n         <p>\n            <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>",
                  "smithy.api#required" : {}
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.health#maxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.health#nextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeAffectedAccountsForOrganizationResponse" : {
         "members" : {
            "affectedAccounts" : {
               "target" : "com.amazonaws.health#affectedAccountsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON set of elements of the affected accounts.</p>"
               }
            },
            "eventScopeCode" : {
               "target" : "com.amazonaws.health#eventScopeCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p>\n         <ul>\n            <li>\n               <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the\n                  <code>affectedAccounts</code> value is always empty.</p>\n            </li>\n            <li>\n               <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then\n               the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your\n               organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you\n               have Amazon Web Services accounts that use that service, those account IDs appear in the\n               response.</p>\n            </li>\n            <li>\n               <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the\n                  <code>eventArn</code> that you specified in the request is invalid or doesn't\n               exist.</p>\n            </li>\n         </ul>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.health#nextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeAffectedEntities" : {
         "errors" : [
            {
               "target" : "com.amazonaws.health#InvalidPaginationToken"
            },
            {
               "target" : "com.amazonaws.health#UnsupportedLocale"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.health#DescribeAffectedEntitiesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.health#DescribeAffectedEntitiesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of entities that have been affected by the specified events, based on the\n         specified filter criteria. Entities can refer to individual customer resources, groups of\n         customer resources, or any other construct, depending on the Amazon Web Services service. Events that\n         have impact beyond that of the affected entities, or where the extent of impact is unknown,\n         include at least one entity indicating this.</p>\n         <p>At least one event ARN is required.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n               </li>\n               <li>\n                  <p>This operation supports resource-level permissions. You can use this operation to allow or deny access to specific Health events. For more\n                  information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\n               </li>\n            </ul>\n         </note>",
            "smithy.api#idempotent" : {},
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "entities",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.health#DescribeAffectedEntitiesForOrganization" : {
         "errors" : [
            {
               "target" : "com.amazonaws.health#InvalidPaginationToken"
            },
            {
               "target" : "com.amazonaws.health#UnsupportedLocale"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of entities that have been affected by one or more events for one or more\n         accounts in your organization in Organizations, based on the filter criteria. Entities can refer\n         to individual customer resources, groups of customer resources, or any other construct,\n         depending on the Amazon Web Services service.</p>\n         <p>At least one event Amazon Resource Name (ARN) and account ID are required.</p>\n         <p>Before you can call this operation, you must first enable Health to work with\n         Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's\n         management account.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n               </li>\n               <li>\n                  <p>This operation doesn't support resource-level permissions. You can't use this operation to allow or deny access to specific Health events. For more\n                  information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\n               </li>\n            </ul>\n         </note>",
            "smithy.api#idempotent" : {},
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "entities",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationFailedSet" : {
         "member" : {
            "target" : "com.amazonaws.health#OrganizationAffectedEntitiesErrorItem"
         },
         "type" : "list"
      },
      "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationRequest" : {
         "members" : {
            "locale" : {
               "target" : "com.amazonaws.health#locale",
               "traits" : {
                  "smithy.api#documentation" : "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.health#maxResultsLowerRange",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of items to return in one batch, between 1 and 100, inclusive.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.health#nextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
               }
            },
            "organizationEntityAccountFilters" : {
               "target" : "com.amazonaws.health#OrganizationEntityAccountFiltersList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON set of elements including the <code>awsAccountId</code>, <code>eventArn</code> and a set of <code>statusCodes</code>.</p>"
               }
            },
            "organizationEntityFilters" : {
               "target" : "com.amazonaws.health#OrganizationEntityFiltersList",
               "traits" : {
                  "smithy.api#deprecated" : {
                     "message" : "This property is deprecated, use organizationEntityAccountFilters instead."
                  },
                  "smithy.api#documentation" : "<p>A JSON set of elements including the <code>awsAccountId</code> and the\n            <code>eventArn</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationResponse" : {
         "members" : {
            "entities" : {
               "target" : "com.amazonaws.health#EntityList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON set of elements including the <code>awsAccountId</code> and its\n            <code>entityArn</code>, <code>entityValue</code> and its <code>entityArn</code>,\n            <code>lastUpdatedTime</code>, and <code>statusCode</code>.</p>"
               }
            },
            "failedSet" : {
               "target" : "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationFailedSet",
               "traits" : {
                  "smithy.api#documentation" : "<p>A JSON set of elements of the failed response, including the <code>awsAccountId</code>,\n            <code>errorMessage</code>, <code>errorName</code>, and <code>eventArn</code>.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.health#nextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeAffectedEntitiesRequest" : {
         "members" : {
            "filter" : {
               "target" : "com.amazonaws.health#EntityFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>Values to narrow the results returned. At least one event ARN is required.</p>",
                  "smithy.api#required" : {}
               }
            },
            "locale" : {
               "target" : "com.amazonaws.health#locale",
               "traits" : {
                  "smithy.api#documentation" : "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.health#maxResultsLowerRange",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of items to return in one batch, between 1 and 100, inclusive.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.health#nextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeAffectedEntitiesResponse" : {
         "members" : {
            "entities" : {
               "target" : "com.amazonaws.health#EntityList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entities that match the filter criteria.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.health#nextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeEntityAggregates" : {
         "input" : {
            "target" : "com.amazonaws.health#DescribeEntityAggregatesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.health#DescribeEntityAggregatesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the number of entities that are affected by each of the specified events.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.health#DescribeEntityAggregatesForOrganization" : {
         "input" : {
            "target" : "com.amazonaws.health#DescribeEntityAggregatesForOrganizationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.health#DescribeEntityAggregatesForOrganizationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns a list of entity aggregates for your Organizations that are affected by each of the specified events.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.health#DescribeEntityAggregatesForOrganizationRequest" : {
         "members" : {
            "awsAccountIds" : {
               "target" : "com.amazonaws.health#OrganizationAccountIdsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of 12-digit Amazon Web Services account numbers that contains the affected entities.</p>"
               }
            },
            "eventArns" : {
               "target" : "com.amazonaws.health#OrganizationEventArnsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeEntityAggregatesForOrganizationResponse" : {
         "members" : {
            "organizationEntityAggregates" : {
               "target" : "com.amazonaws.health#OrganizationEntityAggregatesList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of entity aggregates for each of the specified accounts that are affected by each of the specified events.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeEntityAggregatesRequest" : {
         "members" : {
            "eventArns" : {
               "target" : "com.amazonaws.health#EventArnsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeEntityAggregatesResponse" : {
         "members" : {
            "entityAggregates" : {
               "target" : "com.amazonaws.health#EntityAggregateList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The number of entities that are affected by each of the specified events.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.health#DescribeEventAggregates" : {
         "errors" : [
            {
               "target" : "com.amazonaws.health#InvalidPaginationToken"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.health#DescribeEventAggregatesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.health#DescribeEventAggregatesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the number of events of each event type (issue, scheduled change, and account\n         notification). If no filter is specified, the counts of all events in each category are\n         returned.</p>\n         <note>\n            <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n         </note>",
            "smithy.api#idempotent" : {},
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "eventAggregates",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.health#DescribeEventAggregatesRequest" : {
         "members" : {
            "aggregateField" : {
               "target" : "com.amazonaws.health#eventAggregateField",
               "traits" : {
                  "smithy.api#documentation" : "<p>The only currently supported value is <code>eventTypeCategory</code>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "filter" : {
               "target" : "com.amazonaws.health#EventFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>Values to narrow the results returned.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.health#maxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.health#nextToken",
               "traits" : {
[...]
