{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.apprunner#ASConfigMaxConcurrency" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 200,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.apprunner#ASConfigMaxSize" : {
         "traits" : {
            "smithy.api#range" : {
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.apprunner#ASConfigMinSize" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 25,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.apprunner#AppRunner" : {
         "operations" : [
            {
               "target" : "com.amazonaws.apprunner#AssociateCustomDomain"
            },
            {
               "target" : "com.amazonaws.apprunner#CreateAutoScalingConfiguration"
            },
            {
               "target" : "com.amazonaws.apprunner#CreateConnection"
            },
            {
               "target" : "com.amazonaws.apprunner#CreateObservabilityConfiguration"
            },
            {
               "target" : "com.amazonaws.apprunner#CreateService"
            },
            {
               "target" : "com.amazonaws.apprunner#CreateVpcConnector"
            },
            {
               "target" : "com.amazonaws.apprunner#CreateVpcIngressConnection"
            },
            {
               "target" : "com.amazonaws.apprunner#DeleteAutoScalingConfiguration"
            },
            {
               "target" : "com.amazonaws.apprunner#DeleteConnection"
            },
            {
               "target" : "com.amazonaws.apprunner#DeleteObservabilityConfiguration"
            },
            {
               "target" : "com.amazonaws.apprunner#DeleteService"
            },
            {
               "target" : "com.amazonaws.apprunner#DeleteVpcConnector"
            },
            {
               "target" : "com.amazonaws.apprunner#DeleteVpcIngressConnection"
            },
            {
               "target" : "com.amazonaws.apprunner#DescribeAutoScalingConfiguration"
            },
            {
               "target" : "com.amazonaws.apprunner#DescribeCustomDomains"
            },
            {
               "target" : "com.amazonaws.apprunner#DescribeObservabilityConfiguration"
            },
            {
               "target" : "com.amazonaws.apprunner#DescribeService"
            },
            {
               "target" : "com.amazonaws.apprunner#DescribeVpcConnector"
            },
            {
               "target" : "com.amazonaws.apprunner#DescribeVpcIngressConnection"
            },
            {
               "target" : "com.amazonaws.apprunner#DisassociateCustomDomain"
            },
            {
               "target" : "com.amazonaws.apprunner#ListAutoScalingConfigurations"
            },
            {
               "target" : "com.amazonaws.apprunner#ListConnections"
            },
            {
               "target" : "com.amazonaws.apprunner#ListObservabilityConfigurations"
            },
            {
               "target" : "com.amazonaws.apprunner#ListOperations"
            },
            {
               "target" : "com.amazonaws.apprunner#ListServices"
            },
            {
               "target" : "com.amazonaws.apprunner#ListServicesForAutoScalingConfiguration"
            },
            {
               "target" : "com.amazonaws.apprunner#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.apprunner#ListVpcConnectors"
            },
            {
               "target" : "com.amazonaws.apprunner#ListVpcIngressConnections"
            },
            {
               "target" : "com.amazonaws.apprunner#PauseService"
            },
            {
               "target" : "com.amazonaws.apprunner#ResumeService"
            },
            {
               "target" : "com.amazonaws.apprunner#StartDeployment"
            },
            {
               "target" : "com.amazonaws.apprunner#TagResource"
            },
            {
               "target" : "com.amazonaws.apprunner#UntagResource"
            },
            {
               "target" : "com.amazonaws.apprunner#UpdateDefaultAutoScalingConfiguration"
            },
            {
               "target" : "com.amazonaws.apprunner#UpdateService"
            },
            {
               "target" : "com.amazonaws.apprunner#UpdateVpcIngressConnection"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "apprunner",
               "cloudFormationName" : "AppRunner",
               "cloudTrailEventSource" : "apprunner.amazonaws.com",
               "endpointPrefix" : "apprunner",
               "sdkId" : "AppRunner"
            },
            "aws.auth#sigv4" : {
               "name" : "apprunner"
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<fullname>App Runner</fullname>\n         <p>App Runner is an application service that provides a fast, simple, and cost-effective way to go directly from an existing container image or source code\n      to a running service in the Amazon Web Services Cloud in seconds. You don't need to learn new technologies, decide which compute service to use, or understand how to\n      provision and configure Amazon Web Services resources.</p>\n         <p>App Runner connects directly to your container registry or source code repository. It provides an automatic delivery pipeline with fully managed operations,\n      high performance, scalability, and security.</p>\n         <p>For more information about App Runner, see the <a href=\"https://docs.aws.amazon.com/apprunner/latest/dg/\">App Runner Developer Guide</a>.\n      For release information, see the <a href=\"https://docs.aws.amazon.com/apprunner/latest/relnotes/\">App Runner Release Notes</a>.</p>\n         <p>\n       To install the Software Development Kits (SDKs), Integrated\n      Development Environment (IDE) Toolkits, and command line tools that you can use to access the API, see <a href=\"http://aws.amazon.com/tools/\">Tools for\n        Amazon Web Services</a>.</p>\n         <p>\n            <b>Endpoints</b>\n         </p>\n         <p>For a list of Region-specific endpoints that App Runner supports, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner\n        endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
            "smithy.api#title" : "AWS App Runner",
            "smithy.api#xmlNamespace" : {
               "uri" : "http://apprunner.amazonaws.com/doc/2020-05-15/"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://apprunner-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://apprunner-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://apprunner.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://apprunner.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://apprunner.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2020-05-15"
      },
      "com.amazonaws.apprunner#AppRunnerResourceArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1011,
               "min" : 1
            },
            "smithy.api#pattern" : "^arn:aws(-[\\w]+)*:[a-z0-9-\\\\.]{0,63}:[a-z0-9-\\\\.]{0,63}:[0-9]{12}:(\\w|\\/|-){1,1011}$"
         },
         "type" : "string"
      },
      "com.amazonaws.apprunner#AssociateCustomDomain" : {
         "errors" : [
            {
               "target" : "com.amazonaws.apprunner#InternalServiceErrorException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidStateException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.apprunner#AssociateCustomDomainRequest"
         },
         "output" : {
            "target" : "com.amazonaws.apprunner#AssociateCustomDomainResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associate your own domain name with the App Runner subdomain URL of your App Runner service.</p>\n         <p>After you call <code>AssociateCustomDomain</code> and receive a successful response, use the information in the <a>CustomDomain</a> record\n      that's returned to add CNAME records to your Domain Name System (DNS). For each mapped domain name, add a mapping to the target App Runner subdomain and one or\n      more certificate validation records. App Runner then performs DNS validation to verify that you own or control the domain name that you associated. App Runner tracks\n      domain validity in a certificate stored in <a href=\"https://docs.aws.amazon.com/acm/latest/userguide\">AWS Certificate Manager (ACM)</a>.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.apprunner#AssociateCustomDomainRequest" : {
         "members" : {
            "DomainName" : {
               "target" : "com.amazonaws.apprunner#DomainName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example,\n        <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>",
                  "smithy.api#required" : {}
               }
            },
            "EnableWWWSubdomain" : {
               "target" : "com.amazonaws.apprunner#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i>\n            </code> with the App Runner service in addition to the base\n      domain.</p>\n         <p>Default: <code>true</code>\n         </p>"
               }
            },
            "ServiceArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#AssociateCustomDomainResponse" : {
         "members" : {
            "CustomDomain" : {
               "target" : "com.amazonaws.apprunner#CustomDomain",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the domain name that's being associated.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DNSTarget" : {
               "target" : "com.amazonaws.apprunner#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ServiceArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.</p>",
                  "smithy.api#required" : {}
               }
            },
            "VpcDNSTargets" : {
               "target" : "com.amazonaws.apprunner#VpcDNSTargetList",
               "traits" : {
                  "smithy.api#documentation" : "<p>DNS Target records for the custom domains of this Amazon VPC.\n    </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#AuthenticationConfiguration" : {
         "members" : {
            "AccessRoleArn" : {
               "target" : "com.amazonaws.apprunner#RoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role that grants the App Runner service access to a source repository. It's required for ECR image repositories\n      (but not for ECR Public repositories).</p>"
               }
            },
            "ConnectionArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the App Runner connection that enables the App Runner service to connect to a source repository. It's required for GitHub code\n      repositories.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes resources needed to authenticate access to some source repositories. The specific resource depends on the repository provider.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#AutoScalingConfiguration" : {
         "members" : {
            "AutoScalingConfigurationArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of this auto scaling configuration.</p>"
               }
            },
            "AutoScalingConfigurationName" : {
               "target" : "com.amazonaws.apprunner#AutoScalingConfigurationName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The customer-provided auto scaling configuration name. It can be used in multiple revisions of a configuration.</p>"
               }
            },
            "AutoScalingConfigurationRevision" : {
               "target" : "com.amazonaws.apprunner#AutoScalingConfigurationRevision",
               "traits" : {
                  "smithy.api#documentation" : "<p>The revision of this auto scaling configuration. It's unique among all the active configurations (<code>\"Status\": \"ACTIVE\"</code>) that share the same\n        <code>AutoScalingConfigurationName</code>.</p>"
               }
            },
            "CreatedAt" : {
               "target" : "com.amazonaws.apprunner#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the auto scaling configuration was created. It's in Unix time stamp format.</p>"
               }
            },
            "DeletedAt" : {
               "target" : "com.amazonaws.apprunner#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the auto scaling configuration was deleted. It's in Unix time stamp format.</p>"
               }
            },
            "HasAssociatedService" : {
               "target" : "com.amazonaws.apprunner#HasAssociatedService",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates if this auto scaling configuration has an App Runner service associated with it. A value of <code>true</code> indicates one or more services are\n      associated. A value of <code>false</code> indicates no services are associated.</p>"
               }
            },
            "IsDefault" : {
               "target" : "com.amazonaws.apprunner#IsDefault",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates if this auto scaling configuration should be used as the default for a new App Runner service that does not have an\n      auto scaling configuration ARN specified during creation. Each account can have only one\n      default <code>AutoScalingConfiguration</code> per region. The default <code>AutoScalingConfiguration</code> can be any revision under \n      the same <code>AutoScalingConfigurationName</code>.</p>"
               }
            },
            "Latest" : {
               "target" : "com.amazonaws.apprunner#Latest",
               "traits" : {
                  "smithy.api#documentation" : "<p>It's set to <code>true</code> for the configuration with the highest <code>Revision</code> among all configurations that share the same\n        <code>AutoScalingConfigurationName</code>. It's set to <code>false</code> otherwise.</p>"
               }
            },
            "MaxConcurrency" : {
               "target" : "com.amazonaws.apprunner#MaxConcurrency",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of concurrent requests that an instance processes. If the number of concurrent requests exceeds this limit, App Runner scales the service\n      up.</p>"
               }
            },
            "MaxSize" : {
               "target" : "com.amazonaws.apprunner#MaxSize",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of instances that a service scales up to. At most <code>MaxSize</code> instances actively serve traffic for your service.</p>"
               }
            },
            "MinSize" : {
               "target" : "com.amazonaws.apprunner#MinSize",
               "traits" : {
                  "smithy.api#documentation" : "<p>The minimum number of instances that App Runner provisions for a service. The service always has at least <code>MinSize</code> provisioned instances. Some\n      of them actively serve traffic. The rest of them (provisioned and inactive instances) are a cost-effective compute capacity reserve and are ready to be\n      quickly activated. You pay for memory usage of all the provisioned instances. You pay for CPU usage of only the active subset.</p>\n         <p>App Runner temporarily doubles the number of provisioned instances during deployments, to maintain the same capacity for both old and new code.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.apprunner#AutoScalingConfigurationStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of the auto scaling configuration. If the status of a configuration revision is <code>INACTIVE</code>, it was deleted and can't be\n      used. Inactive configuration revisions are permanently removed some time after they are deleted.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an App Runner automatic scaling configuration resource.</p>\n         <p>A higher <code>MinSize</code> increases the spread of your App Runner service over more Availability Zones in the Amazon Web Services Region. The tradeoff is a higher\n      minimal cost.</p>\n         <p>A lower <code>MaxSize</code> controls your cost. The tradeoff is lower responsiveness during peak demand.</p>\n         <p>Multiple revisions of a configuration might have the same <code>AutoScalingConfigurationName</code> and different\n        <code>AutoScalingConfigurationRevision</code> values.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#AutoScalingConfigurationName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 4
            },
            "smithy.api#pattern" : "^[A-Za-z0-9][A-Za-z0-9\\-_]{3,31}$"
         },
         "type" : "string"
      },
      "com.amazonaws.apprunner#AutoScalingConfigurationRevision" : {
         "type" : "integer"
      },
      "com.amazonaws.apprunner#AutoScalingConfigurationStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "INACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "INACTIVE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.apprunner#AutoScalingConfigurationSummary" : {
         "members" : {
            "AutoScalingConfigurationArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of this auto scaling configuration.</p>"
               }
            },
            "AutoScalingConfigurationName" : {
               "target" : "com.amazonaws.apprunner#AutoScalingConfigurationName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The customer-provided auto scaling configuration name. It can be used in multiple revisions of a configuration.</p>"
               }
            },
            "AutoScalingConfigurationRevision" : {
               "target" : "com.amazonaws.apprunner#Integer",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The revision of this auto scaling configuration. It's unique among all the active configurations (<code>\"Status\": \"ACTIVE\"</code>) with the same\n        <code>AutoScalingConfigurationName</code>.</p>"
               }
            },
            "CreatedAt" : {
               "target" : "com.amazonaws.apprunner#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the auto scaling configuration was created. It's in Unix time stamp format.</p>"
               }
            },
            "HasAssociatedService" : {
               "target" : "com.amazonaws.apprunner#HasAssociatedService",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates if this auto scaling configuration has an App Runner service associated with it. A value of <code>true</code> indicates one or more services are\n      associated. A value of <code>false</code> indicates no services are associated.</p>"
               }
            },
            "IsDefault" : {
               "target" : "com.amazonaws.apprunner#IsDefault",
               "traits" : {
                  "smithy.api#documentation" : "<p>Indicates if this auto scaling configuration should be used as the default for a new App Runner service that does not have an\n      auto scaling configuration ARN specified during creation. Each account can have only one\n      default <code>AutoScalingConfiguration</code> per region. The default <code>AutoScalingConfiguration</code> can be any revision under \n      the same <code>AutoScalingConfigurationName</code>.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.apprunner#AutoScalingConfigurationStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of the auto scaling configuration. If the status of a configuration revision is <code>INACTIVE</code>, it was deleted and can't be\n      used. Inactive configuration revisions are permanently removed some time after they are deleted.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides summary information about an App Runner automatic scaling configuration resource.</p>\n         <p>This type contains limited information about an auto scaling configuration. It includes only identification information, without configuration\n      details. It's returned by the <a>ListAutoScalingConfigurations</a> action. Complete configuration information is returned by the <a>CreateAutoScalingConfiguration</a>, <a>DescribeAutoScalingConfiguration</a>, and <a>DeleteAutoScalingConfiguration</a>\n      actions using the <a>AutoScalingConfiguration</a> type.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#AutoScalingConfigurationSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.apprunner#AutoScalingConfigurationSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.apprunner#Boolean" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.apprunner#BuildCommand" : {
         "traits" : {
            "smithy.api#pattern" : "^[^\\x0a\\x0d]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.apprunner#CertificateValidationRecord" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.apprunner#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The certificate CNAME record name.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.apprunner#CertificateValidationRecordStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of the certificate CNAME record validation. It should change to <code>SUCCESS</code> after App Runner completes validation with your\n      DNS.</p>"
               }
            },
            "Type" : {
               "target" : "com.amazonaws.apprunner#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The record type, always <code>CNAME</code>.</p>"
               }
            },
            "Value" : {
               "target" : "com.amazonaws.apprunner#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The certificate CNAME record value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a certificate CNAME record to add to your DNS. For more information, see <a href=\"https://docs.aws.amazon.com/apprunner/latest/api/API_AssociateCustomDomain.html\">AssociateCustomDomain</a>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CertificateValidationRecordList" : {
         "member" : {
            "target" : "com.amazonaws.apprunner#CertificateValidationRecord"
         },
         "type" : "list"
      },
      "com.amazonaws.apprunner#CertificateValidationRecordStatus" : {
         "members" : {
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "PENDING_VALIDATION" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING_VALIDATION"
               }
            },
            "SUCCESS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SUCCESS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.apprunner#CodeConfiguration" : {
         "members" : {
            "CodeConfigurationValues" : {
               "target" : "com.amazonaws.apprunner#CodeConfigurationValues",
               "traits" : {
                  "smithy.api#documentation" : "<p>The basic configuration for building and running the App Runner service. Use it to quickly launch an App Runner service without providing a\n        <code>apprunner.yaml</code> file in the source code repository (or ignoring the file if it exists).</p>"
               }
            },
            "ConfigurationSource" : {
               "target" : "com.amazonaws.apprunner#ConfigurationSource",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source of the App Runner configuration. Values are interpreted as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>REPOSITORY</code> – App Runner reads configuration values from the <code>apprunner.yaml</code> file in the source code repository and\n          ignores <code>CodeConfigurationValues</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>API</code> – App Runner uses configuration values provided in <code>CodeConfigurationValues</code> and ignores the\n            <code>apprunner.yaml</code> file in the source code repository.</p>\n            </li>\n         </ul>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the configuration that App Runner uses to build and run an App Runner service from a source code repository.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CodeConfigurationValues" : {
         "members" : {
            "BuildCommand" : {
               "target" : "com.amazonaws.apprunner#BuildCommand",
               "traits" : {
                  "smithy.api#documentation" : "<p>The command App Runner runs to build your\n      application.</p>"
               }
            },
            "Port" : {
               "target" : "com.amazonaws.apprunner#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The port that your application listens to in the container.</p>\n         <p>Default: <code>8080</code>\n         </p>"
               }
            },
            "Runtime" : {
               "target" : "com.amazonaws.apprunner#Runtime",
               "traits" : {
                  "smithy.api#documentation" : "<p>A runtime environment type for building and running an App Runner service.\n       It represents a\n      programming language runtime.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RuntimeEnvironmentSecrets" : {
               "target" : "com.amazonaws.apprunner#RuntimeEnvironmentSecrets",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of key-value pairs representing the secrets and parameters that get referenced to your service as an environment variable. The supported\n      values are either the full Amazon Resource Name (ARN) of the Secrets Manager secret or the full ARN of the parameter in the Amazon Web Services Systems Manager\n      Parameter Store.</p>\n         <note>\n            <ul>\n               <li>\n                  <p> If the Amazon Web Services Systems Manager Parameter Store parameter exists in the same Amazon Web Services Region as the service that you're launching, you can use\n            either the full ARN or name of the secret. If the parameter exists in a different Region, then the full ARN must be specified. </p>\n               </li>\n               <li>\n                  <p> Currently, cross account referencing of Amazon Web Services Systems Manager Parameter Store parameter is not supported. </p>\n               </li>\n            </ul>\n         </note>"
               }
            },
            "RuntimeEnvironmentVariables" : {
               "target" : "com.amazonaws.apprunner#RuntimeEnvironmentVariables",
               "traits" : {
                  "smithy.api#documentation" : "<p>The environment variables that are available to your running App Runner service. An array of key-value pairs.</p>"
               }
            },
            "StartCommand" : {
               "target" : "com.amazonaws.apprunner#StartCommand",
               "traits" : {
                  "smithy.api#documentation" : "<p>The command App Runner runs to start your\n      application.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes the basic configuration needed for building and running an App Runner service. This type doesn't support the full set of possible\n      configuration options. Fur full configuration capabilities, use a <code>apprunner.yaml</code> file in the source code repository.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CodeRepository" : {
         "members" : {
            "CodeConfiguration" : {
               "target" : "com.amazonaws.apprunner#CodeConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Configuration for building and running the service from a source code repository.</p>\n         <note>\n            <p>\n               <code>CodeConfiguration</code> is required only for <code>CreateService</code> request.</p>\n         </note>"
               }
            },
            "RepositoryUrl" : {
               "target" : "com.amazonaws.apprunner#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The location of the repository that contains the source code.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SourceCodeVersion" : {
               "target" : "com.amazonaws.apprunner#SourceCodeVersion",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version that should be used within the source code repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SourceDirectory" : {
               "target" : "com.amazonaws.apprunner#SourceDirectory",
               "traits" : {
                  "smithy.api#documentation" : "<p>The path of the directory that stores source code and configuration files. The build and start commands also execute from here. The path is absolute\n      from root and, if not specified, defaults to the repository root.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a source code repository.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#ConfigurationSource" : {
         "members" : {
            "API" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "API"
               }
            },
            "REPOSITORY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "REPOSITORY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.apprunner#Connection" : {
         "members" : {
            "ConnectionArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of this connection.</p>"
               }
            },
            "ConnectionName" : {
               "target" : "com.amazonaws.apprunner#ConnectionName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The customer-provided connection name.</p>"
               }
            },
            "CreatedAt" : {
               "target" : "com.amazonaws.apprunner#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The App Runner connection creation time, expressed as a Unix time stamp.</p>"
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.apprunner#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source repository provider.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.apprunner#ConnectionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of the App Runner connection. When the state is <code>AVAILABLE</code>, you can use the connection to create an App Runner service.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes an App Runner connection resource.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#ConnectionName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 32,
               "min" : 4
            },
            "smithy.api#pattern" : "^[A-Za-z0-9][A-Za-z0-9\\-_]{3,31}$"
         },
         "type" : "string"
      },
      "com.amazonaws.apprunner#ConnectionStatus" : {
         "members" : {
            "AVAILABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AVAILABLE"
               }
            },
            "DELETED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETED"
               }
            },
            "ERROR" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ERROR"
               }
            },
            "PENDING_HANDSHAKE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PENDING_HANDSHAKE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.apprunner#ConnectionSummary" : {
         "members" : {
            "ConnectionArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of this connection.</p>"
               }
            },
            "ConnectionName" : {
               "target" : "com.amazonaws.apprunner#ConnectionName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The customer-provided connection name.</p>"
               }
            },
            "CreatedAt" : {
               "target" : "com.amazonaws.apprunner#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The App Runner connection creation time, expressed as a Unix time stamp.</p>"
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.apprunner#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source repository provider.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.apprunner#ConnectionStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of the App Runner connection. When the state is <code>AVAILABLE</code>, you can use the connection to create an App Runner service.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides summary information about an App Runner connection resource.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#ConnectionSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.apprunner#ConnectionSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.apprunner#Cpu" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 9,
               "min" : 3
            },
            "smithy.api#pattern" : "^256|512|1024|2048|4096|(0.25|0.5|1|2|4) vCPU$"
         },
         "type" : "string"
      },
      "com.amazonaws.apprunner#CreateAutoScalingConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.apprunner#InternalServiceErrorException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.apprunner#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.apprunner#CreateAutoScalingConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.apprunner#CreateAutoScalingConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create an App Runner automatic scaling configuration resource. App Runner requires this resource when you create or update App Runner services and you require\n      non-default auto scaling settings. You can share an auto scaling configuration across multiple services.</p>\n         <p>Create multiple revisions of a configuration by calling this action multiple times using the same <code>AutoScalingConfigurationName</code>. The call\n      returns incremental <code>AutoScalingConfigurationRevision</code> values. When you create a service and configure an auto scaling configuration resource,\n      the service uses the latest active revision of the auto scaling configuration by default. You can optionally configure the service to use a specific\n      revision.</p>\n         <p>Configure a higher <code>MinSize</code> to increase the spread of your App Runner service over more Availability Zones in the Amazon Web Services Region. The\n      tradeoff is a higher minimal cost.</p>\n         <p>Configure a lower <code>MaxSize</code> to control your cost. The tradeoff is lower responsiveness during peak demand.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.apprunner#CreateAutoScalingConfigurationRequest" : {
         "members" : {
            "AutoScalingConfigurationName" : {
               "target" : "com.amazonaws.apprunner#AutoScalingConfigurationName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the auto scaling configuration. When you use it for the first time in an Amazon Web Services Region, App Runner creates revision number\n        <code>1</code> of this name. When you use the same name in subsequent calls, App Runner creates incremental revisions of the configuration.</p>\n         <note>\n            <p>Prior to the release of <a href=\"https://docs.aws.amazon.com/apprunner/latest/relnotes/release-2023-09-22-auto-scale-config.html\">Auto scale\n        configuration enhancements</a>, the name <code>DefaultConfiguration</code> was reserved. </p>\n            <p>This restriction is no longer in place. You can now manage <code>DefaultConfiguration</code> the same way you manage your custom auto scaling\n        configurations. This means you can do the following with the <code>DefaultConfiguration</code> that App Runner provides:</p>\n            <ul>\n               <li>\n                  <p>Create new revisions of the <code>DefaultConfiguration</code>.</p>\n               </li>\n               <li>\n                  <p>Delete the revisions of the <code>DefaultConfiguration</code>.</p>\n               </li>\n               <li>\n                  <p>Delete the auto scaling configuration for which the App Runner <code>DefaultConfiguration</code> was created.</p>\n               </li>\n               <li>\n                  <p>If you delete the auto scaling configuration you can create another custom auto scaling configuration with the same\n              <code>DefaultConfiguration</code> name. The original <code>DefaultConfiguration</code> resource provided by App Runner remains in your account unless\n            you make changes to it.</p>\n               </li>\n            </ul>\n         </note>",
                  "smithy.api#required" : {}
               }
            },
            "MaxConcurrency" : {
               "target" : "com.amazonaws.apprunner#ASConfigMaxConcurrency",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of concurrent requests that you want an instance to process. If the number of concurrent requests exceeds this limit, App Runner scales\n      up your service.</p>\n         <p>Default: <code>100</code>\n         </p>"
               }
            },
            "MaxSize" : {
               "target" : "com.amazonaws.apprunner#ASConfigMaxSize",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of instances that your service scales up to. At most <code>MaxSize</code> instances actively serve traffic for your service.</p>\n         <p>Default: <code>25</code>\n         </p>"
               }
            },
            "MinSize" : {
               "target" : "com.amazonaws.apprunner#ASConfigMinSize",
               "traits" : {
                  "smithy.api#documentation" : "<p>The minimum number of instances that App Runner provisions for your service. The service always has at least <code>MinSize</code> provisioned instances.\n      Some of them actively serve traffic. The rest of them (provisioned and inactive instances) are a cost-effective compute capacity reserve and are ready to\n      be quickly activated. You pay for memory usage of all the provisioned instances. You pay for CPU usage of only the active subset.</p>\n         <p>App Runner temporarily doubles the number of provisioned instances during deployments, to maintain the same capacity for both old and new code.</p>\n         <p>Default: <code>1</code>\n         </p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.apprunner#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of metadata items that you can associate with your auto scaling configuration resource. A tag is a key-value pair.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateAutoScalingConfigurationResponse" : {
         "members" : {
            "AutoScalingConfiguration" : {
               "target" : "com.amazonaws.apprunner#AutoScalingConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the App Runner auto scaling configuration that's created by this request.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateConnection" : {
         "errors" : [
            {
               "target" : "com.amazonaws.apprunner#InternalServiceErrorException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.apprunner#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.apprunner#CreateConnectionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.apprunner#CreateConnectionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create an App Runner connection resource. App Runner requires a connection resource when you create App Runner services that access private repositories from\n      certain third-party providers. You can share a connection across multiple services.</p>\n         <p>A connection resource is needed to access GitHub and Bitbucket repositories. Both require\n      a user interface approval process through the App Runner console before you can use the\n      connection.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.apprunner#CreateConnectionRequest" : {
         "members" : {
            "ConnectionName" : {
               "target" : "com.amazonaws.apprunner#ConnectionName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the new connection. It must be unique across all App Runner connections for the Amazon Web Services account in the Amazon Web Services Region.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ProviderType" : {
               "target" : "com.amazonaws.apprunner#ProviderType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source repository provider.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.apprunner#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of metadata items that you can associate with your connection resource. A tag is a key-value pair.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateConnectionResponse" : {
         "members" : {
            "Connection" : {
               "target" : "com.amazonaws.apprunner#Connection",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the App Runner connection that's created by this request.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateObservabilityConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.apprunner#InternalServiceErrorException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.apprunner#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.apprunner#CreateObservabilityConfigurationRequest"
         },
         "output" : {
            "target" : "com.amazonaws.apprunner#CreateObservabilityConfigurationResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create an App Runner observability configuration resource. App Runner requires this resource when you create or update App Runner services and you want to enable\n      non-default observability features. You can share an observability configuration across multiple services.</p>\n         <p>Create multiple revisions of a configuration by calling this action multiple times using the same <code>ObservabilityConfigurationName</code>. The\n      call returns incremental <code>ObservabilityConfigurationRevision</code> values. When you create a service and configure an observability configuration\n      resource, the service uses the latest active revision of the observability configuration by default. You can optionally configure the service to use a\n      specific revision.</p>\n         <p>The observability configuration resource is designed to configure multiple features (currently one feature, tracing). This action takes optional\n      parameters that describe the configuration of these features (currently one parameter, <code>TraceConfiguration</code>). If you don't specify a feature\n      parameter, App Runner doesn't enable the feature.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.apprunner#CreateObservabilityConfigurationRequest" : {
         "members" : {
            "ObservabilityConfigurationName" : {
               "target" : "com.amazonaws.apprunner#ObservabilityConfigurationName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the observability configuration. When you use it for the first time in an Amazon Web Services Region, App Runner creates revision number\n        <code>1</code> of this name. When you use the same name in subsequent calls, App Runner creates incremental revisions of the configuration.</p>\n         <note>\n            <p>The name <code>DefaultConfiguration</code> is reserved. You can't use it to create a new observability configuration, and you can't create a\n        revision of it.</p>\n            <p>When you want to use your own observability configuration for your App Runner service, <i>create a configuration with a different name</i>,\n        and then provide it when you create or update your service.</p>\n         </note>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.apprunner#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of metadata items that you can associate with your observability configuration resource. A tag is a key-value pair.</p>"
               }
            },
            "TraceConfiguration" : {
               "target" : "com.amazonaws.apprunner#TraceConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The configuration of the tracing feature within this observability configuration. If you don't specify it, App Runner doesn't enable tracing.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateObservabilityConfigurationResponse" : {
         "members" : {
            "ObservabilityConfiguration" : {
               "target" : "com.amazonaws.apprunner#ObservabilityConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the App Runner observability configuration that's created by this request.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateService" : {
         "errors" : [
            {
               "target" : "com.amazonaws.apprunner#InternalServiceErrorException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.apprunner#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.apprunner#CreateServiceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.apprunner#CreateServiceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create an App Runner service. After the service is created, the action also automatically starts a deployment.</p>\n         <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a href=\"https://docs.aws.amazon.com/apprunner/latest/api/API_ListOperations.html\">ListOperations</a> call to track the operation's progress.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.apprunner#CreateServiceRequest" : {
         "members" : {
            "AutoScalingConfigurationArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of an App Runner automatic scaling configuration resource that you want to associate with your service. If not provided, App Runner\n      associates the latest revision of a default auto scaling configuration.</p>\n         <p>Specify an ARN with a name and a revision number to associate that revision. For example:\n          <code>arn:aws:apprunner:us-east-1:123456789012:autoscalingconfiguration/high-availability/3</code>\n         </p>\n         <p>Specify just the name to associate the latest revision. For example:\n        <code>arn:aws:apprunner:us-east-1:123456789012:autoscalingconfiguration/high-availability</code>\n         </p>"
               }
            },
            "EncryptionConfiguration" : {
               "target" : "com.amazonaws.apprunner#EncryptionConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional custom encryption key that App Runner uses to encrypt the copy of your source repository that it maintains and your service logs. By default,\n      App Runner uses an Amazon Web Services managed key.</p>"
               }
            },
            "HealthCheckConfiguration" : {
               "target" : "com.amazonaws.apprunner#HealthCheckConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The settings for the health check that App Runner performs to monitor the health of the App Runner service.</p>"
               }
            },
            "InstanceConfiguration" : {
               "target" : "com.amazonaws.apprunner#InstanceConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The runtime configuration of instances (scaling units) of your service.</p>"
               }
            },
            "NetworkConfiguration" : {
               "target" : "com.amazonaws.apprunner#NetworkConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Configuration settings related to network traffic of the web application that the App Runner service runs.</p>"
               }
            },
            "ObservabilityConfiguration" : {
               "target" : "com.amazonaws.apprunner#ServiceObservabilityConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The observability configuration of your service.</p>"
               }
            },
            "ServiceName" : {
               "target" : "com.amazonaws.apprunner#ServiceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the App Runner service. It must be unique across all the running App Runner services in your Amazon Web Services account in the Amazon Web Services Region.</p>",
                  "smithy.api#required" : {}
               }
            },
            "SourceConfiguration" : {
               "target" : "com.amazonaws.apprunner#SourceConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The source to deploy to the App Runner service. It can be a code or an image repository.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.apprunner#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional list of metadata items that you can associate with the App Runner service resource. A tag is a key-value pair.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateServiceResponse" : {
         "members" : {
            "OperationId" : {
               "target" : "com.amazonaws.apprunner#UUID",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique ID of the asynchronous operation that this request started. You can use it combined with the <a href=\"https://docs.aws.amazon.com/apprunner/latest/api/API_ListOperations.html\">ListOperations</a> call to track the operation's progress.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Service" : {
               "target" : "com.amazonaws.apprunner#Service",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the App Runner service that's created by this request.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateVpcConnector" : {
         "errors" : [
            {
               "target" : "com.amazonaws.apprunner#InternalServiceErrorException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.apprunner#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.apprunner#CreateVpcConnectorRequest"
         },
         "output" : {
            "target" : "com.amazonaws.apprunner#CreateVpcConnectorResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create an App Runner VPC connector resource. App Runner requires this resource when you want to associate your App Runner service to a custom Amazon Virtual Private Cloud\n        (Amazon VPC).</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.apprunner#CreateVpcConnectorRequest" : {
         "members" : {
            "SecurityGroups" : {
               "target" : "com.amazonaws.apprunner#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of IDs of security groups that App Runner should use for access to Amazon Web Services resources under the specified subnets. If not specified, App Runner uses the\n      default security group of the Amazon VPC. The default security group allows all outbound traffic.</p>"
               }
            },
            "Subnets" : {
               "target" : "com.amazonaws.apprunner#StringList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of IDs of subnets that App Runner should use when it associates your service with a custom Amazon VPC. Specify IDs of subnets of a single\n        Amazon VPC. App Runner determines the Amazon VPC from the subnets you specify.</p>\n         <note>\n            <p>\n        App Runner only supports subnets of IP address type <i>IPv4</i> and <i>dual stack</i> (IPv4 and IPv6).</p>\n         </note>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.apprunner#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of metadata items that you can associate with your VPC connector resource. A tag is a key-value pair.</p>"
               }
            },
            "VpcConnectorName" : {
               "target" : "com.amazonaws.apprunner#VpcConnectorName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the VPC connector.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateVpcConnectorResponse" : {
         "members" : {
            "VpcConnector" : {
               "target" : "com.amazonaws.apprunner#VpcConnector",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the App Runner VPC connector that's created by this request.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateVpcIngressConnection" : {
         "errors" : [
            {
               "target" : "com.amazonaws.apprunner#InternalServiceErrorException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidRequestException"
            },
            {
               "target" : "com.amazonaws.apprunner#InvalidStateException"
            },
            {
               "target" : "com.amazonaws.apprunner#ServiceQuotaExceededException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.apprunner#CreateVpcIngressConnectionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.apprunner#CreateVpcIngressConnectionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Create an App Runner VPC Ingress Connection resource. App Runner requires this resource when you want to associate your App Runner service with an Amazon VPC endpoint.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.apprunner#CreateVpcIngressConnectionRequest" : {
         "members" : {
            "IngressVpcConfiguration" : {
               "target" : "com.amazonaws.apprunner#IngressVpcConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Specifications for the customer’s Amazon VPC and the related Amazon Web Services PrivateLink VPC endpoint that are used to create the VPC Ingress Connection\n      resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ServiceArn" : {
               "target" : "com.amazonaws.apprunner#AppRunnerResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) for this App Runner service that is used to create the VPC Ingress Connection resource.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.apprunner#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An optional list of metadata items that you can associate with the VPC Ingress Connection resource. A tag is a key-value pair.</p>"
               }
            },
            "VpcIngressConnectionName" : {
               "target" : "com.amazonaws.apprunner#VpcIngressConnectionName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the VPC Ingress Connection resource. It must be unique across all the active VPC Ingress Connections in your Amazon Web Services account in the Amazon Web Services Region.\n    </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CreateVpcIngressConnectionResponse" : {
         "members" : {
            "VpcIngressConnection" : {
               "target" : "com.amazonaws.apprunner#VpcIngressConnection",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the App Runner VPC Ingress Connection resource that's created by this request. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CustomDomain" : {
         "members" : {
            "CertificateValidationRecords" : {
               "target" : "com.amazonaws.apprunner#CertificateValidationRecordList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of certificate CNAME records that's used for this domain name.</p>"
               }
            },
            "DomainName" : {
               "target" : "com.amazonaws.apprunner#DomainName",
               "traits" : {
                  "smithy.api#documentation" : "<p>An associated custom domain endpoint. It can be a root domain (for example, <code>example.com</code>), a subdomain (for example,\n        <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>",
                  "smithy.api#required" : {}
               }
            },
            "EnableWWWSubdomain" : {
               "target" : "com.amazonaws.apprunner#NullableBoolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>When <code>true</code>, the subdomain <code>www.<i>DomainName</i>\n            </code> is associated with the App Runner service in addition to the base\n      domain.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Status" : {
               "target" : "com.amazonaws.apprunner#CustomDomainAssociationStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current state of the domain name association.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a custom domain that's associated with an App Runner service.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.apprunner#CustomDomainAssociationStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "BINDING_CERTIFICATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BINDING_CERTIFICATE"
               }
            },
            "CREATE_FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATE_FAILED"
               }
            },
            "CREATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "DELETE_FAILED" : {
[...]
