{
   "shapes" : {
      "com.amazonaws.backupgateway#AccessDeniedException" : {
         "members" : {
            "ErrorCode" : {
               "target" : "com.amazonaws.backupgateway#string",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of why you have insufficient permissions.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Message" : {
               "target" : "com.amazonaws.backupgateway#string"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The operation cannot proceed because you have insufficient permissions.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ActivationKey" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            },
            "smithy.api#pattern" : "^[0-9a-zA-Z\\-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#AssociateGatewayToServer" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ConflictException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#AssociateGatewayToServerInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#AssociateGatewayToServerOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Associates a backup gateway with your server. After you complete the association process,\n      you can back up and restore your VMs through the gateway.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#AssociateGatewayToServerInput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation\n      to return a list of gateways for your account and Amazon Web Services Region.</p>",
                  "smithy.api#required" : {}
               }
            },
            "ServerArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the server that hosts your virtual machines.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#AssociateGatewayToServerOutput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of a gateway.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#AverageUploadRateLimit" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 8000000000000,
               "min" : 51200
            }
         },
         "type" : "long"
      },
      "com.amazonaws.backupgateway#BackupOnPremises_v20210101" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#InternalServerException"
            },
            {
               "target" : "com.amazonaws.backupgateway#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.backupgateway#ValidationException"
            }
         ],
         "operations" : [
            {
               "target" : "com.amazonaws.backupgateway#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.backupgateway#TagResource"
            },
            {
               "target" : "com.amazonaws.backupgateway#UntagResource"
            }
         ],
         "resources" : [
            {
               "target" : "com.amazonaws.backupgateway#GatewayResource"
            },
            {
               "target" : "com.amazonaws.backupgateway#HypervisorResource"
            },
            {
               "target" : "com.amazonaws.backupgateway#VirtualMachineResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "backup-gateway",
               "cloudFormationName" : "BackupGateway",
               "cloudTrailEventSource" : "backup-gateway.amazonaws.com",
               "endpointPrefix" : "backup-gateway",
               "sdkId" : "Backup Gateway"
            },
            "aws.auth#sigv4" : {
               "name" : "backup-gateway"
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<fullname>Backup gateway</fullname>\n         <p>Backup gateway connects Backup to your hypervisor, so you can\n      create, store, and restore backups of your virtual machines (VMs) anywhere, whether\n      on-premises or in the VMware Cloud (VMC) on Amazon Web Services.</p>\n         <p>Add on-premises resources by connecting to a hypervisor through a gateway. Backup will automatically discover the resources in your hypervisor.</p>\n         <p>Use Backup to assign virtual or on-premises resources to a backup plan, or run\n      on-demand backups. Once you have backed up your resources, you can view them and restore them\n      like any resource supported by Backup.</p>\n         <p>To download the Amazon Web Services software to get started, navigate to the Backup console, choose <b>Gateways</b>, then choose <b>Create gateway</b>.</p>",
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            },
            "smithy.api#title" : "AWS Backup Gateway",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://backup-gateway-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://backup-gateway-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://backup-gateway.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://backup-gateway.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.ap-northeast-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region me-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.me-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "me-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://backup-gateway.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2021-01-01"
      },
      "com.amazonaws.backupgateway#BandwidthRateLimitInterval" : {
         "members" : {
            "AverageUploadRateLimitInBitsPerSec" : {
               "target" : "com.amazonaws.backupgateway#AverageUploadRateLimit",
               "traits" : {
                  "smithy.api#documentation" : "<p>The average upload rate limit component of the bandwidth rate limit \n      interval, in bits per second. This field does not appear in the response if \n      the upload rate limit is not set.</p>"
               }
            },
            "DaysOfWeek" : {
               "target" : "com.amazonaws.backupgateway#DaysOfWeek",
               "traits" : {
                  "smithy.api#documentation" : "<p>The days of the week component of the bandwidth rate limit interval, \n      represented as ordinal numbers from 0 to 6, where 0 represents Sunday and 6 represents \n      Saturday.</p>",
                  "smithy.api#required" : {}
               }
            },
            "EndHourOfDay" : {
               "target" : "com.amazonaws.backupgateway#HourOfDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The hour of the day to end the bandwidth rate limit interval.</p>",
                  "smithy.api#required" : {}
               }
            },
            "EndMinuteOfHour" : {
               "target" : "com.amazonaws.backupgateway#MinuteOfHour",
               "traits" : {
                  "smithy.api#documentation" : "<p>The minute of the hour to end the bandwidth rate limit interval.</p>\n         <important>\n            <p>The bandwidth rate limit interval ends at the end of the minute. \n      To end an interval at the end of an hour, use the value <code>59</code>.</p>\n         </important>",
                  "smithy.api#required" : {}
               }
            },
            "StartHourOfDay" : {
               "target" : "com.amazonaws.backupgateway#HourOfDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The hour of the day to start the bandwidth rate limit interval.</p>",
                  "smithy.api#required" : {}
               }
            },
            "StartMinuteOfHour" : {
               "target" : "com.amazonaws.backupgateway#MinuteOfHour",
               "traits" : {
                  "smithy.api#documentation" : "<p>The minute of the hour to start the bandwidth rate limit interval. The \n      interval begins at the start of that minute. To begin an interval exactly at \n      the start of the hour, use the value <code>0</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a bandwidth rate limit interval for a gateway. A bandwidth \n      rate limit schedule consists of one or more bandwidth rate limit intervals. \n      A bandwidth rate limit interval defines a period of time on one or more days \n      of the week, during which bandwidth rate limits are specified for uploading, \n      downloading, or both.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#BandwidthRateLimitIntervals" : {
         "member" : {
            "target" : "com.amazonaws.backupgateway#BandwidthRateLimitInterval"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 20,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupgateway#BandwidthRateLimitScheduleResource" : {
         "identifiers" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn"
            }
         },
         "put" : {
            "target" : "com.amazonaws.backupgateway#PutBandwidthRateLimitSchedule"
         },
         "read" : {
            "target" : "com.amazonaws.backupgateway#GetBandwidthRateLimitSchedule"
         },
         "type" : "resource"
      },
      "com.amazonaws.backupgateway#ConflictException" : {
         "members" : {
            "ErrorCode" : {
               "target" : "com.amazonaws.backupgateway#string",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of why the operation is not supported.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Message" : {
               "target" : "com.amazonaws.backupgateway#string"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The operation cannot proceed because it is not supported.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#CreateGateway" : {
         "input" : {
            "target" : "com.amazonaws.backupgateway#CreateGatewayInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#CreateGatewayOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a backup gateway. After you create a gateway, you can associate it with a server\n      using the <code>AssociateGatewayToServer</code> operation.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#CreateGatewayInput" : {
         "members" : {
            "ActivationKey" : {
               "target" : "com.amazonaws.backupgateway#ActivationKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The activation key of the created gateway.</p>",
                  "smithy.api#required" : {}
               }
            },
            "GatewayDisplayName" : {
               "target" : "com.amazonaws.backupgateway#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the created gateway.</p>",
                  "smithy.api#required" : {}
               }
            },
            "GatewayType" : {
               "target" : "com.amazonaws.backupgateway#GatewayType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of created gateway.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.backupgateway#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of up to 50 tags to assign to the gateway. Each tag is a key-value pair.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#CreateGatewayOutput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway you create.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#DayOfMonth" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 31,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.backupgateway#DayOfWeek" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 6,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.backupgateway#DaysOfWeek" : {
         "member" : {
            "target" : "com.amazonaws.backupgateway#DayOfWeek"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 7,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.backupgateway#DeleteGateway" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#DeleteGatewayInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#DeleteGatewayOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a backup gateway.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#DeleteGatewayInput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#DeleteGatewayOutput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway you deleted.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#DeleteHypervisor" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.backupgateway#ConflictException"
            },
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#DeleteHypervisorInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#DeleteHypervisorOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a hypervisor.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#DeleteHypervisorInput" : {
         "members" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor to delete.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#DeleteHypervisorOutput" : {
         "members" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor you deleted.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#DisassociateGatewayFromServer" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ConflictException"
            },
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#DisassociateGatewayFromServerInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#DisassociateGatewayFromServerOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Disassociates a backup gateway from the specified server. After the disassociation process\n      finishes, the gateway can no longer access the virtual machines on the server.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#DisassociateGatewayFromServerInput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway to disassociate.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#DisassociateGatewayFromServerOutput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway you disassociated.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#Gateway" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway. Use the <code>ListGateways</code> operation\n      to return a list of gateways for your account and Amazon Web Services Region.</p>"
               }
            },
            "GatewayDisplayName" : {
               "target" : "com.amazonaws.backupgateway#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the gateway.</p>"
               }
            },
            "GatewayType" : {
               "target" : "com.amazonaws.backupgateway#GatewayType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the gateway.</p>"
               }
            },
            "HypervisorId" : {
               "target" : "com.amazonaws.backupgateway#HypervisorId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The hypervisor ID of the gateway.</p>"
               }
            },
            "LastSeenTime" : {
               "target" : "com.amazonaws.backupgateway#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last time Backup gateway communicated with the gateway, in Unix format and\n      UTC time.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A gateway is an Backup Gateway appliance that runs on the customer's network\n      to provide seamless connectivity to backup storage in the Amazon Web Services Cloud.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GatewayArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 180,
               "min" : 50
            },
            "smithy.api#pattern" : "^arn:(aws|aws-cn|aws-us-gov):backup-gateway(:[a-zA-Z-0-9]+){3}\\/[a-zA-Z-0-9]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#GatewayDetails" : {
         "members" : {
            "DeprecationDate" : {
               "target" : "com.amazonaws.backupgateway#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date after which this gateway will not receive software updates for new features and bug fixes.</p>"
               }
            },
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the \n      gateway. Use the <code>ListGateways</code> operation\n      to return a list of gateways for your account and \n      Amazon Web Services Region.</p>"
               }
            },
            "GatewayDisplayName" : {
               "target" : "com.amazonaws.backupgateway#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the gateway.</p>"
               }
            },
            "GatewayType" : {
               "target" : "com.amazonaws.backupgateway#GatewayType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the gateway type.</p>"
               }
            },
            "HypervisorId" : {
               "target" : "com.amazonaws.backupgateway#HypervisorId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The hypervisor ID of the gateway.</p>"
               }
            },
            "LastSeenTime" : {
               "target" : "com.amazonaws.backupgateway#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details showing the last time Backup gateway communicated\n      with the cloud, in Unix format and UTC time.</p>"
               }
            },
            "MaintenanceStartTime" : {
               "target" : "com.amazonaws.backupgateway#MaintenanceStartTime",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returns your gateway's weekly maintenance start time including the day and time of the week. \n      Note that values are in terms of the gateway's time zone. Can be weekly or monthly.</p>"
               }
            },
            "NextUpdateAvailabilityTime" : {
               "target" : "com.amazonaws.backupgateway#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details showing the next update availability time of the \n      gateway.</p>"
               }
            },
            "SoftwareVersion" : {
               "target" : "com.amazonaws.backupgateway#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The version number of the software running on the gateway appliance.</p>"
               }
            },
            "VpcEndpoint" : {
               "target" : "com.amazonaws.backupgateway#VpcEndpoint",
               "traits" : {
                  "smithy.api#documentation" : "<p>The DNS name for the virtual private cloud (VPC) endpoint the gateway \n      uses to connect to the cloud for backup gateway.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The details of gateway.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GatewayResource" : {
         "create" : {
            "target" : "com.amazonaws.backupgateway#CreateGateway"
         },
         "delete" : {
            "target" : "com.amazonaws.backupgateway#DeleteGateway"
         },
         "identifiers" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn"
            }
         },
         "list" : {
            "target" : "com.amazonaws.backupgateway#ListGateways"
         },
         "operations" : [
            {
               "target" : "com.amazonaws.backupgateway#AssociateGatewayToServer"
            },
            {
               "target" : "com.amazonaws.backupgateway#DisassociateGatewayFromServer"
            },
            {
               "target" : "com.amazonaws.backupgateway#PutMaintenanceStartTime"
            },
            {
               "target" : "com.amazonaws.backupgateway#TestHypervisorConfiguration"
            },
            {
               "target" : "com.amazonaws.backupgateway#UpdateGatewaySoftwareNow"
            }
         ],
         "read" : {
            "target" : "com.amazonaws.backupgateway#GetGateway"
         },
         "resources" : [
            {
               "target" : "com.amazonaws.backupgateway#BandwidthRateLimitScheduleResource"
            }
         ],
         "traits" : {
            "aws.cloudformation#cfnResource" : {
               "name" : "Gateway"
            }
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.backupgateway#UpdateGatewayInformation"
         }
      },
      "com.amazonaws.backupgateway#GatewayType" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "BACKUP_VM",
                  "value" : "BACKUP_VM"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#Gateways" : {
         "member" : {
            "target" : "com.amazonaws.backupgateway#Gateway"
         },
         "type" : "list"
      },
      "com.amazonaws.backupgateway#GetBandwidthRateLimitSchedule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#GetBandwidthRateLimitScheduleInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#GetBandwidthRateLimitScheduleOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Retrieves the bandwidth rate limit schedule for a specified gateway. \n      By default, gateways do not have bandwidth rate limit schedules, which means \n      no bandwidth rate limiting is in effect. Use this to get a gateway's \n      bandwidth rate limit schedule.</p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#GetBandwidthRateLimitScheduleInput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway. Use the \n      <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/API_BGW_ListGateways.html\">\n               <code>ListGateways</code>\n            </a> operation to return a list of gateways \n      for your account and Amazon Web Services Region.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetBandwidthRateLimitScheduleOutput" : {
         "members" : {
            "BandwidthRateLimitIntervals" : {
               "target" : "com.amazonaws.backupgateway#BandwidthRateLimitIntervals",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array containing bandwidth rate limit schedule intervals for a gateway. \n      When no bandwidth rate limit intervals have been scheduled, the array is empty.</p>"
               }
            },
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway. Use the \n      <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/API_BGW_ListGateways.html\">\n               <code>ListGateways</code>\n            </a> operation to return a list of gateways \n      for your account and Amazon Web Services Region.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetGateway" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#GetGatewayInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#GetGatewayOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>By providing the ARN (Amazon Resource Name), this\n      API returns the gateway.</p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#GetGatewayInput" : {
         "members" : {
            "GatewayArn" : {
               "target" : "com.amazonaws.backupgateway#GatewayArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the gateway.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetGatewayOutput" : {
         "members" : {
            "Gateway" : {
               "target" : "com.amazonaws.backupgateway#GatewayDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>By providing the ARN (Amazon Resource Name), this\n      API returns the gateway.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetHypervisor" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#GetHypervisorInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#GetHypervisorOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This action requests information about the specified hypervisor to which the gateway will connect. \n      A hypervisor is hardware, software, or firmware that creates and manages virtual machines, \n      and allocates resources to them.</p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#GetHypervisorInput" : {
         "members" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetHypervisorOutput" : {
         "members" : {
            "Hypervisor" : {
               "target" : "com.amazonaws.backupgateway#HypervisorDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details about the requested hypervisor.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetHypervisorPropertyMappings" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#GetHypervisorPropertyMappingsInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#GetHypervisorPropertyMappingsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This action retrieves the property mappings for the specified hypervisor. \n      A hypervisor property mapping displays the relationship of entity properties \n      available from the hypervisor to the properties available in Amazon Web Services.</p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#GetHypervisorPropertyMappingsInput" : {
         "members" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetHypervisorPropertyMappingsOutput" : {
         "members" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor.</p>"
               }
            },
            "IamRoleArn" : {
               "target" : "com.amazonaws.backupgateway#IamRoleArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the IAM role.</p>"
               }
            },
            "VmwareToAwsTagMappings" : {
               "target" : "com.amazonaws.backupgateway#VmwareToAwsTagMappings",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is a display of the mappings of VMware tags to the \n      Amazon Web Services tags.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetVirtualMachine" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#GetVirtualMachineInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#GetVirtualMachineOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>By providing the ARN (Amazon Resource Name), this API returns the virtual machine.</p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#GetVirtualMachineInput" : {
         "members" : {
            "ResourceArn" : {
               "target" : "com.amazonaws.backupgateway#ResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the virtual machine.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#GetVirtualMachineOutput" : {
         "members" : {
            "VirtualMachine" : {
               "target" : "com.amazonaws.backupgateway#VirtualMachineDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>This object contains the basic attributes of <code>VirtualMachine</code> contained by the output of \n      <code>GetVirtualMachine</code>\n         </p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#Host" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 3
            },
            "smithy.api#pattern" : "^.+$"
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#HourOfDay" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 23,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.backupgateway#Hypervisor" : {
         "members" : {
            "Host" : {
               "target" : "com.amazonaws.backupgateway#Host",
               "traits" : {
                  "smithy.api#documentation" : "<p>The server host of the hypervisor. This can be either an IP address or a fully-qualified\n      domain name (FQDN).</p>"
               }
            },
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor.</p>"
               }
            },
            "KmsKeyArn" : {
               "target" : "com.amazonaws.backupgateway#KmsKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Key Management Service used to encrypt the\n      hypervisor.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.backupgateway#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the hypervisor.</p>"
               }
            },
            "State" : {
               "target" : "com.amazonaws.backupgateway#HypervisorState",
               "traits" : {
                  "smithy.api#documentation" : "<p>The state of the hypervisor.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents the hypervisor's permissions to which the gateway will connect.</p>\n         <p>A hypervisor is hardware, software, or firmware that creates and manages virtual machines,\n      and allocates resources to them.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#HypervisorDetails" : {
         "members" : {
            "Host" : {
               "target" : "com.amazonaws.backupgateway#Host",
               "traits" : {
                  "smithy.api#documentation" : "<p>The server host of the hypervisor. This can be either an IP address or \n      a fully-qualified domain name (FQDN).</p>"
               }
            },
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor.</p>"
               }
            },
            "KmsKeyArn" : {
               "target" : "com.amazonaws.backupgateway#KmsKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the KMS  \n      used to encrypt the hypervisor.</p>"
               }
            },
            "LastSuccessfulMetadataSyncTime" : {
               "target" : "com.amazonaws.backupgateway#Time",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the time when the most recent successful sync \n      of metadata occurred.</p>"
               }
            },
            "LatestMetadataSyncStatus" : {
               "target" : "com.amazonaws.backupgateway#SyncMetadataStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the most recent status for the indicated metadata sync.</p>"
               }
            },
            "LatestMetadataSyncStatusMessage" : {
               "target" : "com.amazonaws.backupgateway#string",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the most recent status for the indicated metadata sync.</p>"
               }
            },
            "LogGroupArn" : {
               "target" : "com.amazonaws.backupgateway#LogGroupArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the group of gateways within \n      the requested log.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.backupgateway#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the name of the specified hypervisor.</p>"
               }
            },
            "State" : {
               "target" : "com.amazonaws.backupgateway#HypervisorState",
               "traits" : {
                  "smithy.api#documentation" : "<p>This is the current state of the specified hypervisor.</p>\n         <p>The possible states are <code>PENDING</code>, <code>ONLINE</code>, \n      <code>OFFLINE</code>, or <code>ERROR</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>These are the details of the specified hypervisor. A hypervisor is hardware, \n      software, or firmware that creates and manages virtual machines, and allocates \n      resources to them.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#HypervisorId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#HypervisorPropertyMappingResource" : {
         "identifiers" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn"
            }
         },
         "put" : {
            "target" : "com.amazonaws.backupgateway#PutHypervisorPropertyMappings"
         },
         "read" : {
            "target" : "com.amazonaws.backupgateway#GetHypervisorPropertyMappings"
         },
         "type" : "resource"
      },
      "com.amazonaws.backupgateway#HypervisorResource" : {
         "create" : {
            "target" : "com.amazonaws.backupgateway#ImportHypervisorConfiguration"
         },
         "delete" : {
            "target" : "com.amazonaws.backupgateway#DeleteHypervisor"
         },
         "identifiers" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn"
            }
         },
         "list" : {
            "target" : "com.amazonaws.backupgateway#ListHypervisors"
         },
         "operations" : [
            {
               "target" : "com.amazonaws.backupgateway#StartVirtualMachinesMetadataSync"
            }
         ],
         "read" : {
            "target" : "com.amazonaws.backupgateway#GetHypervisor"
         },
         "resources" : [
            {
               "target" : "com.amazonaws.backupgateway#HypervisorPropertyMappingResource"
            }
         ],
         "traits" : {
            "aws.cloudformation#cfnResource" : {
               "name" : "Hypervisor"
            }
         },
         "type" : "resource",
         "update" : {
            "target" : "com.amazonaws.backupgateway#UpdateHypervisor"
         }
      },
      "com.amazonaws.backupgateway#HypervisorState" : {
         "traits" : {
            "smithy.api#enum" : [
               {
                  "name" : "PENDING",
                  "value" : "PENDING"
               },
               {
                  "name" : "ONLINE",
                  "value" : "ONLINE"
               },
               {
                  "name" : "OFFLINE",
                  "value" : "OFFLINE"
               },
               {
                  "name" : "ERROR",
                  "value" : "ERROR"
               }
            ]
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#Hypervisors" : {
         "member" : {
            "target" : "com.amazonaws.backupgateway#Hypervisor"
         },
         "type" : "list"
      },
      "com.amazonaws.backupgateway#IamRoleArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 20
            },
            "smithy.api#pattern" : "^arn:(aws|aws-cn|aws-us-gov):iam::([0-9]+):role/(\\S+)$"
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#ImportHypervisorConfiguration" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.backupgateway#ConflictException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#ImportHypervisorConfigurationInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#ImportHypervisorConfigurationOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Connect to a hypervisor by importing its configuration.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#ImportHypervisorConfigurationInput" : {
         "members" : {
            "Host" : {
               "target" : "com.amazonaws.backupgateway#Host",
               "traits" : {
                  "smithy.api#documentation" : "<p>The server host of the hypervisor. This can be either an IP address or a fully-qualified\n      domain name (FQDN).</p>",
                  "smithy.api#required" : {}
               }
            },
            "KmsKeyArn" : {
               "target" : "com.amazonaws.backupgateway#KmsKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Key Management Service for the hypervisor.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.backupgateway#Name",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the hypervisor.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Password" : {
               "target" : "com.amazonaws.backupgateway#Password",
               "traits" : {
                  "smithy.api#documentation" : "<p>The password for the hypervisor.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.backupgateway#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags of the hypervisor configuration to import.</p>"
               }
            },
            "Username" : {
               "target" : "com.amazonaws.backupgateway#Username",
               "traits" : {
                  "smithy.api#documentation" : "<p>The username for the hypervisor.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ImportHypervisorConfigurationOutput" : {
         "members" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor you disassociated.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#InternalServerException" : {
         "members" : {
            "ErrorCode" : {
               "target" : "com.amazonaws.backupgateway#string",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of which internal error occured.</p>"
               }
            },
            "Message" : {
               "target" : "com.amazonaws.backupgateway#string"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The operation did not succeed because an internal error occurred. Try again later.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#KmsKeyArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 500,
               "min" : 50
            },
            "smithy.api#pattern" : "^(^arn:(aws|aws-cn|aws-us-gov):kms:([a-zA-Z0-9-]+):([0-9]+):(key|alias)/(\\S+)$)|(^alias/(\\S+)$)$"
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#ListGateways" : {
         "input" : {
            "target" : "com.amazonaws.backupgateway#ListGatewaysInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#ListGatewaysOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists backup gateways owned by an Amazon Web Services account in an Amazon Web Services Region. The returned list is ordered by gateway Amazon Resource Name (ARN).</p>",
            "smithy.api#paginated" : {
               "items" : "Gateways"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#ListGatewaysInput" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.backupgateway#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of gateways to list.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.backupgateway#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned resources. For example, if a request is\n      made to return <code>MaxResults</code> number of resources, <code>NextToken</code> allows you\n      to return more items in your list starting at the location pointed to by the next\n      token.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ListGatewaysOutput" : {
         "members" : {
            "Gateways" : {
               "target" : "com.amazonaws.backupgateway#Gateways",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of your gateways.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.backupgateway#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned resources. For example, if a request is\n      made to return <code>maxResults</code> number of resources, <code>NextToken</code> allows you\n      to return more items in your list starting at the location pointed to by the next\n      token.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ListHypervisors" : {
         "input" : {
            "target" : "com.amazonaws.backupgateway#ListHypervisorsInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#ListHypervisorsOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists your hypervisors.</p>",
            "smithy.api#paginated" : {
               "items" : "Hypervisors"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#ListHypervisorsInput" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.backupgateway#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of hypervisors to list.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.backupgateway#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned resources. For example, if a request is\n      made to return <code>maxResults</code> number of resources, <code>NextToken</code> allows you\n      to return more items in your list starting at the location pointed to by the next\n      token.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ListHypervisorsOutput" : {
         "members" : {
            "Hypervisors" : {
               "target" : "com.amazonaws.backupgateway#Hypervisors",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of your <code>Hypervisor</code> objects, ordered by their Amazon Resource Names\n      (ARNs).</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.backupgateway#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned resources. For example, if a request is\n      made to return <code>maxResults</code> number of resources, <code>NextToken</code> allows you\n      to return more items in your list starting at the location pointed to by the next\n      token.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.backupgateway#ResourceNotFoundException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.backupgateway#ListTagsForResourceInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#ListTagsForResourceOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the tags applied to the resource identified by its Amazon Resource Name\n      (ARN).</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#ListTagsForResourceInput" : {
         "members" : {
            "ResourceArn" : {
               "target" : "com.amazonaws.backupgateway#ResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the resource's tags to list.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ListTagsForResourceOutput" : {
         "members" : {
            "ResourceArn" : {
               "target" : "com.amazonaws.backupgateway#ResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the resource's tags that you listed.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.backupgateway#Tags",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of the resource's tags.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ListVirtualMachines" : {
         "input" : {
            "target" : "com.amazonaws.backupgateway#ListVirtualMachinesInput"
         },
         "output" : {
            "target" : "com.amazonaws.backupgateway#ListVirtualMachinesOutput"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists your virtual machines.</p>",
            "smithy.api#paginated" : {
               "items" : "VirtualMachines"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.backupgateway#ListVirtualMachinesInput" : {
         "members" : {
            "HypervisorArn" : {
               "target" : "com.amazonaws.backupgateway#ServerArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the hypervisor connected to your virtual machine.</p>"
               }
            },
            "MaxResults" : {
               "target" : "com.amazonaws.backupgateway#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of virtual machines to list.</p>"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.backupgateway#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned resources. For example, if a request is\n      made to return <code>maxResults</code> number of resources, <code>NextToken</code> allows you\n      to return more items in your list starting at the location pointed to by the next\n      token.</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#ListVirtualMachinesOutput" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.backupgateway#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The next item following a partial list of returned resources. For example, if a request is\n      made to return <code>maxResults</code> number of resources, <code>NextToken</code> allows you\n      to return more items in your list starting at the location pointed to by the next\n      token.</p>"
               }
            },
            "VirtualMachines" : {
               "target" : "com.amazonaws.backupgateway#VirtualMachines",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of your <code>VirtualMachine</code> objects, ordered by their Amazon Resource Names\n      (ARNs).</p>"
               }
            }
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#LogGroupArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 0
            },
            "smithy.api#pattern" : "^$|^arn:(aws|aws-cn|aws-us-gov):logs:([a-zA-Z0-9-]+):([0-9]+):log-group:[a-zA-Z0-9_\\-\\/\\.]+:\\*$"
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#MaintenanceStartTime" : {
         "members" : {
            "DayOfMonth" : {
               "target" : "com.amazonaws.backupgateway#DayOfMonth",
               "traits" : {
                  "smithy.api#documentation" : "<p>The day of the month component of the maintenance start time represented as an ordinal number from \n      1 to 28, where 1 represents the first day of the month and 28 represents the last day of the month.</p>"
               }
            },
            "DayOfWeek" : {
               "target" : "com.amazonaws.backupgateway#DayOfWeek",
               "traits" : {
                  "smithy.api#documentation" : "<p>An ordinal number between 0 and 6 that represents the day of the week, where 0 represents Sunday \n      and 6 represents Saturday. The day of week is in the time zone of the gateway.</p>"
               }
            },
            "HourOfDay" : {
               "target" : "com.amazonaws.backupgateway#HourOfDay",
               "traits" : {
                  "smithy.api#documentation" : "<p>The hour component of the maintenance start time represented as <i>hh</i>, \n      where <i>hh</i> is the hour (0 to 23). The hour of the day is in the time zone of the gateway.</p>",
                  "smithy.api#required" : {}
               }
            },
            "MinuteOfHour" : {
               "target" : "com.amazonaws.backupgateway#MinuteOfHour",
               "traits" : {
                  "smithy.api#documentation" : "<p>The minute component of the maintenance start time represented as <i>mm</i>, where \n      <i>mm</i> is the minute (0 to 59). The minute of the hour is in the time zone of the gateway.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This is your gateway's weekly maintenance start time including the day and time of the week. \n      Note that values are in terms of the gateway's time zone. Can be weekly or monthly.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.backupgateway#MaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.backupgateway#MinuteOfHour" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 59,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.backupgateway#Name" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.backupgateway#NextToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 1
            },
            "smithy.api#pattern" : "^.+$"
         },
         "type" : "string"
      },
[...]
