{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.databrew#AWSGlueDataBrew" : {
         "operations" : [
            {
               "target" : "com.amazonaws.databrew#BatchDeleteRecipeVersion"
            },
            {
               "target" : "com.amazonaws.databrew#CreateDataset"
            },
            {
               "target" : "com.amazonaws.databrew#CreateProfileJob"
            },
            {
               "target" : "com.amazonaws.databrew#CreateProject"
            },
            {
               "target" : "com.amazonaws.databrew#CreateRecipe"
            },
            {
               "target" : "com.amazonaws.databrew#CreateRecipeJob"
            },
            {
               "target" : "com.amazonaws.databrew#CreateRuleset"
            },
            {
               "target" : "com.amazonaws.databrew#CreateSchedule"
            },
            {
               "target" : "com.amazonaws.databrew#DeleteDataset"
            },
            {
               "target" : "com.amazonaws.databrew#DeleteJob"
            },
            {
               "target" : "com.amazonaws.databrew#DeleteProject"
            },
            {
               "target" : "com.amazonaws.databrew#DeleteRecipeVersion"
            },
            {
               "target" : "com.amazonaws.databrew#DeleteRuleset"
            },
            {
               "target" : "com.amazonaws.databrew#DeleteSchedule"
            },
            {
               "target" : "com.amazonaws.databrew#DescribeDataset"
            },
            {
               "target" : "com.amazonaws.databrew#DescribeJob"
            },
            {
               "target" : "com.amazonaws.databrew#DescribeJobRun"
            },
            {
               "target" : "com.amazonaws.databrew#DescribeProject"
            },
            {
               "target" : "com.amazonaws.databrew#DescribeRecipe"
            },
            {
               "target" : "com.amazonaws.databrew#DescribeRuleset"
            },
            {
               "target" : "com.amazonaws.databrew#DescribeSchedule"
            },
            {
               "target" : "com.amazonaws.databrew#ListDatasets"
            },
            {
               "target" : "com.amazonaws.databrew#ListJobRuns"
            },
            {
               "target" : "com.amazonaws.databrew#ListJobs"
            },
            {
               "target" : "com.amazonaws.databrew#ListProjects"
            },
            {
               "target" : "com.amazonaws.databrew#ListRecipes"
            },
            {
               "target" : "com.amazonaws.databrew#ListRecipeVersions"
            },
            {
               "target" : "com.amazonaws.databrew#ListRulesets"
            },
            {
               "target" : "com.amazonaws.databrew#ListSchedules"
            },
            {
               "target" : "com.amazonaws.databrew#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.databrew#PublishRecipe"
            },
            {
               "target" : "com.amazonaws.databrew#SendProjectSessionAction"
            },
            {
               "target" : "com.amazonaws.databrew#StartJobRun"
            },
            {
               "target" : "com.amazonaws.databrew#StartProjectSession"
            },
            {
               "target" : "com.amazonaws.databrew#StopJobRun"
            },
            {
               "target" : "com.amazonaws.databrew#TagResource"
            },
            {
               "target" : "com.amazonaws.databrew#UntagResource"
            },
            {
               "target" : "com.amazonaws.databrew#UpdateDataset"
            },
            {
               "target" : "com.amazonaws.databrew#UpdateProfileJob"
            },
            {
               "target" : "com.amazonaws.databrew#UpdateProject"
            },
            {
               "target" : "com.amazonaws.databrew#UpdateRecipe"
            },
            {
               "target" : "com.amazonaws.databrew#UpdateRecipeJob"
            },
            {
               "target" : "com.amazonaws.databrew#UpdateRuleset"
            },
            {
               "target" : "com.amazonaws.databrew#UpdateSchedule"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "databrew",
               "cloudFormationName" : "DataBrew",
               "cloudTrailEventSource" : "databrew.amazonaws.com",
               "endpointPrefix" : "databrew",
               "sdkId" : "DataBrew"
            },
            "aws.auth#sigv4" : {
               "name" : "databrew"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Glue DataBrew is a visual, cloud-scale data-preparation service. DataBrew\n            simplifies data preparation tasks, targeting data issues that are hard to spot and\n            time-consuming to fix. DataBrew empowers users of all technical levels to visualize the\n            data and perform one-click data transformations, with no coding required.</p>",
            "smithy.api#title" : "AWS Glue DataBrew",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseDualStack"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    },
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://databrew-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "Region"
                                                      },
                                                      "us-gov-west-1"
                                                   ],
                                                   "fn" : "stringEquals"
                                                }
                                             ],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://databrew.us-gov-west-1.amazonaws.com"
                                             },
                                             "type" : "endpoint"
                                          },
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://databrew-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                true,
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsDualStack"
                                                   ],
                                                   "fn" : "getAttr"
                                                }
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://databrew.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "DualStack is enabled but this partition does not support DualStack",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://databrew.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region af-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.af-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "af-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.ap-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.ap-northeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.ap-northeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-northeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.ap-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.ap-southeast-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.ap-southeast-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ap-southeast-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region ca-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.ca-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "ca-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-central-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.eu-central-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-central-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.eu-north-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.eu-south-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.eu-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.eu-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-west-3 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.eu-west-3.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "eu-west-3",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region sa-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.sa-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "sa-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-east-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-west-2 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-west-2.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-west-2",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew-fips.cn-north-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew-fips.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-gov-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://databrew.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2017-07-25"
      },
      "com.amazonaws.databrew#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.databrew#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Access to the specified resource was denied.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#AccountId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#ActionId" : {
         "type" : "integer"
      },
      "com.amazonaws.databrew#AllowedStatisticList" : {
         "member" : {
            "target" : "com.amazonaws.databrew#AllowedStatistics"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.databrew#AllowedStatistics" : {
         "members" : {
            "Statistics" : {
               "target" : "com.amazonaws.databrew#StatisticList",
               "traits" : {
                  "smithy.api#documentation" : "<p>One or more column statistics to allow for columns that contain detected entities.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configuration of statistics that are allowed to be run on columns that \n            contain detected entities. When undefined, no statistics will be computed \n            on columns that contain detected entities.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#AnalyticsMode" : {
         "members" : {
            "DISABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DISABLE"
               }
            },
            "ENABLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ENABLE"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.databrew#Arn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 20
            }
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#AssumeControl" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.databrew#Attempt" : {
         "traits" : {
            "smithy.api#default" : 0
         },
         "type" : "integer"
      },
      "com.amazonaws.databrew#BatchDeleteRecipeVersion" : {
         "errors" : [
            {
               "target" : "com.amazonaws.databrew#ConflictException"
            },
            {
               "target" : "com.amazonaws.databrew#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.databrew#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.databrew#BatchDeleteRecipeVersionRequest"
         },
         "output" : {
            "target" : "com.amazonaws.databrew#BatchDeleteRecipeVersionResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes one or more versions of a recipe at a time.</p>\n         <p>The entire request will be rejected if:</p>\n         <ul>\n            <li>\n               <p>The recipe does not exist.</p>\n            </li>\n            <li>\n               <p>There is an invalid version identifier in the list of versions.</p>\n            </li>\n            <li>\n               <p>The version list is empty.</p>\n            </li>\n            <li>\n               <p>The version list size exceeds 50.</p>\n            </li>\n            <li>\n               <p>The version list contains duplicate entries.</p>\n            </li>\n         </ul>\n         <p>The request will complete successfully, but with partial failures, if:</p>\n         <ul>\n            <li>\n               <p>A version does not exist.</p>\n            </li>\n            <li>\n               <p>A version is being used by a job.</p>\n            </li>\n            <li>\n               <p>You specify <code>LATEST_WORKING</code>, but it's being used by a\n                    project.</p>\n            </li>\n            <li>\n               <p>The version fails to be deleted.</p>\n            </li>\n         </ul>\n         <p>The <code>LATEST_WORKING</code> version will only be deleted if the recipe has no\n            other versions. If you try to delete <code>LATEST_WORKING</code> while other versions\n            exist (or if they can't be deleted), then <code>LATEST_WORKING</code> will be listed as\n            partial failure in the response.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/recipes/{Name}/batchDeleteRecipeVersion"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.databrew#BatchDeleteRecipeVersionRequest" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#RecipeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the recipe whose versions are to be deleted.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "RecipeVersions" : {
               "target" : "com.amazonaws.databrew#RecipeVersionList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of version identifiers, for the recipe versions to be deleted. You can\n            specify numeric versions (<code>X.Y</code>) or <code>LATEST_WORKING</code>.\n                <code>LATEST_PUBLISHED</code> is not supported.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#BatchDeleteRecipeVersionResponse" : {
         "members" : {
            "Errors" : {
               "target" : "com.amazonaws.databrew#RecipeErrorList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Errors, if any, that occurred while attempting to delete the recipe versions.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.databrew#RecipeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the recipe that was modified.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#Bucket" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 63,
               "min" : 3
            }
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#BucketOwner" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 12,
               "min" : 12
            },
            "smithy.api#pattern" : "^[0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#CatalogId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#ClientSessionId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9][a-zA-Z0-9-]*$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#ColumnName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#ColumnNameList" : {
         "member" : {
            "target" : "com.amazonaws.databrew#ColumnName"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.databrew#ColumnRange" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 20,
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.databrew#ColumnSelector" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#ColumnName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a column from a dataset.</p>"
               }
            },
            "Regex" : {
               "target" : "com.amazonaws.databrew#ColumnName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A regular expression for selecting a column from a dataset.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Selector of a column from a dataset for profile job configuration. \n            One selector includes either a column name or a regular expression.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#ColumnSelectorList" : {
         "member" : {
            "target" : "com.amazonaws.databrew#ColumnSelector"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.databrew#ColumnStatisticsConfiguration" : {
         "members" : {
            "Selectors" : {
               "target" : "com.amazonaws.databrew#ColumnSelectorList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of column selectors. Selectors can be used to select columns from the dataset. \n            When selectors are undefined, configuration will be applied to all supported columns.\n        </p>"
               }
            },
            "Statistics" : {
               "target" : "com.amazonaws.databrew#StatisticsConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Configuration for evaluations. Statistics can be used to select evaluations and override \n            parameters of evaluations. \n        </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Configuration for column evaluations for a profile job. ColumnStatisticsConfiguration can be used to select \n            evaluations and override parameters of evaluations for particular columns. \n        </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#ColumnStatisticsConfigurationList" : {
         "member" : {
            "target" : "com.amazonaws.databrew#ColumnStatisticsConfiguration"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.databrew#CompressionFormat" : {
         "members" : {
            "BROTLI" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BROTLI"
               }
            },
            "BZIP2" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BZIP2"
               }
            },
            "DEFLATE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DEFLATE"
               }
            },
            "GZIP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "GZIP"
               }
            },
            "LZ4" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LZ4"
               }
            },
            "LZO" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LZO"
               }
            },
            "SNAPPY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SNAPPY"
               }
            },
            "ZLIB" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ZLIB"
               }
            },
            "ZSTD" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ZSTD"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.databrew#Condition" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Z\\_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#ConditionExpression" : {
         "members" : {
            "Condition" : {
               "target" : "com.amazonaws.databrew#Condition",
               "traits" : {
                  "smithy.api#documentation" : "<p>A specific condition to apply to a recipe action. For more information, see <a href=\"https://docs.aws.amazon.com/databrew/latest/dg/recipes.html#recipes.structure\">Recipe\n            structure</a> in the <i>Glue DataBrew Developer\n            Guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TargetColumn" : {
               "target" : "com.amazonaws.databrew#TargetColumn",
               "traits" : {
                  "smithy.api#documentation" : "<p>A column to apply this condition to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.databrew#ConditionValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>A value that the condition must evaluate to for the condition to succeed.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents an individual condition that evaluates to true or false.</p>\n         <p>Conditions are used with recipe actions. The action is only performed for column values where the \n            condition evaluates to true.</p>\n         <p>If a recipe requires more than one condition, then the recipe must specify multiple \n            <code>ConditionExpression</code> elements. Each condition is applied to the rows in a dataset first, before \n            the recipe action is performed.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#ConditionExpressionList" : {
         "member" : {
            "target" : "com.amazonaws.databrew#ConditionExpression"
         },
         "type" : "list"
      },
      "com.amazonaws.databrew#ConditionValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.databrew#Message"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateColumn" : {
         "traits" : {
            "smithy.api#default" : false
         },
         "type" : "boolean"
      },
      "com.amazonaws.databrew#CreateDataset" : {
         "errors" : [
            {
               "target" : "com.amazonaws.databrew#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.databrew#ConflictException"
            },
            {
               "target" : "com.amazonaws.databrew#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.databrew#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.databrew#CreateDatasetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.databrew#CreateDatasetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new DataBrew dataset.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/datasets"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.databrew#CreateDatasetRequest" : {
         "members" : {
            "Format" : {
               "target" : "com.amazonaws.databrew#InputFormat",
               "traits" : {
                  "smithy.api#documentation" : "<p>The file format of a dataset that is created from an Amazon S3 file or folder.</p>"
               }
            },
            "FormatOptions" : {
               "target" : "com.amazonaws.databrew#FormatOptions"
            },
            "Input" : {
               "target" : "com.amazonaws.databrew#Input",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "Name" : {
               "target" : "com.amazonaws.databrew#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset to be created. Valid characters are alphanumeric (A-Z, a-z,\n            0-9), hyphen (-), period (.), and space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "PathOptions" : {
               "target" : "com.amazonaws.databrew#PathOptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>A set of options that defines how DataBrew interprets an Amazon S3 path of the dataset.</p>"
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.databrew#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata tags to apply to this dataset.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateDatasetResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset that you created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateProfileJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.databrew#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.databrew#ConflictException"
            },
            {
               "target" : "com.amazonaws.databrew#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.databrew#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.databrew#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.databrew#CreateProfileJobRequest"
         },
         "output" : {
            "target" : "com.amazonaws.databrew#CreateProfileJobResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new job to analyze a dataset and create its data profile.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/profileJobs"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.databrew#CreateProfileJobRequest" : {
         "members" : {
            "Configuration" : {
               "target" : "com.amazonaws.databrew#ProfileConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>Configuration for profile jobs. Used to select columns, do evaluations, \n            and override default parameters of evaluations. When configuration is null, the\n            profile job will run with default settings.</p>"
               }
            },
            "DatasetName" : {
               "target" : "com.amazonaws.databrew#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset that this job is to act upon.</p>",
                  "smithy.api#required" : {}
               }
            },
            "EncryptionKeyArn" : {
               "target" : "com.amazonaws.databrew#EncryptionKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of an encryption key that is used to protect the\n            job.</p>"
               }
            },
            "EncryptionMode" : {
               "target" : "com.amazonaws.databrew#EncryptionMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The encryption mode for the job, which can be one of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SSE-KMS</code> - <code>SSE-KMS</code> - Server-side encryption with \n                    KMS-managed keys.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p>\n            </li>\n         </ul>"
               }
            },
            "JobSample" : {
               "target" : "com.amazonaws.databrew#JobSample",
               "traits" : {
                  "smithy.api#documentation" : "<p>Sample configuration for profile jobs only. Determines the number of rows on which the\n            profile job will be executed. If a JobSample value is not provided, the default value\n            will be used. The default value is CUSTOM_ROWS for the mode parameter and 20000 for the\n            size parameter.</p>"
               }
            },
            "LogSubscription" : {
               "target" : "com.amazonaws.databrew#LogSubscription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables or disables Amazon CloudWatch logging for the job. If logging is enabled,\n            CloudWatch writes one log stream for each job run.</p>"
               }
            },
            "MaxCapacity" : {
               "target" : "com.amazonaws.databrew#MaxCapacity",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum number of nodes that DataBrew can use when the job processes data.</p>"
               }
            },
            "MaxRetries" : {
               "target" : "com.amazonaws.databrew#MaxRetries",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum number of times to retry the job after a job run fails.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.databrew#JobName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the job to be created. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "OutputLocation" : {
               "target" : "com.amazonaws.databrew#S3Location",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.databrew#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed when DataBrew runs the job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.databrew#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata tags to apply to this job.</p>"
               }
            },
            "Timeout" : {
               "target" : "com.amazonaws.databrew#Timeout",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The job's timeout in minutes. A job that attempts to run longer than this timeout\n            period ends with a status of <code>TIMEOUT</code>.</p>"
               }
            },
            "ValidationConfigurations" : {
               "target" : "com.amazonaws.databrew#ValidationConfigurationList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of validation configurations that are applied to the profile job.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateProfileJobResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#JobName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the job that was created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateProject" : {
         "errors" : [
            {
               "target" : "com.amazonaws.databrew#ConflictException"
            },
            {
               "target" : "com.amazonaws.databrew#InternalServerException"
            },
            {
               "target" : "com.amazonaws.databrew#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.databrew#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.databrew#CreateProjectRequest"
         },
         "output" : {
            "target" : "com.amazonaws.databrew#CreateProjectResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new DataBrew project.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/projects"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.databrew#CreateProjectRequest" : {
         "members" : {
            "DatasetName" : {
               "target" : "com.amazonaws.databrew#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of an existing dataset to associate this project with.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Name" : {
               "target" : "com.amazonaws.databrew#ProjectName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique name for the new project. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RecipeName" : {
               "target" : "com.amazonaws.databrew#RecipeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of an existing recipe to associate with the project.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RoleArn" : {
               "target" : "com.amazonaws.databrew#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed for this request.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Sample" : {
               "target" : "com.amazonaws.databrew#Sample"
            },
            "Tags" : {
               "target" : "com.amazonaws.databrew#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata tags to apply to this project.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateProjectResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#ProjectName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the project that you created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateRecipe" : {
         "errors" : [
            {
               "target" : "com.amazonaws.databrew#ConflictException"
            },
            {
               "target" : "com.amazonaws.databrew#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.databrew#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.databrew#CreateRecipeRequest"
         },
         "output" : {
            "target" : "com.amazonaws.databrew#CreateRecipeResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new DataBrew recipe.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/recipes"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.databrew#CreateRecipeJob" : {
         "errors" : [
            {
               "target" : "com.amazonaws.databrew#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.databrew#ConflictException"
            },
            {
               "target" : "com.amazonaws.databrew#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.databrew#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.databrew#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.databrew#CreateRecipeJobRequest"
         },
         "output" : {
            "target" : "com.amazonaws.databrew#CreateRecipeJobResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new job to transform input data, using steps defined in an existing Glue DataBrew recipe</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/recipeJobs"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.databrew#CreateRecipeJobRequest" : {
         "members" : {
            "DataCatalogOutputs" : {
               "target" : "com.amazonaws.databrew#DataCatalogOutputList",
               "traits" : {
                  "smithy.api#documentation" : "<p>One or more artifacts that represent the Glue Data Catalog output from running the job.</p>"
               }
            },
            "DatabaseOutputs" : {
               "target" : "com.amazonaws.databrew#DatabaseOutputList",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents a list of JDBC database output objects which defines the output destination for \n            a DataBrew recipe job to write to. </p>"
               }
            },
            "DatasetName" : {
               "target" : "com.amazonaws.databrew#DatasetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the dataset that this job processes.</p>"
               }
            },
            "EncryptionKeyArn" : {
               "target" : "com.amazonaws.databrew#EncryptionKeyArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of an encryption key that is used to protect the\n            job.</p>"
               }
            },
            "EncryptionMode" : {
               "target" : "com.amazonaws.databrew#EncryptionMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The encryption mode for the job, which can be one of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SSE-KMS</code> - Server-side encryption with keys managed by KMS.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p>\n            </li>\n         </ul>"
               }
            },
            "LogSubscription" : {
               "target" : "com.amazonaws.databrew#LogSubscription",
               "traits" : {
                  "smithy.api#documentation" : "<p>Enables or disables Amazon CloudWatch logging for the job. If logging is enabled,\n            CloudWatch writes one log stream for each job run.</p>"
               }
            },
            "MaxCapacity" : {
               "target" : "com.amazonaws.databrew#MaxCapacity",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum number of nodes that DataBrew can consume when the job processes\n            data.</p>"
               }
            },
            "MaxRetries" : {
               "target" : "com.amazonaws.databrew#MaxRetries",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The maximum number of times to retry the job after a job run fails.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.databrew#JobName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique name for the job. Valid characters are alphanumeric (A-Z, a-z, 0-9), hyphen\n            (-), period (.), and space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Outputs" : {
               "target" : "com.amazonaws.databrew#OutputList",
               "traits" : {
                  "smithy.api#documentation" : "<p>One or more artifacts that represent the output from running the job.</p>"
               }
            },
            "ProjectName" : {
               "target" : "com.amazonaws.databrew#ProjectName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Either the name of an existing project, or a combination of a recipe and a dataset to\n            associate with the recipe.</p>"
               }
            },
            "RecipeReference" : {
               "target" : "com.amazonaws.databrew#RecipeReference"
            },
            "RoleArn" : {
               "target" : "com.amazonaws.databrew#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed when DataBrew runs the job.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.databrew#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata tags to apply to this job.</p>"
               }
            },
            "Timeout" : {
               "target" : "com.amazonaws.databrew#Timeout",
               "traits" : {
                  "smithy.api#default" : 0,
                  "smithy.api#documentation" : "<p>The job's timeout in minutes. A job that attempts to run longer than this timeout\n            period ends with a status of <code>TIMEOUT</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateRecipeJobResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#JobName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the job that you created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateRecipeRequest" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.databrew#RecipeDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description for the recipe.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.databrew#RecipeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique name for the recipe. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Steps" : {
               "target" : "com.amazonaws.databrew#RecipeStepList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array containing the steps to be performed by the recipe. Each recipe step consists\n            of one recipe action and (optionally) an array of condition expressions.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.databrew#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata tags to apply to this recipe.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateRecipeResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#RecipeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the recipe that you created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateRuleset" : {
         "errors" : [
            {
               "target" : "com.amazonaws.databrew#ConflictException"
            },
            {
               "target" : "com.amazonaws.databrew#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.databrew#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.databrew#CreateRulesetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.databrew#CreateRulesetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new ruleset that can be used in a profile job to validate \n            the data quality of a dataset.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/rulesets"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.databrew#CreateRulesetRequest" : {
         "members" : {
            "Description" : {
               "target" : "com.amazonaws.databrew#RulesetDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description of the ruleset.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.databrew#RulesetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the ruleset to be created. Valid characters are alphanumeric \n            (A-Z, a-z, 0-9), hyphen (-), period (.), and space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Rules" : {
               "target" : "com.amazonaws.databrew#RuleList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of rules that are defined with the ruleset. A rule includes \n            one or more checks to be validated on a DataBrew dataset.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.databrew#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata tags to apply to the ruleset.</p>"
               }
            },
            "TargetArn" : {
               "target" : "com.amazonaws.databrew#Arn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of a resource (dataset) that the \n            ruleset is associated with.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateRulesetResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#RulesetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique name of the created ruleset.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateSchedule" : {
         "errors" : [
            {
               "target" : "com.amazonaws.databrew#ConflictException"
            },
            {
               "target" : "com.amazonaws.databrew#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.databrew#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.databrew#CreateScheduleRequest"
         },
         "output" : {
            "target" : "com.amazonaws.databrew#CreateScheduleResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a new schedule for one or more DataBrew jobs. Jobs can be run at a specific\n            date and time, or at regular intervals.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/schedules"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.databrew#CreateScheduleRequest" : {
         "members" : {
            "CronExpression" : {
               "target" : "com.amazonaws.databrew#CronExpression",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date or dates and time or times when the jobs are to be run. For more information,\n            see <a href=\"https://docs.aws.amazon.com/databrew/latest/dg/jobs.cron.html\">Cron\n                expressions</a> in the <i>Glue DataBrew Developer\n            Guide</i>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "JobNames" : {
               "target" : "com.amazonaws.databrew#JobNameList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name or names of one or more jobs to be run.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.databrew#ScheduleName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique name for the schedule. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.databrew#TagMap",
               "traits" : {
                  "smithy.api#documentation" : "<p>Metadata tags to apply to this schedule.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreateScheduleResponse" : {
         "members" : {
            "Name" : {
               "target" : "com.amazonaws.databrew#ScheduleName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the schedule that was created.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CreatedBy" : {
         "type" : "string"
      },
      "com.amazonaws.databrew#CronExpression" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#CsvOptions" : {
         "members" : {
            "Delimiter" : {
               "target" : "com.amazonaws.databrew#Delimiter",
               "traits" : {
                  "smithy.api#documentation" : "<p>A single character that specifies the delimiter being used in the CSV file.</p>"
               }
            },
            "HeaderRow" : {
               "target" : "com.amazonaws.databrew#HeaderRow",
               "traits" : {
                  "smithy.api#documentation" : "<p>A variable that specifies whether the first row in the file is parsed as the\n            header. If this value is false, column names are auto-generated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents a set of options that define how DataBrew will read a \n            comma-separated value (CSV) file when creating a dataset from that file.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#CsvOutputOptions" : {
         "members" : {
            "Delimiter" : {
               "target" : "com.amazonaws.databrew#Delimiter",
               "traits" : {
                  "smithy.api#documentation" : "<p>A single character that specifies the delimiter used to create CSV job output.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents a set of options that define how DataBrew will write a \n            comma-separated value (CSV) file.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#DataCatalogInputDefinition" : {
         "members" : {
            "CatalogId" : {
               "target" : "com.amazonaws.databrew#CatalogId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Amazon Web Services account that holds the Data Catalog that stores the\n            data.</p>"
               }
            },
            "DatabaseName" : {
               "target" : "com.amazonaws.databrew#DatabaseName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a database in the Data Catalog.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TableName" : {
               "target" : "com.amazonaws.databrew#TableName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a database table in the Data Catalog. This table corresponds to a DataBrew\n            dataset.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TempDirectory" : {
               "target" : "com.amazonaws.databrew#S3Location",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents an Amazon location where DataBrew can store intermediate results.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents how metadata stored in the Glue Data Catalog is defined in a DataBrew\n            dataset. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#DataCatalogOutput" : {
         "members" : {
            "CatalogId" : {
               "target" : "com.amazonaws.databrew#CatalogId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier of the Amazon Web Services account that holds the Data Catalog that \n            stores the data.</p>"
               }
            },
            "DatabaseName" : {
               "target" : "com.amazonaws.databrew#DatabaseName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a database in the Data Catalog.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DatabaseOptions" : {
               "target" : "com.amazonaws.databrew#DatabaseTableOutputOptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents options that specify how and where DataBrew writes the database output \n            generated by recipe jobs.</p>"
               }
            },
            "Overwrite" : {
               "target" : "com.amazonaws.databrew#OverwriteOutput",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p>A value that, if true, means that any data in the location specified for output \n            is overwritten with new output. Not supported with DatabaseOptions.</p>"
               }
            },
            "S3Options" : {
               "target" : "com.amazonaws.databrew#S3TableOutputOptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents options that specify how and where DataBrew writes the Amazon S3 \n            output generated by recipe jobs.</p>"
               }
            },
            "TableName" : {
               "target" : "com.amazonaws.databrew#TableName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of a table in the Data Catalog.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Represents options that specify how and where in the Glue Data Catalog DataBrew \n            writes the output generated by recipe jobs.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#DataCatalogOutputList" : {
         "member" : {
            "target" : "com.amazonaws.databrew#DataCatalogOutput"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.databrew#DatabaseInputDefinition" : {
         "members" : {
            "DatabaseTableName" : {
               "target" : "com.amazonaws.databrew#DatabaseTableName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The table within the target database.</p>"
               }
            },
            "GlueConnectionName" : {
               "target" : "com.amazonaws.databrew#GlueConnectionName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Glue Connection that stores the connection information for the target\n            database.</p>",
                  "smithy.api#required" : {}
               }
            },
            "QueryString" : {
               "target" : "com.amazonaws.databrew#QueryString",
               "traits" : {
                  "smithy.api#documentation" : "<p>Custom SQL to run against the provided Glue connection. This SQL will be used as \n            the input for DataBrew projects and jobs.</p>"
               }
            },
            "TempDirectory" : {
               "target" : "com.amazonaws.databrew#S3Location"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Connection information for dataset input files stored in a database.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.databrew#DatabaseName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.databrew#DatabaseOutput" : {
         "members" : {
            "DatabaseOptions" : {
               "target" : "com.amazonaws.databrew#DatabaseTableOutputOptions",
               "traits" : {
                  "smithy.api#documentation" : "<p>Represents options that specify how and where DataBrew writes the database output \n            generated by recipe jobs.</p>",
                  "smithy.api#required" : {}
               }
            },
            "DatabaseOutputMode" : {
               "target" : "com.amazonaws.databrew#DatabaseOutputMode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The output mode to write into the database. Currently supported option: NEW_TABLE.</p>"
[...]
