{
   "shapes" : {
      "com.amazonaws.uxc#AWSAccountUXSetting" : {
         "operations" : [
            {
               "target" : "com.amazonaws.uxc#GetAccountCustomizations"
            },
            {
               "target" : "com.amazonaws.uxc#ListServices"
            },
            {
               "target" : "com.amazonaws.uxc#UpdateAccountCustomizations"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "uxc",
               "cloudFormationName" : "AWSAccountUXSetting",
               "endpointPrefix" : "uxc",
               "sdkId" : "uxc"
            },
            "aws.auth#sigv4" : {
               "name" : "uxc"
            },
            "aws.endpoints#dualStackOnlyEndpoints" : {},
            "aws.endpoints#standardRegionalEndpoints" : {},
            "aws.protocols#restJson1" : {},
            "smithy.api#cors" : {
               "additionalAllowedHeaders" : [
                  "Authorization",
                  "Date",
                  "X-Amz-Date",
                  "X-Amz-Security-Token",
                  "X-Amz-Target",
                  "Content-type",
                  "x-amz-content-sha256",
                  "x-amz-user-agent",
                  "Access-Control-Allow-Origin"
               ],
               "maxAge" : 86400
            },
            "smithy.api#documentation" : "<p>This is the Amazon Web Services User Experience Customization (UXC) API Reference. Amazon Web Services User Experience Customization (UXC) is a utility that provides programmatic access to enable account administrators to customize the visual appearance of the Amazon Web Services Management Console and manage these settings at the account level.</p> <note> <p>The <code>visibleServices</code> and <code>visibleRegions</code> settings control only the appearance of services and Regions in the Amazon Web Services Management Console. They do not restrict access through the CLI, SDKs, or other APIs.</p> </note> <p>For more information about UXC features and console procedures, see <a href=\"https://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/getting-started-uxc.html\">Getting started with Amazon Web Services User Experience Customization</a>. For information about required permissions, see <a href=\"https://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/security_iam.html\">Identity and access management for Amazon Web Services Management Console</a>.</p>",
            "smithy.api#title" : "AWS User Experience Customization",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://uxc-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://uxc.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://uxc-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://uxc.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://uxc-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://uxc.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://uxc-fips.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://uxc.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2024-07-01"
      },
      "com.amazonaws.uxc#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You don't have sufficient access to perform this operation. Verify that your IAM policy includes the required <code>uxc:</code> permissions for the operation that you are calling. For more information on IAM permissions, see <a href=\"https://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/security-iam-awsmanpol.html\">Amazon Web Services managed policies for Amazon Web Services Management Console</a>.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#AccountColor" : {
         "members" : {
            "DARKBLUE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "darkBlue"
               }
            },
            "GREEN" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "green"
               }
            },
            "LIGHTBLUE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "lightBlue"
               }
            },
            "NONE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "none"
               }
            },
            "ORANGE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "orange"
               }
            },
            "PINK" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "pink"
               }
            },
            "PURPLE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "purple"
               }
            },
            "RED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "red"
               }
            },
            "TEAL" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "teal"
               }
            },
            "YELLOW" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "yellow"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.uxc#GetAccountCustomizations" : {
         "errors" : [
            {
               "target" : "com.amazonaws.uxc#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.uxc#InternalServerException"
            },
            {
               "target" : "com.amazonaws.uxc#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.uxc#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.uxc#GetAccountCustomizationsInput"
         },
         "output" : {
            "target" : "com.amazonaws.uxc#GetAccountCustomizationsOutput"
         },
         "traits" : {
            "aws.api#dataPlane" : {},
            "aws.iam#iamAction" : {
               "documentation" : "Grants permission to retrieve account customizations"
            },
            "smithy.api#documentation" : "<p>Returns the current account customization settings, including account color, visible services, and visible Regions. Settings that you have not configured return their default values: visible Regions and visible services return `null`, and account color returns `none`.</p> <note> <p>The <code>visibleServices</code> and <code>visibleRegions</code> settings control only the appearance of services and Regions in the Amazon Web Services Management Console. They do not restrict access through the CLI, SDKs, or other APIs.</p> </note>",
            "smithy.api#http" : {
               "method" : "GET",
               "uri" : "/v1/account-customizations"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "success" : {}
                  },
                  "id" : "GetAccountCustomizationsSuccess",
                  "params" : {},
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.uxc#GetAccountCustomizationsInput" : {
         "members" : {},
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#GetAccountCustomizationsOutput" : {
         "members" : {
            "accountColor" : {
               "target" : "com.amazonaws.uxc#AccountColor",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account color preference. A value of <code>none</code> indicates that you have not set a color.</p>"
               }
            },
            "visibleRegions" : {
               "target" : "com.amazonaws.uxc#RegionsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of Amazon Web Services Region codes that are visible to the account in the Amazon Web Services Management Console. A value of <code>null</code> indicates that you have not configured this feature and all Regions are visible. For a list of valid Region codes, see <a href=\"https://docs.aws.amazon.com/global-infrastructure/latest/regions/aws-regions.html\">Amazon Web Services Regions</a>.</p>"
               }
            },
            "visibleServices" : {
               "target" : "com.amazonaws.uxc#ServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of Amazon Web Services service identifiers that are visible to the account in the Amazon Web Services Management Console. A value of <code>null</code> indicates that you have not configured this feature and all services are visible. For valid service identifiers, call <a href=\"https://docs.aws.amazon.com/awsconsolehelpdocs/latest/APIReference/API_ListServices.html\">ListServices</a>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#InternalServerException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The service encountered an internal error. Try your request again later.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#ListServices" : {
         "errors" : [
            {
               "target" : "com.amazonaws.uxc#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.uxc#InternalServerException"
            },
            {
               "target" : "com.amazonaws.uxc#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.uxc#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.uxc#ListServicesInput"
         },
         "output" : {
            "target" : "com.amazonaws.uxc#ListServicesOutput"
         },
         "traits" : {
            "aws.iam#iamAction" : {
               "documentation" : "Grants permission to list available services"
            },
            "smithy.api#documentation" : "<p>Returns a paginated list of Amazon Web Services service identifiers that you can use as values for the <code>visibleServices</code> setting in <a href=\"https://docs.aws.amazon.com/awsconsolehelpdocs/latest/APIReference/API_UpdateAccountCustomizations.html\">UpdateAccountCustomizations</a>. The available services vary by Amazon Web Services partition. Use pagination to retrieve all results.</p> <note> <p>The <code>visibleServices</code> setting controls only the appearance of services in the Amazon Web Services Management Console. It does not restrict access through the CLI, SDKs, or other APIs.</p> </note>",
            "smithy.api#http" : {
               "method" : "GET",
               "uri" : "/v1/services"
            },
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "services",
               "outputToken" : "nextToken"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "success" : {}
                  },
                  "id" : "ListServicesSuccess",
                  "params" : {},
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.uxc#ListServicesInput" : {
         "members" : {
            "maxResults" : {
               "target" : "com.amazonaws.uxc#MaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of results to return per page.</p>",
                  "smithy.api#httpQuery" : "maxResults"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.uxc#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token for retrieving the next page of results. Use the <code>nextToken</code> value from a previous response.</p>",
                  "smithy.api#httpQuery" : "nextToken"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#ListServicesOutput" : {
         "members" : {
            "nextToken" : {
               "target" : "com.amazonaws.uxc#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The token for retrieving the next page of results. This value is <code>null</code> when no more results are available.</p>"
               }
            },
            "services" : {
               "target" : "com.amazonaws.uxc#ServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of available Amazon Web Services service identifiers.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#MaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 1000,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.uxc#NextToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 512,
               "min" : 32
            },
            "smithy.api#pattern" : "^[-A-Za-z0-9+/_]+=*$"
         },
         "type" : "string"
      },
      "com.amazonaws.uxc#Region" : {
         "traits" : {
            "smithy.api#pattern" : "^[a-z]{2}(-[a-z]{1,10}){1,2}-[1-9]$"
         },
         "type" : "string"
      },
      "com.amazonaws.uxc#RegionsList" : {
         "member" : {
            "target" : "com.amazonaws.uxc#Region"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 100
            }
         },
         "type" : "list"
      },
      "com.amazonaws.uxc#Service" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-z0-9]+(-[a-z0-9]+)*$"
         },
         "type" : "string"
      },
      "com.amazonaws.uxc#ServiceList" : {
         "member" : {
            "target" : "com.amazonaws.uxc#Service"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 500
            }
         },
         "type" : "list"
      },
      "com.amazonaws.uxc#ThrottlingException" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request was denied because of request throttling. Reduce the frequency of your requests.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#UpdateAccountCustomizations" : {
         "errors" : [
            {
               "target" : "com.amazonaws.uxc#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.uxc#InternalServerException"
            },
            {
               "target" : "com.amazonaws.uxc#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.uxc#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.uxc#UpdateAccountCustomizationsInput"
         },
         "output" : {
            "target" : "com.amazonaws.uxc#UpdateAccountCustomizationsOutput"
         },
         "traits" : {
            "aws.iam#iamAction" : {
               "documentation" : "Grants permission to update account customizations"
            },
            "smithy.api#documentation" : "<p>Updates one or more account customization settings. You can update account color, visible services, and visible Regions in a single request. Only the settings that you include in the request body are modified. Omitted settings remain unchanged. To reset a setting to its default behavior, set the value to <code>null</code> for visible Regions and visible services, or <code>none</code> for account color. This operation is idempotent.</p> <note> <p>The <code>visibleServices</code> and <code>visibleRegions</code> settings control only the appearance of services and Regions in the Amazon Web Services Management Console. They do not restrict access through the CLI, SDKs, or other APIs.</p> </note>",
            "smithy.api#http" : {
               "method" : "PATCH",
               "uri" : "/v1/account-customizations"
            },
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.uxc#UpdateAccountCustomizationsInput" : {
         "members" : {
            "accountColor" : {
               "target" : "com.amazonaws.uxc#AccountColor",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account color preference to set. Set to <code>none</code> to reset to the default (no color).</p>"
               }
            },
            "visibleRegions" : {
               "target" : "com.amazonaws.uxc#RegionsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of Amazon Web Services Region codes to make visible in the Amazon Web Services Management Console. Set to <code>null</code> to reset to the default, which makes all Regions visible. For a list of valid Region codes, see <a href=\"https://docs.aws.amazon.com/global-infrastructure/latest/regions/aws-regions.html\">Amazon Web Services Regions</a>.</p>"
               }
            },
            "visibleServices" : {
               "target" : "com.amazonaws.uxc#ServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of Amazon Web Services service identifiers to make visible in the Amazon Web Services Management Console. Set to <code>null</code> to reset to the default, which makes all services visible. For valid service identifiers, call <a href=\"https://docs.aws.amazon.com/awsconsolehelpdocs/latest/APIReference/API_ListServices.html\">ListServices</a>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#UpdateAccountCustomizationsOutput" : {
         "members" : {
            "accountColor" : {
               "target" : "com.amazonaws.uxc#AccountColor",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current account color preference after the update.</p>"
               }
            },
            "visibleRegions" : {
               "target" : "com.amazonaws.uxc#RegionsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current list of visible Region codes after the update.</p>"
               }
            },
            "visibleServices" : {
               "target" : "com.amazonaws.uxc#ServiceList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current list of visible service identifiers after the update.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#ValidationException" : {
         "members" : {
            "fieldList" : {
               "target" : "com.amazonaws.uxc#ValidationExceptionFieldList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of fields that are invalid.</p>"
               }
            },
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
            "smithy.api#error" : "client"
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#ValidationExceptionField" : {
         "members" : {
            "message" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A message describing the validation exception.</p>",
                  "smithy.api#required" : {}
               }
            },
            "path" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The field name with the validation exception.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Describes a validation exception for a specific field.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.uxc#ValidationExceptionFieldList" : {
         "member" : {
            "target" : "com.amazonaws.uxc#ValidationExceptionField"
         },
         "type" : "list"
      }
   },
   "smithy" : "2.0"
}
