{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.marketplacecatalog#ARN" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9:*/-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#AWSMPSeymour" : {
         "operations" : [
            {
               "target" : "com.amazonaws.marketplacecatalog#BatchDescribeEntities"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#CancelChangeSet"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#DeleteResourcePolicy"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#DescribeChangeSet"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#DescribeEntity"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#GetResourcePolicy"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ListChangeSets"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ListEntities"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#PutResourcePolicy"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#StartChangeSet"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#TagResource"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#UntagResource"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "aws-marketplace",
               "cloudFormationName" : "MarketplaceCatalog",
               "cloudTrailEventSource" : "marketplacecatalog.amazonaws.com",
               "endpointPrefix" : "catalog.marketplace",
               "sdkId" : "Marketplace Catalog"
            },
            "aws.auth#sigv4" : {
               "name" : "aws-marketplace"
            },
            "aws.protocols#restJson1" : {},
            "smithy.api#documentation" : "<p>Catalog API actions allow you to manage your entities through list, describe, and\n            update capabilities. An <i>entity</i> can be a product or an offer on AWS Marketplace. </p>\n         <p>You can automate your entity update process by integrating the AWS Marketplace Catalog\n            API with your AWS Marketplace product build or deployment pipelines. You can also create\n            your own applications on top of the Catalog API to manage your products on AWS\n            Marketplace.</p>",
            "smithy.api#title" : "AWS Marketplace Catalog Service",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "Region"
                                                },
                                                "us-east-1"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://catalog-marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://catalog.marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://catalog.marketplace-fips.{Region}.{PartitionResult#dnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://catalog.marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://catalog.marketplace.{Region}.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog-marketplace.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.eusc-de-east-1.amazonaws.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.eusc-de-east-1.amazonaws.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://catalog.marketplace.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2018-09-17"
      },
      "com.amazonaws.marketplacecatalog#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.marketplacecatalog#ExceptionMessageContent"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Access is denied.</p>\n         <p>HTTP status code: 403</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductEntityIdFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductEntityIdFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique entity id values to be filtered on.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on entity id of an AMI product.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductEntityIdFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#AmiProductEntityIdString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#AmiProductEntityIdString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#AmiProductFilters" : {
         "members" : {
            "EntityId" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductEntityIdFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier for the AMI product.</p>"
               }
            },
            "LastModifiedDate" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductLastModifiedDateFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last date on which the AMI product was modified.</p>"
               }
            },
            "ProductTitle" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductTitleFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The title of the AMI product.</p>"
               }
            },
            "Visibility" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductVisibilityFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The visibility of the AMI product.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object containing all the filter fields for AMI products. Client can add only one wildcard filter and a maximum of 8\n            filters in a single <code>ListEntities</code> request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductLastModifiedDateFilter" : {
         "members" : {
            "DateRange" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductLastModifiedDateFilterDateRange",
               "traits" : {
                  "smithy.api#documentation" : "<p>Dates between which the AMI product was last modified.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering based on the last modified date of AMI products.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductLastModifiedDateFilterDateRange" : {
         "members" : {
            "AfterValue" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date after which the AMI product was last modified.</p>"
               }
            },
            "BeforeValue" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date before which the AMI product was last modified.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that contains date range of the last modified date to be filtered on. You can optionally provide a <code>BeforeValue</code> and/or <code>AfterValue</code>. Both are inclusive.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductSort" : {
         "members" : {
            "SortBy" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductSortBy",
               "traits" : {
                  "smithy.api#documentation" : "<p>Field to sort the AMI products by.</p>"
               }
            },
            "SortOrder" : {
               "target" : "com.amazonaws.marketplacecatalog#SortOrder",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sorting order. Can be <code>ASCENDING</code> or <code>DESCENDING</code>. The default value is <code>DESCENDING</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Objects that allows sorting on AMI products based on certain fields and sorting order.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductSortBy" : {
         "members" : {
            "EntityId" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EntityId"
               }
            },
            "LastModifiedDate" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LastModifiedDate"
               }
            },
            "ProductTitle" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ProductTitle"
               }
            },
            "Visibility" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Visibility"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacecatalog#AmiProductSummary" : {
         "members" : {
            "ProductTitle" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductTitleString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The title of the AMI product.</p>"
               }
            },
            "Visibility" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductVisibilityString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The lifecycle of the AMI product.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that contains summarized information about an AMI product.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductTitleFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductTitleFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique product title values to be filtered on.</p>"
               }
            },
            "WildCardValue" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductTitleString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string that will be the <code>wildCard</code> input for product tile filter. It matches the provided value as a substring in the actual value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on product title.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductTitleFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#AmiProductTitleString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#AmiProductTitleString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^(.)+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#AmiProductVisibilityFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#AmiProductVisibilityFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique visibility values to be filtered on.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on the visibility of the product in the AWS Marketplace.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#AmiProductVisibilityFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#AmiProductVisibilityString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#AmiProductVisibilityString" : {
         "members" : {
            "Draft" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Draft"
               }
            },
            "Limited" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Limited"
               }
            },
            "Public" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Public"
               }
            },
            "Restricted" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Restricted"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacecatalog#BatchDescribeEntities" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacecatalog#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#InternalServiceException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacecatalog#BatchDescribeEntitiesRequest"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacecatalog#BatchDescribeEntitiesResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns metadata and content for multiple entities. This is the Batch version of the <code>DescribeEntity</code> API and uses the same IAM permission action as <code>DescribeEntity</code> API.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/BatchDescribeEntities"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacecatalog#BatchDescribeEntitiesRequest" : {
         "members" : {
            "EntityRequestList" : {
               "target" : "com.amazonaws.marketplacecatalog#EntityRequestList",
               "traits" : {
                  "smithy.api#documentation" : "<p>List of entity IDs and the catalogs the entities are present in.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#BatchDescribeEntitiesResponse" : {
         "members" : {
            "EntityDetails" : {
               "target" : "com.amazonaws.marketplacecatalog#EntityDetails",
               "traits" : {
                  "smithy.api#documentation" : "<p>Details about each entity.</p>"
               }
            },
            "Errors" : {
               "target" : "com.amazonaws.marketplacecatalog#Errors",
               "traits" : {
                  "smithy.api#documentation" : "<p>A map of errors returned, with <code>EntityId</code> as the key and\n                <code>errorDetail</code> as the value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#BatchDescribeErrorCodeString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 72,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z_]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#BatchDescribeErrorDetail" : {
         "members" : {
            "ErrorCode" : {
               "target" : "com.amazonaws.marketplacecatalog#BatchDescribeErrorCodeString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error code returned.</p>"
               }
            },
            "ErrorMessage" : {
               "target" : "com.amazonaws.marketplacecatalog#BatchDescribeErrorMessageContent",
               "traits" : {
                  "smithy.api#documentation" : "<p>The error message returned.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that contains an error code and error message.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#BatchDescribeErrorMessageContent" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^(.)+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#CancelChangeSet" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacecatalog#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#InternalServiceException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ResourceInUseException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacecatalog#CancelChangeSetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacecatalog#CancelChangeSetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Used to cancel an open change request. Must be sent before the status of the request\n            changes to <code>APPLYING</code>, the final stage of completing your change request. You\n            can describe a change during the 60-day request history retention period for API\n            calls.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PATCH",
               "uri" : "/CancelChangeSet"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacecatalog#CancelChangeSetRequest" : {
         "members" : {
            "Catalog" : {
               "target" : "com.amazonaws.marketplacecatalog#Catalog",
               "traits" : {
                  "smithy.api#documentation" : "<p>Required. The catalog related to the request. Fixed value:\n            <code>AWSMarketplace</code>.</p>",
                  "smithy.api#httpQuery" : "catalog",
                  "smithy.api#required" : {}
               }
            },
            "ChangeSetId" : {
               "target" : "com.amazonaws.marketplacecatalog#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you\n            want to cancel.</p>",
                  "smithy.api#httpQuery" : "changeSetId",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#CancelChangeSetResponse" : {
         "members" : {
            "ChangeSetArn" : {
               "target" : "com.amazonaws.marketplacecatalog#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN associated with the change set referenced in this request.</p>"
               }
            },
            "ChangeSetId" : {
               "target" : "com.amazonaws.marketplacecatalog#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for the change set referenced in this request.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#Catalog" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#Change" : {
         "members" : {
            "ChangeName" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional name for the change.</p>"
               }
            },
            "ChangeType" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Change types are single string values that describe your intention for the change.\n            Each change type is unique for each <code>EntityType</code> provided in the change's\n            scope. For more information about change types available for single-AMI products, see\n                <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/ami-products.html#working-with-single-AMI-products\">Working with single-AMI products</a>. Also, for more information about change\n            types available for container-based products, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/container-products.html#working-with-container-products\">Working with container products</a>.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Details" : {
               "target" : "com.amazonaws.marketplacecatalog#Json",
               "traits" : {
                  "smithy.api#documentation" : "<p>This object contains details specific to the change type of the requested change. For\n            more information about change types available for single-AMI products, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/ami-products.html#working-with-single-AMI-products\">Working with single-AMI products</a>. Also, for more information about change\n            types available for container-based products, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/container-products.html#working-with-container-products\">Working with container products</a>.</p>"
               }
            },
            "DetailsDocument" : {
               "target" : "com.amazonaws.marketplacecatalog#JsonDocumentType",
               "traits" : {
                  "smithy.api#documentation" : "<p>Alternative field that accepts a JSON value instead of a string for\n                <code>ChangeType</code> details. You can use either <code>Details</code> or\n                <code>DetailsDocument</code>, but not both.</p>\n         <p>To download the \"DetailsDocument\" shapes, see the <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-python\">Python</a> \n            and <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-java/tree/main\">Java</a> shapes on GitHub.</p>"
               }
            },
            "Entity" : {
               "target" : "com.amazonaws.marketplacecatalog#Entity",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity to be changed.</p>",
                  "smithy.api#required" : {}
               }
            },
            "EntityTags" : {
               "target" : "com.amazonaws.marketplacecatalog#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The tags associated with the change.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An object that contains the <code>ChangeType</code>, <code>Details</code>, and\n                <code>Entity</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ChangeName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 72,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z]$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#ChangeSetDescription" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#ChangeSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#ChangeSetName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            },
            "smithy.api#pattern" : "^[\\w\\s+=.:@-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#ChangeSetSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#ChangeSetSummaryListItem"
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#ChangeSetSummaryListItem" : {
         "members" : {
            "ChangeSetArn" : {
               "target" : "com.amazonaws.marketplacecatalog#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN associated with the unique identifier for the change set referenced in this\n            request.</p>"
               }
            },
            "ChangeSetId" : {
               "target" : "com.amazonaws.marketplacecatalog#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The unique identifier for a change set.</p>"
               }
            },
            "ChangeSetName" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeSetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The non-unique name for the change set.</p>"
               }
            },
            "EndTime" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was\n            finished.</p>"
               }
            },
            "EntityIdList" : {
               "target" : "com.amazonaws.marketplacecatalog#ResourceIdList",
               "traits" : {
                  "smithy.api#documentation" : "<p>This object is a list of entity IDs (string) that are a part of a change set. The\n            entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>"
               }
            },
            "FailureCode" : {
               "target" : "com.amazonaws.marketplacecatalog#FailureCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returned if the change set is in <code>FAILED</code> status. Can be either\n                <code>CLIENT_ERROR</code>, which means that there are issues with the request (see\n            the <code>ErrorDetailList</code> of <code>DescribeChangeSet</code>), or\n                <code>SERVER_FAULT</code>, which means that there is a problem in the system, and\n            you should retry your request.</p>"
               }
            },
            "StartTime" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was\n            started.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the change set.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A summary of a change set returned in a list of change sets when the\n                <code>ListChangeSets</code> action is called.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ChangeStatus" : {
         "members" : {
            "APPLYING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "APPLYING"
               }
            },
            "CANCELLED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CANCELLED"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "PREPARING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PREPARING"
               }
            },
            "SUCCEEDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SUCCEEDED"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacecatalog#ChangeSummary" : {
         "members" : {
            "ChangeName" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeName",
               "traits" : {
                  "smithy.api#documentation" : "<p>Optional name for the change.</p>"
               }
            },
            "ChangeType" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of the change.</p>"
               }
            },
            "Details" : {
               "target" : "com.amazonaws.marketplacecatalog#Json",
               "traits" : {
                  "smithy.api#documentation" : "<p>This object contains details specific to the change type of the requested\n            change.</p>"
               }
            },
            "DetailsDocument" : {
               "target" : "com.amazonaws.marketplacecatalog#JsonDocumentType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The JSON value of the details specific to the change type of the requested change.</p>\n         <p>To download the \"DetailsDocument\" shapes, see the <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-python\">Python</a> \n            and <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-java/tree/main\">Java</a> shapes on GitHub.</p>"
               }
            },
            "Entity" : {
               "target" : "com.amazonaws.marketplacecatalog#Entity",
               "traits" : {
                  "smithy.api#documentation" : "<p>The entity to be changed.</p>"
               }
            },
            "ErrorDetailList" : {
               "target" : "com.amazonaws.marketplacecatalog#ErrorDetailList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of <code>ErrorDetail</code> objects associated with the change.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>This object is a container for common summary information about the change. The\n            summary doesn't contain the whole change structure.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ChangeType" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^[A-Z][\\w]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#ClientRequestToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^[!-~]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductEntityIdFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductEntityIdFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique entity id values to be filtered on.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on entity id of a container product.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductEntityIdFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#ContainerProductEntityIdString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductEntityIdString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductFilters" : {
         "members" : {
            "EntityId" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductEntityIdFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier for the container product.</p>"
               }
            },
            "LastModifiedDate" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductLastModifiedDateFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last date on which the container product was modified.</p>"
               }
            },
            "ProductTitle" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductTitleFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The title of the container product.</p>"
               }
            },
            "Visibility" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductVisibilityFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The visibility of the container product.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object containing all the filter fields for container products. Client can add only one wildcard filter and a maximum of 8 filters in a single <code>ListEntities</code> request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductLastModifiedDateFilter" : {
         "members" : {
            "DateRange" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductLastModifiedDateFilterDateRange",
               "traits" : {
                  "smithy.api#documentation" : "<p>Dates between which the container product was last modified.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering based on the last modified date of container products.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductLastModifiedDateFilterDateRange" : {
         "members" : {
            "AfterValue" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date after which the container product was last modified.</p>"
               }
            },
            "BeforeValue" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date before which the container product was last modified.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that contains date range of the last modified date to be filtered on. You can optionally provide a <code>BeforeValue</code> and/or <code>AfterValue</code>. Both are inclusive.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductSort" : {
         "members" : {
            "SortBy" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductSortBy",
               "traits" : {
                  "smithy.api#documentation" : "<p>Field to sort the container products by.</p>"
               }
            },
            "SortOrder" : {
               "target" : "com.amazonaws.marketplacecatalog#SortOrder",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sorting order. Can be <code>ASCENDING</code> or <code>DESCENDING</code>. The default value is <code>DESCENDING</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Objects that allows sorting on container products based on certain fields and sorting order.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductSortBy" : {
         "members" : {
            "CompatibleAWSServices" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CompatibleAWSServices"
               }
            },
            "EntityId" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EntityId"
               }
            },
            "LastModifiedDate" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LastModifiedDate"
               }
            },
            "ProductTitle" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ProductTitle"
               }
            },
            "Visibility" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Visibility"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductSummary" : {
         "members" : {
            "ProductTitle" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductTitleString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The title of the container product.</p>"
               }
            },
            "Visibility" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductVisibilityString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The lifecycle of the product.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that contains summarized information about a container product.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductTitleFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductTitleFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique product title values to be filtered on.</p>"
               }
            },
            "WildCardValue" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductTitleString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string that will be the <code>wildCard</code> input for product tile filter. It matches the provided value as a substring in the actual value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on product title.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductTitleFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#ContainerProductTitleString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductTitleString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^(.)+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductVisibilityFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#ContainerProductVisibilityFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique visibility values to be filtered on.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on the visibility of the product in the AWS Marketplace.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductVisibilityFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#ContainerProductVisibilityString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#ContainerProductVisibilityString" : {
         "members" : {
            "Draft" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Draft"
               }
            },
            "Limited" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Limited"
               }
            },
            "Public" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Public"
               }
            },
            "Restricted" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Restricted"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacecatalog#DataProductEntityIdFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductEntityIdFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique entity id values to be filtered on.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on entity id of a data product.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DataProductEntityIdFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#DataProductEntityIdString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#DataProductEntityIdString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#DataProductFilters" : {
         "members" : {
            "EntityId" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductEntityIdFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>Unique identifier for the data product.</p>"
               }
            },
            "LastModifiedDate" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductLastModifiedDateFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The last date on which the data product was modified.</p>"
               }
            },
            "ProductTitle" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductTitleFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The title of the data product.</p>"
               }
            },
            "Visibility" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductVisibilityFilter",
               "traits" : {
                  "smithy.api#documentation" : "<p>The visibility of the data product.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object containing all the filter fields for data products. Client can add only one wildcard filter and a maximum of 8 filters in a single <code>ListEntities</code> request.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DataProductLastModifiedDateFilter" : {
         "members" : {
            "DateRange" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductLastModifiedDateFilterDateRange",
               "traits" : {
                  "smithy.api#documentation" : "<p>Dates between which the data product was last modified.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering based on the last modified date of data products.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DataProductLastModifiedDateFilterDateRange" : {
         "members" : {
            "AfterValue" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date after which the data product was last modified.</p>"
               }
            },
            "BeforeValue" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>Date before which the data product was last modified.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that contains date range of the last modified date to be filtered on. You can optionally provide a <code>BeforeValue</code> and/or <code>AfterValue</code>. Both are inclusive.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DataProductSort" : {
         "members" : {
            "SortBy" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductSortBy",
               "traits" : {
                  "smithy.api#documentation" : "<p>Field to sort the data products by.</p>"
               }
            },
            "SortOrder" : {
               "target" : "com.amazonaws.marketplacecatalog#SortOrder",
               "traits" : {
                  "smithy.api#documentation" : "<p>The sorting order. Can be <code>ASCENDING</code> or <code>DESCENDING</code>. The default value is <code>DESCENDING</code>.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Objects that allows sorting on data products based on certain fields and sorting order.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DataProductSortBy" : {
         "members" : {
            "EntityId" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "EntityId"
               }
            },
            "LastModifiedDate" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LastModifiedDate"
               }
            },
            "ProductTitle" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ProductTitle"
               }
            },
            "Visibility" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Visibility"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacecatalog#DataProductSummary" : {
         "members" : {
            "ProductTitle" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductTitleString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The title of the data product.</p>"
               }
            },
            "Visibility" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductVisibilityString",
               "traits" : {
                  "smithy.api#documentation" : "<p>The lifecycle of the data product.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that contains summarized information about a data product.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DataProductTitleFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductTitleFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique product title values to be filtered on.</p>"
               }
            },
            "WildCardValue" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductTitleString",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string that will be the <code>wildCard</code> input for product tile filter. It matches the provided value as a substring in the actual value.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on product title.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DataProductTitleFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#DataProductTitleString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#DataProductTitleString" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 255,
               "min" : 1
            },
            "smithy.api#pattern" : "^(.)+$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#DataProductVisibilityFilter" : {
         "members" : {
            "ValueList" : {
               "target" : "com.amazonaws.marketplacecatalog#DataProductVisibilityFilterValueList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A string array of unique visibility values to be filtered on.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Object that allows filtering on the visibility of the product in the AWS Marketplace.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DataProductVisibilityFilterValueList" : {
         "member" : {
            "target" : "com.amazonaws.marketplacecatalog#DataProductVisibilityString"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.marketplacecatalog#DataProductVisibilityString" : {
         "members" : {
            "Draft" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Draft"
               }
            },
            "Limited" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Limited"
               }
            },
            "Public" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Public"
               }
            },
            "Restricted" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Restricted"
               }
            },
            "Unavailable" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "Unavailable"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.marketplacecatalog#DateTimeISO8601" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 20,
               "min" : 20
            },
            "smithy.api#pattern" : "^([\\d]{4})\\-(1[0-2]|0[1-9])\\-(3[01]|0[1-9]|[12][\\d])T(2[0-3]|[01][\\d]):([0-5][\\d]):([0-5][\\d])Z$"
         },
         "type" : "string"
      },
      "com.amazonaws.marketplacecatalog#DeleteResourcePolicy" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacecatalog#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#InternalServiceException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacecatalog#DeleteResourcePolicyRequest"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacecatalog#DeleteResourcePolicyResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a resource-based policy on an entity that is identified by its resource\n            ARN.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/DeleteResourcePolicy"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacecatalog#DeleteResourcePolicyRequest" : {
         "members" : {
            "ResourceArn" : {
               "target" : "com.amazonaws.marketplacecatalog#ResourceARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the entity resource that is associated with the\n            resource policy.</p>",
                  "smithy.api#httpQuery" : "resourceArn",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DeleteResourcePolicyResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DescribeChangeSet" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacecatalog#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#InternalServiceException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacecatalog#DescribeChangeSetRequest"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacecatalog#DescribeChangeSetResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Provides information about a given change set.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/DescribeChangeSet"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.marketplacecatalog#DescribeChangeSetRequest" : {
         "members" : {
            "Catalog" : {
               "target" : "com.amazonaws.marketplacecatalog#Catalog",
               "traits" : {
                  "smithy.api#documentation" : "<p>Required. The catalog related to the request. Fixed value:\n            <code>AWSMarketplace</code>\n         </p>",
                  "smithy.api#httpQuery" : "catalog",
                  "smithy.api#required" : {}
               }
            },
            "ChangeSetId" : {
               "target" : "com.amazonaws.marketplacecatalog#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Required. The unique identifier for the <code>StartChangeSet</code> request that you\n            want to describe the details for.</p>",
                  "smithy.api#httpQuery" : "changeSetId",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DescribeChangeSetResponse" : {
         "members" : {
            "ChangeSet" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeSetDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of <code>ChangeSummary</code> objects.</p>"
               }
            },
            "ChangeSetArn" : {
               "target" : "com.amazonaws.marketplacecatalog#ARN",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ARN associated with the unique identifier for the change set referenced in this\n            request.</p>"
               }
            },
            "ChangeSetId" : {
               "target" : "com.amazonaws.marketplacecatalog#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p>Required. The unique identifier for the change set referenced in this request.</p>"
               }
            },
            "ChangeSetName" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeSetName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The optional name provided in the <code>StartChangeSet</code> request. If you do not\n            provide a name, one is set by default.</p>"
               }
            },
            "EndTime" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time, in ISO 8601 format (2018-02-27T13:45:22Z), the request transitioned\n            to a terminal state. The change cannot transition to a different state. Null if the\n            request is not in a terminal state. </p>"
               }
            },
            "FailureCode" : {
               "target" : "com.amazonaws.marketplacecatalog#FailureCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returned if the change set is in <code>FAILED</code> status. Can be either\n                <code>CLIENT_ERROR</code>, which means that there are issues with the request (see\n            the <code>ErrorDetailList</code>), or <code>SERVER_FAULT</code>, which means that there\n            is a problem in the system, and you should retry your request.</p>"
               }
            },
            "FailureDescription" : {
               "target" : "com.amazonaws.marketplacecatalog#ExceptionMessageContent",
               "traits" : {
                  "smithy.api#documentation" : "<p>Returned if there is a failure on the change set, but that failure is not related to\n            any of the changes in the request.</p>"
               }
            },
            "Intent" : {
               "target" : "com.amazonaws.marketplacecatalog#Intent",
               "traits" : {
                  "smithy.api#documentation" : "<p>The optional intent provided in the <code>StartChangeSet</code> request. If you do not\n            provide an intent, <code>APPLY</code> is set by default.</p>"
               }
            },
            "StartTime" : {
               "target" : "com.amazonaws.marketplacecatalog#DateTimeISO8601",
               "traits" : {
                  "smithy.api#documentation" : "<p>The date and time, in ISO 8601 format (2018-02-27T13:45:22Z), the request started.\n        </p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.marketplacecatalog#ChangeStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The status of the change request.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.marketplacecatalog#DescribeEntity" : {
         "errors" : [
            {
               "target" : "com.amazonaws.marketplacecatalog#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#InternalServiceException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ResourceNotSupportedException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.marketplacecatalog#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.marketplacecatalog#DescribeEntityRequest"
         },
         "output" : {
            "target" : "com.amazonaws.marketplacecatalog#DescribeEntityResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the metadata and content of the entity.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/DescribeEntity"
            }
         },
         "type" : "operation"
      },
[...]
