{
   "shapes" : {
      "com.amazonaws.billing#AWSBilling" : {
         "operations" : [
            {
               "target" : "com.amazonaws.billing#AssociateSourceViews"
            },
            {
               "target" : "com.amazonaws.billing#CreateBillingView"
            },
            {
               "target" : "com.amazonaws.billing#DeleteBillingView"
            },
            {
               "target" : "com.amazonaws.billing#DisassociateSourceViews"
            },
            {
               "target" : "com.amazonaws.billing#GetBillingPreferences"
            },
            {
               "target" : "com.amazonaws.billing#GetBillingView"
            },
            {
               "target" : "com.amazonaws.billing#GetCreditAllocationHistory"
            },
            {
               "target" : "com.amazonaws.billing#GetCredits"
            },
            {
               "target" : "com.amazonaws.billing#GetEnterpriseSupportChargeSummary"
            },
            {
               "target" : "com.amazonaws.billing#GetEnterpriseSupportContractDetails"
            },
            {
               "target" : "com.amazonaws.billing#GetResourcePolicy"
            },
            {
               "target" : "com.amazonaws.billing#ListBillingViews"
            },
            {
               "target" : "com.amazonaws.billing#ListEnterpriseSupportLinkedAccountCharges"
            },
            {
               "target" : "com.amazonaws.billing#ListSourceViewsForBillingView"
            },
            {
               "target" : "com.amazonaws.billing#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.billing#RedeemCredits"
            },
            {
               "target" : "com.amazonaws.billing#TagResource"
            },
            {
               "target" : "com.amazonaws.billing#UntagResource"
            },
            {
               "target" : "com.amazonaws.billing#UpdateBillingPreferences"
            },
            {
               "target" : "com.amazonaws.billing#UpdateBillingView"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "billing",
               "cloudTrailEventSource" : "billing.amazonaws.com",
               "endpointPrefix" : "billing",
               "sdkId" : "Billing"
            },
            "aws.auth#sigv4" : {
               "name" : "billing"
            },
            "aws.endpoints#standardPartitionalEndpoints" : {
               "endpointPatternType" : "service_region_dnsSuffix",
               "partitionEndpointSpecialCases" : {
                  "aws" : [
                     {
                        "dualStack" : true,
                        "endpoint" : "https://billing.us-east-1.api.aws",
                        "region" : "us-east-1"
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://billing.us-east-1.api.aws",
                        "region" : "us-east-1"
                     }
                  ]
               }
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<p> You can use the Billing API to programatically list the billing views available to you for a given time period. A billing view represents a set of billing data. </p> <p>The Billing API provides the following endpoint:</p> <p> <code>https://billing.us-east-1.api.aws</code> </p>",
            "smithy.api#title" : "AWS Billing",
            "smithy.rules#endpointBdd" : {
               "conditions" : [
                  {
                     "argv" : [
                        {
                           "ref" : "Endpoint"
                        }
                     ],
                     "fn" : "isSet"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "Region"
                        }
                     ],
                     "fn" : "isSet"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "Region"
                        }
                     ],
                     "assign" : "PartitionResult",
                     "fn" : "aws.partition"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "UseFIPS"
                        },
                        true
                     ],
                     "fn" : "booleanEquals"
                  },
                  {
                     "argv" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "PartitionResult"
                              },
                              "name"
                           ],
                           "fn" : "getAttr"
                        },
                        "aws"
                     ],
                     "fn" : "stringEquals"
                  },
                  {
                     "argv" : [
                        {
                           "ref" : "UseDualStack"
                        },
                        true
                     ],
                     "fn" : "booleanEquals"
                  },
                  {
                     "argv" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "PartitionResult"
                              },
                              "supportsDualStack"
                           ],
                           "fn" : "getAttr"
                        },
                        true
                     ],
                     "fn" : "booleanEquals"
                  },
                  {
                     "argv" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "PartitionResult"
                              },
                              "supportsFIPS"
                           ],
                           "fn" : "getAttr"
                        },
                        true
                     ],
                     "fn" : "booleanEquals"
                  }
               ],
               "nodeCount" : 14,
               "nodes" : "/////wAAAAH/////AAAAAAAAAA0AAAADAAAAAQAAAAQF9eEMAAAAAgAAAAUF9eEMAAAAAwAAAAkAAAAGAAAABAX14QQAAAAHAAAABQAAAAgF9eELAAAABgX14QkF9eEKAAAABQAAAAsAAAAKAAAABwX14QcF9eEIAAAABgAAAAwF9eEGAAAABwX14QUF9eEGAAAAAwX14QEAAAAOAAAABQX14QIF9eED",
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "results" : [
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {},
                        "url" : {
                           "ref" : "Endpoint"
                        }
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "authSchemes" : [
                              {
                                 "name" : "sigv4",
                                 "signingRegion" : "us-east-1"
                              }
                           ]
                        },
                        "url" : "https://billing.us-east-1.api.aws"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "authSchemes" : [
                              {
                                 "name" : "sigv4",
                                 "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                              }
                           ]
                        },
                        "url" : "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "authSchemes" : [
                              {
                                 "name" : "sigv4",
                                 "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                              }
                           ]
                        },
                        "url" : "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "error" : "FIPS is enabled but this partition does not support FIPS",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "authSchemes" : [
                              {
                                 "name" : "sigv4",
                                 "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                              }
                           ]
                        },
                        "url" : "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "error" : "DualStack is enabled but this partition does not support DualStack",
                     "type" : "error"
                  },
                  {
                     "conditions" : [],
                     "endpoint" : {
                        "headers" : {},
                        "properties" : {
                           "authSchemes" : [
                              {
                                 "name" : "sigv4",
                                 "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                              }
                           ]
                        },
                        "url" : "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                     },
                     "type" : "endpoint"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "root" : 2,
               "version" : "1.1"
            },
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://billing.us-east-1.api.aws"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://billing.us-east-1.api.aws"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                }
                                             ]
                                          },
                                          "url" : "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eusc-de-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.eusc-de-east-1.amazonaws.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eusc-de-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.eusc-de-east-1.amazonaws.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-iso-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-iso-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isob-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isob-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eu-isoe-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eu-isoe-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isof-south-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isof-south-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2023-09-07"
      },
      "com.amazonaws.billing#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.billing#ErrorMessage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "BillingAccessDenied",
               "httpResponseCode" : 403
            },
            "smithy.api#documentation" : "<p>You don't have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#AccountId" : {
         "traits" : {
            "smithy.api#pattern" : "^[0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#AccountName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.billing#ActiveTimeRange" : {
         "members" : {
            "activeAfterInclusive" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The inclusive time range start date.</p>",
                  "smithy.api#required" : {}
               }
            },
            "activeBeforeInclusive" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The inclusive time range end date. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A time range with a start and end time.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#AdditionalCharge" : {
         "members" : {
            "amount" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The charge amount.</p>"
               }
            },
            "chargeType" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of additional charge.</p>"
               }
            },
            "description" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description of the additional charge.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An additional charge applied to an Enterprise Support contract.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#AdditionalChargeList" : {
         "member" : {
            "target" : "com.amazonaws.billing#AdditionalCharge"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A list of additional charges.</p>",
            "smithy.api#length" : {
               "max" : 50
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#Amount" : {
         "members" : {
            "currencyAmount" : {
               "target" : "com.amazonaws.billing#CurrencyAmount",
               "traits" : {
                  "smithy.api#documentation" : "<p>The amount as a decimal string (for example, <code>\"743.21\"</code>). Negative values represent credits that reduce a bill.</p>",
                  "smithy.api#required" : {}
               }
            },
            "currencyCode" : {
               "target" : "com.amazonaws.billing#CurrencyCode",
               "traits" : {
                  "smithy.api#documentation" : "<p>The ISO 4217 currency code for the amount (for example, <code>USD</code>).</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A monetary amount with a currency code. Used throughout the Billing API to represent credit balances, allocations, and adjustments.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ApplicationType" : {
         "members" : {
            "AFTER_DISCOUNTS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AFTER_DISCOUNTS"
               }
            },
            "BEFORE_CROSS_SERVICE_DISCOUNTS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BEFORE_CROSS_SERVICE_DISCOUNTS"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#AssociateSourceViews" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#BillingViewHealthStatusException"
            },
            {
               "target" : "com.amazonaws.billing#ConflictException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#AssociateSourceViewsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#AssociateSourceViewsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Associates one or more source billing views with an existing billing view. This allows creating aggregate billing views that combine data from multiple sources. </p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#AssociateSourceViewsRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) of the billing view to associate source views with. </p>",
                  "smithy.api#required" : {}
               }
            },
            "sourceViews" : {
               "target" : "com.amazonaws.billing#BillingViewSourceViewsList",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of ARNs of the source billing views to associate. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#AssociateSourceViewsResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ARN of the billing view that the source views were associated with. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingFeature" : {
         "members" : {
            "BILLING_ALERTS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BILLING_ALERTS"
               }
            },
            "CREDIT_LEVEL_SHARING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREDIT_LEVEL_SHARING"
               }
            },
            "CREDIT_PREFERENCE_OPTIONS" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREDIT_PREFERENCE_OPTIONS"
               }
            },
            "CREDIT_SHARING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREDIT_SHARING"
               }
            },
            "CREDIT_SHARING_HISTORY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREDIT_SHARING_HISTORY"
               }
            },
            "RI_SHARING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RI_SHARING"
               }
            },
            "RI_SHARING_HISTORY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "RI_SHARING_HISTORY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#BillingFeatureFilter" : {
         "members" : {
            "name" : {
               "target" : "com.amazonaws.billing#BillingFeatureFilterName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter name. Currently the only supported value is <code>PREFERENCE_KEY</code>.</p>"
               }
            },
            "value" : {
               "target" : "com.amazonaws.billing#BillingFeatureFilterValues",
               "traits" : {
                  "smithy.api#documentation" : "<p>The filter values to match. For <code>PREFERENCE_KEY</code>, supply 1 to 10 preference key values to match.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A filter that narrows the set of preferences returned by <code>GetBillingPreferences</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingFeatureFilterName" : {
         "members" : {
            "PREFERENCE_KEY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PREFERENCE_KEY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#BillingFeatureFilterValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9-/]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#BillingFeatureFilterValues" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingFeatureFilterValue"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingFeatureFilters" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingFeatureFilter"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 1,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingFeatures" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingFeature"
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingMonth" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 7,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.billing#BillingPeriod" : {
         "members" : {
            "month" : {
               "target" : "com.amazonaws.billing#Month",
               "traits" : {
                  "smithy.api#documentation" : "<p>The month of the billing period as an integer between 1 and 12.</p>",
                  "smithy.api#required" : {}
               }
            },
            "year" : {
               "target" : "com.amazonaws.billing#BillingYear",
               "traits" : {
                  "smithy.api#documentation" : "<p>The four-digit year of the billing period.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A specific billing period identified by year and month.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingPreferenceForKey" : {
         "members" : {
            "key" : {
               "target" : "com.amazonaws.billing#PreferenceKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The preference key. Format depends on the feature being updated.</p>",
                  "smithy.api#required" : {}
               }
            },
            "value" : {
               "target" : "com.amazonaws.billing#PreferenceValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The preference value. Valid values: <code>ENABLED</code> or <code>DISABLED</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A single key/value entry used to update a billing preference.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingPreferenceSummary" : {
         "members" : {
            "accountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The associated Amazon Web Services account ID. Populated for account-list keys; <code>null</code> otherwise.</p>"
               }
            },
            "accountName" : {
               "target" : "com.amazonaws.billing#AccountName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The display name of the account. Populated together with <code>accountId</code>; <code>null</code> otherwise.</p>"
               }
            },
            "billingPeriod" : {
               "target" : "com.amazonaws.billing#BillingPeriod",
               "traits" : {
                  "smithy.api#documentation" : "<p>The billing period associated with the preference change. Populated only for the history features <code>RI_SHARING_HISTORY</code> and <code>CREDIT_SHARING_HISTORY</code>.</p>"
               }
            },
            "feature" : {
               "target" : "com.amazonaws.billing#BillingFeature",
               "traits" : {
                  "smithy.api#documentation" : "<p>The feature this preference belongs to.</p>",
                  "smithy.api#required" : {}
               }
            },
            "key" : {
               "target" : "com.amazonaws.billing#PreferenceKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The preference key. Format depends on the feature.</p>",
                  "smithy.api#required" : {}
               }
            },
            "value" : {
               "target" : "com.amazonaws.billing#PreferenceValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The preference value. Valid values: <code>ENABLED</code> or <code>DISABLED</code>.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A single billing preference entry returned by <code>GetBillingPreferences</code>.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingPreferences" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingPreferenceSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingPreferencesPerKey" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingPreferenceForKey"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewArn" : {
         "traits" : {
            "smithy.api#pattern" : "^arn:aws[a-z-]*:(billing)::[0-9]{12}:billingview/[a-zA-Z0-9/:_\\+=\\.\\-@]{0,75}[a-zA-Z0-9]$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#BillingViewArnList" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewArn"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewDescription" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 0
            },
            "smithy.api#pattern" : "^([ a-zA-Z0-9_\\+=\\.\\-@]+)?$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.billing#BillingViewElement" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>"
               }
            },
            "billingViewType" : {
               "target" : "com.amazonaws.billing#BillingViewType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of billing group. </p>"
               }
            },
            "createdAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the billing view was created. </p>"
               }
            },
            "dataFilterExpression" : {
               "target" : "com.amazonaws.billing#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p> See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_billing_Expression.html\">Expression</a>. Billing view only supports <code>LINKED_ACCOUNT</code>, <code>Tags</code>, and <code>CostCategories</code>. </p>"
               }
            },
            "derivedViewCount" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of billing views that use this billing view as a source. </p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.billing#BillingViewDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p> The description of the billing view. </p>"
               }
            },
            "healthStatus" : {
               "target" : "com.amazonaws.billing#BillingViewHealthStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The current health status of the billing view. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.billing#BillingViewName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The account name of the billing view. </p>"
               }
            },
            "ownerAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account owner of the billing view. </p>"
               }
            },
            "sourceAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Web Services account ID that owns the source billing view, if this is a derived billing view. </p>"
               }
            },
            "sourceViewCount" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of source views associated with this billing view. </p>"
               }
            },
            "updatedAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the billing view was last updated. </p>"
               }
            },
            "viewDefinitionLastUpdatedAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The timestamp of when the billing view definition was last updated. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The metadata associated to the billing view. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewHealthStatus" : {
         "members" : {
            "statusCode" : {
               "target" : "com.amazonaws.billing#BillingViewStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current health status code of the billing view.</p>"
               }
            },
            "statusReasons" : {
               "target" : "com.amazonaws.billing#BillingViewStatusReasons",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of reasons explaining the current health status, if applicable.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Represents the health status of a billing view, including a status code and optional reasons for the status. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewHealthStatusException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.billing#ErrorMessage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Exception thrown when a billing view's health status prevents an operation from being performed. This may occur if the billing view is in a state other than <code>HEALTHY</code>.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewList" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewListElement"
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewListElement" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>"
               }
            },
            "billingViewType" : {
               "target" : "com.amazonaws.billing#BillingViewType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of billing view.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.billing#BillingViewDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p> The description of the billing view. </p>"
               }
            },
            "healthStatus" : {
               "target" : "com.amazonaws.billing#BillingViewHealthStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The current health status of the billing view. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.billing#BillingViewName",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of names of the Billing view. </p>"
               }
            },
            "ownerAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The list of owners of the Billing view. </p>"
               }
            },
            "sourceAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Web Services account ID that owns the source billing view, if this is a derived billing view. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A representation of a billing view.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[ a-zA-Z0-9_\\+=\\.\\-@]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.billing#BillingViewSourceViewsList" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewArn"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewStatus" : {
         "members" : {
            "CREATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "HEALTHY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HEALTHY"
               }
            },
            "UNHEALTHY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNHEALTHY"
               }
            },
            "UPDATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UPDATING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#BillingViewStatusReason" : {
         "members" : {
            "AGGREGATE_SOURCE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AGGREGATE_SOURCE"
               }
            },
            "CYCLIC_DEPENDENCY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CYCLIC_DEPENDENCY"
               }
            },
            "SOURCE_VIEW_ACCESS_DENIED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_ACCESS_DENIED"
               }
            },
            "SOURCE_VIEW_DEPTH_EXCEEDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_DEPTH_EXCEEDED"
               }
            },
            "SOURCE_VIEW_NOT_FOUND" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_NOT_FOUND"
               }
            },
            "SOURCE_VIEW_UNHEALTHY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_UNHEALTHY"
               }
            },
            "SOURCE_VIEW_UPDATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_UPDATING"
               }
            },
            "VIEW_OWNER_NOT_MANAGEMENT_ACCOUNT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VIEW_OWNER_NOT_MANAGEMENT_ACCOUNT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#BillingViewStatusReasons" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewStatusReason"
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewType" : {
         "members" : {
            "BILLING_GROUP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BILLING_GROUP"
               }
            },
            "BILLING_TRANSFER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BILLING_TRANSFER"
               }
            },
            "BILLING_TRANSFER_SHOWBACK" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BILLING_TRANSFER_SHOWBACK"
               }
            },
            "CUSTOM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CUSTOM"
               }
            },
            "PRIMARY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PRIMARY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#BillingViewTypeList" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewType"
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewsMaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.billing#BillingYear" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 2120,
               "min" : 2005
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.billing#ChargeAccount" : {
         "members" : {
            "accountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account ID.</p>",
                  "smithy.api#required" : {}
               }
            },
            "chargePercentage" : {
               "target" : "smithy.api#String",
               "traits" : {
                  "smithy.api#documentation" : "<p>The percentage of the total Support charge allocated to this account. This is 0.0 when supportAllocationMethod = Proportional.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An account that is charged all or a portion of the total Support charge and the percentage of the charge allocated to it.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ChargeAccountList" : {
         "member" : {
            "target" : "com.amazonaws.billing#ChargeAccount"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A list of charge accounts.</p>",
            "smithy.api#length" : {
               "max" : 1000
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#ClientToken" : {
         "traits" : {
            "smithy.api#pattern" : "^[a-zA-Z0-9-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.billing#ErrorMessage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "resourceId" : {
               "target" : "com.amazonaws.billing#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The identifier for the service resource associated with the request. </p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceType" : {
               "target" : "com.amazonaws.billing#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p> The type of resource associated with the request. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "BillingConflict",
               "httpResponseCode" : 409
            },
            "smithy.api#documentation" : "<p> The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ContractAccount" : {
         "members" : {
            "accountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account ID.</p>",
                  "smithy.api#required" : {}
               }
            },
            "isGdn" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#documentation" : "<p>When true, Support charges are calculated on charges before private discounts. When false, they are calculated after private discounts.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An account that is covered by the Enterprise Support contract.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ContractAccountList" : {
         "member" : {
            "target" : "com.amazonaws.billing#ContractAccount"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A list of accounts that appear in the Enterprise Support Contract.</p>",
            "smithy.api#length" : {
               "max" : 2000
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#CostCategoryName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#CostCategoryValues" : {
         "members" : {
            "key" : {
               "target" : "com.amazonaws.billing#CostCategoryName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The unique name of the Cost Category. </p>",
                  "smithy.api#required" : {}
               }
            },
            "values" : {
               "target" : "com.amazonaws.billing#Values",
               "traits" : {
                  "smithy.api#documentation" : "<p> The specific value of the Cost Category. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The Cost Categories values used for filtering the costs. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#CreateBillingView" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#BillingViewHealthStatusException"
            },
            {
               "target" : "com.amazonaws.billing#ConflictException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#CreateBillingViewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#CreateBillingViewResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Creates a billing view with the specified billing view attributes. </p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#CreateBillingViewRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.billing#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier you specify to ensure idempotency of the request. Idempotency ensures that an API request completes no more than one time. If the original request completes successfully, any subsequent retries complete successfully without performing any further actions with an idempotent request. </p>",
                  "smithy.api#httpHeader" : "X-Amzn-Client-Token",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "dataFilterExpression" : {
               "target" : "com.amazonaws.billing#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p> See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_billing_Expression.html\">Expression</a>. Billing view only supports <code>LINKED_ACCOUNT</code>, <code>Tags</code>, and <code>CostCategories</code>. </p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.billing#BillingViewDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p> The description of the billing view. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.billing#BillingViewName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name of the billing view. </p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceTags" : {
               "target" : "com.amazonaws.billing#ResourceTagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of key value map specifying tags associated to the billing view being created. </p>"
[...]
