{
   "shapes" : {
      "com.amazonaws.billing#AWSBilling" : {
         "operations" : [
            {
               "target" : "com.amazonaws.billing#AssociateSourceViews"
            },
            {
               "target" : "com.amazonaws.billing#CreateBillingView"
            },
            {
               "target" : "com.amazonaws.billing#DeleteBillingView"
            },
            {
               "target" : "com.amazonaws.billing#DisassociateSourceViews"
            },
            {
               "target" : "com.amazonaws.billing#GetBillingView"
            },
            {
               "target" : "com.amazonaws.billing#GetResourcePolicy"
            },
            {
               "target" : "com.amazonaws.billing#ListBillingViews"
            },
            {
               "target" : "com.amazonaws.billing#ListSourceViewsForBillingView"
            },
            {
               "target" : "com.amazonaws.billing#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.billing#TagResource"
            },
            {
               "target" : "com.amazonaws.billing#UntagResource"
            },
            {
               "target" : "com.amazonaws.billing#UpdateBillingView"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "billing",
               "cloudTrailEventSource" : "billing.amazonaws.com",
               "endpointPrefix" : "billing",
               "sdkId" : "Billing"
            },
            "aws.auth#sigv4" : {
               "name" : "billing"
            },
            "aws.endpoints#standardPartitionalEndpoints" : {
               "endpointPatternType" : "service_region_dnsSuffix",
               "partitionEndpointSpecialCases" : {
                  "aws" : [
                     {
                        "dualStack" : true,
                        "endpoint" : "https://billing.us-east-1.api.aws",
                        "region" : "us-east-1"
                     },
                     {
                        "dualStack" : false,
                        "endpoint" : "https://billing.us-east-1.api.aws",
                        "region" : "us-east-1"
                     }
                  ]
               }
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<p> You can use the Billing API to programatically list the billing views available to you for a given time period. A billing view represents a set of billing data. </p> <p>The Billing API provides the following endpoint:</p> <p> <code>https://billing.us-east-1.api.aws</code> </p>",
            "smithy.api#title" : "AWS Billing",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseDualStack" : {
                     "builtIn" : "AWS::UseDualStack",
                     "default" : false,
                     "documentation" : "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                     "required" : true,
                     "type" : "boolean"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseDualStack"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                 "type" : "error"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : {
                                       "ref" : "Endpoint"
                                    }
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "fn" : "isSet"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "Region"
                                          }
                                       ],
                                       "assign" : "PartitionResult",
                                       "fn" : "aws.partition"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://billing.us-east-1.api.aws"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "name"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                "aws"
                                             ],
                                             "fn" : "stringEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "us-east-1"
                                                }
                                             ]
                                          },
                                          "url" : "https://billing.us-east-1.api.aws"
                                       },
                                       "type" : "endpoint"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                },
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS and DualStack are enabled, but this partition does not support one or both",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                false
                                             ],
                                             "fn" : "booleanEquals"
                                          },
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseDualStack"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      true,
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsDualStack"
                                                         ],
                                                         "fn" : "getAttr"
                                                      }
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {
                                                         "authSchemes" : [
                                                            {
                                                               "name" : "sigv4",
                                                               "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                            }
                                                         ]
                                                      },
                                                      "url" : "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "DualStack is enabled but this partition does not support DualStack",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {
                                             "authSchemes" : [
                                                {
                                                   "name" : "sigv4",
                                                   "signingRegion" : "{PartitionResult#implicitGlobalRegion}"
                                                }
                                             ]
                                          },
                                          "url" : "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              }
                           ],
                           "type" : "tree"
                        },
                        {
                           "conditions" : [],
                           "error" : "Invalid Configuration: Missing Region",
                           "type" : "error"
                        }
                     ],
                     "type" : "tree"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips disabled and dualstack enabled",
                     "expect" : {
                        "error" : "Invalid Configuration: Dualstack and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-east-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.cn-northwest-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "cn-northwest-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.cn-northwest-1.amazonaws.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-northwest-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eusc-de-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.eusc-de-east-1.amazonaws.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eusc-de-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.eusc-de-east-1.amazonaws.eu"
                        }
                     },
                     "params" : {
                        "Region" : "eusc-de-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-iso-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-iso-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-iso-east-1.c2s.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-iso-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isob-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isob-east-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-isob-east-1.sc2s.sgov.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isob-east-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eu-isoe-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "eu-isoe-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.eu-isoe-west-1.cloud.adc-e.uk"
                        }
                     },
                     "params" : {
                        "Region" : "eu-isoe-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isof-south-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-isof-south-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-isof-south-1.csp.hci.ic.gov"
                        }
                     },
                     "params" : {
                        "Region" : "us-isof-south-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing-fips.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-gov-west-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : true,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
                     "expect" : {
                        "endpoint" : {
                           "properties" : {
                              "authSchemes" : [
                                 {
                                    "name" : "sigv4",
                                    "signingRegion" : "us-gov-west-1"
                                 }
                              ]
                           },
                           "url" : "https://billing.us-gov-west-1.amazonaws.com"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-west-1",
                        "UseDualStack" : false,
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2023-09-07"
      },
      "com.amazonaws.billing#AccessDeniedException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.billing#ErrorMessage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "BillingAccessDenied",
               "httpResponseCode" : 403
            },
            "smithy.api#documentation" : "<p>You don't have sufficient access to perform this action.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#AccountId" : {
         "traits" : {
            "smithy.api#pattern" : "^[0-9]{12}$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#ActiveTimeRange" : {
         "members" : {
            "activeAfterInclusive" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The inclusive time range start date.</p>",
                  "smithy.api#required" : {}
               }
            },
            "activeBeforeInclusive" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The inclusive time range end date. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A time range with a start and end time.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#AssociateSourceViews" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#BillingViewHealthStatusException"
            },
            {
               "target" : "com.amazonaws.billing#ConflictException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#AssociateSourceViewsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#AssociateSourceViewsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Associates one or more source billing views with an existing billing view. This allows creating aggregate billing views that combine data from multiple sources. </p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#AssociateSourceViewsRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) of the billing view to associate source views with. </p>",
                  "smithy.api#required" : {}
               }
            },
            "sourceViews" : {
               "target" : "com.amazonaws.billing#BillingViewSourceViewsList",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of ARNs of the source billing views to associate. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#AssociateSourceViewsResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ARN of the billing view that the source views were associated with. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewArn" : {
         "traits" : {
            "smithy.api#pattern" : "^arn:aws[a-z-]*:(billing)::[0-9]{12}:billingview/[a-zA-Z0-9/:_\\+=\\.\\-@]{0,75}[a-zA-Z0-9]$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#BillingViewArnList" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewArn"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewDescription" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 0
            },
            "smithy.api#pattern" : "^([ a-zA-Z0-9_\\+=\\.\\-@]+)?$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.billing#BillingViewElement" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>"
               }
            },
            "billingViewType" : {
               "target" : "com.amazonaws.billing#BillingViewType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of billing group. </p>"
               }
            },
            "createdAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the billing view was created. </p>"
               }
            },
            "dataFilterExpression" : {
               "target" : "com.amazonaws.billing#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p> See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_billing_Expression.html\">Expression</a>. Billing view only supports <code>LINKED_ACCOUNT</code>, <code>Tags</code>, and <code>CostCategories</code>. </p>"
               }
            },
            "derivedViewCount" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of billing views that use this billing view as a source. </p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.billing#BillingViewDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p> The description of the billing view. </p>"
               }
            },
            "healthStatus" : {
               "target" : "com.amazonaws.billing#BillingViewHealthStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The current health status of the billing view. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.billing#BillingViewName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The account name of the billing view. </p>"
               }
            },
            "ownerAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The account owner of the billing view. </p>"
               }
            },
            "sourceAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Web Services account ID that owns the source billing view, if this is a derived billing view. </p>"
               }
            },
            "sourceViewCount" : {
               "target" : "smithy.api#Integer",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of source views associated with this billing view. </p>"
               }
            },
            "updatedAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The time when the billing view was last updated. </p>"
               }
            },
            "viewDefinitionLastUpdatedAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The timestamp of when the billing view definition was last updated. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The metadata associated to the billing view. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewHealthStatus" : {
         "members" : {
            "statusCode" : {
               "target" : "com.amazonaws.billing#BillingViewStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current health status code of the billing view.</p>"
               }
            },
            "statusReasons" : {
               "target" : "com.amazonaws.billing#BillingViewStatusReasons",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of reasons explaining the current health status, if applicable.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Represents the health status of a billing view, including a status code and optional reasons for the status. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewHealthStatusException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.billing#ErrorMessage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Exception thrown when a billing view's health status prevents an operation from being performed. This may occur if the billing view is in a state other than <code>HEALTHY</code>.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewList" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewListElement"
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewListElement" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>"
               }
            },
            "billingViewType" : {
               "target" : "com.amazonaws.billing#BillingViewType",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of billing view.</p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.billing#BillingViewDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p> The description of the billing view. </p>"
               }
            },
            "healthStatus" : {
               "target" : "com.amazonaws.billing#BillingViewHealthStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p> The current health status of the billing view. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.billing#BillingViewName",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of names of the Billing view. </p>"
               }
            },
            "ownerAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The list of owners of the Billing view. </p>"
               }
            },
            "sourceAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Web Services account ID that owns the source billing view, if this is a derived billing view. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A representation of a billing view.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#BillingViewName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            },
            "smithy.api#pattern" : "^[ a-zA-Z0-9_\\+=\\.\\-@]+$",
            "smithy.api#sensitive" : {}
         },
         "type" : "string"
      },
      "com.amazonaws.billing#BillingViewSourceViewsList" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewArn"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 10,
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewStatus" : {
         "members" : {
            "CREATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "HEALTHY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "HEALTHY"
               }
            },
            "UNHEALTHY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UNHEALTHY"
               }
            },
            "UPDATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UPDATING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#BillingViewStatusReason" : {
         "members" : {
            "AGGREGATE_SOURCE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "AGGREGATE_SOURCE"
               }
            },
            "CYCLIC_DEPENDENCY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CYCLIC_DEPENDENCY"
               }
            },
            "SOURCE_VIEW_ACCESS_DENIED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_ACCESS_DENIED"
               }
            },
            "SOURCE_VIEW_DEPTH_EXCEEDED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_DEPTH_EXCEEDED"
               }
            },
            "SOURCE_VIEW_NOT_FOUND" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_NOT_FOUND"
               }
            },
            "SOURCE_VIEW_UNHEALTHY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_UNHEALTHY"
               }
            },
            "SOURCE_VIEW_UPDATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "SOURCE_VIEW_UPDATING"
               }
            },
            "VIEW_OWNER_NOT_MANAGEMENT_ACCOUNT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "VIEW_OWNER_NOT_MANAGEMENT_ACCOUNT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#BillingViewStatusReasons" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewStatusReason"
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewType" : {
         "members" : {
            "BILLING_GROUP" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BILLING_GROUP"
               }
            },
            "BILLING_TRANSFER" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BILLING_TRANSFER"
               }
            },
            "BILLING_TRANSFER_SHOWBACK" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "BILLING_TRANSFER_SHOWBACK"
               }
            },
            "CUSTOM" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CUSTOM"
               }
            },
            "PRIMARY" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "PRIMARY"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#BillingViewTypeList" : {
         "member" : {
            "target" : "com.amazonaws.billing#BillingViewType"
         },
         "type" : "list"
      },
      "com.amazonaws.billing#BillingViewsMaxResults" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 100,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.billing#ClientToken" : {
         "traits" : {
            "smithy.api#pattern" : "^[a-zA-Z0-9-]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#ConflictException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.billing#ErrorMessage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            },
            "resourceId" : {
               "target" : "com.amazonaws.billing#ResourceId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The identifier for the service resource associated with the request. </p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceType" : {
               "target" : "com.amazonaws.billing#ResourceType",
               "traits" : {
                  "smithy.api#documentation" : "<p> The type of resource associated with the request. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "BillingConflict",
               "httpResponseCode" : 409
            },
            "smithy.api#documentation" : "<p> The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#CostCategoryName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 50,
               "min" : 1
            },
            "smithy.api#pattern" : "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
         },
         "type" : "string"
      },
      "com.amazonaws.billing#CostCategoryValues" : {
         "members" : {
            "key" : {
               "target" : "com.amazonaws.billing#CostCategoryName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The unique name of the Cost Category. </p>",
                  "smithy.api#required" : {}
               }
            },
            "values" : {
               "target" : "com.amazonaws.billing#Values",
               "traits" : {
                  "smithy.api#documentation" : "<p> The specific value of the Cost Category. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The Cost Categories values used for filtering the costs. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#CreateBillingView" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#BillingViewHealthStatusException"
            },
            {
               "target" : "com.amazonaws.billing#ConflictException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#CreateBillingViewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#CreateBillingViewResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Creates a billing view with the specified billing view attributes. </p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#CreateBillingViewRequest" : {
         "members" : {
            "clientToken" : {
               "target" : "com.amazonaws.billing#ClientToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>A unique, case-sensitive identifier you specify to ensure idempotency of the request. Idempotency ensures that an API request completes no more than one time. If the original request completes successfully, any subsequent retries complete successfully without performing any further actions with an idempotent request. </p>",
                  "smithy.api#httpHeader" : "X-Amzn-Client-Token",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "dataFilterExpression" : {
               "target" : "com.amazonaws.billing#Expression",
               "traits" : {
                  "smithy.api#documentation" : "<p> See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_billing_Expression.html\">Expression</a>. Billing view only supports <code>LINKED_ACCOUNT</code>, <code>Tags</code>, and <code>CostCategories</code>. </p>"
               }
            },
            "description" : {
               "target" : "com.amazonaws.billing#BillingViewDescription",
               "traits" : {
                  "smithy.api#documentation" : "<p> The description of the billing view. </p>"
               }
            },
            "name" : {
               "target" : "com.amazonaws.billing#BillingViewName",
               "traits" : {
                  "smithy.api#documentation" : "<p> The name of the billing view. </p>",
                  "smithy.api#required" : {}
               }
            },
            "resourceTags" : {
               "target" : "com.amazonaws.billing#ResourceTagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of key value map specifying tags associated to the billing view being created. </p>"
               }
            },
            "sourceViews" : {
               "target" : "com.amazonaws.billing#BillingViewSourceViewsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of billing views used as the data source for the custom billing view.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#CreateBillingViewResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
                  "smithy.api#required" : {}
               }
            },
            "createdAt" : {
               "target" : "smithy.api#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p> The time when the billing view was created. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#DeleteBillingView" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#ConflictException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#DeleteBillingViewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#DeleteBillingViewResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes the specified billing view.</p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#DeleteBillingViewRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
                  "smithy.api#required" : {}
               }
            },
            "force" : {
               "target" : "smithy.api#Boolean",
               "traits" : {
                  "smithy.api#default" : false,
                  "smithy.api#documentation" : "<p> If set to true, forces deletion of the billing view even if it has derived resources (e.g. other billing views or budgets). Use with caution as this may break dependent resources. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#DeleteBillingViewResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#Dimension" : {
         "members" : {
            "LINKED_ACCOUNT" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "LINKED_ACCOUNT"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.billing#DimensionValues" : {
         "members" : {
            "key" : {
               "target" : "com.amazonaws.billing#Dimension",
               "traits" : {
                  "smithy.api#documentation" : "<p> The names of the metadata types that you can use to filter and group your results. </p>",
                  "smithy.api#required" : {}
               }
            },
            "values" : {
               "target" : "com.amazonaws.billing#Values",
               "traits" : {
                  "smithy.api#documentation" : "<p> The metadata values that you can use to filter and group your results. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> The metadata that you can use to filter and group your results. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#DisassociateSourceViews" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#BillingViewHealthStatusException"
            },
            {
               "target" : "com.amazonaws.billing#ConflictException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#DisassociateSourceViewsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#DisassociateSourceViewsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p> Removes the association between one or more source billing views and an existing billing view. This allows modifying the composition of aggregate billing views. </p>",
            "smithy.api#idempotent" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#DisassociateSourceViewsRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) of the billing view to disassociate source views from. </p>",
                  "smithy.api#required" : {}
               }
            },
            "sourceViews" : {
               "target" : "com.amazonaws.billing#BillingViewSourceViewsList",
               "traits" : {
                  "smithy.api#documentation" : "<p> A list of ARNs of the source billing views to disassociate. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#DisassociateSourceViewsResponse" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The ARN of the billing view that the source views were disassociated from. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ErrorMessage" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024
            }
         },
         "type" : "string"
      },
      "com.amazonaws.billing#Expression" : {
         "members" : {
            "costCategories" : {
               "target" : "com.amazonaws.billing#CostCategoryValues",
               "traits" : {
                  "smithy.api#documentation" : "<p> The filter that's based on <code>CostCategory</code> values. </p>"
               }
            },
            "dimensions" : {
               "target" : "com.amazonaws.billing#DimensionValues",
               "traits" : {
                  "smithy.api#documentation" : "<p> The specific <code>Dimension</code> to use for <code>Expression</code>. </p>"
               }
            },
            "tags" : {
               "target" : "com.amazonaws.billing#TagValues",
               "traits" : {
                  "smithy.api#documentation" : "<p> The specific <code>Tag</code> to use for <code>Expression</code>. </p>"
               }
            },
            "timeRange" : {
               "target" : "com.amazonaws.billing#TimeRange",
               "traits" : {
                  "smithy.api#documentation" : "<p> Specifies a time range filter for the billing view data. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p> See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_billing_Expression.html\">Expression</a>. Billing view only supports <code>LINKED_ACCOUNT</code>, <code>Tags</code>, and <code>CostCategories</code>. </p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#FieldName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 100
            }
         },
         "type" : "string"
      },
      "com.amazonaws.billing#GetBillingView" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#GetBillingViewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#GetBillingViewResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the metadata associated to the specified billing view ARN. </p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#GetBillingViewRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#GetBillingViewResponse" : {
         "members" : {
            "billingView" : {
               "target" : "com.amazonaws.billing#BillingViewElement",
               "traits" : {
                  "smithy.api#documentation" : "<p>The billing view element associated with the specified ARN. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#GetResourcePolicy" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#GetResourcePolicyRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#GetResourcePolicyResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Returns the resource-based policy document attached to the resource in <code>JSON</code> format. </p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#GetResourcePolicyRequest" : {
         "members" : {
            "resourceArn" : {
               "target" : "com.amazonaws.billing#ResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the billing view resource to which the policy is attached to. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#GetResourcePolicyResponse" : {
         "members" : {
            "policy" : {
               "target" : "com.amazonaws.billing#PolicyDocument",
               "traits" : {
                  "smithy.api#documentation" : "<p>The resource-based policy document attached to the resource in <code>JSON</code> format. </p>"
               }
            },
            "resourceArn" : {
               "target" : "com.amazonaws.billing#ResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the billing view resource to which the policy is attached to. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#InternalServerException" : {
         "members" : {
            "message" : {
               "target" : "com.amazonaws.billing#ErrorMessage",
               "traits" : {
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "aws.protocols#awsQueryError" : {
               "code" : "BillingInternalServer",
               "httpResponseCode" : 500
            },
            "smithy.api#documentation" : "<p>The request processing failed because of an unknown error, exception, or failure. </p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ListBillingViews" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#ListBillingViewsRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#ListBillingViewsResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the billing views available for a given time period. </p> <p>Every Amazon Web Services account has a unique <code>PRIMARY</code> billing view that represents the billing data available by default. Accounts that use Billing Conductor also have <code>BILLING_GROUP</code> billing views representing pro forma costs associated with each created billing group.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/"
            },
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "billingViews",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            },
            "smithy.api#readonly" : {},
            "smithy.test#smokeTests" : [
               {
                  "expect" : {
                     "success" : {}
                  },
                  "id" : "ListBillingViewsSuccess",
                  "params" : {
                     "activeTimeRange" : {
                        "activeAfterInclusive" : 1719792000,
                        "activeBeforeInclusive" : 1722470399.999
                     }
                  },
                  "vendorParams" : {
                     "region" : "us-east-1"
                  },
                  "vendorParamsShape" : "aws.test#AwsVendorParams"
               }
            ]
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#ListBillingViewsRequest" : {
         "members" : {
            "activeTimeRange" : {
               "target" : "com.amazonaws.billing#ActiveTimeRange",
               "traits" : {
                  "smithy.api#documentation" : "<p> The time range for the billing views listed. <code>PRIMARY</code> billing view is always listed. <code>BILLING_GROUP</code> billing views are listed for time ranges when the associated billing group resource in Billing Conductor is active. The time range must be within one calendar month. </p>"
               }
            },
            "arns" : {
               "target" : "com.amazonaws.billing#BillingViewArnList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>"
               }
            },
            "billingViewTypes" : {
               "target" : "com.amazonaws.billing#BillingViewTypeList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The type of billing view.</p>"
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.billing#BillingViewsMaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of billing views to retrieve. Default is 100. </p>"
               }
            },
            "names" : {
               "target" : "com.amazonaws.billing#StringSearches",
               "traits" : {
                  "smithy.api#documentation" : "<p> Filters the list of billing views by name. You can specify search criteria to match billing view names based on the search option provided. </p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.billing#PageToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token that is used on subsequent calls to list billing views.</p>"
               }
            },
            "ownerAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> The list of owners of the billing view. </p>"
               }
            },
            "sourceAccountId" : {
               "target" : "com.amazonaws.billing#AccountId",
               "traits" : {
                  "smithy.api#documentation" : "<p> Filters the results to include only billing views that use the specified account as a source. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ListBillingViewsResponse" : {
         "members" : {
            "billingViews" : {
               "target" : "com.amazonaws.billing#BillingViewList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of <code>BillingViewListElement</code> retrieved.</p>",
                  "smithy.api#required" : {}
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.billing#PageToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>The pagination token to use on subsequent calls to list billing views. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ListSourceViewsForBillingView" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#ListSourceViewsForBillingViewRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#ListSourceViewsForBillingViewResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists the source views (managed Amazon Web Services billing views) associated with the billing view. </p>",
            "smithy.api#paginated" : {
               "inputToken" : "nextToken",
               "items" : "sourceViews",
               "outputToken" : "nextToken",
               "pageSize" : "maxResults"
            },
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#ListSourceViewsForBillingViewRequest" : {
         "members" : {
            "arn" : {
               "target" : "com.amazonaws.billing#BillingViewArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
                  "smithy.api#required" : {}
               }
            },
            "maxResults" : {
               "target" : "com.amazonaws.billing#BillingViewsMaxResults",
               "traits" : {
                  "smithy.api#documentation" : "<p> The number of entries a paginated response contains. </p>"
               }
            },
            "nextToken" : {
               "target" : "com.amazonaws.billing#PageToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> The pagination token that is used on subsequent calls to list billing views. </p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ListSourceViewsForBillingViewResponse" : {
         "members" : {
            "nextToken" : {
               "target" : "com.amazonaws.billing#PageToken",
               "traits" : {
                  "smithy.api#documentation" : "<p> The pagination token that is used on subsequent calls to list billing views. </p>"
               }
            },
            "sourceViews" : {
               "target" : "com.amazonaws.billing#BillingViewSourceViewsList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of billing views used as the data source for the custom billing view. </p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.billing#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.billing#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.billing#InternalServerException"
            },
            {
               "target" : "com.amazonaws.billing#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.billing#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.billing#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.billing#ListTagsForResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.billing#ListTagsForResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists tags associated with the billing view resource. </p>",
            "smithy.api#readonly" : {}
         },
         "type" : "operation"
      },
      "com.amazonaws.billing#ListTagsForResourceRequest" : {
         "members" : {
            "resourceArn" : {
               "target" : "com.amazonaws.billing#ResourceArn",
               "traits" : {
                  "smithy.api#documentation" : "<p> The Amazon Resource Name (ARN) of the resource. </p>",
[...]
