{
   "metadata" : {
      "suppressions" : [
         {
            "id" : "HttpMethodSemantics",
            "namespace" : "*"
         },
         {
            "id" : "HttpResponseCodeSemantics",
            "namespace" : "*"
         },
         {
            "id" : "PaginatedTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpHeaderTrait",
            "namespace" : "*"
         },
         {
            "id" : "HttpUriConflict",
            "namespace" : "*"
         },
         {
            "id" : "Service",
            "namespace" : "*"
         }
      ]
   },
   "shapes" : {
      "com.amazonaws.kendraranking#AWSKendraRerankingFrontendService" : {
         "operations" : [
            {
               "target" : "com.amazonaws.kendraranking#CreateRescoreExecutionPlan"
            },
            {
               "target" : "com.amazonaws.kendraranking#DeleteRescoreExecutionPlan"
            },
            {
               "target" : "com.amazonaws.kendraranking#DescribeRescoreExecutionPlan"
            },
            {
               "target" : "com.amazonaws.kendraranking#ListRescoreExecutionPlans"
            },
            {
               "target" : "com.amazonaws.kendraranking#ListTagsForResource"
            },
            {
               "target" : "com.amazonaws.kendraranking#Rescore"
            },
            {
               "target" : "com.amazonaws.kendraranking#TagResource"
            },
            {
               "target" : "com.amazonaws.kendraranking#UntagResource"
            },
            {
               "target" : "com.amazonaws.kendraranking#UpdateRescoreExecutionPlan"
            }
         ],
         "traits" : {
            "aws.api#service" : {
               "arnNamespace" : "kendra-ranking",
               "cloudFormationName" : "KendraRanking",
               "cloudTrailEventSource" : "kendraranking.amazonaws.com",
               "endpointPrefix" : "kendra-ranking",
               "sdkId" : "Kendra Ranking"
            },
            "aws.auth#sigv4" : {
               "name" : "kendra-ranking"
            },
            "aws.protocols#awsJson1_0" : {},
            "smithy.api#documentation" : "<p>Amazon Kendra Intelligent Ranking uses Amazon Kendra \n            semantic search capabilities to intelligently re-rank a search \n            service's results.</p>",
            "smithy.api#title" : "Amazon Kendra Intelligent Ranking",
            "smithy.rules#endpointRuleSet" : {
               "parameters" : {
                  "Endpoint" : {
                     "builtIn" : "SDK::Endpoint",
                     "documentation" : "Override the endpoint used to send this request",
                     "required" : false,
                     "type" : "string"
                  },
                  "Region" : {
                     "builtIn" : "AWS::Region",
                     "documentation" : "The AWS region used to dispatch the request.",
                     "required" : false,
                     "type" : "string"
                  },
                  "UseFIPS" : {
                     "builtIn" : "AWS::UseFIPS",
                     "default" : false,
                     "documentation" : "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                     "required" : true,
                     "type" : "boolean"
                  }
               },
               "rules" : [
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Endpoint"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "UseFIPS"
                                    },
                                    true
                                 ],
                                 "fn" : "booleanEquals"
                              }
                           ],
                           "error" : "Invalid Configuration: FIPS and custom endpoint are not supported",
                           "type" : "error"
                        },
                        {
                           "conditions" : [],
                           "endpoint" : {
                              "headers" : {},
                              "properties" : {},
                              "url" : {
                                 "ref" : "Endpoint"
                              }
                           },
                           "type" : "endpoint"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [
                        {
                           "argv" : [
                              {
                                 "ref" : "Region"
                              }
                           ],
                           "fn" : "isSet"
                        }
                     ],
                     "rules" : [
                        {
                           "conditions" : [
                              {
                                 "argv" : [
                                    {
                                       "ref" : "Region"
                                    }
                                 ],
                                 "assign" : "PartitionResult",
                                 "fn" : "aws.partition"
                              }
                           ],
                           "rules" : [
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          true,
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "PartitionResult"
                                                },
                                                "supportsDualStack"
                                             ],
                                             "fn" : "getAttr"
                                          }
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "ref" : "UseFIPS"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "argv" : [
                                                            {
                                                               "ref" : "PartitionResult"
                                                            },
                                                            "supportsFIPS"
                                                         ],
                                                         "fn" : "getAttr"
                                                      },
                                                      true
                                                   ],
                                                   "fn" : "booleanEquals"
                                                }
                                             ],
                                             "rules" : [
                                                {
                                                   "conditions" : [],
                                                   "endpoint" : {
                                                      "headers" : {},
                                                      "properties" : {},
                                                      "url" : "https://kendra-ranking-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                                   },
                                                   "type" : "endpoint"
                                                }
                                             ],
                                             "type" : "tree"
                                          },
                                          {
                                             "conditions" : [],
                                             "error" : "FIPS is enabled but this partition does not support FIPS",
                                             "type" : "error"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "endpoint" : {
                                          "headers" : {},
                                          "properties" : {},
                                          "url" : "https://kendra-ranking.{Region}.{PartitionResult#dualStackDnsSuffix}"
                                       },
                                       "type" : "endpoint"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [
                                    {
                                       "argv" : [
                                          {
                                             "ref" : "UseFIPS"
                                          },
                                          true
                                       ],
                                       "fn" : "booleanEquals"
                                    }
                                 ],
                                 "rules" : [
                                    {
                                       "conditions" : [
                                          {
                                             "argv" : [
                                                {
                                                   "argv" : [
                                                      {
                                                         "ref" : "PartitionResult"
                                                      },
                                                      "supportsFIPS"
                                                   ],
                                                   "fn" : "getAttr"
                                                },
                                                true
                                             ],
                                             "fn" : "booleanEquals"
                                          }
                                       ],
                                       "rules" : [
                                          {
                                             "conditions" : [],
                                             "endpoint" : {
                                                "headers" : {},
                                                "properties" : {},
                                                "url" : "https://kendra-ranking-fips.{Region}.{PartitionResult#dnsSuffix}"
                                             },
                                             "type" : "endpoint"
                                          }
                                       ],
                                       "type" : "tree"
                                    },
                                    {
                                       "conditions" : [],
                                       "error" : "FIPS is enabled but this partition does not support FIPS",
                                       "type" : "error"
                                    }
                                 ],
                                 "type" : "tree"
                              },
                              {
                                 "conditions" : [],
                                 "endpoint" : {
                                    "headers" : {},
                                    "properties" : {},
                                    "url" : "https://kendra-ranking.{Region}.{PartitionResult#dnsSuffix}"
                                 },
                                 "type" : "endpoint"
                              }
                           ],
                           "type" : "tree"
                        }
                     ],
                     "type" : "tree"
                  },
                  {
                     "conditions" : [],
                     "error" : "Invalid Configuration: Missing Region",
                     "type" : "error"
                  }
               ],
               "version" : "1.0"
            },
            "smithy.rules#endpointTests" : {
               "testCases" : [
                  {
                     "documentation" : "For region us-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-ranking-fips.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-ranking.us-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-ranking-fips.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region cn-north-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-ranking.cn-north-1.api.amazonwebservices.com.cn"
                        }
                     },
                     "params" : {
                        "Region" : "cn-north-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-ranking-fips.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://kendra-ranking.us-gov-east-1.api.aws"
                        }
                     },
                     "params" : {
                        "Region" : "us-gov-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with region not set and fips disabled and dualstack disabled",
                     "expect" : {
                        "endpoint" : {
                           "url" : "https://example.com"
                        }
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "UseFIPS" : false
                     }
                  },
                  {
                     "documentation" : "For custom endpoint with fips enabled and dualstack disabled",
                     "expect" : {
                        "error" : "Invalid Configuration: FIPS and custom endpoint are not supported"
                     },
                     "params" : {
                        "Endpoint" : "https://example.com",
                        "Region" : "us-east-1",
                        "UseFIPS" : true
                     }
                  },
                  {
                     "documentation" : "Missing region",
                     "expect" : {
                        "error" : "Invalid Configuration: Missing Region"
                     }
                  }
               ],
               "version" : "1.0"
            }
         },
         "type" : "service",
         "version" : "2022-10-19"
      },
      "com.amazonaws.kendraranking#AccessDeniedException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You don’t have sufficient access to perform this action. \n            Please ensure you have the required permission policies \n            and user accounts and try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 403
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#AmazonResourceName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1011,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#BodyTokensList" : {
         "member" : {
            "target" : "com.amazonaws.kendraranking#Tokens"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendraranking#CapacityUnitsConfiguration" : {
         "members" : {
            "RescoreCapacityUnits" : {
               "target" : "com.amazonaws.kendraranking#RescoreCapacityUnit",
               "traits" : {
                  "smithy.api#documentation" : "<p>The amount of extra capacity for your rescore execution \n            plan.</p>\n         <p>A single extra capacity unit for a rescore execution \n            plan provides 0.01 rescore requests per second. You can add \n            up to 1000 extra capacity units.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Sets additional capacity units configured for your \n            rescore execution plan. A rescore execution plan is an \n            Amazon Kendra Intelligent Ranking resource used for \n            provisioning the <code>Rescore</code> API. You can add and \n            remove capacity units to fit your usage requirements.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#ClientTokenName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 64,
               "min" : 1
            },
            "smithy.api#pattern" : "^$|[\\x00-\\x7F]+$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#ConflictException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A conflict occurred with the request. Please fix any \n            inconsistencies with your resources and try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 409
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#CreateRescoreExecutionPlan" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ConflictException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#CreateRescoreExecutionPlanRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendraranking#CreateRescoreExecutionPlanResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Creates a rescore execution plan. A rescore execution \n            plan is an Amazon Kendra Intelligent Ranking resource \n            used for provisioning the <code>Rescore</code> API. You set \n            the number of capacity units that you require for \n            Amazon Kendra Intelligent Ranking to rescore or re-rank \n            a search service's results.</p>\n         <p>For an example of using the \n            <code>CreateRescoreExecutionPlan</code> API, including using \n            the Python and Java SDKs, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/search-service-rerank.html\">Semantically \n                ranking a search service's results</a>.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/rescore-execution-plans"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#CreateRescoreExecutionPlanRequest" : {
         "members" : {
            "CapacityUnits" : {
               "target" : "com.amazonaws.kendraranking#CapacityUnitsConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can set additional capacity units to meet the \n            needs of your rescore execution plan. You are given a single \n            capacity unit by default. If you want to use the default \n            capacity, you don't set additional capacity units. For more \n            information on the default capacity and additional capacity \n            units, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/adjusting-capacity.html\">Adjusting \n                capacity</a>.</p>"
               }
            },
            "ClientToken" : {
               "target" : "com.amazonaws.kendraranking#ClientTokenName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A token that you provide to identify the request to create \n            a rescore execution plan. Multiple calls to the \n            <code>CreateRescoreExecutionPlanRequest</code> API with the \n            same client token will create only one rescore execution plan.</p>",
                  "smithy.api#idempotencyToken" : {}
               }
            },
            "Description" : {
               "target" : "com.amazonaws.kendraranking#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>A description for the rescore execution plan.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A name for the rescore execution plan.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.kendraranking#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of key-value pairs that identify or categorize your \n            rescore execution plan. You can also use tags to help control \n            access to the rescore execution plan. Tag keys and values can \n            consist of Unicode letters, digits, white space, and any of \n            the following symbols: _ . : / = + - @.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#CreateRescoreExecutionPlanResponse" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the rescore \n            execution plan.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Id" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the rescore execution plan.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#DeleteRescoreExecutionPlan" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ConflictException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#DeleteRescoreExecutionPlanRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Deletes a rescore execution plan. A rescore execution \n            plan is an Amazon Kendra Intelligent Ranking resource \n            used for provisioning the <code>Rescore</code> API.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "DELETE",
               "uri" : "/rescore-execution-plans/{Id}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#DeleteRescoreExecutionPlanRequest" : {
         "members" : {
            "Id" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the rescore execution plan that you \n            want to delete.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#DescribeRescoreExecutionPlan" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#DescribeRescoreExecutionPlanRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendraranking#DescribeRescoreExecutionPlanResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets information about a rescore execution plan. A rescore \n            execution plan is an Amazon Kendra Intelligent Ranking \n            resource used for provisioning the <code>Rescore</code> API.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/rescore-execution-plans/{Id}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#DescribeRescoreExecutionPlanRequest" : {
         "members" : {
            "Id" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the rescore execution plan that you want \n            to get information on.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#DescribeRescoreExecutionPlanResponse" : {
         "members" : {
            "Arn" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanArn",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the rescore execution \n            plan.</p>"
               }
            },
            "CapacityUnits" : {
               "target" : "com.amazonaws.kendraranking#CapacityUnitsConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>The capacity units set for the rescore execution plan. \n            A capacity of zero indicates that the rescore execution \n            plan is using the default capacity. For more information on the \n            default capacity and additional capacity units, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/adjusting-capacity.html\">Adjusting \n                capacity</a>.</p>"
               }
            },
            "CreatedAt" : {
               "target" : "com.amazonaws.kendraranking#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Unix timestamp of when the rescore execution plan was \n            created.</p>"
               }
            },
            "Description" : {
               "target" : "com.amazonaws.kendraranking#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>The description for the rescore execution plan.</p>"
               }
            },
            "ErrorMessage" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage",
               "traits" : {
                  "smithy.api#documentation" : "<p>When the <code>Status</code> field value is \n            <code>FAILED</code>, the <code>ErrorMessage</code> field \n            contains a message that explains why.</p>"
               }
            },
            "Id" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the rescore execution plan.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name for the rescore execution plan.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the rescore execution plan. When the \n            value is <code>ACTIVE</code>, the rescore execution plan is \n            ready for use. If the <code>Status</code> field value is \n            <code>FAILED</code>, the <code>ErrorMessage</code> field \n            contains a message that explains why.</p>"
               }
            },
            "UpdatedAt" : {
               "target" : "com.amazonaws.kendraranking#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Unix timestamp of when the rescore execution plan was \n            last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#Description" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 0
            },
            "smithy.api#pattern" : "^\\P{C}*$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#Document" : {
         "members" : {
            "Body" : {
               "target" : "com.amazonaws.kendraranking#DocumentBody",
               "traits" : {
                  "smithy.api#documentation" : "<p>The body text of the search service's document.</p>"
               }
            },
            "GroupId" : {
               "target" : "com.amazonaws.kendraranking#GroupId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The optional group identifier of the document from the search \n            service. Documents with the same group identifier are grouped \n            together and processed as one document within the service.</p>"
               }
            },
            "Id" : {
               "target" : "com.amazonaws.kendraranking#DocumentId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the document from the search service.</p>",
                  "smithy.api#required" : {}
               }
            },
            "OriginalScore" : {
               "target" : "com.amazonaws.kendraranking#Float",
               "traits" : {
                  "smithy.api#documentation" : "<p>The original document score or rank from the search service. \n            Amazon Kendra Intelligent Ranking gives the document a new \n            score or rank based on its intelligent search algorithms.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Title" : {
               "target" : "com.amazonaws.kendraranking#DocumentTitle",
               "traits" : {
                  "smithy.api#documentation" : "<p>The title of the search service's document.</p>"
               }
            },
            "TokenizedBody" : {
               "target" : "com.amazonaws.kendraranking#BodyTokensList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The body text of the search service's document represented \n            as a list of tokens or words. You must choose to provide \n            <code>Body</code> or <code>TokenizedBody</code>. You cannot \n            provide both.</p>"
               }
            },
            "TokenizedTitle" : {
               "target" : "com.amazonaws.kendraranking#TitleTokensList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The title of the search service's document represented as \n            a list of tokens or words. You must choose to provide \n            <code>Title</code> or <code>TokenizedTitle</code>. You cannot\n            provide both.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Information about a document from a search service such \n            as OpenSearch (self managed). Amazon Kendra Intelligent \n            Ranking uses this information to rank and score on.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#DocumentBody" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^\\P{C}*$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#DocumentId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#DocumentList" : {
         "member" : {
            "target" : "com.amazonaws.kendraranking#Document"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendraranking#DocumentTitle" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1024,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#ErrorMessage" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            },
            "smithy.api#pattern" : "^\\P{C}*$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#Float" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 100000,
               "min" : -100000
            }
         },
         "type" : "float"
      },
      "com.amazonaws.kendraranking#GroupId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#InternalServerException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>An issue occurred with the internal server used for \n            your Amazon Kendra Intelligent Ranking service. \n            Please wait a few minutes and try again, or contact \n            <a href=\"http://aws.amazon.com/contact-us/\">Support</a> \n            for help.</p>",
            "smithy.api#error" : "server",
            "smithy.api#httpError" : 500
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#ListRescoreExecutionPlans" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#ListRescoreExecutionPlansRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendraranking#ListRescoreExecutionPlansResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Lists your rescore execution plans. A rescore execution plan \n            is an Amazon Kendra Intelligent Ranking resource used for \n            provisioning the <code>Rescore</code> API.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "GET",
               "uri" : "/rescore-execution-plans"
            },
            "smithy.api#paginated" : {
               "inputToken" : "NextToken",
               "outputToken" : "NextToken",
               "pageSize" : "MaxResults"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#ListRescoreExecutionPlansRequest" : {
         "members" : {
            "MaxResults" : {
               "target" : "com.amazonaws.kendraranking#MaxResultsIntegerForListRescoreExecutionPlansRequest",
               "traits" : {
                  "smithy.api#documentation" : "<p>The maximum number of rescore execution plans to return.</p>",
                  "smithy.api#httpQuery" : "maxResults"
               }
            },
            "NextToken" : {
               "target" : "com.amazonaws.kendraranking#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the response is truncated, Amazon Kendra Intelligent \n            Ranking returns a pagination token in the response. You can use \n            this pagination token to retrieve the next set of rescore \n            execution plans.</p>",
                  "smithy.api#httpQuery" : "nextToken"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#ListRescoreExecutionPlansResponse" : {
         "members" : {
            "NextToken" : {
               "target" : "com.amazonaws.kendraranking#NextToken",
               "traits" : {
                  "smithy.api#documentation" : "<p>If the response is truncated, Amazon Kendra Intelligent \n            Ranking returns a pagination token in the response.</p>"
               }
            },
            "SummaryItems" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanSummaryList",
               "traits" : {
                  "smithy.api#documentation" : "<p>An array of summary information for one or more rescore \n            execution plans.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#ListTagsForResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ResourceUnavailableException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#ListTagsForResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendraranking#ListTagsForResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Gets a list of tags associated with a specified resource. \n            A rescore execution plan is an example of a resource that \n            can have tags associated with it.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#ListTagsForResourceRequest" : {
         "members" : {
            "ResourceARN" : {
               "target" : "com.amazonaws.kendraranking#AmazonResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the rescore execution \n            plan to get a list of tags for.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request information for listing tags associated with \n            a rescore execution plan. A rescore execution plan is an \n            Amazon Kendra Intelligent Ranking resource used for \n            provisioning the <code>Rescore</code> API.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#ListTagsForResourceResponse" : {
         "members" : {
            "Tags" : {
               "target" : "com.amazonaws.kendraranking#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of tags associated with the rescore execution \n            plan.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>If the action is successful, the service sends back an \n            HTTP 200 response.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#MaxResultsIntegerForListRescoreExecutionPlansRequest" : {
         "traits" : {
            "smithy.api#range" : {
               "max" : 50,
               "min" : 1
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.kendraranking#NextToken" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 800,
               "min" : 1
            },
            "smithy.api#pattern" : "^\\P{C}*$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#Rescore" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ConflictException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#RescoreRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendraranking#RescoreResult"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Rescores or re-ranks search results from a search service \n            such as OpenSearch (self managed). You use the semantic search \n            capabilities of Amazon Kendra Intelligent Ranking to \n            improve the search service's results.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "POST",
               "uri" : "/rescore-execution-plans/{RescoreExecutionPlanId}/rescore"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#RescoreCapacityUnit" : {
         "traits" : {
            "smithy.api#range" : {
               "min" : 0
            }
         },
         "type" : "integer"
      },
      "com.amazonaws.kendraranking#RescoreExecutionPlanArn" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1284,
               "min" : 0
            },
            "smithy.api#pattern" : "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#RescoreExecutionPlanId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 36
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9][a-zA-Z0-9-]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#RescoreExecutionPlanName" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#RescoreExecutionPlanStatus" : {
         "members" : {
            "ACTIVE" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "ACTIVE"
               }
            },
            "CREATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "CREATING"
               }
            },
            "DELETING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "DELETING"
               }
            },
            "FAILED" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "FAILED"
               }
            },
            "UPDATING" : {
               "target" : "smithy.api#Unit",
               "traits" : {
                  "smithy.api#enumValue" : "UPDATING"
               }
            }
         },
         "type" : "enum"
      },
      "com.amazonaws.kendraranking#RescoreExecutionPlanSummary" : {
         "members" : {
            "CreatedAt" : {
               "target" : "com.amazonaws.kendraranking#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Unix timestamp when the rescore execution plan \n            was created.</p>"
               }
            },
            "Id" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the rescore execution plan.</p>"
               }
            },
            "Name" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The name of the rescore execution plan.</p>"
               }
            },
            "Status" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanStatus",
               "traits" : {
                  "smithy.api#documentation" : "<p>The current status of the rescore execution plan. When \n            the value is <code>ACTIVE</code>, the rescore execution \n            plan is ready for use.</p>"
               }
            },
            "UpdatedAt" : {
               "target" : "com.amazonaws.kendraranking#Timestamp",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Unix timestamp when the rescore execution plan \n            was last updated.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Summary information for a rescore execution plan. A rescore \n            execution plan is an Amazon Kendra Intelligent Ranking \n            resource used for provisioning the <code>Rescore</code> API.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#RescoreExecutionPlanSummaryList" : {
         "member" : {
            "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanSummary"
         },
         "type" : "list"
      },
      "com.amazonaws.kendraranking#RescoreId" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 36,
               "min" : 1
            },
            "smithy.api#pattern" : "^[a-zA-Z0-9][a-zA-Z0-9-]$"
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#RescoreRequest" : {
         "members" : {
            "Documents" : {
               "target" : "com.amazonaws.kendraranking#DocumentList",
               "traits" : {
                  "smithy.api#documentation" : "<p>The list of documents for Amazon Kendra Intelligent \n            Ranking to rescore or rank on.</p>",
                  "smithy.api#required" : {}
               }
            },
            "RescoreExecutionPlanId" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the rescore execution plan. A rescore \n            execution plan is an Amazon Kendra Intelligent Ranking \n            resource used for provisioning the <code>Rescore</code> API.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "SearchQuery" : {
               "target" : "com.amazonaws.kendraranking#SearchQuery",
               "traits" : {
                  "smithy.api#documentation" : "<p>The input query from the search service.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#RescoreResult" : {
         "members" : {
            "RescoreId" : {
               "target" : "com.amazonaws.kendraranking#RescoreId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier associated with the scores that \n            Amazon Kendra Intelligent Ranking gives to the \n            results. Amazon Kendra Intelligent Ranking \n            rescores or re-ranks the results for the search service.</p>"
               }
            },
            "ResultItems" : {
               "target" : "com.amazonaws.kendraranking#RescoreResultItemList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of result items for documents with new relevancy \n            scores. The results are in descending order.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#RescoreResultItem" : {
         "members" : {
            "DocumentId" : {
               "target" : "com.amazonaws.kendraranking#DocumentId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the document from the search service.</p>"
               }
            },
            "Score" : {
               "target" : "com.amazonaws.kendraranking#Float",
               "traits" : {
                  "smithy.api#documentation" : "<p>The relevancy score or rank that Amazon Kendra \n            Intelligent Ranking gives to the result.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A result item for a document with a new relevancy score.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#RescoreResultItemList" : {
         "member" : {
            "target" : "com.amazonaws.kendraranking#RescoreResultItem"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendraranking#ResourceNotFoundException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The resource you want to use doesn't exist. Please \n            check you have provided the correct resource and try \n            again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#ResourceUnavailableException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The resource you want to use is unavailable. Please \n            check you have provided the correct resource \n            information and try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 404
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#SearchQuery" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 1000,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#ServiceQuotaExceededException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>You have exceeded the set limits for your \n            Amazon Kendra Intelligent Ranking service. Please \n            see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a> \n            for more information, or contact <a href=\"http://aws.amazon.com/contact-us/\">Support</a> to inquire about \n            an increase of limits.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 402
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#Tag" : {
         "members" : {
            "Key" : {
               "target" : "com.amazonaws.kendraranking#TagKey",
               "traits" : {
                  "smithy.api#documentation" : "<p>The key for the tag. Keys are not case sensitive and must \n            be unique.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Value" : {
               "target" : "com.amazonaws.kendraranking#TagValue",
               "traits" : {
                  "smithy.api#documentation" : "<p>The value associated with the tag. The value can be an \n            empty string but it can't be null.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>A key-value pair that identifies or categorizes a rescore \n            execution plan. A rescore execution plan is an \n            Amazon Kendra Intelligent Ranking resource used for \n            provisioning the <code>Rescore</code> API. You can also use \n            a tag to help control access to a rescore execution plan. \n            A tag key and value can consist of Unicode letters, digits, \n            white space, and any of the following symbols: _ . : / = + - @.</p>"
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#TagKey" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 128,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#TagKeyList" : {
         "member" : {
            "target" : "com.amazonaws.kendraranking#TagKey"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendraranking#TagList" : {
         "member" : {
            "target" : "com.amazonaws.kendraranking#Tag"
         },
         "traits" : {
            "smithy.api#length" : {
               "max" : 200,
               "min" : 0
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendraranking#TagResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ResourceUnavailableException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#TagResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendraranking#TagResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Adds a specified tag to a specified rescore execution \n            plan. A rescore execution plan is an Amazon Kendra \n            Intelligent Ranking resource used for provisioning the \n            <code>Rescore</code> API. If the tag already exists, \n            the existing value is replaced with the new value.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#TagResourceRequest" : {
         "members" : {
            "ResourceARN" : {
               "target" : "com.amazonaws.kendraranking#AmazonResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the rescore execution \n            plan to tag.</p>",
                  "smithy.api#required" : {}
               }
            },
            "Tags" : {
               "target" : "com.amazonaws.kendraranking#TagList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of tag keys to add to a rescore execution plan. \n            If a tag already exists, the existing value is replaced \n            with the new value.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request information for tagging a rescore execution \n            plan. A rescore execution plan is an Amazon Kendra \n            Intelligent Ranking resource used for provisioning the \n            <code>Rescore</code> API.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#TagResourceResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#documentation" : "<p>If the action is successful, the service sends back an \n            HTTP 200 response with an empty HTTP body.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#TagValue" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 256,
               "min" : 0
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#ThrottlingException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request was denied due to request throttling. \n            Please reduce the number of requests and try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 429
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#Timestamp" : {
         "type" : "timestamp"
      },
      "com.amazonaws.kendraranking#TitleTokensList" : {
         "member" : {
            "target" : "com.amazonaws.kendraranking#Tokens"
         },
         "traits" : {
            "smithy.api#length" : {
               "min" : 1
            }
         },
         "type" : "list"
      },
      "com.amazonaws.kendraranking#Tokens" : {
         "traits" : {
            "smithy.api#length" : {
               "max" : 2048,
               "min" : 1
            }
         },
         "type" : "string"
      },
      "com.amazonaws.kendraranking#UntagResource" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ResourceUnavailableException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#UntagResourceRequest"
         },
         "output" : {
            "target" : "com.amazonaws.kendraranking#UntagResourceResponse"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Removes a tag from a rescore execution plan. A rescore \n            execution plan is an Amazon Kendra Intelligent \n            Ranking resource used for provisioning the \n            <code>Rescore</code> operation.</p>"
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#UntagResourceRequest" : {
         "members" : {
            "ResourceARN" : {
               "target" : "com.amazonaws.kendraranking#AmazonResourceName",
               "traits" : {
                  "smithy.api#documentation" : "<p>The Amazon Resource Name (ARN) of the rescore execution \n            plan to remove the tag.</p>",
                  "smithy.api#required" : {}
               }
            },
            "TagKeys" : {
               "target" : "com.amazonaws.kendraranking#TagKeyList",
               "traits" : {
                  "smithy.api#documentation" : "<p>A list of tag keys to remove from the rescore execution \n            plan. If a tag key does not exist on the resource, it is \n            ignored.</p>",
                  "smithy.api#required" : {}
               }
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The request information to remove a tag from a rescore \n            execution plan. A rescore execution plan is an \n            Amazon Kendra Intelligent Ranking resource used for\n            provisioning the <code>Rescore</code> API.</p>",
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#UntagResourceResponse" : {
         "members" : {},
         "traits" : {
            "smithy.api#documentation" : "<p>If the action is successful, the service sends back an \n            HTTP 200 response with an empty HTTP body.</p>",
            "smithy.api#output" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#UpdateRescoreExecutionPlan" : {
         "errors" : [
            {
               "target" : "com.amazonaws.kendraranking#AccessDeniedException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ConflictException"
            },
            {
               "target" : "com.amazonaws.kendraranking#InternalServerException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ResourceNotFoundException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ServiceQuotaExceededException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ThrottlingException"
            },
            {
               "target" : "com.amazonaws.kendraranking#ValidationException"
            }
         ],
         "input" : {
            "target" : "com.amazonaws.kendraranking#UpdateRescoreExecutionPlanRequest"
         },
         "output" : {
            "target" : "smithy.api#Unit"
         },
         "traits" : {
            "smithy.api#documentation" : "<p>Updates a rescore execution plan. A rescore execution plan \n            is an Amazon Kendra Intelligent Ranking resource used for \n            provisioning the <code>Rescore</code> API. You can update the \n            number of capacity units you require for Amazon Kendra \n            Intelligent Ranking to rescore or re-rank a search service's \n            results.</p>",
            "smithy.api#http" : {
               "code" : 200,
               "method" : "PUT",
               "uri" : "/rescore-execution-plans/{Id}"
            }
         },
         "type" : "operation"
      },
      "com.amazonaws.kendraranking#UpdateRescoreExecutionPlanRequest" : {
         "members" : {
            "CapacityUnits" : {
               "target" : "com.amazonaws.kendraranking#CapacityUnitsConfiguration",
               "traits" : {
                  "smithy.api#documentation" : "<p>You can set additional capacity units to meet the needs \n            of your rescore execution plan. You are given a single capacity \n            unit by default. If you want to use the default capacity, you \n            don't set additional capacity units. For more information on the\n            default capacity and additional capacity units, see \n            <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/adjusting-capacity.html\">Adjusting capacity</a>.</p>"
               }
            },
            "Description" : {
               "target" : "com.amazonaws.kendraranking#Description",
               "traits" : {
                  "smithy.api#documentation" : "<p>A new description for the rescore execution plan.</p>"
               }
            },
            "Id" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanId",
               "traits" : {
                  "smithy.api#documentation" : "<p>The identifier of the rescore execution plan that you want \n            to update.</p>",
                  "smithy.api#httpLabel" : {},
                  "smithy.api#required" : {}
               }
            },
            "Name" : {
               "target" : "com.amazonaws.kendraranking#RescoreExecutionPlanName",
               "traits" : {
                  "smithy.api#documentation" : "<p>A new name for the rescore execution plan.</p>"
               }
            }
         },
         "traits" : {
            "smithy.api#input" : {}
         },
         "type" : "structure"
      },
      "com.amazonaws.kendraranking#ValidationException" : {
         "members" : {
            "Message" : {
               "target" : "com.amazonaws.kendraranking#ErrorMessage"
            }
         },
         "traits" : {
            "smithy.api#documentation" : "<p>The input fails to satisfy the constraints set by \n            the Amazon Kendra Intelligent Ranking service. \n            Please provide the correct input and try again.</p>",
            "smithy.api#error" : "client",
            "smithy.api#httpError" : 400
         },
         "type" : "structure"
      }
   },
   "smithy" : "2.0"
}
